/* NAV OVERRIDE */
.navbar-inner {
  min-height: 70px;
  font-weight: bold;
}

.navbar .brand {
  margin-top: 0px;
  margin-left: 0px;
}

.nav-collapse {
  float: right;
  margin-top: 22px;
}

.navbar .nav > li {
  margin-left: 15px;
}

/**********************/
/* HOMEPAGE EXCLUSIVE */
/**********************/

#home footer {
  height: 280px;
}

#home #footer-item,
#home #copyright {
  padding-top: 35px;
}

.foot-ico {
  font-weight: bold;
  font-size: 14px;
  float: right;
}

.foot-ico li {
  float: left;
  margin: 10px;
}

.foot-ico a {
  display: block;
  width: 156px;
  height: 37px;
  line-height: 37px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #3f3f3f;
  text-align: left;
  text-indent: 40px;
  margin: 0 !important;
}

.open-source,
.open-content {
  background-image: image-url("h-ico-01.png");
  background-repeat: no-repeat;
  background-position: 5px center;
}

.open-community {
  background-image: image-url("h-ico-02.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  text-indent: 35px !important;
}

body#home .sticky-footer-wrapper .sticky-footer-content > .container,
body.full-width-page .sticky-footer-wrapper .sticky-footer-content > .container {
  width: auto;
}

.h-sub-middle {
  padding: 20px 0;
  .container {
    position: relative;
  }
}

.h-sub-left-content {}

.h-sub-left-content h2,
.h-sub-right-content h2 {
  color: #f1f1f1;
  line-height: 50px;
  font-size: 40px;
  font-weight: normal;
}

.h-sub-left-content p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.h-sub-right-content {
  font-weight: bold;
  > div {
    position: absolute;
    bottom: 3px;
    right: 0;
  }
  a {
    display: block;
    border: 1px solid #b90043;
    height: 50px;
    line-height: 50px;
    width: 194px;
    float: right;
    text-align: center;
    text-decoration: none;
    background: image-url("h-yellow-btn-middle.png") repeat-x;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin: 0 5px 26px 5px;
  }
  h2 {
    text-align: right;
    margin: 0 5px 0 0;
  }
}

.h-features {
  padding-top: 70px;
  padding-bottom: 30px;
}

.h-features article {
  text-align: center;
}

.h-features article figure {
  margin-bottom: 40px;
}

.h-features .h-features-content {
  padding: 0 30px;
}

.h-features h2 {
  font-weight: bold;
  color: #0b4d7b;
  font-size: 30px;
  line-height: 36px;
}

.h-features p {
  color: #787878;
  font-size: 18px;
  line-height: 24px;
}

.col-3 {
  width: 300px;
  float: left;
  display: inline;
  margin: 0 10px;
}

/* Optional for 16 column grid */

.non-profit {
  display: block;
  padding-bottom: 30px;
}

/**********************/
/*** PAGE TEMPLATE ****/
/**********************/

header {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #ffffff;
}

.navbar a.brand {
  padding: 0px;
}

.page-title-wrap {}

.page-title {
  height: 75px;
}

.page-title  h1 {
  line-height: 75px;
  font-size: 30px;
  color: #fff;
  margin: 0;
}

.page-content-wrap h2 {
  font-size: 30px;
  line-height: 40px;
}

.page-content-wrap p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}

.sec-1 .container,
.sec-2 .container,
.sec-3 .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sec-1-inner {
  padding-right: 20px;
}

.sec-1  h2 {
  color: #010101;
}

.sec-1 p {
  color: #7a7a7a;
}

.sec-1 q {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #000;
}

.sec-2-inner {
  padding-left: 20px;
}

.sec-2  h2 {
  color: #0f4c7a;
}

.sec-2 p {
  color: #3b4d5c;
}

.sec-3 p {
  color: #0f4c7a;
  font-size: 21px;
  line-height: 30px;
}

.sec-3  small {
  display: block;
  font-size: 12px;
  color: #0f4c7a;
  line-height: 20px;
  padding-bottom: 20px;
}

h3.page-subtitle2 {
  color: #0f4c7a;
  font-family: $header-font;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 40px;
  font-size: 34px;
}

/* specific */
#page-story    .sec-1 .container {
  background: white image-url("our-story-sec1.png") no-repeat 96% bottom;
}

#page-story    .sec-2 .container {
  background: #b5e2ff image-url("our-story-sec2.png") no-repeat 20px top;
}

#page-learning .sec-1 .container {
  background: white image-url("on-learning-sec1.png") no-repeat 96% top;
}

#page-learning .sec-2 .container {
  background: #0f4c7a image-url("on-learning-sec2.png") no-repeat 20px bottom;
}

#page-learning .sec-2 p {
  color: #fff;
}

/* Footer */
/*
body {
  margin: 0;
}

footer {
  padding: 50px 20px 10px 20px;
  background: #32353c;
  color: #D3D3De;
  line-height: 25px;
}

/*
footer a {
  color: #4fafd2;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
}


footer a.tos_link,
footer a.privacy_link {
  color: #D3D3De;
}
*/
/*

footer .first-col-wrapper {
  float: left;
  width: 400px;
  position: relative;
  margin-right: 50px;
}

footer .img-wrapper {
  display: inline-block;
}

footer img {
  display: inline-block;
}

footer .text-wrapper {
  margin-left: 80px;
  color: #7c7c7c;
}

footer .logo-text {
  color: #d3d3d3;
  vertical-align: top;
  margin: 0 0 30px 5px;
  display: inline-block;
  font-size: 60px;
  position: relative;
  top: 10px;
}

footer p {
  margin: 0;
}

footer button {
  background-color: #3f3f3f;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 8px 22px;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
         transition: .1s ease;
    -moz-transition: .1s ease;
   -webkit-transition: .1s ease;
}

footer button:hover {
  background-color: #2B2B2B;
}

footer button a {
  color: #fff;
}

footer .text-italic {
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

footer .box {
  width: 200px;
  position: relative;
  color: #fff;
  background-color: #4e4e4e;
  float: left;
  margin-right: 15px;
  font-size: 14px;
  border-radius: 5px;
}

footer .box-header {
  background-color: #3f3f3f;
  padding: 15px 12px 12px 12px;
  border-bottom: 1px solid #373737;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  text-align: center;
}

footer .box-header .fa-comments {
  font-size: 1.3em;
}

footer .box-header .fa {
  color: #fff;
  float: left;
  line-height: 25px;
}

footer .box-content {
  padding: 15px 12px 12px 12px;
}

*/
/* FOOTER WHITE */
/*
.footer-white {
  padding: 50px 60px 80px 60px;
}

.footer-white .text-wrapper {
  color: #d3d3d3;
  margin-left: 80px;
}

.footer-white .first-col-wrapper {
  width: 550px;
  margin-right: 20px;
  margin-left: 10px;
}

.footer-white .icons-wrapper{
  margin-bottom: 5px;
}

.footer-white .icons-wrapper img {
  margin-right: 10px;
}

.footer-white .footer-list {
  list-style-type: none;
}

.footer-white .footer-list li {
  float: left;
  padding-right: 20px;
}
.footer-white .footer-list li a {
  color: #d3d3d3;
  font-size: 14px;
}

*/