<div class="container">
<div class="card">
  <div class="card-header">
    <h1>New Activity</h1>
  </div>
  <div class="card-body">
    <%= render 'form', activity: @activity %>
  </div>
</div>




<%= link_to 'Back', activities_path %>
</div>


