.field-spacing {
  margin-bottom: 20px;
}

.field-spacing label, .field-spacing select {
  font-size: 16px;
}

.field-spacing select {
  padding: 8px;
  margin-top: 4px;
}
.new-link {
  margin-top: 8px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Adds some space above the table */
  margin-bottom: 20px; /* Adds some space below the table */
}

th, td {
  border: 1px solid #ddd; /* Light grey border */
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f8f8f8; /* Very light grey background */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

.feedback-column {
  width: 20%;
}

.match-column {
  width: 5%;
}

.g-eval-column {
  width: 5%;
}

.actions-link {
  padding: 4px 8px;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  text-decoration: none;
  border-radius: 4px;
}

.actions-link:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.red { background-color: red; }
.green { background-color: green; }

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional: you can also use font-family to match your link styles*/
    font-family: inherit; /* This makes the font consistent */
    color: #069; /* Standard link color */
    text-decoration: underline; /* Mimics link appearance */
    cursor: pointer;
    display: inline;
}

.link-button:hover,
.link-button:focus {
    color: #01447e; /* Darker shade for hover effect  */
    text-decoration: none; /* Differentiates it from a standard link */
}

.link-container {
  display: flex; /* This will align children inline and manage spacing */
  align-items: center; /* Aligns items vertically in the center */
}

.link-button, a {
  margin-right: 10px; /* Adjust spacing between the links as needed */
  white-space: nowrap; /* Ensures that the text does not wrap */
}