= render partial: 'teachers/shared/scorebook_tabs'
= render partial: 'teachers/progress_reports/subnav'

.progress-reports-concept-tags data-url=teachers_progress_reports_concept_category_concept_tags_path(params[:concept_category_id])