{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:all", "plugin:react/all", "airbnb"],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "always",
        "imports": "ignore",
        "exports": "never",
        "functions": "ignore",
    }],
    'no-extend-native': ["warn"],
    'consistent-return': 'off',
    'no-multiple-empty-lines': ["error", {
      "max": 1,
      "maxEOF": 1,
      "maxBOF": 0
    }],
    "no-restricted-syntax": ['off', "ForInStatement"],
    "capitalized-comments": 0,
    "import/extensions": 0
  },
}
