<div class='container'>
  <%= react_component('SubscriptionApp', props: {view: 'edit', school: @school, subscription: @subscription, premiumTypes: @premium_types,
  promoExpiration: @promo_expiration_date, subscriptionPaymentMethods: @subscription_payment_methods, purchaserEmail: @purchaser_email, schoolsUsers: @schools_users })%>
</div>
