.early-submit-modal-container, .review-modal-container {

  .early-submit-modal-background, .review-modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #3f3f3f;
    opacity: 0.9;
  }

  .early-submit-modal {
    width: 385px;
  }

  .review-modal {
    max-width: 800px;
  }

  .early-submit-modal, .review-modal {
    border-radius: 6px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    line-height: 1.56;
    .top-section {
      padding: 39px 35px;
      text-align: center;
      p {
        margin: 22px 0px;
      }
    }
    .exit {
      right: 12px;
      top: 12px;
      position: absolute;
      cursor: pointer;
    }
    span {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      font-weight: 600px;
      color: #000000;
    }

    p {
      font-size: 16px;
      span {
        font-weight: bold;
      }
    }

    button {
    	height: 40px;
    	border-radius: 3px;
    	background-color: #00c2a2;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      margin-top: 8px;
      &:focus {
        outline: none;
      }
    }
  }

  .early-submit-modal button {
    width: 147px;
  }

  .review-modal button {
    width: 165px;
  }

}
