.early-submit-modal-container, .review-modal-container, .reset-modal-container, .followup-modal-container {

  .early-submit-modal-background, .review-modal-background, .reset-modal-background, .followup-modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #3f3f3f;
    opacity: 0.8;
  }

  .early-submit-modal, .review-modal {
    max-width: 560px;
    width: 100%;
    min-height: 184px;
    .quill-button {
      margin-top: 48px;
      float: right;
    }
  }

  .reset-modal, .early-submit-modal, .review-modal, .followup-modal {
    border-radius: 6px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 100;
    flex-direction: column;
    padding: 32px;
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
    }
    @media (max-width: 800px) {
      padding: 16px;
    }
    @media (max-width: 600px) {
      width: 90% !important;
    }
  }

  .reset-modal, .followup-modal {
    max-width: 560px;
    width: 100%;
    min-height: 230px;
    justify-content: space-between;
    p {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.57;
      color: #646464;
      margin: 24px 0px 48px;
    }
    .button-section {
      display: flex;
      justify-content: flex-end;
      .quill-button {
        margin-left: 24px;
      }
    }
  }
}
