.passage-container {
  .header-section {
    background-color: #ededed;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px 30px;
  }
  .inner-header {
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
    max-width: 896px;
    width: 100%;
  }
  h1 {
    line-height: 1.25;
    font-size: 36px;
    font-weight: 700;
  }
  .instructions {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-right: 2.35765%;
    img {
      width: 4%;
      margin-right: 10px;
    }
    p {
      margin: 0px;
    }
    div {
      display: flex;
      align-items: center;
    }
    .edits-made {
      flex-direction: column;
      max-width: 200px;
      width: 100%;
      align-items: flex-end;
      p {
        font-size: 12px;
      }
      .progress-bar-indication {
        background-color: #f2f2f2;
        border-radius: 6px;
        border: 1px solid #DDD;
        box-shadow: inset 0 0 3px 0 rgba(115,115,115,.15);
        margin: 0 auto;
        width: 100%;
        height: 10px;
      }
    }
  }

  .quill, .reviewer {
    max-width: 896px;
    margin: auto;
    line-height: 2.0;
    font-size: 16px;
    font-family: courier new;
    color: #888;
    font-weight: 400;
    // padding: 0px 50px;
    strong {
      color: #333;
    }
  }

  .ql-editor:focus {
    outline: none;
  }

  .passage {
    background-color: white;
    padding: 30px 60px 0px;
    u {
      text-decoration: none;
    }
  }

  .passage.underline-errors {
    u {
      text-decoration: underline;
    }
  }

  .bottom-section {
    max-width: 896px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #00c2a2;
      color: white;
      border: none;
      box-shadow: none;
      margin-top: 37px;
      font-size: 16px;
      border-radius: 6px;
      height: 40px;
      width: 135px;
      &:focus {
        outline: none;
      }
    }
  }
}
