<div id="explore-curriculum" class="navbar-tooltip-trigger" tabindex="1">
  <span>Explore Curriculum</span>
  <div class="navbar-tooltip">
    <i class="fa fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      text: 'Featured Activities',
      subtext: 'Explore featured activity packs that are created by our teachers',
      fa_class: 'fa fa-icon fa-book',
      link: '/activities/packs',
      image_id: nil
    %>
    <%= render 'navbar/tooltip_link',
      text: 'ELA Standards',
      subtext: 'See a list of ELA standards upon which we base our activities ',
      image_src: '',
      hover_image_src: '',
      image_id: 'standards-img',
      link: '/activities/section/7'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Our Pedagogy',
      subtext: 'Read about our evidence-based approach to writing instruction',
      image_src: '',
      hover_image_src: '',
      image_id: 'pedagogy-img',
      link: ''
    %>
  </div>
</div>
