.unit-template-minis-container {
  padding-bottom: 48px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 48px;
  }

  .filter-options {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .dropdowns {
      display: flex;
      margin-bottom: 32px;
    }
    .dropdown-container {
      justify-content: flex-start;
      min-height: min-content;
      width: 120px;
      margin-right: 24px;
      .dropdown__control {
        background-color: #f7f5f5;
      }
      &.active {
        margin-bottom: 29px;
      }
      &.grade-level-dropdown {
        width: 130px;
        margin-right: 24px;
      }
      &.category-dropdown {
        width: 140px;
      }
    }
    .dropdown-container:nth-of-type(2) {
      width: 325px;
    }
  }

  .pack-type-header, .top-card-margin-top {
    font-weight: 700;
    font-size: 20px;
    margin-left: 4px;
  }

  .type-options {
    display: flex;
    width: 668px;
    justify-content: space-between;
    a {
      line-height: 1;
      font-size: 16px;
      margin-right: 24px;
      padding-bottom: 8px;
      text-decoration: none !important;
      &.active {
        border-bottom: 2px solid #000;
      }
    }
  }

  .unit-template-minis:has(.all-packs-section) {
    display: flex;
    flex-direction: column;
    .packs-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .unit-template-mini-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  .unit-template-minis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .all-packs-section {
      padding: 0;
      border-bottom: none;
      .packs-section {
        padding: 0;
        border-bottom: none;
      }
    }
    .unit-template-mini-wrapper {
      &.second-card {
        margin-top: 28px;
      }
    }
    .unit-template-mini-wrapper:nth-child(odd) {
      justify-self: right;
      margin-right: 19px;
    }
    .unit-template-mini-wrapper:nth-child(even) {
      justify-self: left;
      margin-left: 19px;
    }
    .quill-tooltip {
      width: max-content;
    }
    .all-packs-section:not(:first-child) {
      margin-top: 48px;
    }
  }

  .unit-templates-table {
    overflow: hidden;
    background-color: #ffffff;
    .data-table-body {
      tr {
        border-bottom: 1px solid #E0E0E0;
      }
      .data-table-row {
        min-height: 70px;
        align-items: flex-start;
        padding: 17px 16px;
        .data-table-row-section {
          white-space: break-spaces;
          line-height: 18px;
          color: #666666;
          &.pack-type-section, &.pack-name-section {
            font-weight: 700;
          }
          &.pack-name-section {
            overflow: inherit;
            .quill-tooltip-trigger {
              width: 100%;
              .activity-pack-name {
                white-space: break-spaces;
              }
              .quill-tooltip-wrapper {
                transform: inherit;
              }
            }
          }
          &.activities-section {
            text-align: left !important;
          }
          .tools-section {
            border-bottom: none;
            padding: 0;
          }
          .duration-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: none;
            padding: 0;
            .tags-section {
              display: flex;
              border-bottom: none;
              padding: 0;
              margin-left: 16px;
              .duration-beta-tag, .duration-new-tag {
                border-radius: 5px;
                font-weight: 700;
                font-size: 9px;
                padding: 0px 5px;
              }
              .duration-beta-tag {
                border: 1px solid #666666;
                margin-right: 8px;
              }
              .duration-new-tag {
                border: 1px solid #F3AC4E;
                background-color: #F3AC4E;
                color: #FFFFFF;
              }
            }
          }
        }
      }
      .data-table-row:hover {
        text-decoration: none;
      }
    }
  }

}

.unit-template-container {
  width: 460px;
}

@media only screen and (max-width: 991px) {
  .unit-template-minis-container {
    .filter-options {
      flex-direction: column;
      align-items: flex-start;
    }
    .type-options {
      margin-bottom: 40px;
      a:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 800px) {
  .unit-template-minis-container {
    .unit-template-minis {
      display: flex;
      .all-packs-section {
        .packs-section {
          display: flex;
          flex-direction: column;
          .unit-template-mini-wrapper {
            margin: 0 !important;
          }
        }
      }
      .unit-template-mini-wrapper {
        margin: 0 !important;;
      }
    }
  }
  .small-screen-unit-templates-container {
    margin-left: auto;
    margin-right: auto;
  }
  .small-screen-unit-template-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    .unit-template-mini {
      margin-left: 0px;
    }
    .pull-right {
      float: none !important;
    }
  }
}

@media only screen and (max-width: 980px) {
  .small-screen-unit-template-container {
    .author-picture {
      display: none;
    }
  }
  .related-activity-packs {
    .small-screen-unit-template-container {
        padding: 0px !important;
    }
  }
  .filter-options {
    flex-direction: column-reverse !important;
    .dropdowns {
      flex-direction: column;
    }
    .pack-type-dropdown {
      margin-bottom: 24px;
    }
  }
  .unit-template-minis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    .unit-template-mini {
      width: 350px;
      .info-row {
        font-size: 11px;
      }
    }
  }
}
