.unit-template-mini {
  width: 456px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  @media (max-width: 500px) { width: 95%; }
  a {
    text-decoration: none;
  }
  .create-your-own {
    background-color: white;
    height: 270px;
    border: 1px dashed #929292;
    .content-wrapper {
      img {
        margin-bottom: 26px;
      }
      @include vertical-align();
    }
  }
  .first-row {
    padding: 16px;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name-and-label {
      min-height: 108px;
    }
    .unit-template-type {
      font-size: 16px;
    }
    .unit-template-name {
      margin-top: 18px;
      font-size: 20px;
      font-weight: 900;
    }
    .tool-names {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      margin-top: 12px;
      min-height: 82px;
      p {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
      }
      .tool-row {
        font-weight: 600;
        align-items: center;
        display: flex;
        line-height: 12px;
        width: 210px;
        white-space: nowrap;
        margin-top: 4px;

        img {
          filter: brightness(0) invert(1);
          margin-right: 4px;
        }
      }
    }
  }
  .author-picture {
    position: absolute;
    bottom: 50px;
    left: 27px;
  }
  .white-row {
    background-color: white;
    color: #646464;
    font-weight: 400;
    padding: 16px;
    border: 1px solid #929292;
    .info-row {
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }
      .fas {
        margin-right: 5px;
        margin-top: 2px;
      }
      .grade-level-range {
        display: flex;
      }
      .activities-count {
        margin-right: 16px;
      }
      .time {
        .fa-clock {
          font-size: 18px;
        }
      }
    }
  }
}
