.unit-template-minis-container {
  padding-bottom: 48px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 48px;
  }

  .filter-options {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .dropdowns {
      display: flex;
      margin-bottom: 32px;
    }
    .dropdown-container {
      justify-content: flex-start;
      min-height: min-content;
      width: 120px;
      margin-right: 24px;
      .dropdown__control {
        background-color: #f7f5f5;
      }
      &.active {
        margin-bottom: 29px;
      }
      &.grade-level-dropdown {
        width: 130px;
        margin-right: 24px;
      }
      &.category-dropdown {
        width: 140px;
      }
    }
    .dropdown-container:nth-of-type(2) {
      width: 325px;
    }
  }

  .pack-type-header {
    font-weight: 700;
    font-size: 20px;
  }

  .type-options {
    display: flex;
    width: 668px;
    justify-content: space-between;
    a {
      line-height: 1;
      font-size: 16px;
      margin-right: 24px;
      padding-bottom: 8px;
      text-decoration: none !important;
      &.active {
        border-bottom: 2px solid #000;
      }
    }
  }

  .unit-template-minis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .unit-templates-table {
    background-color: #ffffff;
    .data-table-body {
      .data-table-row {
        min-height: 70px;
        .data-table-row-section {
          white-space: break-spaces;
          line-height: 18px;
          color: #666666;
          &.pack-type-section, &.pack-name-section {
            font-weight: 700;
          }
          &.activities-section {
            text-align: left !important;
          }
          .tools-section {
            border-bottom: none;
            padding: 0;
          }
          .duration-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: none;
            padding: 0;
            .tags-section {
              display: flex;
              border-bottom: none;
              padding: 0;
              margin-left: 16px;
              .duration-beta-tag, .duration-new-tag {
                border-radius: 5px;
                font-weight: 700;
                font-size: 9px;
                padding: 0px 5px;
              }
              .duration-beta-tag {
                border: 1px solid #666666;
                margin-right: 8px;
              }
              .duration-new-tag {
                border: 1px solid #F3AC4E;
                background-color: #F3AC4E;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }

}

.unit-template-container {
  width: 460px;
}

@media only screen and (max-width: 991px) {
  .unit-template-minis-container {
    .filter-options {
      flex-direction: column;
      align-items: flex-start;
    }
    .type-options {
      margin-bottom: 40px;
      a:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .small-screen-unit-templates-container {
    margin-left: auto;
    margin-right: auto;
  }
  .small-screen-unit-template-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    .unit-template-mini {
      margin-left: 0px;
    }
    .pull-right {
      float: none !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .small-screen-unit-template-container {
    .author-picture {
      display: none;
    }
  }
  .related-activity-packs {
    .small-screen-unit-template-container {
        padding: 0px !important;
    }
  }
  .filter-options {
    flex-direction: column-reverse !important;
    .dropdowns {
      flex-direction: column;
    }
    .pack-type-dropdown {
      margin-bottom: 24px;
    }
  }
  .unit-template-minis {
    justify-content: center !important;
  }
}
