.unit-template-mini {
  width: 456px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
  @media (max-width: 500px) { width: 95%; }
  .unit-template-mini-inner-container {
    height: 285px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .create-your-own {
    background-color: white;
    height: 285px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    .content-wrapper {
      color: #666666;
      h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      h5 {
        font-size: 14px;
        font-weight: 510;
      }
      img {
        width: 43px;
        height: 43px;
        margin-bottom: 8px;
      }
      @include vertical-align();
    }
  }
  .first-row {
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .activity-pack-image-container {
      max-height: 235px;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      position: relative;
      .activity-pack-image-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 120px;
        z-index: 1;
      }
      .activity-pack-image {
        height: 110%;
        margin-left: 120px;
        filter: saturate(0);
      }
    }
    .content-section {
      position: absolute;
      height: 235px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      padding: 14px 22px;
      z-index: 1;
      .name-and-label {
        .evidence-new-tag {
          width: 40px;
          height: auto;
          font-weight: 700;
          font-size: 12px !important;
          padding: 4px 0px 4px 6px;
          border-radius: 5px;
        }
        .new-beta-tag {
          width: min-content;
          border: 2px solid #FFFFFF;
          border-radius: 5px;
          padding: 2px 4px;
          font-weight: 700;
          font-size: 11px;
          margin-top: 8px;
        }
      }
      .unit-template-type {
        font-size: 16px;
      }
      .unit-template-name {
        margin-top: 12px;
        font-size: 20px;
        font-weight: 900;
        line-height: 25px;
        white-space: break-spaces;
      }
      .tool-names {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-top: 45px;
        p {
          display: flex;
          flex-wrap: wrap;
          margin-top: 4px;
        }
        .tool-row {
          font-weight: 600;
          align-items: center;
          display: flex;
          line-height: 12px;
          width: 210px;
          white-space: nowrap;
          margin-top: 4px;

          img {
            filter: brightness(0) invert(1);
            margin-right: 4px;
          }
        }
      }
    }
  }
  .author-picture {
    position: absolute;
    bottom: 50px;
    left: 27px;
  }
  .white-row {
    background-color: white;
    color: #646464;
    font-weight: 400;
    padding: 16px 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .info-row {
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }
      .fas {
        margin-right: 5px;
        margin-top: 2px;
      }
      .grade-level-range {
        display: flex;
      }
      .activities-count {
        margin-right: 16px;
      }
      .time {
        .fa-clock {
          font-size: 18px;
        }
      }
    }
  }
}

.unit-template-mini:hover {
  border: 2px solid #377E6C;
  border-radius: 12px;
}

.quill-tooltip {
  max-width: max-content;
  .activity-tooltip-table {
    color: #FFFFFF;
    width: max-content;
    tbody {
      tr:first-of-type {
        border-bottom: 1px solid #ffffff;
        th {
          padding: 8px 0px 16px 0px;
        }
      }
      tr:nth-of-type(2) {
        td {
          padding: 16px 48px 8px 0px;
        }
      }
      tr:last-of-type {
        border-bottom: none;
      }
      tr {
        th, td {
          font-size: 14px;
          font-weight: 400;
        }
        td {
          padding: 8px 48px 8px 0px;
          max-width: 360px;
        }
      }
    }
  }
}
