<!DOCTYPE html>
<html>
  <head>
    <title>Quill</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link rel="stylesheet" href="https://use.typekit.net/zyx1nqp.css">
    <%= stylesheet_link_tag "admin_usage_snapshot_report_pdf", :media => "all" %>
  </head>
  <body>
    <div id='header'>
    </div>
    <%= yield %>
  </body>
</html>
