<!DOCTYPE html>
<html>
  <head>
    <title>Quill</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <link rel="stylesheet" href=<%= "#{ENV['DEFAULT_URL']}/assets/admin_usage_snapshot_report_pdf.scss" %>>
    <link rel="stylesheet" href="https://use.typekit.net/zyx1nqp.css">
  </head>
  <body>
    <div id='header'>
    </div>
    <%= yield %>
  </body>
</html>
