<!DOCTYPE html>
<html>
  <head>
    <title>Quill</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= yield :custom_wicked_pdf_stylesheet %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>