<div class='container'>
  <%= react_component('SubscriptionApp', props: {view: 'new', user: @user, schoolOrUser: 'user', subscription: @subscription, premiumTypes: @premium_types,
  promoExpiration: @promo_expiration_date, subscriptionPaymentMethods: @subscription_payment_methods, schoolsUsers: @schools_users })%>
</div>
