.li-number {
  font-family: adelle-sans, "Arial", sans-serif;
  font-size: 30px;
  color: #00c2a2;
  font-weight: 600;
  padding-right: 10px;
}

.student.text-editor.card {
  margin-top: 20px;
  min-height: 68px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  &.disabled-editor {
    background-color: $background;
  }

  .card-content {
    .public-DraftEditor-content {

        // line-height: 42px;
        font-family: $family-sans-serif;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
    }
  }
}

.question-button-group {
  // margin-top: 28px;
}

.sf-button-group {
  margin-top: 28px;

  .sf-button {
    background-color: $white;
    font-family: $family-sans-serif;
    color: #2f2f2f;
    border: solid 1px #737373;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding: 0 24px;
    margin-bottom: 1em;
    margin-right: 25px;
  }
}

.cues {
  margin-top: 9px;
  display: inline-flex;
  align-items: center;
  .cue {
    background-color: #fffed5;
    line-height: 28px;
    font-size: 20px;
    margin-right: 13px;
    padding: 0 5px;
  }

  img {
    margin-right: 7px;
  }

  .cue-explanation {
    font-size: 14px;
    line-height: 28px;
    color: #636363;
  }
}

.end-state-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  img {
    margin-right: 8px;
    margin-top: 7px;
  }

  .top-answer-text {
    width: 100%;
    font-family: $family-monospace;
    margin-top: 15px;
    padding-left: 15px;

    .top-answer-title {
      color: #464646;
      font-family: $family-monospace;
      // margin-bottom:
    }
    ul.top-answer-list {
      font-family: $family-monospace;
      list-style-type: none;
      margin: 0;
      color: #464646;

      .top-answer-list-item {
        display: flex;
        justify-content: space-between;

        &.active  {
          .top-answer-list-item-index,
          .top-answer-list-item-text,
          .top-answer-list-item-score {
            font-weight: bold;
          }
        }

        .top-answer-list-item-index {
          margin-right: 10px;
        }

        .top-answer-list-item-text {
          flex-grow: 1;
        }

        .top-answer-list-item-score {
          margin-left: 10px;
        }
      }
    }
  }
  font-size: 20px;
  font-family: $family-monospace;

}

.mirror {
  transform: rotate(180deg);
}

.concept-explanation {
  font-family: $family-monospace;
  margin: 1em 0;
  font-size: 20px;
  .concept-explanation-title {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }
  .concept-explanation-description {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .concept-explanation-see-write {
    display: flex;
    background-color: #fefefe;
    padding: 15px 25px;
    border: 1px dashed #cecece;
    // border-radius: 5px;
    margin-bottom: 0.5em;
    .concept-explanation-see {
      flex-grow: 1;
      flex-basis: 0;
    }
    .concept-explanation-write {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  .concept-explanation-remember {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0.5em;
    ul {
      margin: 10px 30px;
      list-style: circle;
    }
  }
}

.landing-page {
  padding-top: 20px;
  font-size: 20px;
  h1, h3 {
    font-size: 30px;
    font-family: $family-sans-serif;
    color: #2f2f2f;
  }
  p, h1 {
    max-width: 600px;
    margin-top: 13px;
    color: #464646;
    &.second-p {
      margin-top: 25px;
    }
  }
  ul {
    list-style: disc;
    margin-left: 25px;
  }
  button {
    margin-top: 40px;
    img.begin-arrow {
      margin-top: -2px;
      margin-left: 10px;
    }
  }
  blockquote {
    padding: 20px;
    background-color: white;
  }
}

.student-feedback-container {
  position: relative;
  background-color: #e5e5e5;
  padding: 13px 20px 16px 20px;
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  p {
    animation: fadein 0.8s 1;

    @keyframes fadein {
      0%  {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &.success {
    background-color: #d3e7bd;
    padding: 13 17 16 20;
    border-left: 3px solid #498900;

    p {
      color: #457818;
    }

    animation: successpulse 0.8s 1;

    @keyframes successpulse {
      0%  {
        background-color: #d3e7bd;
      }
      50% {
        background-color: #c0e09c;
      }
      100% {
        background-color: #d3e7bd;
      }
    }
  }

  &.revise {
    background-color: #ffe4b7;
    padding: 13 17 16 20;
    border-left: 3px solid #b17410;
    animation: revisepulse 0.8s 1;

    @keyframes revisepulse {
      0%  {
        background-color: #ffe4b7;
      }
      50% {
        background-color: #f5ba5b;
      }
      100% {
        background-color: #ffe4b7;
      }
    }

    p {
      color: #875a12;
    }
  }
}

.connect-text-area {
  width: 100%;
  border: none;
  background: none;
  font-size: 20px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.error {
  border-bottom: 3px solid #b17410;
}

.error-container {
  margin-bottom: 20px;
}

.ell-illustration {
  @media (max-width: 500px) {
    display: none;
  }
}

.fill-in-blank-input {
  color: rgb(61, 61, 61);
  font-size: 24px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
  border-image-slice: 1;
  &.error {
    border-width: 0px;
    box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #b17410;
    border-image-source: none;
    padding-top: 4px;
  }
}

.intro-container {
  margin-bottom: 30px;
}
