#lesson_planner {



}

dl {
  dt {
  }

  dd {
    margin-bottom: 2em;
  }
}

button.full-width {
  width: 100%;
  margin-left: 0px;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.est-time {
  text-align: center;
}
