.unit-template-profile {
  width: 100%;
  margin: auto;
  background-color: white;
  padding-bottom: 8em;
  .unit-template-profile-container {
    background-color: white;
    margin: auto;
    width: 950px;

    h2 {
      font-size: 24px;
    }

    .ReactTable.unit-template-profile-activities .rt-table a img {
      padding-left: 20px;
    }

    .ReactTable .rt-th, .ReactTable .rt-td {
      padding-top: 2.5px;
      padding-bottom: 4px;
    }

    .ReactTable.unit-template-profile-activities .rt-table .rt-tr:hover a.highlight-on-hover {
      color: #00c2a2;
    }

    .row-link-disguise {
      width: 100%;
      display: inline-block;
    }

    .ReactTable .rt-thead {
      border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    }

    a:hover {
      text-decoration: none;
    }
  }
  .related-activity-packs {

  }
  .first-content-section {
    margin-bottom: 4em;
    margin-top: 75px;
    .description {
      max-width: 500px;;
      dl {
        dt {
          margin-bottom: 0.5em;
        }

        dd {
          margin-bottom: 2em;
          font-size: 16px;
          line-height: 1.5em;
        }
      }
    }
    .assign-buttons-and-standards {
      max-width: 400px;
    }

    button {
      margin-left: 0px;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    .time {
      text-align: center;
      .fa.fa-clock-o {
        font-size: 24px;
        color: $mediumdarkgray;
      }
    }

    .standards-and-concepts {
      margin: 1.9em 0em;

      dl {
        margin-bottom: 0em;
        dt {
          margin-bottom: 1.2em;
        }

        dt.concepts {
          margin-top: 3em;
          margin-bottom: 0.2em;
        }

        dd {
          margin-bottom: 1.2em;
        }

        dd.concept {
          margin-bottom: 0em;
          display: inline-block;
          padding: 0.2em 0.5em;
          margin-right: 1em;
          margin-top: 1em;
          border-radius: 5px;
          background-color: $verylightgray;
        }
      }
    }

    .share {

    }
  }

  button.see-all-activity-packs {
    margin-top: 4em;
  }

  .preview-button {
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
  }

  .card {
    width: 460px;
  }
}
