@import 'customize/_choose_edition.scss';
@import 'customize/_name_modal.scss';
@import 'customize/_name_and_sample_question_modal.scss';
@import 'customize/_publish_success_modal.scss';
@import 'customize/_customize_edition.scss';
@import 'customize/_customize_navbar.scss';
@import 'customize/_text_editor.scss';
@import 'customize/_customize_edition_header.scss';

.customize-page {
  div:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
}

.publish-button {
  cursor: pointer;
  min-width: 137px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 35px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #014f92;
  margin-left: 20px;
  color: white;
  font-size: 14px;
}

.back-button {
  color: #027360;
  padding-top: 25px;
  display: flex;
  align-items: center;
  i {
    margin-right: 5px;
    font-size: 12px;
  }
  span {
    cursor: pointer;
    align-items: center;
    display: flex;
  }
}
