.multiple-choice-content {
  .sentence-fragments p {
    margin-bottom: 0px;
  }

  .multiple-choice-prompt {
    font-family: $family-monospace;
    margin-top: 15px;
    font-size: 20px;
    color: #464646;
  }

  .lesson-multiple-choice {
    margin: 30px 0 0 0;
    width: 100%;
    .lesson-multiple-choice-button {
      display: block;
      width: 100%;
      margin-bottom: 18px;
      text-align: left;
      box-shadow: 0 0 0 1px #bdbdbd;
      border-radius: 2px;
      border: none;
      background-color: #f7f7f7;
      padding: 10px 15px;
      font-family: $family-sans-serif;
      min-height: 40px;
      white-space: normal;
      height: inherit;
      font-size: 20px;
      display: block;
      width: 100%;
      text-align: left;
      color: #464646;
      &:hover, &:focus {
        box-shadow: 0 0 0 2px #06806b;
      }
    }
  }

}
