@import './bulma/utilities/utilities';
@import './bulma/config/variables';
@import './bulma/config/generated-variables';
@import './bulma/base/base';
@import './bulma/elements/elements';
@import './bulma/components/components';
@import './bulma/layout/layout';
@import 'textbox';

body {
  color: #3D3D3D
}

.button-group {
  .button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

#pie-chart {
  svg {
    width: 200px;
  }
}

#activities-section {
  .menu-list a {
    padding: 0;
  }
  .column {
    padding-bottom: 4px;
  }
}



.has-bottom-margin {
  margin-bottom: 20px;
}

.has-top-margin {
  margin-top: 20px;
}

ul.is-unstyled {
  margin: 1em 0;
  li {
    list-style-type: none;
  }
}

.algorithm-optimal-response {
  background-color: #F6ECF8;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7;
}

.not-found-response {
  background-color: #FFF0F2;
}

.human-sub-optimal-response {
  background-color: #FFF9E8;
}
.human-optimal-response {
  background-color: #F5FAEF;
}

.unexpanded {
  padding: 10px 20px 0px;
}

.expanded {
  padding: 20px 20px 10px;
}

.panel-checkbox.toggle {
  display: inline;
  padding: 9px 10px 9px 30px;
}

.intro-next-button {
  display: block;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  margin-bottom: 1em;
}

.intro-slides {
  display: block;
  margin: 0 auto;
  height: 569px;
  max-height: 80vh;
  width: 960px;
  max-width: 100%;
}

.cues {
  display: inline-flex;
  border: 1px solid grey;
  margin-bottom: 1em;
  .cue {
    font-size: 16px;
    font-weight: bold;
    margin: 1em;
    text-transform: lowercase;
  }
}

.register-list {
  display: 'inline-block';
  margin: 0 auto;

  li {
    margin-bottom: 1em;
    font-size: 22px;
  }
}

.register-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

h2.register {
  text-align: center;
}

.is-question {
  min-height: initial;
}

.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sentence-fragment-buttons-leave {
  opacity: 1;
}

.sentence-fragment-buttons-leave.sentence-fragment-buttons-leave-active {
  opacity: 0.01;
  transition: opacity 3.0s ease-in;
}

.text-editor-appear {
  opacity: 0.01;
}

.text-editor-appear.text-editor-appear-active {
  opacity: 1;
  transition: opacity 3.0s ease-in;
}

textarea.submission {
  font-size: 18px;
}

.sentence-fragments {
  p {
    font-size: 24px;
    margin-bottom: 0em;
  }
  margin-bottom: 1em;
  font-size: 24px;
}
