.is-fullheight.minus-nav {
  min-height: calc(100vh - 50px);
}

.button-group {
  .button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

.has-bottom-margin {
  margin-bottom: 20px;
}

ul.is-unstyled {
  margin: 1em 0;
  li {
    list-style-type: none;
  }
}

.common-error-response {
  background-color: #FFF0F2;
}

.not-found-response {
  background-color: #F6ECF8;
}

.sub-optimal-response {
  background-color: #FFF9E8;
}
.optimal-response {
  background-color: #F5FAEF;
}