@import 'variables';
@import 'textbox';
@import "components/student-nav";
@import '../../node_modules/react-selectize/themes/index.css';

body {
  color: #3D3D3D
}

.button-group {
  .button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

#pie-chart {
  svg {
    width: 200px;
  }
}

#activities-section {
  .menu-list a {
    padding: 0;
  }
  .column {
    padding-bottom: 4px;
  }
}



.has-bottom-margin {
  margin-bottom: 20px;
}

.has-top-margin {
  margin-top: 20px;
}

ul.is-unstyled {
  margin: 1em 0;
  li {
    list-style-type: none;
  }
}

.algorithm-optimal-response {
  background-color: #F6ECF8;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7;
}

.not-found-response {
  background-color: #FFF0F2;
}

.human-sub-optimal-response {
  background-color: #FFF9E8;
}
.human-optimal-response {
  background-color: #F5FAEF;
}

.unexpanded {
  padding: 10px 20px 0px;
}

.expanded {
  padding: 20px 20px 10px;
}

.panel-checkbox.toggle {
  display: inline;
  padding: 9px 10px 9px 10px;
}

.intro-next-button {
  display: block;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  margin-bottom: 1em;
}

.intro-slides {
  display: block;
  margin: 0 auto;
  height: 569px;
  max-height: 80vh;
  width: 960px;
  max-width: 100%;
}

.cues {
  display: inline-flex;
  border: 1px solid grey;
  margin-bottom: 1em;
  .cue {
    font-size: 16px;
    font-weight: bold;
    margin: 1em;
    text-transform: lowercase;
  }
}

.register-list {
  display: 'inline-block';
  margin: 0 auto;

  li {
    margin-bottom: 1em;
    font-size: 22px;
  }
}

.register-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

h2.register {
  text-align: center;
}

.is-question {
  min-height: initial;
}

.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sentence-fragment-buttons-leave {
  opacity: 1;
}

.sentence-fragment-buttons-leave.sentence-fragment-buttons-leave-active {
  opacity: 0.01;
  transition: opacity 3.0s ease-in;
}

.text-editor-appear {
  opacity: 0.01;
}

.text-editor-appear.text-editor-appear-active {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

textarea.submission {
  font-size: 18px;
}

.sentence-fragments {
  p {
    font-size: 24px;
    margin-bottom: 0em;
  }
  margin-bottom: 1em;
  font-size: 24px;
}

.dropdown-input.dropdown-menu > li > a {
  &:hover,
  &:focus {
    color: #333; //$dropdown-link-color;
    background-color: #fff; //$dropdown-bg;
  }
}
.dropdown-input.dropdown-menu > .active > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff; // $dropdown-link-hover-color;  // #fff
    background-color: #337ab7; // $dropdown-link-hover-bg;  // #337ab7
  }
}

/** The option list should not be visible by default */
.select-search-box__select {
  display: none;
}

.select-search-box__search {
  display: block;
  width: 74%;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: white;
  outline: none;
  font-size: 14px;
  padding-left: 8px;
  color: #303030;
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-family: sans-serif;
  line-height: 50px;
  justify-content: flex-start;
  padding-right: 36px
}

/** If it's a multiple select, you can style it with this selector */
.select-search-box--multiple .select-search-box__select {
  display: block;
}

/** The list receives the modifier class "display" when the select has focus */
.select-search-box__select--display {
  display: block;
}

/** UL with the options */
.select-search-box__options {
  max-height: 200px;
  overflow: scroll;
  background-color: white;
  border: 1px solid grey;
}

/** The option (LI), look at the state classes below */
.select-search-box__option {
  font-size: 14px;
  font-weight: 400;
  color: #616b74;
  padding: 15px 15px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** When the option has been selected */
.select-search-box__option--selected {

}

/** When the option is selected (when navigation with the arrow keys, up/down) */
.select-search-box__option--hover, .select-search-box__option:hover {
  background-color: #a3e8dc;
}

.prevent-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.concept-explanation {
  margin: 1em;
  .concept-explanation-title {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  .concept-explanation-description {
    margin-bottom: 0.5em;
  }

  .concept-explanation-see-write {
    display: flex;
    background-color: #f3f3f3;
    padding: 1em 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;
    .concept-explanation-see {
      flex-grow: 1;
    }
    .concept-explanation-write {
      flex-grow: 1;
    }
  }
  .concept-explanation-remember {
    margin-bottom: 0.5em;
    ul {
      margin: 10px 30px;
      list-style: circle;
    }
  }
}

.menu-list a.no-feedback  {
  color: red;
}

.boilerplate-feedback-dropdown-container {
  display: inline-block;

  .boilerplate-feedback-dropdown {
    max-width: 35em;
    width: auto;

    .boilerplate-feedback-dropdown-option {
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


.response-pagination-container {
  max-height: 50px;
  height: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}


.response-pagination {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.response-component-page-number-active {
  background-color: #42afe3;
}

.pagination-extreme-button {
  margin: 10px;
}

.end-state-container {
  margin-bottom: 20px;
}

// .response-component-page-number {
//   a:visited {
//     color: blue;
//   }
// }
