.introductory-text {
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding-top: 26px;
  p {
    font-size: 20px;
    margin-bottom: 15px;
    span {
      font-weight: bold;
    }
  }
  .default-language {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    span {
      font-size: 30px;
      margin-right: 5px;
    }
    img {
      height: 30px;
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }
}

.language-button-container {

  margin: 20 auto 0;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &.english {
    justify-content: center;
  }


  .language-button {
    border: none;
    width: 250px;
    height: 118px;
    box-shadow: 0 0 0 1px #e0e0e0;
    background-color: white;
    padding: 0 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.17;
    color: #000000;
    margin-bottom: 20px;
    border-radius: 6px;

    &:hover, &:focus {
      cursor: pointer;
      box-shadow: 0 0 0 2px #06806b;
      outline: none;
    }

    @media (max-width: 580px) {
      margin: 0px auto 20px;
    }
  }
}

.language-button-img {
  height: 35px;
}

.divider {
  border-top: solid 1px #c0c0c0;
  width: 500px;
  margin: 0 auto;
}

.divider-container {
  display: flex;
  align-items: center;
  margin: 20 auto 0;
}

.no-language-button {
  border: none;
  margin: 20 auto 0;
  max-width: 580px;
  width: 100%;
  height: 72px;
  box-shadow: 0 0 0 1px #e0e0e0;
  background-color: white;
  padding: 0 34px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: adelle-sans, "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.29;
  color: #000000;

  @media(max-width: 580px) {
    &.fullsize {
      display: none;
    }
    width: 270px;
  }

  @media(min-width: 581px) {
    &.mobile {
      display: none;
    }
  }

  &:hover, &:focus {
    cursor: pointer;
    box-shadow: 0 0 0 2px #06806b;
    outline: none;
  }

  .language-button-img {
    height: 35px;
  }
}

.right-to-left {
  text-align: right;
}

.arabic-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.language-label {
  font-size: 16px;
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}

.divider-label {
  margin: 0px 10px 0px 10px;
  font-size: 20px;
}