.multiple-choice-content {
  .sentence-fragments p {
    margin-bottom: 0px;
  }

  .multiple-choice-prompt {
    font-family: $family-monospace;
    margin-top: 15px;
    font-size: 20px;
    color: #464646;
  }

  ul.lesson-multiple-choice {
    list-style: none;
    margin: 30px 0 0 0;
    width: 100%;
    li {
      display: block;
      width: 100%;
      margin-bottom: 18px;
      text-align: left;
      a.button.lesson-multiple-choice-button {
        border-radius: 2px;
        background-color: #f7f7f7;
        border: solid 2px #f7f7f7;
        padding: 10px 15px;
        font-family: $family-sans-serif;
        min-height: 40px;
        white-space: normal;
        height: inherit;
        font-size: 20px;
        display: block;
        width: 100%;
        text-align: left;
        color: #464646;

        &:hover {
          border: solid 2px darken(#f7f7f7, 2%);
          background-color: darken(#f7f7f7, 2%);
        }

        &.correctly-selected {
          border: solid 2px $green;
        }

        &.incorrectly-selected {
          border: solid 2px $red;
        }
      }
    }
  }

}
