.student-wrapper {
  width: 100%;
  background-color: $background;
}

.student-container {
  @extend .container;
  max-width: 800px;
}


.test-question-container .student-container {
  margin-left: 0;

}

.test-question-container .student-container-inner-diagnostic {
  position: relative;
}

.test-question-container {
  padding: 15px;
  // border: 2px dashed $green;
  background-color: whitesmoke;
  display: block;
  width: 830px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
