#scorebook,
#student-profile {
  .tooltip .tooltip-inner {
    // need to override Bootstrap defaults
    padding: 0;
    border: 0;
  }
}

#activity-planner {
      .tooltip .tooltip-inner {
        box-shadow: 0 1px 3px 1px rgba(102, 102, 102, 0.11);
        max-width: 309px;
        font-size: 14px;
        color: #666;
        h1 {
          color: #000;
        }
      }
}

.scorebook-tooltip {
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: -137px;
}

.scorebook-tooltip,
.student-profile-tooltip {
  width: 310px;
  background-color: white;
  border: 1px solid $lightgray;
  border-radius: 6px;

  .title {
    text-align: center;
    background-color: $lightgray2;
    font-weight: 700;
    padding: 2px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 9px;
    margin-bottom: 12px;
    border-bottom: 1px solid $lightgray;
  }
}
