.activity-container {
  display: flex;
  background-color: white;
  color: #000;

  .step-number {
    width: 100%;
    max-width: 32px;
    height: 32px;
    background-color: #9e9e9e;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
    &.completed {
      background-color: white;
    }
    &.active {
      background-color: #009a80;
    }
  }

  .read-passage-container {
    padding: 48px 40px;
    width: calc(100% - 680px);
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .header-image {
      height: auto;
      max-width: 100%;
    }
    .passage p {
      margin-bottom: 40px;
    }
    .passage-highlight {
      background-color: #fff6e4;
      text-decoration: underline;
      text-decoration-color: #ff9f00;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  .steps-outer-container {
    height: auto;
    max-width: 676px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    margin-right: 4px;
    border-left: 1px solid #d8d8d8;
  }

  .steps-inner-container {
    padding: 22px 24px 400px;
    position: sticky;
    position: -webkit-sticky;/* required */
    right: 0;
    top: 0;
    height: min-content;
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
      text-align: center;
    }
  }

  .read-passage-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 32px;
  }

  .passage {
    max-width: 680px;
    white-space: pre-wrap;
    font-size: 21px;
    line-height: 1.52;
  }

  .directions {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    margin-bottom: 10px;
  }

  .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.22;
    margin-bottom: 32px;
    max-width: 680px;
  }

  .step-links {
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    padding: 8px 0px 8px 16px;
    position: sticky;
    position: -webkit-sticky;/* required */
    top: 0;
    background-color: white;
    z-index: 100;
    .step-link {
      width: 32px;
      margin-right: 16px;
      padding: 0px;
      border: none;
      background-color: transparent;
      line-height: 24px;
    }
  }

  @media (min-width: 1100px) {
    overflow: hidden;
    height: 100vh;
    margin-top: -60px;
    padding-top: 60px;

    .steps-outer-container {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      margin-right: 4px;
      border-left: 1px solid #d8d8d8;
    }

    .read-passage-container {
      overflow: scroll;
      margin-right: 4px;
    }

    .read-passage-container::-webkit-scrollbar, .steps-outer-container::-webkit-scrollbar {
      background-color: white;
      width: 7px;
      height: 7px;
    }

    .read-passage-container::-webkit-scrollbar-thumb, .steps-outer-container::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #7f7f7f;
      -webkit-box-shadow: inset 0 0 6px #7f7f7f;
    }
  }

  @media (max-width: 1099px) {
    flex-direction: column;
    height: auto;
    .steps-outer-container {
      height: auto;
    }
    .steps-outer-container, .steps-inner-container {
      position: inherit;
      max-width: 100%;
      padding: 0px;
      margin-top: 0px;
      .step {
        max-width: 100%;
        margin-bottom: 12px;
        border-left: none;
        border-right: none;
        border-radius: 0px;
      }
    }
    .read-passage-container {
      width: 100%;
      padding: 24px 16px;
      .passage {
        max-width: 100%;
      }
    }
  }
}
