.read-and-highlight-container {
  padding-top: 48px;
  position: relative;
  section {
    padding: 0px 24px;
  }
  h3, h4, h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #5c5c5c;
  }
  h3 {
    margin-bottom: 12px;
  }
  h4 {
    text-align: center
  }
  h5 {
    margin-bottom: 16px;
  }
  .read-the-directions-modal {
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 #00000033, 0 3px 3px -2px #0000001e, 0 3px 4px 0 #00000023;
    background-color: #ffffff;
    position: absolute;
    width: 320px;
    left: -310px;
    p {
      margin-bottom: 16px;
    }
  }
  .directions-section {
    margin-bottom: 48px;
  }
  .highlight-instructions {
    padding: 20px 77px 32px;
    border-radius: 6px;
    background-color: #f1f3f4;
  }
  .highlight-instruction {
    margin-top: 32px;
    position: relative;
    img {
      position: absolute;
    }
    &.one img {
      left: 210px;
      top: 62px;
    }
    &.two img {
      left: 199px;
      top: 44px;
    }
  }
  .highlight-instruction-number {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: inline-flex;
    background-color: #9e9e9e;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
  }
  .student-highlight {
    background-color: #b4e2db;
    padding: 2px 0px;
    &.hover {
      background-color: #e1f3f1;
    }
  }
  @media (max-width: 1099px) {
    padding-top: 32px;
    .read-the-directions-modal {
      transform: translate(-50%, 0%);
      bottom: -176px;
      left: 50%;
    }
    .highlight-section {
      display: none;
    }
    .directions-section {
      padding-left: 16px;
      p {
        font-size: 20px;
        line-height: 1.3;
      }
    }
  }
}
