.step-overview-container {
  background-color: #005341;
  .bottom-navigation {
    background-color: #005341;
  }
  .step-overview {
    padding: 48px 24px;
    overflow: auto;
    height: 100%;
    h1 {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      color: #ffffff;
      margin-bottom: 36px;
    }
    .step-overview-step-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }
      .step-overview-step {
        padding: 20px;
        border-radius: 8px;
        background-color: #06806b;
        color: #fff;
        max-width: 562px;
        width: 100%;
        margin: 12px 0px;
        text-align: left;
        span {
          font-size: 16px;
          font-weight: bold;
          color: #e1f3f1;
        }
        p {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.25;
          color: #ffffff;
          margin-top: 4px;
        }
        &.active {
          border: solid 2px #e1f3f1;
        }
        &.completed p {
          text-decoration: line-through;
        }
      }
    }
  }

  @media (max-width: 1099px) {
    min-height: 100vh;
    .step-overview h1 {
      font-size: 24px;
    }
    img {
      display: none;
    }
  }
}
