---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts/53ea7c626e727c2e0d000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c0b73f915c29bf2541454b7f20a98ed65c0bbc88
      X-Clever-Client-User-Agent:
      - '{"bindings_version":"0.10.0","lang":"ruby","lang_version":"2.2.2 p95","platform":"x86_64-darwin14","publisher":"clever","uname":"Darwin
        Marcellos-MacBook-Air.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19
        15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1195'
      X-Ratelimit-Reset:
      - '1450111311'
    body:
      encoding: UTF-8
      string: '{"data":{"mdr_number":"","name":"#DEMO Quill Sandbox District","id":"53ea7c626e727c2e0d000018"},"links":[{"rel":"self","uri":"/v1.1/districts/53ea7c626e727c2e0d000018"},{"rel":"schools","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/schools"},{"rel":"teachers","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/teachers"},{"rel":"students","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/students"},{"rel":"sections","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/sections"},{"rel":"events","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/events"}]}'
  recorded_at: Mon, 14 Dec 2015 16:41:34 GMT
- request:
    method: get
    uri: https://api.clever.com/v1.1/teachers/53ea7d70804342a11e497bb7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c0b73f915c29bf2541454b7f20a98ed65c0bbc88
      X-Clever-Client-User-Agent:
      - '{"bindings_version":"0.10.0","lang":"ruby","lang_version":"2.2.2 p95","platform":"x86_64-darwin14","publisher":"clever","uname":"Darwin
        Marcellos-MacBook-Air.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19
        15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1194'
      X-Ratelimit-Reset:
      - '1450111311'
    body:
      encoding: UTF-8
      string: '{"data":{"created":"2014-08-12T20:47:44.140Z","credentials":{"district_username":"letitia.jacobs","district_password":"zuGae2iemoo"},"district":"53ea7c626e727c2e0d000018","email":"letitia_jacobs@example.org","last_modified":"2014-08-12T20:47:44.142Z","name":{"first":"Letitia","middle":"O","last":"Jacobs"},"school":"53ea7d6b2187a9bc1e188be0","sis_id":"58","teacher_number":"673866","title":"High
        School Spanish Teacher","id":"53ea7d70804342a11e497bb7"},"links":[{"rel":"self","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7"},{"rel":"district","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/district"},{"rel":"school","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/school"},{"rel":"students","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/students"},{"rel":"sections","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/sections"},{"rel":"grade_levels","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/grade_levels"},{"rel":"events","uri":"/v1.1/teachers/53ea7d70804342a11e497bb7/events"}]}'
  recorded_at: Mon, 14 Dec 2015 16:41:35 GMT
recorded_with: VCR 2.9.3
