.post-checklist-container .activity-feed {
  &.empty {
    padding: 20px 0px;
    h2 {
      margin: 24px 0px 16px;
      font-size: 16px;
      line-height: 1.38;
    }
    p {
      max-width: 336px;
      text-align: center;
      color: #5c5c5c;
    }
  }
  &.populated {
    h2 {
      padding: 20px 20px 8px;
      font-size: 20px;
      line-height: 1.3;
      width: 100%;
    }
    .completed-section {
      margin-right: 0px;
      text-overflow: initial;
      overflow: visible;
    }
  }
  .score-tag {
    border-radius: 4px;
    padding: 0 6px;
    &.proficient {
      background-color: #dcedcc;
    }
    &.nearly-proficient {
      background-color: #ffeccc;
    }
    &.not-yet-proficient {
      background-color: #ffe0e3;
    }
    &.completed {
      background-color: #ebebeb;
    }
  }
  @media (max-width: 1210px) {
    &.populated {
      h2 {
        margin-bottom: 24px;
      }
    }
  }
}
