.post-checklist-container .activity-feed {
  &.empty {
    padding: 20px 0px;
    h2 {
      margin: 24px 0px 16px;
      font-size: 16px;
      line-height: 1.38;
    }
    p {
      max-width: 336px;
      text-align: center;
      color: $quill-grey-50;
    }
  }
  &.populated {
    .completed-section {
      margin-right: 0px;
      text-overflow: initial;
      overflow: visible;
    }
  }
  .data-table-row-section:has(.score-tag) {
    overflow: visible;
  }
  .score-tag {
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &.frequently-demonstrated-skill {
      border: 1px solid $quill-green-vibrant-50;
      background: $quill-green-vibrant-20;
      color: $quill-green-vibrant;
    }
    &.sometimes-demonstrated-skill {
      border: 1px solid $quill-gold-dark-20;
      background: $quill-gold-10;
      color: $quill-gold-dark;
    }
    &.rarely-demonstrated-skill {
      border: 1px solid $quill-red-20;
      background: $quill-red-5;
      color: $quill-maroon;
    }
    &.completed {
      border: 1px solid $quill-blue;
      background: $quill-blue;
      color: $quill-white;
    }
  }
  @media (max-width: 1210px) {
    &.populated {
      h2 {
        margin-bottom: 24px;
      }
    }
  }
}
