.post-checklist-container main section.growth-diagnostics-promotion-card {
  align-items: flex-start;
  padding: 20px;
  position: relative;
  .new-tag {
    margin-bottom: 4px;
    display: block;
  }
  h2 {
    font-size: 20px;
    line-height: 1.3;
  }
  a {
    margin-top: 32px;
    font-weight: 600;
    color: #5c5c5c;
    align-items: center;
    display: flex;
    img {
      margin-left: 4px;
    }
  }
  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 16px;
  }
  .chart-illustration {
    position: absolute;
    right: 20px;
    bottom: 0px;
  }

  @media (max-width: 1210px) {
    a {
      margin-top: 62px;
    }
  }
}
