.handy-actions {
  .handy-action {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    img {
      margin-right: 16px;
    }
  }
  .handy-action-button {
    background-color: white;
    width: 100%;
  }
  .handy-action-button:hover {
    background-color: #f5f5f5;
  }
}
