.onboarding-checklist-container {
  margin: 0px auto;
  max-width: 1072px;
  width: 90%;
  display: flex;
  border: 1px solid #e0e0e0;
  justify-content: space-between;
  border-radius: 8px;

  .onboarding-checklist-body {
    padding: 20px 12px;

    h1, p {
      margin-left: 8px;
    }

    h1 {
      font-size: 20px;
      line-height: 1.3;
      color: #262626;
      margin-bottom: 8px;
    }

    p {
      line-height: 1.43;
      color: #5c5c5c;
      margin-bottom: 24px;
    }

    .onboarding-checklist {
      max-width: 414px;
      width: 100%;
      a:hover {
        background-color: #f5f5f5;
        cursor: pointer;
        text-decoration: none;
      }
    }

    .onboarding-checklist-item {
      display: flex;
      align-items: flex-start;
      border-radius: 8px;
      .big-check {
        margin: 8px;
        &.unchecked {
          width: 32px;
          height: 32px;
          border: solid 1px #e0e0e0;
          border-radius: 20px;
          background-color: #ffffff;
        }
      }
      span {
        margin: 13px 16px;
        font-size: 16px;
        line-height: 1.38;
        color: #262626;
      }
      &.completed {
        span {
          text-decoration: line-through;
        }
      }
    }

  }

  @media (max-width: 835px) {
    .illustration {
      display: none;
    }
    .onboarding-checklist {
      max-width: 100%;
    }
  }

}
