.post-checklist-container {
  max-width: 1072px;
  width: 100%;
  margin: auto;
  display: flex;
  section {
    border-bottom: none;
    padding: 0px;
  }
  h2 {
    color: #262626;
  }
  main, aside {
    width: 100%;
    margin: 0px 16px;
  }
  aside {
    max-width: 336px;
    h2 {
      font-size: 16px;
      line-height: 1.38;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 8px;
      margin: 0px 16px 8px;
    }
    section {
      border-radius: 8px;
      border: solid 1px #e0e0e0;
      margin-bottom: 32px;
      padding: 16px 0px 8px;
    }
    a:hover, a:focus {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
  main {
    max-width: 768px;
    h2 {
      font-size: 16px;
      line-height: 1.38;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 8px;
    }
  }
  @media (max-width: 1103px) {
    aside {
      display: none;
    }
    main {
      margin: 0px auto;
      width: calc(100vw - 32px);
      max-width: 100%;
    }
  }
}
