.post-checklist-container {
  max-width: $sitewidepagewidth;
  width: 100%;
  margin: auto;
  display: flex;
  &.loading {
    height: 100vh;
    justify-content: center;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
  section:not(.user-account-section) {
    border-bottom: none;
    padding: 0px;
  }
  h2 {
    color: #262626;
  }
  main, aside {
    width: 100%;
  }
  aside {
    max-width: 336px;
    margin-left: 32px;
    h2 {
      font-size: 16px;
      line-height: 1.38;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 8px;
      margin: 0px 16px 8px;
    }
    section {
      border-radius: 8px;
      border: solid 1px #e0e0e0;
      margin-bottom: 32px;
      padding: 16px 0px 8px;
    }
    a:hover, a:focus {
      background-color: #f5f5f5;
    }
  }
  main {
    max-width: 834px;
    section {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      border-radius: 8px;
      border: solid 1px #e0e0e0;
      width: 100%;
      margin-bottom: 32px;
      header {
        padding: 20px 20px 8px;
        width: 100%;
        h2 {
          font-size: 20px;
          line-height: 1.3;
          span {
            white-space: pre-wrap;
          }
          .no-break {
            white-space: nowrap;
            display: inline-flex;
            align-items: center;
          }
          a {
            margin-left: 8px;
          }
        }
      }

      .data-table {
        overflow: visible;
        padding: 0px 20px;
        overflow: visible;

        .data-table-row, .data-table-headers {
          padding: 0px 8px;
        }
      }

      .data-table .data-table-header {
        font-weight: 600;
      }

      .last-header, .last-row-section {
        margin-right: 0px;
      }

      .last-row-section, .actions-section {
        overflow: visible;
      }

      .last-row-section {
        a {
          display: flex;
          align-items: center;
          img {
            margin-right: 4px;
          }
        }
      }

      .bottom-button {
        display: flex;
        width: 100%;
        border-top: 1px solid #e0e0e0;
        justify-content: center;
        padding: 14px;
        font-weight: 600;
        color: #5c5c5c;
        align-items: center;
        img {
          margin-left: 4px;
        }
        &:focus, &:hover {
          background-color: #f5f5f5;
        }
      }
      .mobile-data-row {
        width: calc(100% - 40px);
        border-top: 1px solid #e0e0e0;
        padding: 14px 8px;
        div {
          margin-bottom: 8px;
          color: #262626;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .top-row {
          display: flex;
          justify-content: space-between;
          span:first-of-type {
            margin-right: 20px;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 40px;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
  @media (max-width: 1210px) {
    aside {
      display: none;
    }
    main {
      margin: 0px auto;
      width: calc(100vw - 32px);
      max-width: 100%;
      section header {
        margin-bottom: 24px;
      }
    }
  }
}
