.post-checklist-container aside section.teacher-center-highlights {
  padding-bottom: 0px;
  .highlight {
    padding: 8px 16px;
    display: block;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    margin-bottom: 4px;
    color: #262626;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 40px;
  }
  span {
    font-size: 12px;
    line-height: 1.33;
    color: #5c5c5c;
  }
  .see-all-resources {
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding: 14px 0px;
    justify-content: center;
    font-weight: 600;
    color: #5c5c5c;
  }
}
