{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "es2017": true,
    "es2020": true
  },
  "plugins": [
    "react",
    "@typescript-eslint/eslint-plugin"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "error",
    "for-direction": "error",
    "no-cond-assign": "error",
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "react/no-children-prop": "error",
    "react/no-danger-with-children": "error",
    "react/no-is-mounted": "error",
    "react/no-render-return-value": "error",
    "react/no-unknown-property": "error",
    "react/react-in-jsx-scope": "error",
    "react/require-render-return": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": "error",
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-curly-newline": ["error", "consistent"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-props-per-line": ["error", { "when": "multiline" }],
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-props-no-multi-spaces": "error",
    "react/jsx-sort-props": "error",
    "react/jsx-tag-spacing": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-wrap-multilines": "error"
  },
}
