{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "error",
  },
}
