node_modules/**
public/**
services/comprehension/frontend/node_modules/**
services/comprehension/frontend/dist/**
services/QuillLMS/app/assets/javascripts/test_file_application.js
services/QuillLMS/app/assets/javascripts/test_file_application_non_webpack.js
services/QuillLMS/app/assets/javascripts/test_file_application_static.js
services/QuillLMS/coverage/**
services/QuillLMS/client/server-rails-hot.js
services/QuillLMS/client/webpack.client.rails.hot.config.js
services/QuillLMS/engines/evidence/**
services/QuillLMS/public/**
services/QuillLMS/public/webpack/**
services/QuillLMS/vendor/assets/javascripts/bootstrap.js
services/QuillLMS/vendor/assets/javascripts/jquery-1.8.2.js
services/QuillLMS/vendor/assets/javascripts/tabslet.js
services/QuillLMS/node_modules/**
services/QuillLMS/client/node_modules/**
services/QuillDiagnostic/node_modules/**
services/QuillConnect/node_modules/**
services/QuillComprehension/node_modules/**
services/QuillGrammar/node_modules/**
services/QuillProofreader/node_modules/**
services/QuillLessons/node_modules/**
services/QuillLessonsServer/node_modules/**
services/QuillDiagnostic/built/**
services/QuillConnect/built/**
services/QuillComprehension/built/**
services/QuillGrammar/built/**
services/QuillProofreader/built/**
services/QuillLessons/built/**
services/QuillLessonsServer/built/**
services/QuillDiagnostic/dist/**
services/QuillConnect/dist/**
services/QuillComprehension/dist/**
services/QuillGrammar/dist/**
services/QuillProofreader/dist/**
services/QuillLessons/dist/**
services/QuillLessonsServer/dist/**
services/QuillComprehension/public/**
services/QuillLessonsServer/lib/**
lambdas/rematching/node_modules/**
lambdas/rematching_api/node_modules/**
packages/apply-feature/node_modules/**
packages/quill-cdn/node_modules/**
packages/quill-marking-logic/node_modules/**
packages/quill-spellchecker/node_modules/**
lambdas/rematching/dist/**
lambdas/rematching_api/dist/**
packages/apply-feature/dist/**
packages/quill-cdn/dist/**
packages/quill-marking-logic/dist/**
packages/quill-spellchecker/dist/**
*.d.ts
services/comprehension/main-api/static/*
services/QuillDiagnostic/app/routers/Admin/index.js
