@import 'variables';
@import 'textbox';
@import "components/activity-health";
@import "components/admin-regex-rules";
@import "components/student-nav";
@import "components/student-container";
@import "components/student-question";
@import "components/animations";
@import "components/landing-page-html";
@import "components/multiple-choice";
@import "components/_question_health";
/* Vite migration @import '~react-select/dist/react-select.css'; */
@import '@node_modules/font-awesome/css/font-awesome.css';
@import '../../../../../app/assets/stylesheets/shared/teacher-preview-menu.scss';

body {
  color: #3D3D3D;
  font-family: adelle-sans, "Arial", sans-serif;
  -moz-font-feature-settings: "ss04", "tnum";
  -webkit-font-feature-settings: "ss04", "tnum";
  font-feature-settings: "ss04", "tnum";
  font-variant-numeric: tabular-nums;
}

.activity-container {
  background-color: #eee;
}

.button-group {
  .button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

#pie-chart {
  svg {
    width: 200px;
  }
}

#activities-section {
  .menu-list a {
    padding: 0;
  }
  .column {
    padding-bottom: 4px;
  }
}



.has-bottom-margin {
  margin-bottom: 20px;
}

.has-top-margin {
  margin-top: 20px;
}

ul.is-unstyled {
  margin: 1em 0;
  li {
    list-style-type: none;
  }
}

.is-success.is-algo-optimal {
  background-color: #BA68C8;
}

.algorithm-optimal-response {
  background-color: #F6ECF8;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7;
}

.not-found-response {
  background-color: #FFF0F2;
}

.human-sub-optimal-response {
  background-color: #FFF9E8;
}
.human-optimal-response {
  background-color: #F5FAEF;
}

.unexpanded {
  padding: 10px 15px 0px;
}

.expanded {
  padding: 20px 15px 10px;
}

.panel-checkbox.toggle {
  padding: 5px;
}

.intro-next-button {
  display: block;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  margin-bottom: 1em;
}

.intro-slides {
  display: block;
  margin: 0 auto;
  height: 569px;
  max-height: 80vh;
  width: 960px;
  max-width: 100%;
}

.register-list {
  display: 'inline-block';
  margin: 0 auto;

  li {
    margin-bottom: 1em;
    font-size: 22px;
  }
}

.register-container, .register {
  width: 100%;
  margin: 0 auto;
}

.is-question {
  min-height: initial;
}

.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sentence-fragment-buttons-leave {
  opacity: 1;
}

.sentence-fragment-buttons-leave.sentence-fragment-buttons-leave-active {
  opacity: 0.01;
  transition: opacity 3.0s ease-in;
}

.text-editor-appear {
  opacity: 0.01;
}

.text-editor-appear.text-editor-appear-active {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

textarea.submission {
  font-size: 18px;
}

.sentence-fragments {
  padding-top: 28px;
  p {
    font-family: $family-sans-serif;
    color: #2f2f2f;
    font-size: 30px;
    line-height: 1.27;
    margin-bottom: 0em;
  }
  font-size: 24px;
}

.dropdown-input.dropdown-menu > li > a {
  &:hover,
  &:focus {
    color: #333; //$dropdown-link-color;
    background-color: #fff; //$dropdown-bg;
  }
}
.dropdown-input.dropdown-menu > .active > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff; // $dropdown-link-hover-color;  // #fff
    background-color: #337ab7; // $dropdown-link-hover-bg;  // #337ab7
  }
}

/** The option list should not be visible by default */
.select-search-box__select {
  display: none;
}

.select-search-box__search {
  display: block;
  width: 74%;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: white;
  outline: none;
  font-size: 14px;
  padding-left: 8px;
  color: #303030;
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-family: sans-serif;
  line-height: 50px;
  justify-content: flex-start;
  padding-right: 36px
}

/** If it's a multiple select, you can style it with this selector */
.select-search-box--multiple .select-search-box__select {
  display: block;
}

/** The list receives the modifier class "display" when the select has focus */
.select-search-box__select--display {
  display: block;
}

/** UL with the options */
.select-search-box__options {
  max-height: 200px;
  overflow: scroll;
  background-color: white;
  border: 1px solid grey;
}

/** The option (LI), look at the state classes below */
.select-search-box__option {
  font-size: 14px;
  font-weight: 400;
  color: #616b74;
  padding: 15px 15px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** When the option has been selected */
.select-search-box__option--selected {

}

/** When the option is selected (when navigation with the arrow keys, up/down) */
.select-search-box__option--hover, .select-search-box__option:hover {
  background-color: #a3e8dc;
}

.sortable-list-item {
  border: 1px dashed gray;
  padding: .5em;
  margin: .5em;
}


.menu-list a.no-feedback  {
  color: red;
}

.boilerplate-feedback-dropdown-container {
  display: inline-block;

  .boilerplate-feedback-dropdown {
    max-width: 35em;
    width: auto;

    .boilerplate-feedback-dropdown-option {
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


.response-pagination-container {
  max-height: 50px;
  height: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 3px;

  .pagination {
    display: flex;

    .pagination-extreme-button {
      margin: 10px;
      min-width: 50px;
    }
    .numbers-list {
      display: flex;
      overflow: auto;
    }
  }
}


.response-pagination {
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  overflow: scroll;
}

.response-component-page-number-active {
  background-color: #42afe3;
}



.section {
  &.student {
    background-color: $background;
    padding-top: 0;
  }
  &.is-fullheight{
    min-height: 100vh;
    &.minus-nav {
      min-height: calc(100vh - 64px);
    }
    .hero-body {
      align-items: center;
      display: flex;
      & > .container {
        flex-grow: 1;
      }

    }

  }
  .is-on-mobile {
    padding-top: 24px;
  }

}

.student-container-diagnostic {
  position: relative;
}

.student-container-inner-diagnostic {
  position: absolute;
  width: 100%;
}

.admin-container {
  max-width: 1020px;
  width: 100%;
  padding: 15;
  height: calc(100vh - 30px);
  overflow-y: auto;
    .select {
      display: block !important;
    }
}

.wf-loading {
  visibility: hidden;
}

.search-container {
  display: flex;
}

.search {
  margin-left: 20px;
}

.add-incorrect-sequence {
  .concept-explanation {
    margin: 16px 0px;
    border-radius: 4px;

    p {
      margin-bottom: 0;
    }
  }

  .concept-explanation.empty {
    background-color: #ffcccc;
  }
}

.control.checkbox-wrapper {
  display: inline-block;
}

.checkbox-label {
  display: inline-block;
  margin: 8px;
}

.admin-menu {
  min-width: 220;
  border-right: '1px solid #e3e3e3';
  padding: 30px 15px 15px 0px;
}

.concept-feedback-button-container {
  margin-top: 20px;
}

.concept-feedback-edit {
  margin-right: 20px;
}
.control.checkbox-wrapper {
  display: inline-block;
}

.checkbox-label {
  display: inline-block;
  margin: 8px;
}

.main-admin-container {
  display: flex;
  background-color: white;
}

.main-admin-section {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid rgb(227, 227, 227);
}

.concepts-container {
  width: 100%;
  margin-bottom: 20px;
}

.activities-list {
  width: 800px;
}

.edit-activity {
  padding: 20px;
  .button {
    border: 1px solid black;
    margin-right: 10px;
  }
  .button:hover {
    border: 1px solid lightgray;
  }
  ul {
    max-width: 800px;
    a {
      color: black;
      display: inline-block;
      padding: 12 8 12 8;
    }
    a:hover {
      background-color: #f7f5f5;
    }
    .selected {
      background-color: #00c2a2;
      a {
        background-color: #00c2a2;
        color: white;
      }
    }
    .tag {
      margin-left: 3px;
    }
  }
}

.default-instructions {
  position: absolute;
  background-color: white;
  background: white;
  z-index: 1;
  border: 1px solid lightgray;
  border-radius: 4px;
  button {
    text-align: left;
    color: black;
    display: block;
    padding: 5px;
    background: none;
    border: none;
    font-size: 1em;
    width: 100%;
  }
  button:hover {
    cursor: pointer;
    background-color: #f7f5f5;
  }
}

.lesson-sidebar-section {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;
}

.lesson-sidebar {
  width: 300;
  border-right: 1px solid #e3e3e3;
  padding: 15;
  padding-left: 0;
  overflow-y: scroll;
  height: 100vh;
}

.ant-layout {
  height: min-content;
  min-height: 100%;
  background-color: #ededed;
  font-family: adelle-sans, "Arial", sans-serif;
  -moz-font-feature-settings: "ss04";
  -webkit-font-feature-settings: "ss04";
  font-feature-settings: "ss04";
}

.sider-container {
  background-color: white;
  width: 360px;
}

.select-search__option {
  height: min-content;
  padding: 8px 16px 8px 16px;
}
