// Colors

$grey-darker: #303030
$grey-dark: #3f3f3f
$grey: #5b5b5b
$grey-light: #aaa
$grey-lighter: #f4f4f4
$white: #fff

$text-color: #0a0a0a

$blue: #42afe3
$green: #00c2a2
$connect-green: #97cd76
$orange: #f68b39
$purple: #847bb9
$red: #ed6c63
$turquoise: #1fc8db
$yellow: #fce473
$background: #eeeeee
$disabled: #bcbcbc

$primary: $green

// Typography

$family-sans-serif: "adelle-sans", "Arial", sans-serif
$family-monospace: "Roboto-mono", "Monaco", "Inconsolata", monospace

$size-1: 48px
$size-2: 40px
$size-3: 28px
$size-4: 24px
$size-5: 18px
$size-6: 14px

$size-7: 11px

$weight-title-normal: 300
$weight-title-bold: 500

// Breakpoints

$tablet: 769px
$desktop: 980px
$widescreen: 1180px

// Dimensions

$column-gap: 20px

$header-height: 65px

// Miscellaneous

$easing: ease-out
$radius: 3px
$speed: 86ms


@import "@node_modules/bulma/bulma.sass"
