%h2== Showing grammar rule ##{@grammar_rule.id}

%dl
  %dt Identifier
  %dd= @grammar_rule.identifier
  %dt Description
  %dd= markdown @grammar_rule.description
  %dt Practice lesson
  %dd= markdown @grammar_rule.practice_lesson
