.selected-activities-section {
  padding-top: 46px;
  h3 {
    font-size: 18px;
    font-weight: 700;
  }

  .selected-activities {
    display: table;
    border-bottom: none;
    background-color: white;
    .deselect-activity {
      padding-right: 7px;
      cursor: pointer;
    }
    tr {
      height: 55px;
      padding-right: 20px;
    }
    img {
      height: 20px;
    }
  }
}
