.selected-activities-section {
  padding-top: 46px;
  h3 {
    font-size: 18px;
  }

  .selected-activities {
    display: table;
    border-bottom: none;
    background-color: white;
    .deselect-activity {
      padding-right: 40px;
    }
    tr {
      height: 56;
    }
  }
}
