.selected-activities {
  tbody tr {
    td {
      &:first-child {
        width: 5%;
      }
      &:nth-child(2) {
        width: 90%;
      }
      &:last-child {
        width: 5%;
      }
    }
  }
}