.regex-inline-edit {
  max-width: fit-content;
  width: auto;
  background-color: lightgray;
  margin: 10px;
}

.add-regex-button {
  height: 30px;
  width: 30px;
  position: relative;
  border-width: 1px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  padding: 0px 0px;
  margin: 0px 0px;
  line-height: 1px;
  background-color: white;
  color: #404040;
  margin-top: 12px;
}
