---
http_interactions:
- request:
    method: get
    uri: https://staging.quill.org/api/v1/concepts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Platform-Spec:
      - https://github.com/interagent/http-api-design
      X-Api-Reference:
      - http://docs.empirical.org/api-reference/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c3954a398c47c29251db4873031cd73"'
    body:
      encoding: UTF-8
      string: '{"concepts":[{"id":251,"name":"Present Progressive","uid":"TPm4a19NUn2RlKLCbPbVUw","parent_id":248,"level":0},{"id":120,"name":"Greece","uid":"GPzZYKvZ2nSKmu7zC540bA","parent_id":118,"level":0},{"id":264,"name":"Razing","uid":"hwpKXxvFOKY6clYTptCCOg","parent_id":262,"level":0},{"id":209,"name":"May","uid":"A_fJ6-hHc1VoN-Xr1tgXQQ","parent_id":207,"level":0},{"id":151,"name":"Women","uid":"4j2fgvWBFhoKHkcATUIy1Q","parent_id":136,"level":0},{"id":253,"name":"Gender
        Pronoun Shift","uid":"uWZSSC8HtwOQra6wNbCLQQ","parent_id":252,"level":0},{"id":119,"name":"Grease","uid":"VEH-0IkrM3aqDJ0Rk-LYJQ","p[...]
