.carousel-enter {
  transform: translateX(1000px);
  opacity: 0.01;
}
.carousel-enter.carousel-enter-active {
  opacity: 1;
  // transition: opacity 0.2s ease-out;
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.carousel-leave {
  transform: translateX(0);
  opacity: 1;
  // transition: opacity 0.2s ease-in-out;
  transition: all 0.3s linear;

}
.carousel-leave.carousel-leave-active {
  transform: translateX(calc(1000px * -1));
  opacity: 0;

}

.feedback-carousel-enter {
  opacity: 0.01;
}
.feedback-carousel-enter.feedback-carousel-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;

}
.feedback-carousel-leave {
  display: none;
}
.feedback-carousel-leave.feedback-carousel-leave-active {
  display: none;
}

.feedback-flash-enter {
  opacity: 0.01;
}
.feedback-flash-enter.feedback-flash-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;

}
.feedback-flash-leave {
  display: none;
}
.feedback-flash-leave.feedback-flash-leave-active {
  display: none;
}

.spinner-container {
  text-align: center;
  padding: 5%;
  .spinner {
    height: 100px;
    -webkit-animation: rotation 0.75s infinite linear;
  }

  .spinner-message {
    margin-top: 1em;
    font-size: 24px;
    font-family: $family-monospace;
    color: $grey-darker;
  }

  @-webkit-keyframes rotation {
      from {-webkit-transform: rotate(0deg);}
      to   {-webkit-transform: rotate(359deg);}
  }
}
