@import 'classroom_lessons/student_static_page.scss';
@import 'classroom_lessons/_student_lobby_page.scss';
@import 'classroom_lessons/_play_lesson_container.scss';
@import 'classroom_lessons/_flagged_student_list.scss';
@import 'classroom_lessons/_script_items.scss';
@import 'classroom_lessons/_teacher_slide_container.scss';
@import 'classroom_lessons/_scalers.scss';
@import 'classroom_lessons/_teacher_navbar.scss';
@import 'classroom_lessons/_tooltip.scss';
@import 'classroom_lessons/_full_page_modal.scss';
@import 'classroom_lessons/_generic_student.scss';
@import 'classroom_lessons/_fill_in_the_blank.scss';
@import 'classroom_lessons/_teacher_model.scss';
@import 'classroom_lessons/_admin.scss';
@import 'classroom_lessons/_projector_modal.scss';
@import 'classroom_lessons/_preview_modal.scss';
@import 'classroom_lessons/_assigned_section.scss';
@import 'classroom_lessons/_flagged_student_completed.scss';
@import 'classroom_lessons/_congratulations_modal.scss';
@import 'classroom_lessons/_timeout_modal.scss';
@import 'classroom_lessons/_signup_modal.scss';
@import 'classroom_lessons/_single_answer.scss';
@import 'classroom_lessons/_instructions.scss';
@import 'classroom_lessons/_projector_header.scss';
@import 'classroom_lessons/_submitted_bar.scss';
@import 'classroom_lessons/_display_answers_divider.scss';
@import 'classroom_lessons/_prompt.scss';
@import 'classroom_lessons/_student_text_editor.scss';
@import 'classroom_lessons/_multistep.scss';

.teach-lesson-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  .side-bar {
    width: 460px;
    min-width: 460px;
    max-width: 460px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 5 15 20;
    overflow-y: scroll;
    border-right: solid 1px #e9e9e9;
    .slide-preview {
      background-color: white;
      height: 250px;
      margin-bottom: 7px;
      box-shadow: 0 1px 6px 2px #e9e9e9;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        box-shadow: 0 1px 6px 2px #cdcdcd;
      }
      &.active {
        border: solid 1px #00c2a2;
        box-shadow: 0 0 4px 3px rgba(58, 223, 187, 0.19);
      }
      .scaler {
        width: 960px;
        height: 900px;
        transform: scale(0.45, 0.45);
        transform-origin: top left;
        padding: 25px;
        pointer-events: none;
        .student-view {
          left: 35px !important;
          width: 400px !important;
        }
        &.lobby-scaler {
          height: 550px;
        }
      }
    }
    .sidebar-header {
      padding-top: 10px;
      font-family: $family-sans-serif;
      display: flex;
      justify-content: space-between;
      .present-students {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 155px;
        width: min-content;
        padding: 0px 10px;
        height: min-content;
        border-radius: 100px;
        background-color: #00c2a2;
        font-size: 11px;
        font-weight: bold;
        color: #ffffff;
        img {
          margin-right: 4px;
        }
        span {
          white-space: nowrap;
        }
      }
      .slide-number {
        width: 300px;
        cursor: pointer;
        color: #c0c0c0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        max-width: 300px;
        width: 100%;
        &.active {
          color: $green;
        }
    }
    }
  }

  .main-content {
    padding: 20px 30px 10px;
    width: 100%;
    max-width: 960px;
    overflow-y: scroll;
    .main-content-wrapper {
      margin-bottom: 80px;
      // width: 100%;
      // max-width: 900px;
    }
  }
}

.teacher-lobby {

  .lobby-header {
    margin-bottom: 40px;
    .unit-title {
      font-size: 18px;
      color: #969696;
      margin-bottom: 15px;
    }

    .lesson-title {
      font-size: 30px;
      color: #3b3b3b;
    }
  }

  .lobby-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .presence-container {
      min-width: 253px;
      border-radius: 3px;
      border: solid 1px #e9e9e9;
      margin-left: 35px;
      .presence-header {
        height: 54px;
        border-bottom: solid 1px #e9e9e9;
        background-color: #fafafa;
        p {
          font-size: 14px;
          text-align: left;
          color: #3b3b3b;
          line-height: 54px;
          margin-left: 15px;
        }
      }
      .presence-list-container {
        margin: 15px 15px 5px 15px;

        .presence-list-titles {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 12px;
          font-weight: 600;
          color: #969696;
        }
        ul {
          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 44px;
            line-height: 44px;
            border-bottom: solid 1px #e9e9e9;
            font-size: 16px;
            color: #3b3b3b;

            &:last-child {
              border-bottom: none;
            }

            div.online {
              height: 11px;
              width: 11px;
              border-radius: 11px;
              background-color: #82bf3c;
              margin: 0 15px;
            }

            div.offline {
              height: 11px;
              width: 11px;
              border-radius: 11px;
              background-color: #ff4441;
              margin: 0 15px;
            }
          }
        }
      }
    }
  }
}

.next-slide-button-container, .assign-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  button {
    height: 40px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    background-color: #00c2a2;
    color: white;
    border: none;
    box-shadow: none;
    font-weight: 800;
    cursor: pointer;
    &:hover {
      outline: none;
    }
  }
}

.next-slide-button-container span {
  font-size: 13px;
  font-style: italic;
  color: #c0c0c0;
  span {
    font-weight: 600;
  }
  button {
    margin-left: 15px;
  }
}

.lobby-text {
  border-radius: 3px;
  background-color: #f9f9f9;
  font-size: 18px;
  padding: 15 30;
  width: 100%;
  margin-bottom: 20px;
  hr {
    border: solid 1px #e9e9e9;
    margin: 15 0 20;
  }

  h4 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #e9e9e9;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  p {
    padding-bottom: 30px;
  }

}
