.landing-page-html {

  h3 {
    font-size: 28px;
    margin: 35px 0, 10px;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 22px;

    &:last-of-type {
      margin-bottom: 2em;
    }
  }

}

.landing-page-html-editor {

  h3 div span span {
    font-size: 28px;
    margin: 35px 0px 10px;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  p, div div span {
    font-size: 22px;

    &:last-of-type {
      margin-bottom: 2em;
    }
  }

}
