.display-answers-divider {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  .display-answers-divider-content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }
  button {
    width: 89px;
    background-color: white;
    border: #8e8e8e 2px solid;
    border-top: none;
    margin-top: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 0px 9px;
    color: #000;
  }
  &.prompt-showing {
    margin-top: 24px;
    border-top: #8e8e8e solid 2px;
    button {
      margin-top: -2px;
    }
  }
}

@media (max-width: 1000px) {
  .display-answers-divider {
    .display-answers-divider-content {
      padding: 0px 20px;
    }
  }
}
