.full-page-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #005341;

  .full-page-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    img {
      display: block;
      margin: auto;
      max-height: 270px;
      width: 100%;
    }
    h1 {
      margin-top: 40px;
      font-size: 36px;
      line-height: 1.17;
      font-weight: bold;
      color: $white;
      text-align: center;
    }
    h2 {
      font-size: 24px;
      line-height: 1.33;
      text-align: center;
      color: #e1f3f1;
      margin-top: 8px;
    }
    h1, h2 {
      padding: 0px 16px;
    }
    .quill-button {
      margin: 32px auto 0px;
      border: none;
    }
  }
}
