.prompt {
  font-size: 36px;
  text-align: left;
  margin: auto;
  margin-bottom: 22px;
}

.question-button-group {
  button {
    &.disabled {
      background-color: #f4f4f4;
      border: none;
    }
  }
}
