.student-feedback-container {
  margin: 24px 0px;
  border-radius: 4px;
  padding: 20px 16px;
  &.default {
    border: solid 2px #8e8e8e;
    background-color: #f2f2f2;
  }
  .feedback-row {
    p {
      font-size: 24px;
      line-height: 1.25;
      color: #000;
    }
    img {
      height: 32px;
      margin-top: 0px;
    }
  }
}

@media (max-width: 400px) {
  .student-feedback-container .feedback-row {
    p {
      font-size: 20px;
    }
    img {
      height: 24px;
    }
  }
}
