.projector-modal-container {

  .projector-modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #3f3f3f;
    opacity: 0.9;
  }

  .projector-modal {
    width: 650px;
    border-radius: 6px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    line-height: 1.56;
    .top-section {
      padding: 39px 35px;
      text-align: center;
      p {
        margin: 22px 0px;
      }
    }
    .bottom-section {
      padding: 20px 30px;
      text-align: left;
      width: 100%;
      background-color: #fafafa;
      border-top: 1px solid #e9e9e9;
      color: #666666;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      .bottom-section-header {
        font-weight: bold;
        margin-bottom: 15px;
      }
      .list-header {
        font-weight: 600;
      }
      .list {
        margin-bottom: 15px;
      }
      .list-item {
        font-size: 14px;
      }
      .list-container {
        display: flex;
      }
      .mac-list {
        padding-left: 30px;
      }
      .windows-list {
        width: 332px;
      }
    }
    .exit {
      right: 12px;
      top: 12px;
      position: absolute;
      cursor: pointer;
    }
    .illustration {
      margin-bottom: 20px;
    }
    span {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      font-weight: 600px;
      color: #000000;
    }

    p {
      font-size: 16px;
      span {
        font-weight: bold;
      }
    }

    button:not(.exit) {
      width: 147px;
    	height: 40px;
    	border-radius: 3px;
    	background-color: #00c2a2;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      margin-top: 8px;
    }

    // a {
    //   margin-top: 15px;
    //   margin-bottom: 40px;
    //   font-size: 16px;
    //   font-weight: 600;
    //   color: #027360;
    // }

    .follow-instructions {
      font-weight: 600;
    }
  }

}
