.student-slide-wrapper {
  .prompt {
    line-height: 1.53;
  }
  .sentence-fragments {
    line-height: 1.27;
  }
  .prompt, .sentence-fragments {
    font-size: 30px;
    color: #000;
    margin: 40px 0px 24px;
    //display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
    @media (max-width: 400px) {
      margin: 24px 0px;
    }
  }
}
