.signup-modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.89;
	background-color: #3f3f3f;
}
.signup-modal {
  width: 551px;
  height: 600px;
  border-radius: 6px;
  background-color: #ffffff;
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  .exit {
    cursor: pointer;
    right: 12px;
    top: 12px;
    position: absolute;
  }
  .illustration {
    margin-bottom: 35px;
    height: 160;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #3b3b3b;
  }
  p {
    margin: 20;
    font-size: 16px;
    span {
      font-weight: bold;
    }
  }
  button:not(.interactive-wrapper) {
    width: 237px;
    height: 40px;
    border-radius: 3px;
    background-color: #00c2a2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin: 30 0 15;
    cursor: pointer;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    color: #027360;
    i {
      margin-top: 3px;
      margin-left: 8px;
      font-size: 14;
    }
  }
}
