.teacher-single-answer, .teacher-static, .teacher-exit {
  .header {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      span {
        font-weight: 600;
      }
    }
    p {
      font-weight: 600;
      color: #027360;
      cursor: pointer;
      padding-top: 13px;
    }
  }
}
