<%# TODO: put real copy in here %>

<p>Hi <%= @user.first_name %></p>,

<p>Follow the link below to find the lesson plan for <%= @lesson.name %></p>

<a href=<%=@lesson.supporting_info%>>Lesson Plan</a>
