<p>Hi Amr and Becca,</p>

<p><%=@user.name%> just purchased school premium, but needs the school to be linked to their account or added to the database. Their email is <%=@user.email%>.</p>

<p>Thanks!</p>
