<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <!-- NAME: 1 COLUMN -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>*|MC:SUBJECT|*</title>

        <%= stylesheet_link_tag 'sign_up_email' %>
   </head>
    <body>
      <div class='header'>
        <div class='main-width'>
          <img src='https://ci5.googleusercontent.com/proxy/a4zYv3v3GQLqWWSoJdISs5xG3WfVtDrsdOjmF7FYlzR1Uxl3DLKYJDguWOe0-RwKbs1b2kdz8Rp2SQYyEmnTmY4MooTpM_eJ-6guOtGlFt6NlXe0Bnq9dns-h7K-LPOzHXinrPHox5o0YA7AIdoHL5OUk40cBgojm4HuN-U=s0-d-e1-ft#https://gallery.mailchimp.com/6efffadd89fc71ad0ca41dc4d/images/ad694fbe-b270-4348-b9c1-3f43f848e6b1.png'/>
        </div>
      </div>
      <div class='container main-width'>
        <div class='section'>
          <div class='title'>
            Welcome to Quill!
          </div>
          <div class='content'>
            Quill provides over 150 free writing and grammar activities that are built directly from the Common Core! To find the perfect activity, click the button below to sign in to your profile.
          </div>
          <a class='btn' href='https://www.quill.org/session/new'>
            Sign in here
          </a>
        </div>
        <div class='section'>
          <div class='title'>
            Explore Popular Activities
          </div>
          <div class='content'>
            <div class='content-section'>
              Some of our more popular activities include:
            </div>
            <div class='activities'>
              <a href='https://www.quill.org/activities/183?anonymous=true'>1.2a: Capitalize Dates and Names of People</a>
              <a href='https://www.quill.org/activities/180?anonymous=true'>3.2c: Use Commas and Quotation Marks in Dialogue</a>
              <a href='https://www.quill.org/activities/67?anonymous=true'>4.1g: Commonly Confused Words</a>
            </div>
            <div class='content-section'>
              Click below to see our full list of activities!
            </div>
          </div>
          <a class='btn' href='https://www.quill.org/lessons'>
            View our Lessons
          </a>
        </div>
        <div class='section'>
          <div class='title'>
            Connect With Us
          </div>
          <div class='content'>
            <div class='content-section'>
              We’re here to help! Contact Elliot at elliot@quill.org with questions. He’ll get back to you promptly!
            </div>
            <div class='content-section'>
              For help setting up your class, please see our getting started guide.
            </div>
          </div>
          <a class='btn' href='http://support.quill.org/knowledgebase/topics/55638-getting-started'>
            Getting Started Guide
          </a>
        </div>
        <div class='section'>
          <div class='title'>
            About Quill
          </div>
          <div class='content'>
            Quill is a nonprofit, open source organization. Over 100 educators and developers have contributed code and activities.
          </div>
          <a class='btn' href='https://www.quill.org/mission'>
            Learn About Our Mission
          </a>
        </div>
    </body>
</html>
