%html
	%head
		%title Empirical Grammar
	%body
		%h1 Welcome to Empirical Grammar!
		%p Email: #{@user.email}
		%p Please choose a password your first time logging in.
		%p To activate your account, please visit this url:
		%p= @url
		%h3 Thank you!