h1 Welcome to Quill!

p We are building an open source, community-driven grammar tool. Thank you for signing up!
p #{link_to 'Click here to go to your profile', 'http://www.quill.org/profile'}.

p
  i Teachers, from your profile page is a class code, such as “Blue-Cow”. When your students create an account they plug the class code into their profile to join your class. You can then assign grammar lessons to your students by clicking the <b>Assign Lesson</b> button and setting a due date.

h2 Learn More!
p You can learn more about Quill here: #{link_to 'Learn more', 'http://www.quill.org/mission'}.

h2 Get Involved!
p We are currently in our beta testing phase, and we would very much appreciate your thoughts on how we can improve Quill. Critical feedback is appreciated! #{link_to 'Click here', 'http://www.quill.org/develop'}.

h2 Contact us!
p Please share your questions and comments with us: #{mail_to 'hello@quill.org'}.
br

p
  i Sincerely,
  div The Quill Team
  div #{link_to 'Learn More About Empirical', 'http://www.quill.org/about'}.
