<ul>
  <li>
    <p>EXPLORE ACTIVITIES</p>
  </li>
  <li>
    <a href="/assign/diagnostic">Diagnostics</a>
  </li>
  <li>
    <a href="/assign/activity-type">Featured Activity Packs</a>
  </li>
  <li>
    <a href="/assign/activity-library">Activity Library</a>
  </li>
  <li>
    <a href="/assign/college-board">Pre-AP, AP, and Springboard Activities</a>
  </li>
</ul>
