<div class="subnav">
  <div class="container">
  <% tabs = [
    {name: 'Featured Activities', url: 'activities/packs'},
    {name: 'Pre-AP Activities', url: 'preap'},
    {name: 'AP Activities', url: 'ap'},
    {name: 'ELA Standards', url: 'activities/standard_level/7'},
  ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>


  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

  </div>
</div>
