<ul>
  <li>
    <p>EXPLORE CURRICULUM</p>
  </li>
  <li>
    <a href="/activities/packs">Featured Activity Packs</a>
  </li>
  <li>
    <a href="/ap">AP Activities</a>
  </li>
  <li>
    <a href="/preap">Pre-AP Activities</a>
  </li>
  <li>
    <a href="/springboard">SpringBoard Activities</a>
  </li>
  <li>
    <a href="/activities/section/7">ELA Standards</a>
  </li>
</ul>
