<% if show_site_navigation? %>
  <%= render partial: 'application/premium_footer' %>
  <footer class="home-footer">
    <div class="footer-navigation">
      <ul>
        <li>
          <p>LEARNING TOOLS</p>
        </li>
        <li>
          <a href="/tools/connect">Quill Connect</a>
        </li>
        <li>
          <a href="/tools/lessons">Quill Lessons</a>
        </li>
        <li>
          <a href="/tools/diagnostic">Quill Diagnostic</a>
        </li>
        <li>
          <a href="/tools/proofreader">Quill Proofreader</a>
        </li>
        <li>
          <a href="/tools/grammar">Quill Grammar</a>
        </li>
        <li>
          <a href="/tools/evidence">Quill Reading for Evidence</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>EXPLORE CURRICULUM</p>
        </li>
        <li>
          <a href="/activities/packs">Featured Activity Packs</a>
        </li>
        <li>
          <a href="/ap">AP Activities</a>
        </li>
        <li>
          <a href="/preap">Pre-AP Activities</a>
        </li>
        <li>
          <a href="/springboard">SpringBoard Activities</a>
        </li>
        <li>
          <a href="/activities/section/7">ELA Standards</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>TEACHER CENTER</p>
        </li>
        <li>
          <a href="/teacher-center">All Resources</a>
        </li>
        <li>
          <a href="/tools/evidence">Reading Comprehension</a>
        </li>
        <li>
          <a href="/teacher-center/topic/getting_started">Getting Started</a>
        </li>
        <li>
          <a href="/teacher-center/topic/video-tutorials">Video Tutorials</a>
        </li>
        <li>
          <a href="/teacher-center/topic/best-practices">Best Practices</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
      </ul>
      <ul>
        <li>
          <p>ABOUT US</p>
        </li>
        <li>
          <a href="/about">About Us</a>
        </li>
        <li>
          <a href="/impact">Impact</a>
        </li>
        <li>
          <a href="/pathways">Pathways Initiative</a>
        </li>
        <li>
          <a href="/team">Team</a>
        </li>
        <li>
          <a href="/careers">Careers</a>
        </li>
        <li>
          <a href="/press">Press</a>
        </li>
      </ul>
    </div>
    <div class="partners-footer">
      <p>Quill is a free literacy tool powered by an open source, non-profit community of educators and developers.</p>
      <a href="/about">
        <div class="partner-links">
          <img class="lazyload" src="https://assets.quill.org/images/homepage/gates_logo.svg" alt='Gates Foundation Logo'/>
          <img class="lazyload" src="https://assets.quill.org/images/homepage/google_logo.svg" alt='Google.org Logo'/>
          <img class="lazyload" src="https://assets.quill.org/images/homepage/footer-att.svg" alt='AT&T Logo'/>
          <img class="lazyload" src="https://assets.quill.org/images/homepage/footer-fast-forward.svg" alt='Fast Forward Logo'/>
          <img class="lazyload" src="https://assets.quill.org/images/homepage/footer-nbc.svg" alt='NBC Logo'/>
          <img class="lazyload" src="https://assets.quill.org/images/homepage/footer-robin-hood.svg" alt='Robinhood Logo'/>
        </div>
      </a>
    </div>
    <div class="privacy-and-social flex-row space-between vertically-centered">
      <div class="pas-left flex-row">
        <p>© <%= Time.new.year %> Quill</p>
        <p>Quill is 501(c)(3) nonprofit organization</p>
        <a href="/tos">Terms</a>
        <a href="/privacy">Privacy</a>
        <a>hello@quill.org</a>
        <a href="tel:510-671-0222">510-671-0222</a>
      </div>
      <div class="pas-right flex-row">
        <a rel="noopener noreferrer" target="_blank" href="http://twitter.com/Quill_org"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/channel/UCG9mgvktG6vxp7XoYEJTiaw/videos?flow=list&view=0&sort=dd&live_view=500"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" target="_blank" href="https://facebook.com/quill.org"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a rel="noopener noreferrer" target="_blank" href="http://instagram.com/quill_org/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      </div>
      <p class="cb-disclaimer">College Board, AP, Pre-AP, and the acorn logo are registered trademarks of College Board.<p>
    </div>
  </footer>
<% end %>
