<div class="about-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
      			<li><%= link_to "Testimonials", impact_path, class: subtab_class("impact") %> </li>
      			<li><%= link_to "Stats", stats_path, class: subtab_class("stats") %> </li>
						<li><%= link_to "Map", map_path, class: subtab_class("map") %> </li> 
		</ul>
	</div>
</div>
