<script>
document.addEventListener('keydown', function(e) {
  if (e.keyCode === 9) {
    $('body').addClass('show-focus');
  }
});
document.addEventListener('click', function(e) {
  console.log("clicked")
  $('body').removeClass('show-focus');
});
</script>
<span id='user-logged-in' data-signed-in= <%= !!current_user%>>
<div id="first-preview-section">
<%= react_component('PremiumPricingGuideApp', props: {lastFour: @last_four, userHasSchool: @user_has_school, userIsEligibleForNewSubscription: @user_is_eligible_for_new_subscription, userIsEligibleForTrial: @user_is_eligible_for_trial, userBelongsToSchoolThatHasPaid: @user_belongs_to_school_that_has_paid}) %>
</div>
