<div class="subnav teacher-center-navbar">
  <div class="container">
    <% if current_user&.role == 'student' %>
      <% tabs = [
        {name: 'All resources', url: 'student-center'},
        {name: BlogPost::GETTING_STARTED, url: 'student-center/topic/student-getting-started'},
        {name: 'How to', url: 'student-center/topic/student-how-to'},
      ]
        @tabs = tabs
        @mobile = false
      %>

      <div class="full-screen">
        <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
      </div>

      <% tabs = [
        {name: 'All', url: 'student-center'},
        {name: BlogPost::GETTING_STARTED, url: 'student-center/topic/student-getting-started'},
        {name: 'How to', url: 'student-center/topic/student-how-to'},
      ]
      @tabs = tabs
      if @active_tab == 'All resources'
        @active_tab = 'All'
      end
      %>
      <div class="small-screen">
        <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
      </div>

    <% else %>

      <% tabs = [
        {name: 'All resources', url: 'teacher-center'},
        {name: BlogPost::GETTING_STARTED, url: 'teacher-center/topic/getting-started'},
        {name: BlogPost::TEACHER_STORIES, url: 'teacher-center/topic/teacher-stories'},
        {name: BlogPost::WRITING_INSTRUCTION_RESEARCH, url: 'teacher-center/topic/writing-instruction-research'},
        {name: 'FAQ', url: 'faq'},
        {name: 'Premium', url: 'premium'},
      ]
        @tabs = tabs
        @mobile = false
      %>

      <div class="full-screen">
        <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
      </div>

      <% tabs = [
        {name: 'All', url: 'teacher-center'},
        {name: BlogPost::GETTING_STARTED, url: 'teacher-center/topic/getting-started'},
        {name: BlogPost::TEACHER_STORIES, url: 'teacher-center/topic/teacher-stories'},
        {name: 'Research', url: 'teacher-center/topic/writing-instruction-research'},
        {name: 'FAQ', url: 'faq'},
        {name: 'Premium', url: 'premium'},
      ]
      @tabs = tabs
      if @active_tab == 'All resources'
        @active_tab = 'All'
      elsif @active_tab == BlogPost::WRITING_INSTRUCTION_RESEARCH
        @active_tab = 'Research'
      end
      %>
      <div class="small-screen">
        <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
      </div>
    <% end%>

  </div>
</div>
