<ul>
  <li>
    <p>TEACHER DASHBOARD</p>
  </li>
  <li>
    <a href="/assign">Assign Activities</a>
  </li>
  <li>
    <a href="/teachers/classrooms">My Classes</a>
  </li>
  <li>
    <a href="/teachers/classrooms/activity_planner">My Activities</a>
  </li>
  <li>
    <a href="/teachers/progress_reports/landing_page">My Student Reports</a>
  </li>
</ul>
