<div class="subnav teacher-center-navbar">
  <div class="container">
  <% tabs = [
    {name: 'All Resources', url: 'teacher-center'},
    {name: 'Getting Started', url: 'teacher-center/topic/getting-started'},
    {name: 'Teacher Stories', url: 'teacher-center/topic/teacher-stories'},
    {name: 'Writing Instruction Research', url: 'teacher-center/topic/writing-instruction-research'},
    {name: 'FAQ', url: 'faq'},
    {name: 'Premium', url: 'premium'},
  ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>

  <% tabs = [
    {name: 'All', url: 'teacher-center'},
    {name: 'Getting Started', url: 'teacher-center/topic/getting-started'},
    {name: 'Teacher Stories', url: 'teacher-center/topic/teacher-stories'},
    {name: 'Research', url: 'teacher-center/topic/writing-instruction-research'},
    {name: 'FAQ', url: 'faq'},
    {name: 'Premium', url: 'premium'},
  ]
  @tabs = tabs
  if @active_tab == 'All Resources'
    @active_tab = 'All'
  elsif @active_tab == 'Writing Instruction Research'
    @active_tab = 'Research'
  end
  %>
  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

  </div>
</div>
