<div class="subnav tools-navbar">
  <% @tabs = [
      {
        name: 'Quill Connect',
        url: 'tools/connect',
        id: 'connect'
      },
      {
        name: 'Quill Lessons',
        url: 'tools/lessons',
        id: 'lessons'
      },
      {
        name: 'Quill Diagnostic',
        url: 'tools/diagnostic',
        id: 'diagnostic'
      },
      {
        name: 'Quill Proofreader',
        url: 'tools/proofreader',
        id: 'proofreader'
      },
      {
        name: 'Quill Grammar',
        url: 'tools/grammar',
        id: 'grammar'
      },
      {
        name: 'Quill Reading for Evidence',
        url: 'tools/evidence',
        id: 'evidence'
      }
    ]
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>

  <%
    @active_tab = @active_tab.split.last
    @tabs = [
        {
          name: 'Connect',
          url: 'tools/connect',
          id: 'connect'
        },
        {
          name: 'Lessons',
          url: 'tools/lessons',
          id: 'lessons'
        },
        {
          name: 'Diagnostic',
          url: 'tools/diagnostic',
          id: 'diagnostic'
        },
        {
          name: 'Proofreader',
          url: 'tools/proofreader',
          id: 'proofreader'
        },
        {
          name: 'Grammar',
          url: 'tools/grammar',
          id: 'grammar'
        },
        {
          name: 'Evidence',
          url: 'tools/evidence',
          id: 'evidence'
        }
      ]
      @mobile = false
  %>

  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

</div>
