<% if current_user.school_or_district_premium? %>
  <div class='quill-academy-button-or-info-section'>
    <img src='https://assets.quill.org/images/quill_academy/quill-academy-icon.svg'></img>
    <h2>Quill Academy</h2>
    <p class='subheader'>Access a growing library of self-paced training courses and resources to help you become a <u>Quill.org</u> expert and writing pedagogue.</p>
    <button class='quill-button primary contained medium focus-on-light disabled' disabled>Coming Soon</button>
  </div>
<% else %>
  <div class='quill-academy-button-or-info-section'>
    <img src='https://assets.quill.org/images/quill_academy/quill-academy-icon.svg'></img>
    <h2>Quill Academy</h2>
    <p class='subheader'>Access a growing library of self-paced training courses and resources to help you become a <u>Quill.org</u> expert and writing pedagogue.</p>
    <a class='quill-button primary contained medium focus-on-light' href='/premium' tabIndex=0 target='_blank'>Learn more about Premium</a>
  </div>
<% end %>
