.newline-error {
  color:red;
  clear:both;
  margin-bottom: 20px;
}


.account-form {

  .sign_up_select_role {
    text-align: center;
    button {
      font-size: 1.3em;
      margin-bottom: 30px;
    }
  }

  .form-label {
    margin-bottom: 10px;
  }


  margin-bottom: 100px;

  a {
    color: $darkgreen;
  }

  .field_and_error {
    width: 100%;
    float:left;
    clear:both;
    input {
      clear: none;
      width: 60%;
      margin-right: 20px;
    }
    .inline-error {
      clear:none;
      color: $red;
      //width: 20%;
    }
  }
  .field_and_newline_error {
    input, label {
      margin-bottom: none;
      clear:none;
    }
    .checkbox_and_label {
      width: 100%;
      float:left;
      clear:both;
    }
    .newline-error {
    }

  }

  .error {
    padding: 10px;
  }

  .zipcode input{
    width: 25%;
  }

  h3, h4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  label, input, a.newline {
    float:left;
    clear:both;
    margin-bottom: 20px;
  }
  a.select2-choice {
    margin-bottom: 0px !important;
  }
  input {
    //min-width: 300px;
    width: 100%;
  }
  input[type='submit'] {
    background-color: $quillgreen;
    color: $white;
  }
  input[type='radio'], input[type='radio'] + label {
    max-width: 40px;
    clear:none;
  }
  input[type='checkbox'] {
    clear:left;
    max-width: 10%;
  }
  input[type='checkbox'] + label {
    clear:right;
    max-width: 90%;
  }

  input[type='radio'] + label {
    max-width: 200px;
    margin-right: 40px;
  }

  label a {
    clear:none;
    float:none;
  }

  .error {
    //margin-top: 20px;
    color: $red;
  }
  .margin-top {
    margin-top: 20px;
  }
}