.newline-error {
  color:red;
  clear:both;
  margin-bottom: 20px;
}


.google-sign-up,
.google-sign-in,
.clever-sign-in,
.clever-sign-up {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  cursor: pointer;
}

.google-sign-up,
.clever-sign-up {
  margin: 8px;
  margin-bottom: 20px;
}


.google-sign-in {
  background-image: image-url('accounts/google_sign_in.svg');
}

.clever-sign-in {
  background-image: image-url('accounts/clever_sign_in.svg');
}

.account-form {

  margin-bottom: 100px;

  a {
    color: $darkgreen;
  }

  label a {
    clear:none;
    float:none;
  }

  h3, h4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  button {
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  label, input {
    float:left;
    clear:both;
    margin-bottom: 20px;
  }

  input {
    /*min-width: 300px;*/
    width: 100%;
  }
  input[type='submit'] {
    background-color: $quillgreen;
    color: $white;
  }
  input[type='radio'], input[type='radio'] + label {
    max-width: 40px;
    clear:none;
  }
  input[type='checkbox'] {
    clear:left;
    max-width: 10%;
  }
  input[type='checkbox'] + label {
    clear:right;
    max-width: 90%;
  }

  input[type='radio'] + label {
    max-width: 200px;
    margin-right: 40px;
  }

  .button-grey {
    color: $white;
  }

  .form-label {
    // text-align: center;
    margin-bottom: 10px;
  }

  .error {
    padding: 10px;
    color: $red;
  }

  .sign-up-header {
    text-align: center;
    margin-bottom: 30px;
  }

  #select-school {
    color: #b2b2b2;
    max-width: 397px;
    margin-bottom: 35px;
  }

  .sign_up_select_role, .educator-type {
    text-align: center;
    div:last-of-type{
      margin: 'auto';
      color: #646464;
    }
    h3 {margin-bottom: 35px;}
    .option-wrapper {
      max-width: 66%;
      margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
      .button-green {
        width: 128px;
        margin-left: 22px;
        margin-right: 22px;
      }
    }
    .option-wrapper.non-us {
      .button-green{
          width: 170px;
      }
    }
  }

  .support-p {
    margin-bottom: 13px;
  }

  .need-a-border {
    margin-top: 13px;
    margin-bottom: 25px;
    border-bottom: solid 1px #cecece;
    max-width: 460px;
  }

  .text-align-center {
    text-align: center;
  }

  .tos-line {
    text-align: center;
    float:left;
    clear:both;
  }

  .zipcode input{
    width: 25%;
  }

  a.newline {
    float:left;
    clear:both;
    margin-bottom: 20px;
  }

  .school_not_listed {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .select_school_button {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .sign-in-header {
    .form-label {
      text-align: left;
    }
      .need-a-border {
        margin: 0 auto;
        margin-top: 15px;
      }
      h3 {
        margin-bottom: 18px;
        margin-top: 30px;
      }
      span a {
        margin: 7px;
        margin-bottom: 13px;
      }
       p {
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
    .new-teach-form-fields .form-fields {
      text-align: left;
    }
}
