.newline-error {
  color:red;
  clear:both;
  margin-bottom: 20px;
}

.auth-section {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  max-width: 415px;
  width: 100%;
  margin: auto;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  .google-login,
  .clever-login,
  .clever-sign-up,
  .google-sign-up {
    width: 198.1px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 #c0c0c0;
    font-family: Roboto, adelle-sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    margin: 0 auto 15px;
  }
  .clever-sign-up,
  .google-sign-up {
    padding: 0 20 1 10;
  }
  .clever-login,
  .google-login {
    padding: 0 30 1 10;
  }

}

.google-sign-in {
  background-image: image-url('accounts/google_sign_in.svg');
}

.clever-sign-in {
  background-image: image-url('accounts/clever_sign_in.svg');
}

.account-form {

  .login-form,
  .new-teacher-account,
  .new-student-account {
    max-width: 460px;
    width: 90%;
    margin: auto;
  }

  .login-form {
    label {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .login-button {
      font-weight: bold;
    }
    .login-password {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      border: solid 1px #d4d4d4;
      border-radius: 5px;
      input {
        margin: 0;
        border: none;
        border-radius: 5px 0 0 5px;
      }
      div {
        cursor: default;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        width: 65px;
        color: white;
        background-color: $quillgreen;
        margin: 0;
        padding: 9px;
        font-weight: bold;
        border-radius: 0 5px 5px 0;
      }
      .showing-password {
        background-color: $darkgreen;
      }
    }

  }

  margin-bottom: 100px;

  a {
    color: $darkgreen;
  }

  label a {
    clear:none;
    float:none;
  }

  h3, h4 {
    margin-top: 21px;
  }

  button {
    font-size: 1.3em;
    margin-bottom: 30px;
  }

  label, input {
    float:left;
    clear:both;
    margin-bottom: 20px;
  }

  input {
    /*min-width: 300px;*/
    width: 100%;
  }
  input[type='submit'] {
    background-color: $quillgreen;
    color: $white;
    font-weight: bold;
  }
  input[type='radio'], input[type='radio'] + label {
    max-width: 40px;
    clear:none;
  }
  input[type='checkbox'] {
    clear:left;
    max-width: 10%;
  }
  input[type='checkbox'] + label {
    clear:right;
    max-width: 90%;
  }

  input[type='radio'] + label {
    max-width: 200px;
    margin-right: 40px;
  }

  input[name='zip'] {
    max-width: 150px;
    float: none;
  }

  .button-grey {
    color: $white;
  }

  .form-label {
    // text-align: center;
    margin-bottom: 10px;
  }

  .error {
    padding: 10px;
    color: $red;
  }

  .sign-up-header {
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
    @media (max-width: 400px) {
      font-size: 21px;
    }
  }

  .sign-up-button {
    width: 100%;

  }

  #select-school {
    color: #b2b2b2;
    max-width: 397px;
    margin-bottom: 35px;
  }

  .sign_up_select_role, .educator-type {
    text-align: center;
    div:last-of-type{
      margin: 'auto';
      color: #646464;
    }
    h3 {margin-bottom: 35px;}
    .option-wrapper {
      max-width: 66%;
      margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
      .button-green {
        width: 128px;
        margin-left: 22px;
        margin-right: 22px;
      }
    }
    .option-wrapper.non-us {
      .button-green{
          width: 170px;
      }
    }
  }


  .support-p {
    margin-bottom: 13px;
    font-size: 16px;
  }

  .need-a-border {
    max-width: 460px;
    margin: 13px auto 25px;
    border-bottom: solid 1px #cecece;
  }

  .text-align-center {
    text-align: center;
  }

  .tos-line {
    text-align: center;
    float:left;
    clear:both;
  }


  a.newline {
    float:left;
    clear:both;
    margin-bottom: 20px;
  }

  .school_not_listed {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .select_school_button {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .sign-in-header {
    .form-label {
      text-align: left;
    }
      .need-a-border {
        margin: 0 auto;
        margin-top: 15px;
      }
      h3 {
        margin-bottom: 18px;
        margin-top: 30px;
      }
      span a {
        margin: 7px;
        margin-bottom: 13px;
      }
       p {
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
    .new-teach-form-fields .form-fields {
      text-align: left;
    }
}
