// Used on activity iframe
.firewall-test-image {
  display: none;
}

.firewall-warning {
  padding: 15px;
}

.activity-form {
  margin: 0 -15px;
  iframe {
    border: none;
    width: 100%;
    min-height: 750px;
  }
}
