#archived_classrooms_manager {
  max-width: 990px;
  padding: 20px;
  margin: 0 auto;
  .archive-options-container {
    margin-bottom: 31px;
    p {
      max-width: 400px;
      margin-right: 10px;
    }
    a {
      height: 40px;
      border: solid 1px #979797;
      font-size: 16px;
      width: 180px;
      &.q-button.cta-button {
        padding: 9px 33px 8px
      }
    }
  }
  .notification-bar {
    margin-bottom: 40px;
  }
  .action-container {
    img {
      max-height: 20px;
    }
  }
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    position: relative;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .table {
    max-width: 950px;
    width: 100%;
    border: solid 1px #cecece;
    background-color: white;
    font-size: 14px;
    margin-bottom: 30px;
    thead {
      background-color: #e6e6e6;
    }
    td {
      width: 30%;
      i {
        padding-right: 10px;
        font-size: 10px;
      }
    }
    tr td:last-of-type, .manage-class {
      text-align: right;
      color: #027360;
      cursor: pointer;
      padding-right: 13px;
      min-width: 117px;
      span {
        float: right;
      }
      .spinner-container {
        margin: 0;
        margin-right: 5px;
        padding: 0;
      }
    }
  }
  .teacher {
    td {
      width: 18%;
    }
    @media (max-width: 900px) {
      .student-count, .created-date {
        display: none;
      }
    }
  }
}

.invite-coteachers {
  border-top: solid 1px #e9e9e9;
  padding-top: 43px;
  .instructions {
    padding-bottom: 30px;
  }
  .bold {
    font-weight: 600;
  }
  p {
    font-size: 16px;
  }
  th {
    font-size: 16px;
    font-weight: 400;
  }
}
#coteacher-capability-chart {
  background-color: #fff3df;
  padding: 14px 22px;
  h1 {
    font-size: 18px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-right: 100px;
    li {
      padding-left: 11px;
      font-size: 14px;
	    color: #3b3b3b;
      span {
        padding-left: 13px;
      }
    }
    li:before {
      content: "\f00c"; /* FontAwesome Unicode for check */
      color: #82bf3c;
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -11px; /* same as padding-left set on li */
      width: 11px; /* same as padding-left set on li */
      padding-right: 24px;
    }
    .cant-do:before {
      color: #ff4542;
      content: "\f00d"; /* FontAwesome Unicode for X */
    }
  }

}
