#archived_classrooms_manager {
  max-width: 990px;
  padding: 20px;
  margin: 0 auto;
  .archive-options-container {
    margin-bottom: 31px;
    p {
      max-width: 400px;
      margin-right: 10px;
    }
    a {
      height: 40px;
      border: solid 1px #979797;
      font-size: 16px;
      width: 180px;
      &.q-button.cta-button {
        padding: 9px 33px 8px
      }
    }
  }
  .notification-bar {
    margin-bottom: 40px;
  }
  .action-container {
    img {
      max-height: 20px;
    }
  }
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    position: relative;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .table {
    border: solid 1px #cecece;
    background-color: white;
    font-size: 14px;
    margin-bottom: 30px;
    thead {
      background-color: #e6e6e6;
    }
    td {
      width: 30%;
    }
    tr td:last-of-type, .manage-class {
      text-align: right;
      color: #027360;
      cursor: pointer;
      padding-right: 13px;
      min-width: 117px;
      span {
        float: right;
      }
      .spinner-container {
        margin: 0;
        margin-right: 5px;
        padding: 0;
      }
    }
  }
  .teacher {
    td {
      width: 18%;
    }
    @media (max-width: 900px) {
      .student-count, .created-date {
        display: none;
      }
    }
  }
}
