.assign-dates {
  padding-bottom: 80px;
  table {
    margin-top: 20px;
    border-collapse: separate;
    margin-bottom: 0;
    tbody {
      background: #f7f5f5;
      border: 1px solid $lightgray;
      tr {
        &:first-child td {
          &:first-child {
            border-top-left-radius: 5px;
          }
          &:last-child {
            border-top-right-radius: 5px;
          }
        }
        &:last-child td {
          border-bottom: 1px solid $lightgray;
          &:first-child {
            border-bottom-left-radius: 5px;
          }
          &:last-child {
            border-bottom-right-radius: 5px;
          }
        }
        th {
          border-left: 1px solid $lightgray;
          border-bottom: none;
          border-top: 1px solid $lightgray;
          cursor: pointer;
          transition: 0.1s ease-out;
          -moz-transition: 0.1s ease-out;
          -webkit-transition: 0.1s ease-out;
          .fa {
            float: right;
            color: $color_tapa_approx;
            font-size: 1.3em;
          }
          &.active {
            background: $verylightgray;
          }
        }
        td {
          &:nth-child(1) {
            width: 5%;
            text-align: center;
          }
          &:nth-child(2) {
            width: 80%;
            text-align: left;
          }
          &:nth-child(3) {
            width: 10%;
          }
          &:nth-child(4) {
            width: 5%;
            border-right: 1px solid $lightgray;
          }
          font-size: 14px;
          padding: 7px;
          &:nth-child(1) {
            text-align: center;
            border-left: 1px solid $lightgray;
          }
          &:nth-child(2) {
            text-align: left !important;
          }
          &:nth-child(3) {
            text-align: left;
          }
          &:nth-child(4) {
            text-align: right;
          }
        }
        background: #f7f5f5;
      }
    }
  }
  .table > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      vertical-align: middle;
    }
  }
  button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}