#assign-new-activity-page, #assign-a-diagnostic-page {
  a {
    text-decoration: none;
  }
    h1 {
      font-size: 24px;
font-weight: 600;
margin-top: 30px;
    }
    .minis {
      max-width: 1020px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-around;
      flex-wrap: wrap;
      padding: 40px 20px 40px 20px;
      margin: auto;
       .assignment-type-mini {
            color: #333333;
             font-size: 12px;
            min-width: 300px;
            width: 300px;
            height: 270px;
            background: #fff;
            border: solid 1px #cecece;
            padding: 10px;
            margin-bottom: 40px;
            cursor: pointer;
            h3 {
              font-size: 19px;
          font-weight: 600;
          line-height: 1.25;
          margin-top: 7px;
            }
            img {
              padding: 20px;
min-height: 112px;
            }
            &:hover {
                outline: solid 2.5px #00c2a2;
            }
            p {
              font-size: 14px;
              line-height: 1.57;
              margin-bottom: 10px;
            }
            .meta-info-wrapper {
              padding-top: 8px;
                border-top: solid 1px #cecece;
                    line-height: 1.7;
            }
            .directions {
                color: #868686;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.launching-soon-mini {
  color: #969696;
  font-size: 12px;
  min-width: 300px;
  width: 300px;
  height: 270px;
  border: dashed 1px #cecece;
  padding: 10px;
  margin-bottom: 40px;
  cursor: default;
  p {
    font-size: 14px;
  }
  h3 {
    font-weight: 600;
    font-size: 19px;
    margin-top: 35px;
  }
  .titles {
    margin-top: 27px;
    margin-bottom: 22px;
    p {
      font-weight: 600;
    }
  }
}

.activity-filter.button-row {
  padding: 0;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  button {
    padding: 10px;
    width: 180px;
    height: 75px;
    box-sizing:border-box;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #cecece;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 12px;
    div:first-of-type {
      width: 30px;
    }
    div:last-of-type {
      margin-left: 8px;
      text-align: left;
      width: 160px;
    }
    &:hover, &.active {
      border: solid 2px #00c2a2;
    }
    h4 {
      text-align: left;
      padding-top: 4px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    p {
      font-size: 12.5px;
      font-weight: 400;
    }
  }

  button:last-of-type {
    margin-right: 0;
  }
  .clear-filters {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img {
      padding-right: 8px;
      margin-bottom: 2px;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .activity-filter.button-row {
    button {
      div:last-of-type {
        width: 191px;
      }
    }
  }
}
