#knowledge-center, .announcements-page, .press-page {
  .header-section {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 25px;
    p {
      margin-top: 9px;
      line-height: 1.62;
      color: #3b3b3b;
      font-size: 16px;
      max-width: 390px;
      margin-right: 20px;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      form {
        margin-top: 9px;
      }
    }
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  form {
    max-width: 322px;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cancel-button {
      position: absolute;
      right: 10;
      top: 9px;
      cursor: pointer;
    }
  }
  .fa-search {
    color: #666666;
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 16px;
  }
  input {
    width: 100%;
    padding: 9px 12px 9px 30px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 14px;
    	color: #c0c0c0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size: 14px;
    	color: #c0c0c0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size: 14px;
    	color: #c0c0c0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size: 14px;
    	color: #c0c0c0;
    }
  }
}
