.chapter-story-page {
  padding-top: 20px;
  margin-bottom: 40px;
}

.story-instructions {
  background-color: lightyellow;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  p { margin-bottom: 0 }
}
