.chapter-story-page {
  padding-top: 20px;

  .story-instructions {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
