.choose-classroom-lessons {
  font-size: 20px;
  .lesson-section {
    padding: 30px 0px;
    border-bottom: solid 1px #e9e9e9;
    .lesson-row {
      margin-top: 25px;
      display: flex;
      align-items: center;
      span {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 600;
        color: #027360;
        margin-left: 15px;
        cursor: pointer;
      }
      img {
        padding-right: 15px;
      }
    }
  }
  .class-section {
    padding: 30px 0px;
    h3 {
      font-weight: 600;
      margin-bottom: 20px;
    }
    .classroom-row {
      border-radius: 3px;
      background-color: #ffffff;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 30px;
      color: #969696;
      margin-bottom: 15px;
      img {
        margin-right: 30px;
      }
      &.incomplete {
        cursor: pointer;
        border: solid 1px #c0c0c0;
        &.selected {
          border: solid 1px #00c2a2;
        }
        span {
          font-weight: 600;
          color: #3b3b3b;
        }
      }
      .completed-text {
        font-size: 16px;
        font-weight: 600;
        color: #82bf3c;
        display: flex;
        align-items: center;
        i {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    p {
      font-size: 16px;
      max-width: 750px;
      color: #3b3b3b;
      a {
        color: #027360;
      }
    }
    button {
      font-size: 18px;
    }
  }
}
