#new-classroom {
  padding-bottom: 54px;
  max-width: 508px;
   h1 {
     margin-top: 32px;
     font-size: 24px;
	font-weight: 600;
   }
   label {
     font-size: 14px;
     margin: 13px 0 6px 0;
     font-weight: 400;
   }
    .dropdown-toggle {
        padding: 9px;
        margin: 0 10px 10px 0;
        font-size: 14px;
        font-weight: 500;
        border: solid 1px #d4d4d4;
        text-align: left;
        min-width: 90px;
        color: #b2b2b2;
        margin-bottom: 13px;
        &.has-grade {
          color: #000;
        }
    }
    input.inactive {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 27px;
    }
    #regenerate-class-code {
      margin-left: 10px;
      color:  #027360;
      cursor: pointer;
    }
    .errors {
      margin-top: 1em;
      color: red;
      font-weight: 700;
    }
    .caret {
        float: right;
        border-top: 6px solid;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        position: relative;
        top: 8px;
        margin-left: 10px;
    }
}
