#dashboard {
  max-width: 980px;
  margin: auto;
  text-overflow: ellipsis;
  white-space: normal;
  .dashboard-header {
    margin-top: 36px;
    text-align: left;
    padding-top: 36px;
    padding-bottom: 16px;
    width: 100%;
    border-top: 1px solid #cecece;
    font-weight: 700;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  button {
    width: 160px;
    height: 40px;
    font-weight: 700;
  }
  .spinner-container {
    height: 36%;
    margin: 35px auto auto;
    padding: 0;
  }
  .video-container,
  .resources-container,
  .premium-container {
    display: inline-block;
    vertical-align: middle;
    .img {
      margin-top: 27px;
      margin-bottom: 25px;
    }
    iframe {
      border: none;
    }
    h4 {
      padding: 5px 5px 10px;
      line-height: 25px;
      margin: 6px auto 0;
      width: 280px;
    }
    p {
      line-height: 22px;
      color: #646464;
      margin: 15px 0 20px;
    }
  }
  .resources-container,
  .premium-container {
    h4 {
      border-bottom: 1px solid #cecece;
    }
  }
  .resources-container {
    img {
      margin-top: 25px;
      margin-bottom: 18px;
    }
    p {
      width: 280px;
      border-top: 1px solid #cecece;
      padding-top: 5px;
    }
  }
  .premium-container {
    .btn-orange {
      margin-top: 26px;
      width: 252px;
      height: 40px;
      background-color: #eda41b;
      color: white;
    }
    .credit-card {
      line-height: 0;
      color: #646464;
      margin-top: 16px;
    }
    p {
      width: 271px;
      color: #333333;
      line-height: 22px;
      margin-top: 37px;
    }
  }
  .mini_content {
    margin: auto;
    width: 300px;
    height: 270px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    margin-bottom: 40px;
    table {
      line-height: 25px;
      font-size: 14px;
      width: 100%;
      table-layout: fixed;
      overflow: hidden;
      white-space: nowrap;
      .left-column {
        display: block;
        text-align: left;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 232px;
      }
      .right-column {
        text-align: right;
        padding-right: 20px;
        max-width: 20%;
      }
    }
    .button-white.class-mini-btn {
      background-color: white;
      border: 1px solid #737373;
    }
    .classroom_name {
      font-weight: 600;
      margin: auto;
      width: 280px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
      margin-bottom: 12px;
      margin-top: 7px;
    }
    .classMetaData {
      margin: auto;
      height: 66px;
      margin-bottom: 15px;
    }
    .class-gear {
      padding: 12px;
    }
    .class_icon {
      margin: auto;
      padding-top: 19px;
      margin-left: 39px;
    }
    .plus_icon {
      padding-top: 96px;
      padding-bottom: 15px;
    }
  }
  .results-overview-mini-container {
    margin-top: 40px;
    .header {
      margin: 11px auto 12px;
      width: 280px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
      p {
        margin-top: 5px;
        color: #646464;
      }
    }
    .button-white {
      width: 233px;
      margin-top: 9px;
      background-color: white;
      border: 1px solid #737373;
      color: #333333;
    }
  }
  .footer-row {
    display: block;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    a {
      color: #027360;
      text-decoration: none;
    }
    .review-request {
      margin-top: 18px;
      margin-bottom: 20px;
      span {
        padding-right: 5px;
      }
      i {
        color: red;
      }
    }
  }
}
