#dashboard {
  max-width: 980px;
  margin: auto;
  .dashboard-header {
    margin-top: 71px;
    text-align: left;
    padding-top: 36px;
    padding-bottom: 16px;
    width: 100%;
    border-top: 1px solid #cecece;
    font-weight: 700;
  }
  .mini_content {
    margin: auto;
    width: 300px;
    height: 270px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    margin-bottom: 40px;
    .classroom_name {
      font-weight: 600;
      margin: auto;
      width: 280px;
      padding-bottom: 7px;
      border-bottom: 1px solid #cecece;
      margin-bottom: 12px;
      margin-top: 7px;
    }
    .classMetaData {
      margin: auto;
      height: 66px;
      margin-bottom: 15px;
    }
    .button-green {
      width: 160px;
      height: 40px;
      font-weight: 700;
    }
    .class-gear {
      padding: 12px;
    }
    .class_icon {
      margin: auto;
      padding-top: 19px;
      margin-left: 39px;
    }
    .plus_icon {
      padding-top: 96px;
      padding-bottom: 15px;
    }
    // .add_class_link :hover {
    //     border: 3px solid #cecece;
    // }
  }
}
