#dashboard {
    padding: 40px 20px;
    $link-color: #027360;
    max-width: 1020px;
    margin: auto;
    text-overflow: ellipsis;
    white-space: normal;
    .dashboard-header {
        margin-top: 36px;
        text-align: left;
        padding-top: 36px;
        padding-bottom: 16px;
        width: 100%;
        border-top: 1px solid #cecece;
        font-weight: 700;
    }
    @media (max-width: 1000px) {
        .dashboard-header {
            padding-left: 20px;
        }
    }
    @media (max-width: 760px) {
        .dashboard-header {
            padding-left: 0;
            text-align: center;
        }
    }
    h4 {
        font-size: 16px;
        font-weight: 600;
    }
    button {
        width: 160px;
        height: 40px;
        font-weight: 700;
    }
    .spinner-container {
        height: 36%;
        margin: 35px auto auto;
        padding: 0;
    }
    #google-classroom-mini,
    .premium-container,
    .resources-container,
    .video-container {
        display: inline-block;
        vertical-align: middle;
        a {
            color: $link-color;
        }
        .img {
            margin-top: 27px;
            margin-bottom: 25px;
        }
        iframe {
            border: none;
        }
        h4 {
            padding: 5px 5px 10px;
            line-height: 25px;
            margin: 6px auto 0;
            width: 280px;
        }
        p {
            line-height: 22px;
            color: #646464;
            margin: 15px 0 20px;
        }
    }
    #google-classroom-mini,
    .premium-container,
    .resources-container {
        h4 {
            border-bottom: 1px solid #cecece;
        }
    }
    .resources-container {
        img {
            margin-top: 25px;
            margin-bottom: 18px;
        }
        p {
            width: 280px;
            border-top: 1px solid #cecece;
            line-height: 19px;
            padding-top: 5px;
        }
        &.google-classroom-announcement {
            p {
                border-top: none;
                margin: 0;
                padding-top: 0;
            }
            img {
                margin-top: 21px;
                margin-bottom: 15px;
            }
            span {
                display: inline-block;
                color: $link-color;
                margin-top: 16px;
            }
        }
    }
    #google-classroom-mini,
    .premium-container {
        .btn-orange {
            margin-top: 26px;
            width: 252px;
        }
        .credit-card {
            line-height: 0;
            color: #646464;
            margin-top: 16px;
        }
        p {
            width: 271px;
            color: #333333;
            line-height: 22px;
            margin-top: 37px;
        }
    }
    .mini_content {
        margin: auto;
        width: 300px;
        height: 270px;
        border: 1px solid #cecece;
        background-color: #ffffff;
        margin-bottom: 40px;
        table {
            line-height: 25px;
            font-size: 14px;
            width: 100%;
            table-layout: fixed;
            overflow: hidden;
            white-space: nowrap;
            .left-column {
                display: block;
                text-align: left;
                padding-left: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 232px;
            }
            .right-column {
                text-align: right;
                padding-right: 20px;
                max-width: 20%;
            }
        }
        .button-white.class-mini-btn {
            background-color: white;
            border: 1px solid #737373;
        }
        .classroom_name {
            font-weight: 600;
            margin: auto;
            width: 280px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cecece;
            margin-bottom: 12px;
            margin-top: 7px;
        }
        .classMetaData {
            margin: auto;
            height: 66px;
            margin-bottom: 15px;
        }
        .class-gear {
            padding: 12px;
        }
        .class_icon {
            margin: auto;
            padding-top: 19px;
            margin-left: 39px;
        }
        .plus_icon {
            padding-top: 96px;
            padding-bottom: 15px;
        }
    }
    .results-overview-mini-container {
        .header {
            margin: 11px auto 12px;
            width: 280px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cecece;
            p {
                margin-top: 5px;
                color: #646464;
            }
        }
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
        .gray-underline {
          margin: auto;
          padding: 16px;
          width: 280px;
          border-bottom: solid 1px #cecece;
          & + p {
            font-size: 14px;
            margin: auto;
            line-height: 1.6;
            width: 258px;
            margin-top: 45px;
            margin-bottom: 15px;
          }
        }
        .button-white {
            width: 233px;
            margin-top: 9px;
            background-color: white;
            border: 1px solid #737373;
            color: #333333;
            &.beta {
              margin-top: 28px;
              width: 160px;
            }
        }

    }
    .footer-row {
        display: block;
        text-align: center;
        margin-top: 10px;
        white-space: nowrap;
        a {
            color: $link-color;
            text-decoration: none;
        }
        .review-request {
            margin-top: 18px;
            margin-bottom: 20px;
            span {
                padding-right: 5px;
            }
            i {
                color: red;
            }
        }
    }
    #google-classroom-mini {
        p {
            width: 244px;
            margin: auto;
            margin-top: 43px;
        }
        .button-white {
            border: 1px solid #737373;
            width: 252px;
            padding: 10px 13px;
              margin-top: 40px;
        }
        img {

            height: 88%;
            padding-right: 4px;
            position: relative;
            top: -2px;
        }
    }
}
