article.final-score-page {
  .step-title {
    font-size: 20px;
    text-align: left
  }

  .table {
    margin-bottom: 20px;
  }

  thead {
    background-color: #f5f5f5;
  }

  td {
    text-align: center;
  }

  .rule-title, .story-title {
    text-align: left;
  }
}
