.auxiliary.white-page {
  p {
    margin: 0;
    font-size: 18px;
    line-height: 130%;

    &.question {
      margin-top: 40px;
    }

    &.lead {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &.title {
      margin-bottom: 20px;
    }

    strong {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 28px;
    &.names {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  .bottom {
    padding-top: 150px;
  }

  &.formatted-text {
    .sticky-footer-content > .container {padding-bottom: 100px}

    p, li {
      font-size: inherit;
      margin-bottom: 1em;
    }
  }
}

.auxiliary.white-page.formatted-text article.lessons-page {
  .highlight {
    color: #0088cc;
  }

  .lessons-page-heading-content {
    width: 576px ;
    margin: 40px auto 0 auto;
  }

  p {
    margin-bottom: 2em;
  }

  h2 {
    margin: 30px 0;
  }
}

