#blog_posts_iframe {
  height: 163px;
  margin-top: 28px;
  width: 100%;
  border: none;
}

#ideas_iframe {
  height: 2000px;
margin-top: -230px;
width: 100%;
border: none;
}


#board_iframe {
  width: 100%;
  height: 1400px;
  border: none;
  position: relative;
}

#teacher_resources_iframe {
  width: 100%;
  height: 3881px;
  margin-top: -16px;
  border: none;
}



.media_navigation {
  z-index: 1;
  position: relative;
}

#wp_iframe {
  z-index: -20;
      position: relative;
      height: 3499px;
      width: 100%;
      top: -270px;
}


.medium-articles {
  iframe {
    margin-top: 6em;
  }
}

#press_kit_iframe {
  width: 100%;
  height: 7361px;
  border: none;
  position: relative;
}
