.assign-dates {
  margin-bottom: 200px;
}
.fake-border {
  width: 99.4%;
  margin: 0 auto;
  position: relative;
  bottom: 1px;
}
#continue.hidden {
  display: none;
}
#activity-planner,
#unit-template-editor {
  section {
    border-bottom: none;
    &.name-the-unit {
      padding-bottom: 10px;
    }
  }
  .error-message-and-button {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    .error-message {
      position: absolute;
      float: left;
      top: 10px;
      right: 125px;
    }
    .visible-error-message {
      color: red;
      i {
        margin-right: 5px;
      }
      button {
        background-color: #C0C0C0;
      }
    }
    .hidden-error-message {
      display: none;
    }
  }
  input {
    &#unit_name {
      width: 326px;
      &.name-error {
        background-color: #ffeded;
        border: solid 1px #ff4542;
        &::placeholder {
          color: #ff4542;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ff4542;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ff4542;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ff4542;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ff4542;
        }

      }
    }
  }
  button:not(.button-select) {
    &#continue,
    &#assign {
      margin-left: 20px;
      border: none;
      color: #fff;
      font-weight: bold;
      //margin-top: 20px;
    }
  }
  .select-box-trigger {
    width: auto;
  }
  .activity-planner-select {
    display: inline-block;
    width: auto;
    margin-right: 18px;
  }
  .selects-wrapper {
    margin-top: 20px;
  }
}
.activity-page-dropdown-wrapper {
  margin-top: 15px;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 15px;
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 94%;
    border-radius: 5px;
    font-size: 14px;
    a {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
        -webkit-appearance: none;
      }
      &:focus,
      &:active {
        -webkit-appearance: none;
      }
    }
    span {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
.activity_link {
  color: #027360;
}
.scorebook-icon-check {
  background-image: image-url("scorebook/icon-check.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-x-gray {
  background-image: image-url("scorebook/icon-x-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 21px;
}
.hidden-button {
  display: none;
}

.assign-success-container {
  font-size: 18px;
  .row {
    display: flex;
    align-items: center;
  }
  .successBox {
    background-color: #C1FFC6;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    .successMessage {
      text-align: left;
    }
    .fa-check-circle {
      color: #457818;
      font-size: 31px;
      text-align: left;
      margin-right: .3em;
    }
    .assignBoxMessage: {
        text-align: left;
      }
    .messageBox {
      color: white;
      background-color: #00C2A2;
      padding: 1em;
      margin-bottom: 2em;
    }
  }
  .sharing-container {
    text-align: center;
    h2 {
      font-size: 24px;
          font-weight: bold;
          margin-top: 2em;
          margin-bottom: .75em;
    }
    .nonprofit-copy {
      width: 53%;
      margin: auto;
      margin-bottom: 1.4em;

    }
    .social-copy {
      padding: 21px;
      border: 1px solid #979797;
      width: 45%;
      margin: auto;
      border-radius: 8px;
    }
  }
  .light-gray-bordered-box {
    border: none;
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      width: 100%;
    }
    .btn-social {
      margin-top: 1em;
      width: 145px;
      margin-right: 2em;
      height: 39px;
      font-size: 18px;
    }
    a {
      border-radius: 4px;
      margin: 1em;
    }
    strong {
      display: none;
    }
    i {
      font-size: 18px;
    }
  }
}
#search_activities_input, #unit_name {
  margin-top: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .select-by-student-button {
    background-color: #e6e6e6;
  }
}
