.assign-dates {
  margin-bottom: 200px;
}

.fake-border {
  width: 99.4%;
  margin: 0 auto;
  position: relative;
  bottom: 1px;
}

#continue.hidden {
  display: none;
}

#activity-planner,
#unit-template-editor {
  section {
    border-bottom: none;
  }
  .error-message-and-button {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 85px;
    .error-message {
      position: absolute;
      float: left;
      top: 30px;
      right: 150px;
    }
    .visible-error-message {
      color: red;
    }
    .hidden-error-message {
      display: none;
    }
  }
  input {
    &#search_activities_input, &#unit_name {
      width: 326px;
      margin-top: 20px;
    }
  }
  button:not(.button-select) {
    &#continue,
    &#assign {
      margin-left: 20px;
      border: none;
      color: #fff;
      font-weight: bold;
      //margin-top: 20px;
    }
  }
  .select-box-trigger {
    width: auto;
  }
  .activity-planner-select {
    display: inline-block;
    width: auto;
    margin-right: 18px;
  }
  .selects-wrapper {
    margin-top: 20px;
  }
}

.activity-page-dropdown-wrapper {
  margin-top: 20px;
  cursor: pointer;
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 94%;
    border-radius: 5px;
    font-size: 14px;
    a {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
        -webkit-appearance: none;
      }
      &:focus, &:active {
        -webkit-appearance: none;
      }
    }
    span {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

.scorebook-icon-check {
  background-image: image-url("scorebook/icon-check.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-x-gray {
  background-image: image-url("scorebook/icon-x-gray.png");
  background-repeat: no-repeat;
  background-position: center;
}



.hidden-button {
  display: none;
}
