.container.pages-container {
	padding-right: 20%;
	padding-bottom: 10%;

	iframe {   // for impact page
		margin-top: 5%;
	}

	h4, h3, h2 {
		margin-top: 5%;
	}
	p {
		margin-top: 3%;
		&.mission-paragraph {
			font-size: 16px;
			line-height: 1.8;
		}
		&:not(.mission-paragraph) {
			font-size: 16px;
		}
	}

	.accordion-heading {
		margin-top: 5%;
		strong {
			font-weight: normal;
		}
	}
	.accordion-toggle {
		margin-top: 5%;
	}

	.row {
		margin-top: 5%;
	}

	.team img {
		height: 96px;
		width: 96px;
	}

	&.team {
		.row {
			margin-top: 0;
		}
	}

	.col-md-4 {
		margin-top: 5%;
		float:left;
	}


}

.pages-activities {
	ul.dropdown-menu {
		margin-left: 15px;
	}
	.row.activity-description {
		margin-top: 2% !important;
	}
}

.pages-stats {
	background-color: #F0F0F0;
}

.white-background {
	background-color: #FFFFFF;
	width: 100%;
}

.white-page {
	background-color: #FFFFFF;
}

.pages-faq {
	a, .tool-attempt {
		font-weight: 600;
	}
	ul {
		margin-top: 10px;
	}
}
