.container.pages-container {
	padding-right: 20%;
	padding-bottom: 10%;

	iframe {   // for impact page
		margin-top: 5%;
	}

	h4, h3, h2 {
		margin-top: 5%;
	}
	p {
		margin-top: 3%;
		&.mission-paragraph {
			font-size: 16px;
			line-height: 1.8;
		}
		&:not(.mission-paragraph) {
			font-size: 16px;
		}
	}

	.accordion-heading {
		margin-top: 5%;
		strong {
			font-weight: normal;
		}
	}
	.accordion-toggle {
		margin-top: 5%;
	}

	.row {
		margin-top: 5%;
	}

	.team img {
		height: 96px;
		width: 96px;
	}

	&.team {
		.row {
			margin-top: 0;
		}
		@media only screen and (max-width: 500px) {
			padding-right: 0px;
			padding-left: 0px;
	    text-align: left;
	    width: 90%;
			margin: auto;
			.row {
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}

	.col-md-4 {
		margin-top: 5%;
		float:left;
	}


}

.pages-activities {
	ul.dropdown-menu {
		margin-left: 15px;
	}
	.row.activity-description {
		margin-top: 2% !important;
	}
}

.pages-stats {
	background-color: #F0F0F0;
}

.white-background {
	background-color: #FFFFFF;
	width: 100%;
}

.white-page {
	background-color: #FFFFFF;
}

.pages-faq {
	a, span {
		font-weight: 600;
	}
	ul {
		margin-top: 10px;
	}
}

.standards-tabs {
	background: #fff;
	border-bottom: 1px solid #cecece;
	min-height: 48px;
	li {
		background-color: #fff;
		border-right: none !important;
	}
}

#mission {
	padding-right: 0%;
	img {
		width: 100%;
	}
}
