#my-account, #staff-teacher-account-editor, .user-profile-editor {
  margin-bottom: 50px;
  h3 {
    margin: 30px 0px;
  }
  .form-row {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    .form-button {
      margin-left: 25px;
    }
  }
  .form-label {
    width: 150px;
  }
  .form-input {
    input {
      width: 300px;
      height: 40px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e9e9e9;
    }
  }
  .error {

  }
  .gray-text {
    color: #969696;
    .row {
      margin-left: 152px;
    }
  }
  .get-premium {
    color: white;
    background-color: #f8a724;
    width: 137px;
  }
  .add-school {
    width: 137px;
  }
  .save-button {
    margin-top: 40px;
    border-radius: 3px;
  }

  .delete-account {
    font-size: 16px;
  }

  .delete-account, .switch-account-type {
    cursor: pointer;
    font-weight: 600;
    color: #027360;
    text-decoration: underline;
  }
  // a {
  //   cursor: pointer;
  // }
  // .form-header {
  //   margin-top: 30px;
  //   margin-bottom: 30px;
  // }
  //
  // .row {
  //   padding: 10px;
  //   .form-label, input, .error {
  //     height: 40px;
  //     line-height: 40px;
  //     float:left;
  //     // clear:none;
  //   }
  //   // .form-label .zip {
  //   //   margin-bottom: 50px;
  //   // }
  //   select, input {
  //     width: 100%;
  //     margin-bottom: 30px;
  //   }
  // }
  // input[type='checkbox'] {
  //   height: 40px;
  //   margin: 0px !important;
  // }
  //
  // button {
  //   color: white;
  // }
  // #select-role-dropdown {
  //   color: black;
  //   .caret {
  //     float: right;
  //     margin-top: 7px;
  //   }
  // }
  // input.btn-warning {
  //   line-height: 0;
  // }
  // button.get-premium {
  //   margin-top: 0px;
  //   background-color: #EA9A1A;
  // }
  // .row.school-checkbox {
  //   //padding-top: 0 !important;
  //   //padding-bottom: 0 !important;
  // }
  // .delete-account {
  //   line-height: 0;
  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
  // .error {
  //   color: red;
  // }
  // .gray-text {
  //   color: rgb(100,100,100);
  // }
  // .remove-from-class {
  //   width: 186px;
  //   font-weight: bold;
  // }
  // .modal-dialog {
  //   .modal-header {
  //     min-height: 59px;
  //   }
  //   .account-form {
  //     margin-bottom: 50px;
  //   }
  //   .close {
  //     background-color: black;
  //   }
  //   .form-label, #zip{
  //     float: none;
  //     height: inherit;
  //   line-height: inherit;
  //   }
  //   .row {
  //     padding: 0px;
  //   }
  //   #select_school {
  //     width: 50%;
  //   }
  // }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #my-account, #staff-teacher-account-editor, .user-profile-editor {
    .row {
      input {
        line-height: normal;
      }
    }
  }
}
