#my-account, #staff-teacher-account-editor, .user-profile-editor {

  .form-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .row {
    padding: 10px;
    .form-label, input, .error {
      height: 40px;
      line-height: 40px;
      float:left;
      // clear:none;
    }
    select, input {
      width: 100%;
    }
  }
  input[type='checkbox'] {
    height: 40px;
    margin: 0px !important;
  }

  button {
    color: white;
    margin-top: 30px;
  }
  input.btn-warning {
    line-height: 0;
  }
  button.get-premium {
    margin-top: 0px;
    background-color: #EA9A1A;
  }
  .row.school-checkbox {
    //padding-top: 0 !important;
    //padding-bottom: 0 !important;
  }
  .delete-account.btn {
    line-height: 0;
  }
  .error {
    color: red;
  }
  .gray-text {
    color: rgb(100,100,100);
  }
}
