#my-account, #staff-teacher-account-editor, .user-profile-editor {
  a {
    cursor: pointer;
  }
  .form-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  // .zip-row {
  //   width: 150px;
  // }
  .row {
    padding: 10px;
    .form-label, input, .error {
      height: 40px;
      line-height: 40px;
      float:left;
      // clear:none;
    }
    // .form-label .zip {
    //   margin-bottom: 50px;
    // }
    select, input {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  input[type='checkbox'] {
    height: 40px;
    margin: 0px !important;
  }

  button {
    color: white;
  }
  input.btn-warning {
    line-height: 0;
  }
  button.get-premium {
    margin-top: 0px;
    background-color: #EA9A1A;
  }
  .row.school-checkbox {
    //padding-top: 0 !important;
    //padding-bottom: 0 !important;
  }
  .delete-account.btn {
    line-height: 0;
  }
  .error {
    color: red;
  }
  .gray-text {
    color: rgb(100,100,100);
  }
  .remove-from-class {
    width: 186px;
    font-weight: bold;
  }
  .modal-dialog {
    .modal-header {
      min-height: 59px;
    }
    .account-form {
      margin-bottom: 50px;
    }
    .close {
      background-color: black;
    }
    .form-label, #zip{
      float: none;
      height: inherit;
    line-height: inherit;
    }
    .row {
      padding: 0px;
    }
    #select_school {
      width: 50%;
    }
  }
}
