.my-lessons {
  section:last-of-type {
    padding-bottom: 5px;
  }
  .feedback-note {
    border-top: solid 1px #c0c0c0;
    padding-top: 20px;
    a {
      color: #027360;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  .my-lessons-header {
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      margin: 7px 0px;
      font-size: 16px;
    }
    span {
      font-weight: 600;
    }
    a {
      color: #027360;
      font-weight: 600;
      text-decoration: underline;
    }
  }
  #launch-lesson {
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 145px;
    border-radius: 3px;
    background-color: #00c2a2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson-completed {
    margin-right: 8px;
    color: #82bf3c;
    font-weight: 600;
    width: 160px;
  }
  .resume-lesson {
    width: 145px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #00c2a2;
    font-weight: bold;
    color: #00c2a2 !important;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customized-editions-tag {
    width: 90px;
    height: 23px;
    border-radius: 11.5px;
    background-color: #5aaef6;
    margin-left: 10px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding-bottom: 2px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.empty-lessons {
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  padding: 0px 80px 0px 20px;
  @media (max-width: 900px) {
    justify-content: center;
    padding: 0px;
    img {
      display: none;
    }
  }
  .content {
    width: 430px;
    h1 {
      font-size: 30px;
      font-weight: 600;
      color: #3b3b3b;
    }
    p {
      line-height: 1.62;
      font-size: 16px;
      &:first-of-type {
        margin: 15px 0px;
        color: #969696;
      }
      &:nth-of-type(2) {
        color: #515151;
      }
    }
    .buttons {
      display: flex;
      margin-top: 30px;
      a {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        &:first-of-type {
          border-radius: 6px;
          width: 168px;
        }
        &:nth-of-type(2) {
          border: solid 1px #00c2a2;
          border-radius: 3px;
          width: 140px;
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .empty-lessons {
    .content {
      width: 95%;
    }
  }
}
