.new-account-page {
  label, div, input {
    font-size: 18px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    padding-top:    0px;
    padding-bottom: 0px;
    width: 240px;
    line-height: 40px;
    height: 40px;
  }

  .new-account-field-group {
    position: relative;
  }

  .field.radio .value {
    display: inline-block;
    label { width: 154px ; line-height: 26px ; margin-bottom: 0 }
    > * { float: left }
  }

  b {
    @include bold;
  }

  .form-explanation-text {
    position: absolute;
    bottom: 0;
    left: 419px;
    width: 216px;
    border: 1px solid #e3e3e3;
    padding: 20px;
    z-index: -1;
  }
}
