#premium-banner {
  color: #333333;
  font-size: 14px;
  padding-top: 27px;
  background-image: url(/images/star_pattern_5.png);
  min-height: 115px;
  .spinner-container {
    max-height: 97px;
    margin: 0;
    padding: 0 0 22px;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
  }
  a {
    color: #027360;
  }
  .row > div {
    margin-bottom: 24px;
    padding-top: 10px;
  }
  .free-trial-promo > div {
    margin-bottom: 24px;
  }
  h4,
  .btn-orange {
    margin-bottom: 7px;
  }
  .new-sign-up-banner {
    margin-bottom: 0px;
    .button-green{ width: 326px;}
    h4 {margin-bottom: 7px;}
  }
}
