.premium-tab {
  a {
    background-color: #EA9A1A !important;
    color: #FFFFFF !important;
    padding-left: 40px;
    padding-right: 40px;
    border-right: none !important;
    cursor: pointer !important;
  }

}

.modal-content {
  max-width: 700px;
  .modal-title {
    margin-left: 40px;
  }
}

.quote-request-modal {
  text-align: center;
  max-width: 386px;
  max-height: 230px;
  height: 100%;
  width: 100%;
  .modal-content {
    border-radius: 6px;
    padding: 0% 7%;
  }
  .modal-body {
    padding: 28px 0px;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  p {
    text-align: center;
  }
  a.q-button {
    padding: 8px 33px 8px;
    font-size: 14px;
  }
  .modal-footer {
    padding: 18px 0px;
    span {
      color: #18b891;
      text-decoration: underline;
      cursor: pointer;
    }
    p {
      color:  #262626;
      padding: 3px 0px;
    }
  }

}
li.active.premium-tab > a,
li.premium-tab > a:hover {
  background-color: #D3982A !important;
  // border-top: 3px solid #875A12 !important;
  // padding-top: 0 !important;
}
.premium-tab a.active,
.premium-tab a:hover {
  background-color: #D3982A !important;
  // border-top: 3px solid #875A12 !important;
  // padding-top: 0 !important;
}
.preview-section {
  text-align: center;
  color: #3C3B3B;
  .super-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 43px;
  }
  .title {
    font-size: 35px;
    font-weight: 600;
  }
  .copy {
    font-size: 21px;
    line-height: 30px;
  }
  .btn {
    font-size: 18px;
    line-height: 27px;
    padding: 12.5px 46px;
    font-weight: 700;
  }
}

#premium-pricing-guide {
  color: #333333;
  padding: 60 0 0 0px;
  & > .row > div {
    margin-bottom: 2%;
  }
  .logo-tag  {
    padding: 25 0 90 0px;
    text-align: center;
  }
  .overview {
    margin: auto auto 70px;
    h1 {
      font-weight: 700;
      margin-bottom: 14px;
    }
    p {
      font-size: 21px;
    }
  }
  .pricing-mini {
    background: white;
    border: 1px solid #cecece;
    font-size: 15px;
    min-height: 513px;
    @media (max-width: 990px) {
      max-width: 383px;
      margin: auto;
      margin-top: 70px;
      &.first {
        margin-top: 30px;
      }
    }
    .promo-tab {
      width: 239px;
      height: 28px;
      padding-top: 7px;
      font-weight: 600;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-color: #f8a724;
      color: white;
      font-size: 12px;
      position: absolute;
      left: 50%;
      margin: auto;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: -27px;
    }

    section {
      border: none;
    }
    h4 {
      font-size: 16px;
      font-weight: 600;
    }
    ul {
      text-align: left;
    }
    li {
      margin-bottom: 6px;
    }
    .pricing-mini-header {
      height: 95px;
      color: white;
      .img-holder {
        height: 57px;
        padding-top: 14px;
        margin-bottom: 9px;
        &.basic {
          padding-top: 17px;
        }
      }
    }
    .pricing-info {
      color: #333333;
      min-height: 350px;
      @media (max-width: 990px) {
        min-height: 0;
        ul {
          margin: auto;
          display: inline-block;
        }
      }
      .premium-rates {
        position: relative;
        min-height: 74px;
        .red-line {
          position: absolute;
          top: 4px;
        }
        .four-fifty {
          margin-right: 10px;
        }
        h3 {
          font-size: 24px;
          font-weight: 800;
          margin-bottom: 7px;
        }
        &.all-h4 {
          h4 {
            font-weight: 800;
            padding-top: 8px;
          }
        }
      }
    }
    .mini-btn {
      height: 40px;
      padding-top: 6.5px;
      padding-bottom: 4.5px;
      font-size: 14px;
      color: white;
      margin-bottom: 26px;
      width: 140px;
      &.empty-blue,
      &.blue, &.purple, &.empty-purple {
        width: 122px;
        margin-left: 6px;
        margin-right: 6px;
      }
      &.empty-purple {
        padding-left: 9px;
      }
    }
    .blue {
      background-color: $quillblue;
    }
    .empty-blue {
      border: 2px solid $quillblue;
      color: $quillblue;
    }
    .empty-purple {
      border: 2px solid #9c2bde;
      color: #9c2bde;
    }
    .green {
      background-color: $quillgreen;
    }
    .purple {
      background-color: #9c2bde;
    }
    .button-container {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  @media (max-width: 500px) {
    .col-md-4 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
.logo-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  max-width: 980px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  .logo-wrapper {
    margin: 5px;
  }
  /* p {font-size: inherit}*/
}

.premium-testimonial {
  margin: auto;
  margin-top: 69px;
  margin-bottom: 69px;
  max-width: 691px;
  p {
    margin-top: 8px;
    font-size: 21px;
  }
  .quote-author {
    margin-top: 14px;
    font-size: 16px !important;
    font-weight: bold;
    color: #606060;
    span {
      color: #343434;
    }
  }

}
#second-preview-section {
  background-color: #EA9A1A;
  color: white;
  padding-top: 100px;
  .super-title {
    color: #875A12;
  }
  .copy {
    margin-top: 43px;
    margin-bottom: 59px;
  }
  .preview-btns {
    margin-top: 44px;
    margin-bottom: 64px;
    .try-the-demo {
      color: #EA9A1A;
      background-color: white;
    }
  }
  .preview-image {
    margin-left: auto;
    margin-right: auto;
    img {
      @media (max-width: 853px) {
      width: 100%;
      }

    }
  }
}
#features-preview-table {
  table {
    margin: 137px auto 99px;
    border: 1px solid #CECECE;
    border-radius: 6px;
    border-collapse: separate !important;
    th {
      font-size: 18px;
      height: 65px;
    }
    th.features-table-header {
      color: black;
      font-weight: 500;
      width: 417px;
      background-color: #E6E6E6;
      border-top-left-radius: 6px;
    }
    th.quill-table-header,
    th.quill-premium-table-header {
      color: white;
      font-weight: 700;
      width: 266px;
      text-align: center;
    }
    th.quill-table-header {
      background-color: #737373;
    }
    th.quill-premium-table-header {
      background-color: #EA9A1A;
      border-top-right-radius: 6px;
    }
    th.features-table-header,
    td:first-child {
      padding-left: 22px;
    }
    tr {
      border-collapse: collapse;
      background-color: white;
      height: 56px;
      color: black;
      font-size: 15px;
    }
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 6px;
      }
      td:last-child {
        border-bottom-right-radius: 6px;
      }
    }
    td {
      border-top: 1px solid #CECECE;
    }
    td.has_checkmark {
      background-image: image-url('premium_preview/check.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px 18px;
    }
    td:nth-child(2) {
      border-left: 1px solid #CECECE;
      border-right: 1px solid #CECECE;
    }
  }
}
#third-preview-section {
  padding-bottom: 132px;
  color: #3C3B3B;
  .title {
    color: #333333;
  }
  .preview-btns {
    margin-top: 37px;
    margin-bottom: 48px;
    .book-a-demo {
      color: white;
      background-color: #EA9A1A;
      margin-right: 31px;
    }
    .get-a-quote {
      color: #EA9A1A;
      border: 2px solid #EA9A1A;
    }
  }
  .span-dash {
    border-top: 1px solid #3C3B3B;
    width: 20px;
    height: 7px;
    display: inline-block;
    margin: 0 15px;
  }
}
#fourth-preview-section {
  padding-top: 100px;
  background-color: $quillblue;
  color: white;
  .super-title {
    color: #014f92;
  }
  .preview-questions {
    font-size: 15px;
    text-align: left;
    margin: 43px auto 0;
    display: inline-block;
    .preview-questions-column:first-child {
      margin-right: 56px;
    }
    .preview-questions-column {
      width: 416px;
      float: left;
      clear: none;
      .preview-question-and-answer {
        .preview-question {
          font-weight: 700;
          margin-bottom: 16px;
        }
        .preview-answer {
          color: #C9E6FF;
          a {
            color: white;
            text-decoration: underline;
          }
        }
      }
      .preview-question-and-answer.preview-question-and-answer-with-margin {
        margin-bottom: 39px;
      }
    }
  }
  .preview-questions-view-all {
    padding: 60px 0 88px;
    a {
      color: $white;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  #fourth-preview-section {
    .preview-questions {
      max-width: 90%;

      .preview-questions-column {
        float: none;
        margin: 0 auto;
        max-width: 95%;

        &:first-child {
          margin: 0 auto 39px auto;
        }
      }
    }
  }
}

.district-pricing-box {
	max-width: 980px;
  width: 100%;
	min-height: 81px;
  padding-left: 18px;
  padding-right: 20px;
	background-color: #ffffff;
	border: solid 1px #cecece;
  .bold-segment {
    font-weight: 700;
    padding-right: 5px;
  }
  span {
    font-size: 16px;
  }
  .q-button {
    border-color: #00c2a2;
    color: #00c2a2;
    padding-top: 9px;
    margin-bottom: 5px;
  	font-size: 14px;
    font-weight: bold;
    height: 40px;
  }
  @media (max-width: 990px) {
    padding: 30px;
    max-width: 75%;
    margin: 50px auto;
    margin: 50px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .q-button {
      margin-top: 15px;
      margin-left: 0px;
    }
  }
  @media (max-width: 500px) {
    max-width: 90%;
  }
}

.premium-flyer {
    box-sizing: border-box;
    margin-top: 72px;
    margin-bottom: 80px;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 360px;
    overflow: hidden;
    background-color: $quillblue;
    background-image: url(/images/homepage/homepage_pattern_blue_premium.png);
    .inner-premium-flyer {
      max-width: 1080px;
      width: 100%;
      margin: auto;
      .content {
        display: inline-block;
        margin-top: 70px;
        margin-bottom: 62px;
        max-width: 568px;
        width: 100%;
        color: white;
        display: inline-block;
        h1 {
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 25px;
        }
        p {
          font-size: 18px !important;
          margin-bottom: 40px;
          @media (max-width: 500px) {
            margin-bottom: 20px;
          }
        }
        .download-button {
          display: inline-block;
          width: 251px;
          height: 45px;
          border-radius: 6px;
          background-color: #014f92;
          font-size: 18px;
          font-weight: bold;
          line-height: 0.83;
          text-align: center;
          color: white;
          padding-top: 15px;
          &:hover, &:focus {
            text-decoration: none;
          }
          .fa {
            margin-right: 8px;
          }
        }
      }
      .picture {
        display: inline-block;
        img {
          height: auto;
          width: 470px;
          margin: -109px 0px 0px 42px;
        }
      }
      @media screen and (max-width: 1080px) {
        text-align: center;
        .picture {
          display: none;
        }
      }
    }
  }
