#student-profile {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  .section-header {
    line-height: 63px;
    padding-left: 16px;
  }

  section {
    border-bottom: none;
  }

  section.next-activity {
    padding-left: 13px;
  }

  .classroom-box {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    font-size: 14px;
    line-height: 1.4;
    width: 143px;
    color: #626262;
    border-left: solid 1px #cecece;
    border-right: solid 1px #cecece;
    text-overflow: ellipsis;
    &.active {
      color: black;
      margin-top: auto;
      div:first-of-type {
        margin-top: auto;
      }
      &:after {
        display: block;
        content: '';
        width: 118px;
        height: 3px;
        margin: 0 auto;
        margin-top: auto;
        background-color: #027360;
      }
    }
    .classroom-box-classroom {
      display: inline-block;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .tab-subnavigation-wrapper {
    padding: 0px;
  }

  .student-course-info {
    .classroom,
    .teacher {
      position: relative;
      display: inline-block;
      float:left;
      margin-right: 50px;
      color: #999;
    }
    .teacher {
      margin-right: 0;
    }
    .teacher-name {
      margin-left: 40px;
    }
    div:first-of-type {
      display: flex;
      justify-content: center;
    }

    .classroom-name {
      margin-left: 34px;
    }

    .icon {
      position: absolute;
      top: 50%;
    }
    .icon-book-white {
      margin-top: -9px;
    }

    .icon-hat-white {
      margin-top: -8px;
    }
  }

}
