#student-profile {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;


  .section-header {
    margin-bottom: 30px;
  }

  .classroom-box {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    font-size: 14px;
    line-height: 1.4;
    width: 143px;
    color: #626262;
    border-left: solid 1px #cecece;
    border-right: solid 1px #cecece;
    text-overflow: ellipsis;
    div:first-of-type {
      margin-top: auto;
    }
    &.active {
      color: black;
      &:after {
        display: block;
        content: '';
        width: 118px;
        height: 3px;
        margin: 0 auto;
        margin-top: auto;
        background-color: #027360;
      }
    }
  }

  .tab-subnavigation-wrapper {
    padding: 0px;
  }

  .student-course-info {
    .classroom,
    .teacher {
      position: relative;
      display: inline-block;
      float:left;
      margin-right: 50px;
      color: #999;
    }
    .teacher {
      margin-right: 0;
    }
    .teacher-name {
      margin-left: 40px;
    }

    .classroom-name {
      margin-left: 34px;
    }

    .icon {
      position: absolute;
      top: 50%;
    }
    .icon-book-white {
      margin-top: -9px;
    }

    .icon-hat-white {
      margin-top: -8px;
    }
  }

}
