.rule-question-page {
  @include border-radius(10px);
  overflow: hidden;
  background-color: white;
  $light-blue: rgb(235, 248, 255);

  .l-unit {
    padding-left: 35px;
    padding-right: 35px;
  }

  .l-unit-spacer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .chapter-information {
    background-color: rgb(72, 195, 255);
    font-weight: bold;
    color: white;
  }

  .chapter-title {
    font-size: 24px;
  }

  .rule-information {
    background-color: $light-blue;
  }

  .rule-description {
    font-size: 16px;
  }

  .rule-title {
    font-size: 24px;
    font-weight: bold;
    display: inline;
  }

  .rule-examples {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;

    .example-set {
      font-size: 18px;
      margin-bottom: 10px;
      * { margin-bottom: 3px }
    }
  }

  .question-text,
  .question-field textarea {
    font-family: 'Courier New', Monaco, monospace;
    font-size: 16px;
    @include border-radius(2px);
    border: 2px solid #d8d8d8;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    @include box-sizing(border-box);
    @include box-shadow(none);
  }

  .question-instructions {
    margin: 0px 0 10px 0;
  }

  .question-form {
    padding-top: 30px;
    position: relative;
    form {margin-bottom: 0}
  }

  .try-it-bubble {
    @include border-radius(999px);
    border: 1px solid #d8d8d8;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    padding: 1px 14px;
    top: -13px;
    line-height: 22px;
  }

  .error-message {
    color: red;
  }

  .success-message {
    color: green;
  }
}

.chapter-test-question-actions {
  > div {
    text-align: right;
    margin: 20px -35px 0;
    padding: 20px 35px 20px (35px + 65px);
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: 35px center;
    overflow: hidden;
  }

  .message {
    float: left;
    text-align: left;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    line-height: 1.3;
  }

  .first-try {
           background-color: $tried-color-light;
    h3 {   color:            $tried-color }
    .btn { background-color: $tried-color;
           border-color:     #e4a00f }
    background-image: image-url('icons/chapter_test/first-try.png');
  }


  .second-try {
           background-color: #ffeade;
    h3 {   color:            #d54141 }
    .btn { background-color: #d54141;
           border-color:     #a71f1f }
    background-image: image-url('icons/chapter_test/second-try.png');
  }


  .correct {
           background-color: #e1ffd3;
    h3 {   color:            #78ca47 }
    background-image: image-url('icons/chapter_test/correct.png');
    .message { margin-top: 10px }
  }

  @each $state in default first-try second-try correct {
    .#{$state} { display: none }
    &.#{$state} .#{$state} { display: block }
  }
}
