#scorebook {
	.icons-wrapper.score-legend {
		padding-bottom: 30px;
		border-bottom: 1px solid rgb(206,206,206);
	}

	.icons-wrapper.icon-legend {
		.icons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.icon {
				display: flex;
				align-items: center;
				.icons-description-wrapper {
					p {
						font-weight: 600;
					}
				}
				.icon-wrapper {
					position: relative;
				}
			}
		}
	}

	.app-legend {
		.title {
			color: #717171;
		}
	}

	.in-progress-symbol, .attempt-symbol {
		vertical-align: middle;
		position: absolute;
		top: -8px;
		right: -8px;
	}

	.missed-indicator {
		height: 38px;
	}

	.attempt-count {
		color: white;
		position: absolute;
		right: -1px;
		font-weight: 800;
		top: -6px;
		font-size: 11px;
	}

	.dropdown-menu {
		margin-left: 15px;
	}

	.overview-section {
		margin: 0 auto;
		max-width: 950px;
	}

	.student-header {
		align-items: center;
		display: flex;
		margin-bottom: 26px;

		a {
			color: #3b3b3b;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}

	.student-name {
		flex-grow: 1;
	}

	.date-range-filter {
		padding-left: 15px;
		.datepicker-container {
			.datepicker-and-x {
				position:relative;
			}
			input {
				height: 40px;
				width: 100%;
				padding-left: 25px;
				background-position: 90% 45%;
			}
			input.date-is-selected {
				background-image: none;
			}
			.icon-x-gray {
				height: 20px;
				width: 20px;
				position: absolute;
				right: 8%;
				top:6%;
			}
		}
	}
}
