// SIGN IN

%login_form {
  .control-group {
    margin-bottom: 10px;
  }

  input[type=submit] {
    padding: 5px;
    height: 40px;
    background-color: $quillgreen;
    color: white;
    border-color: $quillgreen;
  }
}

.form-signin {
  input {
    //background-color: white !important;
    height: 30px;
    width: 200px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  @extend %login_form;
}

.form-signup {
  @extend %login_form;

  label {
    font-weight: normal;
  }
}


.article.new-session-page  .container .row form .form-actions {
  background-color: none !important;
}
