// SIGN IN

.password-hint {
  background-color: #fcf2e1;
  max-width: 460px;
  width: 100%;
  padding: 14px 22px;
  border: solid 1px rgba(245, 186, 91, 0.41);
  border-radius: 1px;
  margin-top: 55px;
  h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 11px;
    text-align: left;
  }
  p {
    text-align: left;
    div {
      margin-top: 13px;
      text-align: center;
    }
  }
  code {
    padding: 8px 24px;
    color: #3b3b3b;
    background-color: white;
    font-size: 14px;
  }
}

%login_form {
  .control-group {
    margin-bottom: 10px;
  }

  input[type=submit] {
    padding: 5px;
    height: 40px;
    background-color: $quillgreen;
    color: white;
    border-color: $quillgreen;
  }
}

.form-signin {
  input {
    //background-color: white !important;
    height: 30px;
    width: 200px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  @extend %login_form;
}

.form-signup {
  @extend %login_form;

  label {
    font-weight: normal;
  }
}


.article.new-session-page  .container .row form .form-actions {
  background-color: none !important;
}
