#results-page {
  text-align: center;
  .top-section {
    background-color: white;
  }
  .bottom-section {
    text-align: left;
    .results-wrapper {
      max-width: 950px;
      margin: 0 auto;
    }
  }

  .circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 28px;
    height: 28px;
    border: solid 3px #70a748;
    -webkit-border-radius: 100%;
    /* Safari, Chrome */
    -moz-border-radius: 100%;
    /* Firefox */
    border-radius: 100%;
    /* CSS3 */
  }

  .inner-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 3px auto;
    width: 16px;
    height: 16px;
    background-color: #70a748;
    -webkit-border-radius: 100%;
    /* Safari, Chrome */
    -moz-border-radius: 100%;
    /* Firefox */
    border-radius: 100%;
    /* CSS3 */
  }

  .circle-red {
    border-color: #d9633e;
  }

}
