#results-page {
  text-align: center;
  .top-section {
    background-color: white;
  }
  .bottom-section {
    text-align: left;
    .results-wrapper {
      max-width: 950px;
      margin: 0 auto;
    }
  }
  tr td:last-of-type {
    text-align: left;
  }
  .circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 28px;
    height: 28px;
    border: solid 3px #70a748;
    margin: 3 8 3 0px;
    -webkit-border-radius: 100%;
    /* Safari, Chrome */
    -moz-border-radius: 100%;
    /* Firefox */
    border-radius: 100%;
    /* CSS3 */
    position: relative;
  }

  .inner-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: #70a748;
    -webkit-border-radius: 100%;
    /* Safari, Chrome */
    -moz-border-radius: 100%;
    /* Firefox */
    border-radius: 100%;
    /* CSS3 */
    position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
  }

  .circle-red {
    border-color: #d9633e;
  }

  .key {
    display: inline-block;
    .pull-left {
      font-size: 36px;
    }
    div, .circle {
      display: inline-block;
    }

  .table {
    max-width: 950px;
  }

}
