.profile-classroom-form {
  text-align: center;

  .big-input {
    margin-right: 20px;
  }

  .explanation {
    margin-top: 20px;
  }
}

table.classroom-students-grades {
  width: auto;

  td, th {
    border: 10px solid transparent;
    border-collapse: collapse;
  }

  .due-date {
    font-size: 9px;
    margin-bottom: 10px;
    font-style: italic;
  }

  .student-header {
    text-align: left;
  }

  .score-color {
    background-color: #ccc;
    width: 29px;
    height: 29px;
    &.red { background-color: $missed-color }
    &.yellow { background-color: $tried-color }
    &.green { background-color: $found-color }
  }
}

article.teacher-profile-page {
  .l-section {
    h3 {
      text-align: left;
      font-size: 34px;
    }

    p {
      text-align: left;
    }

    .table {
      td {
        padding: 10px;
      }
    }
  }

  .classroom-code-box {
    font-size: 30px;
    width: 560px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
  }

  .teacher-classroom-code {
    text-align: center;
  }
}

.teacher-classroom-nav {
  .btn { margin-right: 20px }
}

.teacher-classroom-chapter {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;

  .chapter-title, .chapter-assignment {
    line-height: 24px;
  }

  .chapter-title {
    @include bold;
  }

  .chapter-actions a {
    display: block;
  }

  .l-group {
    overflow: hidden;
  }

  .l-label {
    float: left;
    width: 134px;
  }

  .l-group-left {
    float: left;
    width: 634px;
  }

  .l-group-right {
    float: right;
  }
}

.classroom-manager-sticky-bar {
  // background-color: $skyblue;
  @extend .btn-warning;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  line-height: 1.5;
}

.teacher-lesson-planner {
  .explanation-text {
    background-color: #eee;
    font-style: italic;
    padding: 5px;
    margin: 10px 0;
  }

  .unit-header {
    background-color: $skyblue;
    padding: 5px;
    color: white;
    margin: 20px 0;
  }

  .activity-row {
    padding: 10px;
  }

  .sub-unit-header {
    text-decoration: underline;
    // font-weight: bold;
  }

  .unit-section {
    margin-bottom: 40px;
  }
}
