.profile-classroom-form {
  text-align: center;

  .big-input {
    margin-right: 20px;
  }

  .explanation {
    margin-top: 20px;
  }
}

table.classroom-students-grades {
  width: auto;

  td, th {
    border: 5px solid transparent;
    border-collapse: collapse;
  }

  .student-header {
    text-align: left;
  }

  .score-color {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    &.red { background-color: $missed-color }
    &.yellow { background-color: $tried-color }
    &.green { background-color: $foud-color}
  }
}

article.teacher-profile-page {
  .classroom-code-box {
    font-size: 30px;
    width: 560px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
  }

  .teacher-classroom-code {
    text-align: center;
  }
}

.teacher-classroom-nav {
  .btn { margin-right: 20px }
}
.teacher-classroom-chapter {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;

  .chapter-title, .chapter-assignment {
    line-height: 24px;
  }

  .chapter-title {
    @include bold;
  }

  .chapter-actions a {
    display: block;
  }

  .l-group {
    overflow: hidden;
  }

  .l-label {
    float: left;
    width: 134px;
  }

  .l-group-left {
    float: left;
    width: 634px;
  }

  .l-group-right {
    float: right;
  }
}
