article.activity-form
  iframe#activity-iframe src=@activity.form_url

javascript:
  jQuery(function ($) {
    window.quill = new Quill('#{@activity.form_url}', {
      afterEditingUrl: '#{url_for(controller: 'cms/activities', key: @activity.classification.key, action: 'index')}'
    });
    quill.listen();
  });
