<!-- this is the public facing index, for signed-in-teacher facing index, see lesson planner -->
<%= render partial: 'pages/shared/discover_tabs' %>

<div class="page-content-wrapper">
  <div class="tab-pane" id="public-activity-packs" data-authenticated=<%=@is_teacher%>>
      <%= react_component('PublicUnitTemplatesApp', props: {})%>
  </div>
</div>
