- @standards_count =  '5 Standards'
- @name = 'Practicing Commonly Confused Words Lorem Doler Ested'
- @category = 'UNIVERSITY'
- @author = 'by Silvia Furth'
- @activities_count = '10 Activities'
- @time = '45 mins'
- @image = Author.where.not(avatar_file_name: nil).first.avatar.url(:thumb)

.page-content-wrapper
  .row
    .col-xs-12
      .container#teachers-unit-templates

