<a
  aria-label="Open link to feedback forum in new tab"
  class="focus-on-light snapshot-item snapshot-feedback"
  href="https://quillorg.canny.io/admin-feedback"
  rel="noopener noreferrer"
  target="_blank"
>
  <div class="header">
    <h3>We’d love your feedback</h3>
    <img src="<%= new_tab_src %>" />
  </div>
  <p>Looking for a specific metric? Visit our feedback forum to make a request and vote on ideas.</p>
</a>