.banner {
  background-color: #014f92;
  padding: 16px 0px;
  display: none;
  &#webinar-banner, &#monday-banner, &#tuesday-banner, &#thursday-banner {
    border-top: 1px solid #fff;
  }
  &.webinar-banner {
    display: block;
  }
  &#student-feedback-banner {
    .interactive-wrapper {
      text-decoration: underline;
    }
  }
  p, a {
    font-size: 16px;
    color: #fff;
  }
  p {
    padding-left: 16px;
    padding-right: 24px;
    flex: 1;
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
  }
  .banner-icon {
    padding-left: 15px;
  }
  #close-banner {
    cursor: pointer;
  }
  .content-container {
    max-width: 1165px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0px auto;
    @media (max-width: 1165px) {
      padding: 0 15px;
      width: calc(100% - 30px);
    }
  }
}
