.banner-with-button {
  padding: 16px 0px;
  .content-container {
    max-width: $sitewidepagewidth;
    width: calc(100% - 30px);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    @media (max-width: 410px) {
      flex-direction: column;
      align-items: flex-start;
      .quill-button {
        margin-top: 8px;
      }
      span {
        width: 100%;
      }
    }
  }
}

.preview-student-banner {
  background-color: #e1f3f1;
  .content-container {
    span {
      width: calc(100% - 180px);
    }
  }
}

.premium-footer {
  background-color: #DF9E3D;
  color: white;
  .content-container {
    max-width: 1030px;
    width: calc(100% - 30px);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    @media (max-width: 410px) {
      flex-direction: column;
      align-items: flex-start;
      .quill-button {
        margin-top: 8px;
      }
      span {
        width: 100%;
      }
    }
  }
  .text-section {
    width: 703px;
    padding-top: 32px;
    padding-bottom: 32px;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      padding-top: 8px;
      width: 703px;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
    }
  }
  .explore-premium-button {
    color: #DF9E3D;
    background-color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    min-width: min-content;
  }
  @media (max-width: 750px) {
    .text-section {
      display: inline;
      width: auto;
      h2 {
        font-size: 20px;
      }
      p {
        width: auto;
      }
    }
    .explore-premium-button {
      margin-bottom: 15px;
    }
  }
}

.demo-account-banner {
  background-color: #FFEFC7;
  color: #9B5F05;
  .content-container {
    flex-direction: column;
    &.expanded {
      .first-line {
        padding-bottom: 16px;
        border-bottom: 1px solid #EBD2A0;
        margin-bottom: 16px;
        .interactive-wrapper img {
          transform: rotate(90deg);
        }
      }
    }
  }
  .first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    span {
      font-weight: bold;
    }
    div {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
    .interactive-wrapper {
      margin-right: 8px;
    }
  }
  .quill-button.primary.contained {
    color: #975E07;
    background-color: #EECE87;
    min-width: min-content;
    &:hover {
      background-color: #EECE87;
    }
  }
  .expanded-content {
    font-size: 14px;
    max-width: 1170px;
    span {
      display: inline-block;
      width: 100%;
      &:not(:last-of-type) {
        padding-bottom: 16px;
      }
    }
    a {
      text-decoration: underline;
      font-weight: bold;
      color: #9B5F05;
    }
  }

  @media (max-width: 410px) {
    .first-line {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
