.banner {
  background-color: #014f92;
  padding: 16px 0px;
  display: none;
  &#webinar-banner-one-off {
    border-top: 1px solid #fff;
  }
  &.webinar-banner {
    display: block;
  }
  &#student-feedback-banner {
    .interactive-wrapper {
      text-decoration: underline;
    }
  }
  p, a {
    font-size: 16px;
    color: #fff;
  }
  p {
    padding-left: 16px;
    padding-right: 24px;
    flex: 1;
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
  }
  .banner-icon {
    padding-left: 15px;
  }
  #close-banner {
    cursor: pointer;
  }
  .content-container {
    max-width: $sitewidepagewidth;
    width: calc(100% - 30px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0px auto;
  }
}

.evidence-teacher-handbook-banner {
  display: flex;
  padding: 20px !important;
  background-color: #EAF2F5;
  border: 1px solid rgba(44, 127, 155, 0.15);
  border-radius: 8px;
  margin-top: 39px;
  .information-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }
    p {
      margin: 8px 0px !important;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px !important;
    }
    a {
      background-color: $quillteal !important;
      &:hover {
        filter: brightness(110%);
      }
      i {
        margin-left: 8px;
      }
    }
  }
  img {
    width: 115px;
    height: 115px;
  }
}
