.dropdown-select-and-label {
  margin-top: 20px;
  margin-bottom: 20px;
  .dropdown-select-label {
    margin-bottom: 10px;
  }
}

.dropdown-toggle.select-grade {
  // there is better styling for this button in the google sync
  // sass but multiple places rely on this code
    font-size: 14px;
    font-weight: 500;
    border: solid 1px #d4d4d4;
    text-align: left;
    min-width: 90px;
    color: #b2b2b2;
    &.has-grade {
      color: #000;
    }
    &.inactive {
      background-color: transparent;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.05;
      letter-spacing: 1px;
    }
}

.dropdown-toggle.btn.btn-default {
  font-weight: normal;
  border-radius: 6px;
  color: #000000;
  padding: 0px 14px;
  height: 40px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #cecece;
}
