.home-footer {
  background-color: #393939;
  padding: 64px 61px;
  &.white {
    background-color: #fff;
    .footer-navigation {
      ul li {
        a,p {
          color: #5C5C5C
        }
        &:first-child {
          a,p {
            color: #5C5C5C
          }
        }
      }
    }
    .partners-footer, .privacy-and-social {
      p, a {
        color: #5C5C5C !important
      }
    }
  }
  .footer-navigation {
    margin: 0 auto;
    max-width: $sitewidepagewidth;
    display: flex;
    >* {
      flex: 1;
    }
    ul {
      margin-top: 0;
      padding-left: 0px;
    }
    ul li {
      list-style: none;
      a {
        color: #e1e1e1;
        line-height: 1.93;
        font-size: 15px;
      }
      &:first-child {
        margin-bottom: 8px;
        font-weight: bold;
        a, p {
          font-size: 14px;
          line-height: 1.5;
          color: $white;
          margin: 0px 0px 12px;
        }
      }
    }
  }
  .privacy-and-social {
    margin: 0 auto;
    max-width: $sitewidepagewidth;
    color: #e1e1e1;
    padding-top: 26px;
    form {
      max-width: 322px;
      width: 100%;
      position: relative;
      margin-bottom: 0px;
      .input {
        display: flex;
      }
      .text {
        max-width: 272px;
        padding: 9px 12px 9px 30px;
        width: 100%;
        border-right: 0;
        border-radius: 6px 0px 0px 6px;
        border: none;
        background-color: #4f4f4f;
        color: #9a9a9a;
      }
      .fa-search {
        color: #9a9a9a;
        position: absolute;
        left: 10px;
        top: 11px;
        font-size: 16px;
      }
      .search {
        width: 79px;
        background-color: #e1e1e1;
        font-weight: bold;
        border-radius: 0px 6px 6px 0px;
        border: 0px;
        color: #3b3b3b;
      }
    }
    div {
      a, p {
        margin-left: 14px;
        margin-right: 14px;
        &:first-child {
          margin-left: 0
        }
        &:last-child {
          margin-right: 0
        }
      }
      &.pas-left {
        font-size: 15px;
        a {
          color: #e1e1e1;
        }
        a, p {
          margin-bottom: 0;
        }
      }
      &.pas-right {
        font-size: 24px;

        a {
          color: #e1e1e1;
        }
      }
    }
    .cb-disclaimer {
      margin-top: 33px;
      font-size: 15px;
    }
    @media (max-width: 1000px) {
      flex-direction: column;
      .pas-left,
      .pas-right {
        margin-bottom: 20px;
      }
    }
  }
  .partners-footer {
    padding-top: 27px;
    padding-bottom: 35px;
    color: #e1e1e1;
    font-size: 15px;
    line-height: 1.93;
    max-width: $sitewidepagewidth;
    margin: 0 auto;
    border-bottom: 2px solid rgba(203, 203, 203, 0.5);
    p a {
      color: #e1e1e1;
      margin: 0 0 8px;
    }
    .partner-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      >img {
        flex: 1 1 auto;
        overflow-y: auto;
        margin-right: 25px;
      }
    }
  }
  @media (max-width : 1050px) {
    padding-left: 86px;
    padding-right: 86px;
    .footer-navigation {
      flex-direction: column;
      padding-bottom: 0;
      ul {
        margin-bottom: 24px !important;
      }
    }
    .partners-footer, .partner-links, .privacy-and-social {
      flex-direction: column;
      align-items: flex-start !important;
      text-align: left;
      img {
        margin-top: 20px;
      }
      .pas-left {
        flex-direction: column;
        margin-bottom: 0px;
        p, a {
          margin-left: 0px;
          margin-bottom: 24px !important;
        }
      }
      .pas-right {
        display: none;
      }
    }
    .partners-footer {
      padding-top: 0;
    }
    .partner-links {
      img:first-of-type {
        margin-top: 0;
      }
    }
    .cb-disclaimer {
      margin: 0 !important;
    }
  }
  @media (max-width : 650px) {
    padding-top: 25px;
    padding-left: 58px;
    padding-right: 58px;
    text-align: center;
    .footer-navigation {
      flex-direction: column;
      padding-bottom: 0;
      text-align: left;
      ul {
        padding-left: 0px;
        margin-bottom: 24px !important;
      }
      div {
        text-align: left;
        margin-bottom: 10px;
      }
    }
    .partners-footer, .partner-links, .privacy-and-social {
      flex-direction: column;
      align-items: flex-start !important;
      text-align: left;
      img {
        margin-top: 20px;
      }
      .pas-left {
        flex-direction: column;
        margin-bottom: 0px;
        p, a {
          margin-left: 0px;
          margin-bottom: 24px !important;
        }
      }
      .pas-right {
        display: none;
      }
    }
    .partners-footer {
      padding-top: 0;
    }
    .partner-links {
      img:first-of-type {
        margin-top: 0;
      }
    }
    .cb-disclaimer {
      margin: 0;
    }
  }
  @media only screen and (max-width: 400px) {
    .privacy-and-social div.pas-left {
      flex-direction: column;
      a {
        margin: 0px 0px 10px 0px;
      }
    }
  }
}

.student-footer {
  background: white;
  .inner-container {
    padding: 64px 61px;
    .privacy-and-terms {
      display: flex;
      padding-top: 16px;
      border-top: 1px solid #CFCFCF;
      p, a {
        margin-right: 32px;
      }
    }
  }
  @media (max-width : 1050px) {
   .inner-container {
      padding-left: 86px;
      padding-right: 86px;
    }
  }
  @media (max-width : 650px) {
  .inner-container {
      padding-left: 54px;
      padding-right: 54px;
    }
  }
}

.white-background-accommodate-footer {
  margin-bottom: -300px;
  padding-bottom: 300px;
  background-color: white;
}
