.footer-white {
  background-color: #fff;
  padding: 78px 0px 172px;
  width: 100%;
  max-width: 950px;
  display: flex;
  justify-content: center;
  box-shadow: 0 100vh 0 100vh #fff;
  margin: auto;
  .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    > * {
      flex-grow: 1;
    }
  }
  .top-half, .bottom-half {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:  center;
  }
  .top-half {
    align-items: flex-end;
    padding-bottom: 33px;
    border-bottom: solid 1px #c0c0c0;
  }
  .bottom-half {
    padding-top: 25px;
  }
  .footer-copy {
    color: #747474;
    font-size: 14px;
    max-width: 448px;
  }
  .logo-and-text {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    img {
      height: 38px;
      margin-right: 40px;
    }
    margin-right: 80px;
  }
  form {
    max-width: 322px;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    p {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
    }
  }
  .fa-search {
    color: #666;
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 16px;
  }
  .text {
    max-width: 272px;
    padding: 9px 12px 9px 30px;
    width: 100%;
    border-right: 0;
    border-radius: 6px 0px 0px 6px;
    border: solid 1px #e9e9e9;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 14px;
      color: #c0c0c0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size: 14px;
      color: #c0c0c0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size: 14px;
      color: #c0c0c0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size: 14px;
      color: #c0c0c0;
    }
  }
  .input {
    position: relative;
    display: flex;
  }
  .search {
    width: 79px;
    background-color: #00c2a2;
    font-weight: bold;
    color: white;
    border-radius: 0px 6px 6px 0px;
    border: 0px;
  }
  .footer-social {
    color: #666666;
    font-size: 24px;
    display: flex;
    max-width: 121px;
    justify-content: space-between;
    width: 100%;
    i, svg {
      color: #666666;
    }
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
  }
  .wrapper {
    margin: 0 auto;
  }
  .footer-contacts {
    font-size: 14px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    li, a {
      color: #666;
    }
  }
  @media (max-width: 1000px) {
    .top-half {
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        margin-bottom: 20px;
        margin-right: 0px;
      }
      .footer-copy {
        margin-bottom: 30px;
      }
    }
    .logo-and-text {
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-right: 0px;
    }
    .bottom-half {
      justify-content: space-around;
    }
    .footer-contacts {
      flex-direction: column;
      width: 142px;
    }
  }
  @media (max-width: 530px) {
    .bottom-half {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .footer-contacts {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 360px) {
    form {
      display: none;
    }
  }

  &.student-footer {
    overflow: show;
    padding: 42px 0px;
    border-top: 1px solid #e0e0e0;
    margin: 0px;
    max-width: 100%;
    .footer-content {
      max-width: 950px;
      margin: auto;
    }
    .footer-contacts {
      max-width: 195px;
    }
    .footer-contacts, .footer-social {
      margin-bottom: 0px;
      overflow: visible;
      a {
        display: inline-block;
      }
      li {
        display: flex;
      }
    }
    .bottom-half {
      padding-top: 0px;
    }
    @media (max-width: 1000px) {
      .bottom-half {
        justify-content: space-between;
      }
      .footer-contacts {
        flex-direction: row;
        max-width: 195px;
        width: 100%;
      }
    }
    @media (max-width: 984px) {
      padding: 42px 15px;
      .footer-content {
        max-width: 750px;
      }
    }
    @media (max-width: 530px) {
      padding: 40px 16px;
      .bottom-half {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-contacts {
        margin-bottom: 24px;
      }
    }
  }
}
