/* ==========================================================================
   Icons
   ========================================================================== */

.icons-wrapper {
  padding-top: 30px;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  float: left;
}

.icon-row {
  margin-bottom: 15px;
  .icon-wrapper {
    margin-right: 17px;
    float: none;
    display: inline-block;
  }
  &:first-child {
    margin-top: 26px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.icon-green {
  background: #58b146;
}

.icon-orange {
  background: #f8a724;
}

.icon-red {
  background: #e8522c;
}

.icon-gray {
  background: #b7b7b7;
}

.icon-blue {
  background-color: #348fdf;
}

.icon-progress {
  background-color: #ffffff;
  border: solid 1px #348fdf;
}

.icon-unstarted {
  background-color: #f6f3f3;
  border: solid 1px #969696;
}

.icon-pencil {
  background-image: url("https://assets.quill.org/images/scorebook/icon-pencil.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-puzzle, .icon-2 {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle.png");
  background-repeat: no-repeat;
  background-position: 11px 7px;
}

.icon-puzzle-gray, .icon-2-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-lessons-gray, .icon-6-gray {
  background-image: url("https://assets.quill.org/images/icons/lessons-dark-gray-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-diagnostic-gray, .icon-4-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-connect-gray, .icon-5-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-puzzle-green, .icon-2-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-puzzle-green-no-border, .icon-2-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/grammar-forest-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-diagnostic-green-no-border, .icon-4-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/diagnostic-forest-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-diagnostic-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-green-new.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-connect-green, .icon-5-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-connect-green-no-border, .icon-5-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/connect-forest-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-green, .icon-1-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-green-no-border, .icon-1-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/proofreader-forest-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-lessons-green, .icon-6-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-lessons-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}
.icon-lessons-green-no-border, .icon-6-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/lessons-forest-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}
.icon-evidence-green-no-border, .icon-9-green-no-border {
  background-image: url("https://assets.quill.org/images/icons/tool-evidence.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-lessons, .icon-6 {
  background-image: url("https://assets.quill.org/images/scorebook/icon-lessons.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag, .icon-1 {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic, .icon-4 {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic.png");
  background-repeat: no-repeat;
  background-position: 9px;
}
.icon-connect, .icon-5 {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-evidence, .icon-9 {
  background-image: url("https://assets.quill.org/images/icons/tool-evidence-white.svg");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-flag-gray, .icon-1-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icons-description-wrapper {
  float: left;
  position: relative;
  margin-left: 10px;
}

.icon-link {
  margin: 8px 15px 8px 0px;
  cursor: pointer;
}

.icon-puzzle-embossed, .icon-2-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/grammar-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-lessons-embossed, .icon-6-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/lessons-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-embossed, .icon-1-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/proofreader-embossed.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic-embossed, .icon-4-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/diagnostic-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-connect-embossed, .icon-5-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/connect-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-puzzle-lightgray, .icon-2-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-grammar-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-lessons-lightgray, .icon-6-lightgray  {
  background-image: url("https://assets.quill.org/images/scorebook/icon-lessons-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-lightgray, .icon-1-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-proofreader-lightgray.svg");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic-lightgray, .icon-4-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-connect-lightgray, .icon-5-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-evidence-lightgray, .icon-9-lightgray {
  background-image: url("https://assets.quill.org/images/icons/tool-evidence-light-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tool-diagnostic-gray,
.tool-lessons-gray,
.tool-connect-gray,
.tool-sentence-gray,
.tool-passage-gray {
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.tool-diagnostic-gray {
  background-image: url("https://assets.quill.org/images/icons/tool-diagnostic-gray.svg");
}

.tool-connect-gray {
  background-image: url("https://assets.quill.org/images/icons/tool-connect-gray.svg");
}

.tool-sentence-gray {
  background-image: url("https://assets.quill.org/images/icons/tool-grammar-gray.svg");
}

.tool-passage-gray {
  background-image: url("https://assets.quill.org/images/icons/tool-proofreader-gray.svg");
}

.tool-lessons-gray {
  background-image: url("https://assets.quill.org/images/icons/tool-lessons-gray.svg");
}
