/* ==========================================================================
   Inputs, selects, etc
   ========================================================================== */

input {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 12px;
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  &:focus {
    outline: none;
    border: 1px solid #5bc1a9;
  }
}

.datepicker-input {
  height: 31px;
  width: 162px;
  margin-right: 10px;
  /*background-image: url(../images/icon-calendar.png);*/
  background-image: url("https://assets.quill.org/images/scorebook/icon-calendar.png");
  background-repeat: no-repeat;
  background-position-x: 140px;
  background-position-y: 3px;
}

input.inactive {
  background: #f7f5f5;
  text-align: center;
  border: 1px dashed #cecece;
  &:focus {
    border: 1px dashed #5bc1a9;
  }
}

select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
  &:focus {
    outline: none;
  }
}

.button-select-wrapper {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  max-height: 40px;
  button {
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #000;
    font-size: 14px;
    padding: 9px 14px;
    text-align: left;
    width: 100%;
  }
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    a {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
        -webkit-appearance: none;
      }
      &:focus, &:active {
        -webkit-appearance: none;
      }
    }
  }
  a:hover {
    text-decoration: none;
  }
  .fa {
    color: #737373;
    position: relative;
    float: right;
    font-size: 1.3em;
    text-align: right;
    line-height: normal;
    width: auto;
  }
}

.select-white-wrapper .dropdown-menu {
  width: 265px;
}

.select-gray-wrapper .dropdown-menu {
  width: 100% !important;
}

.select-box-disabled {
  background: #ebebeb;
}

.select-white-wrapper {
  width: 280px;
}

.select-white {
  background: #fff;
  &:focus {
    outline: #00c2a2;
  }
}

.select-gray-wrapper {
  width: 220px;
}

.select-gray {
  background: #ebebeb;
}

.select-box-trigger {
  padding: 13px 40px;
  width: 284px;
  display: block;
  position: relative;
  right: 20px;
}

.input-container {
  min-height: 58px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  input {
    margin-bottom: 8px;
    border: 2px #009a80;
    border-style: none none solid none;
    border-radius: 0px;
    width: 100%;
    padding: 3px 0px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  label {
    font-size: 12px;
    font-weight: 600;
    color: #009a80;
    display: flex;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .dropdown {
    margin-bottom: 8px;
    &:focus {
      outline: none;
    }
    .Select-control {
      border: none;
      outline: none !important;
      box-shadow: none !important;
      border-radius: 0px !important;
    }
    .Select-value {
      border: solid 2px #009a80;
      border-style: none none solid none;
      border-radius: 0px;
      padding-left: 0px;
      &:focus {
        outline: none;
      }
    }
    .Select-value-label {
      color: #000;
    }
    .Select-multi-value-wrapper {
      &:focus {
        outline: none;
      }
    }
    .Select-clear-zone {
      display: none;
    }
    .Select-control {
      &:hover {
        box-shadow: none;
      }
    }
    .Select-input {
      padding: 8px 0px 0px;
      input {
        border: none;
        margin-bottom: 0px;
        padding: 0px;
      }
    }
  }
  &.inactive {
    &.has-text {
      input {
        height: inherit;
        padding: 3px 0px 4px;
      }
      label {
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
        display: flex;
        margin-bottom: 5px;
      }
    }
    input {
      border: 1px #e0e0e0;
      height: 1px;
      padding: 0px;
      border-style: none none solid none;
    }
    label {
      color: #7f7f7f;
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: normal;
    }
    .helper-text {
      font-size: 12px;
      font-weight: 600;
      color: #7f7f7f;
    }
    .dropdown {
      border-bottom: 1px solid #e0e0e0;
      .Select-value {
        border-width: 0px;
        border-color: #e0e0e0;
      }
    }
  }
  &.error {
    input {
      border: 2px #ff0000;
      border-style: none none solid none;
    }
    .error-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: normal;
      color: #ff0000;
      display: flex;
      margin-bottom: 10px;
    }
    &.active {
      label {
        color: #ff0000;
      }
    }
    &.inactive {
      label {
        color: #7f7f7f;
      }
    }
    &.unacknowledged {
      label {
        color: #7f7f7f;
      }
    }
  }
  .cancel {
    position: absolute;
    bottom: 16px;
    right: 0px;
    cursor: pointer;
  }
}
