/* ==========================================================================
   Inputs, selects, etc
   ========================================================================== */

input {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 12px;
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  &:focus {
    outline: none;
  }
}

.datepicker-input {
  height: 31px;
  width: 162px;
  margin-right: 10px;
  /*background-image: url(../images/icon-calendar.png);*/
  background-image: url("https://assets.quill.org/images/scorebook/icon-calendar.png");
  background-repeat: no-repeat;
  background-position-x: 140px;
  background-position-y: 3px;
}

input.inactive {
  background: #f7f5f5;
  text-align: center;
  border: 1px dashed #cecece;
  &:focus {
    border: 1px dashed #5bc1a9;
  }
}

select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
  &:focus {
    outline: none;
  }
}

.button-select-wrapper {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  max-height: 40px;
  button {
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #000;
    font-size: 14px;
    padding: 9px 14px;
    text-align: left;
    width: 100%;
  }
  .dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    a {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
        -webkit-appearance: none;
      }
      &:focus, &:active {
        -webkit-appearance: none;
      }
    }
  }
  a:hover {
    text-decoration: none;
  }
  .fas{
    color: #737373;
    position: relative;
    float: right;
    font-size: 1.3em;
    text-align: right;
    line-height: normal;
    width: auto;
  }
}

.select-white-wrapper .dropdown-menu {
  width: 265px;
}

.select-gray-wrapper .dropdown-menu {
  width: 100% !important;
}

.select-box-disabled {
  background: #ebebeb;
}

.select-white-wrapper {
  width: 280px;
}

.select-white {
  background: #fff;
  &:focus {
    outline: #00c2a2;
  }
}

.select-gray-wrapper {
  width: 220px;
}

.select-gray {
  background: #ebebeb;
}

.select-box-trigger {
  padding: 13px 40px;
  width: 284px;
  display: block;
  position: relative;
  right: 20px;
}

.editor-with-border-and-padding {
  max-width: 650px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  margin-top: 24px;
}
