.clever-classroom-modal,
.google-classroom-modal {
  text-align: center;

  .fa-exclamation-triangle {
    color: #ff4542;
    padding-right: 0.5em;
  }

  .fa-check {
    color: #82bf3c;
    padding-right: 0.5em;
  }

  .modal-content {
    max-width: 522px;
    margin: auto;
    height: auto;
  }

  .modal-body {
    padding: 40px 51px;
    position: relative;
    max-width: 520px;

    .react-bootstrap-close {
      position: absolute;
      right: 12px;
      top: 12px;
      height: 39px;
    }
  }

  .q-h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 9px;

    &:after {
      content: ' ';
      display: block;
      width: 87px;
      margin: 17px auto 20px;
      border-top: solid 1px #ebebeb;
    }
  }

  p {
    font-size: 18px;
    margin-bottom: 22px;
  }

  form {
    min-height: 30px;
    width: 418px;

    input[type=text] {
      border: 1px solid #737373;
      max-width: 264px;
      width: 100%;
      float: left;
    }

    input[type=submit] {
      margin-left: 10px;
      font-weight: 600;
      max-width: 144px;
      width: 100%;
      float: right;
    }
    @media (max-width: 525px) {
      input[type=text] {
        float: none;
        margin-bottom: 20px;
      }

      input[type=submit] {
        margin-left: 0;
        float: none;
      }
    }
  }

  a.q-button.cta-button {
    border: none;
    font-size: 16px;
    height: 40px;
    max-width: 280px;
    width: 100%;
    padding: 10px 10px 8px;

    &:hover {
      color: white;
      text-decoration: none;
    }
    @media (max-width: 525px) {
      margin-top: 20px;
    }
  }

  .error {
    font-size: 12px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ff4542;

    i, svg {
      padding-right: 3.5px;
    }
  }
}

.archive-warning,
.sync-success {
  .subheader {
    color: #737373;
    font-size: 18px;
    margin-bottom: 30px;
  }

  button {
    &.close-modal {
      border-radius: 6px;
      border: solid 1px #737373;
      padding: 9px 34px;
      width: 126px;
      height: 40px;
    }

    &.sync-classrooms {
      width: 196px;
      height: 40px;
    }

    &.back-to-profile {
      width: 180px;
    }
  }

  .button-wrapper {
    padding-top: L 18px;
    max-width: 336px;
    margin: 33px auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.time-left-in-days {
  color: #c0c0c0;
}



.select-credit-card-modal, .premium-confirmation, .school-premium-modal {
  .modal-content {
    border-radius: 12px;
  }
  width: 467px;
  font-size: 16px;
  text-align: center;
  color: #333;
  button:not(.q-button):not(.interactive-wrapper) {
    display: block;
    margin: auto;
    border-radius: 3px;
  	border: dashed 1px #c0c0c0;
    font-weight: 600;
    color: #666666;
    width: 350px;
    height: 55px;
    margin-bottom: 20px;
    &.enter-credit-card {
      margin-top: 40%;
    }
    &.existing-card {
      box-shadow: 0 1px 2px 0 #e9e9e9;
      border: solid 1px #e9e9e9;
      color: #027360;
      font-size: 14px;
      &:active {
        box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.7);
      }
      &.selected, &:hover {
        color: #00c2a2;
        border: solid 1px #00c2a2;
      }
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .pricing-info {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 27px;

    h1 {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: 800;
      margin-left: 18px;
    }

    span {
      font-size: 16px;
    }
  }
}

.school-premium-modal {
  .close-modal-button {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.select-credit-card-modal {
  .modal-body {
    padding: 1px;
  }
  h1 {
     margin-top: 30px;
  }
  .fa-credit-card {
    padding-right: 6px;
    font-size: 13px;
  }
  .different-card {
    &:hover {
      box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.7);
    }
  }
  .modal-content {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    z-index: 100;
    max-height: 476px;
    width: 460px;
  }
  h2 {
    margin: 39 0px;
  }
  img:hover {
    cursor: pointer;
  }
}

.premium-confirmation {
  text-align: center;
  .modal-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    background-image: url(https://assets.quill.org/images/illustrations/teacher-premium-modal.png);
    background-repeat: no-repeat;
    max-height: 628px;
    max-width: 470px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    z-index: 100;
  }
  img:hover {
    cursor: pointer;
  }
  h1 {
    margin-top: 229px;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 600;
  }
  #subscription-type {
    font-size: 18px;
    font-weight: 100 !important;
  }
  p {
    font-size: 16px;
    margin-bottom: 40px;
	  line-height: 1.75;
  }
  #view-premium-reports-button {
    padding: 10px 36px;
    font-size: 14px;
    margin-top: 40px;
    margin-right: 0px;
  }
}


.school-premium-modal {
  .modal-body {
    padding: 15px 0;
    .img {
      padding-right: 15px;
    }
  }
  .fas{
    padding-right: 15px;
    font-size: 14px;
    color: #875a12;
  }
  .react-bootstrap-close {
    height: 17px;
    height: 14px;
    padding-right: 14px;
  }
  .modal-content {
    min-height: 620px;
    background-color: #fafafa;
    position: fixed;
    left: 35%;
    top: 5%;
    z-index: 100;
    padding: 20px 0px 20px 0px;
    width: 460px;
  }
  img:hover {
    cursor: pointer;
  }
  html {
    overflow: hidden;
  }
  .pricing-info {
    padding-top: 33px;
    color: #666;
    padding: 15px 15px;
  }
  .cta-section {
        padding: 28px 15px;
        background-color: #fff;
        .q-button {
          font-size: 14px;
          font-weight: 700;
          padding: 10px 25px;
          height: 40px;
          margin-top: 0;
          border: none;
        }
    .flex-row {
      width: 367px;
      margin: auto;
      padding-bottom: 23px;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.83;
    margin-bottom: 30px;
  }
  .current-year {
    color: #3b3b3b;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 288px;
      border-bottom: solid 1px #d8d8d8;
      position: absolute;
      top: 101px;
      left: 87px;
    }
  }
  .not-the-purchaser-section {
        padding: 15 27px;
    border-top: 1px solid #e9e9e9;
    text-align: left;
    font-size: 16px;
    .flex-row {
      max-width: 381px;
    }
    h3, span {
      color: #875a12;
      font-weight: 700;
      padding-right:5px;
    }
    h3 {
      padding-left: 30px;
      font-size: 20px;
    }
    p {
      max-width: 350px;
      position: relative;
      top: -6px;
      margin-bottom: 14px;
    }
    padding-bottom: 30px;
  }
}

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
  background-color: #000;
}

.welcome-modal-container {
  canvas {
    position: fixed !important;
  }
}

.quill-modal {
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 3;
  position: fixed !important;
  top: 72px;
  left: 50%;
  bottom: 72px;
  transform: translate(-50%, 0);
  display: block;
  .checkbox-row {
    display: flex;
    align-items: center;
    .quill-checkbox {
      margin-right: 24px;
    }
    span {
      line-height: 1.57;
    }
  }
}

.modal-body {
  padding: 32px;
  margin-bottom: 32px;
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
  }
  .dropdown-menu {
    z-index: 4;
  }
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    .quill-button {
      margin-left: 24px;
    }
  }
}

.rename-class-modal,
.rename-activity-pack-modal,
.change-grade-modal,
.archive-class-modal,
.archive-activity-pack-modal,
.unarchive-class-modal,
.edit-student-account-modal,
.reset-student-password-modal,
.copy-dates-modal,
.school-not-listed-modal,
.merge-student-accounts-modal,
.move-students-modal,
.remove-students-modal,
.remove-coteacher-modal,
.transfer-ownership-modal,
.import-clever-classroom-students-modal,
.import-google-classroom-students-modal,
.link-clever-account-modal,
.link-google-account-modal,
.share-activity-pack-modal,
.leave-class-modal,
.clever-classrooms-empty-modal,
.google-classrooms-empty-modal,
.reauthorize-clever-modal,
.automatic-renewal-modal,
.grade-level-warning-modal,
.school-and-district-premium-modal,
.already-has-premium-modal {
  width: 560px;
  overflow: visible;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed !important;
  text-align: left;
  p {
    line-height: 1.57;
    color: #646464;
    margin-bottom: 32px;
  }
  .checkboxes {
    margin-bottom: 32px;
    .checkbox-row {
      margin-bottom: 16px;
      align-items: flex-start;
      .quill-checkbox {
        margin-top: 5px;
      }
    }
  }
}

.share-activity-pack-modal {
  bottom: 0;
  margin-bottom: 0;
  height: min-content;
  width: 560px;
  .title-row {
    display: flex;
    justify-content: space-between;
    .close-button {
      display: flex;
      background-color: white;
      padding: 0;
      align-self: flex-start;
    }
  }
  .disclaimer-text {
    margin-top: 24px;
  }
  .activity-pack-data-container {
    .link-label {
      margin: 0px 0px 4px 0px;
      font-size: 12px;
      font-weight: 600;
    }
    .activity-pack-link {
      font-size: 16px;
      color: #000000;
      word-break: break-word;
    }
    &.hide-modal-element {
      visibility: hidden;
    }
  }
  .class-and-activity-data-container {
    .first-step-container, .second-step-container {
      display: flex;
      .left-container {
        margin-right: 16px;
        min-height: 32px;
        .step-number-circle {
          width: 32px;
          height: 32px;
          text-align: center;
          border: 1px solid #9e9e9e;
          border-radius: 20px;
          font-size: 16px;
          p {
            font-size: 16px;
            margin: 1.5px 0px 0px 0px;
          }
        }
      }
      .right-container {
        .header {
          margin-bottom: 4px;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.38;
          color: #262626;
        }
        .secondary-text {
          margin: 0px 0px 16px 0px;
          font-size: 14px;
          line-height: 1.43;
        }
      }
    }
    .second-step-container {
      margin-top: 32px;
    }
  }
  .form-buttons {
    .quill-button {
      .button-text-container {
        display: flex;
        align-items: flex-start;
        .button-text {
          margin: 0px 0px 0px 8px;
          color: #000000;
        }
      }
    }
    &.hide-modal-element {
      visibility: hidden;
    }
  }
}

.override-warning-modal,
.skip-recommendations-warning-modal {
  overflow: visible;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed !important;
  text-align: left;
  width: 560px;
  padding: 32px;
  border-radius: 6px;
  background-color: #fff;
  min-height: min-content;
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #000;
  }
  .modal-body {
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 48px;
    p {
      line-height: 1.57;
      color: #646464;
      .quill-tooltip-trigger span:first-of-type {
        border-bottom: 1px dotted #646464;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    .quill-button {
      margin-left: 16px;
    }
  }
}


.rename-class-modal, .rename-activity-pack-modal {
  min-height: 273px;
  height: min-content;
  .title {
    margin-bottom: 24px;
  }
  .input-container {
    margin-bottom: 48px;
    &.error.unacknowledged {
      margin-bottom: 33px;
    }
  }
}

.change-grade-modal {
  height: 327px;
  p {
    margin-top: 24px;
  }
  .input-container {
    margin-bottom: 48px;
  }
}

.archive-class-modal {
  height: 316px;
}

.archive-activity-pack-modal {
  min-height: 274px;
  height: min-content;
}

.unarchive-class-modal, .leave-class-modal {
  height: 250px;
}

.welcome-modal {
  max-width: 906px;
  width: 100%;
  height: min-content;
  padding: 32px;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  .modal-body {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 8px;
  }
  button {
    width: min-content !important;
  }
  .welcome-modal-image-box {
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 32px;
    background-color: #F8F8F8;
    margin-bottom: 32px;
    .text {
      margin-right: 32px;
      p {
        font-size: 20px;
        line-height: 26px;
        color: #5C5C5C;
      }
    }
    img {
      max-width: 300px;
      max-height: 200px;
    }
  }
  .welcome-modal-option-boxes {
    display: flex;
    justify-content: space-between;
    .welcome-modal-option-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
      max-width: 405px;
      width: 100%;
      background: #EEF8F7;
      border-radius: 6px;
      h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 8px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        color: #5C5C5C;
        margin-bottom: 16px;
      }
    }
  }
  @media (max-width: 920px) {
    background-color: transparent;
    padding: 10px;
    position: absolute !important;
    top: -150px;
    transform: translate(-50%, 0);
    left: 50%;
    .welcome-modal-image-box {
      flex-direction: column-reverse;
      padding: 16px;
      .text {
        margin-right: 0px;
      }
      img {
        margin-bottom: 16px;
      }
    }
    .welcome-modal-option-boxes {
      flex-direction: column;
      align-items: center;
      .welcome-modal-option-box {
        max-width: 100%;
        padding: 32px 16px;
        &:first-of-type {
          padding-bottom: 0px;
          border-radius: 6px 6px 0px 0px;
          &::after {
            content: " ";
            border-bottom: 1px solid #B3B3B3;
            padding-top: 32px;
            width: 100%;
          }
        }
        &:last-of-type {
          border-radius: 0px 0px 6px 6px;
        }
      }
    }
  }
}

.archive-class-modal-text,
.unarchive-class-modal-text,
.leave-class-modal-text,
.archive-activity-pack-modal-text {
  margin-top: 24px;
  margin-bottom: 48px;
  line-height: 1.57;
  letter-spacing: normal;
  color: #646464;
  p {
    margin-bottom: 24px;
  }
  a {
    color: #027360;
    font-weight: 600;
  }
}

.edit-student-account-modal {
  height: 445px;
  .input-container {
    height: 96px !important;
    display: flex;
    justify-content: flex-start;
  }
}

.reset-student-password-modal {
  height: 327px;
  .input-container {
    margin-bottom: 36px;
    input {
      border-bottom: none;
    }
  }
}

.school-not-listed-modal {
  height: min-content;
  .input-container {
    margin-bottom: 36px;
  }
}

.merge-student-accounts-modal,
.move-students-modal,
.remove-students-modal,
.remove-coteacher-modal,
.transfer-ownership-modal,
.reauthorize-clever-modal,
.import-clever-classroom-students-modal,
.import-google-classroom-students-modal {
  .input-container {
    margin-bottom: 32px;
    &.inactive {
      height: 59px;
    }
    &.active {
      margin-bottom: 83px;
    }
  }
}

.merge-student-accounts-modal {
  height: 608px;
  .swap {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    margin-bottom: 16px;
    img {
      margin-right: 4px;
    }
  }
}

.move-students-modal {
  height: 403px;
}

.remove-students-modal,
.remove-coteacher-modal,
.transfer-ownership-modal,
.reauthorize-clever-modal,
.import-clever-classroom-students-modal,
.import-google-classroom-students-modal,
.link-clever-account-modal,
.link-google-account-modal {
  .checkboxes {
    margin-bottom: 48px;
  }
}

.remove-students-modal, .remove-coteacher-modal {
  height: 328px;
}

.transfer-ownership-modal {
  height: 350px;
  p {
    max-width: 490px;
  }
}

.reauthorize-clever-modal {
  height: 256px;
  .title {
    margin-bottom: 24px;
  }
}

.import-clever-classroom-students-modal,
.import-google-classroom-students-modal {
  height: 306px;
  .title {
    margin-bottom: 24px;
  }
}

.link-clever-account-modal,
.link-google-account-modal {
  height: 328px;
  .title {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 32px;
  }
}

.clever-classrooms-empty-modal,
.google-classrooms-empty-modal {
  height: 449px;
  text-align: center;
  .title, p {
    margin-bottom: 48px;
  }
  p {
    margin-top: 24px;
  }
}

.invite-coteachers-modal {
  width: 560px;
  overflow: hidden;
  .invite-coteachers-modal-body {
    padding-top: 0px;
    p {
      font-size: 14px;
      line-height: 1.57;
      color: #646464;
    }
    .input-container {
      margin: 32px 0px;
    }
    .data-table {
      height: 100%;
      overflow: scroll;
      padding-bottom: 400px;
    }
  }
  .invite-coteachers-modal-footer {
    justify-content: flex-end;
  }

}

.import-clever-classrooms-modal-header,
.import-google-classrooms-modal-header,
.bulk-archive-classes-modal-header,
.invite-coteachers-modal-header {
  padding: 32px 32px 0px;
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
  }
}

.import-clever-classrooms-modal-footer,
.import-google-classrooms-modal-footer,
.bulk-archive-classes-modal-footer,
.invite-coteachers-modal-footer {
  position: fixed !important;
  bottom: 0;
  height: 96;
  background-color: white;
  opacity: 1;
  z-index: 4;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding: 0px 32px;
  .quill-button {
    margin-left: 24px;
  }
}

.import-clever-classrooms-modal,
.import-google-classrooms-modal,
.bulk-archive-classes-modal {
  width: 950px;
  position: fixed !important;
  overflow: hidden;
  .import-clever-classrooms-modal-footer,
  .import-google-classrooms-modal-footer,
  .bulk-archive-classes-modal-footer {
    justify-content: space-between;
    .buttons {
      display: flex;
    }
  }
  .data-table {
    height: 100%;
    overflow: scroll;
    padding-bottom: 400px;
    .data-table-headers {
      z-index: 7;
    }
    .data-table-row.error.checked {
      padding-bottom: 48px;
      height: 94px;
      position: relative;
      .unacknowledged {
        margin-top: 62px;
        z-index: 2;
        .dropdown {
          margin-bottom: 6px;
        }
        .dropdown__control {
          padding-bottom: 36px;
        }
      }
      .inactive {
        .dropdown__control {
          border-bottom: 2px solid #ff0000;
        }
      }
      .error-text {
        white-space: normal;
      }
    }
    .data-table-row.error.checked::after {
      background-color: white;
      content: '';
      position: absolute;
      top: 47px;
      left: 0px;
      right: 0px;
      height: 46px;
      z-index: 0;
    }
    .show-overflow {
      overflow: visible;
    }
    .dropdown-container {
      width: 110px;
      label {
        color: #000;
        font-size: 14px;
        margin-top: 0px !important;
      }
      .dropdown__control {
        border: none;
        background-color: inherit;
        margin-bottom: 0px;
      }
      &.inactive {
        min-height: 100%;
        &.has-text {
          label {
            display: none;
          }
        }
      }
    }
  }
}

.create-a-class-modal {
  width: 760px;
  position: fixed !important;
  text-align: left;
  overflow: hidden;
  .create-a-class-modal-content {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 120px;
  }

  .create-a-class-modal-body {
    padding-right: 24px;
    .title {
      margin-bottom: 40px;
    }
    &.setup-instructions {
      .title {
        margin-bottom: 8px;
      }
      p {
        width: 416px;
        font-size: 14px;
        line-height: 1.57;
        color: #646464;
        margin-bottom: 32px;
      }
      img {
        margin-bottom: 32px;
      }
    }

    &.create-students {
      height: 100%;
      form {
        display: flex;
        justify-content: space-between;
        .input-container {
          width: 302px;
        }
      }
      .data-table {
        height: 100%;
        padding-bottom: 105px;
      }
    }

    .create-a-class-form {
      width: 512px;
      .input-container {
        margin-bottom: 12px;
        &.grade {
          margin-bottom: 24px;
        }
        &.name {
          min-height: 80px;
          justify-content: flex-start;
        }
      }
      .class-code-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .input-container {
          width: 300px;
          margin-bottom: 0px;
          &.code {
            input {
              border-bottom: none;
            }
          }
        }
        .reset {
          color: #027360;
          font-size: 16px;
          cursor: pointer;
          font-weight: normal;
        }
      }
    }

    .quill-cards {
      width: 584px;
      .quill-card:first-of-type {
        margin-bottom: 24px;
        p {
          width: 400px;
        }
      }
    }
    .copy-class-code-container {
      display: flex;
      align-items: center;
      .input-container {
        width: 256px;
        margin-right: 16px;
      }
    }
  }

  .create-a-class-modal-footer {
    position: fixed !important;
    bottom: 0;
    height: 88px;
    background-color: white;
    opacity: 1;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 0px 32px;
    &.with-back-button {
      justify-content: space-between;
    }
  }

  .create-a-class-modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 32px;
    height: 70px;
    align-items: center;
    img {
      cursor: pointer;
    }
    .navigation {
      display: flex;
      color: #646464;
      p {
        margin-right: 24px;
      }
      .active {
        color: #000;
      }
    }
  }
  .data-table {
    height: 100%;
    overflow: scroll;
    padding-bottom: 400px;
    .data-table-headers {
      z-index: 7;
    }
    .show-overflow {
      overflow: visible;
    }
    .dropdown-container {
      width: 110px;
      label {
        color: #000;
        font-size: 14px;
        margin-top: 0px;
      }
      .dropdown__control {
        border: none;
        background-color: inherit;
        margin-bottom: 0px;
      }
      &.inactive {
        min-height: 100%;
        &.has-text {
          label {
            display: none;
          }
        }
      }
    }
  }
}

.view-as-student-modal {
  width: 760px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 0px;
  .top-section {
    padding: 32px 32px 0px;
    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }
  .middle-section {
    flex: 1;
    overflow: hidden;
    padding: 0px 32px 32px;
    .dropdown-container {
      min-width: 400px;
      width: min-content;
      height: 89px;
      justify-content: flex-start;
    }
    .view-button-section {
      margin-right: 0px;
      .quill-button {
        width: 88px;
      }
    }
    .data-table {
      height: calc(100% - 58px);
    }
    .data-table-row:last-of-type {
      border-bottom: 1px solid #e0e0e0 !important;
    }
  }
  .bottom-section {
    padding: 24px 32px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e0e0e0;
  }
}

.bulk-archive-classes-modal {
  .bulk-archive-classes-modal-header {
    p {
      font-size: 14px;
      line-height: 1.57;
      color: #646464;
      margin-top: 24px;
      max-width: 496px;
      margin-bottom: 16px;
    }
    a {
      line-height: normal;
      color: #027360;
    }
  }
  .bulk-archive-classes-modal-body {
    .quill-checkbox {
      width: 16px !important;
      height: 16px !important;
    }
    .data-table {
      .data-table-header {
        height: 16px !important;
        font-weight: 600 !important;
      }
      .students-header, .students-row-section {
        margin-right: 0px;
      }
    }
  }
  .bulk-archive-classes-modal-footer {
    justify-content: flex-end;
    .quill-button {
      width: min-content !important;
    }
    .secondary {
      font-weight: 600 !important;
    }
  }
}

.explore-demo-modal {
  bottom: auto;
  width: 500px;
  h1 {
    font-weight: bold;
  }
  p {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .explore-demo-modal-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  button {
    float: right;
  }
  .cancel-button {
    border: 1px solid #bdbdbd;
    margin-right: 20px;
  }
}

.close-demo-modal {
  float: right;
  z-index: 99;
  position: relative;
  cursor: pointer;
}
