/* ==========================================================================
   Navbar styles
   ========================================================================== */

.navbar-brand {
  cursor: pointer !important;
}

#application_nav_bar {
  max-height: 77px;
}

.mobile-navbar:not(.non-standard-navbar) {
  background-color: transparent;
  height: min-content;
  .q-navbar-home {
    .logo-and-badge-container {
      .mobile-quill-logo {
        background-image: url('https://assets.quill.org/images/icons/quill-logo-mobile-white.svg');
        width: 30px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 5px;
        margin-left: 16px;
      }
    }
    .right-side-mobile-nav {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      .active-tab {
        font-weight: 600;
        font-size: 18px;
        margin: 0;
        margin: 0;
        color: #FFFFFF;
      }
      .mobile-hamburger-container {
        .hamburger-icon {
          padding: 13px 13px 7px 13px;
          margin: 0px 16px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 6px;
          .horizontal-line {
            width: 24px;
            height: 2px;
            background: #FFFFFF;
            border-radius: 1px;
            margin-bottom: 6px;
          }
        }
        .home-navbar-list {
          position: absolute;
          left: 0px;
          width: 100%;
        }
      }
    }
    #mobile-primary-dropdown-container {
      div {
        .dropdown-menu {
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 0px 0px 10px 10px;
          padding: 16px;
          li {
            display: flex;
            justify-content: space-between;
            padding: 13.5px 16px 10px 16px;
            border-radius: 6px;
            &.hover {
              background-color: $quillgreenlight;
            }
            &#my-account-tab {
              border-top: 1px solid rgba(6, 128, 107, 0.3);
              border-radius: 0;
              margin-bottom: 0;
              padding-bottom: 16px;
            }
            &#learning-tools-tab {
              padding-top: 16px;
            }
            &#quill-support-tab {
              padding-bottom: 16px;
            }

            &#premium-tab, &#admin-tab, &#quill-academy-tab {
              a {
                display: flex;
                .premium-tab-copy {
                  display: flex;
                  .large-diamond-icon {
                    background-image: url("https://assets.quill.org/images/icons/yellow-diamond.svg");
                    margin: 2px 8px;
                  }
                  img {
                    display: inherit;
                    margin-left: 8px;
                  }
                }
              }
            }
            &#premium-tab {
              a {
                color: $quillgoldextradark !important;
              }
            }
            &#quill-academy-tab {
              border-bottom: 1px solid rgba(6, 128, 107, 0.3);
              border-radius: 0;
              padding-bottom: 16px;
            }
            &#admin-tab, &#quill-academy-tab {
              a {
                color: $quillmaroon !important;
              }
            }
            &#logout-tab {
              border-radius: 0px;
              border-top: 1px solid rgba(6, 128, 107, 0.3);
              padding: 16px 16px 8px 16px;
            }
            a {
              padding: 0;
              color: $quillgreenmedium !important;
              background-color: inherit;
              font-size: 16px;
              font-weight: 600;
            }
            .checkmark-icon {
              background-image: url("https://assets.quill.org/images/icons/mobile-dark-green-check.svg");
              background-repeat: no-repeat;
              background-position: center;
              width: 18px;
              height: 19px;
              display: none;
              margin-right: 10.5px;
              &.active {
                display: inherit;
              }
            }
          }
        }
      }
    }
    &.sub-page {
      background-color: #FFFFFF;
      .logo-and-badge-container {
        .mobile-quill-logo {
          background-image: url('https://assets.quill.org/images/icons/quill-logo-mobile-green.svg');
        }
      }
      .right-side-mobile-nav {
        .active-tab {
          color: $quillgreenmedium;
          &.red {
            color: $quillmaroon;
          }
          &.yellow {
            color: $quillgoldmedium;
          }
        }
        .mobile-hamburger-container {
          .hamburger-icon {
            background-color: rgba(227, 240, 238, 1);
            &.red {
              background-color: $quillmaroonlight;
              .horizontal-line {
                background: $quillmaroon;
              }
            }
            &.yellow {
              background-color: $quillgoldlight;
              .horizontal-line {
                background: $quillgoldmedium;
              }
            }
            .horizontal-line {
              background: $quillgreenmedium;
            }
          }
        }
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #FFFFFF;
  margin-top: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  &.non-standard-navbar {
    background-color: $quillgreenmedium;
    .navbar-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar-brand {
      padding: 0px;
      height: inherit;
      margin-left: 0px !important;
    }
  }
}

.navbar-divider-bar {
  height: 16px;
  &.green {
    background-color: $quillgreenmedium;
  }
  &.gold {
    background-color: $quillgoldmedium;
  }
  &.maroon {
    background-color: $quillmaroon;
  }
}

.large-diamond-icon {
  width: 19.36px;
  height: 15.75px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}

.small-diamond-icon {
  width: 14.52px;
  height: 11.81px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}

.q-nav-bar {
  #teacher-nav-tabs {

    .admin-tab,
    .quill-academy-tab {
      &.active {
        a {
          color: #FFFFFF;
          background-color: $quillmaroon;
          .large-diamond-icon {
            background-image: url("https://assets.quill.org/images/icons/white-diamond.svg");
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        background-color: $quillmaroonlight;
        color: $quillmaroon;
        margin-left: 4px;
        border-radius: 8px 8px 0px 0px;
        border-left: none;
        .large-diamond-icon {
          background-image: url("https://assets.quill.org/images/icons/red-diamond.svg");
        }
      }

      a:hover {
        background-color: #EFA67E;
        color: $quillmaroon;
        .large-diamond-icon {
            background-image: url("https://assets.quill.org/images/icons/red-diamond.svg");
          }
      }

      img {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
  .admin-tab {
    .large-diamond-icon {
      background-image: url("https://assets.quill.org/images/icons/red-diamond.svg");
    }
    &.active {
      .large-diamond-icon {
        background-image: url("https://assets.quill.org/images/icons/white-diamond.svg");
      }
    }
  }
}

.home-nav-right {
  font-weight: 600;
  font-size: 16px;
  .sign-up-button {
    height: 30px;
    padding: 0px 13px;
    align-items: center;
    display: flex;
    border-radius: 6px;
    border: $quillgreenmedium 1px solid;
    &:hover {
      color: #00c2a2;
      background-color: #ffffff;
    }
  }
  .on-home-page {
    color: #FFFFFF !important;
    &.sign-up-button {
      border: #FFFFFF 1px solid;
    }
  }
}

#nav-user-dropdown {
  position: relative;
  margin-top: 2px;
  &.on-dashboard {
    .user-dropdown-button {
      background-color: $quillgreenlight;
      color: $quillgreenmedium;
    }
  }
  &.not-on-dashboard {
    .user-dropdown-button {
      border: solid 1px #ffffff;
      background-color: $quillgreenlight;
      color: $quillgreenmedium;
    }
  }
  .user-dropdown-button {
    border-radius: 6px;
    float: right;
    height: 30px;
    align-items: center;
    display: flex;
    padding: 0px 12px;
    font-size: 14px;
    cursor: pointer;
    justify-content: space-between;
    min-width: 135px;
    span {
      display: flex;
      align-items: center;
    }
    img {
      margin-right: 12px;
    }
    &:focus, &:hover {
      text-decoration: none;
    }
    &::before {
      right: -6px;
    }
  }
  div {
    padding: 0;
    top: 40px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #c0c0c0;
    position: absolute;
    list-style: none;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    .fa-caret-up {
      color: white;
      position: absolute;
      top: -10px;
      right: 17px;
    }
    a {
      border-radius: 0;
      font-size: 14px;
      padding: 6px 12px;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 600px;
      color: #027360;
      .image-container {
        display: flex;
        max-height: 12px;
        margin-right: 8px;
      }
      .hover {
        display: none;
      }
      &:hover {
        text-decoration: none;
        color: #00c2a2;
        .static {
          display: none;
        }
        .hover {
          display: inline;
        }
      }
      &:last-of-type {
        padding: 8px 12px;
        border-top: solid 1px #e9e9e9;
      }
    }
  }
  &.dropdown-closed {
    .user-dropdown-button::after {
      margin-left: 10px;
      content: "\f078";
      font-family: "Font Awesome 5 Pro";  /* updated font-family */
      font-weight: 900; /* regular style/weight */
    }
    div {
      display: none;
    }
  }
  &.dropdown-open {
    .user-dropdown-button::after {
      margin-left: 10px;
      content: "\f077";
      font-family: "Font Awesome 5 Pro";  /* updated font-family */
      font-weight: 900; /* regular style/weight */
    }
  }
}

nav.q-navbar-home {
  max-width: $sitewidepagewidth;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position:relative;
  margin: 0px auto;

  .logo-and-badge-container {
    display: flex;
    align-items: center;
    .premium-navbar-badge-container {
      display: flex;
      align-items: center;
      width: max-content;
      margin: 0px 0px 0px 16px;
      padding: 0px 8px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 12px;
      height: 20px;
      text-decoration: none;
      &.yellow {
        background-color: $quillgoldlight;
        color: $quillgolddark;
        .small-diamond-icon {
          background-image: url("https://assets.quill.org/images/icons/yellow-diamond.svg");
        }
        &:hover {
          background-color: #FCD79F;
        }
      }
      &.red {
        background-color: $quillmaroonlight;
        color: $quillmaroon;
        .small-diamond-icon {
          background-image: url("https://assets.quill.org/images/icons/red-diamond.svg");
        }
        &:hover {
          background-color: #EFA67E;
        }
      }
    }
  }

  .logo-only {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-img-new {
    margin-top: 20px;
    height: 35px;
  }

  .home-nav-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-element {
      color: $quillgreenmedium;
    }

    .nav-element, .navbar-tooltip-trigger {
      margin-left: 32px;
    }

    .nav-element:not(.sign-up-button):hover {
      color: $quillgreendark;
    }

    &.narrow {
      display: none;
    }
  }

  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input.home-nav-checkbox[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav.home-nav-dropdown[role="home-custom-dropdown"] {
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.2em sans-serif;
      transition: color .3s ease-in-out;
    }

    ul {
      padding: 0;
      // margin: 0 auto;
      width: 100%;
      list-style:none;
      position: absolute;
      top: 59px;
      left: 0;
      z-index: 2;

      > li {
        float:left;
        padding: .55em 15px;
        // margin: 0 auto;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media only screen and (max-width: 865px) {
    a.q-button {
      // &.cta-button, &.icon-button {
        padding-left: 0px;
        padding-right: 0px;
      // }
    }
  }
  @media screen and (min-width: 921px) {
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 920px) {
    height: 60px;

    .home-nav-right.wide {
      display: none;
    }

    .logo-img-new {
      margin-top: 7px;
      height: 35px;
    }

    .desktop-nav-list {
      display: none;
    }
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      ul {
        display:none;
        // height:100%;
        padding-bottom: 5px;
        -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
      }

      label {
        position:relative;
        display:block;
        width:100%;
        min-height:2.25em;
        padding:.45em;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 10%;
        top: -12px;
        content: "\2261";
        color: $white;
        font-size: 4em;
        @media only screen and (max-width : 419px) {
          font-size: 3em;
          top: 0px;
        }
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ label:after {
        color: $white;
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width: calc(100% - 30px);
          text-align:left;
        }
      }
    }
  }
}

.q-nav-bar {
  margin: auto;
  max-width: $sitewidepagewidth;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
  }

  li {
    padding: 0px;
    white-space: nowrap;
    &.active {
      &:after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
      }
      position: relative;
    }
  }
  a {
    font-size: 15px;
    line-height: 45px;
    color: #1e1e1e;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
  }



  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav[role="custom-dropdown"] {
    position:relative;
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.4em sans-serif;
      transition:color .3s ease-in-out;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      width:100%;
      list-style:none;
      position: absolute;

      > li {
        float:left;
        padding:.55em .55em;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media screen and (min-width: 501px) {
    nav[role="custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .desktop-nav-list {
      display: none;
    }
    nav[role="custom-dropdown"] {
      ul {
        display:none;
        height:100%;
      }

      label {
        position:relative;
        display:block;
        width: calc(100% - 30px);
        min-height:2.25em;
        padding:15px;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 25px;
        top: -12px;
        content: "\2261";
        color: $white;
        font-size: 4em;
      }

      input[type=checkbox]:checked ~ label:after {
        color:#222;
      }

      input[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width: calc(100% - 19px);
          text-align:left;

        }
      }
    }
  }
}

.navbar-tooltip-trigger {
  cursor: pointer;
  position: relative;
  margin-bottom: -20px;
  padding-bottom: 20px;
  span {
    color: $quillgreenmedium;
  }
  &#learning-tools {
    .navbar-tooltip {
      width: 248px;
    }
  }
  &#our-story {
    .navbar-tooltip {
      width: 261px;
    }
  }
  &#teacher-center {
    .navbar-tooltip {
      left: -89px;
    }
  }
  &#quill-support {
    .navbar-tooltip {
      right: -166px;
    }
  }
  .navbar-tooltip {
    z-index: 100;
    display: none;
    position: absolute;
    width: max-content !important;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 #c0c0c0;
    flex-direction: column;
    top: 40px;
    padding-top: 16px;
    .fa-caret-up {
      color: white;
      position: absolute;
      top: -10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .tooltip-link {
      padding: 0px 16px 16px 16px;
      display: flex;
      align-items: flex-start;
      .content-container {
        display: flex;
        align-items: center;
        border-radius: 6px;
        width: 100%;
        padding: 8px;
        &:hover {
          background-color: $quillgreenlight;
        }
        &#premium-section {
          border-top: 1px solid rgba(92, 92, 92, 0.3);
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          padding-top: 16px;
          h3, p {
            color: $quillgolddark;
          }
        }
        .image-container {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 30px;
          // height: 30px;
          margin-right: 15px;
          border-radius: 3px;
          i, svg {
            color:  #00947b;
          }
          .hover {
            display: none;
          }
        }
        h3 {
          font-size: 16px;
          font-weight: 600;
          color: $quillgreenmedium;
          margin-top: 0px;
          margin-bottom: 6px;
        }
        p {
          font-size: 13px;
          color: #949494;
          margin-bottom: 0px;
          font-weight: 300;
        }
      }
      &:hover {
        text-decoration: none;

      }
    }
  }
  &:hover:not(.unhoverable), &:focus {
    outline: none;
    span {
      color: $quillgreendark;
    }
    .navbar-tooltip {
      display: flex;
    }
  }
  &.active {
    span {
      color: $quillgreendark;
    }
  }
}

.home-navbar-list {
  background-color: #3b3b3b;
  margin-bottom: 0;
  float: right;
  list-style-type: none;
  li {
    float: left;
    position: relative;
    display: block;
    padding: 18px 0;
    a {
      height: 25px;
      padding: 0px 11px;
      margin: 0 2px;
      font-weight: 600;
      position: relative;
      display: flex;
      align-items: center;
      line-height: 20px;
      color: $white;
      font-size: 14px;
      border: 1px solid transparent;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 4px;
      //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: 0.1s ease-out;
      -moz-transition: 0.1s ease-out;
      -webkit-transition: 0.1s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover a {
      background-color: $white;
      color: $quillgreen;
    }
  }
}

@media (max-width: 1200px) {
  .desktop-navbar, .q-nav-bar{
    display: none;
  }
  .mobile-navbar {
    display: inherit;
  }
  .q-navbar-home {
    width: 100%;
    min-height: 76px;
  }
}

@media (min-width: 1201px) {
  .desktop-navbar {
    display: flex;
  }
  .mobile-navbar {
    display: none;
  }
}

@media (max-width: 410px) {
.q-navbar-home {
    .logo-and-badge-container {
      .premium-navbar-badge-container {
        .premium-badge-text {
          display: none;
        }
        .small-diamond-icon {
          margin-left: 0;
        }
      }
    }
  }
}
