.new-tag {
  border-radius: 3px;
  background-color: #eb5757;
  color: white;
  margin-left: 4px;
  padding: 0px 4px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
}
