.password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input-container {
    flex: 1;
  }
  .interactive-wrapper {
    margin-left: 8px;
    height: min-content;
  }
}
