.preview-student-banner {
  background-color: #e1f3f1;
  padding: 16px 0px;
  .content-container {
    max-width: 980px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 0 15px;
    span {
      width: calc(100% - 180px);
    }
    @media (max-width: 410px) {
      flex-direction: column;
      align-items: flex-start;
      .quill-button {
        margin-top: 8px;
      }
      span {
        width: 100%;
      }
    }
  }
}
