.select-item-dropdown {
  max-width: 300px;
  width: 100%;
  &.input-container.active.not-editable {
    min-height: 58px;
    .dropdown__menu {
      margin-top: -20px;
    }
  }
  .dropdown__control {
    background-color: transparent;
  }
}
.activities-scores-by-classroom .btn:focus {
  color: #000000;
}

#select-student-dropdown {
  background-color: $quillgreen;
  color: white;
}
