.sub-header {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #646464;
  max-width: 432px;
  margin: auto;
  a {
    margin-left: 4px;
  }
}

.account-form {
  padding-bottom: 140px;
  padding-top: 48px;
  h1 {
    font-weight: bold;
    margin: 0px auto 46px;
    text-align: center;
    font-size: 24px;
    max-width: 546px;
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 32px;
  }

  .account-container {
    max-width: 444px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    margin: auto;
    min-height: 480px;
    padding: 40px 32px 20px;

    form {
      display: flex;
      flex-direction: column;
    }

    .auth-section {
      padding-bottom: 29px;
      button {
        max-width: 380px;
        width: 100%;
        display: flex;
        height: 40px;
        align-items: center;
        margin: auto;
        justify-content: center;
        border-radius: 4px;
        border: solid 1px #bdbdbd;
        background-color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        color: #000;
        padding: 0px;
        &:hover, &:focus {
          text-decoration: none;
        }
        img {
          margin-right: 8px;
        }
        &:first-of-type {
          margin-bottom: 24px;
        }
      }
    }

    .break {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #646464;
      span {
        border-bottom: #e0e0e0 1px solid;
        width: 100%;
        max-width: 167px;
        height: 1px;
        display: inline-block;
        &:first-of-type {
          margin-right: 16px;
        }
        &:last-of-type {
          margin-left: 16px;
        }
      }
    }

    .input-container {
      margin-top: 10px;
      .error-text {
        margin-bottom: 0px;
      }
      &.password {
        margin-bottom: 10px;
      }
    }

    .quill-button {
      width: 100% !important;
    }
  }

  .return-to-login {
    color: #646464;
    a {
      color: #009a80;
      font-weight: 600;
      margin-left: 4px;
    }
  }
  .agreements {
    color: #646464;
    margin-top: 32px;
    text-align: center;
    a {
      color: #646464;
      text-decoration: underline;
    }
  }
}
