/* ==========================================================================
   Tabs
   ========================================================================== */
#teacher-nav-tabs {
  width: 100%;
  li {
    a {
      background: #E3F0EE;
      border-left: 1px solid #BAD6D1;
      color: #06806B;
      font-size: 14px;
      font-weight: 600;
      line-height: 41px;
      margin-top: 0px;
      padding: 3px 30px 3px;
      text-decoration: none;
      &:hover {
        background-color: #0E927C;
      }

      &.mobile {
        display: none;
      }
    }

    &:first-of-type a {
      border-left-width: 0;
      border-radius: 8px 0 0 0;
    }

    &:last-of-type a {
      border-radius: 0 8px 0 0;
    }

    &.active {
      a {
        background: #06806B;
        border-bottom: none;
        border-left-width: 0;
        color: #FFFFFF;
        position: relative;

        &:after {
          background-color: black;
          bottom: 0;
          height: 4px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      & + li a {
        border-left-color: transparent;
      }
    }
  }
}

.tab-subnavigation-wrapper {
  background: #06806B;
  border-bottom: 1px solid #cecece;
  // margin-top: -1px;
  min-height: 48px;
  padding: 8px 0;

  &.about-subtabs {
    margin-top: 0;
  }

  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 5px;
      &:first-of-type {
        padding-left: 0px;
      }
      a {
        border-radius: 6px;
        color: #FFFFFF;
        font-size: 13px;
        height: 35px;
        padding: 5px 12px;

        &.active {
          background: #FFFFFF;
          color: #06806B;
        }

        .fa-external-link {
          display: inline-block;
          font-size: 11px;
          margin-left: 6px;
        }
      }
    }
  }
}

.student-reports-subnav.tab-subnavigation-wrapper {
  // margin-top: -1px;
  $orange: #eda41b;

  a:not(.default) {
    background-color: rgba(255, 255, 255, 0.35);
    color: white;
    &.active {
      background-color: #FFFFFF;
      color: #06806B;

      i, svg {
        color: white;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }

    i, svg {
      color: $orange;
    }

    &:hover {
      text-decoration: none;
      background-color: #FFFFFF;
      color: #06806B;

      i, svg {
        color: white;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  li a img {
    margin-top: -3px;
  }
}

.student-subnavigation {
  a {
    font-size: 14px;
    color: #999;

    &:hover {
        text-decoration: none;
    }
  }

  span {
    line-height: 24px;
  }

  img {
    margin-right: 9px;
  }
}

@media (max-width: 1200px) {
  .hide-on-mobile {
    &.premium-tab-copy {
      display: none !important;
    }
  }
}

@media (min-width: 1200px) {
  .hide-on-desktop {
      &.premium-tab-small {
        display: none !important;
      }
    }
}

@media (min-width: 930px) {
  .hide-on-desktop:not(.premium-tab-small) { display: none !important; }
}

@media (min-width: 930px) and (max-width: 1040px) {
  #teacher-nav-tabs li a {
      padding: 3px 20px 3px;
  }
}

@media (max-width: 930px) {
  .hide-on-mobile { display: none !important; }

  .discover-tabs .full-screen:not(.mobile) {
    display: none;
  }

  .pages-tabs .full-screen:not(.mobile) {
    display: none;
  }

  #teacher-nav-tabs li a {
    padding: 3px 8px 3px;
  }

  .tab-subnavigation-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
      padding: 5px 0;

      a {
        padding: 5px 8px;
      }
    }
  }
}

@media (max-width: 993px) {
  .class-subnav.tab-subnavigation-wrapper {
    .container {
      margin-left: 0px;

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
          padding: 5px 0;

          a {
            padding: 5px 8px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: none;
    }
  }
}

@media only screen and (max-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: block;

      .q-nav-bar .desktop-nav-list {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;

        li {
          flex-grow: 1;
          text-align: center;

          a {
            padding-left: 0;
            padding-right: 0;
            font-size: 13px !important;
            border-bottom: none;
            border-top: none;
          }
        }
      }
    }
  }
}
