/* ==========================================================================
   Tabs
   ========================================================================== */
#teacher-nav-tabs {
  width: 100%;
  li {
    a {
      background: $quillgreenlight;
      border-left: 1px solid #BAD6D1;
      color: $quillgreenmedium;
      font-size: 14px;
      font-weight: 600;
      line-height: 41px;
      margin-top: 0px;
      padding: 3px 24px 3px;
      text-decoration: none;
      &:hover {
        background-color: rgba(188, 220, 214, 1);
      }

      &.mobile {
        display: none;
      }
    }

    &:first-of-type a {
      border-left-width: 0;
      border-radius: 8px 0 0 0;
    }

    &:last-of-type a {
      border-radius: 0 8px 0 0;
    }

    &.active {
      a {
        background: $quillgreenmedium;
        border-bottom: none;
        border-left-width: 0;
        color: #FFFFFF;
        position: relative;

        &:after {
          background-color: black;
          bottom: 0;
          height: 4px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      & + li a {
        border-left-color: transparent;
      }
    }
  }
}

.tab-subnavigation-wrapper {
  &.desktop {
    background: $quillgreenmedium;
    min-height: 48px;
    padding: 8px 0;

    &.about-subtabs {
      margin-top: 0;
    }

    ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        padding: 5px;
        &:first-of-type {
          padding-left: 0px;
        }
        a {
          border-radius: 6px;
          color: #FFFFFF;
          font-size: 13px;
          height: 35px;
          padding: 5px 16px;

          &.active {
            background: #FFFFFF;
            color: $quillgreenmedium;
          }

          .fa-external-link {
            display: inline-block;
            font-size: 11px;
            margin-left: 6px;
          }
        }
      }
    }
  }
  &.mobile {
    height: 76px;
    &.home-or-tools-page {
      .dropdown-container {
        background-color: transparent;
      }
    }
    .dropdown-container {
      position: absolute;
      width: 100%;
      padding: 16px;
      background-color: $quillgreenmedium;
      .open {
        .dropdown-menu {
          display: block;
          margin: 0;
          padding: 0px 16px;
          border: none;
          border-radius: 0;
          background-color: $quillgreenmedium;
          li {
            padding: 16px 0px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &#diagnostics-tab {
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              border-radius: 0;
            }
            a {
              padding: 0px;
              margin-left: 16px;
              color: #ffffff;
              font-weight: 600;
              line-height: 20px;
              background-color: transparent !important;
              .premium-tab-copy {
                display: flex;

                img {
                  display: inherit;
                  margin-left: 8px;
                }
              }
            }
            img {
              width: 18px;
              height: 19px;
              display: none;
              margin-right: 10.5px;
              &.active {
                display: inherit;
              }
            }
          }
        }
      }
      .dropdown-menu {
        display: none;
      }
      #mobile-subnav-dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        line-height: 20px;
        color: $quillgreenmedium;
        width: 100%;
        height: 44px;
        border-radius: 6px;
        padding: 16px;
        p {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0px;
        }
        i {
          font-size: 24px;
          font-weight: 200;
        }
      }
    }
    &.red {
      .dropdown-container {
        background-color: $quillmaroon;
        #mobile-subnav-dropdown {
          color: $quillmaroon;
        }
        .dropdown-menu {
          background-color: $quillmaroon;
          li {
            a {
              color: #FFFFFF !important;
            }
          }
        }
      }
    }
  }
}

.student-reports-subnav.tab-subnavigation-wrapper {
  min-height: 44px;

  ul {
    display: flex;
    align-items: center;
    li {
      padding: 0px 5px !important;
    }
  }

  a:not(.default) {
    display: flex;
    align-items: center;
    height: auto;
    background-color: rgba(255, 255, 255, 0.35);
    color: white;
    &.active {
      background-color: #FFFFFF;
      color: $quillgreenmedium;
      .small-diamond-icon {
        background-image: url("https://assets.quill.org/images/icons/green-diamond.svg");
      }
      &:hover {
        color: #FFFFFF;
        .small-diamond-icon {
          background-image: url("https://assets.quill.org/images/icons/white-diamond.svg");
        }
      }
    }
    .small-diamond-icon {
      background-image: url("https://assets.quill.org/images/icons/white-diamond.svg");
    }

    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  li a img {
    margin-top: -3px;
  }
}

.student-subnavigation {
  a {
    font-size: 14px;
    color: #999;

    &:hover {
        text-decoration: none;
    }
  }

  span {
    line-height: 24px;
  }

  img {
    margin-right: 9px;
  }
}

#student-reports-link {
  a {
    border-radius: 0px 8px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .hide-on-mobile {
    &.premium-tab-copy {
      display: none !important;
    }
  }
}

@media (min-width: 1200px) {
  .hide-on-desktop {
      &.premium-tab-small {
        display: none !important;
      }
    }
}

@media (min-width: 930px) {
  .hide-on-desktop:not(.premium-tab-small) { display: none !important; }
}

@media (min-width: 930px) and (max-width: 1040px) {
  #teacher-nav-tabs li a {
      padding: 3px 20px 3px;
  }
}

@media (max-width: 930px) {
  .hide-on-mobile { display: none !important; }

  .discover-tabs .full-screen:not(.mobile) {
    display: none;
  }

  .pages-tabs .full-screen:not(.mobile) {
    display: none;
  }

  #teacher-nav-tabs li a {
    padding: 3px 8px 3px;
  }

  .tab-subnavigation-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
      padding: 5px 0;

      a {
        padding: 5px 8px;
      }
    }
  }
}

@media (max-width: 993px) {
  .class-subnav.tab-subnavigation-wrapper {
    .container {
      margin-left: 0px;

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
          padding: 5px 0;

          a {
            padding: 5px 8px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: none;
    }
  }
}

@media only screen and (max-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: block;

      .q-nav-bar .desktop-nav-list {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;

        li {
          flex-grow: 1;
          text-align: center;

          a {
            padding-left: 0;
            padding-right: 0;
            font-size: 13px !important;
            border-bottom: none;
            border-top: none;
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .tab-subnavigation-wrapper.desktop {
    display: none;
  }

  .tab-subnavigation-wrapper.mobile {
    display: inherit;
  }
}

@media (min-width: 921px) {
  .tab-subnavigation-wrapper.desktop {
    display: flex;
  }

  .tab-subnavigation-wrapper.mobile {
    display: none;
  }
}
