/* ==========================================================================
   Tabs
   ========================================================================== */
#teacher-nav-tabs {
  width: 100%;
  li {
    a {
      background: #06806B;
      border-left: 1px solid #006150;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      line-height: 41px;
      margin-top: 0px;
      padding: 3px 32px 3px;
      text-decoration: none;
      &:hover {
        background-color: #0E927C;
      }

      &.mobile {
        display: none;
      }
    }

    &:first-of-type a {
      border-left-width: 0;
      border-radius: 8px 0 0 0;
    }

    &:last-of-type a {
      border-radius: 0 8px 0 0;
    }

    &.active {
      a {
        background: $white;
        border-bottom: none;
        border-left-width: 0;
        border-top: 3px solid #027360;
        color: #027360;
        padding-top: 0;
        position: relative;

        &:after {
          background-color: black;
          bottom: 0;
          height: 4px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }

      & + li a {
        border-left-color: transparent;
      }
    }
  }
}

.tab-subnavigation-wrapper {
  background: #fff;
  border-bottom: 1px solid #cecece;
  margin-top: -1px;
  min-height: 48px;
  padding: 8px 0;

  &.about-subtabs {
    margin-top: 0;
  }

  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding: 5px;

      a {
        border-radius: 6px;
        color: #3b3b3b;
        font-size: 13px;
        height: 35px;
        padding: 5px 12px;

        &.active {
          background: #e6e6e6;
        }

        .fa-external-link {
          display: inline-block;
          font-size: 11px;
          margin-left: 6px;
        }
      }
    }
  }
}

.student-reports-subnav.tab-subnavigation-wrapper {
  margin-top: -1px;
  $orange: #eda41b;

  a:not(.default) {
    border: 1px solid $orange;
    color: #875a12;
    &.active {
      background: $orange;
      color: white;

      i, svg {
        color: white;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }

    i, svg {
      color: $orange;
    }

    &:hover {
      text-decoration: none;
      background: $orange;
      color: white;

      i, svg {
        color: white;
      }
      
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  li a img {
    margin-top: -3px;
  }
}

.student-subnavigation {
  a {
    font-size: 14px;
    color: #999;

    &:hover {
        text-decoration: none;
    }
  }

  span {
    line-height: 24px;
  }

  img {
    margin-right: 9px;
  }
}

@media (min-width: 930px) {
  .hide-on-desktop { display: none !important; }
}

@media (max-width: 930px) {
  .hide-on-mobile { display: none !important; }

  .discover-tabs .full-screen:not(.mobile) {
    display: none;
  }

  .pages-tabs .full-screen:not(.mobile) {
    display: none;
  }

  #teacher-nav-tabs li a {
    padding: 3px 8px 3px;
  }

  .tab-subnavigation-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    li {
      padding: 5px 0;

      a {
        padding: 5px 8px;
      }
    }
  }
}

@media (max-width: 993px) {
  .class-subnav.tab-subnavigation-wrapper {
    .container {
      margin-left: 0px;

      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
          padding: 5px 0;

          a {
            padding: 5px 8px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: none;
    }
  }
}

@media only screen and (max-width: 872px) {
  .discover-tabs, .pages-tabs {
    .small-screen {
      display: block;

      .q-nav-bar .desktop-nav-list {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;

        li {
          flex-grow: 1;
          text-align: center;

          &.active {
            border-top: 3px solid #027360;
          }

          a {
            padding-left: 0;
            padding-right: 0;
            font-size: 13px !important;
            border-bottom: none;
            border-top: none;
          }
        }
      }
    }
  }
}
