.teacher-preview-menu-container {
  h1, h2 {
    color: black;
  }
  display: flex;
  flex-direction: column;
  max-width: 410px;
  &.hidden {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    padding: 20px 16px 20px 20px;
    h1 {
      font-weight: 600;
      color: black;
      width: 100%;
      text-align: center;
    }
    .close-preview-button {
      border: none;
      background-color: white;
      padding: 0;
    }
    .close-preview-button:hover {
      cursor: pointer;
    }
  }
  .preview-section {
    margin: 24px 16px 0px 16px;
    border-bottom: 1px solid #d1d1d1;
    padding: 0px 0px 24px 0px;
    h2 {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
    p {
      padding-top: 4px;
      font-size: 14px;
      color: #2f2f2f;
    }
  }
  section {
    padding: 24px 16px 0px 16px;
    h2 {
      font-size: 14px;
      font-weight: bold;
    }
    p {
      padding-top: 4px;
      font-size: 14px;
    }
    .introduction-text {
      padding: 8px;
      margin: 0px -8px 0px -8px;
      font-size: 14px;
      &.highlighted {
        background-color: #e1f3f1;;
        font-weight: 600;
        border-radius: 4px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 8px;
      .question-container {
        display: flex;
        background-color: white;
        color: #2f2f2f;
        border: none;
        padding: 5px 5px 5px 13px;
        border-radius: 4px;
        width: 95%;
        width: 344px;
        font-family: adelle-sans !important;
        &.highlighted {
          background-color: #e1f3f1;
          font-weight: 600;
        }
        &.inverted-indent {
          padding: 10px 5px 10px 10px;
        }
        .question-number {
          margin-right: 8px;
          &.indented {
            margin-right: 15px;
          }
        }
        .question-text {
          overflow: hidden;
          font-size: 14px;
          text-align: left;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .question-number, .question-text {
          padding-top: 0;
        }
      }
      .question-container:focus {
        outline-offset: -2px;
      }
      .question-container:hover {
        cursor: pointer;
        background-color: #f2f2f2;;
      }
    }
  }
}

.sider-container {
  border-right: 1px solid #d1d1d1;
  background-color: white;
}

.ant-layout-sider-zero-width-trigger {
  background-color: #ededed !important;
  color: #04806a;
  span {
    margin-top: 15px;
  }
}
