<div class='container'>
  <%= react_component('SubscriptionApp', props: {view: 'edit', user: @user, subscription: @subscription, premiumTypes: @premium_types,
  subscriptionPaymentMethods: @subscription_payment_methods, purchaserEmail: @purchaser_email, schoolsUsers: @schools_users })%>
</div>
