<div class='container'>
  <%= react_component(
        'SubscriptionApp',
        props: {
          view: 'edit',
          user: @user,
          subscriber: @user,
          subscriberType: 'User',
          subscription: @subscription,
          premiumTypes: @premium_types,
          subscriptionPaymentMethods: @subscription_payment_methods,
          purchaserEmail: @purchaser_email,
          schoolsUsers: @schools_users
        }
      )
  %>
</div>
