.editor-container {
  position: relative;
  margin-left: 48px;
  .editor {
    min-height: 129px;
    border-radius: 4px;
    padding: 16px;
    background-color: #f1f3f4;
    margin-top: 16px;
    font-size: 18px;
    border-bottom: 2px solid #009a80;
    &:focus {
      outline: none;
    }
    &.suboptimal {
      border-bottom: 2px solid #ff9f00;
    }
    &.disabled {
      background-color: white;
      border-bottom: none;
      &.suboptimal {
        border-left: 2px solid #ff9f00;
      }
      &.optimal {
        border-left: 2px solid #55a200;
      }
    }
  }
  .clear {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
  }

  @media (max-width: 1099px) {
    margin-left: 0px;
  }

}
