.header {
  height: 60px;
  width: 100%;
  background-color: #009a80;
  padding: 0 40px;
  z-index: 10;
  position: relative;

  div {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
    margin: auto;
  }

  a {
    color: white;
  }

  img {
    height: 25px;
  }

  .save-and-exit {
    background-color: #009a80;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }

  @media (max-width: 1099px) {
    padding: 0px 16px;
    height: 48px;
  }
}
