@import './header.scss';
@import './activity.scss';
@import './spinner.scss';
@import './step.scss';
@import './editorContainer.scss';
@import './fade.scss';
@import "./node_modules/bulma/bulma.sass";

body {
  background-color: white;
}

.app-container {
  height: 100vw;
  background-color: white;
  font-family: adelle-sans,Helvetica,Arial,sans-serif;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

@media (min-width: 1100px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 1099px) {
  .hide-on-mobile {
    display: none !important;
  }
}
