@import './header.scss';
@import './activity.scss';
@import './spinner.scss';
@import './step.scss';
@import './editorContainer.scss';
@import "./node_modules/bulma/bulma.sass";

.app-container {
  height: 100vw;
  background-color: #ededed;
  font-family: adelle-sans,Helvetica,Arial,sans-serif;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.fade-enter, .fade-appear {
  opacity: 0.01;
}

.fade-enter.fade-enter-active, .fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1ms ease-in;
}

@media (min-width: 1100px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 1099px) {
  .hide-on-mobile {
    display: none !important;
  }
}
