@import './Header.scss';
@import './activity.scss';
@import "./node_modules/bulma/bulma.sass";

.app-container {
  height: 100vw;
  background-color: #ededed;
  font-family: adelle-sans,Helvetica,Arial,sans-serif;
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
