.flagged-student-completed {
  width: 500px;
  margin: 100px auto;
  text-align: center;
  i {
    color: #82bf3c;
    font-size: 55px;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 26px;
    &:first-of-type {
      margin-bottom: 45px;
    }
    span {
      font-weight: bold;
    }
  }
}
