html,body {
  width: 100%;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}


#apDiv5 {
  .content {
    position: absolute;
    opacity: 0;
    @include transition(opacity .5s linear);
    &.active   { opacity: 1 }
    &.disabled { left: -9999px }
    left: 0;
    top: 0;
  }
}

header {
  background-color: $darkgrey;
  z-index: 2;
  position: relative;

  .navbar .nav {
    font-weight: bold;
    font-size: 12px;
  }

  // override bootstrap.
  .navbar .nav > li { float: none ; display: inline-block }
  .navbar .nav > li         > a { color: #c7c7c7 }
  .navbar .nav > li.nav-btn > a { color: white }
  .navbar .nav > li.pro-btn > a { color: white }

  .nav a {
    background: transparent !important; // TODO
  }

  .nav-btn {
    @include border-radius(3px);
    background-color: #464c5a;
    padding: 2px 7px;
  }

  .pro-btn {
    @include border-radius(3px);
    background-color: $found-color;
    padding: 2px 7px;
  }

  .btn-primary {
    background-color: $found-color;
  }
}

.brand {
  width: 133px;
  height: 61px;
  background: image-url('quill-logo.png') 0 4px no-repeat;
  display: block;
  text-indent: -999em;
}
