// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-container {
	width: 60%;
}

.category-container table {
	width: 100%;
}

.category-container th.add, th.destroy, th.edit,
.category-container td.add, td.destroy, td.edit {
	width: 30px;
	text-align: center;
}

.category-container td.title {
	border-left: 1px solid black;
}

.category-container td.edit {
	border-right: 1px solid black;
}

.category-container td.title.lesson {
	padding-left: 15px;
}

.category-container {
	margin-bottom: 200px;

	.title {
		float: left;
		max-width: 465px;
	}

	.line {
		overflow: hidden;
	}

	.actions {
		float: right;
		.add, .destroy, .edit {
			width: 30px;
			float: left;
		}
	}

	.category-title {
		font-size: 20px;
		font-weight: bold;
	}

	.rule-question-title {
		font-weight: bold;
	}

	.rule-question-line {
		padding-left: 20px;
		border-top: 1px solid #ddd;
		margin-top: 3px;
		padding-top: 3px;
	}

	.category-line {
		margin-top: 70px;
	}

	.rule-line {
		border-top: 3px solid #ddd;
		margin-top: 15px;
		padding-top: 5px;
	}
}