.sales-form-container {
  background-color: white;
  padding: 16px;
  form {
    .form-header {
      font-weight: 600;
      margin-top: 16px;
    }
    .disclaimer, .form-input {
      margin: 8px 0px 8px 0px;
    }
    .form-input {
      width: 600px;
    }
    .select-search {
      margin: 16px 0px 16px 0px;
    }
    .school-or-district-container {
      font-size: 16px;
      p {
        margin-right: 16px;
      }
      .radio-options {
        display: flex;
        align-items: baseline;
        .radio {
          margin-right: 8px;
        }
      }
    }
    .comments-container {
      margin: 16px 0px 16px 0px;
      #comments-label {
        color: black;
        font-size: 16px;
        font-weight: 100;
      }
    }
    .submit-button {
      margin: 16px 0px 16px 0px;
    }
    .error-text {
      font-size: 12px;
      font-weight: 600;
      color: #ff0000;
      margin-bottom: 10px;
    }
  }
  .success-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
