// Used on users section of CMS
form.searchable {
  label {
    float: left;
    clear: left;
    position: relative; width: 215px;
    top: 5px; margin-right: 10px;
  }

  div {
    label {width: 90px;}
    select {float: left; width: 115px; margin-right: 10px;}
  }

  input {float: left; clear: right;}
  input[type="submit"].btn {float: left; clear: both;}
}

article.cms {
  .role-admin, .role-student, .role-teacher, .role-user { font-weight: bold; }
  .role-admin   { color: $missed-color }
  .role-student { color: $found-color }
  .role-teacher { color: $introduced-color }
}

// for admin users cms tool
.cms-user-index {
  input.btn {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

.cms-user-index-table {
  margin-left: -50px;
  margin-right: -50px;
  background-color: white;
  border: 1px solid rgb(220,220,220);
  width: 1000px !important;
}

.cms-form {
  margin-left: 100px;
  * {
  float:left;
  clear:both;
  }
  label {
    margin-top: 30px;
  }
  input[type='submit'] {
    margin-top: 30px;
  }
  input, textarea {
    min-width: 700px;
    width: 100%;
  }
}