.cms-container-meta {
  display: flex;
}

.cms-container-meta-left {
  max-width: 210px;

  h1 {
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

.cms-meta-middle {
  padding: 0 20px 0 40px;
  width: 50%;
}

.cms-meta-right {
  width: 50%;
}

.cms-form {
  display: flex;
  width: 100%;

  label {
    margin: 0;
    width: 110px;
  }

  input, select {
    margin: 3px auto 12px auto;
    width: 90%;
  }

  select[multiple='multiple'] {
    height: 265px;
  }

  input[readonly='readonly'] {
    background: #ccc;
  }

  .cms-checkbox-row {
    margin: -5px 0 5px;

    label {
      width: auto;
    }

    input[type='checkbox'] {
      margin: auto;
      width: auto;
    }
  }
}

.cms-results-table {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;

  td {
    padding: 5px;

    a {
      border-bottom: 2px solid #eee;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
        border-color: #ddd;
      }
    }
  }

  thead {
    border-top: 1px  solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    color: #666666;
    font-weight: 700;
  }
}

.cms-pagination-container {
  margin-top: 20px;

  .cms-pagination {
    border-radius: 3px;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 3px;
    padding: 4px;
    text-align: center;
    width: 28px;

    &.cms-pagination-current {
      background: #eee;
      border-color: #ccc;
    }
  }
}

.cms-author-avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
