#premium-hub .filterable-reports-container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  .dropdown {
    margin-right: 0px;
  }
  .modal-background {
    z-index: 3;
  }
  section {
    border-bottom: none;
  }
  .show-filter-menu-button {
    border-radius: 8px;
    border: 1px solid $quill-grey-10;
    background: $quill-grey-1;
    margin-bottom: 11px;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.filters-adjusted {
      border: 1px solid $quill-green-20;
      background: $quill-green-5;
    }
  }
  .filter-container {
    min-width: 333px;
    width: 333px;
    max-height: 100vh;
    min-height: 100vh;
    overflow: scroll;
    top: 0;
    padding: 0px;
    position: sticky;
    .dropdowns {
      border-radius: 8px;
      border: 1px solid $quill-grey-5;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
      padding: 16px 16px 32px;
      overflow: visible;
      .timeframe-filter.disabled .dropdown .dropdown__control .dropdown__value-container .dropdown__single-value {
        color: #7f7f7f
      }
    }
    .top-section {
      height: 64px;
      padding: 0px 16px;
      display: flex;
      border-bottom: 1px solid $quill-grey-5;
      justify-content: flex-end;
      .interactive-wrapper {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
      }
    }
    .filters {
      padding: 16px 16px 84px;
      min-height: calc(100% - 68px); // accounting for height of filter buttons
      height: 100%;
      .filter-label {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 16px;
        img {
          margin-left: 8px;
        }
        .quill-tooltip-wrapper {
          transform: translateX(-25%);
          max-width: 250px;
        }
      }
      .disabled-classroom-filter {
        margin-top: 24px;
        .dropdown__control {
          width: 100%;
        }
        .multi-option-summary-text {
          color: $quill-grey-50;
        }
      }
    }
    .filter-buttons {
      display: flex;
      padding: 16px 24px;
      justify-content: space-between;
      bottom: 0;
      width: 301px;
      border-radius: 8px;
      margin: 0px 16px 16px;
      border-radius: 8px;
      border: 1px solid $quill-green-20;
      background: $quill-green-10;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

      &.fixed {
        position: fixed;
      }
      .quill-button {
        width: 122px;
      }
    }
    .dropdown-input-with-search-tokens-container {
      margin-top: 24px;
    }
    .dropdown-container {
      min-height: 46px;
      justify-content: flex-start;
    }
    .dropdown__menu {
      width: 258px;
    }
    .show-filter-menu-button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  .filter-menu-closed, .filter-menu-open {
    width: 100%;
  }
  .filter-menu-closed {
    margin: 0 auto;
    position: relative;
    max-width: 1328px; // same as main
    .show-filter-menu-button {
      top: 32px;
      position: absolute;
    }
  }
  main {
    padding: 32px 64px;
    max-width: 1328px; // $sitewidepagewidth + 64px padding on both sides
    width: 100%;
    .header {
      display: flex;
      justify-content: space-between;
      max-width: $sitewidepagewidth;
      width: 100%;
    }
    .sections {
      max-width: $sitewidepagewidth;
      width: 100%;
    }

    .header-buttons {
      display: flex;
      gap: 8px;

      .download-report-button, .manage-subscription-button {
        min-width: 132px;
        padding: 8px 16px;
        img, .button-loading-spinner-container {
          margin-right: 4px;
        }
        .button-loading-spinner-container {
          width: 24px;
        }
      }
    }
    h1 {
      font-weight: 700;
      font-size: 24px;
      display: flex;
      align-items: center;
      a {
        margin-left: 16px;
        display: flex;
        align-items: center;
        color: $quill-grey-50;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        img {
          height: 20px;
          width: 24px;
          margin-right: 2px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .tabs {
      margin-top: 24px;
      display: flex;
      .tab {
        padding: 0px 32px;
        height: 36px;
        background: #F7F5F5;
        border: 1px solid #D3D3D3;
        display: flex;
        align-items: center;
        border-right: none;
        font-weight: 600;
        color: $quill-grey-90;
        line-height: 13px;
        img {
          margin-right: 4px;
        }
        &.selected-tab {
          background: $quill-green;
          color: white;
          border: 1px solid $quill-green;
          img {
            filter: brightness(0) invert(1);
          }
        }
        &:first-of-type {
          border-radius: 8px 0px 0px 8px;
        }
        &:last-of-type {
          border-right: 1px solid #D3D3D3;
          border-radius: 0px 8px 8px 0px;
        }
      }
      .dropdown-container {
        width: 100%;
        min-height: 58px;
        justify-content: flex-start;
      }
    }
    .filter-button-container {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 1px 0px;
      border-style: solid;
      border-color: $quill-grey-5;
      padding: 20px 0px;
      .interactive-wrapper {
        display: flex;
        align-items: center;
        img {
          margin-right: 11px;
        }
      }
    }

    .snapshot-section-wrapper {
      margin-top: 32px;
      padding: 0px;
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: $quill-grey-90;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        img {
          height: 24px;
          margin-right: 8px;
        }
      }
      &:first-of-type {
        margin-top: 36px;
      }
    }

    .ranking-modal {
      max-width: 900px;
      width: 100%;
      background: $quill-grey-1;
      border: 1px solid $quill-grey-5;
      border-radius: 8px;
      height: min-content;
      max-height: 100vh;
      overflow: scroll;

      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $quill-grey-90;
        margin-bottom: 32px;
      }

      .button-section {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
      }
    }
  }

  .custom-date-modal {
    max-width: 548px;
    width: 100%;
    background: #F7F5F5;
    border: 1px solid $quill-grey-5;
    border-radius: 8px;
    height: min-content;
    max-height: 100vh;
    overflow: scroll;
    h2 {
      font-size: 24px;
      line-height: 29px;
      color: $quill-grey-90;
      margin-bottom: 24px;
    }
    .button-section {
      display: flex;
      justify-content: flex-end;
      margin-top: 298px; // accommodating calendar heights
      .quill-button {
        margin-left: 16px;
      }
    }
    .DateRangePicker {
      width: 100%;
      .DateRangePickerInput {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
      }
      .DateInput {
        border-radius: 0px;
        width: 100%;
        padding: 0px;
        input {
          height: 21px;
          width: 100%;
          padding: 0px;
          border-bottom: 1px solid $quill-grey-5;
          &:focus {
            border-bottom: 1px solid $quill-green;
          }
        }
        &:first-of-type {
          margin-right: 20px;
        }
      }
      .DateInput::after {
        content: url('https://assets.quill.org/images/pages/administrator/calendar.svg');
        position: absolute;
        right: 3px;
      }
      .DateRangePicker_picker {
        top: 28px !important;
        left: -68px !important;
        scale: 77.5%;
      }
      .DateRangePickerInput_arrow, .DateInput_fang, .DayPickerKeyboardShortcuts_buttonReset {
        display: none;
      }
      .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
        color: $quill-white;
        background: $quill-green;
        border: 1px solid $quill-grey-3;
      }
      .CalendarDay__selected_span, .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
        background: $quill-green-20;
        border: 1px solid $quill-grey-3;
        color: inherit;
      }
      .DayPicker {
        height: 337px;
      }
    }
  }

  .manage-report-subscription-modal {
    height: 500px;
    width: 600px;
    background: $quill-white;
    border-radius: 6px;
    border: 1px solid $quill-grey-5;
    display: inline-flex;
    padding: 40px 32px;

    .title-and-description {
      align-items: flex-start;
      align-self: stretch;
      flex-direction: column;
      display: flex;
      gap: 8px;
      justify-content: flex-start;

      .title {
        color: $quill-black;
        font-family: 'Open Sans';
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      .description {
        align-self: stretch;
        color: $quill-grey-50;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        word-break: break-word;
      }
    }

    .is-subscribed-and-frequency {
      .is-subscribed-options {
        padding-bottom: 32px;

        .is-subscribed-label {
          color: #7F7F7F;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          word-wrap: break-word
        }
        label {
          display: block;
        }
      }
    }

    .save-and-cancel-buttons {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
      margin-top: 40px;
    }
  }

  .filter-menu-open {
    main {
      .data-table {
        // 333px width of filter menu plus 64px padding on either side
        max-width: calc(100vw - 461px);
      }
    }
  }

  .filter-menu-closed {
    main {
      .data-table {
        max-width: $sitewidepagewidth;
      }
    }
  }

  @media (max-width: 1265px) {
    .filter-menu-open {
      main {
        .data-table {
          max-width: max-content;
        }
      }
    }
  }

  @media (max-width: 1450px) {
    main {
      .snapshot-section.highlights .counts {
        grid-template-columns: none;
      }
      .snapshot-section {
        .snapshot-feedback {
          grid-column: inherit;
        }
        &.users, &.classrooms {
          .snapshot-section-content {
            display: flex;
            flex-direction: column;
          }
        }
        &.practice {
          .first-row {
            grid-template-columns: repeat(2, 1fr);
          }
          .second-row {
            grid-template-columns: none;
          }
          .third-and-fourth-row {
            grid-template: repeat(3, 1fr)/repeat(2, 1fr);
          }
        }
      }
    }
  }

  @media (min-width: 1266px) {
    .filter-container .top-section, main .filter-button-container {
      display: none;
    }
  }

  @media (max-width: 1265px) {
    .filter-container {
      position: fixed;
      top: 0;
      z-index: 2;
      background-color: white;
      height: 100%;
      width: 100vw;
      .filter-buttons {
        width: 100%;
        justify-content: flex-end;
        .quill-button {
          margin-left: 12px;
        }
      }
      &.space-for-buttons {
        height: calc(100% - 68px);
      }
      &.mobile-hidden {
        display: none;
      }
    }
    .show-filter-menu-button {
      display: none;
    }
  }

  @media (max-width: 850px) {
    main {
      padding: 16px;
      > .header {
        flex-direction: column;
        h1 {
          margin-bottom: 16px;
        }
      }
      .snapshot-section {
        &.users, &.classrooms {
          .counts {
            display: flex;
            flex-direction: column;
          }
        }
        &.practice {
          .first-row, .third-and-fourth-row, .fifth-row {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .custom-date-modal .DateRangePicker .DateRangePicker_picker {
      left: 39% !important;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%)
    }
  }

  @media print {
    main {
      border-left: none;
    }
    .tabs, .filter-button-container, .filter-container, .header button {
      display: none !important;
    }
    .snapshot-item {
      break-inside: avoid;
    }
  }
}


