main {
  .header {
    .buttons-container {
      display: flex;
      button:first-of-type {
        margin-right: 8px;
      }
    }
  }
  .tabs-for-pages-container {
    display: flex;
    margin-top: 32px;

    .performance-type-button {
      display: flex;
      align-items: center;
      padding: 13px 32px;
      background-color: $quill-grey-1;
      color: $quill-grey-90;
      height: 36px;
      span {
        font-weight: 600;
      }

      img {
        margin-right: 4px;
        height: 16px;
        width: 16px;
      }

      &.overview {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 1px solid $quill-grey-10;
        &.active {
          border-left: 1px solid $quill-green;
        }
      }
      &.skill {
        border-top: 1px solid $quill-grey-10;
        border-bottom: 1px solid $quill-grey-10;
      }
      &.student {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid $quill-grey-10;
        &.active {
          border-right: 1px solid $quill-green;
        }
      }
      &.active {
        background-color: $quill-green;
        color: $quill-white;
        border-top: 1px solid $quill-green;
        border-bottom: 1px solid $quill-green;
      }
    }
  }
  .dropdowns-container {
    display: flex;
  }
  .diagnostic-type-dropdown {
    margin-right: 32px !important;
  }
  .group-by-dropdown,
  .diagnostic-type-dropdown {
    margin-top: 32px;
    max-width: 300px;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
  }
  .growth-diagnostic-reports-overview-table, .growth-diagnostic-reports-by-skill-table {
    margin-top: 48px;
    .data-table-headers {
      padding-right: 0px;
      th {
        font-size: 13px !important;
      }
      th:last-of-type {
        margin-right: 0px;
      }
    }
    .data-table-body {
      .data-table-row {
        padding-right: 0 !important;
        td {
          font-size: 13px !important;
          .emphasized-content {
            color: $quill-green;
            background-color: $quill-green-1;
            border: 1px solid $quill-green-20;
            border-radius: 4px;
            padding: 4px 8px;
            font-weight: 700;
          }
        }
        td:not(:first-of-type) {
          justify-content: center;
        }
        td:last-of-type {
          margin-right: 0 !important;
        }
      }
    }
  }
}

