main {
  .header {
    .buttons-container {
      display: flex;
    }
  }
  .no-diagnostic-data-container {
    margin-top: 48px;
    h2 {
      font-size: 20px !important;
      margin-bottom: 8px;
    }
    p {
      color: $quill-grey-50;
      max-width: 820px;
    }
    p:first-of-type {
      margin-bottom: 16px;
    }
    p:last-of-type {
      margin-bottom: 32px;
    }
    a {
      font-weight: 600;
      color: $quill-green;
    }
  }
  .tabs-for-pages-container {
    display: flex;
    margin-top: 32px;

    .performance-type-button {
      display: flex;
      align-items: center;
      padding: 13px 32px;
      background-color: $quill-grey-1;
      color: $quill-grey-90;
      height: 36px;
      span {
        font-weight: 600;
      }

      img {
        margin-right: 4px;
        height: 16px;
        width: 16px;
      }

      &.overview {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 1px solid $quill-grey-10;
        &.active {
          border-left: 1px solid $quill-green;
        }
      }
      &.skill {
        border-top: 1px solid $quill-grey-10;
        border-bottom: 1px solid $quill-grey-10;
      }
      &.student {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid $quill-grey-10;
        &.active {
          border-right: 1px solid $quill-green;
        }
      }
      &.active {
        background-color: $quill-green;
        color: $quill-white;
        border-top: 1px solid $quill-green;
        border-bottom: 1px solid $quill-green;
      }
    }
  }
  .dropdowns-container {
    display: flex;
  }
  .diagnostic-type-dropdown {
    margin-right: 32px !important;
  }
  .group-by-dropdown,
  .diagnostic-type-dropdown {
    margin-top: 32px;
    max-width: 300px;
    width: 100%;
    height: 60px;
    justify-content: flex-start;
  }
  .growth-diagnostic-reports-overview-table, .growth-diagnostic-reports-by-skill-table, .growth-diagnostic-reports-by-student-table {
    margin-top: 48px;
    max-height: 800px;
    overflow-y: auto !important;
    .data-table-headers {
      padding-right: 10px;
      th {
        justify-content: space-between;
        font-size: 13px !important;
        img {
          margin-right: 8px;
        }
      }
      th:last-of-type {
        margin-right: 0px;
        .quill-tooltip-wrapper {
          left: auto !important;
          right: 0 !important;
          transform: inherit !important;
        }
        img {
          margin-right: 8px;
        }
      }
    }
    .data-table-body {
      .data-table-row {
        padding-right: 10px !important;
        border-right: 1px solid $quill-grey-1;
        td {
          padding: 15px 0px;
          font-size: 13px !important;
          min-height: 81px !important;
          .emphasized-content {
            color: $quill-green;
            background-color: $quill-green-1;
            border: 1px solid $quill-green-20;
            border-radius: 4px;
            padding: 4px 8px;
            font-weight: 700;
            &:hover {
              background-color: $quill-white;
            }
          }
        }
        td:not(:first-of-type) {
          justify-content: center;
        }
        td:last-of-type {
          margin-right: 0 !important;
        }
      }
    }
  }
  .growth-diagnostic-reports-by-skill-table .data-table-body .data-table-row:nth-of-type(4) td {
    min-height: 98px !important;
  }

  .growth-diagnostic-reports-by-student-table {
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
      height: 55px;
      tr th button {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .multi-line-header {
          font-size: 12px;
        }

        .sort-tooltip-container {
          display: flex;
          .quill-tooltip-trigger {
            margin-right: 0px;
          }
          .sort-arrow {
            margin-right: 4px;
          }
        }
        .quill-tooltip {
          text-align: left;
        }
      }
    }
    .data-table-body {
      .data-table-row {
        td {
          border-right: none !important;
          .diagnostic-not-completed {
            margin-left: 18px;
          }
        }
      }
    }
  }

  .growth-diagnostic-reports-by-student-table {
    .embedded-table-container {
      padding: 16px;
      background-color: $quill-grey-2;
      width: 100%;
      .embedded-student-growth-diagnostic-table {
        width: 100%;
        border-collapse: separate;
        border-radius: 4px;
        padding: 16px;
        border: 1px solid $quill-grey-15;
        background-color: $quill-grey-1;
        font-size: 12px;
        color: $quill-grey-50;
        thead {
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          tr {
            th {
              padding-bottom: 8px;
              border-bottom: 1px solid $quill-grey-15;
            }
            .diagnostic-skill {
              min-width: 280px;
            }
            .pre-questions-correct, .post-questions-correct, .post-skills-status {
              min-width: 160px;
            }
            .pre-skills-status {
              min-width: 260px;
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 4px 0px;
              .skill-name-container {
                display: flex;
                align-items: center;
                .skill-name {
                  display: flex;
                  padding: 2px 8px;
                  border-radius: 15px;
                  font-weight: 600;
                  border: 1px solid $quill-grey-15;
                  background-color: $quill-white;
                  width: max-content;
                }
                img {
                  margin-left: 4px;
                }
              }
              .skill-container {
                display: flex;
                width: max-content;
                padding: 2px 8px 2px 3px;
                border-radius: 15px;
                font-weight: 600;
                img {
                  height: 14px;
                  width: auto;
                  margin: 0px 4px 0px 3px;
                }
                &.green {
                  border: 1px solid $quill-green-vibrant-50;
                  background-color: $quill-green-vibrant-20;
                  color: $quill-green-vibrant;
                }
                &.yellow {
                  border: 1px solid $quill-gold-dark-10;
                  background-color: $quill-gold-5;
                  color: $quill-gold-dark;
                }
              }
            }
          }
          tr:first-of-type {
            td {
              padding-top: 8px;
            }
          }
          tr:not(:last-of-type) {
            td {
              border-bottom: 1px solid $quill-grey-5;
            }
          }
        }
      }
    }
  }
  .load-more-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    p {
      font-size: 12px;
    }
    button {
      margin-top: 16px;
      padding: 13px 16px;
      border-radius: 8px;
      border: 1px solid $quill-grey-20;
      background-color: $quill-white;
      &.disabled {
        background-color: $quill-grey-2;
        font-size: 14px;
        font-weight: 600;
        color: $quill-black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

