#premium-hub .integrations-container {
  .integration-container {
    max-width: 800px;
    .logo {
      margin-top: 48px;
    }
    h1 {
      margin: 16px 0px;
    }
    p {
      margin-bottom: 24px;
    }
    p, ul {
      color: $quill-grey-90;
      font-size: 16px;
      line-height: 22px; /* 137.5% */
    }
    ul {
      list-style-type: none;
      padding-left: 0px;
      margin-bottom: 24px;
      img {
        margin-right: 8px;
        margin-top: 3px;
      }
      li {
        margin-bottom: 8px;
        display: flex;
        align-items: flex-start;
      }
    }
    a {
      color: $quill-green;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      margin-bottom: 24px;
      display: block;
      &:first-of-type {
        margin-top: 32px;
      }
    }
    .integration-tip {
      margin-top: 32px;
      border-radius: 8px;
      border: 1px solid $quill-green-20;
      background: $quill-green-1;
      padding: 20px;
      display: flex;
      h2 {
        background-color: $quill-green;
        color: $quill-white;
        font-weight: 700;
        width: min-content;
        white-space: nowrap;
        font-size: 9px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 5px;
        margin-bottom: 8px;
        height: 20px;
        width: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        color: $quill-grey-50;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 0px;
      }
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 32px 0px 16px;
  }
  .canvas-container {
    padding-top: 48px;
  }
  .canvas-integration-form {
    border-radius: 8px;
    border: 1px solid $quill-grey-15;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 32px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 32px;
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .quill-button.red {
        background-color: $quill-red;
      }
      div {
        display: flex;
        .quill-button {
          margin-left: 16px;
        }
      }
    }
    .data-table {
      border-radius: 8px;
      border: 1px solid $quill-grey-15;
      overflow: visible;
      margin-bottom: 32px;
      .data-table-headers {
        border-radius: 8px 8px 0px 0px;
        background-color: $quill-grey-1;
        .data-table-header {
          color: $quill-grey-90;
          font-weight: 700;
        }
      }
    }
    .input-container input {
      margin-bottom: 32px;
    }
  }

  .canvas-integration-instance {
    border-radius: 8px;
    border: 1px solid $quill-grey-15;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 32px;
    max-width: 600px;
    width: 100%;
    margin: 0px auto 24px;
    .section-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
    }
    .school {
      border-radius: 4px;
      border: 1px solid $quill-grey-15;
      background: $quill-grey-1;
      padding: 16px;
      display: flex;
      align-items: center;
      margin-top: 8px;
      img {
        margin-right: 16px;
      }
    }
  }

  .canvas-integration-modal {
    margin-bottom: 0px;
    padding: 0px;
    max-height: 100vh;
    overflow: scroll;
    max-width: 600px;
    width: 100%;
    .canvas-integration-form {
      margin-bottom: 0px;
    }
  }

  .add-new-canvas-integration-button {
    margin: auto;
  }

  @media (max-width: 600px) {
    .data-table {
      .name {
        max-width: calc(100vw - 200px);
        min-width: calc(100vw - 200px) !important;
      }
    }
  }
}
