#premium-hub .premium-hub-overview {
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .subheader {
    margin-bottom: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .quill-tooltip-trigger {
      text-decoration: underline;
    }
  }

  .overview-section-wrapper {
    border-bottom: none;
    margin-top: 32px;
    padding: 0px;
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: $quill-grey-90;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      img {
        height: 24px;
        margin-right: 8px;
      }
    }
  }

    .overview-section {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
      border-radius: 8px;
      padding: 24px;
      border: 1px solid $quill-grey-5;
  }
}
