#premium-hub .usage-snapshots-container, .data-export-page-container {
  display: flex;
  min-height: 100vh;
  .dropdown {
    margin-right: 0px;
  }
  .modal-background {
    z-index: 3;
  }
  section {
    border-bottom: none;
  }
  .filter-container {
    min-width: 317px;
    width: 317px;
    max-height: 100vh;
    overflow: scroll;
    top: 0;
    padding: 0px;
    position: sticky;
    .top-section {
      height: 64px;
      padding: 0px 16px;
      display: flex;
      border-bottom: 1px solid #e0e0e0;
      justify-content: flex-end;
      .interactive-wrapper {
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
      }
    }
    .filters {
      padding: 32px 24px 84px;
      min-height: calc(100% - 68px); // accounting for height of filter buttons
      .filter-label {
        display: flex;
        align-items: center;
        img {
          margin-left: 8px;
        }
        .quill-tooltip-wrapper {
          transform: translateX(-25%);
        }
      }
    }
    .filter-buttons {
      display: flex;
      padding: 16px 24px;
      justify-content: space-between;
      background-color: $quill-green-5;
      bottom: 0;
      width: 301px;
      border-radius: 8px;
      margin: 0px 8px 8px;
      &.fixed {
        position: fixed;
      }
      .quill-button {
        width: 122px;
      }
    }
    .dropdown-input-with-search-tokens-container {
      margin-top: 24px;
    }
    .dropdown-container {
      min-height: 46px;
      justify-content: flex-start;
    }
    .dropdown__menu {
      width: 258px;
    }
  }
  main {
    padding: 32px 64px;
    width: 100%;
    max-width: 1343px;
    border-left: 1px solid #E0E0E0;
    .header {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      font-weight: 700;
      font-size: 24px;
      display: flex;
      align-items: center;
      a {
        margin-left: 16px;
        display: flex;
        align-items: center;
        color: #5C5C5C;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        img {
          height: 20px;
          width: 24px;
          margin-right: 2px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    .tabs {
      margin-top: 24px;
      display: flex;
      .tab {
        padding: 0px 32px;
        height: 36px;
        background: #F7F5F5;
        border: 1px solid #D3D3D3;
        display: flex;
        align-items: center;
        border-right: none;
        font-weight: 600;
        color: #373737;
        line-height: 13px;
        img {
          margin-right: 4px;
        }
        &.selected-tab {
          background: $quill-green;
          color: white;
          border: 1px solid $quill-green;
          img {
            filter: brightness(0) invert(1);
          }
        }
        &:first-of-type {
          border-radius: 8px 0px 0px 8px;
        }
        &:last-of-type {
          border-right: 1px solid #D3D3D3;
          border-radius: 0px 8px 8px 0px;
        }
      }
      .dropdown-container {
        width: 100%;
        min-height: 58px;
        justify-content: flex-start;
      }
    }
    .filter-button-container {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 1px 0px;
      border-style: solid;
      border-color: #E0E0E0;
      padding: 20px 0px;
      .interactive-wrapper {
        display: flex;
        align-items: center;
        img {
          margin-right: 11px;
        }
      }
    }

    .snapshot-section-wrapper {
      margin-top: 32px;
      padding: 0px;
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #373737;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        img {
          height: 24px;
          margin-right: 8px;
        }
      }
      &:first-of-type {
        margin-top: 36px;
      }
    }

    .snapshot-section {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 24px;
      .snapshot-item {
        background: #F8F8F8;
        border: 1px solid #E0E0E0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        min-height: min-content;
        position: relative;
        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
        }
        .count-and-label {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .count {
          font-weight: 700;
          font-size: 28px;
          line-height: 34px;
          color: #757575;
        }
        .snapshot-label {
          font-weight: 600;
          color: #373737;
        }
        .change {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #373737;
          display: flex;
          height: min-content;
          align-items: center;
          img {
            margin-right: 4px;
            &.small {
              height: 26px;
            }
            &.medium {
              height: 31px;
            }
          }
        }
        &.snapshot-count {
          .loading-spinner-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &.small {
          padding: 16px;
          height: 133px;
          .snapshot-label {
            font-size: 14px;
            line-height: 18px;
          }
        }
        &.medium {
          padding: 32px;
          height: 137px;
          .snapshot-label {
            font-size: 16px;
            line-height: 21px;
          }
        }
        &.positive, &.negative, &.none {
          .count {
            color: #373737;
          }
        }
        &.positive {
          background: #F1FAF6;
          border: 1px solid #B4E6D1;
          .change {
            color: #129E6C;
          }
        }
        &.negative {
          .change {
            color: #C97C00;
          }
        }
      }
      .snapshot-feedback {
        display: flex;
        padding: 16px;
        flex-direction: column;
        grid-column: span 3;
        justify-content: flex-start;
        .header {
          margin-bottom: 8px;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #373737;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
      .snapshot-ranking {
        padding: 32px;
        display: flex;
        flex-direction: column;
        .header {
          margin-bottom: 26px;
        }
        .table {
          margin-bottom: 0px;
        }
        .header-row {
          border-top: 1px solid #AEAEAE;
          th {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #373737;
          }
        }
        .header-row, .data-row {
          padding: 12px 0px;
          display: flex;
          justify-content: space-between;
          color: #373737;
          font-size: 14px;
        }
        .data-row {
          border-top: 1px solid #E0E0E0;
          td:first-of-type {
            font-weight: 400;
            line-height: 16px;
            margin-right: 20px;
          }
          td:last-of-type {
            font-weight: 700;
            line-height: 17px;
          }
        }
        &.has-data {
          cursor: pointer;
        }
      }
      &.highlights {
        .counts {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }
      }
      &.users, &.classrooms {
        .snapshot-ranking {
          height: 100%;
        }
        .snapshot-section-content {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }
        .counts {
          display: grid;
          grid-template: repeat(2, 1fr) / repeat(2, 1fr);
          gap: 16px;
        }
      }
      &.practice {
        .snapshot-section-content {
          display: flex;
          flex-direction: column;
        }
        .first-row, .second-row, .third-and-fourth-row {
          margin-bottom: 16px;
        }
        .first-row {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 16px;
        }
        .second-row, .fifth-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }
        .third-and-fourth-row {
          display: grid;
          grid-template: repeat(2, 1fr) / repeat(4, 1fr);
          gap: 16px;
        }
      }
    }

    .ranking-modal {
      max-width: 900px;
      width: 100%;
      background: #F8F8F8;
      border: 1px solid #E0E0E0;
      border-radius: 8px;
      height: min-content;
      max-height: 100vh;
      overflow: scroll;

      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #373737;
        margin-bottom: 32px;
      }

      .button-section {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;
      }
    }

  }

  .custom-date-modal {
    max-width: 548px;
    width: 100%;
    background: #F7F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    height: min-content;
    max-height: 100vh;
    overflow: scroll;
    h2 {
      font-size: 24px;
      line-height: 29px;
      color: #373737;
      margin-bottom: 24px;
    }
    .button-section {
      display: flex;
      justify-content: flex-end;
      margin-top: 298px; // accommodating calendar heights
      .quill-button {
        margin-left: 16px;
      }
    }
    .DateRangePicker {
      width: 100%;
      .DateRangePickerInput {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
      }
      .DateInput {
        border-radius: 0px;
        width: 100%;
        padding: 0px;
        input {
          height: 21px;
          width: 100%;
          padding: 0px;
          border-bottom: 1px solid #E0E0E0;
          &:focus {
            border-bottom: 1px solid $quill-green;
          }
        }
        &:first-of-type {
          margin-right: 20px;
        }
      }
      .DateInput::after {
        content: url('https://assets.quill.org/images/pages/administrator/calendar.svg');
        position: absolute;
        right: 3px;
      }
      .DateRangePicker_picker {
        top: 28px !important;
        left: -68px !important;
        scale: 77.5%;
      }
      .DateRangePickerInput_arrow, .DateInput_fang, .DayPickerKeyboardShortcuts_buttonReset {
        display: none;
      }
      .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
        color: #fff;
        background: $quill-green;
        border: 1px solid #EBEBEB;
      }
      .CalendarDay__selected_span, .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
        background: $quill-green-20;
        border: 1px solid #EBEBEB;
        color: inherit;
      }
      .DayPicker {
        height: 337px;
      }
    }
  }

  @media (max-width: 1450px) {
    main {
      .snapshot-section.highlights .counts {
        grid-template-columns: none;
      }
      .snapshot-section {
        .snapshot-feedback {
          grid-column: inherit;
        }
        &.users, &.classrooms {
          .snapshot-section-content {
            display: flex;
            flex-direction: column;
          }
        }
        &.practice {
          .first-row {
            grid-template-columns: repeat(2, 1fr);
          }
          .second-row {
            grid-template-columns: none;
          }
          .third-and-fourth-row {
            grid-template: repeat(3, 1fr)/repeat(2, 1fr);
          }
        }
      }
    }
  }

  @media (min-width: 1266px) {
    .filter-container .top-section, main .filter-button-container {
      display: none;
    }
  }

  @media (max-width: 1265px) {
    .filter-container {
      position: fixed;
      top: 0;
      z-index: 2;
      background-color: white;
      height: 100%;
      width: 100vw;
      .filter-buttons {
        width: 100%;
        justify-content: flex-end;
        .quill-button {
          margin-left: 12px;
        }
      }
      &.space-for-buttons {
        height: calc(100% - 68px);
      }
      &.mobile-hidden {
        display: none;
      }
    }
  }

  @media (max-width: 850px) {
    main {
      padding: 16px;
      > .header {
        flex-direction: column;
        h1 {
          margin-bottom: 16px;
        }
      }
      .snapshot-section {
        &.users, &.classrooms {
          .counts {
            display: flex;
            flex-direction: column;
          }
        }
        &.practice {
          .first-row, .third-and-fourth-row, .fifth-row {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .custom-date-modal .DateRangePicker .DateRangePicker_picker {
      left: 39% !important;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%)
    }
  }

  @media print {
    main {
      border-left: none;
    }
    .tabs, .filter-button-container, .filter-container, .header button {
      display: none !important;
    }
    .snapshot-item {
      break-inside: avoid;
    }
  }
}
