container_commands:
  00_symlink_node_bin:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v8.10.0-linux-x64/bin/node | head -1`/bin/node /bin/node"
  01_symlink_npm_bin:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-v8.10.0-linux-x64/bin/npm | head -1`/bin/npm /bin/npm"
  02_build_app:
    command: "npm run build"
  03_start_app:
    command: "npm run start"
