---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/students/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123
      X-Clever-Client-User-Agent:
      - '{"bindings_version":"0.13.1","lang":"ruby","lang_version":"2.3.0 p0","platform":"x86_64-darwin15","publisher":"clever","uname":"Darwin
        Marcellos-Air.home 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56
        PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1199'
      X-Ratelimit-Reset:
      - '1454347381'
    body:
      encoding: UTF-8
      string: '{"code":101,"error":"Unrecognized token string","data":{}}'
  recorded_at: Mon, 01 Feb 2016 17:22:01 GMT
recorded_with: VCR 3.0.1
