.activity-stats-container {
  .ReactTable .rt-thead .rt-resizable-header-content, .rt-td {
    overflow: visible;
    white-space: pre-wrap;
    text-align: left;
  }
  .prompt-text {
    font-style: italic;
  }
  .version-dropdown {
    margin-right: 24px;
  }
}
