.activity-form {
  max-width: 1165px;
  margin: 20px auto;
  input {
    width: 100%;
  }
  .cms-form {
    section {
      margin-bottom: 16px;
    }
    label {
      width: 100%;
    }
  }
  .description-container {
    display: flex;
    flex-direction: column;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    label {
      margin-left: 8px;
    }
    input {
      width: min-content;
      margin: 0px;
    }
  }
  .activity-categories {
    min-height: 200px;
  }
  .enabled-attribute-container {
    display: flex;
    align-items: flex-start;
    .checkbox-container {
      margin-right: 16px;
    }
  }
  .selected-option {
    min-height: 24px;
    .interactive-wrapper {
      margin-left: 8px;
    }
  }
  .topic-column {
    margin-left: 20px;
  }
  .ant-table-wrapper {
    .ant-table-filter-trigger {
      display: flex;
      align-items: center;
    }
    .fa-search {
      color: black !important;
    }
  }
  .selected {
    td.ant-table-column-sort {
      background-color: #b2ebd7;
    }
  }
  .record-cell {
    cursor: pointer;
  }
  .new-topic-field {
    margin-top: 20px;
    width: 100%;
    input {
      margin: 4px 0px 8px;
    }
    .quill-button {
      float: right;
    }
  }
}

.topic-groups-container {
  display: grid;
  padding: 10px;
}

.topic-group {
  display: flex;
  padding: 10px;
}

.topic-column {
  min-width: 300px;
}

.record-cell {
  border: 1px solid lightgray;
  padding: 5px;
  width: 100%;
  text-align: left;
  background-color: white;
}
