.main-admin-container {
  display: flex;
  border-bottom: 1px solid lightgray;
  overflow: auto;
  .left-side-menu {
    width: 15vw;
    height: 80vh;
    padding: 20px;
  }
  .modal {
    display: flex;
    .modal-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 100;
      .modal-content {
        overflow: auto;
      }
    }
    .modal-close {
      display: none;
    }
    .close-button-container {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 10px 10px 0px 0px;
        height: auto;
        min-width: 20px;
        padding: 5px 7px 5px 7px;
      }
    }
    .submission-message {
      padding: 20px;
    }
  }
  .left-side-menu {
    border-right: 1px solid lightgray;
    .menu-label {
      color: #5b5b5b;
      font-size: 11px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      padding: 0px;
      a {
        padding: 5px;
        color: #5b5b5b;
        text-decoration: none;
        border-radius: 6px;
      }
      a:hover, .create-activity-button:hover {
        background-color: lightgray;
      }
      .is-active {
        background-color: #00c2a2 !important;
        color: white !important;
      }
      .create-activity-button {
        background-color: transparent;
        border: none;
        text-align: left;
        padding: 5px;
        outline: none;
        border-radius: 6px;
      }
    }
  }
  .activities-container, .loading-spinner-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding-top: 20px;
    border-right: 1px solid lightgray;
    .activities-table, .tabs-container {
      align-self: flex-start;
      .data-table-body{
        max-height: 70vh;
        overflow: auto;
        .data-table-row {
          span {
            a {
              color: #00c2a2;
            }
            .a:hover {
              cursor: pointer;
              color: #19a08a;
            }
          }
        }
      }
    }
    .spinner-container {
      width: 100px;
      height: 100px;
    }
  }
  .activity-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70vw;
    border-right: 1px solid lightgray;
  }
  .activity-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .activity-general-settings-table {
      border: 1px solid lightgray;
      border-radius: 6px;
      text-align: left;
      margin-top: 80px;
      .data-table-headers {
        display: none;
      }
      .dropdown__menu {
        // position: relative;
      }
      .flag-dropdown {
        align-items: flex-start;
        .dropdown__single-value, .dropdown__option {
          font-size: 14px;
          color: #5b5b5b;
        }
      }
      .flag-dropdown:hover {
        cursor: pointer;
      }
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      width: 690px;
      padding: 20px 10px 20px 0px;
    }
    .modal {
      display: flex;
      .modal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 100;
        .modal-content {
          overflow: auto;
        }
      }
      .modal-close {
        display: none;
      }
    }
    .edit-flag-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
      width: 300px;
      .close-button-container {
        display: flex;
        justify-content: flex-end;
        #flag-close-button {
          margin: 10px 10px 0px 0px;
          height: auto;
          min-width: 20px;
          padding: 5px 7px 5px 7px;
        }
      }
      .flag-dropdown {
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
      }
      .submit-button-container {
        display: flex;
        justify-content: flex-end;
        padding: 0px 10px 10px;
        #flag-submit-button {
          margin-right: 20px;
        }
      }
    }
  }
  .activity-form-container, .ruleset-form-container {
    .activity-form , .ruleset-form {
      padding: 0px 30px 0px 30px;
      max-height: 80vh;
      .card {
        max-width: 650px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        margin-top: 20px;
      }
      .title-input, .course-input, .flag-input, .reading-level-input,
      .reading-score-input, .because-input, .but-input {
        margin-top: 20px;
        max-width: 650px;
      }
      .so-input {
        margin: 20px 0px 20px 0px;
      }
      .error-message {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        color: #ff0000;
        margin-top: 20px;
      }
      .text-editor-label {
        color: #7f7f7f;
        font-size: 16px;
        margin: 10px 0px -10px 0px;
        font-weight: normal;
        &.has-text {
          font-size: 12px;
          font-weight: 600;
        }
      }
      .text-editor-label:nth-of-type(2) {
        margin-top: 20px;
      }
      #max-attempt-feedback {
        &.focus {
          .has-text {
            color: red;
          }
        }
      }
      .prompt-section {
        .plagiarism-section {
          margin-left: 10px;
          .primary-feedback-input, .secondary-feedback-input {
            margin-top: 15px;
          }
        }
      }
    }
    .close-button-container {
      display: flex;
      justify-content: flex-end;
      width: 700px;
      #activity-close-button {
        margin: 10px 10px 0px 0px;
        height: auto;
        min-width: 20px;
        padding: 5px 7px 5px 7px;
      }
    }
    .submit-button-container {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      #activity-submit-button {
        margin-bottom: 20px;
      }
      #activity-cancel-button {
        margin-left: 10px;
      }
      .error-message-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .all-errors-message {
          font-size: 12px;
          font-weight: 600;
          letter-spacing: normal;
          color: #ff0000;
          display: flex;
          text-align: left;
        }
      }
    }
  }
  .rulesets-container, .ruleset-container, .turk-sessions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-container {
      margin-top: 80px;
      width: 900px;
      p {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .rulesets-table, .ruleset-table, .turk-sessions-table {
      .data-table-body{
        max-height: 500px;
        overflow: auto;
        .data-table-row {
          span {
            a {
              color: #00c2a2;
            }
            .a:hover {
              cursor: pointer;
              color: #19a08a;
            }
          }
        }
        .quill-tooltip-trigger {
          .quill-tooltip {
            display: none;
          }
        }
      }
    }
    .ruleset-table {
      border: 1px solid lightgray;
      border-radius: 6px;
      .data-table-headers {
        display: none;
      }
      .data-table-row-section {
        white-space: pre-wrap;
      }
      .data-table-row:nth-of-type(1) {
        height: 80px;
        overflow-y: auto;
      }
      .data-table-row:nth-of-type(2) {
        height: 100px;
        overflow-y: auto;
      }
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      padding: 20px 10px 20px 0px;
      width: 900px;
      #edit-ruleset-button, #delete-ruleset-button {
        margin-right: 10px;
      }
    }
  }

  .ruleset-container {
    .delete-ruleset-container {
      .delete-ruleset-text {
        padding: 20px;
      }
      .delete-ruleset-button-container {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        #delete-ruleset-button {
          margin-right: 10px;
        }
      }
    }
  }
  .ruleset-form-container {
    .ruleset-form {
      .form-subsection-label {
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
        margin-top: 15px;
      }
      #regex-rules-label {
        margin-bottom: 0px;
      }
      .checkboxes-container {
        display: flex;
        .checkbox-container {
          margin-right: 30px;
          #stem-label-1, #stem-label-2, #stem-label-3 {
            margin-right: 5px;
          }
        }
      }
      .regex-rules-container {
        .regex-rule-container {
          display: flex;
          align-items: center;
          .regex-input-container {
            width: 100%;
            margin-right: 30px;
            .checkbox-container {
              .case-sensitive-label {
                margin-right: 10px;
              }
            }
          }
          .delete-regex-button {
            margin: 10px 10px 0px 0px;
            min-width: 20px;
            padding: 0px 12px 5px 12px;
          }
        }
      }
      .add-regex-button {
        margin: 30px 10px 0px 0px;
        min-width: 20px;
        padding: 0px 7px 5px 7px;
      }
    }
  }
  .turk-sessions-container {
    margin-top: 30px;
    .add-session-container, .edit-turk-session-container {
      .date-picker-container {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .datepicker-label {
          margin: 0px 10px 0px 0px;
          font-weight: 100;
        }
        .SingleDatePicker {
          z-index: 100;
          .DateInput {
            .DateInput_input {
              padding: 3px;
              font-size: 14px;
              line-height: 0;
            }
          }
        }
        .DateInput_input:hover {
          cursor: pointer;
        }
      }
      .error {
        margin: 0px 0px 0px 10px;
        color: red;
      }
    }
    .add-session-container {
      display: flex;
      align-items: center;
      align-self: flex-start;
      margin-left: 35px;
    }
    .edit-turk-session-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .date-picker-container {
        justify-content: center;
        margin-right: 0px;
        padding: 20px;
        .SingleDatePicker {
          div {
            .SingleDatePickerInput {
              .SingleDatePicker_picker {
                position: fixed;
                left: 45% !important;
                top: 45% !important;
              }
            }
          }
        }
      }
      .submit-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #edit-turk-submit-button, #delete-turk-submit-button {
          margin-right: 10px;
        }
        #edit-turk-submit-button {
          margin-bottom: 10px;
        }
        .edit-error-message {
          margin: 0px 10px 0px 0px;
          color: red;
        }
        #delete-turk-submit-button {
          margin-bottom: 20px;
        }
      }
      .delete-message {
        margin: 15px;
      }
    }
  }
  .modal {
    .close-button-container {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 10px 10px 0px 0px;
        height: auto;
        min-width: 20px;
        padding: 5px 7px 5px 7px;
      }
    }
    .submission-message {
      padding: 20px;
    }
  }
  .sessions-index-container, .session-view-container {
    width: 80vw;
    padding-left: 24px;
    .session-view-container {
      margin-top: 30px
    }
    .sessions-header {
      border-bottom: 1px solid lightgray;;
      padding: 40px 0px 20px 0px;
      h1 {
        font-weight: 300;
      }
    }
    .total-container {
      display: flex;
      align-items: center;
      margin-top: 30px;
      padding-left: 16px;
      .total-label {
        margin-right: 30px;
      }
      .total-value {
        border: 1px solid lightgray;
        padding: 3px 7px;
      }
    }
    .activity-sessions-table {
      overflow-y: auto;
      overflow-x: hidden;
      .data-table-body {
        .data-table-row {
          span:nth-of-type(4), span:nth-of-type(5), span:nth-of-type(6), span:nth-of-type(7) {
            text-align: left !important;
          }
        }
      }
    }
    .session-overview-table {
      margin: 30px 0px 30px 0px;
      border: 1px solid lightgray;
      max-width: 700px;
      .data-table-headers {
        display: none;
      }
      .data-table-body {
        .data-table-row {
          span:nth-of-type(1) {
            font-weight: 600;
          }
        }
      }
    }
    .prompt-table-container {
      margin-top: 30px;
      .attempts-section, .completed-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 250px;
        border: 1px solid lightgray;
        padding: 10px 0px 10px 18px;
        margin-bottom: 20px;
        p {
          margin-bottom: 0px;
        }
        .attempts-label, .completed-label {
          font-weight: 600;
        }
        .attempts-value, .completed-value {
          margin-right: 20px;
        }
      }
      .attempts-feedback-table {
        margin-bottom: 20px;
        border: 1px solid lightgray;
        .data-table-body {
          // .data-table-row:nth-child(odd) {
          //   background-color: #ffbcbc;
          // }
          .data-table-row {
            &.optimal {
              background-color:  #a7efa7
            }
            &.sub-optimal {
              background-color:  #ffbcbc;
            }
          }
          .data-table-row {
            height: auto;
            padding: 10px 16px;
            span {
              div {
                .entry {
                  margin-bottom: 0px;
                  white-space: break-spaces !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .tabs-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f8f8f8;
    a {
      color: black;
    }
    .tab-option {
      margin-top: 5px;
      padding: 10px;
    }
    .is-active {
      color: #19a08a;
      text-decoration: none;
      .tab-option {
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: white;
      }
    }
  }
  .return-link {
    color: #19a08a;
  }
  .return-link:hover {
    color: #61cfbc;
  }
}
