.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #F6F6F6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.certain-search-item-count {
 position: absolute;
 color: #999;
 right: 16px;
}

.certain-category-search-wrapper {
  position: relative;
  max-width: 536px;
  width: 100%;
  margin-bottom: 20px;
  i {
    position: absolute;
    top: 40%;
    left: 20px;
  }
  input {
    width: 100%;
    border-radius: 24px;
    border: solid 1px #e0e0e0;
    height: 48px;
    padding: 0px 44px;
    font-size: 16px;
    color: #000;
    &::placeholder, &:placeholder {
      color: #757575;
    }
  }
}

.certain-category-search.ant-select-focused .certain-category-icon {
  color: #108ee9;
}

.certain-category-icon {
  color: #6E6E6E;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}

.cms-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding-left: 31px;
  button, a {
    font-weight: 500;
    color: black;
    padding: 10px;
    border-bottom: 4px solid white;
    cursor: pointer;
    margin-bottom: 0px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      font-weight: 600;
      color: #189A6B;
      border-bottom: 4px solid #189A6B;
    }
  }
}

.ant-input-affix-wrapper .ant-input {
  min-height: 0;
}

.concepts-table th {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

.cms-manager-nav {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  background-color: #f8f8f8;
  height: 70px;
  .cms-manager-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    height: 100%;
    margin-left: 31px;
   a {
      font-weight: 500;
      color: #000;
      min-width: 136px;
      white-space: nowrap;
      display: flex;
      border-collapse: collapse;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #ebebeb;
      padding: 10px;
      &:last-of-type {
        border-right: 1px solid #ebebeb;
      }
    }
    a.active {
      font-weight: 600;
      color: #189A6B;
      background-color: white;
      height: 70px;
    }
  }
}

.concepts-index {
  padding: 30px;
  background-color: white;
  min-width: 2000px;
}

.concepts-change-log-index {
  padding: 30px;
}

.concepts-index-bottom {
  display: flex;
  justify-content: flex-start;
}

.concepts-table-container {
  width: 1200px;
  padding: 30px 20px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  margin-right: 20px;
  td div {
    cursor: pointer;
  }
}

.success-banner {
  color: black;
  background-color: #E9FCD3;
  height: 53px;
  font-weight: 500;
  padding: 0px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  i, svg {
    cursor: pointer;
  }
}

.concept-level-columns {
  display: flex;
}

.concept-column {
  border: 1px solid #ebebeb;
  width: 300px;
  height: 863px;
  border-radius: 6px;
  margin-right: 20px;
  padding: 10px 0px;
  .concept-column-head {
    border-bottom: 1px solid #ebebeb;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 0px;
      line-height: 34px;
    }
  }
  .sort-select {
    width: 115px;
    .Select-value {
      padding-right: 0px !important;
      padding-left: 0px;
    }
    .Select-control {
      border: none;
    }
    .Select-value-label {
      color: #999;
    }
    .Select-clear-zone {
      display: none;
    }
    .Select-input {
      display: none !important;
    }
  }
}

.concept-list {
  padding: 0px 20px;
  height: 815px;
  overflow: scroll;
}

.concept-list-item {
  padding: 15px 10px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover, &.selected {
    background-color: #E8F6F3
  }
  .fa-times {
    cursor: pointer;
  }
}

.new-concept-container {
  padding: 30px;
  .concept-box {
    position: inherit;
  }
}

.concept-levels-and-forms-container {
  display: flex;
}

.concept-guide-section {
  display: flex;
  width: 369px;
  align-items: flex-start;
  svg {
    margin-top: 4px;
    color: #9D9D9D;
  }
  div {
    margin-left: 5px;
    a {
      color: #189A6B;
      font-weight: 500;
    }
    p {
      color: #9D9D9D;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.live-or-archived {
  color: #7f7f7f;
  font-size: 12px;
  width: 70px;
  .date {
    padding-left: 16px;
  }
  .live, .archived {
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .archived {
    background-color: #FF8A83;
  }
  .live {
    background-color: #92D36E;
  }
}

.find-and-replace {
  max-width: 1200px;
  border: 1px solid #c0c0c1;
  margin: 30px;
  border-radius: 6px;
  .section-number {
    padding: 3px 10px;
    border: 1px solid #c0c0c1;
    border-radius: 50px;
    color: #c0c0c1;
    margin-right: 20px;
    height: 30px;
  }
  .find-and-replace-section {
    padding: 30px;
    &:not(.replace-section) {
      border-bottom: 1px solid #c0c0c1;
    }
  }
  .find-and-replace-section-header {
    display: flex;
    align-items: center;
    a {
      color: #189a6b
    }
    a, h2 {
      font-size: 20px;
    }
  }
  .input-container.inactive label {
    font-size: 12px;
  }
  .input-container {
    margin-top: 30px;
  }
  .find-and-replace-form {
    .quill-button {
      width: 95%;
      margin: 30px;
    }
  }
}

.concept-change-logs {
  .concept-change-logs-header {
    display: flex;
    justify-content: space-between;
    color: #000;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .change-log-items {
    border-left: 1px solid #CFCFCF;
  }
  .change-log-item {
    padding-left: 30px;
    position: relative;
    margin-bottom: 25px;
    p {
      line-height: 1;
    }
    .date {
      color: #a7a7a7;
    }
    .action {
      color: #000;
      font-weight: 600;
      margin-bottom: 11px;
    }
    .explanation {
      line-height: 1.5;
      color: #000;
    }
    .user {
      display: flex;
      align-items: center;
      i {
        font-size: 16px;
        margin-right: 5px;
        color: #b8b8b8;
      }
      span {
        color: #000;
      }
    }
  }
  .change-log-item::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -8px;
    top: 0px;
    background-color: white;
    border: 1px solid #CFCFCF;
    border-radius: 50%;
    z-index: 1;
  }

}

.concept-attribute-field {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 498px;
  position: relative;
  right: 35px;
  padding: 15px 35px;
  &.rule-description-field {
    margin-top: 20px;
  }
  &.concept-explanation-field {
    margin-bottom: 20px;
    border-top: none;
  }
  .add-concept-attribute-field {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      margin-left: 20px;
      margin-bottom: 0px;
      color: #000;
    }
  }
  .cancel-concept-attribute-field {
    color: #2AA276;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    cursor: pointer;
  }
  .concept-attribute-field-editor {
    p {
      font-weight: 600;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      resize: none;
      border: 1px solid #ebebeb;
      padding: 6px 10px;
      &:focus {
        outline: none;
      }
    }
    .concept-attribute-field-editor-subheader {
      color: #7f7f7f;
      font-size: 12px;
    }
    .concept-attribute-field-editor-header {
      display: flex;
      justify-content: space-between;
      p {
        margin-bottom: 5px;
      }
      .remove-concept-attribute-field {
        color: #A7A7A7;
        cursor: pointer;
      }
    }
  }
  .card {
    border: 1px solid #ebebeb;
    .card-header {
      border-bottom: 1px solid #ebebeb;
    }
    .card-content {
      min-height: 60px;
      padding: 20px;
    }
  }
}

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.5;
  background-color: #000;
}

.change-log-modal {
  max-height: 90%;
  overflow: scroll;
  width: 560px;
  border-radius: 6px;
  background-color: #ffffff;
  z-index: 100;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  display: block;
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .quill-button {
    margin-left: 20px;
  }
  h1 {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 800;
  }
  p {
    line-height: 1.57;
    color: #646464;
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.find-and-replace-guide {
  color: #189a6b;
  font-size: 20px;
  margin: 30px 30px 0px;
  font-weight: 600;
  display: inline-block;
}
