.date-selection-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  .left-side-container {
    display: flex;
  }
  .start-date-picker {
    margin-right: 22px;
  }
  .end-date-picker {
    margin-right: 16px;
  }
  &.rules-analysis {
    margin-bottom: 24px;

    .react-datetime-picker {
      input:nth-of-type(2) {
        width: 32px !important;
      }
      input:nth-of-type(3), input:nth-of-type(4), input:nth-of-type(5), input:nth-of-type(6) {
        width: 16px !important;
      }
    }
  }
}

.date-picker-label {
  margin: 0px 16px 0px 0px;
}
.react-datetime-picker {
  display: inline;
  margin-right: 24px;
}
.react-datetime-picker__inputGroup {
  padding-top: 2px;
}
.react-datetime-picker__inputGroup__input {
  height: auto;
}

.error-container {
  justify-content: flex-start;
  padding-top: 0;
  margin-bottom: 8px;
  min-height: 24px;
}

.error-message {
  font-size: 12px;
  font-weight: 600;
  color: #ff0000;
  margin-left: 8px;
}
