.record-box {
  padding: 30px 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  width: 500px;
  margin-bottom: 10px;
  .fas {
    margin-right: 5px;
  }
  &:not(.create-record-box) {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    min-height: 400px;
  }
  &.archived-record-box {
    .record-input-container {
      align-items: center !important;
    }
    .fields {
      .input-container {
        width: 220px;
      }
    }
  }
  .close-record-box {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .static {
    p {
      font-size: 12px;
      margin-bottom: 6px;
      color: #7f7f7f;
      font-weight: 600;
    }
    h1 {
      font-size: 16px;
      color: black;
    }
  }
  .fields {
    margin-left: 15px;
    margin-top: 35px;
    .record-input-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    #record-name {
      width: 260px;
      padding-right: 20px;
    }
    .rename-and-archive {
      color: #7f7f7f;
      margin-bottom: 14px;
      margin-left: 10px;
      width: 166px;
      display: flex;
      justify-content: space-between;
      .rename, .archive {
        cursor: pointer;
        svg {
          margin-right: 5px;
        }
      }
    }
    .quill-button {
      width: 100% !important;
    }
  }
  &.create-record-box {
    .input-container {
      width: 100%;
    }
  }
}
