.rule-analysis-container {
  .data-table {
    margin: 20px 0px;
    .data-table-row {
      height: min-content;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .data-table-row-section {
      white-space: pre-wrap;
      overflow: visible;
    }
  }

  .version-dropdown {
    margin-right: 24px;
  }

  .responses-table {
    margin-top: 20px;
    height: 100vh;
    .prompt-text span {
      text-decoration: underline;
    }
    .rt-th {
      text-align: left;
    }
    .quill-tooltip-trigger {
      white-space: pre-wrap;
    }
  }

  .rt-td, .rt-th {
    white-space: pre-wrap;
    overflow: visible;
  }

  .-odd {
    background-color: #eee;
  }
  .-even {
    background-color: white;
  }

  .strength-button {
    margin-right: 8px;
    background-color: white;
    &.strong {
      background-color: green;
    }
    &.weak {
      background-color: red;
    }
  }
}
