.rule-analysis-container {
  .data-table {
    margin: 20px 0px;
  }

  .responses-table {
    max-height: 400px;
    .data-table-row {
      min-height: 48px;
      height: min-content;
    }
    .data-table-row-section {
      white-space: pre-wrap;
    }
  }

  .strength-button {
    margin-right: 8px;
    background-color: white;
    &.strong {
      background-color: green;
    }
    &.weak {
      background-color: red;
    }
  }
}
