.style-guide-index {
  display: flex;
  font-family: adelle-sans, "Arial", sans-serif;
  -moz-font-feature-settings: "ss04", "tnum";
  -webkit-font-feature-settings: "ss04", "tnum";
  font-feature-settings: "ss04", "tnum";
  font-variant-numeric: tabular-nums;
  overflow: scroll;
  height: 100%;
  margin-bottom: 24px;
}

.style-guide {
  padding: 15px;
  .style-guide-h2 {
    padding: 30px 0px;
  }
  .style-guide-h3 {
    padding: 20px 0px;
  }
  .element-container {
    border-collapse: collapse;
    display: flex;
    width: 1000px;
    flex-direction: column;
    .element-row {
      display: flex;
      &:last-child {
        border-bottom: 1px solid #d6d5d6;
      }
    }
    .element {
      display: flex;
      flex-direction: column;
      border-collapse: collapse;
      width: 174px;
      align-items: center;
      height: 174px;
      border: 1px solid #d6d5d6;
      border-spacing: 0px;
      border-bottom: none;
      &:not(:last-child) {
        border-right: none;
      }
      code {
        background-color: white;
        color: #8b8b8b;
        flex: .6;
        font-size: 12px;
      }
    }
  }
  .card-with-img-container {
    .quill-card {
      width: 546px;
    }
  }
  .card-without-img-container {
    .quill-card {
      width: 167px;
    }
  }

  .quill-card p {
    margin-bottom: 0px;
  }

  .big-element {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: 300px;
    pre {
      height: 120px;
    }
  }

  .extra-big-element:last-of-type {
    padding-bottom: 30px;
  }

  .sliders-container {
    margin: 20px 0px 20px 8px;
    .slider-container {
      width: 160px;
    }
  }
}

.menu {
  min-width: 220px;
  border-right: 1px solid rgb(227, 227, 227);
  padding: 15px;
  position: sticky;
  top: 0;
  height: 400px;
  .menu-label {
    color: #7a7a7a;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .menu-list {
    line-height: 1.25;
    padding-left: 0px;
    li {
      list-style: none;
      padding-left: 0px;
    }
    a {
      border-radius: 2px;
      color: #4a4a4a;
      display: block;
      padding: 0.5em 0.75em;
      font-size: 16px;
    }
  }
}

.short {
  height: 200px;
}

#banners {
  .element-container {
    .color-options-dropdown {
      max-width: 200px;
      margin-top: 16px;
      justify-content: flex-start;
      min-height: 64px;
    }
    .premium-options-container {
      .radio-options {
        display: flex;
        align-items: baseline;
        .radio:first-of-type {
          margin-right: 8px;
        }
      }
    }
  }
}

#color-palette {
  .color-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .element {
    padding: 10px;
    max-width: 16%;
    border-bottom: 1px solid #d6d5d6;
    border-right: 1px solid #d6d5d6;
    position: relative;
    div {
      width: 40px;
      height: 40px;
    }
  }

  $colors: (
    quill-black: $quill-black,
    quill-grey-90: $quill-grey-90,
    quill-grey-80: $quill-grey-80,
    quill-grey-70: $quill-grey-70,
    quill-grey-60: $quill-grey-60,
    quill-grey-50: $quill-grey-50,
    quill-grey-40: $quill-grey-40,
    quill-grey-35: $quill-grey-35,
    quill-grey-30: $quill-grey-30,
    quill-grey-25: $quill-grey-25,
    quill-grey-20: $quill-grey-20,
    quill-grey-15: $quill-grey-15,
    quill-grey-10: $quill-grey-10,
    quill-grey-5: $quill-grey-5,
    quill-grey-3: $quill-grey-3,
    quill-grey-2: $quill-grey-2,
    quill-grey-1: $quill-grey-1,
    quill-white: $quill-white,

    quill-black-transparent-90: $quill-black-transparent-90,
    quill-black-transparent-80: $quill-black-transparent-80,
    quill-black-transparent-70: $quill-black-transparent-70,
    quill-black-transparent-60: $quill-black-transparent-60,
    quill-black-transparent-50: $quill-black-transparent-50,
    quill-black-transparent-40: $quill-black-transparent-40,
    quill-black-transparent-30: $quill-black-transparent-30,
    quill-black-transparent-20: $quill-black-transparent-20,
    quill-black-transparent-10: $quill-black-transparent-10,
    quill-white-transparent-90: $quill-white-transparent-90,
    quill-white-transparent-80: $quill-white-transparent-80,
    quill-white-transparent-70: $quill-white-transparent-70,
    quill-white-transparent-60: $quill-white-transparent-60,
    quill-white-transparent-50: $quill-white-transparent-50,
    quill-white-transparent-40: $quill-white-transparent-40,
    quill-white-transparent-30: $quill-white-transparent-30,
    quill-white-transparent-20: $quill-white-transparent-20,
    quill-white-transparent-10: $quill-white-transparent-10,
    quill-green-transparent-90: $quill-green-transparent-90,
    quill-green-transparent-80: $quill-green-transparent-80,
    quill-green-transparent-70: $quill-green-transparent-70,
    quill-green-transparent-60: $quill-green-transparent-60,
    quill-green-transparent-50: $quill-green-transparent-50,
    quill-green-transparent-40: $quill-green-transparent-40,
    quill-green-transparent-30: $quill-green-transparent-30,
    quill-green-transparent-20: $quill-green-transparent-20,
    quill-green-transparent-10: $quill-green-transparent-10,

    quill-green: $quill-green,
    quill-green-50: $quill-green-50,
    quill-green-20: $quill-green-20,
    quill-green-10: $quill-green-10,
    quill-green-5: $quill-green-5,
    quill-green-1: $quill-green-1,
    quill-green-warm: $quill-green-warm,
    quill-green-warm-50: $quill-green-warm-50,
    quill-green-warm-20: $quill-green-warm-20,
    quill-green-warm-10: $quill-green-warm-10,
    quill-green-warm-5: $quill-green-warm-5,
    quill-green-warm-1: $quill-green-warm-1,
    quill-green-vibrant: $quill-green-vibrant,
    quill-green-vibrant-50: $quill-green-vibrant-50,
    quill-green-vibrant-20: $quill-green-vibrant-20,
    quill-green-vibrant-10: $quill-green-vibrant-10,
    quill-green-vibrant-5: $quill-green-vibrant-5,
    quill-green-vibrant-1: $quill-green-vibrant-1,
    quill-viridian: $quill-viridian,
    quill-viridian-50: $quill-viridian-50,
    quill-viridian-20: $quill-viridian-20,
    quill-viridian-10: $quill-viridian-10,
    quill-viridian-5: $quill-viridian-5,
    quill-viridian-1: $quill-viridian-1,
    quill-teal: $quill-teal,
    quill-teal-50: $quill-teal-50,
    quill-teal-20: $quill-teal-20,
    quill-teal-10: $quill-teal-10,
    quill-teal-5: $quill-teal-5,
    quill-teal-1: $quill-teal-1,
    quill-blue: $quill-blue,
    quill-blue-50: $quill-blue-50,
    quill-blue-20: $quill-blue-20,
    quill-blue-10: $quill-blue-10,
    quill-blue-5: $quill-blue-5,
    quill-blue-1: $quill-blue-1,
    quill-purple: $quill-purple,
    quill-purple-50: $quill-purple-50,
    quill-purple-20: $quill-purple-20,
    quill-purple-10: $quill-purple-10,
    quill-purple-5: $quill-purple-5,
    quill-purple-1: $quill-purple-1,
    quill-violet: $quill-violet,
    quill-violet-50: $quill-violet-50,
    quill-violet-20: $quill-violet-20,
    quill-violet-10: $quill-violet-10,
    quill-violet-5: $quill-violet-5,
    quill-violet-1: $quill-violet-1,
    quill-red: $quill-red,
    quill-red-50: $quill-red-50,
    quill-red-20: $quill-red-20,
    quill-red-10: $quill-red-10,
    quill-red-5: $quill-red-5,
    quill-red-1: $quill-red-1,
    quill-maroon: $quill-maroon,
    quill-maroon-50: $quill-maroon-50,
    quill-maroon-20: $quill-maroon-20,
    quill-maroon-10: $quill-maroon-10,
    quill-maroon-5: $quill-maroon-5,
    quill-maroon-1: $quill-maroon-1,
    quill-gold: $quill-gold,
    quill-gold-50: $quill-gold-50,
    quill-gold-20: $quill-gold-20,
    quill-gold-10: $quill-gold-10,
    quill-gold-5: $quill-gold-5,
    quill-gold-1: $quill-gold-1,
    quill-gold-dark: $quill-gold-dark,
    quill-gold-dark-50: $quill-gold-dark-50,
    quill-gold-dark-20: $quill-gold-dark-20,
    quill-gold-dark-10: $quill-gold-dark-10,
    quill-gold-dark-5: $quill-gold-dark-5,
    quill-gold-dark-1: $quill-gold-dark-1
  );

  @each $name, $color in $colors {
    .#{$name} {
      background-color: $color;
      &::before {
        content: "#{$color}";
        display: block;
        position: absolute;
        top: 0px;
        text-align: center;
        width: 100%;
        left: 0;
        top: 140px;
      }
    }
  }
}
