.question-health {
  font-size: 16px;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    margin: 0px 0px 15px;
    font-style: italic;
    font-weight: bold;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    span, a {
      flex: 1;
    }
  }
  .bold {
    font-weight: bold;
  }

  .question-type-table {
    border-top: 1px black solid;
    padding: 15px;
  }

  .status-table {
    background-color: rgba(255, 246, 209, 0.3);
    padding: 15px;
  }
}
