.nav.student-nav {
  .student-lessons {
    height: 66px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .quill-logo {
      height: 40px;
    }
  }
    .lesson-name, .teacher-name {
      height: 28px;
      font-size: 18px;
      font-weight: 600;
    	font-family: $family-sans-serif;
      color: $white;
    }
    height: 50px;
    background-color: $green;

    .container {
        max-width: 800px;
        margin: auto;
    }

    .nav-item {
        color: $white;
    }
    @media (max-width: 850px) {
        .container {
            padding: 0 4% 0 4%;
        }
    }
  &.ell-nav {
    .nav-toggle {
      display: none;
    }
    .nav-right {
      align-items: stretch;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: flex-end;
        .nav-language-selector-container {
          display: flex;
          align-items: center;
          @media (max-width: 690px) {
            .nav-language-selector-directions {
              display: none;
            }
            .nav-language-selector-trigger, .nav-language-selector-dropdown {
              width: 132px;
              .language-button-img {
                margin-right: 7px;
              }
            }
          }
        }
    }
  }
}
