.feedback-row {
  display: flex;
  align-items: center;
  margin-top: 16px;
  img {
    max-width: 22px;
    margin-right: 8px;
  }
  p {
    font-family: $family-monospace;
    margin-bottom: 0;
    font-size: 20px;
  }
}

.student.text-editor.card {
  margin-top: 20px;
  min-height: 68px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  &.disabled {
    background-color: $background;
  }

  .card-content {
    .public-DraftEditor-content {

        // line-height: 42px;
        font-family: $family-sans-serif;
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
    }
  }
}

.question-button-group {
  margin-top: 28px;

  .student-submit, .student-next {
    background-color: $green;
    font-family: $family-sans-serif;
    color: $white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    padding: 0 24px;
  }
}

.cues {
  margin-top: 9px;
  display: inline-flex;
  align-items: center;
  // margin-bottom: 1em;
  .cue {
    background-color: #fffed5;
    line-height: 28px;
    font-size: 20px;
    font-family: $family-monospace;
    // font-weight: bold;

    margin-right: 13px;
    padding: 0 5px;
    text-transform: lowercase;
  }

  img {
    margin-right: 7px;
  }

  .cue-explanation {
    font-size: 14px;
    font-family: $family-monospace;
    line-height: 28px;
    color: #636363;
  }
}

.end-state-container {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  img {
    margin-right: 8px;
    margin-top: 5px;
  }

  .top-answer-text {
    .top-answer-title {
      color: #464646;
      // margin-bottom:
    }
    ul.top-answer-list {
      list-style: none;
      margin: 0;
      color: #464646;
    }
  }
  font-size: 20px;
  font-family: $family-monospace;

}

.mirror {
  transform: rotate(180deg);
}
