.nav.student-nav {
    height: 50px;
    background-color: $green;

    .container {
        max-width: 800px;
        margin: auto;
    }

    .nav-item {
        color: $white;
    }
    @media (max-width: 850px) {
        .container {
            padding: 0 4% 0 4%;
        }
    }
}
