<div class="container account-form">
  <h1>Are you sure you want to unsubscribe from the Admin Diagnostic Growth Report?<h1>
  <%= button_to "Unsubscribe", @current_subscription, method: :delete, class:"quill-button focus-on-light primary large contained" %>
</div>
