.alert {
  font-size: 0.9375rem;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert-primary {
  color: #24426c;
  background-color: #dae5f5;
  border-color: #cbdbf2;
}

.alert-primary hr {
  border-top-color: #b7cded;
}

.alert-primary .alert-link {
  color: #172b46;
}

.alert-secondary {
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2;
}

.alert-secondary hr {
  border-top-color: #cfd2d6;
}

.alert-secondary .alert-link {
  color: #2e3133;
}

.alert-success {
  color: #316100;
  background-color: #dff1cc;
  border-color: #d2ecb8;
}

.alert-success hr {
  border-top-color: #c5e7a4;
}

.alert-success .alert-link {
  color: #172e00;
}

.alert-info {
  color: #24587e;
  background-color: #daeefc;
  border-color: #cbe7fb;
}

.alert-info hr {
  border-top-color: #b3dcf9;
}

.alert-info .alert-link {
  color: #193c56;
}

.alert-warning {
  color: #7d6608;
  background-color: #fcf3cf;
  border-color: #fbeebc;
}

.alert-warning hr {
  border-top-color: #fae8a4;
}

.alert-warning .alert-link {
  color: #4d3f05;
}

.alert-danger {
  color: #6b1110;
  background-color: #f5d2d2;
  border-color: #f1c1c0;
}

.alert-danger hr {
  border-top-color: #ecacab;
}

.alert-danger .alert-link {
  color: #3f0a09;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}
