.article-container {
 padding: 0 0 2rem 0;
}

.article-card {
  margin-top: 2rem;
  background-color: #fff;
  padding: 3.5rem;
  width: 880px;
  background-clip: border-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;

  h2 {
    margin: 0 0 1rem 0;
    font-weight: 600;
    line-height: 1.1;
    color: inherit; 
  }

  p {
    margin: 0;
    line-height: 1.66;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  textarea.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.article-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgb(73, 80, 87);
}

.form-control::placeholder {
  color: #adb5bd;
  opacity: 1;
}