.article-container {
 padding: 0 0 2rem 0;

  @media (max-width: 480px) { 
    h1 {
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
  }
}

.card .card-body.article-body {
  padding: 2rem 3.5rem;
  @media (max-width: 480px) { 
    padding: 2rem;
  }

  @media (max-width: 320px) { 
    padding: 1rem;
  } 
}

.article-card {
  background-color: #fff;
  width: 100%;
  max-width: 880px;
  background-clip: border-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &.card .card-body {
    padding: 2rem 3.5rem;
    @media (max-width: 480px) { 
      padding: 2rem;
    }
  
    @media (max-width: 320px) { 
      padding: 1rem;
    }
  }

  

  &.card .card-header {
    padding: 2rem 3.5rem;
    @media (max-width: 480px) { 
      padding: 2rem;
    }
  
    @media (max-width: 320px) { 
      padding: 1rem;
    }
  }

  &.card .card-footer {
    padding: 1rem 3.5rem;
    font-size: 1rem;
    @media (max-width: 480px) { 
      padding: 2rem;
    }
  
    @media (max-width: 320px) { 
      padding: 1rem;
    }
  }

  

  h2 {
    margin: 0;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    @media (max-width: 480px) { 
      font-size: 1.2rem;
    }
  }

  p {
    margin: 0;
    line-height: 1.66;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
  }

  .article-header {
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  }

}

.article-title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgb(73, 80, 87);
}