$color-blue: #467fcf;
$color-indigo: #6574cd;
$color-purple: #a55eea;
$color-pink: #f66d9b;
$color-red: #cd201f;
$color-orange: #fd9644;
$color-yellow: #f1c40f;
$color-green: #5eba00;
$color-teal: #2bcbba;
$color-cyan: #17a2b8;
$color-white: #fff;
$color-gray: #868e96;
$color-gray-dark: #343a40;
$color-azure: #45aaf2;
$color-lime: #7bd235;
$color-primary: #467fcf;
$color-secondary: #868e96;
$color-success: #5eba00;
$color-info: #45aaf2;
$color-warning: #f1c40f;
$color-danger: #cd201f;
$color-light: #f8f9fa;
$color-dark: #343a40;