.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) { 
    max-width: 540px;
  }

  @media (min-width: 768px) { 
    max-width: 720px;
  }

  @media (min-width: 992px) { 
    max-width: 960px;
  }

  @media (min-width: 1280px) { 
    max-width: 1200px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.page-main {
  flex: 1 1 auto;
}