// Padding
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem
}
.p-l-1 {
  padding-left: 1rem
}
.p-r-1 {
  padding-right: 1rem
}
.p-t-1 {
  padding-top: 1rem
}
.p-b-1 {
  padding-bottom: 1rem
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
} 

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
} 

// Margins
.m-1 {
  margin: 1rem
}
.m-l-1 {
  margin-left: 1rem
}
.m-r-1 {
  margin-right: 1rem
}
.m-t-1 {
  margin-top: 1rem
}
.m-b-1 {
  margin-bottom: 1rem
}

// Display
.d-f {
  display: flex;
}

.d-fl-r {
  display: flex;
  flex-direction: row;
}

.d-fl-c {
  display: flex;
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fs {
  align-items: flex-end;
}

.ai-bl {
  align-items: baseline;
}

// Backgrounds
.bg-blue {
  background-color: #467fcf !important;
}

.bg-teal {
  background-color: #2bcbba !important;
}

.bg-warning {
  background-color: #f1c40f !important;
}


.text-nowrap {
  white-space: nowrap !important;
}

.mw-50 {
  max-width: 50vw;
}

// fonts 

.fs-sm {
  font-size: 0.85rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.15rem;
}