.navbar {
  width: 100%;
  height: 64px;
  background-color: #fff;
  padding: 1rem 0px;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  
  .navbar-inner {
    display: flex;
    align-items: center;
    height: 32px;

    span.logo {
      font-size: 1.2rem;
    }
  }
}

.subnav {
  width: 100%;
  height: 55px;
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .subnav-left, .subnav-right {
    display: flex;
    flex-direction: row;

    .subnav-item:first-of-type {
      border-left: 1px solid rgba(0, 40, 100, 0.12);
    }
  }

  .subnav-item {
    height: 100%;
    padding: 0 2rem;
    border-right: 1px solid rgba(0, 40, 100, 0.12);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
}