.play_new {
  .title {
    margin: 20px 80px;
  }
  .passage {
    font-size: 20px;
    margin: 20px 80px;
  }
  .right {
    float: right;
  }
  .prompt {
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
  }
  .entry {
    height: 50px;
    width: 50%;
  }
  .instructions {
    font-size: 1.4em;
    padding: 12px 20px;
    background-color: #ffffcc;
    border: 1px solid #f5e51b;
    color: #67809f;
  }

  .feedback {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    display: block;
    padding: 30px;
    background-color: #86e2d5;
    width: 80%;
  }
  .hidden {
    display: none;
  }

  .btn {
    margin-top: 10px;
    font-size: 24px;
    background-color: #26a65b;
    color: white;
    font-weight: bold;
    width: 100px;
  }
}
