.question-wrapper {
  max-width: 880px;
}

textarea.question {
  padding: 1.5rem;
  border: none;
  font-size: 16px;
  font-size: 1rem;
  resize: vertical;
  margin-left: 2px;
  max-width: calc(100% - 2px);
  width: 100%;
}

.question-set-prompt {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}