.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;

  thead th {
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-bottom-width: 1px;
    padding:.5rem .75rem;
    text-align: left;
  }

  td {
    padding: 0.75rem;
    padding-left: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  th {

    color: #9aa0ac;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
  
  }
}

.card-table {
  margin-bottom: 0;

  tr:first-child td, tr:first-child th {
    border-top: 0;
  }

  tr td:first-child, tr th:first-child {

    padding-left: 1.5rem;
  
  }

  tr td:last-child, tr th:last-child {

    padding-right: 1.5rem;
  
  }
}