.tag {
  font-size: 0.75rem;
  color: #6e7687;
  background-color: #e9ecef;
  border-radius: 3px;
  padding: 0 .5rem;
  line-height: 2rem;
  display: inline-flex;
  cursor: default;
  font-weight: 400;
  user-select: none;
  
  &.large {
    font-size: 1rem;
    padding: 0 .75rem;
  }
}

.tags {
  margin-bottom: -.5rem;
  font-size: 0;

  .tag {
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}