@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
@import 'ions';
@import 'navbar';
@import 'containers';
@import 'forms';
@import 'articles';
@import 'buttons';
@import 'cards';

html {
  line-height: 1.15;
}

body {
  background-color: #f5fbf7;
  font-family: 'Source Sans Pro', sans-serif;
  color: #495057;
  font-feature-settings: "liga" 0;
  font-size: 0.9375rem;
  -webkit-font-smoothing: antialiased;
}