@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

@import 'colors';
@import 'alerts';
@import 'ions';
@import 'navbar';
@import 'containers';
@import 'forms';
@import 'articles';
@import 'questions';
@import 'buttons';
@import 'cards';
@import 'tables';
@import 'tags';
@import 'modals';

html {
  line-height: 1.15;
}

body {
  background-color: #f5f7fb;
  font-family: 'Source Sans Pro', sans-serif;
  color: #495057;
  font-feature-settings: "liga" 0;
  font-size: 0.9375rem;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1;
  min-height: 100vh; 
}

a {
  color: #467fcf;
  text-decoration: none;
  background-color: transparent;
  text-decoration-skip: ink;
  
  &:hover {
    color: #295a9f;
    text-decoration: underline;
  }
}