.quill-card {
  border-radius: 6px;
  box-shadow: 0 0 0 1px #e0e0e0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 40px 32px;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    color: #646464;
    line-height: 1.57;
    margin-bottom: 0px;
  }
  img {
    margin-right: 32px;
  }
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #06806b;
    outline: none;
  }
}
