.focus-on-dark {
  &:focus {
    outline: dashed 2px #fff;
    outline-offset: 6px;
  }
}

.focus-on-light {
  &:focus {
    outline: dashed 2px #06806b;
    outline-offset: 6px;
  }
}

.hide-focus-outline {
  .focus-on-light, .focus-on-dark {
    &:focus {
      outline: none !important;
    }
  }
}
