.input-container {
  min-height: 58px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  input, input:focus {
    outline: none;
    margin-bottom: 8px;
    border: 2px #009a80;
    border-style: none none solid none;
    border-radius: 0px;
    width: 100%;
    padding: 3px 0px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  label {
    font-size: 12px;
    font-weight: 600;
    color: #009a80;
    display: flex;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .dropdown {
    margin-bottom: 8px;
    &:focus {
      outline: none;
    }
    .dropdown__control {
      border: none;
      outline: none !important;
      box-shadow: none !important;
      border-radius: 0px !important;
    }
    .dropdown__value {
      border: solid 2px #009a80;
      border-style: none none solid none;
      border-radius: 0px;
      padding-left: 0px;
      &:focus {
        outline: none;
      }
    }
    .dropdown__value-container {
      padding-left: 0px;
    }
    .dropdown__indicator-separator {
      display: none;
    }

    .dropdown__value-label {
      color: #000;
    }
    .dropdown__multi-value-wrapper {
      &:focus {
        outline: none;
      }
    }
    .dropdown__clear-zone {
      display: none;
    }
    .dropdown__control {
      &:hover {
        box-shadow: none;
      }
    }
    .dropdown__input {
      padding: 8px 0px 0px;
      input {
        border: none;
        margin-bottom: 0px;
        padding: 0px;
      }
    }
  }
  &.inactive {
    &.has-text {
      input {
        height: inherit;
        padding: 3px 0px 4px;
      }
      label {
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
        display: flex;
        margin-bottom: 5px;
      }
    }
    input {
      border: 1px #e0e0e0;
      height: 1px;
      padding: 0px;
      border-style: none none solid none;
    }
    label {
      color: #7f7f7f;
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: normal;
    }
    .helper-text {
      font-size: 12px;
      font-weight: 600;
      color: #7f7f7f;
    }
    .dropdown {
      border-bottom: 1px solid #e0e0e0;
      .dropdown__value {
        border-width: 0px;
        border-color: #e0e0e0;
      }
    }
  }
  &.active {
    .dropdown__control {
      border: 2px #009a80;
      border-style: none none solid;
    }
  }
  &.error {
    input {
      border: 2px #ff0000;
      border-style: none none solid none;
    }
    .error-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: normal;
      color: #ff0000;
      display: flex;
      margin-bottom: 10px;
    }
    &.active {
      label {
        color: #ff0000;
      }
    }
    &.inactive {
      label {
        color: #7f7f7f;
      }
    }
    &.unacknowledged {
      label {
        color: #7f7f7f;
      }
    }
  }
  .cancel {
    position: absolute;
    bottom: 16px;
    right: 0px;
    cursor: pointer;
  }
}
