.quill-tooltip-trigger {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: min-content;
}

.quill-tooltip:not(.visible) {
  opacity: 0;
  transition: opacity 0s;
}

.quill-tooltip {
  position: absolute;
  height: 32px;
  border-radius: 4px;
  background-color: #757575;
  bottom: -48px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 16px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity .5s;
}
