<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Editing Response Label</h1>
    </div>
    <div class="card-body">
      <%= render 'form', response_label: @response_label %>
    </div>
  </div>
  <%= link_to 'Show', @response_label %> |
  <%= link_to 'Back', response_labels_path %>
</div>
