{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
    }],
    "@babel/plugin-proposal-class-properties"
  ]

}
