<% current_path = request.env['PATH_INFO'] %>
<% if current_path.include?('getting_started') %>
  <% @active_tab = 'Getting Started'%>
<% elsif current_path.include?('teacher_stories') %>
  <% @active_tab = 'Teacher Stories'%>
<% elsif current_path.include?('writing_instruction_research') %>
  <% @active_tab = 'Writing Instruction Research'%>
<% else %>
  <% @active_tab = 'All Resources'%>
<% end %>
<%= render partial: 'pages/shared/teacher_center_navbar', active_tab: @active_tab %>
<div class="container">
  <%= react_component('BlogPostsApp', props: {route: 'index', blogPosts: @blog_posts, announcement: @announcement, query: @query, topics: @topics}) %>
</div>
