<%= render partial: 'teachers/shared/scorebook_tabs' if current_user %>
<div class="container">
  <%= react_component('BlogPostsApp', props: {route: 'index', blogPosts: @blog_posts, announcement: @announcement, query: @query}) %>
</div>
