// individual-activity-reports
#individual-activity-reports {
  margin: auto;
  max-width: 950px;
  padding-top: 44px;
  padding-bottom: 91px;
}




// should be moved into select-classroom-dropdown file
$darkgray3: #7e7e7e;
$quillgreen: #00c2a2;
$lightgray: #cecece;
#select-classroom-dropdown {
    padding: 10px 14px;
    width: 214px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px $lightgray;
    font-size: 14px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    margin-right: 40px;
    text-align: left;
    .caret {
      float: right;
      position: relative;
      top: 7px;
      border-color: #7e7e7e;
      border-top: 7px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
}
// for report-navbar.scss
#report-button-group {
    border-radius: 6px;
    border: solid 1px $lightgray;
    button {
        background-color: white;
        border: 1px solid $lightgray;
        border-top: none;
        border-bottom: none;
        font-weight: 400;
        &:last-of-type {
          border-right: none;
        }
        &:first-of-type {
          border-left: none;
        }
        &:focus, &:hover {
            background-color: $quillgreen;
            border-color: $quillgreen;
            color: white;
        }
    }
}
