@import '../../../../app/assets/stylesheets/variables.scss';
@import './typography.scss';
body {
  background-color: $white;
}



a.q-button {
  display: inline-block;
  font-family: $family-sans-serif;
  font-size: 16px;
  text-align: center;
  border: solid 1px;
  padding: 5px 20px 2px;
  border-radius: 6px;
  &.icon-button {
    .fa {
      padding-left: 5px;
    }
  }
  &.cta-button {
    padding-left: 33px;
    padding-right: 33px;
    border: none;
    font-size: 20px;
    font-weight: 400;
  }
  &.small-button {
    font-size: 14px;
  }
}



$list: (quillgreen: $quillgreen, quillforestgreen: $quillforestgreen, quillblue: $quillblue, white: $white, black: $black, orange: $orange, red: $red, darkred: $darkred, darkorange: $darkorange, darkblue: $darkblue, green: $green, darkgreen2: $darkgreen2);

@each $name, $color in $list {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .border-#{$name} {
    border: 1px solid $color;
  }
}
