.q-nav-bar {
  margin: auto;
  max-width: 1000px;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
  }

  li {
    cursor: pointer;
    &:not(:last-of-type) {
      border-right: solid 1px #d4d4d4;
    }
    background-color: #e9e9e9;
    padding: 15px 34px 15px 34px;
    padding-left: 3%;
    padding-right: 3%;
    white-space: nowrap;
    &:hover {
      background-color: white;
    }
    &:active, &.active {
      box-sizing: border-box;
      border-top: solid 3px #027e6b;
      background-color: white;
      padding-top: 12px;
    }
  }
  a {
    font-size: 15px;
    color: #1e1e1e;
    cursor: pointer;
  }



  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav[role="custom-dropdown"] {
    position:relative;
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.4em sans-serif;
      transition:color .3s ease-in-out;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      width:100%;
      list-style:none;
      position: absolute;

      > li {
        float:left;
        padding:.55em .55em;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
          box-shadow:
            0 .05em .25em 0 rgba(0, 0, 0, .35),
            inset 0 0 0 2em rgba(0, 0, 0, .3)
          ;

        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media screen and (min-width: 501px) {
    nav[role="custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .desktop-nav-list {
      display: none;
    }
    nav[role="custom-dropdown"] {
      ul {
        display:none;
        height:100%;
      }

      label {
        position:relative;
        display:block;
        width:100%;
        min-height:2.25em;
        padding:.45em;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 10%;
        top: -19px;
        content: "\2261";
        color: #3b3b3b;
        font-size: 4em;
      }

      input[type=checkbox]:checked ~ label:after {
        color:#222;
      }

      input[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width:100%;
          text-align:left;

          &:after {
            position:absolute;
            right:.25em;
            content:"\203A";
            font: bold 1.4em sans-serif;
          }
        }
      }
    }
  }


}
