.schools-section {
  // min-height: 311px;
  background-color: #f8f9f9;
  padding-top: 54px;
  padding-bottom: 87px;
  p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    // font-weight: 600;
    text-align: center;
    font-family: $family-sans-serif;
    color: #343434;
  }
  .schools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .schools-img-container {
      background-color: white;
      height: 100px;
      width: 197px;
      margin: 5px 5px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.17);
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.curriculum-section {
  // min-height: 311px;
  background-color: $quillgreen;
  padding-top: 54px;
  padding-bottom: 87px;
  p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    // font-weight: 600;
    text-align: center;
    font-family: $family-sans-serif;
    color: $white;
  }
  .concepts {
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .concept-link {
      font-size: 14px;
      margin: 0 7px 15px;
      color: $white;
      background-color: $quillforestgreen;
      border-radius: 6px;
      line-height: 20px;
      padding: 10px 15px 7px;
    }

  }
}

.features-section {
  padding: 90px 0 36px;
  .features {
    max-width: 1038px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .feature {
      width: 330px;
      margin: 0 8px 35px;
      .feature-img-container {
        height: 50px;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
        }
      }
      .feature-heading {
        font-weight: bold;
      }
      .feature-sub-heading {
        font-size: 15px;
        color: #666666;
        line-height: 1.47;
      }
    }
  }
}

.press-section {
  min-height: 386px;
  background-color: beige;
  background-image: url(/images/homepage/quill_laptop.jpg);
  background-size: cover;
  background-position: center center;
  .press-links {
    max-width: 1033px;
    width: 100%auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    border-bottom: 2px solid rgba($white, 0.17);
  }
  .press-cta {
    text-align: center;
    margin-top: 77px;
  }
}

.home-footer {
  min-height: 676px;
  background-color: #393939;
  padding-top: 78px;
  .footer-navigation {
    margin: 0 auto;
    max-width: 1030px;
    display: flex;
    padding-bottom: 58px;
    > * {
      flex-grow: 1;
    }
    ul {
      margin-top: 0;
    }
    ul li {
      list-style: none;
      a {
        color: #e1e1e1;
        line-height: 1.93;
        font-size: 15px;
      }
      &:first-child {
        margin-bottom: 8px;
        font-weight: bold;


        a {
          font-size: 14px;
          line-height: 1.5;
          color: $white;
        }
      }
    }

  }

  .privacy-and-social {
    margin: 0 auto;
    max-width: 1030px;
    color: #e1e1e1;
    padding-bottom: 26px;
    border-bottom: 2px solid rgba(203, 203, 203, 0.5);
    div {
      a {
        margin-left: 14px;
        margin-right: 14px;
        &:first-child {
          margin-left: 0
        }
        &:last-child {
          margin-right: 0
        }
      }
      &.pas-left {
        font-size: 15px;
      }
      &.pas-right {
        font-size: 24px;
      }
    }

  }

  .partners-footer {
    padding-top: 35px;
    color: #e1e1e1;
    text-align: center;
    font-size: 15px;
    line-height: 1.93;
    height: 29px;
    max-width: 1030px;
    margin: 0 auto;
    .partner-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      > img {
        flex: 1 1 auto;
        overflow-y: auto;
      }
    }
  }
}
