.q-headshot {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}


.teachers-section {
  padding: 100px 0 137px;
  border-bottom: 0;
  text-align: center;
  background-color: #348fdf;

  .subheader {
    font-size: 16px;
    margin-bottom: 44px;
    text-transform: uppercase;
    font-weight: 700;
    &#teacher-subheader {
      color: #014f92;
    }
  }
  .header {
    font-size: 36px;
    margin-bottom: 45px;
    font-weight: 600;
    &.black {
      color: $color_mine_shaft_approx;
    }
  }
  .description {
    font-size: 21px;
    margin-bottom: 49px;
    font-weight: 400;
    &.black {
      color: $darkgray;
    }
  }
  .purpose {
    background-color: $color_concrete_approx;
  }
  .common-core {
    background-color: $darkorange;
    color: $white;
  }

  .teacher-stories {
    background-color: #348fdf;
    color: $white;
    .tabs-teacher-stories {
      #teacher-subheader {
        color: #014f92 !important;
      }
      .teacher-list {
        display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       flex-wrap: wrap;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        -webkit-padding-start: 0;
        width: 85%;
        margin: 0 auto;
        padding-top: 13px;
        @media only screen and (max-device-width: 667px)
        and (-webkit-device-pixel-ratio: 2) {
          width: 200px;
          li {
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 2em;
          }
        }
        @media only screen and (max-width : 500px) {
          li {
            display: none;

            &.active {
              display: block;
            }

          }
        }
        li {
          margin-left: 17px;
          margin-right: 17px;
          width: 90px;
          padding-bottom: 7px;
          margin-bottom: 3em;
          img {
            margin: auto;
            border-radius: 50%;
            height: 68px;
            width: auto;
          }
          &.active, &:hover {
            border-bottom: 4px solid;
            margin-top: -11px;
            @media (max-width: 700px) {
              margin-bottom: 1em;
            }
            p {
              margin-top: -10px;
            }

            img {
              margin: auto;
              opacity: 1;
              height: 90px;
              width: auto;
            }
          }
        }

        a {
          margin: auto;
          width: 90px;
          text-decoration: none;
        }
        p {
          color: white;
          margin: auto;
          padding-top: 30px;
        }
        img {
          opacity: 0.5;
          &.kipp {
            margin-top: 10px;
          }
        }
      }
      .tab-content {
        font-size: 21px;
        color: $white;
        margin-bottom: 75px;
        min-height: 196px;
      }
      .quote-author {
        color: #014f92;
        font-size: 16px;
        margin-top: 17px;
        margin-bottom: 45px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .get-started {
    padding: 0;
    background-image: url('../../../../public/images/homepage/get-started.jpg');
    background-size: cover;
    min-height: 488px;
    a {
      display: inline-block;
      margin: 0 auto;
      margin-top: 218px;
      padding: 15px 0 10px;
    }
  }
  @media only screen and (max-width : 800px) {
    padding: 50px 0;
  }
  @media only screen and (max-width : 500px) {
    padding: 25px 15px;
    h1.header {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .subheader {
      margin-bottom: 15px;
    }
    .tab-content .container {
      font-size: 18px;
    }
    .teacher-stories .tabs-teacher-stories .quote-author {
      margin-bottom: 15px;
    }

    .teacher-stories .tabs-teacher-stories .tab-content {
      margin-bottom: 15px;
      min-height: 210px;
    }
  }
}
