// @import '../../../../app/assets/stylesheets/variables.scss';

.tool-section {
  min-height: 650px;

  .q-h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .info-section {
    width: 500px;
    margin-top: 142px;
    margin-left: 76px;
    &.right {
      margin-left: 150px;
      flex-grow: 1;
      > * {
        max-width: 465px;
      }

    }
  }
  .tool {
    color: $white;
    max-width: 1322px;
    min-height: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .blurb {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
  }
  .light-bar {
    width: 29px;
    height: 6px;
    margin-bottom: 21px;
    background: rgba($white, .25);
  }
  .summary {
    font-size: 15px;
    line-height: 1.53;
    max-width: 420px;
    font-weight: 200;
    margin-bottom: 48px;
  }
  .video-section {
    height: 100%;
    align-self: center;

  }
}

.bg-tool-orange {
  background-color: #DF8E20;
}

.bow-chrome {
  .bg-tool-orange {
    background-color: #E09D3D;
  }
}

.bow-safari {
  .bg-tool-orange {
    background-color: #EA9A1A;
  }
}

.bow-firefox {
  .bg-tool-orange {
    background-color: #DF8E20;
  }
}

.bg-tool-red {
  background-color: #ff4542;
}
