// @import '../../../../app/assets/stylesheets/variables.scss';

.tool-section {
  min-height: 650px;

  .q-h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .info-section {
    width: 500px;
    margin-top: 142px;
    margin-left: 76px;
    &.right {
      margin-left: 150px;
      flex-grow: 1;
      > * {
        max-width: 465px;
      }

    }
  }
  .tool {
    color: $white;
    max-width: 1322px;
    min-height: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .blurb {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
  }
  .light-bar {
    width: 29px;
    height: 6px;
    margin-bottom: 21px;
    background: rgba($white, .25);
  }
  .summary {
    font-size: 15px;
    line-height: 1.53;
    max-width: 420px;
    font-weight: 200;
    margin-bottom: 48px;
  }
  .video-section {
    height: 100%;
    align-self: center;

  }
}

.tool-container {
  text-align: center;
}

.tool-hero {
  min-height: 266px;
  color: white;
  padding: 20px;
  .q-h1 {
    font-size: 36px;
  }
  .description {
    margin: auto;
    max-width: 560px;
    font-size: 18px;
    line-height: 25px;
  }
}

.tool-animation-section {
  .animation-wrapper {
    max-width: 641px;
    width: 100%;
  }
  .tool-animation {
    margin: auto;
  }
}


.tool-testimonial {
  .quote {
    margin: auto;
    max-width: 762px;
    font-size: 21px;
  }
  .q-button {
    border: solid 1px #979797;
    span {
      line-height: 30px;
      font-weight: 600;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
.tool-try-it {
  h2 {
    font-size: 36px;
  }
}

.tool-sign-up {
  background-color: #f8f9f9;
  min-height: 266px;
  .q-h1 {
    font-size: 28px
  }
}
