---
http_interactions:
- request:
    method: get
    uri: https://api.clever.com/v1.1/districts/53ea7c626e727c2e0d000018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c0b73f915c29bf2541454b7f20a98ed65c0bbc88
      X-Clever-Client-User-Agent:
      - '{"bindings_version":"0.10.0","lang":"ruby","lang_version":"2.2.2 p95","platform":"x86_64-darwin14","publisher":"clever","uname":"Darwin
        Marcellos-MacBook-Air.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19
        15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Bucket:
      - bearer
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '1198'
      X-Ratelimit-Reset:
      - '1450111244'
    body:
      encoding: UTF-8
      string: '{"data":{"mdr_number":"","name":"#DEMO Quill Sandbox District","id":"53ea7c626e727c2e0d000018"},"links":[{"rel":"self","uri":"/v1.1/districts/53ea7c626e727c2e0d000018"},{"rel":"schools","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/schools"},{"rel":"teachers","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/teachers"},{"rel":"students","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/students"},{"rel":"sections","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/sections"},{"rel":"events","uri":"/v1.1/districts/53ea7c626e727c2e0d000018/events"}]}'
  recorded_at: Mon, 14 Dec 2015 16:39:45 GMT
recorded_with: VCR 2.9.3
