<% if tab_name == 'Premium Hub' %>
  <div class='premium-tab-copy'>
    <span><%= tab_name %></span>
    <img src='https://assets.quill.org/images/icons/red-diamond.svg'></img>
  </div>
<% else %>
  <div class='premium-tab-copy'>
    <span><%= tab_name %></span>
    <img src='https://assets.quill.org/images/icons/red-diamond.svg'></img>
  </div>
<% end %>
