.about-subtabs.tab-subnavigation-wrapper
  .container
    ul
      li
        =active_link_to "Activity Packs",activities_packs_path
        =active_link_to "Benchmark Assessments", activities_section_path(section_id: 27)
        =active_link_to "Elementary School", activities_section_path(section_id: 7)
        =active_link_to "Middle School", activities_section_path(section_id: 10)
        =active_link_to "High School", activities_section_path(section_id: 18)
        =active_link_to "University", activities_section_path(section_id: 17)