.about-subtabs.tab-subnavigation-wrapper
  .container
    ul
      li
        =link_to "Benchmark Assessments", activities_path(section_id: 27)
        =link_to "Elementary School", activities_path(section_id: 7)
        =link_to "Middle School", activities_path(section_id: 10)
        =link_to "High School", activities_path(section_id: 18)
        =link_to "University", activities_path(section_id: 17)