<div class="standards-tabs tools-tabs">
  <% tabs = [
    {name: 'Elementary School', url:  'activities/section/7'},
    {name: 'Middle School', url: 'activities/section/10'},
    {name: 'High School', url: 'activities/section/18'},
    {name: 'University', url: 'activities/section/17'}
    ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="container full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>

  <% tabs = [
    {name: 'Elementary', url:  'activities/section/7'},
    {name: 'Middle', url: 'activities/section/10'},
    {name: 'High', url: 'activities/section/18'},
    {name: 'University', url: 'activities/section/17'}
    ]
    @tabs = tabs
    @mobile = true
  %>

  <div class="container small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

</div>
