<nav class="q-navbar-home flex-row space-between vertically-centered">
  <div>
    <a href=<%= root_path %>>
      <%=image_tag "home-header-logo.png" %>
    </a>
  </div>
  <div class="home-nav-right flex-row space-between vertically-centered">
    <a href="/" class="text-white">Tools</a>
    <a href="/" class="text-white">Resources</a>
    <a href="/" class="text-white">Our Story</a>
    <a href="/" class="text-white">Login</a>
    <a href="/" class="q-button text-white">Sign Up</a>
  </div>
</nav>
