<nav class="q-navbar-home">
  <div>
    <a href=<%= root_path %>>
      <%=image_tag "home-header-logo.png", class: "logo-img-new" %>
    </a>
  </div>
  <div class="home-nav-right wide">
    <a href="/tools/connect" class="text-white">Tools</a>
    <a href="/activities/packs" class="text-white">Resources</a>
    <a href="/mission" class="text-white">Our Story</a>
    <a href="https://community.quill.org/donate/" target="_blank" class="text-white">Donate</a>
    <%- if current_user.nil? %>
      <a href="/session/new" class="text-white">Login</a>
      <a href="/account/new" class="sign-up-button text-white">Sign Up</a>
    <% else %>
      <%= link_to "Logout", '/session', class: "text-white"%>
    <% end %>
  </div>

  <nav class="home-nav-dropdown" role="home-custom-dropdown">
    <input class="home-nav-checkbox" type="checkbox" id="button-nav">
    <label for="button-nav" onclick=""></label>
    <ul>
      <li>
        <a href="/tools/connect" class="text-white">Tools</a>
      </li>
      <li>
        <a href="/activities/packs" class="text-white">Resources</a>
      </li>
      <li>
        <a href="/mission" class="text-white">Our Story</a>
      </li>
      <%- if current_user.nil? %>
        <li>
          <a href="/session/new" class="text-white">Login</a>
        </li>
        <li>
          <a href="/account/new" class="q-button text-white">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </nav>
</nav>
