<div class="media-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
			<li><%= link_to "News", news_path, class: subtab_class("news") %></li>
			<li><%= link_to "Press", press_path, class: subtab_class("press") %></li>
			<li><%= link_to "Press Kit", 'http://community.quill.org/educator-press-kit/', class: subtab_class("press_kit") %></li>
		</ul>
	</div>
</div>
