<div class="media-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
			<li><%= link_to "Press", press_path, class: subtab_class("press") %></li>
			<li><%= link_to "Blog Posts", blog_posts_path, class: subtab_class("blog_posts") %></li>
			<li><%= link_to "Press Kit", 'http://community.quill.org/educator-press-kit/', class: subtab_class("press_kit") %></li>
			<li><%= link_to "News", 'http://news.quill.org/', class: subtab_class("new") %></li>
		</ul>
	</div>
</div>
