<div class="subnav our-story-navbar">
  <div class="container">
  <% tabs = [
    {name: 'About Us', url: 'mission'},
    {name: 'Impact', url: 'impact'},
    {name: 'Announcements', url: 'announcements'},
    {name: 'In the Press', url: 'press'},
    {name: 'Team', url: 'team'},
    {name: 'Donate', url: 'donate'},
    {name: 'Partners', url: 'partners'},
    {name: 'Media Kit', url: 'media_kit'},
  ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>


  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

  </div>
</div>
