
<div class="tab-outer-wrap">
  <div class="container">

    <ul class="nav nav-tabs tabs-navigation-list" role="tablist">

      <li class=<%= action_name == 'mission' ?  "active" : "" %>>
        <%= link_to 'About', mission_path  %>
      </li>

      <li class="">
        <%= link_to "Impact", "" %>
      </li>

    
    </ul>

  </div> 
</div>