<div class='about-subtabs tab-subnavigation-wrapper'>
  <div class="container">
    <ul>
      <li><a href='#first-preview-section'>Pricing</a></li>
      <li><a href='#second-preview-section'>Example</a></li>
      <li><a href='#fourth-preview-section'>Questions</a></li>
    </ul>
  </div>

</div>
