.about-subtabs.tab-subnavigation-wrapper
  .container
    ul
      li #{link_to 'Pricing', '#first-preview-section'}
      li #{link_to 'Example', '#second-preview-section'}
      li #{link_to 'Question', '#fourth-preview-section'}
