<div class='about-subtabs tab-subnavigation-wrapper'>
  <div class="container">
    <ul>
      <li><%=link_to 'Pricing', 'first-preview-section'=%></li>
      <li><%=link_to 'Example', 'second-preview-section'=%></li>
      <li><%=link_to 'Question', 'third-preview-section'=%></li>
    </ul>
  </div>

</div>
