<div class="tools-tabs">
  <%
    tabs = [
      {
        name: 'Quill Lessons',
        url: 'tools/lessons'
      },
      {
        name: 'Quill Connect',
        url: 'tools/connect'
      },
      {
        name: 'Quill Diagnostic',
        url: 'tools/diagnostic'
      },
      {
        name: 'Quill Proofreader',
        url: 'tools/proofreader'
      },
      {
        name: 'Quill Grammar',
        url: 'tools/grammar'
      }
    ]
  %>
  <div class='q-nav-bar'>
    <ul class='desktop-nav-list' id='teacher-nav-tabs'>
      <% tabs.each do |tab| -%>
        <li class=<%= tab[:name] == @active_tab ? 'active' : nil %> >
          <%= link_to tab[:name], root_url + tab[:url] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
