<% @tabs = [
  {name: 'Quill Connect', url: '/connect_tool'},
  {name: 'Quill Diagnostic', url: '/diagnostic_tool'},
  {name: 'Quill Proofreader', url: '/proofreader_tool'},
  {name: 'Quill Grammar', url: '/grammar_tool'}
  ]
%>



<div class="q-nav-bar">
  <ul>
    <li><a href="/connect_tool">Tool 1</a></li>
    <li><a href="">Tool 2</a></li>
    <li><a href="">Tool 3</a></li>
  </ul>
</div>
