<div class="tools-tabs tools-anchor-nav">
  <% @tabs = [
      {
        name: 'Quill Lessons',
        url: 'tools/lessons'
      },
      {
        name: 'Quill Connect',
        url: 'tools/connect'
      },
      {
        name: 'Quill Diagnostic',
        url: 'tools/diagnostic'
      },
      {
        name: 'Quill Proofreader',
        url: 'tools/proofreader'
      },
      {
        name: 'Quill Grammar',
        url: 'tools/grammar'
      }
    ]
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>

  <%
    @active_tab = @active_tab.split.last
    @mobile = true
  %>

  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

</div>
