.chapter-story-feedback {
  line-height: 1.3;
  @include bold;

  .story-feedback-title {
    font-size: 37px;
    text-align: center;
    margin: 20px 0;
  }

  .story-feedback-section {
    margin-top: 20px;
    width: 465px;
    margin: auto;
    &.missed     .story-feedback-section-title { background-color: $missed-color; }
    &.missed     .result-highligted-word       { background-color: $missed-color-light; }
    &.found      .story-feedback-section-title { background-color: $found-color; }
    &.found      .result-highligted-word       { background-color: $found-color-light; }
    &.introduced .story-feedback-section-title { background-color: $introduced-color; }
    &.introduced .result-highligted-word       { background-color: $introduced-color-light; }
  }

  .story-feedback-section-title {
    @include border-radius(3px);
    color: white;
    padding: 15px 20px;
    font-size: 20px;
  }

  .story-feedback-result {
    border-top: 1px solid #eee;
    &:first-child { border-top-width: 0 }
    * { float: left }
    overflow: hidden;
    padding: 10px 0;
    font-size: 17px;
  }

  .result-highligted-word {
    @include border-radius(3px);
    padding: 10px;
    max-width: 80px;
    overflow: hidden;
  }

  .result-classification {
    font-style: italic;
    padding: 10px;
    width: 360px - 20px;
    float: right;
  }

  .next-btn {
    padding-left: 0;
    padding-right: 0;
    width: 360px;
    display: block;
    margin: 20px auto 0 auto;
    &:active { margin-top: 23px }
  }
}
