.l-extra-padding {
  margin: 40px;
}

body.story-pages {
  header {
    display: none;
    &.story-header { display: block ; background-color: $darkgrey }
  }
}

.chapter-test-header {
  line-height: 2;
  color: white;
  .container { position: relative }

  .header-step-list {
    background: image-url('navbar/bullet.png') -3px 16px repeat-x;
    margin: 10px 220px;
    position: relative;
    overflow: hidden;
  }

  .chapter-test-step {
    &.story {
      position: absolute;
      text-align: center;
      width: 100%;
      * { display: inline-block }
    }

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }

  .chapter-test-step-icon {
    background-color: $darkgrey;
    background-position-x: center;
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 52px;
  }

  @each $step in practice story review {
    .#{$step} {
      &.current     { .chapter-test-step-icon { color: #3fc1ff; background-image: image-url('navbar/#{$step}_active.png') } }
      &.not-current { .chapter-test-step-icon { color: #464951; background-image: image-url('navbar/#{$step}.png') } }
    }
  }
}

.l-chapter-test-tab {
  background-color: white;
  padding: 20px;

  .rule-practice-title {
    font-size: 45px;
    line-height: 1.1;
  }
}
