.progress-reports-2018 {
  max-width: 950px;
  margin: auto;
  .header-and-info {
    max-width: 603px;
    h1 {
      font-size: 24px;
      color: #3b3b3b;
      font-weight: 800;
      padding-bottom: 13px;
    }
  }
}

.activities-scores-by-classroom {
  .csv-and-how-we-grade a {
    display: block;
  }
  .btn {
    margin-bottom: 11px;
  }
  .activity-scores-overview {
    padding-bottom: 13px;
  }

}
