.progress-reports-landing-page-container {
  margin: auto;
  max-width: 1025px;
  a {
    text-decoration: none;
  }
  .generic-mini {
    margin: 20px;
  }
  .premium {
    margin-top: 5px;
    color: #eda41b;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    /* want shorter images if we have the premium row of type*/
    & + div {
      height: 120px;
    }
  }
  h3 + div {
    padding-top: 10px;
  }
  .image-wrapper {
    margin: 50 0 40 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 208px;
    #responses {
      margin-left: -75px;
    }
  }


}
