.progress-reports-2018 {
  max-width: 950px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 180px;
  .header-and-info {
    max-width: 603px;
    h1 {
      font-size: 24px;
      color: #3b3b3b;
      font-weight: 800;
      padding-bottom: 13px;
    }
  }

  .how-we-grade {
     color: #027360;
     display: block;
     float: none;
     margin-top: 10px;
     text-align: right;
     text-decoration: none;
  }

  .dropdown-container {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.activities-scores-by-classroom {
  .csv-and-how-we-grade a {
    display: block;
  }
  .btn {
    margin-bottom: 11px;
  }
  .meta-overview {
    padding-bottom: 13px;
  }
}

.non-premium-blur {
  -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
 -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}
