<div class="container">
  <article class="simple-rounded-box">
    <h1>Recommendations</h1>
    <hr>
    <h2>Independent Practice</h2>
    <% if @recommendations.independent_practice.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Activity Pack</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "recommendation",
            collection: @recommendations.independent_practice
          %>
        </tbody>
      </table>
    <% else %>
      <p>None Yet</p>
    <% end %>
    <br>
    <h2>Group Lessons</h2>
    <% if @recommendations.group_lesson.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Activity Pack</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "recommendation",
            collection: @recommendations.group_lesson
          %>
        </tbody>
      </table>
    <% else %>
      <p>None Yet</p>
    <% end %>
    <br>
    <%= link_to 'New Recommendation', new_cms_activity_classification_activity_recommendation_path(@activity_classification, @activity) %>
  </article>
</div>
