<%= render partial: 'teachers/shared/scorebook_tabs' %>

<div class="tab-content">
  <div class="tab-pane active" id="class-manager">
    <%= react_component('CreateClassApp', props: {hasActivities: @has_activities, user: @user})%>
  </div>
</div>
