.drop-down-filters-and-search, .activity-filter-drop-downs {
    display: flex;
    justify-content: space-between;
    .clear-filter-btn {
      margin-top: 10px;
      height: 40px;
      margin-left: 15px;
    }
    margin-bottom: 20px;
}

.drop-down-filters-and-search {
  flex-wrap: wrap;
  #search_activities_input {
    margin-top: 0px;
  }
  #search_activities_button {
    margin-right: 15px;
  }
}

.activity-filter-drop-downs {
  flex-wrap: nowrap;
  max-width: 500px;
  .no-pl {
    margin-right: 15px;
  }
  .button-select {
    width: 163px;
    margin-right: 15px;
  }
  .activity-filter-button-wrapper.open {
    position: relative;
    ul {
      position: absolute;
    }
  }

}
