

.drop-down-filters-and-search, .activity-filter-drop-downs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .clear-filter-btn {
      margin-top: 10px;
      height: 40px;
      margin-left: 15px;
    }
}

.drop-down-filters-and-search {
  margin-left: 15px;
  margin-bottom: 10px;

  #search_activities_input {
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 280px;
  }
  #search_activities_button {
    margin-right: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 70px;
    height: 40px;
    padding: 0;
    background-color: #00c2a2;
    .fa-search {
      font-size: 18spx;
    }
  }
}

.activity-filter-drop-downs {
  button {
    overflow: hidden;
  }
  .button-select {
    height: 40px;
    width: 220px;
    margin-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:focus {
      outline: none;
    }
  }
  .activity-filter-button-wrapper.open {
    position: relative;
    ul {
      position: absolute;
    }
  }
  .clear-button {
    padding: 0px;
    background-color: rgba(0,0,0,0);
    margin-right: 0px;
    width: 75px;
    border: none;
    @media (max-width: 768px) {
      margin-top: 20px;
    }
    &:focus {
      outline: none;
    }
  }
  .act-search-filter-fav {
    position: relative;
    right: 36px;
  }
  img {
    padding-left: 8px;
  }
}
