.activity-follow-up-container {
  background-color: #005341;
  min-height: calc(100vh - 60px);
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px 16px;
  text-align: center;
  color: white;
  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 4px;
    color: #e1f3f1;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 32px;
  }
  .activity-survey-content {
    padding-bottom: 80px;
  }
  .quill-checkbox.unselected {
    border: solid 2px white !important;
  }
  .emoji-buttons {
    margin-bottom: 32px;
    .emoji-button {
      padding: 16px 23px;
      border-radius: 8px;
      margin: 0px 8px;
      background-color: #06806b;
      border: solid 2px #06806b;
      &:hover, &:focus, &.selected {
        border: solid 2px #e1f3f1;
        outline: none;
      }
    }
  }
  .multiple-choice-option {
    max-width: 580px;
    width: 100%;
    min-height: 48px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: #026f5d;
    border: 2px solid #005341;
    display: flex;
    text-align: left;
    color: white;
    margin-bottom: 16px;
    .quill-checkbox {
      margin: 13px 0px;
      &.selected {
        border: none;
      }
    }
    .text-container {
      padding: 11px 16px 12px;
      margin-left: 16px;
      border-left: 1px solid #005341;
      height: 100%;
      display: flex;
      font-size: 16px;
      font-weight: 600;
    }
    &:focus, &:hover, &.selected {
      border: solid 2px #e1f3f1;
      background-color: #06806b;
      outline: none;
    }
  }
  .button-section {
    display: flex;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #d8d8d8;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #005341;
    a {
      font-weight: 600;
      color: #fff;
      margin-right: 24px;
    }
  }
  @media (max-width: 660px) {
    min-height: calc(100vh - 48px);
    h1 {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 24px;
    }
    .emoji-buttons {
      margin-bottom: 8px;
      .emoji-button {
        margin-bottom: 16px;
      }
    }
    .button-section {
      justify-content: flex-start;
    }
  }
}
