.bottom-navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  border-top: 1px solid #d8d8d8;
  width: 100%;
  max-width: 676px;
  padding: 16px 24px;
  align-items: center;
  background-color: white;
  &.read-and-highlight-tracker {
    justify-content: space-between;
  }
  &.read-instructions {
    justify-content: flex-end;
  }
  .read-and-highlight-steps {
    display: flex;
  }
  .incomplete-indicator {
    border: solid 4px #c4c4c4;
    border-radius: 13px;
  }
  .check-icon, .incomplete-indicator {
    width: 24px;
    height: 24px;
  }
  .read-and-highlight-step {
    display: flex;
    margin-left: 24px;
    align-items: center;
    span {
      font-size: 14px;
      line-height: 1.43;
      margin-left: 8px;
      color: #5c5c5c;
    }
  }
  @media (max-width: 1099px) {
    max-width: 100%;
    &.read-and-highlight-tracker {
      justify-content: flex-start;
    }
    .read-and-highlight-steps {
      flex-direction: column;
    }
    .read-and-highlight-step {
      margin-left: 16px;
    }
    .read-and-highlight-step:first-of-type {
      margin-bottom: 6px;
    }
    .incomplete-indicator {
      border-width: 3px;
    }
    .incomplete-indicator, .check-icon {
      width: 16px;
      height: 16px;
    }
  }
}
