.editor-container {
  position: relative;
  .editor {
    min-height: 129px;
    border-radius: 4px;
    margin-right: 8px;
    padding: 16px 16px 46px;
    background-color: #f1f3f4;
    font-size: 20px; /* TODO change back to 18px temp change for demo */
    border-bottom: 2px solid #009a80;
    cursor: text;
    &:focus {
      outline: none;
    }
    &.suboptimal {
      border-bottom: 2px solid #ff9f00;
    }
    &.disabled {
      border-bottom: none;
      border-radius: 0px;
      min-height: 60px;
      padding: 16px;
      &.suboptimal {
        border-left: 2px solid #ff9f00;
      }
      &.optimal {
        border-bottom: 2px solid #55a200;
      }
    }
    &.approaching-limit {
      border-bottom: 2px solid #ff9f00;
    }
    &.over-limit {
      border-bottom: 2px solid #ff3348;
    }
  }
  .clear-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #555555;
    height: 20px;
    img {
      margin-right: 6px;
    }
    &.disabled {
      color: #878787;
    }
  }

  @media (max-width: 1099px) {
    margin-left: 0px;
  }

}
