.explanation-slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #005341;
  min-height: calc(100vh - 60px);
  .subtext {
    font-size: 20px;
    font-weight: 600;
    color: #e1f3f1
  }
  #information-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #header-container {
      display: flex;
      align-items: center;
      h1 {
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
      }
      #beta-tag {
        width: 66px;
        border-radius: 13.5px;
        background-color: #06806b;
        color: #b4e2db;
        font-size: 16px;
        font-weight: 600;
        margin-left: 16px;
      }
    }
    #image {
      max-width: 580px;
      height: 312px;
    }
    .subtext {
      max-width: 496px;
    }
    #instructions-container {
      display: flex;
      margin-top: 72px;
      .instruction-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #026f5d;
        border-radius: 8px;
        margin: 0px 24px 0px 24px;
        .step-number {
          width: 48px;
          height: 48px;
          padding: 11px 18px;
          border-radius: 24px;
          margin-top: -24px;
          background-color: #08907b;
          font-size: 20px;
          color: #ffffff;
        }
        .step-text {
          font-size: 24px;
          max-width: 280px;
          margin-top: 12px;
          padding: 0px 16px;
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 24px;
        }
      }
    }
  }
  #button-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    width: 100%;
    padding: 16px;
    background-color: #005341;
    position: fixed;
    bottom: 0;
    button {
      margin-left: 96px;
    }

    #step-indictator-container {
      display: flex;
      align-items: center;
      visibility: visible;
      .step-indicator {
        width: 16px;
        height: 16px;
        border: solid 2px #2bac9a;
        border-radius: 8px;
        margin-left: 8px;
        &.active {
          background-color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }
  #button-container {
    justify-content: space-between;
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 1099px) {
  .explanation-slide-container {
    width: 100%;
    #information-section {
      margin-bottom: 36px;
      #header-container {
        flex-direction: column;
        #header {
          font-size: 24px;
        }
      }
      #image {
        max-width: 320px;
        height: auto;
      }
      .subtext {
        max-width: 288px;
      }
      #instructions-container {
        flex-direction: column;
        background-color: #005341;
        .instruction-container {
          .step-text {
            padding: 0px;
          }
        }
        .instruction-container:not(:first-child) {
          margin-top: 56px;
        }
        .instruction-container:nth-child(3) {
          margin-bottom: 80px;
        }
      }
    }
  }
  #welcome-slide-container {
    height: auto;
    #information-section {
      margin-top: 32px;
    }
  }
}

@media (max-height: 670px) {
  .explanation-slide-container {
    height: min-content;
    padding-top: 16px;
    #information-section {
      #instructions-container {
        margin-top: 40px;
        padding-bottom: 16px;
      }
    }
  }
}
