.post-activity-slide-container {
  background-color: #005341;
  min-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;

  #information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    .slide-sub-text {
      font-size: 20px;
      font-weight: 600;
      color: #e1f3f1;
      max-width: 496px;
      text-align: center;
    }

    #revision-text {
      font-size: 40px;
      font-weight: bold;
      color: #ffffff;;
    }

    #celebration-vector {
      margin-top: 32px;
    }

    #reminder-badge-section {
      display: flex;
      align-items: flex-start;
      width: 440px;
      background-color: #e1f3f1;
      margin-bottom: 26px;
      border-radius: 8px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
      transform: rotate(-2deg);
      #reminder-text-section {
        padding: 16px 0px;
        #reminder-header {
          color: #000000;
          font-weight: bold;
        }
        #reminder-subtext {
          color: #262626;
        }
      }
      #grade-badge {
        padding-left: 4px;
      }
    }
  }

  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    width: 100%;
    flex: 0 0 auto;
    height: 80px;
  }
}

@media (max-width: 1099px) {
  .post-activity-slide-container {
    height: calc(100% - 48px);
    overflow-x: hidden;
    width: 100%;

    #information-section {

      .slide-sub-text {
        text-align: center;
        padding: 0px 16px;
        font-size: 20px;
      }

      #revision-text {
        text-align: center;
        font-size: 24px;
      }

      #celebration-vector {
        max-width: 320px;
      }

      #reminder-badge-section {
        width: 280px;
        padding: 0px 16px;
        margin: 0px 38px 0px 38px;

        #grade-badge {
          display: none;
        }
      }

      #first-sub-text {
        margin-top: 32px;
      }
      #second-sub-text {
        margin-top: 22px;
        padding-bottom: 88px;
      }
    }
    #button-container {
      justify-content: flex-start;
      position: fixed;
      bottom: 0;
      background-color: #025341;
      button {
        margin-left: 16px;
      }
    }
  }
}

@media (max-height: 670px) {
  .post-activity-slide-container {
    height: min-content;
    padding-top: 16px;
  }
}
