.read-and-highlight-container, .step-links-and-directions-container {
  padding-top: 48px;
  overflow: auto;
  height: 100%;
  padding-bottom: 20px;
  .unhighlight-instructions {
    font-size: 14px;
    font-weight: 600;
    color: #5c5c5c;
    margin-top: 22px;
  }
  &.hide-on-desktop {
    overflow: visible;
    position: relative;
  }
  h3, h4, h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #5c5c5c;
  }
  h3 {
    margin-bottom: 12px;
  }
  h4 {
    text-align: center
  }
  h5 {
    margin-bottom: 16px;
  }
  .reflection-section {
    margin-bottom: 40px;

    @keyframes highlight {
      0%  {
        background-color: white;
      }
      25% {
        background-color: #fff3e0;
      }
      75% {
        background-color: #fff3e0;
      }
      100% {
        background-color: white;
      }
    }
    h3 {
      padding-left: 24px;
    }
    p {
      padding: 8px 24px;
      animation-name: highlight;
      animation-duration: 4s;
      font-size: 20px;
      line-height: 1.3;
    }
  }
  .directions-section, .highlight-section {
    padding: 0px 24px;
  }
  section.read-the-directions-modal {
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 #00000033, 0 3px 3px -2px #0000001e, 0 3px 4px 0 #00000023;
    background-color: #ffffff;
    position: absolute;
    width: 320px;
    left: -310px;
    z-index: 1;
    p {
      margin-bottom: 16px;
    }
  }
  .directions-section {
    margin-bottom: 48px;
    p {
      font-size: 20px;
      line-height: 1.3;
    }
  }
  .highlight-instructions {
    padding: 20px 77px 32px;
    border-radius: 6px;
    background-color: #f1f3f4;
  }
  .highlight-instruction {
    margin-top: 32px;
    position: relative;
    img {
      position: absolute;
    }
    &.one img {
      left: 210px;
      top: 62px;
    }
    &.two img {
      left: 199px;
      top: 44px;
    }
  }
  .highlight-instruction-number {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: inline-flex;
    background-color: #9e9e9e;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 16px;
  }
  .student-highlight {
    background-color: #b4e2db;
    padding: 2px 0px;
    &.hover {
      background-color: #e1f3f1;
    }
  }
  .display-student-highlight {
    padding: 16px;
    border-radius: 6px;
    background-color: #f1f3f4;
    display: flex;
    margin-bottom: 16px;
    align-items: flex-start;
    justify-content: space-between;
    .interactive-wrapper {
      margin-left: 12px;
      justify-content: center;
      display: flex;
      align-items: center;
      img {
        min-width: 24px;
        min-height: 24px;
      }
    }
  }
  @media (max-width: 1099px) {
    &.read-and-highlight-container {
      padding-top: 32px;
    }
    &.step-links-and-directions-container {
      padding-top: 0px;
    }
    section.read-the-directions-modal {
      transform: translate(-50%, 0%);
      bottom: -176px;
      left: 50%;
    }
    .reflection-section {
      margin-bottom: 0px;
      padding-top: 32px;
      h3, p {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
    .highlight-section, .directions-section {
      padding: 0px 16px;
    }
    .directions-section {
      margin-bottom: 0px;
      padding-top: 32px;
    }
  }
}
