.step-overview-container {
  background-color: #005341;
  .bottom-navigation {
    background-color: #005341;
  }
  .step-overview {
    padding: 48px 24px;
    overflow: auto;
    height: 100%;
    h1 {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.2;
      color: #ffffff;
      margin-bottom: 36px;
      &:focus-visible {
        outline: none;
      }
    }
    .step-overview-step-container {
      .step-overview-step {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        background-color: #06806b;
        color: #fff;
        width: 100%;
        margin: 12px 0px;
        text-align: left;
        span {
          font-size: 16px;
          font-weight: bold;
          color: #e1f3f1;
        }
        p {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          color: #ffffff;
        }
        img {
          max-height: 24px;
          margin-right: 8px;
        }
        .left-side-container {
          display: flex;
          align-items: center;
          width: 100%;
        }
        .now-tag {
          color: #000000;
          background-color: #e1f3f1;
          padding: 2px 8px;
          border-radius: 12px;
          font-weight: 600;
          font-size: 14px;
        }
        &.active {
          border: solid 2px #e1f3f1;
          padding-left: 10px;
          justify-content: space-between;
        }
        &.completed p {
          text-decoration: line-through;
        }
      }
    }
  }

  @media (max-width: 1099px) {
    min-height: 100vh;
    .step-overview h1 {
      font-size: 24px;
    }
    img {
      display: none;
    }
  }
}
