@mixin reusable-btn-social($base-color) {
  background-color: $base-color;
  &:hover {
    background-color: darken($base-color, 10%);
    color: white;
  }
}

.button-dark-grey.button-grey {
  background-color: rgb(100,100,100);
  color: $white;
}

// just for using with react-bootstrap toggle
.toggle-button {
  font-weight: inherit;
  background-color: inherit;
  span {
    font-weight: normal;
  }
}

.btn-social {
  border: none;
  border-radius: 0;
  margin: auto 5px auto 0;
  color: white;
  float: right;
}

.btn-facebook {
  @include reusable-btn-social(#3b5998)
}

.btn-twitter {
  @include reusable-btn-social(#4099FF)
}

.btn-linkedin {
  @include reusable-btn-social(#c41b1e)
}

.btn-google-plus {
  @include reusable-btn-social(#f03527)
}

.btn-pinterest {
  @include reusable-btn-social(#bd081c)
}

.see-all-activity-packs.show-all {
  margin-top: 2em;
}
