#class-manager {
  .edit-students {
    h1 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    padding-top: 35px;
    .react-container {
      height: 35px;
      }
    .green-text {
      cursor: pointer;
      color: #027360;
    }
    #submit-button {
      display: none;
      margin-right: 72px;
    }
    #classroom-grade {
      background-color: white;
    }
    #edit-classroom-row {
      display: none;
    }
    .name-and-editing-info {
      padding-top: 20px;
      border-top: 1px solid #c0c0c0;
      width: 100%;
      margin-top: 30px;
    }
    h2 {
      font-size: 24px;
      span {
        color: #c0c0c0;
      }
    }
    section {
      padding-top: 0px;
      width: 980px;
    }
    .edit_classroom {
      margin-bottom: 0px;
    }
    .container {
      padding-top: 10px;
    }
    .dropdown-toggle {
      font-weight: normal;
      border: 1px solid #cecece;
      width: max-content;
      text-align: left;
      color: black;
      padding-left: 10px;
    }
    .dropdown-menu {
      a {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .name-and-download {
      align-items: center;
      button {
        border: 1px solid black;
        height: 40px;
      }
    }
    .spinner {
      height: 50px;
    }
    .spinner-container {
      text-align: left;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  .edit-students{
    width: 95%;
    padding-bottom: 5%;
    #static-name-and-grade{
      margin-bottom: 2%;
    }
    .name-and-download{
      button{
        background-color: white;
      }
      margin-bottom: 2%;
    }
  }
}
