.empty-state-for-report {
  padding-top: 70px;
  text-align: center;
  margin: auto;
  max-width: 400px;;
  h2 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 800;
  }
  p {
    font-size: 14px;
    color: #666666;
  }
  img {
    margin-bottom: 20px;
  }
}
