.flash {
  font-size: 1.35em;
  padding: 0.75em;
  text-align: center;
  align-items: center;
  color: $white;
  display: flex;
  a {
    color: #027360;
  }
}

@media (max-width: 768px) {
  .flash {
    text-align: left;
  }
}

.flash p {
  flex-grow: 1;
}

.flash i {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: color 0.3s ease;
}

.flash i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.flash.notice, .flash.info {
  background-color: $quillblue;
}

.flash.success {
  background-color: $quillforestgreen;
}

.flash.error, .flash.warning {
  background-color: $darkorange;
}

.flash.join-class-notification {
  background-color: $quillforestgreen;
  -webkit-animation: seconds 2.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 10s;
  -moz-animation: seconds 2.0s forwards;
  animation: seconds 2.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 10s;
  position: relative;

}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
