footer {
  padding: 87px 0;
  .footer-contacts {
    width: 622px;
    font-size: 21px;
    li {
      margin-right: 31px;
      margin-left: 0;
      &:last-child {
        //margin-left: 0;
     
      }
    }
  }
  background-color: #fff;
  padding: 80px 0;
  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
  }
  .wrapper {
    margin: 0 auto;
  }
  .footer-contacts, .footer-contact a {
    color: #333333 !important;
    font-size: 18px;
    width: 633px;
    margin: 0 auto;
  }
  .footer-contacts li {
    float: left;
    margin-right: 20px;
    margin-left: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  .footer-social {
    width: 340px;
    margin: 0 auto;
    li {
      width: 20%;
      float: left;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      i {
        color: #aaaaaa;
        font-size: 32px;
      }
      .fa-twitter:hover {
        color: #55acee;
      }
      .fa-facebook:hover {
        color: #3b5998;
      }
      .fa-youtube-play:hover {
        color: #b31217;
      }
      .fa-instagram:hover {
        color: #3f729b;
      }
      .fa-github-alt:hover {
        color: #333;
      }
    }
  }
  .footer-line {
    width: calc(100% - 60px);
    max-width: 622px;
    margin: 30px auto;
    display: block;
  }
  .footer-new-logo-wrapper {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 93px;
    height: 33px;
    background-position: 0 -97px;
    background-image: image-url("footer-logos.png");
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
    &:hover {
      background-position: 0 1px;
    }
  }
}
