/* ==========================================================================
   Icons
   ========================================================================== */

.icons-wrapper {
  padding-top: 30px;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  float: left;
}

.icon-row {
  margin-bottom: 15px;
  .icon-wrapper {
    margin-right: 17px;
    float: none;
    display: inline-block;
  }
  &:first-child {
    margin-top: 26px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.icon-green {
  background: #58b146;
}

.icon-orange {
  background: #f8a724;
}

.icon-red {
  background: #e8522c;
}

.icon-gray {
  background: #b7b7b7;
}

.icon-blue {
  background-color: #348fdf;
}

.icon-progress {
  background-color: #ffffff;
  border: solid 1px #348fdf;
}

.icon-unstarted {
  background-color: #f6f3f3;
  border: solid 1px #969696;
}

.icon-pencil {
  background-image: url("https://assets.quill.org/images/scorebook/icon-pencil.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-puzzle {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle.png");
  background-repeat: no-repeat;
  background-position: 11px 7px;
}

.icon-puzzle-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}
.icon-lessons-gray {
  background-image: url("https://assets.quill.org/images/icons/lessons-dark-gray-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-diagnostic-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-connect-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-puzzle-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-puzzle-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-diagnostic-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-connect-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-lessons-green {
  background-image: url("https://assets.quill.org/images/scorebook/icon-lessons-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-lessons {
  background-image: url("https://assets.quill.org/images/scorebook/icon-lessons.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag {
  background-image: url("http://assets.quill.org/images/scorebook/icon-flag.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic.png");
  background-repeat: no-repeat;
  background-position: 9px;
}
.icon-connect {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-flag {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-flag-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-flag-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icons-description-wrapper {
  float: left;
  position: relative;
  margin-left: 10px;
}

.icon-link {
   margin: 8px;
   cursor: pointer;
   &:first-of-type {
     margin-left: 0px;
   }
}

.icon-puzzle-embossed {
  background-image: url("http://assets.quill.org/images/scorebook/grammar-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-lessons-embossed {
  background-image: url("http://assets.quill.org/images/scorebook/lessons-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/proofreader-embossed.png");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/diagnostic-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-connect-embossed {
  background-image: url("https://assets.quill.org/images/scorebook/connect-embossed.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-puzzle-lightgray {
  background-image: url("http://assets.quill.org/images/scorebook/icon-grammar-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-lessons-lightgray {
  background-image: url("http://assets.quill.org/images/scorebook/icon-lessons-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
}

.icon-flag-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-proofreader-lightgray.svg");
  background-repeat: no-repeat;
  background-position: 9px;
}

.icon-diagnostic-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-diagnostic-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-connect-lightgray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-connect-lightgray.svg");
  background-repeat: no-repeat;
  background-position: center;
}
