.google-classroom-modal {
    text-align: center;
    .modal-content {
      max-width: 522px;
      margin: auto;
      height: auto;
    }
    .modal-body {
      padding: 40px 51px;
      position: relative;
      max-width: 520px;
      .react-bootstrap-close {
        position: absolute;
        right: 12px;
        top: 12px;
        height: 39px;
      }
    }
   .q-h2 {
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 9px;
     &:after {
       content: ' ';
       display: block;
       width: 87px;
       margin: 9px auto 20px;
       border-top: solid 1px #ebebeb;
     }
   }
   p {
     font-size: 18px;
     margin-bottom: 22px;
   }
   form {
     min-height: 30px;
     input[type=text] {
       max-width: 264px;
       width: 100%;
       float: left;
     }
     input[type=submit] {
       margin-left: 10px;
       font-weight: 600;
       max-width: 144px;
       width: 100%;
       float: right;
     }
     @media (max-width: 525px) {
       input[type=text] {
         float: none;
         margin-bottom: 20px;
       }
       input[type=submit] {
         margin-left: 0;
         float: none;
       }
     }
   }
   a.q-button.cta-button {
       border: none;
       font-size: 16px;
       height: 40px;
       max-width: 280px;
       width: 100%;
       padding: 10px 10px 8px;
       &:hover {
         color: white;
         text-decoration: none;
       }
      @media (max-width: 525px) {
        margin-top: 20px
      }
     }
     .error {
       font-size: 12px;
       height: 37px;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #ff4542;
       i {
         padding-right: 3.5px;
       }
     }
   }
