/* ==========================================================================
   Navbar styles
   ========================================================================== */


.navbar-brand {
  cursor: pointer !important;
}

#application_nav_bar {
  max-height: 77px;
}

.home-nav-right {
  font-weight: 600;
  font-size: 16px;
  .sign-up-button {
    height: 30px;
    padding: 0px 13px;
    align-items: center;
    display: flex;
    border-radius: 6px;
    border: white 1px solid;
  }
}

nav.q-navbar-home {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position:relative;

  .logo-img-new {
    margin-top: 20px;
    height: 35px;
  }

  .home-nav-right {
    max-width: 475px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.narrow {
      display: none;
    }

    .sign-up-btn {
      border: 1px solid $white;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 4px;
      padding: 4px 9px 2px;
      background-color: $white;
      color: $quillgreen;
    }
  }

  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input.home-nav-checkbox[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav.home-nav-dropdown[role="home-custom-dropdown"] {
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.2em sans-serif;
      transition: color .3s ease-in-out;
    }

    ul {
      padding: 0;
      // margin: 0 auto;
      width: 100%;
      list-style:none;
      position: absolute;
      top: 30px;
      left: 0;
      background-color: $quillgreen;
      z-index: 2;

      > li {
        float:left;
        padding: .55em 15px;
        // margin: 0 auto;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
          box-shadow:
            0 .05em .25em 0 rgba(0, 0, 0, .35),
            inset 0 0 0 2em rgba(0, 0, 0, .3)
          ;

        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media only screen and (max-width: 865px) {
    a.q-button {
      // &.cta-button, &.icon-button {
        padding-left: 0px;
        padding-right: 0px;
      // }
    }
  }
  @media screen and (min-width: 551px) {
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    height: 60px;

    .home-nav-right.wide {
      display: none;
    }

    .logo-img-new {
      margin-top: 7px;
      height: 35px;
    }

    .desktop-nav-list {
      display: none;
    }
    nav.home-nav-dropdown[role="home-custom-dropdown"] {
      ul {
        display:none;
        // height:100%;
        padding-bottom: 5px;
        -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
      }

      label {
        position:relative;
        display:block;
        width:100%;
        min-height:2.25em;
        padding:.45em;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 10%;
        top: -19px;
        content: "\2261";
        color: $white;
        font-size: 4em;
        @media only screen and (max-width : 419px) {
          font-size: 3em;
          top: -8px;
        }
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ label:after {
        color: $white;
      }

      input.home-nav-checkbox[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width: calc(100% - 30px);
          text-align:left;

          &:after {
            position:absolute;
            color: $white;
            right:.25em;
            content:"\203A";
            font: bold 1.4em sans-serif;
          }
        }
      }
    }
  }
  @media only screen and (max-width : 1165px) {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

}

.q-nav-bar {
  margin: auto;
  max-width: 965px;
  padding-left: 7px;
  @media (max-width: 990px) {
    padding-left: 0px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    &.desktop-nav-list {
      margin-bottom: 1px;
    }
  }

  li {
    padding: 0px;
    white-space: nowrap;
    &.active {
      a {
        margin-top: -3px;
        font-weight: 600;
      }
      &:after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
      }
      position: relative;
    }
  }
  a {
    font-size: 15px;
    line-height: 45px;
    color: #1e1e1e;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
  }



  /* Advanced Checkbox Hack */
  // body { -webkit-animation: bugfix infinite 1s; }
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

  input[type=checkbox] {
    position: absolute;
    box-sizing:border-box;
    top: -9999px;
    left: -9999px;
  }

  label {
    display:none;
    cursor: pointer;
    user-select:none;
  }


  /* custom-dropdown */
  nav[role="custom-dropdown"] {
    position:relative;
    width: 100%;

    a,
    label {
      text-decoration:none;
      font: 1.4em sans-serif;
      transition:color .3s ease-in-out;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      width:100%;
      list-style:none;
      position: absolute;

      > li {
        float:left;
        padding:.55em .55em;
        width:19%;
        text-align:center;
        cursor: pointer;

        &:hover {
          color: #3b3b3b;
          box-shadow:
            0 .05em .25em 0 rgba(0, 0, 0, .35),
            inset 0 0 0 2em rgba(0, 0, 0, .3)
          ;

        }
        &:active {
          border-top: none;
        }
      }
    }
  }




  /* small screens */

  @media screen and (min-width: 501px) {
    nav[role="custom-dropdown"] {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .desktop-nav-list {
      display: none;
    }
    nav[role="custom-dropdown"] {
      ul {
        display:none;
        height:100%;
      }

      label {
        position:relative;
        display:block;
        width: calc(100% - 30px);
        min-height:2.25em;
        padding:15px;
        font-size:1.1em;
        margin:0;
      }

      label:after {
        position: absolute;
        right: 25px;
        top: -19px;
        content: "\2261";
        color: $white;
        font-size: 4em;
      }

      input[type=checkbox]:checked ~ label:after {
        color:#222;
      }

      input[type=checkbox]:checked ~ ul {
        display:block;

        > li {
          width: calc(100% - 19px);
          text-align:left;

          &:after {
            position:absolute;
            right:.25em;
            content:"\203A";
            font: bold 1.4em sans-serif;
          }
        }
      }
    }
  }


}

.navbar-tooltip-trigger {
  cursor: pointer;
  position: relative;
  padding: 20px 0px;
  span {
    color: #fff;
  }
  .navbar-tooltip {
    display: none;
    position: absolute;
    width: 248px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 #dadada;
    flex-direction: column;
    top: 52px;
    left: -66px;
    padding: 10px 0px;
    i {
      color: white;
      position: absolute;
      top: -11px;
      right: 120px;
    }
    .tooltip-link {
      padding: 13px 25px;
      display: flex;
      align-items: flex-start;
      img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 #e4e4e4;
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: #027360;
        margin-top: 0px;
        margin-bottom: 6px;
      }
      p {
        font-size: 12px;
        color: #949494;
        margin-bottom: 0px;
        font-weight: 400px;
      }
      &:hover {
        text-decoration: none;
        h3, p {
          color: #00c2a2;
        }
      }
    }
  }
  &:hover, &:focus {
    outline: none;
    span {
      color: #3adfbb;
    }
    .navbar-tooltip {
      display: flex;
    }
  }
  &:focus {
    outline: none;
    .navbar-tooltip {
      display: flex;
    }
  }
}
