/* ==========================================================================
   Navbar styles
   ========================================================================== */

.image-brand img {
  padding-top: 5px;
}

.navbar-brand {
  cursor: pointer !important;
}

#application_nav_bar {
  max-height: 77px;
}

.navbar-default .navbar-nav {
  > li > a {
    color: #000;
    font-size: 16px;
    line-height: 45px;
    padding: 10px 20px;
    font-weight: 500;
    border-top: none;
    .fa {
      color: $color_tapa_approx;
      margin-left: 5px;
    }
    &:hover, &:focus {
      border-top: none;
    }
  }
  position: relative;
  left: 30px;
}
