.notification-box {
  width: 100%;
  background-color: #fcf2e1;
  border: solid 1px rgba(245, 186, 90, 0.41);
  min-height: 53px;
  padding: 10px 10px;
  padding-left: 22px;
  margin-bottom: 51px;
  i {
    font-size: 24px;
    color: #ea9a1a;
    padding-right: 15px;
    position: relative;
    top: 2px;
  }
  p {
    text-align: center;
    font-size: 16px;
    span {
      font-weight: 600;
    }
  }
}

.premium-notification-box-container .notification-box {
  justify-content: center;
}
