/* ==========================================================================
   Tabs
   ========================================================================== */
#teacher-nav-tabs {
    li {
        a {
            border-top: 3px solid transparent;
            padding: 11px 34px;
            font-size: 15px;
            height: 46px;
            &.mobile {
                display: none;
            }
        }
        &.active a {
            border-top: 3px solid #027360;
        }
    }
}
.nav-tabs {
    border-bottom: none;
}
.tab-subnavigation-wrapper {
    padding: 8px 0;
    background: #fff;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        li {
            float: left;
            padding: 5px 5.5px;
            a {
                padding: 5px 20px;
                border-radius: 5px;
                font-size: 13px;
                color: #000;
                height: 35px;
                &.active {
                    background: #e6e6e6;
                }
            }
        }
    }
}
.student-reports-subnav.tab-subnavigation-wrapper {
    margin-top: -1px;
    $orange: #eda41b;
    a:not(.default) {
        border: 1px solid $orange;
        color: #875a12;
        &.active {
            background: $orange;
            color: white;
            i {
                color: white;
            }
        }
        i {
            color: $orange;
        }
    }
}
.student-subnavigation {
    a {
        font-size: 14px;
        color: #999;
        &:hover {
            text-decoration: none;
        }
    }
    span {
        line-height: 24px;
    }
    img {
        margin-right: 9px;
    }
}
@media (max-width: 800px) {
    #teacher-nav-tabs li a:not(.mobile) {
        display: none;
    }
    #teacher-nav-tabs li a.mobile {
        display: block;
        padding: 11px 8px;
    }
    .tab-subnavigation-wrapper ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        li {
            padding: 5px 0;
            a {
                padding: 5px 8px;
            }
        }
    }
}
