// TODO: These styles were extracted from custom.css.css, 
// which is a compiled version of Vlad's LESS stylesheets.
// It is unclear whether the LMS is using jQuery-UI datepicker,
// but if not, then these styles should be removed.

.ui-datepicker {
  width: 185px;
  border-radius: 5px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  table {
    background: #fff;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    a.ui-state-default, span.ui-state-default {
      background-color: transparent !important;
      background-image: none !important;
      border: none !important;
      font-weight: normal !important;
      font-size: 13px !important;
    }
    a.ui-state-default {
      color: black !important;
    }
    span.ui-state-default {
      color: #737373;
    }
  }
  .ui-datepicker-header {
    background: #737373;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none !important;
  }
  .ui-datepicker-prev {
    background-image: image-url("scorebook/datepicker-arrow-left.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 11px;
    cursor: pointer;
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
  }
  .ui-datepicker-next {
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
    background-image: image-url("scorebook/datepicker-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 11px;
    cursor: pointer;
  }
}

.ui-state-disabled {
  color: #737373;
}