.admin-usage-snapshot-report-pdf {
  font-family: adelle-sans, Arial, sans-serif;
  padding: 0px 64px;
  zoom: 60%;

  .quill-logo {
    height: 50px;
    margin-bottom: 56px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    h1 {
      font-size: 24px;
      margin-bottom: 32px;
    }
  }

  /* Applied Filters Styles */
  .applied-filters {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #E8AB88;
    background-color: #FFF6F1;

    h3 {
      color: #FFF;
      font-size: 9px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #C04500;
      width: min-content;
      white-space: nowrap;
      padding: 4px 5px 3px;
      border-radius: 5px;
      margin: 0px;
    }

    p {
      color: #5C5C5C;
      font-size: 14px;
      margin: 8px 0px 24px;
    }
  }

  /* Filter Section Styles */
  .filter-sections {
    display: flex;
    gap: 16px;

    .pill {
      display: block;
      border-radius: 16px;
      background: #06806b;
      padding: 6px 10px;
      color: white;
      margin-bottom: 8px;
      width: fit-content;
      font-size: 12px;
      line-height: 16px;
    }

    .filter-section {
      flex: 1;
      border-radius: 8px;
      border: 1px solid #E8AB88;
      background: #F6E5DC;
      padding: 8px 16px;

      .filter-section-title {
        margin-top: 0px;
        color: #000;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 8px;
      }
    }
  }

  /* Snapshot Section Styles */
  .snapshot-section-wrapper {
    margin-top: 32px;
    padding: 0px;
    page-break-inside: avoid;

    &:first-of-type {
      margin-top: 36px;
    }

    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: #373737;
      margin-bottom: 16px;
      display: flex;
      align-items: center;

      img {
        height: 24px;
        margin-right: 8px;
      }
    }

    .snapshot-section {
      border-radius: 8px;
      padding: 24px;
      border: 1px solid #e0e0e0;

      .snapshot-item {
        background-color: #f8f8f8;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        min-height: min-content;
        position: relative;
        page-break-inside: avoid;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          margin: 0px;
        }

        .count-and-label {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .count {
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
          }

          .snapshot-label {
            font-weight: 600;
            color: #373737;
          }
        }

        .change {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #373737;
          display: flex;
          align-items: center;
          height: min-content;

          img {
            margin-right: 4px;

            &.small {
              height: 26px;
            }

            &.medium {
              height: 31px;
            }
          }
        }

        &.small {
          padding: 16px;
          height: 133px;

          .snapshot-label {
            font-size: 14px;
            line-height: 18px;
          }
        }

        &.medium {
          padding: 32px;
          height: 137px;

          .snapshot-label {
            font-size: 16px;
            line-height: 21px;
          }
        }

        &.positive,
        &.negative,
        &.no-change {
          color: #373737;
        }

        &.positive {
          background-color: #f1faf6;
          border: 1px solid #b4e6d1;

          .change {
            color: #129e6c;
          }
        }

        &.negative .change {
          color: #c38d33;
        }
      }
    }
  }

  /* Snapshot Feedback Styles */
  .snapshot-section .snapshot-feedback {
    display: flex;
    padding: 16px;
    flex-direction: column;
    grid-column: inherit;
    justify-content: flex-start;
    color: inherit;
    text-decoration: none;

    .header {
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #373737;
    }

    img {
      height: 20px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  /* Snapshot Ranking Styles */
  .snapshot-section .snapshot-ranking {
    padding: 32px;
    display: flex;
    flex-direction: column;

    .header {
      margin-bottom: 26px;
    }

    .table {
      width: 100%;
      margin-bottom: 0px;

      .header-row {
        border-top: 1px solid #aeaeae;
        display: flex;
        justify-content: space-between;
        padding: 12px 0px;

        th {
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          color: #373737;
        }
      }

      .data-row {
        padding: 12px 0px;
        display: flex;
        justify-content: space-between;
        color: #373737;
        font-size: 14px;
        border-top: 1px solid #e0e0e0;

        td {
          border-top: none;
          padding: 0px;
        }

        td:first-of-type {
          font-weight: 400;
          line-height: 16px;
          margin-right: 20px;
        }

        td:last-of-type {
          font-weight: 700;
          line-height: 17px;
        }
      }
    }

    &.has-data {
      cursor: pointer;
    }
  }

  /* Responsive Grid Styles for Various Sections */
  .snapshot-section.highlights .counts,
  .snapshot-section.users .counts,
  .snapshot-section.classrooms .counts {
    display: grid;
    gap: 16px;
  }

  /* Specific Grid Template Styles */
  .highlights .counts {
    grid-template-columns: repeat(2, 1fr);
  }

  .users .snapshot-section-content,
  .classrooms .snapshot-section-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .users .counts,
  .classrooms .counts {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .practice .snapshot-section-content {
    display: flex;
    flex-direction: column;

    .first-row,
    .second-row,
    .third-and-fourth-row {
      margin-bottom: 16px;
      gap: 16px;
    }

    .first-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .second-row,
    .fifth-row {
      display: grid;
      grid-template-columns: none;
      gap: 16px;
    }

    .third-and-fourth-row {
      display: grid;
      grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    }
  }

  .snapshot-section.users .snapshot-section-content,
  .snapshot-section.classrooms .snapshot-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
