@import url(//fonts.googleapis.com/css?family=Open+Sans:700,400,300,600);

input:disabled {
  background-color: transparent;
}

.page {
  min-height: 100vh;
}

.flash-notice {
  color: red;
}

.ul-reset-mixin {
  padding: 0;
  margin: 0;
  list-style: none;
}

.border-mixin {
  border: 1px solid #cecece;
}

.section-mixin {
  padding: 30px 0px;
  border-bottom: 1px solid #cecece;
}

.input-mixin {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 12px;
}

.select-mixin {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
}

.icon-wrapper-mixin {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.checkbox-mixin {
  height: 21px;
  width: 21px;
  border-radius: 5px;
  background: #e6e6e6;
  border: 1px solid #cecece;
}

.button-mixin {
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
}

.fa-caret-mixin {
  color: #737373;
  font-size: 1.3em;
}

.transition-mixin {
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

@media screen and (max-width: 1200px) {
  .how-we-grade {
    text-align: left;
  }
}

@media screen and (max-width: 565px) {
  .select-gray {
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .app-legend, .score-legend {
    .icon {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .icons-description-wrapper {
        margin-left: 0px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .activity-page-dropdown-wrapper {
    .button-select {
      margin-top: 10px;
    }
    .dropdown-menu {
      min-width: 98% !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  #activity-planner .how-we-grade {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .bs-wizard {
    right: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .start-activity-wrapper .button-green {
    float: left;
    margin-top: 20px;
  }
}

/* ==========================================================================
   Font embedding
   ========================================================================== */
/* ==========================================================================
   Tags
   ========================================================================== */

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

section {
  padding: 30px 0;
  border-bottom: 1px solid #cecece;
}

button {
  outline: none;
  border: none;
}

.link-green {
  color: #027360;
}

.button-select {
  text-align: left;
  transition: color, border-color 0.3s ease;
  width: 100%;

  &.actively-selected .button-select-wrapper {
    color: #00c2a2;
    border-color: #00c2a2;
    .fas {
      color: #00c2a2;
    }
  }
}

.button-gray {
  background-color: #737373;
  color: #fff;
  &:hover {
    background-color: #616161;
  }
}
.button-light-gray {
  background-color: #c0c0c0;
  color: #fff;
  &:hover {
    background-color: #c0c0c0;
  }
}

.btn-orange {
  height: 40px;
  background-color: #eda41b;
  color: white;
}

.button-green, .btn-orange {
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  border: 0;
  font-weight: bold;
  &:active {
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.7);
  }
}

.button-green {
  background-color: #00c2a2;
  color: #fff;
  &:hover {
    background-color: #44b49a;
    color: #fff;
  }
  &#assign {
    float: right;
  }
}

.title {
  font-size: 14px;
}

.title-v-centered {
  line-height: 40px;
}

.title-not-started, .title-single-line {
  line-height: 40px;
  position: static;
}

.explanation {
  font-size: 13px;
}

.how-we-grade {
  float: right;
  .fas {
    margin-left: 10px;
  }
}

/* ==========================================================================
   Student Page Styles
   ========================================================================== */

.start-activity-wrapper form {
  float: right;
}

.grade-select {
  width: 140px;
  background-color: #ebebeb;
}

.student-panel-body {
  columns: 4 200px;

  .student {
    display: inline-block;
    padding: 4px 0;
    width: 200px;
  }
}


.railsFormatDate {
  display: none;
}


input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  + label.css-label {
    padding-left: 28px;
    height: 23px;
    display: inline-block;
    line-height: 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 23px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    left: 4px;
    margin: 0;
  }
  &:checked + label.css-label {
    background-position: 0 -23px;
  }
}

label.css-label {
  background-image: image-url("scorebook/checkbox-sprite.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.anchor-block {
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  &:active {
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.7);
  }
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.button-orange:hover {
  background-color: #f88e1b;
}

.button-red {
  background-color: #fc3e3b;
  color: #fff;
  &:hover {
    background-color: #fc2f2c;
  }
}

.button-marine {
  background-color: #00c2a2;
  color: #fff;
  &:hover {
    background-color: #009e84;
  }
}

.button-yellow {
  background-color: #ea9a1a;
  color: #fff;
  &:hover {
    background-color: #e09215;
  }
}

.button-blue {
  background-color: #348fdf;
  color: #fff;
  &:hover {
    background-color: #217dcf;
  }
}
.quill-table {
  border: solid 1px #cecece;
  background-color: white;
  font-size: 14px;
  thead {
    background-color: #e6e6e6;
  }
  td {
    width: 30%;
  }
  tr td:last-of-type {
    text-align: right;
    color: #027360;
    cursor: pointer;
    padding-right: 13px;
  }
}



.spinner-container {
  margin: 75px auto;
  .nc-icon {

  }
}

/* ==========================================================================
   React Select Custom Styles
   ========================================================================== */

// Overwrite our default input styling when it's
// used within the React Select component.
.Select-input > input, .Select-input > input:focus {
  border: none;
  line-height: 22px;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.Select--multi .Select-value {
  background-color: rgba(91, 193, 169, 0.08);
  border: 1px solid rgba(91, 193, 169, 0.24);
  color: #288E76;
}

.Select--multi .Select-value-icon {
  color: #42A890;
  border-right: 1px solid rgba(91, 193, 169, 0.24);
}

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: rgba(91, 193, 169, 0.24);
  color: #288E76;
}

.Select-option.is-focused {
  background-color: rgba(91, 193, 169, 0.08);
}

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #5bc1a9;
  box-shadow: none;
}

.Select-control {
  height: 40px;

  .Select-placeholder {
    line-height: 38px;
  }

  .Select-value {
    line-height: 22px !important;

    .Select-value-label {
      line-height: 22px;
    }
  }

  .Select-input {
    height: 38px;
  }

  & > *:last-child {
    position: relative;
    top: 2px;
  }
}

/* ==========================================================================
   Sortable List Styles
   ========================================================================== */

.sortable-list .list-item {
  cursor: grab;
}

.sortable-list .list-item:active {
  cursor: grabbing;
}

#link-url {
  outline: none;
  background-color: white;
  span {
    background-color: white;
    color: rgb(153, 153, 153);
  }
}
.all-errors-message {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: normal;
  color: #ff0000;
  display: flex;
  text-align: left;
}
