@media print {
  a[href]:after {
    content: none !important;
  }
  .bg-quillgreen,
  .tab-subnavigation-wrapper,
  .premium-banner-container,
  #premium-banner,
  .navigate-back,
  footer,
  .csv-and-how-we-grade,
  .caret,
  .green-arrow,
  .csv-link,
  .dropdown-content,
  .home-nav-right,
  .navbar-tooltip-trigger,
  .navbar,
  .footer-white,
  #premium-banner-container,
  .breadcrumb,
  .banner,
  nav {
    display: none !important;
  }
  .activity-image:first-child {
    border: none !important;
    background-image: none !important;
    .icon-unstarted {
      border: none;
    }
  }
  table, .ReactTable{
      page-break-inside: avoid;
  }
  .progress-reports-2018 {
    padding-top: 0px;
    padding-bottom: 0px;
    .meta-overview, .dropdown-container {
      display: none;
    }

    > .studentName {
      display: block;
      padding: 1rem;
    }
    .rt-tr {
      display: flex;
    }
    .-sort-desc, .-sort-asc {
      div::after {
        content: none;
      }
    }
    &:not(.concept-student-concepts) {
      .rt-th:last-of-type, .rt-td:last-of-type {
        display: none;
      }
    }
  }

}
