.email-body {
  margin: 0px;
  width: 1030px;
  color: black;
}

.header-container {
  height: 95px;
  background-color: #06806b;
  width: 1030px;
}

.header {
  background-image: url("https://quill-cdn.s3.amazonaws.com/images/background_images/confetti.png");
  text-align: center;
  background-position: 45% 15%;
  height: 130px;
  width: 1030px;
}

.header img {
  margin-top: 20px;
  width: 149px;
  height: 52px;
}

.content-section {
  color: black;
  width: 600px;
  margin: 0 auto;
  font-family: "adelle-sans", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #CFCFCF;
}

.what-happened {
  margin-top: -10px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

ul {
  margin-top: -10px;
}

li {
  font-size: 16px;
}

h4 {
  font-weight: 700;
  font-size: 21px;
}

p {
  font-size: 16px;
}

.view-results a {
  color: #06806B;
  font-weight: 700;
  font-size: 14px;
}

.footer {
  margin-top: 60px;
  text-align: center;
  padding-bottom: 150px;
  border-bottom: none;
}

.footer p {
  margin: 7px;
}

hr {
  background: #CFCFCF;
  width: 600px;
}
