   body {
      margin: 0px;
      background-color: rgb(241,242,242);
      font-family:arial,helvetica neue,helvetica,sans-serif;
      line-height:1.6em;
      font-size: 14px;
      box-sizing: border-box;
      display:inline-block;
    }

    .header {
      background-color: #00c2a2;
      padding-top: 50px;
      padding-bottom: 35px;
    }

    .main-width {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .section {
      margin-bottom: 40px;
      display: inline-block;
      float: left;
      clear:both;
    }

    .title, .content, .btn {
      margin-bottom: 20px;
      float: left;
      clear:both;
    }

    .title {
      color: #333333;
      font-size: 18px;
      font-weight: bold;
    }

    .content {
      font-size: 14px;
    }

    .content-section {
      float: left;
      clear:both;
    }

    .content-section, .activities {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .activities a {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    a {
      text-decoration: none;
    }

    .btn {
      background-color: #00c2a2;
      padding: 10px;
      text-align: center;
      color: white;
      border-radius: 5px;
      -webkit-font-smoothing: antialiased;
    }

    .content a {
      color: #027360;
    }

    .activities {
      float:left;
      clear:both;
    }

    .activities a {
      float: left;
      clear: both;
    }
