$sitewidepagewidth: 1200px;

// standardized to Figma Color Palette (https://www.figma.com/file/5TNa9Tn6TNVCmNjzbDTaMI/Quill---Product---Web?type=design&node-id=6417-242132&mode=dev) as of 10/25/23
$quill-black: #000;
$quill-grey-90: #373737;
$quill-grey-80: #404040;
$quill-grey-70: #4D4D4D;
$quill-grey-60: #545454;
$quill-grey-50: #5C5C5C;
$quill-grey-40: #666;
$quill-grey-35: #757575;
$quill-grey-30: #878787;
$quill-grey-25: #989898;
$quill-grey-20: #AEAEAE;
$quill-grey-15: #CFCFCF;
$quill-grey-10: #D9D9D9;
$quill-grey-5: #E0E0E0;
$quill-grey-3: #EBEBEB;
$quill-grey-2: #F1F1F1;
$quill-grey-1: #F8F8F8;
$quill-white: #FFF;

$quill-black-transparent-90: rgba(0, 0, 0, 0.9);
$quill-black-transparent-80: rgba(0, 0, 0, 0.8);
$quill-black-transparent-70: rgba(0, 0, 0, 0.7);
$quill-black-transparent-60: rgba(0, 0, 0, 0.6);
$quill-black-transparent-50: rgba(0, 0, 0, 0.5);
$quill-black-transparent-40: rgba(0, 0, 0, 0.4);
$quill-black-transparent-30: rgba(0, 0, 0, 0.3);
$quill-black-transparent-20: rgba(0, 0, 0, 0.2);
$quill-black-transparent-10: rgba(0, 0, 0, 0.1);
$quill-white-transparent-90: rgba(255, 255, 255, 0.9);
$quill-white-transparent-80: rgba(255, 255, 255, 0.8);
$quill-white-transparent-70: rgba(255, 255, 255, 0.7);
$quill-white-transparent-60: rgba(255, 255, 255, 0.6);
$quill-white-transparent-50: rgba(255, 255, 255, 0.5);
$quill-white-transparent-40: rgba(255, 255, 255, 0.4);
$quill-white-transparent-30: rgba(255, 255, 255, 0.3);
$quill-white-transparent-20: rgba(255, 255, 255, 0.2);
$quill-white-transparent-10: rgba(255, 255, 255, 0.1);
$quill-green-transparent-90: rgba(6, 128, 107, 0.9);
$quill-green-transparent-80: rgba(6, 128, 107, 0.8);
$quill-green-transparent-70: rgba(6, 128, 107, 0.7);
$quill-green-transparent-60: rgba(6, 128, 107, 0.6);
$quill-green-transparent-50: rgba(6, 128, 107, 0.5);
$quill-green-transparent-40: rgba(6, 128, 107, 0.4);
$quill-green-transparent-30: rgba(6, 128, 107, 0.3);
$quill-green-transparent-20: rgba(6, 128, 107, 0.2);
$quill-green-transparent-10: rgba(6, 128, 107, 0.1);

$quill-green: #06806B;
$quill-green-50: #099A81;
$quill-green-20: #ACD6CF;
$quill-green-10: #D6EFEC;
$quill-green-5: #E3F0EE;
$quill-green-1: #F0F8F7;

$quill-green-warm: #499C70;
$quill-green-warm-50: #78BF9C;
$quill-green-warm-20: #BEE5D2;
$quill-green-warm-10: #E0FAEB;
$quill-green-warm-5: #E8F9EF;
$quill-green-warm-1: #F3FAF6;

$quill-green-vibrant: #2A5900;
$quill-green-vibrant-50: #79C933;
$quill-green-vibrant-20: #B0E185;
$quill-green-vibrant-10: #EBF8E0;
$quill-green-vibrant-5: #FAFFF5;
$quill-green-vibrant-1: #FAFFF6;

$quill-viridian: #235E62;
$quill-viridian-50: #8CCBCE;
$quill-viridian-20: #A7DADD;
$quill-viridian-10: #CAEEF0;
$quill-viridian-5: #DAF5F6;
$quill-viridian-1: #F4FDFE;

$quill-teal: #2C7F9B;
$quill-teal-50: #8DCFE2;
$quill-teal-20: #AADAE9;
$quill-teal-10: #C6E5EE;
$quill-teal-5: #DEF0F5;
$quill-teal-1: #EFF7FA;

$quill-blue: #4D8DD9;
$quill-blue-50: #B4D5FF;
$quill-blue-20: #CAE2FF;
$quill-blue-10: #DAE7F6;
$quill-blue-5: #E7F2FF;
$quill-blue-1: #F0F7FF;

$quill-purple: #9035D6;
$quill-purple-50: #CD91FB;
$quill-purple-20: #DDB4FD;
$quill-purple-10: #F2E0FF;
$quill-purple-5: #F5E9FE;
$quill-purple-1: #FBF5FF;

$quill-violet: #AD277B;
$quill-violet-50: #DA66AE;
$quill-violet-20: #F0B3DC;
$quill-violet-10: #F8DDEF;
$quill-violet-5: #FCEAF6;
$quill-violet-1: #FFF3FB;

$quill-red: #EB4F47;
$quill-red-50: #FB8079;
$quill-red-20: #F9B3AF;
$quill-red-10: #F9D2D0;
$quill-red-5: #FEEDEC;
$quill-red-1: #FFF6F5;

$quill-maroon: #C04500;
$quill-maroon-50: #CD703B;
$quill-maroon-20: #E8AB88;
$quill-maroon-10: #F1CFBC;
$quill-maroon-5: #F6E5DC;
$quill-maroon-1: #FFF6F1;

$quill-gold: #DF9E3D;
$quill-gold-50: #ECB55A;
$quill-gold-20: #FFD999;
$quill-gold-10: #FCE3BD;
$quill-gold-5: #FFEFD6;
$quill-gold-1: #FFF9EF;

$quill-gold-dark: #9F6405;
$quill-gold-dark-50: #C38D33;
$quill-gold-dark-20: #E3BB7A;
$quill-gold-dark-10: #E4D0B0;
$quill-gold-dark-5: #F6E9D5;
$quill-gold-dark-1: #FBF2E5;

// older

$quillnavbar: #e6e6e6;
$quillgreen: #00c2a2;
$quillgreendark: #086252;
$quillforestgreen: #027360;
$quillblue: #348fdf;
$quillred: #ff4542;
$quillgoldlight: #FFE8C5;

$white: $quill-white;
$black: $quill-black;
$orange: #f8a724;

$red: #e8522c;
$darkred: #ff3d3d;

$purple: #9c2bde;
$lessonspurple: #a51070;

$darkorange: #EA9A1A;

$green: #58b146;
$darkgreen: #027360;

$gray: #b7b7b7;
$verylightgray: rgb(230,230,230);
$lightgray: #cecece;
$lightgray2: #f4f2f2;
$darkgray: #3b3b3b;
$anothergray: #707070;

// Table colors
$row-hover-green-white: #f9fffe;

// Generated from css -> scss conversion

$color_tapa_approx: #737373;
$white_20: rgba(255, 255, 255, 0.2);
$color_coral_red_approx: #fc3e3b;
$color_concrete_approx: #f1f2f2;
$color_tradewind_approx: #5cc2aa;
$black_70: rgba(0, 0, 0, 0.7);
$color_mine_shaft_approx: #333333;
$color_rusty_nail_approx: #875a12;
$color_thunderbird_approx: #c51916;

$family-sans-serif: "adelle-sans", "Arial", sans-serif;
$family-monospace: "Roboto-mono", "Monaco", "Inconsolata", monospace;

.wf-loading {
  visibility: hidden;
}
