Feedback key
<div style="display: flex; align-items: center;">
  <div>
    <table>
      <tr>
        <td class='green feedback-key-font'>O</td>
        <td>5</td>
        <td class='feedback-key-font' style='border: none;'>
          Optimal Match;
          <br>
          G-eval=5
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td class='light-red'>O</td>
        <td>3</td>
        <td class='feedback-key-font' style='border: none;'>
          Quill sub-optimal, LLM optimal;
          <br>
          G-eval=3
        </td>
      </tr>
    </table>
  </div>
</div>
<div style="display: flex; align-items: center;">
  <div>
    <table>
      <tr>
        <td class='green'>S</td>
        <td>4</td>
        <td class='feedback-key-font' style='border: none;'>
          Sub-Optimal Match
          <br>
          G-eval=4
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td class='red'>S</td>
        <td>2</td>
        <td class='feedback-key-font' style='border: none;'>
          Quill optimal, LLM sub-optimal;
          <br>
          G-eval=2
        </td>
      </tr>
    </table>
  </div>
</div>