table.activity-table.search-and-select {
  thead {
    tr th {
      &:nth-child(1) {
        padding-left: 20px;
        width: 34%;
      }
      &:nth-child(2) {
        padding-left: 15px;
        width: 10%;
      }
      &:nth-child(3) {
        width: 49%;
      }
      &:nth-child(4) {
        width: 7%;
      }
    }
  }
  th {
    font-size: 14px;
    font-weight: 600;
    color: #3b3b3b;
  }
  tbody tr {
    background-color: white;
    &.selected, &.hover {
      background-color: $row-hover-green-white;
    }
    td {
      &:nth-child(1) {
        text-align: left;
        color: #3b3b3b;
        padding-left: 20px;
      }
      &:nth-child(2) {
        text-align: left;
        padding-right: 4%;
      }
      &:nth-child(3) {
        text-align: left;
      }
      &:nth-child(4) {
        text-align: center;
      }
    }
  }
}
