table.activity-table.search-and-select {
  thead {
    tr th {
      &:nth-child(1) {
        text-align: center;
      }
    }
  }

  tbody tr td {
    &:nth-child(1) {
      text-align: center;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: left;
    }
    &:nth-child(4) {
      text-align: right;
    }
    &:nth-child(5) {
      text-align: left;
    }
  }
}