<html lang='en'>
  <title>Evidence GenAI Experiments</title>
  <%= stylesheet_link_tag 'evidence/research/gen_ai/application', media: 'all' %>
  <%= csrf_meta_tags %>

  <body>
    <%= yield %>
  </body>
</html>
