@import 'variables';
@import 'textbox';
@import "components/admin-regex-rules";
@import "components/student-nav";
@import "components/student-container";
@import "components/student-question";
@import "components/animations";
@import "components/landing-page-html";
@import "components/_language-choices";
@import "components/_question_health";
@import '~react-select/dist/react-select.css';
@import '~font-awesome/css/font-awesome.css';
@import '../../../../../app/assets/stylesheets/shared/teacher-preview-menu.scss';

html {
  overscroll-behavior: none;
}

body {
  color: #3D3D3D;
  font-family: adelle-sans, "Arial", sans-serif;
  -moz-font-feature-settings: "ss04", "tnum";
  -webkit-font-feature-settings: "ss04", "tnum";
  font-feature-settings: "ss04", "tnum";
  font-variant-numeric: tabular-nums;
}

#main-content {
  outline: none;
}

.button-group {
  .button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }

}

#pie-chart {
  svg {
    width: 200px;
  }
}

#activities-section {
  .menu-list a {
    padding: 0;
  }
  .column {
    padding-bottom: 4px;
  }
}



.has-bottom-margin {
  margin-bottom: 20px;
}

.has-top-margin {
  margin-top: 20px;
}

ul.is-unstyled {
  margin: 1em 0;
  li {
    list-style-type: none;
  }
}

.is-success.is-algo-optimal {
  background-color: #BA68C8;
}

.algorithm-optimal-response {
  background-color: #F6ECF8;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7;
}

.not-found-response {
  background-color: #FFF0F2;
}

.human-sub-optimal-response {
  background-color: #FFF9E8;
}
.human-optimal-response {
  background-color: #F5FAEF;
}

.unexpanded {
  padding: 10px 15px 0px;
}

.expanded {
  padding: 20px 15px 10px;
}

.panel-checkbox.toggle {
  padding: 5px;
}

.intro-next-button {
  display: block;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  margin-bottom: 1em;
}

.intro-slides {
  display: block;
  margin: 0 auto;
  height: 569px;
  max-height: 80vh;
  width: 960px;
  max-width: 100%;
}

.register-list {
  display: 'inline-block';
  margin: 0 auto;

  li {
    margin-bottom: 1em;
    font-size: 22px;
  }
}

.register-container, .register {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.is-question {
  min-height: initial;
}

.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sentence-fragment-buttons-leave {
  opacity: 1;
}

.sentence-fragment-buttons-leave.sentence-fragment-buttons-leave-active {
  opacity: 0.01;
  transition: opacity 3.0s ease-in;
}

.text-editor-appear {
  opacity: 0.01;
}

.text-editor-appear.text-editor-appear-active {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

textarea.submission {
  font-size: 18px;
}

.sentence-fragments {
  padding-top: 28px;
  p {
    font-family: $family-sans-serif;
    color: #2f2f2f;
    font-size: 30px;
    line-height: 1.27;
    margin-bottom: 0em;
  }
  font-size: 24px;
}

.dropdown-input.dropdown-menu > li > a {
  &:hover,
  &:focus {
    color: #333; //$dropdown-link-color;
    background-color: #fff; //$dropdown-bg;
  }
}
.dropdown-input.dropdown-menu > .active > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff; // $dropdown-link-hover-color;  // #fff
    background-color: #337ab7; // $dropdown-link-hover-bg;  // #337ab7
  }
}

.sortable-list-item {
  border: 1px dashed gray;
  padding: .5em;
  margin: .5em;
}


.menu-list a.no-feedback  {
  color: red;
}

.boilerplate-feedback-dropdown-container {
  display: inline-block;

  .boilerplate-feedback-dropdown {
    max-width: 35em;
    width: auto;

    .boilerplate-feedback-dropdown-option {
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


.response-pagination-container {
  max-height: 50px;
  height: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 3px;

  .pagination {
    display: flex;

    .pagination-extreme-button {
      margin: 10px;
      min-width: 50px;
    }
    .numbers-list {
      display: flex;
      overflow: auto;
    }
  }
}


.response-pagination {
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  overflow: scroll;
}

.response-component-page-number-active {
  background-color: #42afe3;
}



.section {
  &.student {
    background-color: $background;
    padding-top: 0;
  }
  &.is-fullheight{
    min-height: 100vh;
    &.minus-nav {
      min-height: calc(100vh - 64px);
    }
    &.minus-nav-and-footer {
      min-height: calc(100vh - 64px - 81px);
      flex: 1 1 auto;
      @media (max-width: 895px) {
        min-height: calc(100vh - 64px - 56px);
      }
    }
    .hero-body {
      align-items: center;
      display: flex;
      & > .container {
        flex-grow: 1;
      }

    }

  }
  .is-on-mobile {
    padding-top: 24px;
  }

}

.student-container-diagnostic {
  position: relative;
}

.student-container-inner-diagnostic {
  width: 100%;
}

.admin-container {
  max-width: 1080px;
  width: 100%;
  padding: 15;
  height: calc(100vh - 30px);
  overflow-y: scroll;
    .select {
      display: block !important;
    }
}

.wf-loading {
  visibility: hidden;
}

.search-container {
  display: flex;
}

.search {
  margin-left: 20px;
}

.concepts-container {
  width: 100%;
  margin-bottom: 20px;
}

.questions-search-container {
  display: flex;
  flex-direction: column;
}

.rematch-questions-button {

}

.admin-menu {
  min-width: 220;
  border-right: '1px solid #e3e3e3';
  padding: 30px 15px 15px 0px;
}

.concept-feedback-button-container {
  margin-top: 20px;
}

.concept-feedback-edit {
  margin-right: 20px;
}
.control.checkbox-wrapper {
  display: inline-block;
}

.checkbox-label {
  display: inline-block;
  margin: 8px;
}

.main-admin-container {
  display: flex;
  background-color: white;
}

.main-admin-section {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;
}

.ant-layout {
  height: min-content;
  min-height: 100%;
  background-color: #ededed;
  font-family: adelle-sans, "Arial", sans-serif;
  -moz-font-feature-settings: "ss04";
  -webkit-font-feature-settings: "ss04";
  font-feature-settings: "ss04";
}

.header {
  background-color: #06806b;
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 64px;
  div {
    a {
      color: white;;
    }
    button {
      display: flex;
      align-items: center;
      background-color: #06806b;
      color: white;
      border: none;
      img {
        margin-right: 4px;
        height: 32px;
        max-height: 32px;
      }
    }
  }
}

.sider-container {
  background-color: white;
  width: 360px;
}

@media (max-width: 850px) {
  .header {
    padding: 0px 16px;
  }
}

.select-search__option {
  height: min-content;
  padding: 8px 16px 8px 16px;
}
