.adminTeacher-enter {
  opacity: 0.01;
  color: $quillgreen;
}

.adminTeacher-enter.adminTeacher-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  color: $quillgreen;
}

.adminTeacher-leave {
  opacity: 1;
}

.adminTeacher-leave.adminTeacher-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}