.sessions-index-container, .session-view-container {
  width: 80vw;
  .session-view-container {
    margin-top: 30px
  }
  .sessions-header {
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    h1 {
      font-weight: 300;
    }
  }
  .link-info-blurb {
    margin-top: 8px;
  }
  .error-container {
    justify-content: flex-start;
    padding-top: 0;
    margin-bottom: 8px;
    min-height: 24px;
    .error-message {
      font-size: 12px;
      font-weight: 600;
      color: #ff0000;
      margin: 0;
    }
  }
  .top-section {
    display: flex;
    align-items: center;
    margin: 24px 0px 8px 0px;
    .total-container {
      display: flex;
      align-items: center;
      margin-right: 24px;
      .total-label {
        margin-right: 30px;
        margin-bottom: 0px;
      }
      .total-value {
        border: 1px solid lightgray;
        padding: 3px 7px;
        margin-bottom: 0px;
      }
    }
    .dropdown-container {
      margin-right: 24px;
      min-height: auto;
      .dropdown {
        margin-bottom: 0px;
        .dropdown__control {
          display: flex;
        }
      }
    }
    .session-filters-dropdown {
      width: 300px;
    }
  }
  .activity-sessions-table {
    overflow-y: auto;
    overflow-x: hidden;
    .data-table-body {
      .data-table-row {
        span:nth-of-type(4), span:nth-of-type(5), span:nth-of-type(6), span:nth-of-type(7) {
          text-align: left !important;
        }
      }
    }
  }
  .session-overview-table {
    margin: 30px 0px 30px 0px;
    border: 1px solid lightgray;
    max-width: 700px;
    .data-table-headers {
      display: none;
    }
    .data-table-body {
      .data-table-row {
        span:nth-of-type(1) {
          font-weight: 600;
        }
      }
    }
  }
  .prompt-table-container {
    margin-top: 30px;
    .attempts-section, .completed-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 250px;
      border: 1px solid lightgray;
      padding: 10px 0px 10px 18px;
      margin-bottom: 20px;
      p {
        margin-bottom: 0px;
      }
      .attempts-label, .completed-label {
        font-weight: 600;
      }
      .attempts-value, .completed-value {
        margin-right: 20px;
      }
    }
    .attempts-feedback-table {
      margin-bottom: 20px;
      border: 1px solid lightgray;
      .data-table-body {
        .data-table-row {
          &.optimal {
            background-color:  #a7efa7
          }
          &.sub-optimal {
            background-color:  #ffbcbc;
          }
        }
        .data-table-row {
          height: auto;
          padding: 10px 16px;
          span {
            div {
              .entry {
                margin-bottom: 0px;
                white-space: break-spaces !important;
              }
            }
          }
        }
      }
    }
  }
}
