.activity-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  .comprehension-page-header-container, .button-container {
    width: 100%;
  }
  .activity-general-settings-table {
    border: 1px solid lightgray;
    border-radius: 6px;
    text-align: left;
    margin-top: 80px;
    .data-table-headers {
      display: none;
    }
    .flag-dropdown {
      align-items: flex-start;
      .dropdown__single-value, .dropdown__option {
        font-size: 14px;
        color: #5b5b5b;
      }
    }
    .flag-dropdown:hover {
      cursor: pointer;
    }
  }
  .button-container {
    display: flex;
    padding: 20px 10px 20px 0px;
    justify-content: flex-start;
    padding: 0px;
    a, button {
      margin: 0px 8px 0px 8px;
    }
    div {
      display: flex;
      .quill-button {
        margin-right: 10px;
      }
    }
  }
  .modal {
    display: flex;
    .modal-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 100;
      .modal-content {
        overflow: auto;
      }
    }
    .modal-close {
      display: none;
    }
  }
  .edit-flag-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    .close-button-container {
      display: flex;
      justify-content: flex-end;
      #flag-close-button {
        margin: 10px 10px 0px 0px;
        height: auto;
        min-width: 20px;
        padding: 5px 7px 5px 7px;
      }
    }
    .flag-dropdown {
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
    }
    .submit-button-container {
      display: flex;
      justify-content: flex-end;
      padding: 0px 10px 10px;
      #flag-submit-button {
        margin-right: 20px;
      }
    }
  }
}
