.activities-container, .loading-spinner-container, .error-container {
  width: calc(100vw - 200px);
  padding: 20px;
  .activities-table, .tabs-container {
    width: 100%;
    align-self: flex-start;
    .data-table-body{
      min-height: 30vh;
      max-height: 70vh;
      .data-table-row {
        span {
          text-align: left !important;
          a {
            color: #00c2a2;
          }
          .a:hover {
            cursor: pointer;
            color: #19a08a;
          }
        }
      }
    }
  }
}
