.activity-form-container {
  width: 100%;
  padding: 0px 30px 0px 16px;
  .expand-component-section-button {
    margin: 16px 0px 16px 8px;
    width: 40vw;
    font-weight: 600;
    &.open {
      color: #00c2a2;
    }
  }
  .activity-fields-table {
    .data-table-body {
      .data-table-row {
        height: auto;
        .quill-tooltip-trigger {
          align-self: flex-start;
          margin-top: 16px;
        }
      }
      .data-table-row:hover {
        background-color: #ffffff;
      }
    }
  }
  .image-attribution-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  .card {
    max-width: unset !important;
    margin-bottom: 16px;
  }
  .error-message-container {
    width: 100%;
  }
  .title-input {
    margin: 0px 0px 24px 0px;
  }
  .flag-input {
    width: 10vw;
  }
  .button-and-id-container {
    display: flex;
    margin: 24px 0px 24px 0px;
    .label-status-container {
      margin-right: 16px;
      #label-status-label {
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
        margin: 0;
      }
      #label-status {
        font-size: 16px;
        color: #7f7f7f;
        margin: 0;
      }
    }
    a, button {
      margin-left: 16px;
    }
  }
  .course-input, .flag-input, .reading-level-input,
  .reading-score-input, .because-input, .but-input, .name-input, .highlight-prompt-input,
  .scored-reading-level-input, .target-reading-level-input, .image-link-input,
  .because-example, .but-example, .so-example {
    margin-top: 20px;
  }
  .because-example, .but-example, .so-example {
    margin-left: 16px;
  }
  .image-attribution-text-area {
    margin-top: 16px;
    width: 100%;
    min-height: 112px;
  }
  #image-attribution-label {
    margin-bottom: 8px;
  }
  .so-input {
    margin: 20px 0px 20px 0px;
  }
  .error-message {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    color: #ff0000;
    margin-top: 20px;
  }
  .text-editor-label {
    color: #7f7f7f;
    font-size: 16px;
    margin: 10px 0px -10px 0px;
    font-weight: normal;
    display: flex;
    align-items: center;
    &.has-text {
      font-size: 12px;
      font-weight: 600;
    }
    .quill-button {
      margin-left: 8px;
    }
  }
  .hide-highlights {
    span {
      background-color: white !important;
    }
  }
  #max-attempt-feedback {
    &.focus {
      .has-text {
        color: red;
      }
    }
  }
  .prompt-section {
    .plagiarism-section {
      margin-left: 10px;
      .primary-feedback-input, .secondary-feedback-input {
        margin-top: 15px;
      }
    }
  }
  .info-section {
    display: flex;
    align-items: center;
    margin: 16px 0px -8px 0px;
    p {
      margin: 0px 0px 0px 4px;
    }
  }
  .close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    #activity-close-button {
      margin: 10px 10px 0px 0px;
      height: auto;
      min-width: 20px;
      padding: 5px 7px 5px 7px;
    }
  }
  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    #activity-submit-button {
      margin-bottom: 20px;
    }
    #activity-cancel-button {
      margin-left: 10px;
    }
    .error-message-container {
      width: 100%;
    }
  }
}
