.health-dashboards-index-container {
  padding: 20px;
  .header-section {
    .search-box {
      width: 600px;
    }
    .control {
      float: left;
    }
    .second-input-row {
      width: 700px;
    }
    .poor-health-filter {
      padding-top: 5px;
    }
    .poor-health-label {
      padding-left: 5px;
      font-weight: normal;
    }
    .right-side-div {
      float: right;
      display: flex;
      a {
        padding: 5px;
      }
    }
    padding-bottom: 30px;
  }

  .table-section {
    td {
      white-space: normal;
    }
    .rt-th {
      min-width: 100px;
      width: 100px;
      max-width: 100px;
      .sortable-header {
        height: 100px;
        display: block;
      }
      input {
        width: 60px !important;
      }
    }

    .poor-health {
      background-color: lightpink;
      color: red;
      font-weight: bold;
      width: 70px;
      padding: 3px;
      display: block;
    }
    .poor-health-flag {
      color: red;
      font-weight: bold;
    }
  }


}
