.main-admin-container {
  display: flex;
  border-bottom: 1px solid lightgray;
  .button-wrapper {
    display: flex;
    .quill-button {
      margin-right: 10px;
    }
  }
  .word-wrap {
    white-space: pre-wrap;
  }
  .left-side-menu {
    width: 200px;
    padding: 20px;
  }
  .card {
    max-width: 650px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-top: 20px;
  }
  .modal {
    display: flex;
    .modal-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 100;
      .modal-content {
        overflow: auto;
        .rule-form {
          max-height: 100vh;
        }
      }
    }
    .modal-close {
      display: none;
    }
    .close-button-container {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 10px 10px 0px 0px;
        height: auto;
        min-width: 20px;
        padding: 5px 7px 5px 7px;
      }
    }
    .submission-message {
      padding: 20px;
    }
  }
  .left-side-menu {
    border-right: 1px solid lightgray;
    .menu-label {
      color: #5b5b5b;
      font-size: 11px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      padding: 0px;
      a {
        padding: 5px;
        color: #5b5b5b;
        text-decoration: none;
        border-radius: 6px;
      }
      .sublink {
        margin-left: 20px;
        margin-top: 4px;
      }
      a:hover, .create-activity-button:hover {
        background-color: lightgray;
      }
      .is-active {
        background-color: #00c2a2 !important;
        color: white !important;
      }
      .create-activity-button {
        background-color: transparent;
        border: none;
        text-align: left;
        padding: 5px;
        outline: none;
        border-radius: 6px;
      }
    }
  }
  .tabs-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #f8f8f8;
    margin-top: 8px;
    a {
      color: black;
    }
    .tab-option {
      margin-top: 5px;
      padding: 10px;
    }
    .is-active {
      color: #19a08a;
      text-decoration: none;
      .tab-option {
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: white;
      }
    }
  }
}
