.rules-container {
  width: 80vw;
  .rules-based-section, .plagiarism-section {
    margin-bottom: 40px;
    .no-rules-section {
      padding-top: 20px;
    }
    #add-rule-button, #add-model-button, .add-rule-button {
      a {
        color: white;
        text-decoration: none;
      }
    }
    #add-model-button {
      margin-top: 5px;
    }
    .regex-text-container {
      display: flex;
      flex-wrap: wrap;
      .regex-text-object {
        padding: 4px;
        margin: 4px 4px;
        border-radius: 4px;
        font-weight: bold;
        &.required {
          background-color: #bcddff;
        }
        &.incorrect {
          background-color: #ffbcbc;
        }
      }
    }
    .one-rule-warning {
      margin: 8px 0px 8px 0px;
      font-style: italic;
      color: #5b5b5b;
    }
  }
  #first-plagiarism-section {
    margin-top: 20px;
  }
  #add-rule-button {
    margin-top: 16px;
  }
  .play-activity-button {
    margin-bottom: 20px;
  }
  .modal {
    .modal-container {
      .modal-content {
        .rule-form-container {
          height: 90%;
          padding: 16px;
          .close-button-container {
            width: 100%;
          }
          .submit-button-container {
            button {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
  .rules-table {
    overflow: unset !important;
    max-width: 100%;
    .data-table-body {
      .data-table-row {
        height: auto;
        padding: 12px;
        span {
          text-align: left !important;
          span {
            a {
              color: #00c2a2;
            }
            .a:hover {
              cursor: pointer;
              color: #29d8bc
            }
          }
        }
        .quill-tooltip-trigger {
          .quill-tooltip {
            display: none;
          }
          .data-table-row-section {
            button {
              background-color: transparent;
              border: none;
            }
          }
        }
      }
    }
  }
  .regex-index-table {
    .data-table-row-section {
      word-wrap: break-word;
      white-space: normal;
    }
  }
  .plagiarism-index-table {
    .data-table-headers {
      display: none;
    }
    .data-table-row-section {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}
