.seed-data-form-container {
  .label-section {
    margin: 20px 0;
  }
  .seed-label-form {
    border: 1px solid #f7f5f5;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
  }
  .label-title {
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
    font-weight: 700;
  }
  .highlight {
    color: #ffff8d;
  }

  .right {
    float: right;
  }
  .label-input {
    width: 25%;
    min-width: 100px;
  }
}

