.semantic-labels-container {
  width: 80vw;
  .semantic-rules-cheat-sheet {
    .data-table-row {
      height: min-content;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .data-table-row-section {
      white-space: pre-wrap;
      overflow: visible;
    }
  }
  .semantic-labels-overview-container {
    .prompt-section {
      border-top: 2px solid #e0e0e0;
      padding: 0px 20px 20px 20px;
    }
  }
  .rules-based-section, .plagiarism-section {
    margin-bottom: 40px;
    .no-rules-section {
      padding-top: 20px;
    }
    .regex-text-container {
      display: flex;
      flex-wrap: wrap;
      .regex-text-object {
        padding: 4px;
        margin: 4px 4px;
        border-radius: 4px;
        font-weight: bold;
        &.required {
          background-color: #bcddff;
        }
        &.incorrect {
          background-color: #ffbcbc;
        }
      }
    }
    .one-rule-warning {
      margin: 8px 0px 8px 0px;
      font-style: italic;
      color: #5b5b5b;
    }
  }
  #first-plagiarism-section {
    margin-top: 20px;
  }
  .semantic-labels-table {
    max-width: 100%;
    overflow: scroll;
    .data-table-body{
      .data-table-row {
        height: auto;
        padding: 12px;
        span {
          text-align: left !important;
          span {
            a {
              color: #00c2a2;
            }
            .a:hover {
              cursor: pointer;
              color: #29d8bc
            }
          }
        }
      }
      .quill-tooltip-trigger {
        .quill-tooltip {
          display: none;
        }
      }
    }
  }
}
