.rule-form-container {
  .semantic-rule-form-header {
    display: flex;
    justify-content: space-between;
    a {
      color: #00c2a2
    }
    a:hover {
      color: #29d8bc;
    }
  }
  .semantic-rule-form {
    margin-top: 20px;
    padding: 0px;
    .label-name-input {
      margin-top: 15px;
    }
    .label-explanation {
      font-style: italic;
    }
    .label-status-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
      #label-status-label {
        margin-right: 10px;
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
      }
      #label-status {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .card {
      max-width: 1000px !important;
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 6px;
      margin-top: 20px;
    }
    .submit-button-container {
      #rule-cancel-button {
        margin-left: 20px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    .rule-type-input {
      &.disabled {
        .dropdown {
          .dropdown__control {
            .dropdown__value-container {
              .dropdown__single-value {
                color: #7f7f7f;
              }
            }
          }
        }
      }
    }
    .rule-type-input:hover {
      &.disabled {
        cursor:not-allowed;
      }
    }
    .form-subsection-label {
      font-size: 12px;
      font-weight: 600;
      color: #7f7f7f;
      margin-top: 15px;
    }
    #regex-rules-label {
      margin-bottom: 0px;
    }
    .checkboxes-container {
      display: flex;
      .checkbox-container {
        margin-right: 30px;
        #stem-label-1, #stem-label-2, #stem-label-3 {
          margin-right: 5px;
        }
      }
    }
    .conditional-label {
     padding-right: 10px;
     padding-top: 15px;
    }
    .regex-rules-container {
      .regex-rule-container {
        display: flex;
        align-items: center;
        .regex-input-container {
          width: 100%;
          margin-right: 30px;
          .checkbox-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .case-sensitive-label {
              margin-right: 10px;
            }
          }
        }
        .delete-regex-button {
          margin: 10px 10px 0px 0px;
          min-width: 20px;
          padding: 0px 12px 5px 12px;
        }
      }
    }
    .add-regex-button {
      margin: 30px 10px 0px 0px;
      min-width: 20px;
      padding: 0px 7px 5px 7px;
    }
    .rule-highlight-section {
      margin-left: 10px;
    }
    .add-highlight, .add-feedback-layer, .remove-highlight, .remove-feedback-layer {
      margin-top: 15px;
    }
    .remove-highlight, .remove-feedback-layer {
      color: red;
    }
  }
  .close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    #activity-close-button {
      margin: 10px 10px 0px 0px;
      height: auto;
      min-width: 20px;
      padding: 5px 7px 5px 7px;
    }
  }
  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    #activity-submit-button {
      margin-bottom: 20px;
    }
    #activity-cancel-button {
      margin-left: 10px;
    }
    .error-message-container {
      width: 100%;
    }
  }
  .delete-rule-container {
    .delete-rule-text {
      padding: 20px;
    }
    .delete-rule-button-container {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      #delete-rule-button {
        margin-right: 10px;
      }
    }
  }
}
