.semantic-labels-container {
  width: 80vw;
  .semantic-rules-cheat-sheet {
    .data-table-row {
      height: min-content;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .data-table-row-section {
      white-space: pre-wrap;
      overflow: visible;
    }
  }
  .semantic-labels-overview-container {
    .prompt-section {
      border-top: 2px solid $quill-grey-5;
      padding: 0px 20px 20px 20px;
    }
  }
  .rules-based-section, .plagiarism-section {
    margin-bottom: 40px;
    .no-rules-section {
      padding-top: 20px;
    }
    .regex-text-container {
      display: flex;
      flex-wrap: wrap;
      .regex-text-object {
        padding: 4px;
        margin: 4px 4px;
        border-radius: 4px;
        font-weight: bold;
        &.required {
          background-color: #bcddff;
        }
        &.incorrect {
          background-color: #ffbcbc;
        }
      }
    }
    .one-rule-warning {
      margin: 8px 0px 8px 0px;
      font-style: italic;
      color: #5b5b5b;
    }
  }
  #first-plagiarism-section {
    margin-top: 20px;
  }
  .semantic-labels-table {
    max-width: 100%;
    overflow: scroll;
    .data-table-body{
      .data-table-row {
        height: auto;
        padding: 12px;
        span {
          text-align: left !important;
          span {
            a {
              color: #00c2a2;
            }
            .a:hover {
              cursor: pointer;
              color: #29d8bc
            }
          }
        }
      }
      .quill-tooltip-trigger {
        .quill-tooltip {
          display: none;
        }
      }
    }
  }

  .enable-more-than-ten-labels-modal {
    min-height: 500px;
    max-width: 600px;
    background: $quill-white;
    border-radius: 6px;
    border: 1px solid $quill-grey-5;
    display: inline-flex;
    padding: 40px 32px;

    .title-and-description {
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      gap: 8px;
      justify-content: flex-start;

      .title {
        color: $quill-black;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      .description {
        color: $quill-grey-50;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .save-and-cancel-buttons {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
      margin-top: 40px;
    }
  }
}
