.universal-rules-index-container {
  padding: 20px;
  width: 80vw;
  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin-top: 0px
    }
    .top-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .rule-type-input, button {
        margin-right: 32px;
      }
    }
  }
  .sortable-instructions {
    margin-left: 4px;
    font-style: italic;
  }
  .universal-rules-table {
    .universal-rule-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid lightgray;
      border-radius: 6px;
      p {
        margin: 0px
      }
    }
    .data-table-headers {
      min-height: auto;
      padding-bottom: 8px;
    }
    .data-table-body{
      overflow: auto;
      .data-table-row {
        min-height: auto;
        td {
          a {
            color: #00c2a2;
          }
          .a:hover {
            cursor: pointer;
            color: #29d8bc
          }
        }
        .reorder-section {
          div:hover {
            cursor: pointer;
          }
        }
      }
      .quill-tooltip-trigger {
        .quill-tooltip {
          display: none;
        }
      }
    }
  }
  .universal-rules-table {
    height: 100%;
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
    width: 690px;
    padding: 20px 10px 20px 0px;
    #edit-rule-button {
      margin-right: 30px;
    }
  }
  .delete-rule-container {
    .delete-rule-text {
      padding: 20px;
    }
    .delete-rule-button-container {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      #delete-rule-button {
        margin-right: 10px;
      }
    }
  }
}
