<%= render partial: 'teachers/shared/scorebook_tabs' %>

<div class="container">
  <%= react_component('EditCoteacherApp', props: {classrooms: @classrooms, coteachers: @coteachers, selected_teacher_id: @selected_teacher_id, selected_teachers_classrooms: @selected_teachers_classrooms }) %>
</div>
