node_modules
lib/*
*.log

# Ignore local RehinkDB database storage
rethinkdb_data/*

# Ignore local config files that may contain secrets
*.env
nodemon.json

# Ignore certificate files that definitely are secrets
*.crt

# Ignore elasticbeanstalk configuration data
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.log
