{
  "env": {
    "JWT_PUBLIC_KEY": "-----BEGIN PUBLIC KEY-----\n SOME LEGITIMATE PUBLIC KEY GOES HERE \n NOTE THAT IT SHOULD MATCH THE PRIVATE KEY VALUE SET IN YOUR LOCAL LMS .env FILE IN THE KEY LESSONS_PRIVATE_KEY \n SEE THE README FOR MORE DETAILS \n-----END PUBLIC KEY-----\n"
  }
}  
