<div class="container">
  <div id="staff_container">
    <div class="staff_panel">
      <div class="panel_row">
        <h2 class="header_text">Apps</h2>
      </div>
      <div class="panel_row">
        <a href= <%= "#{ENV['QUILL_CONNECT_URL']}/#/admin" %>>
          <button class="link_box" type="button">
            <img src="https://assets.quill.org/images/shared/open-book.svg">
            <h2>Connect</h2>
          </button>
        </a>
        <a href="https://diagnostic.quill.org/#/admin">
          <button class="link_box">
            <img src="https://assets.quill.org/images/shared/presentation-board.svg">
            <h2>Diagnostic</h2>
          </button>
        </a>
        <a href="https://beta-grammar.quill.org/#/admin">
          <button class="link_box">
            <img src="https://assets.quill.org/images/shared/blue-school.svg">
            <h2>Grammar</h2>
          </button>
        </a>
      </div>
    </div>

    <div class="staff_panel">
      <div class="panel_row">
        <h2 class="header_text">Staff</h2>
      </div>
      <div class="panel_row">
        <a href="/profile/console">
          <button class="link_box">
            <img id="quill-img"src="https://assets.quill.org/images/authors/quill-staff.png">
            <h2>Console</h2>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
