<% content_for :custom_pdf_stylesheet do %>
  <%= vite_stylesheet_tag "admin_usage_snapshot_report_pdf.scss", media: "all" %>
<% end %>

<% filter_sections = data[:filter_sections] %>
<% snapshot_sections = data[:snapshot_sections] %>

<main class="admin-usage-snapshot-report-pdf">
  <img alt="Quill logo" class="quill-logo" src="https://assets.quill.org/images/logos/quill-logo-green.svg" />
  <h1>Usage Snapshot Report</h1>
  <div class="applied-filters">
    <h3>Important Note</h3>
    <p>
      These metrics were calculated using the filters you had applied at the time this report was sent.
      <a href="https://support.quill.org/en/articles/8358350-how-do-i-use-the-usage-snapshot-report">Learn more</a>
    </p>
    <%= render 'pdfs/admin_usage_snapshot_report_pdf/filter_sections', filter_sections: %>
  </div>
  <div class="sections">
    <%= render 'pdfs/admin_usage_snapshot_report_pdf/snapshot_sections', snapshot_sections: %>
    <%# <section class="snapshot-section-wrapper">
      <h2>
        <img alt="" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/bulb.svg">
        <span>Highlights</span>
      </h2>
      <div class="snapshot-section highlights">
        <div class="snapshot-section-content">
          <div class="counts">
            <section class="snapshot-item snapshot-count medium negative">
              <div class="count-and-label">
                <span class="count">406</span>
                <span class="snapshot-label">Sentences written</span>
              </div>
              <div class="change">
                <img alt="Arrow pointing down" class="medium" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_down_icon.svg">
                <span>42%</span>
              </div>
            </section>
            <section class="snapshot-item snapshot-count medium positive">
              <div class="count-and-label">
                <span class="count">7</span>
                <span class="snapshot-label">Student learning hours</span>
              </div>
              <div class="change">
                <img alt="Arrow pointing up" class="medium" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_up_icon.svg">
                <span>40%</span>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section> %>
    <section class="snapshot-section-wrapper">
      <h2>
        <img alt="" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/students.svg">
        <span>Users</span>
      </h2>
      <div class="snapshot-section users">
        <div class="snapshot-section-content">
          <div class="counts">
            <section class="snapshot-item snapshot-count small no-change">
              <div class="count-and-label">
                <span class="count">1</span>
                <span class="snapshot-label">Active teacher</span>
              </div>
              <div class="change"><span></span>
              </div>
            </section>
            <section class="snapshot-item snapshot-count small positive">
              <div class="count-and-label">
                <span class="count">9</span>
                <span class="snapshot-label">Active students</span>
              </div>
              <div class="change">
                <img alt="Arrow pointing up" class="small" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_up_icon.svg">
                <span>50%</span>
              </div>
            </section>
            <section class="snapshot-item snapshot-count small no-change">
              <div class="count-and-label">
                <span class="count">0</span>
                <span class="snapshot-label">Teacher accounts created</span>
              </div>
              <div class="change"><span></span>
              </div>
            </section>
            <section class="snapshot-item snapshot-count small negative">
              <div class="count-and-label">
                <span class="count">0</span>
                <span class="snapshot-label">Student accounts created</span>
              </div>
              <div class="change">
                <img alt="Arrow pointing down" class="small" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_down_icon.svg">
                <span>100%</span>
              </div>
            </section>
          </div>
          <div class="rankings">
            <section class="snapshot-item snapshot-ranking has-data">
              <div>
                <div class="header">
                  <h3>Most active teachers</h3>
                </div>
                <table class="table">
                  <tr class="header-row">
                    <th>Teacher</th>
                    <th>Activities completed</th>
                  </tr>
                  <tr class="data-row">
                    <td>Kim Stearny</td>
                    <td>54</td>
                  </tr>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>