.publish-success-modal-container {
  .publish-success-modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #3f3f3f;
    opacity: 0.9;
  }
  .publish-success-modal {
    width: 551px;
    min-height: 570px;
    border-radius: 6px;
    background-color: #ffffff;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
    img {
      margin: 45px 0px 20px;
    }
    span {
      font-weight: bold;
    }
    h1 {
      font-size: 20px;
      font-weight: bold;
      color: #3b3b3b;
      margin-bottom: 10px;
    }
    .explanation {
      width: 365px;
      font-size: 16px;
    	text-align: center;
    	color: #3b3b3b;
      margin-bottom: 25px;
    }
    .activity-name-section, .edition-name-section {
      padding: 15px 65px;
      width: 100%;
      p {
        font-size: 14px;
        text-align: left;
        color: #969696;
        margin-bottom: 3px;
      }
      h2 {
        font-size: 16px;
        font-weight: 600;
        color: #3b3b3b;
        text-align: left;
      }
    }
    .fields {
      margin-bottom: 10px;
      width: 549px;
      background-color: #fafafa;
    }
    .dividing-line {
      width: 470px;
      border-bottom: solid 1px #e9e9e9;
    }
    .button-link {
      width: 145px;
      height: 40px;
      border-radius: 3px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      background-color: #00c2a2;
      padding: 10px;
      font-size: 15px;
    }

    a {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #027360;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
