.absent-teacher-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.94;
  background-color: #014f92;
  .absent-teacher {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 539px;
    img {
      height: 150px;
      display: block;
      margin: auto;
    }
    h1 {
      margin-top: 25px;
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;
    }
  }
}

.absent-teacher-button {
  width: 180px;
  height: 40px;
  border-radius: 3px;
  background-color: #348fdf;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
  display: block;
  z-index: 100;
  position: fixed;
  position: fixed;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  margin: auto;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @media (min-height: 1200px) {
    bottom: 35%;
  }
  @media (min-height: 1000px) {
    bottom: 30%;
  }
  @media (min-height: 800px) {
    bottom: 25%;
  }
  @media (min-height: 600px) {
    bottom: 20%;
  }
}
