.admin-show-script-item {
  .public-DraftStyleDefault-block {
    padding-bottom: 30px;
    font-size: 18px;
  }
}

.admin-classroom-lessons-container {
  .add-new-lesson-form {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e3e3e3;
  }
}
