.fill-in-the-blank {
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  .prompt {
    color: #2f2f2f;
    font-size: 30px;
    line-height: 1.27;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    .warning {
      z-index: 99;
      position: relative;
      top: 0;
      left: 0;
    }
    input {
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 #e9e9e9, 0 0 2px 0 rgba(0, 0, 0, 0.12);
      border: solid 1px #c0c0c0;
      width: 104px;
      height: 40px;
      margin: 3px 8px 3px 0px;
      font-size: 25px;
      text-align: center;
      &.bad-input {
        border: solid 1px #ff7370;
      }
      &:focus {
        outline: none;
      }
    }
    .disabled-button {
      background-color: #f4f4f4;
      border: none;

    }
  }
  .answer-header {
    padding-top: 35px;
  }
  .warning-dialogue {
    border: 1px #ff3730 solid;
    color: #ff3730;
    font-size: 14px;
    top: -37px;
    position: absolute;
    text-align: center;
    background-color: white;
    height: 26px;
    z-index: 100;
    padding: 0px 7px;
    display: flex;
    align-items: center;
    left: 8px;
    span {
      white-space: nowrap;
    }
    i {
      font-size: 15px;
      color: white;
      position: absolute;
      top: 18px;
      text-shadow: 0px 1px 0px #ff3730;
    }
  }
}
