.student-lobby {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 132px;
  .student-title-instructions {
    max-width: 559px;
    .student-lesson-title-container {
      background-color: #fafafa;
      .student-lesson-title {
        text-align: center;
        padding: 33px 70px 42px 70px;
        font-size: 36px;
        font-weight: bold;
        color: #00c2a2;
      }
    }
    .student-instructions-container {
      .student-lesson-instructions-title {
        padding-top: 77px;
        padding-left: 25.5px;
        font-size: 30px;
        color: #3b3b3b;
      }

      .student-lesson-instructions {
        counter-reset: item1;
        list-style: none;
        font-size: 30px;

        li {
          padding-top: 35px;
          padding-left: 45px;
          counter-increment: item1;
          color: #000000;
          .student-indented {
            padding-left: 58px;
          }

          .student-highlighted {
            font-weight: bold;
            color: #00c2a2;
          }
        }
        li:before {
          margin-right: 40px;
          content: counter(item1);
          font-weight: bold;
          color: #00c2a2;
        }
      }
    }
  }
  
    
  .presence-container {
    min-width: 333px;
    .presence-header {
      font-size: 30px;
      color: #3b3b3b;
      padding-bottom: 17px;
    }
    .presence-list-container {
      ol {
        counter-reset: item2;
        list-style: none;
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          counter-increment: item2;
          font-size: 24px;
          color: #3b3b3b;

          p {
            margin-right: auto;
          }

          div.online {
            height: 15px;
            width: 15px;
            border-radius: 15px;
            background-color: #82bf3c;
          }

          div.offline {
            height: 15px;
            width: 15px;
            border-radius: 15px;
            background-color: #ff4441;
          }
        }
        li:before {
          margin-right: 17px;
          content: counter(item2);
          font-size: 24px;
          font-weight: bold;
          color: #00c2a2;
        }
        hr {
          color: #e9e9e9;
          margin: 10px 0px;
        }
      }
    }
  }
}