.student-lobby {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  .presence-container {
    height: 100%;
    width: 40%;
    background-color: #fafafa;
    padding: 40px 48px;
    position: absolute;
    right: 0px;
    .presence-header {
      font-size: 18px;
      font-weight: bold;
      color: #3b3b3b;
      margin-bottom: 20px;
    }
    .student-row {
      border-bottom: solid 1px #e9e9e9;
      font-size: 24px;
      color: #3b3b3b;
      padding: 10px 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 400px;
      .student-number {
        font-weight: 600;
        color: #00c2a2;
        margin-right: 20px;
      }
      .bold-name {
        font-weight: bold;
      }
      .online {
        background-color: #82bf3c;
      }
      .offline {
        background-color: #ff4441;
      }
      .online, .offline {
        padding-left: 15px;
        margin-left: 5px;
        height: 15px;
        width: 15px;
        border-radius: 15px;
      }

    }
    @media (max-width: 900px) {
      padding: 40px 20px;
    }
    &.projector-presence {
      padding: 40px 70px 40px 40px;
    }
  }
  .projector-view {
    margin-top: 50px;
    left: 35px;
    width: 56%;
    position: absolute;
    .student-lesson-title {
      height: 130px;
      border-radius: 3px;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      color: #3b3b3b;
      padding: 0px 67px;
    }
    .student-instructions-container {
      margin-top: 60px;
      .student-lesson-instructions-title {
        font-size: 28px;
        font-weight: bold;
        color: #3b3b3b;
        margin-bottom: 5px;
      }
      .student-lesson-instruction {
        margin-top: 25px;
        display: flex;
        align-items: top;
        .instruction-number {
          font-size: 30px;
          font-weight: bold;
          color: #3b3b3b;
          border-bottom: 2px black solid;
          height: 40px;
          margin-top: -2px;
        }
        .instruction-text {
          font-size: 28px;
          color: #000000;
          margin-left: 30px;
          display: inline-block;
          .student-highlighted {
            color: #00c2a2;
            white-space: nowrap;
          }
        }
      }
    }
    @media (max-width: 1280px) {
      width: 54%;
    }
    @media (max-width: 1000px) {
      width: 52%;
    }
  }
  .student-view {
    margin-top: 50px;
    width: 650px;
    left: 35px;
    position: absolute;
    .joined-message {
      height: 205px;
      border-bottom: 1px solid #c0c0c0;
    }
    .next-step {
      margin-top: 50px;
    }
    p {
      font-size: 24px;
      margin-bottom: 18px;
    }
    h1 {
      font-size: 28px;
      font-weight: bold;
      color: #3b3b3b;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    @media (min-width: 1660px) {
      left: 300px;
    }
    @media (min-width: 1400px) and (max-width: 1659px) {
      left: 150px;
    }
    @media (max-width: 1190px) {
      width: 51%;
    }
    @media (max-width: 820px) {
      .joined-message {
        height: inherit;
      }
    }
  }
  // .student-view, .projector-view {
  //   @media (max-width: 970px) {
  //     width: 550px;
  //   }
  //   @media (max-width: 870px) {
  //     width: 500px;
  //   }
  //   @media (max-width: 800px) {
  //     width: 450px;
  //   }
  // }
}
