.student-static-page-container {
  display: flex;
  font-size: 36px;
  background-color: white;
  height: calc(100vh - 50px);
  text-align: center;
  .student-static-page {
    width: 100%;
    max-width: 768px;
    margin:0 auto;
    blockquote {
      max-width: 768px;
      margin-top: 80px;
      border-radius: 3px;
      padding: 21 57;
      background-color: #fafafa;
    }
    ul {
      margin-top: 55px;
    }
  }
  }
