#admin-dashboard {

  .error, .message {
    font-size: 16px;
    margin-top: 15px;
  }

  .error {
    color: #ff4542
  }

  .message {
    color: #348fdf;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
  }

  section {
    padding: 0;
    border-bottom: none;
  }

  .blur {
    tr {
      td:nth-of-type(2), td:nth-of-type(3), td:nth-of-type(4) {
        -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
       -o-filter: blur(5px);
       -ms-filter: blur(5px);
       filter: blur(5px);
      }
    }
  }

  .dropdown {
    margin-right: 10px;
  }

  .sub-container {
    max-width: $sitewidepagewidth;;
    margin: 0 auto;
    @media (max-width: 1210px) {
      margin: 0 10px;
    }
    .dark-divider {
      background: #989898;
      height: 1px;
      margin: 48px 0px;
    }
    .light-divider {
      background: #E0E0E0;;
      height: 1px;
      margin: 24px 0px;
    }
    .header {
      .csv-button {
        margin-top: 32px;
      }
    }
  }
  .add-user {
    margin-left: 20px;
  }
  .teacher-account-access-container {
    .dropdown-container {
      width: max-content;
      justify-content:  flex-start;
      min-width: 552px;
      min-height: 60px !important;
      margin-top: 32px;
      font-weight: 700;
    }
    .dropdown__control {
      background-color: transparent;
    }
    .progress-report {
      table {
        thead {
          tr {
            border-bottom: 1px solid #E0E0E0;
            th {
              font-size: 12px;
              color: #5C5C5C;
              background-color: #ffffff;
              border: none;
            }
          }
        }
        tbody {
          div {
            tr {
              padding: 8px 0px;
              td {
                font-weight: 700;
                color: #5C5C5C;
                padding-left: 14px;
              }
            }
          }
        }
      }
    }
    .warning-section {
      background-color: #FFFFFF;
      padding: 24px 14px;
      border: 1px solid #E0E0E0;
      border-top: none;
      color: #5C5C5C;
      font-size: 16px;
      margin-bottom: 48px;
      .warning {
        font-weight: bold;
        margin: 0px;
        color: #EB4F47;
      }
    }
  }

  .admin-features-container {
    color: #3b3b3b;
    margin-top: 22px;
    h2 {
      margin-bottom: 10px;
    }
    .features-list {
      display: flex;
      margin-top: 70px;
      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #ffffff;
        padding: 32px;
        border-radius: 16px;
        flex: 1;
        text-align: center;
        &:first-of-type, &:nth-of-type(2) {
          margin-right: 32px;
        }
        img {
          height: 72px;
          width: auto;
          margin-bottom: 15px;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 16px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
        }
        a, button {
          margin-top: 32px;
          font-weight: 300;
        }
        // we will display this button once we have a live link
        .admin-reports-button {
          visibility: hidden;
        }
        .contact {
          margin-top: 15px;
          align-items: center;
          display: flex;
          img {
            margin-bottom: 0px;
            margin-right: 20px;
            height: 55px;
            border-radius: 30px;
          }
        }
      }
    }
  }

  .create-new-accounts-container {
    position:relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 64px;
    .left-section:before {
      content:"";
      position:absolute;
      top:0;
      left: 50%;
      height:100%;
      width:1px;
      background:#CFCFCF;
    }
    .left-section {
      grid-column: 1;
      display: contents;
      box-sizing: border-box;
      h2 {
        grid-row: 1;
        grid-column: 1;
      }
      .form {
        grid-row: 2;
        grid-column: 1;
        background-color: #ffffff;
        padding: 24px;
        border: 1px solid #C0C0C0;
        border-radius: 12px;
        margin-top: 32px;
        .first-section {
          .name-inputs-container {
            display: flex;
            margin-bottom: 8px;
            .first-name {
              margin-right: 8px;
            }
          }
          input {
            width: 100%;
            font-size: 16px;
          }
        }
        .second-section {
          display: flex;
          flex-direction: column;
          .input-container  {
            min-height: auto;
            margin: 40px 0px 24px 0px;
            .dropdown {
              margin: 0;
              .dropdown__control {
                margin-bottom: 0;
              }
            }
          }
          .add-teacher-account-button {
            width: 100%;
          }
        }
        .info-section-container {
          .info-section {
            font-size: 16px;
            color: #666666;
            span {
              font-weight: 700;
            }
            p {
              font-weight: 400;
            }
          }
          .info-section:first-of-type {
            margin-bottom: 24px;
          }
        }
      }
    }
    .right-section {
      grid-column: 2;
      display: contents;
      box-sizing: border-box;
      h2 {
        grid-row: 1;
        grid-column: 2;
      }
      .content-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-row: 2;
        grid-column: 2;
        background-color: #ffffff;
        padding: 24px;
        border: 1px solid #C0C0C0;
        border-radius: 12px;
        margin-top: 32px;
        .schools-list {
          .school {
            display: flex;
            align-items: center;
            border: 1px solid #C0C0C0;
            border-radius: 8px;
            padding: 16px;
            margin-bottom: 8px;
            img {
              width: 21px;
              height: auto;
              margin-right: 8px;
            }
          }
        }
        .bottom-section {
          .need-access-text {
            font-style: italic;
            color: #969696;
            a {
              font-style: normal;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .tab-subnavigation-wrapper {
    .active, a:hover {
      text-decoration: none;
    }
    .premium {
      border: 1px solid #eda41b;
      color: #875a12;
      .fa-star {
        color: #eda41b;
      }
      &.active, &:hover {
        text-decoration: none;
        background: #eda41b;
        color: white;
        .fa-star {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .sub-container {
    .admin-features-container {
      .features-list {
        flex-direction: column;
        align-items: center;
        .feature {
          margin-right: 0 !important;
          margin-bottom: 24px;
          max-width: 500px;
        }
      }
    }
    .create-new-accounts-container {
      display: flex !important;
      flex-direction: column;
      .left-section, .right-section {
        display: flex !important;
        flex-direction: column;
      }
      .left-section {
        margin-bottom: 32px;
      }
      .left-section:before {
        position: relative !important;
      }
    }
  }
}
