#admin-dashboard {

  .error, .message {
    font-size: 16px;
    margin-top: 15px;
  }

  .error {
    color: #ff4542
  }

  .message {
    color: #348fdf;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
  }

  section {
    padding: 0;
    border-bottom: none;
  }

  .blur {
    tr {
      td:nth-of-type(2),td:nth-of-type(3),td:nth-of-type(4), {
        -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
       -o-filter: blur(5px);
       -ms-filter: blur(5px);
       filter: blur(5px);
      }
    }
  }

  .dropdown {
    margin-right: 10px;
  }

  .sub-container {
    max-width: $sitewidepagewidth;;
    margin: 0 auto;
    @media (max-width: 1210px) {
      margin: 0 10px;
    }
    .dark-divider {
      background: #989898;
      height: 1px;
      margin: 48px 0px;
    }
    .light-divider {
      background: #E0E0E0;;
      height: 1px;
      margin: 24px 0px;
    }
    .header {
      .csv-button {
        margin-top: 32px;
      }
    }
  }
  // input {
  //   max-width: 150px;
  //   margin-right: 10px;
  // }
  .add-user {
    margin-left: 20px;
  }

  #teacher_account_access {
    .header-and-dropdown {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dropdown-container {
        min-width: 300px;
        min-height: 60px !important;
        justify-content: center;
      }
      .dropdown__control {
        background-color: transparent;
      }
    }
  }

  #features {
    color: #3b3b3b;
    margin-top: 22px;
    h2 {
      margin-bottom: 10px;
    }
    .features-list {
      display: flex;
      margin-top: 70px;
      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #ffffff;
        padding: 32px;
        border-radius: 16px;
        flex: 1;
        text-align: center;
        &:first-of-type, &:nth-of-type(2) {
          margin-right: 60px;
        }
        img {
          height: 72px;
          width: auto;
          margin-bottom: 15px;
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 16px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
        }
        a, button {
          margin-top: 32px;
          font-weight: 300;
        }
        // we will display this button once we have a live link
        .admin-reports-button {
          visibility: hidden;
        }
        .contact {
          margin-top: 15px;
          align-items: center;
          display: flex;
          img {
            margin-bottom: 0px;
            margin-right: 20px;
            height: 55px;
            border-radius: 30px;
          }
        }
      }
    }
    .pd-session {
      height: 48px;
      border-radius: 100px;
      background-color: #ae55e2;
      align-items: center;
      display: flex;
      justify-content: space-between;
      color: white;
      padding: 0px 24px;
      margin-top: 25px;
      span:first-of-type {
        font-weight: bold;
      }
      span:nth-of-type(2) {
        text-decoration: underline;
      }
      &:hover {
        text-decoration: none;
      }
    }
    @media (max-width: 800px) {
      text-align: center;
      .features-list {
        flex-direction: column;
        align-items: center;
        .feature {
          margin-bottom: 30px;
          &:first-of-type, &:nth-of-type(2) {
            padding-right: 0px;
          }
          .dividing-line {
            display: none;
          }
          .contact {
            justify-content: center;
          }
        }
      }
    }
  }
  #teacher_account_access {
    h2 {
      margin-bottom: 15px;
    }
    .warning {
      font-weight: bold;
      margin: 0px;
    }
    .teacher-link {
      font-size: 14px;
      font-weight: 600;
    }
  }

  #create_new_accounts {
    position:relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 64px;
    .left-section:before {
      content:"";
      position:absolute;
      top:0;
      left: 50%;
      height:100%;
      width:1px;
      background:#CFCFCF;
    }
    .left-section {
      grid-column: 1;
      display: contents;
      box-sizing: border-box;
      h2 {
        grid-row: 1;
        grid-column: 1;
      }
      .form {
        grid-row: 2;
        grid-column: 1;
        background-color: #ffffff;
        padding: 24px;
        border: 1px solid #C0C0C0;
        border-radius: 12px;
        margin-top: 32px;
        .first-section {
          .name-inputs-container {
            display: flex;
            margin-bottom: 8px;
            .first-name {
              margin-right: 8px;
            }
          }
          input {
            width: 100%;
            font-size: 16px;
          }
        }
        .second-section {
          display: flex;
          flex-direction: column;
          .add-teacher-account-button {
            width: 100%;
          }
        }
        .info-section-container {
          .info-section {
            font-size: 16px;
            color: #666666;
            span {
              font-weight: 700;
            }
            p {
              font-weight: 400;
            }
          }
          .info-section:first-of-type {
            margin-bottom: 24px;
          }
        }
      }
    }
    .right-section {
      grid-column: 2;
      display: contents;
      box-sizing: border-box;
      h2 {
        grid-row: 1;
        grid-column: 2;
      }
      .content-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-row: 2;
        grid-column: 2;
        background-color: #ffffff;
        padding: 24px;
        border: 1px solid #C0C0C0;
        border-radius: 12px;
        margin-top: 32px;
        .schools-list {
          .school {
            display: flex;
            align-items: center;
            border: 1px solid #C0C0C0;
            border-radius: 8px;
            padding: 16px;
            img {
              width: 21px;
              height: auto;
              margin-right: 8px;
            }
          }
          .need-access-text {
            font-style: italic;
            color: #969696;
            a {
              font-style: normal;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  #q-and-a {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    h1 {
      margin-bottom: 50px;
    }
    .qa-section {
      padding: 15px 0px;
      .answer {
        p, ol, ul {
          margin-top: 15px;
        }
      }
    }
  }

  .tab-subnavigation-wrapper {
    .active, a:hover {
      text-decoration: none;
    }
    .premium {
      border: 1px solid #eda41b;
      color: #875a12;
      .fa-star {
        color: #eda41b;
      }
      &.active, &:hover {
        text-decoration: none;
        background: #eda41b;
        color: white;
        .fa-star {
          color: white;
        }
      }
    }
  }

}
