<script src="http://www.gmodules.com/
ig/ifr?url=http://dl.google.com/developers/maps/
embedkmlgadget.xml&amp;up_kml_url=http%3A%2F%2Fpgsite.herokuapp.com%2FLatin%2520American%2520Independence%2520New2.kmz&amp;up_view_mode=earth&amp;up_earth_2d
_fallback=0&amp;up_earth_fly_from_space=1&amp;up_earth_show_nav_controls=1&amp;up_earth_sh
ow_buildings=1&amp;up_earth_show_terrain=1&amp;up_earth_show_roads=1&amp;up_earth_show_b
orders=1&amp;up_earth_sphere=earth&amp;up_maps_zoom_out=0&amp;up_maps_default_type=map
&amp;synd=open&amp;w=665&amp;h=450&amp;title=Latin+America&amp;border=%23ffffff%7C3px%2
C1px+solid+%23999999&amp;output=js"></script>
