%iframe{:allowfullscreen => "", :frameborder => "0", :height => "327", :src => "http://www.youtube.com/embed/#{@video_id}?&autoplay=1&rel=0&fs=0&theme=light&showinfo=0&disablekb=1&hd=1&autohide=1&color=white", :width => "425"}
