<div class="page-title-wrap con-darkblue">
   <div class="page-title container">
    <div class="span16">
     <h1>About Us</h1>
    </div>
   </div>
  </div>
  
  <div id="page-about" class="page-content-wrap con-darkblue">
   <section class="sec-1">
    <article class="container clearfix">
     <div class="span6">
      <div class="sec-1-inner">
       <p><strong>Empirical Grammar</strong> teaches grammatical concepts to students by giving students essays that have grammatical errors embedded within them. For example, students proofread a 300 word article on United States history that has 30 errors embedded within it. Students proofread the essays and correct the errors. Students are then given personalized homework lessons for the concepts they do not understand. </p>
       <p>Teachers can sign up their classes and monitor their students' progress. We currently support middle school students studying English. We cover all of the grammatical concepts from the Common Core State Standards for grades 1-8. We intend to expand our coverage to high school students, college students, ESL students, SAT / ACT students, and foreign language students. </p>
       <p>Empirical is a non-profit publisher of interactive learning experiences. Empirical Grammar is the inaugural product of our interactive textbook. The interactive textbook utilizes problem based learning and participation based learning. </p>
      </div>
     </div>
    </article>
   </section>
  </div>
  <div class="about-members">
   <section class="sec-4">
    <div class="container clearfix">
     <div class="span8">
     <h3 class="page-subtitle2">Meet The Team</h3>
    </div>
    <div style="clear:both;"></div>
    <div class="clearfix">
    
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-peter.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Peter Gault</h4>
        <small>Designer, Founder</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Peter has designed and built video games for the last eight years and studied how people learn at Bates College. Peter coordinates the Empirical Team. </p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-michael.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Michael Zemel</h4>
        <small>Developer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Michael graduated with a psychology degree from Clark University. 
</p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-shahriar.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Steve Richards</h4>
        <small>Developer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Steve has been a developer for few years. He has experience in many languages.
</p>
       </div>
     </div>
     
     
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-fahm.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Frank Smith</h4>
        <small>User interface Designer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Fahm studied biology at SUNY Stony Brook and CUNY Brooklyn College. He enjoys basketball and traveling.</p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-quinn.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Quinn Shanahan</h4>
        <small>technical advisor</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Quinn advises on the technical design. Quinn built the prototype for Empirical Grammar.  
</p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-paul.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Paul Hartman</h4>
        <small>Content Designer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Paul studied Japanese at Bates College and received a masters in Japanese language education from Tufts University. 

</p>
       </div>
     </div>
     
     
     
      <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-giselle.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Giselle Conde</h4>
        <small>content designer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Giselle studied linguistics and geology at the University of Wisconsin and is studying for a Masters in geology from the University of Iceland. 
</p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-carter.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Carter Kindley</h4>
        <small>Content Designer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Carter studied Geology at Bates College and received a masters in geology from the University of Minnesota. </p>
       </div>
     </div>
     
     <div class="team-box">
      <div class="team-box-head clearfix">
       <figure>
        <img src="assets/thumb-laura.png" alt=""/>
       </figure>
       <div class="team-box-title">
        <h4>Laura Gibbs</h4>
        <small>Content Designer</small>
       </div>
      </div>
      
      <div class="team-box-desc">
        <p>Laura writes short stories for Empirical Grammar. Laura developed the concept of a proofreading assessment as an instructor at the University of Oklahoma. Laura received her PhD in education from The University of California, Berkeley. 

 

</p>
       </div>
     </div>
     </div>
    </div>
   </section>
  </div>