= render partial: 'pages/shared/pages_tabs'
= render partial: 'pages/shared/activities_subtabs'

.container.pages-container.pages-activities

  .row
    .col-xs-12
      p
        |
          We've built over 150 activities directly from the Common Core State Standards.
          We are a nonprofit organization, and all of our activities will always be made freely available.
          Each of our activities takes approximately 10-15 minutes. Teachers using Quill in a 1:1 classroom tend to assign Quill activities as a warm up exercise at the beginning of a class.

  .row
    .col-xs-12.col-sm-4
      .button-select
        button.select-mixin.select-gray.button-select.button-select-wrapper type='button' data-toggle='dropdown'
          = @section.name
          i.fa.fa-caret-down

        ul.dropdown-menu role='menu'
          - Section.all.each do |section|
            li = link_to section.name, url_for(section_id: section.id)


  - @topics.each do |topic, activities|
    .row
      .col-xs-12
        h4 =topic.name

        - activities.order('activities.name ASC').each do |activity|
          .row
            .col-xs-12.col-md-10 = activity.name
            .col-xs-12.col-md-2  = link_to "View Activity", activity_path(activity, anonymous: true), class: 'green-link'

          .row.activity-description
            .col-xs-12
              i
                = activity.description