<div class="tool-container">

  <section class='bg-darkred bg-image-diagnostic-pattern tool-hero text-center'>
    <h1 class="q-h1">
      Place holder
    </h1>
    <p class='description'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam.
    </p>
  </section>

  <section class="tool-animation-section">
    <div class="animation-wrapper bg-image-place-holder">
      <div class="tool-animation">
        Animation Place holder
      </div>
    </div>
  </section>

  <section class="tool-carousel">
    Place holder
  </section>

  <section class="tool-try-it bg-darkred bg-diagnostic-pattern">
    <h2 class='text-white'>Try It Yourself!</h2>
    <a href='/' class="q-button cta-button text-darkred">Sign Up</a>
  </section>

  <section class="tool-testimonial">
    <img class='q-headshot' src="/images/daniel_scibienski_90.png" alt="Daniel Scibienski">
    <p class='quote'>
      "Using Quill has opened up more conversations between me and my students, in terms of how to write better and what the student needs to practice."
    </p>
    <h4 class="q-h4 author">
      MADISON VALDEZ, 8TH GRADE ELA EDUCATOR
    </h4>
    <a href="/" class='q-button text-black'>
      <span>View My Story</span>
    </a>
  </section>

  <section class="tool-sign-up">
    <h1 class='q-h1'>
      Sign up to start using place holder in your class today!
    </h1>
    <a href='/account/new' class="q-button cta-button bg-quillgreen text-white">Sign Up</a>
  </section>

</div>
