<div class="container pages-container">
  <h3>Firewall Information</h3>

  <p>If you’re having trouble accessing Quill’s activities, your school is likely encountering some firewall issues when trying to access activities on Quill.org.</p>

  <p>Firewall issues will generally need to be dealt with by your IT Department. We've written a brief text you can send them below. If it does not resolve your issues, please let us know.</p>

  <blockquote>
  <p>Quill uses various subdomains, and Firebase to store data, so please whitelist *.quill.org as well as *.firebaseio.com.</p>

  <p>As of August 2016, Google has issued a new SSL certificate for all apps hosted by Firebase, causing issues with firewalls like FortiGate. AwesomeTable discovered this issue, and we've copied their explanation and solution below:</p>

  <p>The issue appears to be linked to the number of SANs in the certificate, which is almost a thousand. We don't know if Google is going to change something here.</p>

  <p>If you are a Fortinet user, you can enable/check "Inspect All Ports" in Policy & Objects > Policy > SSL/SSH Inspection > [your policy].
Explanation: when "Inspect All Ports" is DISABLED (you're scanning specific ports), the FortiGate's proxyworker process is doing the SSL Inspection. The proxyworker isn't able to handle all of those SANs. However, if "Inspect All Ports" is ENABLED, SSL Inspection gets offloaded to the IPS Module, which is able to handle that number of SANs just fine.</p>

  <p>Another solution is to write firewall rules to allow traffic with no certificate inspection for cdn.firebase.com (151.101.44.249), firebase.com and quill.org.</p>


  <p>Thank you,<p>
  <p>The Quill Engineering Team</p>

  <p>Credit to <a href="https://sites.google.com/site/scriptsexamples/available-web-apps/awesome-tables/documentation/known-issues/ssl-issue">AwesomeTable</a> for discovering the source of this complication.</p>

</div>
