<section class="q-hero bg-quillgreen flex-column space-between">
  <nav class="q-navbar-home flex-row space-between vertically-centered">
    <div>
      <a href=<%= root_path %>>
  			<%=image_tag "home-header-logo.png" %>
  		</a>
    </div>
    <div class="home-nav-right flex-row space-between vertically-centered">
      <a href="/" class="text-white">Tools</a>
      <a href="/" class="text-white">Resources</a>
      <a href="/" class="text-white">Our Story</a>
      <a href="/" class="text-white">Login</a>
      <a href="/" class="q-button text-white">Sign Up</a>
    </div>
  </nav>
  <div class="q-hero-text">
    <h1 class="q-h1 text-white">Free tools to make your students better writers.</h1>
    <p class="text-white">
      Quill provides free writing and grammar activities
      <br/>
      for middle and high school students.
    </p>
    <a class="q-button cta-button text-quillgreen bg-white">Sign Up</a>
  </div>
  <div class="q-hero-footer">
    <p class="text-white">
      100,000 students have answered 10 million questions on Quill.
    </p>
  </div>

</section>

<section class='tool-section bg-orange'>
  <div class="tool connect-tool flex-row centered flex-row centered">
    <div class='info-section'>
      <h2 class='q-h2'>Quill Connect</h2>
      <p class='blurb'>Help your students advance from fragmented and run-on sentences to complex and well-structured sentences.</p>
        <div class="light-bar"></div>
      <p class='summary'>
        Using the evidence-based strategy of sentence combining, students combine
        multiple ideas into a single sentence. They then receive instant feedback
        designed to help them improve the clarity and precision of their sentences.
      </p>
      <a href="" class="q-button icon-button text-white">Try a Sample Activity</a>
    </div>
    <div class='video-section'></div>

  </div>

</section>

<section class='tool-section bg-brickred'>
  <div class="tool diagnostic-tool flex-row centered">
    <div class='video-section'></div>
    <div class='info-section'>
      <h2 class='q-h2'>Quill Diagnostic</h2>
      <p class='blurb'>
        Lorem ipsum dolor sit amet, consectetur
      </p>
      <div class="light-bar"></div>
      <p class='summary'>

      </p>
      <a href="" class="q-button icon-button"></a>
    </div>

  </div>

</section>

<section class='tool-section bg-quillblue'>
  <div class="tool proofreader-tool flex-row centered">
    <div class='info-section'>
      <h2 class='q-h2'>Quill Proofreader</h2>
      <p class='blurb'>Lorem ipsum dolor sit amet, consectetur </p>
      <div class="light-bar"></div>
      <p class='summary'>

      </p>
      <a href="" class="q-button icon-button"></a>
    </div>
    <div class='video-section'></div>

  </div>

</section>

<section class='tool-section bg-purple'>
  <div class="tool grammar-tool flex-row centered">
    <div class='video-section'></div>
    <div class='info-section'>
      <h2 class='q-h2'>Quill Grammar</h2>
      <p class='blurb'>Lorem ipsum dolor sit amet, consectetur </p>
      <div class="light-bar"></div>
      <p class='summary'>

      </p>
      <a href="" class="q-button icon-button"></a>
    </div>

  </div>

</section>
