<section class="q-hero bg-quillgreen flex-column space-between">
  <nav class="q-navbar-home flex-row space-between vertically-centered">
    <div>
      <a href=<%= root_path %>>
  			<%=image_tag "home-header-logo.png" %>
  		</a>
    </div>
    <div class="home-nav-right flex-row space-between vertically-centered">
      <a href="/" class="text-white">Tools</a>
      <a href="/" class="text-white">Resources</a>
      <a href="/" class="text-white">Our Story</a>
      <a href="/" class="text-white">Login</a>
      <a href="/" class="q-button text-white">Sign Up</a>
    </div>
  </nav>
  <div class="q-hero-text">
    <h1 class="q-h1 text-white">Free tools to make your students better writers.</h1>
    <p class="text-white">
      Quill provides free writing and grammar activities
      <br/>
      for middle and high school students.
    </p>
    <a class="q-button cta-button text-quillgreen bg-white">Sign Up</a>
  </div>
  <div class="q-hero-footer">
    <p class="text-white">
      100,000 students have answered 10 million questions on Quill.
    </p>
  </div>

</section>
