%article.home
  = image_tag 'main-image.png', class: :banner
  .caption
    caption copy goes here
  %p
    Slavery in Africa long predated the coming of Europeans. Traditionally,
    African slaves tended to be criminals, debtors, and captives in war. They
    worked within the households of their owners and had well-defined rights,
    such as possessing property and rnarrying free persons. It was not
    uncommon for African slaves to acquire their freedom. Slavery was one of
    several forms of labor, not the basis of the economy as it would become in
    large parts of the New World. The coming of the Portuguese, soon followed
    by traders from other European nations, accelerated the buying and selling
    of slaves within Africa. At least 100,000 African slaves were transported
    to Spain and Portugal between 1450 and 1500. In 1502, the first African
    slaves were transported to islands in the Caribbean. The transatlantic
    slave trade, and its impact on Africa, will be discussed in Chapter4.
%aside
  %hgroup
    %h1 Ch. 1 A New World
    %h2 The Expansion of Europe
  .tools-display
    test content
  .controls
    - %w(folder notes search citation).each do |icon|
      = link_to icon, '/', class: icon
