<%= render partial: 'pages/shared/pages_tabs' %>
<%= render partial: 'pages/shared/impact_subtabs'%>


<div class="white-background">
  <div class="container pages-container white-page"
       
      <h4><strong>Kim Hinderlie, Elma Elementary School</strong></h4>
      <i>124 students; 392 activities completed</i>

      <p>The kids LOVED seeing their responses come up live as we went through the lesson. Eighth-grade students were literally begging me to project their answers or asking me to allow them to resubmit an answer because they'd just gotten a better idea from another students example. An excited class learning grammar from each other, now that's a good day in ELA class! I can't wait till Friday to do it again.</p>
  
      <h4><strong>Britney Wilson, Morgan Co. R I Middle</strong></h4>
      <i>113 students; 1094 activities completed</i>

      <p>The kids are really enjoying the new lessons! As far as prepping for lessons, I start with the diagnostic first thing. I am anxious to see where the kids start at the beginning of the year and where the finish by the end of the year. We started with the most basic lessons, and are working our way up. One thing that the students love is when we put the wrong answers up on the board. They see that they aren’t the only ones who struggle, and it helps them build more confidence. We share a few laughs and then go on to find the correct answer.Once lessons are complete, we either move on or practice individually. If the students did really well and seem to understand the topic, we’ll go on. However, if they struggled with the information, we’ll spend an extra day working on the material.</p>
  
      <h4><strong>Laura Marshall, Caswell Middle School</strong></h4>
      <i>23 students; 277 activities completed</i>

      <p>Quill has been a wonderful tool for my third graders, many of whom are second language learners. We especially love the immediate feedback provided after each practice; it has definitely made us pay closer attention to detail. Quill has greatly contributed to our growth mindsets this year!</p>
  
      <h4><strong>Gwen Beck, Covenant Christian School</strong></h4>
      <i>42 students; 601 activities completed</i>

      <p>My students enjoyed the challenges you gave them in Quill this year, and I am planning to continue using your program next year with my sixth-grade class. Not only did they get a review of grammar rules, but I could monitor their keyboarding prowess as well — a double win for me!</p>

      <h4><strong>Beth Abramowich - Citrus Elementary School, Inverness, Florida</strong></h4>
      <i>5th and 6th Grade ELA Teacher; 65 Students; 3,235 Activities Completed.</i>

      <p>This is an amazing tool for my students and I want you to know I do appreciate it very much! Having to type the sentence PERFECTLY has really impacted my students' writing and has also helped them practice typing skills (which the state tests now require).</p>

      <h4><strong>Stephanie Wieland - KIPP DC KEY Academy, Washington, DC</strong></h4>
      <i>Special Education Coordinator & 7th Grade Special Education Teacher; 19 students; 440 activities completed</i>

      <p>I started used Quill at the beginning of the 2013-2014 school year as part of a technology research project for my school. Through that project, I learned what an exceptional program Quill is. Over the past two years, I have used Quill to teach and supplement grammar concepts in my 7th and 8th grade special education English classes. Students are eager to use the program and are quick to celebrate getting a "green square," denoting that they have passed an assigned skill. There are currently no other online programs that are available for grammar instruction that meet the quality of lessons and ease of use that Quill offers.</p>

      <h4><strong>Emily Bellone - Windermere School, Ellington, Connecticut</strong></h4>
      <i>6th Grade English Teacher; 25 students; 168 activities completed</i>

      <p>As a sixth grade teacher, I find Quill extremely useful. I currently use it as a differentiated approach to teaching grammar. Signing students up for an account was easy. I was then able to give a pre-assessment to tell me where each student was and I used that data to break my class into different ability groups. Now with the new unit feature, I can assign several lessons to groups of students at a time and set deadlines for each assignment to be completed. Once students complete an assignment, I can see how they did to guide any of my own small group instruction.</p>

      <h4><strong>Randall L. Carswell - South Charlotte Middle School, Charlotte, North Carolina</strong></h4>
      <i>Gifted and 8th Grade ELA Teacher; 45 students; 2,606 activities completed</i>

      <p>From North Carolina to Florida I have discovered, in a plethora of available programs, that Quill.org best meets my students grammar needs along with building a stronger sustained ability to closely read information in lieu of dangerous “skimming.” I appreciate the fact that students are required to slow down, check spelling, punctuation and the grammar lesson at hand in order to score “GREEN!” I am noticing a much better effort by my students in their other activities, whether it be writing or literature, they seem to pay closer attention leading to a stronger performance.</p>

  </div>
</div>
