<div class="page-title-wrap con-yellow ">
   <div class="page-title container">
    <div class="span16">
     <h1>On Learning</h1>
    </div>
   </div>
  </div>
  
  <div id="page-learning" class="page-content-wrap">
   <section class="sec-1">
    <article class="container clearfix">
     <div class="span6">
      <div class="sec-1-inner">
       <p>Our approach to learning is that learning happens when students think for themselves. This means solving problems, asking questions, creating ideas, constructing experiments and building projects. </p>
       <p>When students  solve their own problems they construct their own solutions, and in constructing solutions they learn. As the Chinese proverb of Xun Kuang goes:</p>
       <p><q>
        Tell me and I forget, teach me and I may remember, involve me and I learn.
       </q></p>
      </div>
     </div>
    </article>
   </section>
   <section class="sec-2 con-darkblue ">
    <article class="container clearfix">
     <div class="span6 offset6">
      <div class="sec-2-inner">
       <p>We actualize this principle in Empirical Grammar by employing Problem Based Learning. In problem based learning students are given problems to solve, and students learn by solving those problems. Our problems are articles laden with grammatical errors. Students assume the role of editor and correct these errors. Students than practice the concepts they do not understand by writing out sentences using those grammatical rules correctly. </p>
       <p>	Our methodology works because students learn by writing. We only use open ended responses, rather multiple choice questions, as open ended responses have been proven to increase students' learning and retention (McDaniel et al. 2007). In a multiple choice question a student has to eliminate all of the incorrect answers. </p>
       <p>Conversely, in an open ended response, a student isn't given an answer ahead of time and must construct an answer. The process of constructing answers creates neurological connections and this is how we learn. </p>  
      </div>
     </div>
    </article>
   </section>
   <section class="sec-3 con-skyblue-darker">
    <article class="container clearfix">
     <p>Right now online education is defined by passive, video based instruction. Our mission is to move past a passive model of learning and into an active model in which learn by being involved in the learning process, where students interact with knowledge and express their own ideas.  </p>
     <small>McDaniel, Roediger and McDermott (2007). Generalizing test-enhanced learning from the laboratory to the classroom. Psychonomic Bulletin &amp; Review vol. 14</small>
    </article>
   </section>
  </div>