<html>
<body>
<body bgcolor="#f7f5f5">
<MAP NAME=newlanding>

<AREA HREF="/account/new/" ALT="Sign Up" COORDS="464,203,602,240">

<AREA HREF="/activities/110?anonymous=true" ALT="Quill Grammar" target="_blank" COORDS="51,467,269,778">

<AREA HREF="https://quill-writer.firebaseapp.com/#/games?uid=afe0045c-475f-433a-cc7f-96397c98527d&sid=720e6618-c1fb-4c6c-b9c2-d35f8456a6d7&activityPrompt=7_fLLcFTx2U9rUFKeoTKwA" ALT="Quill Writer" target="_blank" COORDS="288,470,515,775">

<AREA HREF="/activities/1?anonymous=true" ALT="Quill Proofreader" target="_blank" COORDS="532,470,759,775">

<AREA HREF="http://sentenceshuffle.com/#/exercise/5PekckzaFd" ALT="Sentence Shuffle" target="_blank" COORDS="780,470,1005,777">

</MAP>

<center><IMG SRC="https://s3.amazonaws.com/new-homepage/quill_website_homepage_cropped.png" img align="middle" ALT=" " USEMAP="#newlanding" WIDTH=1050 HEIGHT=1219 ></center>

</body>
</html>
