<div class="h-middle">
	<div class="h-middle-extra">
		<div class="container">
			<div class="h-page-top-repeat">
				<div class="h-left-top">
					<div class="h-right-top" style="padding-top: 20px;">
					</div>
				</div>
			</div>
			<div class="h-page-extra">
				<div class="h-page-left-repeat">
					<div class="h-page-right-repeat">
						<div class="h-page-content-extra">
							<p class="notice"><%= notice %></p>
							<%= render partial: 'chapter_test', object: @chapter %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
