.media_navigation
  = render partial: 'pages/shared/pages_tabs'
  = render partial: 'pages/shared/media_subtabs'

iframe id="partners-iframe" src="https://community.quill.org/partners/" scrolling='no'
