<% @active_tab = 'In the Press' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>
<div class="container">
  <%= react_component('PressApp', props: {blogPosts: @blog_posts})%>
</div>
