hr
h1 Terms of Service
hr
p The following terms and conditions govern all use of the Quill website (The Website) and all content, services and products available at or through the website. The Website is owned and operated by Empirical Resolution, Inc. (“Empirical”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on this Site by Empirical (collectively, the “Agreement”).
br
p Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Empirical, acceptance is expressly limited to these terms. 
br
h2 Your Quill Account and Site. 
p If you create an account on the Website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account. You must immediately notify Empirical of any unauthorized uses of your account or any other breaches of security. Empirical will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
br
h2 Responsibility of Contributors. 
p If you post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
  ul
    li the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
    li if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
    li you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
    li the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
    li the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
    li the Content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;
    li your content is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;
    li your account is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your account name is not the name of a person other than yourself or company other than your own; and
    li you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Empirical or otherwise.

p By submitting Content to Empirical for inclusion on your Website, you grant Empirical a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your content. If you delete Content, Empirical will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.

p Without limiting any of those representations or warranties, Empirical has the right (though not the obligation) to, in Empirical’s sole discretion (i) refuse or remove any content that, in Empirical’s reasonable opinion, violates any Empirical policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in Empirical’s sole discretion. Empirical will have no obligation to provide a refund of any amounts previously paid.

br
h2 Payment & Quill Premium.
br
p This Section applies to Administrators and Teachers. Certain features of the site require premium access (“Premium Features”, a part of the Services). Quill's lessons will always be free, but we reserve the right to charge for Premium Features including but not limited to student metrics, credit verification, and customer support. We will notify you before we implement a fee for these services, and if you wish to continue using these services, you will have to pay all applicable fees for such services.
br
h3 Ordering Quill Premium.
br
p You may place orders for Quill Premium by following the directions on the Website or otherwise contacting the Website. The Premium Features are subject to the restrictions set forth on the applicable order page. the Website may change the pricing for the Services (from time to time in its sole discretion) by updating the Website and without any additional notice to you, provided that any changes will not take effect until your subscription renews.
br
h3 Order Duration and Quantity.
br
p Unless otherwise noted in writing, Quill Premium is ordered on a per user per academic year basis. Unless otherwise noted in writing, Quill Premium subscriptions last through the duration of the academic year they are purchased for, or for a period not to exceed 12 months, at Empirical’s sole discretion. A user is defined as a any student account that utilizes, or is used as part of, Quill Premium at some point during the subscription.
br
h3 Payment Terms
br
p If you order Premium Features, you agree to pay the then-current applicable fee listed on the Website or otherwise agreed to in writing by the Website. The Website will automatically bill your payment method submitted in ordering Premium Features on the date of activation. Except as otherwise stated herein, all payments are non-refundable. You hereby authorize the Website to bill your payment method as described above. Fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you are responsible for payment of all such taxes, levies or duties. If any fee cannot be charged to your payment method for any reason, the Website may provide you, via email, notice of such non-payment and a link for you to update your payment information. If such non-payment is not remedied within seven (7) days after receiving such notice of non-payment, then the Website may suspend the applicable Premium Features.
br
h3 Termination
br
p The Website reserves the right to terminate your use of the service for breach of these terms of service. Upon early termination of the Services by the Website, in the event that you have purchased Premium Features, the Website will refund to you a pro rata portion of fees for such Premium Services paid to the Website hereunder to the extent such fees are for Services that have not yet been rendered or made available to you. All provisions of the Terms which by their nature should survive, shall survive termination of Services, including without limitation, ownership provisions, indemnification, warranty disclaimers, and limitation of liability.
br 
h3 Questions about Quill Premium.
br
p If you have any questions about these clauses or Quill Premium, you may contact the Website, view our list of Questions and Answers (http://www.quill.org/premium), or contact Collin Cowdery, our Director of Partnerships at collin (at) quill (dot) org.
br
h2 Copyright Infringement and DMCA Policy. 
p As Empirical asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by Quill violates your copyright, you are encouraged to notify Empirical. Empirical will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Empirical will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Empirical or others. In the case of such termination, Empirical will have no obligation to provide a refund of any amounts previously paid to Empirical.
br
h2 Intellectual Property. 
p This Agreement does not transfer from Empirical to you any Empirical or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Empirical. Empirical, Quill, the Quill logo, and all other trademarks, service marks, graphics and logos used in connection with Quill, or the Website are trademarks or registered trademarks of Empirical or Empirical’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any Empirical or third-party trademarks.
br
h2 Changes. 
p Empirical reserves the right, at its sole discretion, to modify or replace any part of this Agreement. We will notify you by email of any changes made to this document. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. Empirical may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement. 
br
h2 Termination. 
p Empirical may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Quill account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. 
br
h2 Disclaimer of Warranties. 
p The Website is provided “as is”. Empirical and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Empirical nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
br
h2 Limitation of Liability. 
p In no event will Empirical, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Empirical under this agreement during the twelve (12) month period prior to the cause of action. Empirical shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
br
h2 General Representation and Warranty. 
p You represent and warrant that (i) your use of the Website will be in strict accordance with the Empirical Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
br
h2 Indemnification. 
p You agree to indemnify and hold harmless Empirical, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
