.feedback_row {
  display: flex;
}

.is-success.is-algo-optimal {
  background-color: #BA68C8 !important;
}

.algorithm-optimal-response {
  background-color: #F6ECF8 !important;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7 !important;
}

.not-found-response {
  background-color: #FFF0F2 !important;
}

.human-sub-optimal-response {
  background-color: #FFF9E8 !important;
}
.human-optimal-response {
  background-color: #F5FAEF !important;
}

.unexpanded {
  padding: 10px 15px 0px;
}

.expanded {
  padding: 20px 15px 10px;
}

.panel-checkbox.toggle {
  padding: 5px;
}

.menu-list a.no-feedback  {
  color: red;
}

#hover-form {
  display: flex;
  flex-direction: column;
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: 129px;
  left: 165.5px;
  margin-top: -6px;
  opacity: 1;
  border: black 1px solid;
  background-color: white;
  border-radius: 4px;
  transition: opacity 0.75s ease 0s;
}

.lesson-container {
  margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
