.edit {
  display: inline-block;
  min-width: 8px;

  .displayed-text {
    font-weight: bold;
  }

  &.unnecessary {
    border-bottom: 2px solid #9045c8;
    .top-section h2 {
      color: #9045c8;
    }
    &.active {
      background-color: #efddff;
    }
  }

  &.correct {
    border-bottom: 2px solid #4a9d00;
    .top-section h2 {
      color: #4a9d00;
    }
    &.active {
      background-color: #def7d7;
    }
  }

  &.incorrect {
    border-bottom: 2px solid #ea1337;
    .top-section h2 {
      color: #ea1337;
    }
    &.active {
      background-color: #ffdede;
    }
  }

  .edit-tooltip {
    background-color: white;
    right: 0px;
    position: absolute;
    width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-section {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      border-bottom: 1px solid #e0e0e0;
      h2 {
        font-size: 20px;
        margin-top: 0px;
        font-weight: bold;
      }
    }

    .middle-section {
      font-size: 18px;
      padding: 16px;
      color: #000000;
      flex: 1;
      overflow: scroll;

      .label {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        margin-bottom: 8px;
      }

      .unnecessary-explanation {
        margin-bottom: 24px;
      }

      .correct-answer {
        border-radius: 4px;
        background-color: #eeeeee;
        padding: 5px 16px;
      }

      .explanation {
        margin-top: 24px;
      }
    }

    .middle-section::-webkit-scrollbar {
      background-color: white;
      width: 7px;
      height: 7px;
    }

    .middle-section::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #7f7f7f;
      -webkit-box-shadow: inset 0 0 6px #7f7f7f;
    }

    .button-section {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #e0e0e0;
      align-items: center;
      .placeholder {
        width: 88px;
      }
    }

    .counter {
      text-align: center;
      color: #474747;
      font-size: 16px;
    }

    img {
      margin-right: 8px;
    }

    @media (max-width: 800px) {
      width: 100vw;
      position: fixed;
      top: 74px !important;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

  }
}
