.passage-container {
  .header-section {
    background-color: #ededed;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    .progress-bar-container {
      width: 100%;
    }
  }
  .inner-header {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    line-height: 1.27;
    color: #2f2f2f;
    margin-top: 4px;
  }
  .instructions {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 20px;
    border-radius: 2px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #e5e5e5;
    img {
      height: 22px;
      margin-right: 10px;
    }
    p {
      font-size: 20px;
      line-height: 1.45;
      color: #3f3f3f;
      margin-top: -3px;
    }
    div {
      display: flex;
      align-items: flex-start;
    }
    .edits-made {
      flex-direction: column;
      max-width: 200px;
      width: 100%;
      align-items: flex-end;
      margin-left: 10px;
      p {
        text-align: right;
        font-size: 10pt;
        padding-bottom: 0.75em;
      }
      .progress-bar-indication {
        background-color: white;
        border-radius: 6px;
        border: 1px solid #DDD;
        box-shadow: inset 0 0 3px 0 rgba(115,115,115,.15);
        margin: 0 auto;
        width: 100%;
        height: 10px;
      }
      .meter {
        background-color: #00c2a2;
        border: none;
        border-radius: 0;
        height: 100%;
        display: block;
      }
    }
  }

  // .editor, span, p {
  //   -webkit-touch-callout: none; /* iOS Safari */
  //     -webkit-user-select: none; /* Safari */
  //      -khtml-user-select: none; /* Konqueror HTML */
  //        -moz-user-select: none; /* Firefox */
  //         -ms-user-select: none; /* Internet Explorer/Edge */
  //             user-select: none; /* Non-prefixed version, currently
  //                                   supported by Chrome and Opera */
  // }

  .editor, .reviewer {
    max-width: 800px;
    margin: auto;
    line-height: 2.0;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    strong {
      color: #333;
    }
    p, .paragraph {
      margin-bottom: 10px;
    }
    ul {
      list-style: disc;
    }
    li {
      margin-left: 20px;
      line-height: 23px;
    }
    .paragraph {
      display: flex;
      flex-wrap: wrap;
      &.no-underline {
        .underlined {
          text-decoration: none !important;
        }
      }
    }
  }

  .reviewer-container {
    max-width: 800px;
    margin: auto;
    position: relative;
  }

  .reviewer {
    font-size: 21px;
    max-width: 448px;
    line-height: 1.52;
    margin: 0px;
    white-space: pre-wrap;
    @media (max-width: 800px) {
      max-width: 100%;
    }
  }

  .ql-editor:focus {
    outline: none;
  }

  .passage {
    background-color: white;
    padding: 40px 16px;
    u {
      text-decoration: none;
    }
  }

  .passage.underline-errors {
    u {
      text-decoration: underline;
    }
  }

  .bottom-section {
    padding: 40px 16px;
    background-color: #ededed;
    min-height: 100vh;
    .button-container {
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    @media (max-width: 800px) {
      padding-top: 24px;
    }
  }
}

.hidden-element {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}

.edit-input {
  border: none;
  margin-right: 4px;
  padding: 0px;
  font-size: 21px;
  line-height: 1.52;
  white-space: pre-wrap;
  &:focus {
    outline: none;
  }
  &.underlined {
    text-decoration: underline;
  }
  &.bolded {
    font-weight: 700;
  }
  &.no-right-margin {
    margin-right: 0px;
  }
}
