---
http_interactions:
- request:
    method: post
    uri: https://api.newrelic.com/v2/applications/638151804/deployments.json
    body:
      encoding: UTF-8
      string: '{"deployment":{"revision":"Commit: abcdef | Heroku release: v1","changelog":"The
        log","description":"abcdef","user":"Ripley","timestamp":"2020-12-07T16:08:29.222Z"}}'
    headers:
      X-Api-Key:
      - NRRA-a47cb6d3ab24aad821fea9491cea49b727016310dd
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxied-By:
      - Service Gateway
      Content-Type:
      - application/json
      Etag:
      - '"4d513835bcf966a980ef448ec04873a5"'
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: '{"deployment":{"id":50229373,"revision":"Commit: abcdef | Heroku release:
        v1","changelog":"The log","description":"abcdef","user":"Ripley","timestamp":"2020-12-07T08:08:29-08:00","links":{"application":638151804}},"links":{"deployment.agent":"/v2/applications/{application_id}"}}'
  recorded_at: Mon, 07 Dec 2020 16:08:29 GMT
recorded_with: VCR 4.0.0
