.ReactTable {
  .rt-table {
    border-radius: 8px;
  }
  .rt-tbody .rt-td {
    border: none;
    @include text-xs;
    &:has(.quill-tooltip) {
      overflow: visible;
    }
    .data-table-chip {
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 4px 8px 4px 6px;
      background-color: $quill-green-1;
      border: 1px solid $quill-green-20;
      width: min-content;
      max-width: 100%;
      &:focus {
        outline-offset: 3px;
      }
      &:not(.grey):hover {
        background-color: $quill-green-5;
      }
      &.grey {
        background-color: $quill-grey-1;
        border: 1px solid $quill-grey-15;
        p {
          color: $quill-grey-90;
        }
      }
      p {
        @include display-xs;
        color: $quill-green;
        margin-left: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .-loading {
    display: none;
  }

  .-sort-asc,
  .-sort-desc {
    box-shadow: none !important;
  }

  .-sort-asc {
    div::after {
      position: absolute;
      top: 8px;
      right: 4px;
      content: url('https://assets.quill.org/images/icons/s/collapse.svg');
    }
  }

  .-sort-desc {
    div::after {
      position: absolute;
      top: 8px;
      right: 4px;
      content: url('https://assets.quill.org/images/icons/s/expand.svg');
    }
  }

  .rt-thead .rt-th {
    background-color: $quill-grey-1;
    color: $quill-grey-90;
    @include display-xs;
    &:first-of-type {
      border-top-left-radius: 8px;
    }
    &:last-of-type {
      border-top-right-radius: 8px;
    }
  }

  .rt-tr-group .rt-tr {
    &:has(.data-table-chip) {
      align-items: center;
    }
  }

  &.progress-report, &.unit-template-profile-activities {
    border: none;
    max-width: $sitewidepagewidth;
    width: 100%;
    margin: auto;

    .rt-table {
      border: 1px solid $quill-grey-15;
    }

    .pagination-bottom {
      height: 40px;

      .-pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fafafa;
        border-top: none;
        border: 1px solid $quill-grey-15;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 8px;

        .-pageInfo {
          display: inline-flex;
          align-items: center;
          input {
            margin-left: 10px;
          }
          .-totalPages {
            margin-left: 3px;
          }
        }
      }
    }

    .rt-th {
      height: 40px;
      text-align: left;
      padding: 15px 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      &:focus {
        outline: none;
      }
    }

    &.has-green-arrow {
      .rt-th {
        &:last-of-type{
          border-left: none;
        }
        &:nth-last-of-type(2) {
          border-right: none;
        }
      }
    }

    .green-text {
      color: #027360;
    }

    .rt-tr-group {
      background-color: white;

      &:hover {
        background-color: $row-hover-green-white;
        .green-text {
          color: #00c2a2;
        }
      }
      &:last-of-type {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    .green-arrow {
      text-align: right;
      padding: 20px;
    }
  }
  &.unit-template-profile-activities .rt-table {
    margin-top: 20px;
    border-radius: 6px;
    overflow: visible;

    .activity-icon {
      width: 40px;
    }

    .rt-thead {
      overflow: visible;
    }

    .rt-tbody {
      overflow: visible;
    }

    .rt-th {
      border-right: none;
    }
    a {
      color: #027360;
      img {
        padding-left: 10px;
      }
    }

    .rt-td {
      &:hover .highlight-on-hover{
        color: #00c2a2;
      }
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  .-pagination {
    border-radius: 8px;
    border: 1px solid $quill-grey-10;
    background-color: $quill-grey-1;
    align-items: center;
    margin-top: 10px;
    box-shadow: none;
    padding: 8px;
    .-next {
      display: flex;
      justify-content: flex-end;
    }
    .-btn {
      background-color: $quill-white;
      border: 1px solid $quill-grey-15;
      border-radius: 8px;
      color: $quill-grey-90;
      width: 90px;
      height: 32px;
      padding: 4px 16px;
      font-size: 12px;
      font-weight: 600;
      &:not([disabled]):hover {
        background-color: $quill-grey-1 !important;
        color: $quill-grey-90 !important;
      }
      &:focus {
        outline: dashed 2px $quill-grey-80;
        outline-offset: 4px;
      }
    }
    .-pageInfo {
      font-size: 13px;
      font-weight: 600;
      .-pageJump {
        margin: 0px 10px;
        input {
          border-radius: 8px;
        }
      }
    }
  }
}

