<div class="container">
  <article class="simple-rounded-box">
    <h2>Edit Criterion for <%= @recommendation.name.titleize %> Recommendation</h2>
    <hr>
    <%= render 'form' %>
  </article>
</div>
