<h2>Completed all diagnostic diagnostic recommendations</h2>
<p><i>Assign a post-test diagnostic <a href="https://www.quill.org/assign">here</a>.</i></p>
<ul>
  <% notifications[..9].each do |notification| %>
    <li><%= notification.student_name %></li>
  <% end %>
  <%= render 'truncate_student_names', notifications: notifications %>
</ul>
