<h2>Completed all assigned activities</h2>
<p><i>Assign your students more activities <a href="https://www.quill.org/assign">here</a>.</i></p>
<ul>
  <% notifications.first(TeacherNotifications::RollupMailer::TRUNCATE_STUDENT_NAMES_AFTER).each do |notification| %>
    <li><%= notification.student_name %></li>
  <% end %>
  <%= render 'truncate_student_names', notifications: notifications %>
</ul>
