development:
  adapter: postgresql
  encoding: unicode
  database: quill_lms_development
  host:     localhost
  username: quill_dev

test:
  adapter: postgresql
  encoding: unicode
  database: quill_lms_test
  host:     localhost
  username: quill_test
