.feedback_row {
  display: flex;
}

.is-success.is-algo-optimal {
  background-color: #BA68C8 !important;
}

.algorithm-optimal-response {
  background-color: #F6ECF8 !important;
}

.algorithm-sub-optimal-response {
  background-color: #E9EDF7 !important;
}

.not-found-response {
  background-color: #FFF0F2 !important;
}

.human-sub-optimal-response {
  background-color: #FFF9E8 !important;
}
.human-optimal-response {
  background-color: #F5FAEF !important;
}

.unexpanded {
  padding: 10px 15px 0px;
}

.expanded {
  padding: 20px 15px 10px;
}

.panel-checkbox.toggle {
  padding: 5px;
}

.menu-list a.no-feedback  {
  color: red;
}

.response-pagination-container {
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  .response-pagination {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
  }
  ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
  }
  @media screen and (min-width: 769px) {
    .pagination>a:not(:first-child) {
      order: 1;
    }
  }
}

.sortable-list-item {
  border: 1px dashed gray;
  padding: .5em;
  margin: .5em;
}

.add-incorrect-sequence {
  .concept-explanation {
    margin: 16px 0px;
    border-radius: 4px;
  }

  .concept-explanation.empty {
    background-color: #ffcccc;
  }
}
