.feedback-row {
  display: flex;
  align-items: flex-start;
  img {
    margin-right: 8px;
    margin-top: 3px;
  }
  p {
    margin-bottom: 0;
    font-size: 20px;
    color: #5a5a5a;
    line-height: 1.45;
  }
  &.admin-feedback-row {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.student-feedback-container {
  position: relative;
  padding: 16px;
  background-color: #e5e5e5;
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  color: #3f3f3f;
  font-size: 20px;
  line-height: 1.45;
  p {
    animation: fadein 0.8s 1;

    @keyframes fadein {
      0%  {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &.success {
    background-color: #d3e7bd;
    padding: 13 17 16 20;
    border-left: 3px solid #498900;

    p {
      color: #457818;
    }

    animation: successpulse 0.8s 1;

    @keyframes successpulse {
      0%  {
        background-color: #d3e7bd;
      }
      50% {
        background-color: #c0e09c;
      }
      100% {
        background-color: #d3e7bd;
      }
    }
  }

  &.revise {
    background-color: #ffe4b7;
    padding: 13 17 16 20;
    border-left: 3px solid #b17410;
    animation: revisepulse 0.8s 1;

    @keyframes revisepulse {
      0%  {
        background-color: #ffe4b7;
      }
      50% {
        background-color: #f5ba5b;
      }
      100% {
        background-color: #ffe4b7;
      }
    }

    p {
      color: #875a12;
    }
  }
}

.question {
  padding-bottom: 100px;

  h1 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #2f2f2f;
    margin-bottom: 8px;
  }

  .ant-row-flex {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .example {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
  }

  .top-section, .question-section {
    padding: 20px 30px 0px;
  }

  .prompt {
    font-size: 30px;
    line-height: 1.27;
    color: #2f2f2f;
  }

  .input-field {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    -webkit-appearance: none;
    line-height: 1.45;
    border: none;
    z-index: 20;
    padding: 20px;
    resize: none;
    line-height: 1.45;
    color: #000;
    background-color: white;
    margin-top: 20px;
    &:focus {
      outline: none;
    }
    &.disabled {
      background-color: #eeeeee;
    }
  }

  .input-field:empty::before {
    content: attr(placeholder);
    color: #757575;
    font-size: 20px;
  }

  .feedback {
    padding: 25px 2.35765%;
    box-shadow: 0 500px 2px 500px #ededed;
    font-size: 18px;
    div {
      width: 44em;
      margin: auto;
    }
  }

  .correct {
    background-color: #d2ffe8;
  }

  .incorrect {
    background-color: #ffdede;
  }

  .try-again {
    background-color: #ffecd2;
  }

  .quill-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .ant-btn {
    border-radius: 6px;
    background-color: #00c2a2;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    border: none;
    height: 40px;
  }
}
