.question {
  .ant-row-flex {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .meter {
    background-color: #00c2a2;
    border: none;
    borderRadius: 0;
    height: 100%;
    display: block;
  }

  .progress-bar-section {
    max-width: 210px;
    width: 100%;

    p {
      text-align: right;
      font-size: 10pt;
      padding-bottom: 0.75em;
    }
  }

  .progress-bar-indication {
    background-color: #f2f2f2;
    border-radius: 6px;
    border: 1px solid #DDD;
    boxShadow: inset 0 0 3px 0 rgba(115,115,115,.15);
    margin: 0 auto;
    width: 100%;
    height: 10px;
  }
  .example-button {
    margin: 1em 0;
  }
  h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  .example {
    border-bottom: 1px solid #DDD;
    padding-bottom: 1em;
  }
  .example-container {
    transition: 0.25s ease-out;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    .example {
      overflow: hidden;
    }
    &.show {
      max-height: 500px;
      transition: 0.25s ease-in;
      opacity: 1;
    }
  }

  .instructions {
    margin: 1em 0;
    max-width: 80%;
  }

  .top-section, .question-section {
    padding: 20px 30px;
  }

  .top-section {
    background-color: #ededed;
  }

  .question-section {
    background-color: white;
  }

  .prompt {
    font-size: 22px;
    font-family: 'courier new';
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .input-field {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 22px;
    font-family: 'courier new';
    width: 100%;
    margin-top: 20px;
    border: 1px solid #DDD;
    border-radius: 6px;
    resize: none;
    &.disabled {
      background-color: #eee;
    }
  }

  .feedback {
    padding: 25px 2.35765%;
    box-shadow: 0 500px 2px 500px #ededed;
    font-size: 18px;
    .inner-container {
      max-width: 50em;
      display: flex;
      align-items: center;
      margin: auto;
    }
    img {
      margin-right: 15px;
    }
  }

  .correct {
    background-color: #d2ffe8;
  }

  .incorrect {
    background-color: #ffdede;
  }

  .try-again {
    background-color: #ffecd2;
  }

  .check-answer-button {
    margin-top: 10px;
  }

  .ant-btn {
    border-radius: 6px;
    background-color: #00c2a2;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    border: none;
    height: 40px;
  }
}
