.select-search-box__search {
    display: block;
    width: 74%;
    height: 32px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: white;
    outline: none;
    font-size: 14px;
    padding-left: 8px;
    color: #303030;
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    font-family: sans-serif;
    line-height: 50px;
    justify-content: flex-start;
    padding-right: 36px;
}
.select-search-box__options {
    max-height: 200px;
    overflow: scroll;
    background-color: white;
    border: 1px solid grey;
}
.select-search-box__option {
    font-size: 14px;
    font-weight: 400;
    color: #616b74;
    padding: 15px 15px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
