@import './question.scss';
@import './spinner.scss';
@import "./node_modules/bulma/bulma.sass";
@import './admin.scss';
@import './conceptFeedback.scss';
@import './selectSearch.scss';
@import './dashboards.scss';
@import '~react-table/react-table.css';
@import "~quill-component-library/src/styles/styles.scss";

.ant-layout {
  height: 100vw;
  background-color: #ededed;
  font-family: adelle-sans,Helvetica,Arial,sans-serif;
}
