body {
  background-color: #fafafa;
  font-family: adelle-sans, Arial;
  color: #3b3b3b;
}
.container {
  margin: auto;
  max-width: 950px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 70px auto;
  display: block;
}
.text {
  max-width: 627px;
  width: 100%;
}
.illustration {
  padding-top: 30px;
}
h1 {
  font-size: 36px;
  font-weight: normal;
}
.try-again {
  font-weight: bold;
}
.dont-worry {
  font-weight: bold;
  color: #348fdf;
}
.contact-us {
  font-size: 22px;
}
.return-time {
  font-weight: bold;
  font-size: 24px;
}
button, .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 9px;
  width: 220px;
  height: 45px;
  border-radius: 6px;
  border: none;
  background-color: #00c2a2;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
button:hover {
  outline: none;
}

.upgrading p {
  font-size: 20px;
}

.upgrading .contact-info {
  color: #027360;
  text-decoration: none;
}

.timeout p {
  font-size: 24px;
}

.timeout  .contact-info {
  color: #18b891;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .text {
    margin: auto;
  }
  .illustration {
    display: none;
  }

}
