.generic-mini-container {
    max-width: 100%;
    text-align: center;
    h1 {
        font-size: 24px;
        font-weight: 600;
        margin: 30 0 15 0px;
    }
}
.generic-minis {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    a {
      color: black;
    }
}
.generic-mini {
    color: #333333;
    font-size: 12px;
    min-width: 300px;
    width: 300px;
    height: 270px;
    background: #fff;
    border: solid 1px #cecece;
    padding: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        margin-top: 7px;
    }
    .img-wrapper {
        height: 135px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            padding-top: 20px;
        }
    }
    &:hover {
        outline: solid 2.5px #00c2a2;
    }
    p { font-size: 14px;
        line-height: 1.57;
        margin-bottom: 10px;
    }
}
