.unit-template-profile {
  width: 100%;
  margin: auto;
  background-color: #f8f6f6;
  padding-bottom: 8em;
  .unit-template-profile-container {
    margin: auto;
    width: 950px;
    padding-top: 54px;

    h2 {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #646464;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      text-align: center;
      margin: 4px 0px 20px;
    }

    .ReactTable.unit-template-profile-activities .rt-table a img {
      padding-left: 20px;
    }

    .ReactTable .rt-th, .ReactTable .rt-td {
      padding-top: 2.5px;
      padding-bottom: 4px;
    }

    .ReactTable.unit-template-profile-activities .rt-table .rt-tr:hover a.highlight-on-hover {
      color: #00c2a2;
      h1 {
        margin: 5px 0px;
      }
    }

    .row-link-disguise {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ReactTable .rt-thead {
      border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    }

    a:hover {
      text-decoration: none;
    }
  }
  .related-activity-packs {

  }
  .first-content-section {
    margin-bottom: 4em;
    margin-top: 75px;
    .description {
      max-width: 500px;
      .unit-template-profile-description {
        h3 {
          border-bottom: 1px solid #cecece;
          padding-bottom: 8px;
        }
        ul {
          padding: 8px 0px 16px 16px;
          li {
            padding: 8px 0px 8px;
          }
        }
      }
      dl {
        dt {
          margin-bottom: 0.5em;
        }

        dd {
          margin-bottom: 2em;
          font-size: 16px;
          line-height: 1.5em;
        }
      }
      a {
        color: #027360;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .assign-buttons-and-standards {
      max-width: 400px;
    }

    button {
      margin-left: 0px;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    .time {
      text-align: center;
      svg {
        margin-right: 5px;
      }
    }

    .login-or-signup-container {
      background-color: white;
      margin-bottom: 24px;
      .login-or-signup-buttons {
        display: flex;
        margin-top: 16px;
      }
      .quill-button {
        font-size: 15px;
        margin-right: 16px;
        margin-bottom: 0px;
      }
    }

    .evidence-warning-container {
      padding: 0;
      border-bottom: none;
      .evidence-warning {
        background-color: #ffffe0;
        padding: 16px 24px;
        border: 1px solid #cecece;
        margin-bottom: 1.9em;
        .header {
          font-weight: 600;
          margin-bottom: 8px;
        }
      }
    }


    .standards-and-concepts {
      margin: 1.9em 0em 0em;
      background-color: white;

      dl {
        margin-bottom: 0em;
        dt {
          margin-bottom: 1.2em;
        }

        dt.concepts {
          margin-top: 3em;
          margin-bottom: 0.2em;
        }

        dd {
          margin-bottom: 1.2em;
        }

        dd.concept {
          display: inline-block;
          padding: 0.2em 0.5em;
          border-radius: 5px;
          background-color: $verylightgray;
        }
      }
    }

    .share {
      margin-top: 1.9em;
      background-color: white;
    }
  }

  button.see-all-activity-packs {
    margin-top: 4em;
  }

  .preview-button {
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: bold;
  }

  .card {
    width: 460px;
  }
}
