
#lesson_planner {
  margin-bottom: 100px;

  .my-lessons {
    .dropdown__control {
      border-radius: 6px;
      padding: 7px 14px;
      height: 40px;
      min-width: 200px;
      border: solid 1px #cecece;
      border-radius: 6px !important;
      width: 188px;
    }
  }
  .bs-wizard {
    right: 50px !important;
  }
  .list-filter-options-container {
    // needed to get the centering to work
    // http://stackoverflow.com/questions/283961/centering-a-div-block-without-the-width
    text-align: center;
    .list-filter-options {
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      margin-top: 60px;
      margin-bottom: 30px;

      .list-filter-option {
        padding: 5px;
        clear:none;
        float:left;
        text-decoration: none;
        margin-right: 45px;
      }
      .list-filter-option:last-child {
        margin-right: 0px;
      }
      .list-filter-option.selected,
      .list-filter-option:hover {
        border-bottom: 2px solid black;
      }
    }
  }
  .css-label {
    overflow: hidden;
    text-overflow: ellipsis;;
  }

  .unit-template {
    width: 100%;
    margin-top: 30px;
    outline: 1px solid rgb(100,100,100);
    position: relative;
    cursor: pointer;

    .first-row {
      padding-left: 12px;
      padding-top: 16px;
      background-color: grey;
      color: white;
      font-weight: bold;
      height: 200px;
      font-size: 18px;

      .standards-count {

      }
      .unit-template-category-label-container {
        .unit-template-category-label {
          float:right;
          background-color: rgba(0,0,0,0.2);

          padding: 5px;
          font-size: 12px
        }
      }
      .unit-template-name {
        margin-top: 18px;
        font-size: 22px;
        font-weight: 900;
      }
    }

    .picture {
      position: absolute;
      bottom: 50px;
      left: 27px;
      height: 80px;
      width: 80px;
      overflow: hidden;
      border-radius: 50%;
      img {
        height: 100%;
      }
    }

    .white-row {
      background-color: white;
      color: rgb(100,100,100);
      height: 70px;
      font-weight: 400;
      padding-top: 36px;
      .info-row {
        padding-left: 12px;
        line-height: 18px;
        height: 18px;
        .activities-count {
          float:right;
          .fa-th-list {
            margin-right: 5px;
          }
        }
        .time {
          vertical-align: middle;

          .fa-clock {
            vertical-align: middle;
            font-size: 18px;
            margin-right: 5px;
            float:left;
          }
          .time-number {
            float:left;
          }
        }

      }
    }
  }
}
