
.unit-tabs {
	li {
		cursor: pointer;
	}
}

.container.manage-units {

	padding-top: 80px;

	.vertical-align {
		display: flex;
		align-items: center;
	}


	.delete-unit {
		cursor: pointer;
		color: #137779;
	}

	.unit-label {
	  font-weight: bold;
	  margin-top: 50px;
	  text-align: left !important;
	  border-bottom: none;
	  border-top: 1px solid #cecece !important;
	  cursor: pointer;
	  background-color: #e6e6e6;
	  padding: 8px 12px;
	  width: 100% !important;
	  border-top-left-radius: 5px;
	  
	  border-left: 1px solid #cecece;
	  border-top-right-radius: 5px;
	  border-right: 1px solid #cecece;
	  padding-left: 17px;
	}
	table {
		margin-top: 0px !important;
		padding-left: 10px;
		border: 1px solid #cecece !important;

	  	border-bottom-right-radius: 5px;
	 	border-bottom-left-radius: 5px;
	 	width: 100%;
	 	tr {
	 		border-bottom: 1px solid #cecece !important;
	 		td {
	 			text-align:left !important;
	 			border: none !important;
	 			padding-top: 10px !important;
	 			padding-bottom: 10px !important;
	 			.vcenter {
	 				height: 100%;
	 			}
	 		}
	 		td.icon-column {
	 			//width: 50px;
	 		}

	 	}
	 	

	}

	



}

/*


.manage-classes table {
  margin-top: 20px;
  border-collapse: separate;
  margin-bottom: 0;
}
.manage-classes table a {
  color: #308183;
}
.manage-classes 

.manage-classes table tbody tr {
  background: #f7f5f5;
}
.manage-classes table tbody tr td {
  font-size: 14px;
  padding: 20px 12px;
}
.manage-classes table tbody tr td:nth-child(1) {
  text-align: left;
  border-left: 1px solid #cecece;
}
.manage-classes table tbody tr td:nth-child(2) {
  text-align: center;
}
.manage-classes table tbody tr td:nth-child(3) {
  text-align: center;
}
.manage-classes table tbody tr td:nth-child(4) {
  text-align: right;
  border-right: 1px solid #cecece;
}
.manage-classes table tbody tr:last-child td {
  border-bottom: 1px solid #cecece;
}
.manage-classes table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.manage-classes table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
.manage-classes .table > thead > tr > th,
.manage-classes .table > tbody > tr > th,
.manage-classes .table > tfoot > tr > th,
.manage-classes .table > thead > tr > td,
.manage-classes .table > tbody > tr > td,
.manage-classes .table > tfoot > tr > td {
  vertical-align: middle;
}

*/