@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,600);
.ul-reset-mixin {
  padding: 0;
  margin: 0;
  list-style: none;
}
.border-mixin {
  border: 1px solid #cecece;
}
.section-mixin {
  padding: 30px 0;
  border-bottom: 1px solid #cecece;
}
.input-mixin {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 12px;
}
.select-mixin {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
}
.icon-wrapper-mixin {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.checkbox-mixin {
  height: 21px;
  width: 21px;
  border-radius: 5px;
  background: #e6e6e6;
  border: 1px solid #cecece;
}
.button-mixin {
  padding: 13px 25px;
  font-size: 14px;
  border-radius: 5px;
}
.fa-caret-mixin {
  color: #737373;
  font-size: 1.3em;
}
.transition-mixin {
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
}
@media screen and (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
@media screen and (max-width: 1200px) {
  .how-we-grade {
    float: left !important;
    text-align: left;
    margin-top: 15px;
  }
}
@media screen and (max-width: 565px) {
  .select-gray {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .icon-legend .icon-wrapper {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .activity-page-dropdown-wrapper .button-select {
    margin-top: 10px;
  }
  .activity-page-dropdown-wrapper .dropdown-menu {
    min-width: 98% !important;
  }
}
@media screen and (max-width: 1200px) {
  #activity-planner .how-we-grade {
    margin-top: 0;
  }
}
@media screen and (max-width: 992px) {
  .bs-wizard {
    right: 50px !important;
  }
}
@media screen and (max-width: 768px) {
  .start-activity-wrapper .button-green {
    float: left;
    margin-top: 20px;
  }
}
/* ==========================================================================
   Font embedding
   ========================================================================== */
/* ==========================================================================
   Tags
   ========================================================================== */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
section {
  padding: 30px 0;
  border-bottom: 1px solid #cecece;
}
button:not(.select-mixin) {
  padding: 13px 25px;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
  border: 0;
  font-weight: bold;
}
button:not(.select-mixin):focus {
  outline: none;
}
.button-select {
  text-align: left;
  width: 100%;
}
.button-gray {
  background-color: #737373;
  color: #fff;
}
.button-gray:hover {
  background-color: #616161;
}
.button-green {
  background-color: #5bc1a9;
  color: #fff;
}
.button-green:hover {
  color: white;
  text-decoration: none;
}
/* ==========================================================================
   Navbar styles
   ========================================================================== */
.image-brand img {
  padding-top: 5px;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 16px;
  line-height: 45px;
  padding: 10px 20px;
  font-weight: 500;
  border-top: none;
}
.navbar-default .navbar-nav > li > a .fa {
  color: #737373;
  margin-left: 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-top: none;
}
.navbar-default .navbar-nav {
  position: relative;
  left: 30px;
}
/* ==========================================================================
   Inputs, selects, etc
   ========================================================================== */
input {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 12px;
}
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 28px;
  height: 23px;
  display: inline-block;
  line-height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 23px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  left: 4px;
  margin: 0;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -23px;
}
label.css-label {
  background-image: image-url('scorebook/checkbox-sprite.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
select {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
}
select:focus {
  outline: none;
}
.button-select-wrapper button {
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #000;
  font-size: 14px;
  padding: 9px 14px;
  text-align: left;
  width: 100%;
}
.button-select-wrapper .dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}
.button-select-wrapper .dropdown-menu a {
  padding: 5px 14px;
  display: block;
  color: #000;
}
.button-select-wrapper .dropdown-menu a:hover {
  background: #f0f0f0;
}
.button-select-wrapper .dropdown-menu a:hover,
.button-select-wrapper .dropdown-menu a:focus,
.button-select-wrapper .dropdown-menu a:active {
  -webkit-appearance: none;
}
.button-select-wrapper a:hover {
  text-decoration: none;
}
.button-select-wrapper .fa {
  color: #737373;
  position: relative;
  float: right;
  font-size: 1.3em;
  text-align: right;
  line-height: normal;
  width: auto;
}
.select-white-wrapper .dropdown-menu {
  width: 265px !important;
}
.select-gray-wrapper .dropdown-menu {
  width: 100% !important;
}
.select-box-disabled {
  background: #ebebeb;
}
.select-white-wrapper {
  width: 280px;
}
.select-white {
  background: #fff;
}
.select-gray-wrapper {
  width: 220px;
}
.select-gray {
  background: #ebebeb;
}
.select-box-trigger {
  padding: 13px 40px;
  width: 284px;
  display: block;
  position: relative;
  right: 20px;
}
/* ==========================================================================
   Tabs
   ========================================================================== */
.tabs-navigation-list li a {
  font-size: 16px;
}
.nav-tabs {
  border-bottom: none;
}
#first-tab {
  border-left: 1px solid #cecece;
}
.tab-subnavigation-wrapper {
  padding: 8px 0;
  background: #fff;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}
.tab-subnavigation-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.tab-subnavigation-wrapper ul li {
  float: left;
  padding: 10px 16.5px;
}
.tab-subnavigation-wrapper ul li a {
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
}
.tab-subnavigation-wrapper ul li a.active {
  background: #e6e6e6;
}
.student-subnavigation {
  padding: 12px 0;
}
.student-subnavigation a {
  font-size: 14px;
  color: #999;
}
.student-subnavigation a:hover {
  text-decoration: none;
}
.student-subnavigation span {
  line-height: 24px;
}
.student-subnavigation img {
  margin-right: 9px;
}
.student-course-info a {
  margin-right: 50px;
}
.student-course-info a:last-child {
  margin-right: 0;
}
.tab-subnavigation-breadcrumb-wrapper {
  padding: 8px 0;
  background: #fff;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}
.tab-subnavigation-breadcrumb-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
.tab-subnavigation-breadcrumb-wrapper ul li {
  float: left;
}
.tab-subnavigation-breadcrumb-wrapper ul li a {
  font-size: 14px;
}
/* ==========================================================================
   Icons
   ========================================================================== */
.icons-wrapper {
  padding-top: 30px;
}
.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  float: left;
}
.icon-row {
  margin-bottom: 15px;
}
.icon-row .icon-wrapper {
  margin-right: 17px;
  float: none;
  display: inline-block;
}
.icon-row:first-child {
  margin-top: 26px;
}
.icon-row:last-child {
  margin-bottom: 0;
}
.icon-green {
  background: #58b146;
}
.icon-orange {
  background: #f8a724;
}
.icon-red {
  background: #e8522c;
}
.icon-gray {
  background: #b7b7b7;
}
.icon-pencil {
  background-image: image-url('scorebook/icon-pencil.png');
  background-repeat: no-repeat;
  background-position: 9px;
}
.icon-puzzle {
  background-image: image-url('scorebook/icon-puzzle.png');
  background-repeat: no-repeat;
  background-position: 11px 7px;
}
.icon-flag {
  background-image: image-url('scorebook/icon-flag.png');
  background-repeat: no-repeat;
  background-position: 9px;
}
.icons-description-wrapper {
  float: left;
  position: relative;
  margin-left: 10px;
}
.title {
  font-size: 14px;
}
.title-v-centered {
  line-height: 40px;
}
.title-not-started {
  line-height: 40px;
  position: static;
}
.explanation {
  font-size: 13px;
}
.how-we-grade {
  float: right;
}
.how-we-grade:hover .fa {
  color: #747474;
}
.how-we-grade .fa {
  color: #cecece;
  margin-left: 10px;
}
.section-header {
  font-weight: 600;
  font-size: 24px;
}
/* ==========================================================================
   Activity Planner styles
   ========================================================================== */
#activity-planner input:not([type="checkbox"]) {
  width: 326px;
  margin-top: 20px;
}
#activity-planner button:not(.button-select) {
  margin-left: 20px;
  border: none;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}
#activity-planner .select-box-trigger {
  width: auto;
}
#activity-planner .activity-planner-select {
  display: inline-block;
  width: auto;
  margin-right: 18px;
}
#activity-planner .selects-wrapper {
  margin-top: 20px;
}
.activity-page-dropdown-wrapper {
  margin-top: 20px;
}
.activity-page-dropdown-wrapper .dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 94%;
  border-radius: 5px;
  font-size: 14px;
}
.activity-page-dropdown-wrapper .dropdown-menu a {
  padding: 5px 14px;
  display: block;
  color: #000;
}
.activity-page-dropdown-wrapper .dropdown-menu a:hover {
  background: #f0f0f0;
}
.activity-page-dropdown-wrapper .dropdown-menu a:hover,
.activity-page-dropdown-wrapper .dropdown-menu a:focus,
.activity-page-dropdown-wrapper .dropdown-menu a:active {
  -webkit-appearance: none;
}
.learning-to-use {
  padding: 30px 0 85px 0;
}
/* ==========================================================================
   Tables
   ========================================================================== */
#activity-planner table {
  margin-top: 20px;
  border-collapse: separate;
  margin-bottom: 0;
}
#activity-planner table thead {
  background: #f7f5f5;
  border: 1px solid #cecece;
}
#activity-planner table thead tr th {
  border-left: 1px solid #cecece;
  border-bottom: none;
  border-top: 1px solid #cecece;
  cursor: pointer;
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
}
#activity-planner table thead tr th .fa {
  float: right;
  color: #737373;
  font-size: 1.3em;
}
#activity-planner table thead tr th.active {
  background: #e6e6e6;
}
#activity-planner table thead tr th:nth-child(1) {
  width: 5%;
  border-top-left-radius: 5px;
  text-align: center;
}
#activity-planner table thead tr th:nth-child(2) {
  width: 7%;
}
#activity-planner table thead tr th:nth-child(3) {
  width: 53%;
}
#activity-planner table thead tr th:nth-child(4) {
  width: 15%;
}
#activity-planner table thead tr th:nth-child(5) {
  width: 20%;
  border-top-right-radius: 5px;
  border-right: 1px solid #cecece;
}
#activity-planner table tbody tr:nth-child(3),
#activity-planner table tbody tr:nth-child(4),
#activity-planner table tbody tr:nth-child(5),
#activity-planner table tbody tr:nth-child(8),
#activity-planner table tbody tr:nth-child(9) {
  background: #f7f5f5;
}
#activity-planner table tbody tr {
  background: #fff;
}
#activity-planner table tbody tr td {
  font-size: 14px;
  padding: 7px;
}
#activity-planner table tbody tr td:nth-child(1) {
  text-align: center;
  border-left: 1px solid #cecece;
}
#activity-planner table tbody tr td:nth-child(2) {
  text-align: center;
}
#activity-planner table tbody tr td:nth-child(3) {
  text-align: left;
}
#activity-planner table tbody tr td:nth-child(4) {
  text-align: right;
}
#activity-planner table tbody tr td:nth-child(5) {
  text-align: left;
  border-right: 1px solid #cecece;
}
#activity-planner .table > thead > tr > th,
#activity-planner .table > tbody > tr > th,
#activity-planner .table > tfoot > tr > th,
#activity-planner .table > thead > tr > td,
#activity-planner .table > tbody > tr > td,
#activity-planner .table > tfoot > tr > td {
  vertical-align: middle;
}
.learning-to-use table tbody tr {
  background: #f7f5f5 !important;
}
.learning-to-use table tbody tr:first-child td:nth-child(1) {
  border-top-left-radius: 5px;
}
.learning-to-use table tbody tr:first-child td:nth-child(3) {
  border-top-right-radius: 5px;
}
.learning-to-use table tbody tr:last-child td:nth-child(1) {
  border-bottom-left-radius: 5px;
}
.learning-to-use table tbody tr:last-child td:nth-child(3) {
  border-bottom-right-radius: 5px;
}
.learning-to-use table tbody tr td:nth-child(1) {
  width: 5%;
}
.learning-to-use table tbody tr td:nth-child(2) {
  width: 90%;
  text-align: left !important;
}
.learning-to-use table tbody tr td:nth-child(3) {
  border-right: 1px solid #cecece;
  width: 5%;
}
.learning-to-use .fake-border {
  width: 99.4%;
  margin: 0 auto;
  position: relative;
  bottom: 1px;
}
/* ==========================================================================
   Student Page Styles
   ========================================================================== */
.start-activity-wrapper button {
  float: right;
}
.student-page .section-header {
  margin-bottom: 30px;
}
/* ==========================================================================
   Fake table styles
   ========================================================================== */
.fake-table {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-bottom: 20px;
}
.fake-table:last-child {
  margin-bottom: 0;
}
.fake-table .header {
  background-color: #e6e6e6;
  padding: 12px 12px;
  color: #000;
  font-weight: bold;
}
.fake-table .line {
  padding: 10px 12px;
  border-bottom: 1px solid #cecece;
}
.fake-table .line:last-child {
  border-bottom: 0;
}
.fake-table .line a {
  color: #308183;
}
.fake-table a {
  float: right;
  line-height: 40px;
}
.fake-table .header-list-counter {
  color: #aeaeae;
  float: right;
  font-size: 14px;
  font-weight: normal;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
  margin: 0;
}
.pagination .fa {
  color: #737373;
  font-size: 1.3em;
}
/* ==========================================================================
   Tooltips
   ========================================================================== */
.tooltip.in {
  opacity: 1;
}
/* ==========================================================================
   Helper styles to quickly manipulate the looks
   ========================================================================== */
.fake-border {
  border-top: 1px solid #cecece;
}
.no-border {
  border: none;
}
.no-pl {
  padding-left: 0;
}
.no-pr {
  padding-right: 0;
}
#crumbs {
  text-align: center;
  position: relative;
  left: 30px;
}
#crumbs ul {
  list-style: none;
  display: inline-table;
}
#crumbs ul li {
  display: inline;
}
#crumbs ul li a {
  display: block;
  float: left;
  background: #e6e6e6;
  text-align: center;
  padding: 6px 38px;
  position: relative;
  margin: 0;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #cecece;
}
#crumbs ul li a:hover {
  color: #000;
}
#crumbs ul li a.active {
  background: #fff;
  color: #000;
}
#crumbs ul li a.active:after {
  border-left: 16px solid #fff;
}
#crumbs ul li a:after {
  content: "";
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #e6e6e6;
  position: absolute;
  right: -16px;
  top: 0;
  z-index: 1;
}
#crumbs ul li a:hover:after {
  content: "";
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #fff;
  position: absolute;
  right: -16px;
  top: 0;
  z-index: 1;
}
#crumbs ul li a:before {
  content: "";
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #cecece;
  position: absolute;
  left: 0;
  top: 0;
}
#crumbs ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px 38px 6px 20px;
}
#crumbs ul li:first-child a:before {
  display: none;
}
#crumbs ul li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child a:after {
  display: none;
}
#crumbs ul li a:hover {
  background: #fff;
}
#crumbs ul li a:hover:after:not(.active) {
  border-left-color: #e6e6e6;
}
.bs-wizard {
  border-bottom: 0 !important;
  margin-bottom: 40px;
  position: relative;
  right: 75px;
}
/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #000;
  font-size: 14px;
  margin-top: 15px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  display: block;
  background: #5bc1a9;
  top: 20px;
  left: 55%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 2px;
  box-shadow: none;
  margin: 10px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #5bc1a9;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #cecece;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step.disabled > .progress {
  background-color: #cecece;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
/*END Form Wizard*/
