@import "variables";
@import "custom";

.premium-bar {
  background: $darkorange;
  color: white;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

.progress-reports-nav {
  .btn {
    padding: 0;
    border: 0;
    margin-left: 10px;
    line-height: 26px;
    height: 26px;
    padding-left: 14px;
    padding-right: 14px;

    &:hover, &:focus {
      color: white;
    }
  }
}

// The alignment of the link is off when it contains a button.
a.progress-reports-nav {
  padding-top: 14px !important;
  padding-bottom: 10px !important;
}


.container.progress-report {
  padding-top: 50px;
  margin-bottom: 130px;
}

.progress-report {
  a {
    color: $darkgreen;
    text-decoration: none;
  }

  .table-header-arrow {
    padding-left: 9px;
  }

  .table {
    margin-bottom: 0px;

    tr {
      line-height: 39px;
    }

    th.sorter, td {
      padding-left: 11px;
      padding-right: 11px;
    }

    th.sorter.current {
      background-color: #e6e6e6;
    }
  }

  table {
    font-size: 14px;
    table-layout: fixed;

    // All column sizes are based on 14px font
    .proficient-column {
      width: 115px;
    }

    .near-proficient-column {
      width: 165px;
    }

    .not-proficient-column {
      width: 146px;
    }

    .standard-level-column {
      width: 155px;
    }

    .standard-name-column {
      width: 400px;
    }

    .students-column {
      width: 110px;
    }

    .activities-column {
      width: 115px;
    }

    .standards-column {
      width: 120px;
    }

    .class-name-column {
      width: 120px;
    }

    .student-view-column {
      width: 110px;
    }

    .standard-view-column {
      width: 115px;
    }

    .student-name-column {
      width: 150px;
    }

    .average-score-column {
      width: 100px;
    }

    .overall-mastery-status-column {
      width: 190px;
    }

    .mastery-status-column {
      width: 145px;
    }

    .standard-prefix-column {
      width: 80px;
    }

    .app-name-column {
      width: 135px;
    }

    .score-column {
      width: 65px;
    }

    .activity-name-column {
      width: 250px;
    }

    .date-column {
      width: 65px;
    }
  }

  .breadcrumb {
    margin-bottom: 10px;
  }

  .export-csv {
    float: right;

    button {
      font-weight: normal;
    }
  }

  .fa-close {
    font-size: 1.3em;
  }

  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
    text-align: center;
  }

  .header-section {
    .description {
      margin-top: 14px;
    }
  }

  .pagination {
    margin-top: 0; // Duplicated from elsewhere in the CSS
  }

  .table {
    thead {
      border: 1px solid $lightgray;
    }
    th {
      border: 1px solid $lightgray;
    }
    tbody {
      background: white;

      tr {
        border: 1px solid $lightgray;
      }
    }
  }
}

.progress-report-filters {
  margin-top: 0px;
  margin-bottom: 19px;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 8px;

  &.proficient {
    @extend .icon-green;
  }

  &.near-proficient {
    @extend .icon-orange;
  }

  &.not-proficient {
    @extend .icon-red;
  }
}