.container.progress-report {
  padding-top: 20px;
}

.progress-report {
  .fa-close {
    font-size: 1.3em;
  }

  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
    text-align: center;
  }
}