@import "variables";
@import "custom";

.container.progress-report {
  padding-top: 20px;
}

.progress-report {
  .fa-close {
    font-size: 1.3em;
  }

  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
    text-align: center;
  }
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;

  &.proficient {
    @extend .icon-green;
  }

  &.near-proficient {
    @extend .icon-orange;
  }

  &.not-proficient {
    @extend .icon-red;
  }
}