@import './bootstrap-carousel.scss';
@import '../../../../app/assets/stylesheets/variables.scss';
@import '../../../../app/assets/stylesheets/pages/home.scss';
@import '../../../../app/assets/stylesheets/bootstrap.scss';
@import '../../../../app/assets/stylesheets/shared/tabs.scss';
@import '../../../../app/assets/stylesheets/shared/navbar.scss';
@import '../../../../app/assets/stylesheets/shared/subnav.scss';
@import '../../../../app/assets/stylesheets/shared/footer.scss';
@import '../../../../app/assets/stylesheets/shared/flash.scss';
@import '../../../../app/assets/stylesheets/shared/banner.scss';
@import './notification_bar.scss';
@import './typography.scss';
@import './tool-section.scss';
@import './schools-section.scss';
@import './teacher-stories.scss';
@import './evidence-tool.scss';


body {
  background-color: $white;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "adelle-sans", "Arial", sans-serif;
}

.q-h1, .q-h2 {
  font-weight: 700;
}

.info-section a:hover {
  text-decoration: none;
}

a.q-button:hover {
  border-color: inherit;
  color: inherit;
}

p.feature-heading {
  font-size: 16px;
  margin: 1em 0;
}

.diagnostic-tool .info-section .ell-section {
  .header, .flags {
    width: 100% !important;
  }
  .flags {
    display: flex;
    flex-direction: column;
    .flags-row {
      justify-content: space-around;
      .flag-container {
        .flag-label {
          margin: 0;
        }
      }
    }
  }
}

.tool-container {
  h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.83em 0;
  }

  .how-to {
    h2 {
      font-weight: 600;
    }

    p, a {
      font-size: 16px;
    }

    p {
      margin: 1em 0;
    }
  }

}

a {
  text-decoration: none;
}

a.q-button {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-family: $family-sans-serif;
  font-size: 18px;
  margin-top: 5px;
  padding: 6px 20px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  &.icon-button,
  &.learn-more-button {
    box-sizing: border-box;
    font-weight: 600;
    height: 40px;
    margin-right: 10px;
  }
  &.learn-more-button {
    border: 1px solid white;
    &:hover {
      border: none;
    }
  }
  &.cta-button {
    // padding-left: 33px;
    // padding-right: 33px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 33px;
  }
  &.cta-home {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
  }
  &.cta-home:hover {
    color: #ffffff;
    background-color: #00DFB1;
  }
  &:hover.text-white {
    color: white;
  }
  &.small-button {
    font-size: 14px;
  }
  &:hover {
    text-decoration: none;
  }
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  &.centered {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.vertically-centered {
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  &.centered {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.vertically-centered {
    align-items: center;
  }
}





$list: (quillgreen: $quillgreen, quillred: $quillred, quillnavbar: $quillnavbar, quillforestgreen: $quillforestgreen, quillblue: $quillblue, quillteal: $quillteal, white: $white, black: $black, orange: $orange, red: $red, darkred: $darkred, darkorange: $darkorange, darkblue: $darkblue, green: $green, darkgreen2: $darkgreen2, lightgray: $lightgray, darkgray: $darkgray, purple: $purple, lessonspurple: $lessonspurple);

@each $name, $color in $list {
  .text-#{$name} {
    color: $color;
    &:hover, &:focus {
      color: $color;
      text-decoration: none;
    }
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .q-button.bg-#{$name} {
    &:hover {
      background-color: darken($color, 5%);
    }

    &:active {
      background-color: darken($color, 10%);
    }
  }
  .border-#{$name} {
    border: 1px solid $color;
  }
  .border-dashed-#{$name} {
    border: 1px dashed $color;
  }
}

.diagnostic-tool {
  .info-section {
    .summary {
      margin-bottom: 35px;
    }
    .ell-section {
      height: 66px;
      max-width: 490px;
      margin-top: 35px;
      .header {
        line-height: 28px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #fedfde;
        color: #c51916;
        font-size: 12px;
        padding-left: 9px;
        border-bottom: solid 1px #ff4441;
        width: 465px;
        @media (max-width: 1150px) {
          width: 276px;
        }
      }
      .flags {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: white;
        color: #3b3b3b;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        width: 474px;
        display: flex;
        justify-content: center;
        span {
          display: flex;
          align-items: center;
        }
        @media (max-width: 1150px) {
          width: 285px;
          line-height: 24px;
          flex-direction: column;
          span {
            justify-content: center;
          }
        }
        img {
          width: 16px;
          margin-left: 5px;
          margin-right: 3px;
        }
      }
      @media only screen and (max-width : 500px) {
        display: none;
      }
    }
  }
}

$background-images-list: (diagnostic-pattern-magnifier connect-pattern-bullseye grammar-pattern-puzzle proofreader-pattern-flag);

@each $background-image in $background-images-list {
  .bg-image-#{$background-image} {
    background-image: url("../../../../public/images/background_images/#{$background-image}.png");
    background-repeat: repeat;
    background-position-y: -10px;
  }
}

.bg-image-lessons-pattern {
  background-image: url("https://assets.quill.org/images/background_images/lessons-pattern.svg");
  background-position-y: -10px;
}


section.q-hero {
  width: 100%;
  min-height: 530px;
  background-image: url(../../../../public/images/homepage/homepage_pattern.png);
  background-position: center center;
  .navbar {
    background-color: initial;
  }
  .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .header {
      .q-h1 {
        margin-bottom: 0px;
      }
      p.text-white {
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }.new-tag {
      margin-bottom: 48px !important;
    }
  }
}

.evidence-explanation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 56px;
  padding-right: 56px;
  background-image: url("https://assets.quill.org/images/evidence/home_page/EvidenceLandingPage_BackgroundPattern5.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  .left-side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 622px;
    .header-and-icon-container {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      h1 {
        margin: 0;
      }
      .new-tag {
        margin-left: 16px !important;
      }
    }
    .description {
      font-size: 18px;
      margin: 0;
    }
    .divider-tab {
      background-color: #FFFFFF;
      width: 29px;
      height: 6px;
      opacity: 0.2;
      margin: 16px 0px 16px 0px;
    }
    .q-button {
      margin-top: 16px;
    }
  }
  #image {
    width: 380px;
    height: 360px;
  }
}

.topics-section {
  padding-top: 24px;
  padding-bottom: 56px;
  text-align: center;
  .inner-section {
    display: flex;
    justify-content: space-between;
    margin: 0px 56px 0px 56px;
    border-top: 1px solid #D9D9D9;
    padding-top: 64px;
    .topic-section {
      background-color: white;
      color: #2C7F9B;
      max-width: 355px;
      border-radius: 4px;
      .topic {
        font-weight: 700;
        font-size: 22px;
        margin: 12px 0px 12px 0px;
      }
      img {
        width: 355px;
        height: 239px;
      }
      .activity-title {
        font-size: 20px;
        margin: 18px 8px 10px 8px;
        max-width: 335px;
      }
      #first-title-topic {
        margin-bottom: 0 !important;
      }
      #second-title-topic {
        margin-top: 0 !important;
      }
      #under-development {
        margin-top: 24px;
      }
      .q-button {
        margin-bottom: 18px;
        border: 1px solid #2C7F9B;
        border-radius: 4px;
        font-size: 14px;
        padding: 13px 16px 13px 16px;
      }
    }
  }
}

.tool-carousel {
  padding-top: 0;
  text-align: center;
  .item {
    &.active {
      padding-bottom: 48px !important;
    }
    .topic-section {
      margin: 0px 16px 0px 16px;
      background-color: white;
      border-radius: 4px;
      p, a {
        color: #2C7F9B !important;
        height: auto !important;
      }
      .topic {
        padding-top: 8px !important;
        padding-bottom: 8px;
        font-weight: 700;
        font-size: 22px !important;
      }
      .activity-title,  #under-development {
        padding-top: 8px !important;
      }
      #under-development {
        padding-bottom: 8px;
      }
      .q-button {
        font-size: 14px;
        border: 1px solid #2C7F9B;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
  .carousel-indicators {
    li {
      margin: 0px 2px 0px 2px;
      height: 8px;
      width: 8px;
      &.active {
        margin: 0px 2px 0px 2px;
        background-color: #FFFFFF !important;
        height: 8px;
        width: 8px;
      }
    }
  }
}

.new-tag {
  background-color:#F3AC4E;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px !important;
  margin: 0 !important;
  padding: 2px 4px 2px 4px;
}

.q-hero-text {
  /* bring your own prefixes */
  text-align: center;
  p {
    font-size: 20px;
    max-width: 838px;
    margin: auto;
  }
  #mission {
    margin-top: 64px;
    margin-bottom: 80px;
  }
  .text-quillgreen:hover {
    color: #ffffff;
    background-color: #00DFB1;
  }
  @media only screen and (max-width : 600px) {
    text-align: left;
    padding: 0px 16px 0px 16px;
    .q-h1 {
      font-size: 24px !important;
    }
    .text-white {
      font-size: 16px;
    }
    .q-button {
      width: 100%;
      margin-left: 0px !important;
    }
  }
}

.q-hero-footer {
  text-align: center;
  background-color: #027360;
  p {
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 92px;
    margin: 0;
    .hero-footer-underline {
      border-bottom: 2px solid $quillgreen;
    }
  }

  @media only screen and (max-width : 600px) {
    p {
      line-height: 22px;
      text-align: left;
      font-size: 16px;
      padding: 24px 16px 24px 16px;
    }
  }
}

@media only screen and (max-width : 1099px) {
  .evidence-explanation-section, .topics-section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .evidence-explanation-section {
    flex-direction: column;
    padding-bottom: 24px;
    .header-and-icon-container {
      text-align: center;
    }
    #image {
      margin-top: 16px;
      max-width: 368px;
      height: auto;
    }
  }
  .topics-section {
    .inner-section {
      flex-direction: column;
      margin: 0;
      align-items: center;
      .topic-section {
        margin-bottom: 24px;
        #image {
          max-width: 343px;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width : 419px) {
  .cta-home {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1152px) and (min-width: 656px) {
  .info-section {
    .icon-button {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .icon-button,
  .learn-more-button {
    width: 227px;
    margin-right: none;
  }
  .press-cta {
    a.q-button.cta-button {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

// -ms-high-contrast is Microsoft-specific, available in IE 10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tool-section {
    .video-section {
      // IE has a bug regarding using minimum height without a specific height specified
        height: 610px;
        img {
          top: 30px;
        }
      }
    }
}

@media all and (max-width: 900px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .press-links {
    display: none !important;
  }

  .press-cta {
    a.q-button.cta-button {
      margin-top: 80px;
    }
  }
}
