.schools-section {
  // min-height: 311px;
  background-color: #f8f9f9;
  padding-top: 54px;
  padding-bottom: 87px;
  p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    // font-weight: 600;
    text-align: center;
    font-family: $family-sans-serif;
    color: #343434;
  }
  .schools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .schools-img-container {
      background-color: white;
      height: 100px;
      width: 197px;
      margin: 5px 5px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.17);
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.curriculum-section {
  // min-height: 311px;
  background-color: $quillgreen;
  padding-top: 54px;
  padding-bottom: 87px;
  p {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    // font-weight: 600;
    text-align: center;
    font-family: $family-sans-serif;
    color: $white;
  }
  .concepts {
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .concept-link {
      font-size: 14px;
      margin: 0 7px 15px;
      color: $white;
      background-color: $quillforestgreen;
      border-radius: 6px;
      line-height: 20px;
      padding: 10px 15px 7px;
    }

  }
}

.features-section {
  background-color: #f8f9f9;
  padding: 90px 0 36px;
  .features {
    max-width: 1038px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .feature {
      width: 330px;
      margin: 0 8px 35px;
      .feature-img-container {
        height: 50px;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
        }
      }
      .feature-heading {
        font-weight: bold;
      }
      .feature-sub-heading {
        font-size: 15px;
        color: #666666;
        line-height: 1.47;
      }
    }
  }

  @media only screen and (max-width : 450px) {
    padding: 35px 15px;
  }
}

.press-section {
  min-height: 382px;
  background-color: beige;
  position: relative;
  .background-img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .press-link-container {
    width: 100%;
    position: absolute;
  }
  .press-links {
    max-width: 1033px;
    z-index: 200;
    width: 100%;
    margin: 0 auto;
    height: 127px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.17);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    > img {
      flex: 1 1 1;
      overflow-y: auto;
      max-width: 100%;
    }
  }
  .press-cta {
    margin-top: 205px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    z-index: 200;
    left: 50%;
    a.cta-button {
      height: auto;
    }
    .get-started-link:hover {
      text-decoration: none;
    }
  }

  @media only screen and (max-width : 850px) {
    min-height: 200px;
    .press-links {
      height: 60px;
      > img {
        margin: 0 10px;
      }
    }
    .press-cta {
      margin-top: 100px;
      white-space: nowrap;
    }
  }

  @media only screen and (max-width : 450px) {
    .press-links > img {
      margin: 0 5px;
    }
  }
}

.how-section {
  padding: 60px 0 75px 0;
  max-width: 1020px;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #343434;
    margin-bottom: 83px;
  }

  .how-setup {
    display: flex;

  }

  .how-setup .how-img-container {
    background-color: #3adfbb;
  }
  .how-choose .how-img-container {
    background-color: #5aaef6;
  }

  .how-reporting .how-img-container {
    background-color: #f5ba5b;
  }

  .how-setup, .how-choose, .how-reporting  {
    h5 {
      font-size: 20px;
      font-weight: bold;
      color: #343434;
      margin-bottom: 0px;
      margin-top: 20px;
    }

    p {
      margin-top: 10px;
      max-width: 420px;
      font-size: 18px;
      line-height: 1.39;
    	letter-spacing: 0.1px;
    	color: #666666;

    }

  }

  .how-step-2-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    .how-choose {
      margin-top: 50px;
    }

    .how-reporting {
      margin-top: 325px;
    }
  }



  .how-img-container {
    max-width: 402px;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 6px;
    .setup-img {

    }
    .line {
      position: absolute;
      top: 105%;
      left: 50%;
    }
    .line-2 {
      position: absolute;
      bottom: 105%;
      left: 50%;
    }
  }

  @media only screen and (max-width : 1050px) {
    padding: 15px;
    max-width: none;
    // width: 100%;

    h3 {
      margin-bottom: 25px;
    }

    .how-img-container {
      width: inherit;
      min-width: 200px;
    }

    .how-setup, .how-choose, .how-reporting  {
      justify-content: center;
    }

    .how-step-2-3 {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      .how-choose {
        margin-top: 25px;
        display: flex;
      }

      .how-reporting {
        margin-top: 25px;
        display: flex;
      }
    }

    .line, .line-2 {
      display: none;
    }

  }

  @media only screen and (max-width : 630px) {
    .how-img-container {
      width: 100%;
      min-width: inherit;
      max-width: inherit;
    }

    .how-setup, .how-choose, .how-reporting  {
      justify-content: center;
      flex-direction: column;

      h5 {
        margin-top: 0px;
      }

      h5, p {
        padding-left: 10px;
      }
    }
  }
}

.premium-section {
  height: 608px;
  background-color: #e1f3f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .premium-text-container {
    justify-content: center;
    display: flex;
    .premium-header {
      font-family: $family-sans-serif;
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: normal;
      color: #343434;
    }
    .premium-text {
      font-family: $family-sans-serif;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #343434;
      margin: 20px 0px 20px 0px;
    }
  }
  .quill-premium-user-interfaces {
    width: 608px;
    height: 488px;
    object-fit: contain;
  }
  .premium-text-container {
    flex-direction: column;
    .premium-text {
      max-width: 296px;
    }
  }
  .premium-button-container {
    display: flex;
    .sales-button {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width : 1050px){
  .premium-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .premium-text-container {
    align-items: center;
    margin-bottom: 0px !important;
  }
  .premium-header {
    margin-top: 20px;
  }
  .premium-text {
    max-width: 70%;
    text-align: center;
  }
  .premium-button-container {
    margin-top: 10px !important;
  }
  .quill-premium-user-interfaces {
    max-width: 100%;
  }
}
