$tool-grey: #f8f9f9;

.q-button.bg-white {
  &.text-orange:hover, &.text-connect-yellow:hover {
    color: #ffffff;
    background-color: #f9b95c;
  }
  &.text-red:hover, &.text-darkred:hover {
    color: #ffffff;
    background-color: #ff6473;
  }
  &.text-lessonspurple:hover {
    color: #ffffff;
    background-color: #e358ab;
  }
  &.text-purple:hover {
    color: #ffffff;
    background-color: #c96cf0;
  }
  &.text-blue:hover, &.text-quillblue:hover {
    background-color: #6cb3ed;
    color: #ffffff;
  }
  &.text-quillteal:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.38)
  }
}

.tool-header {
  background-color: $quillgreen;
  .q-nav-bar {
    max-width: $sitewidepagewidth;
  }
}

.tool-section {
  min-height: 650px;

  a .q-h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
    color: $white;
    display: flex;
    align-items: center;
  }

  .info-section {
    width: 500px;
    margin-top: 142px;
    margin-left: 76px;

    &.right {
      margin-left: 150px;
      flex-grow: 1;

      > * {
        max-width: 465px;
      }
    }
  }

  .tool {
    color: $white;
    max-width: 1322px;
    min-height: 650px;
    width: 100%;
    margin: 0 auto;
  }

  .blurb {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
  }

  .light-bar {
    width: 29px;
    height: 6px;
    margin-bottom: 21px;
    background: rgba($white, .25);
  }

  .summary {
    font-size: 18px;
    line-height: 1.28;
    max-width: 420px;
    margin-bottom: 48px;
  }

  .video-section {
    max-width: 654px;
    min-height: 528px;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    video {
      max-width: 405px;
      border-radius: 12px;
      -webkit-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
      box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.2);
    }
  }

  .proofreader-tool {
    .video-section {
      background-image: url("../../../../public/images/homepage/proofreader_pattern.png");
    }
    .learn-more-button:hover {
      background-color: #fff;
      color: #358fe0;
    }
  }


  .diagnostic-tool {
    .video-section {
      background-image: url("../../../../public/images/homepage/diagnostic_pattern.png");
    }
    .learn-more-button:hover {
      background-color: #fff;
      color: #e8522c;
    }
  }

  .connect-tool {
    .video-section {
      background-image: url("../../../../public/images/homepage/connect_pattern.png");
    }
    .learn-more-button:hover {
      background-color: #fff;
      color: #f8a724;
    }
  }

  .grammar-tool {
    .video-section {
      background-image: url("../../../../public/images/homepage/grammar_pattern.png");
    }
    .learn-more-button:hover {
      background-color: #fff;
      color: #9c2bde;
    }
  }

  .lessons-tool {
    .video-section {
      background-image: url('https://assets.quill.org/images/homepage/lessonspatternhomepage.png')
    }
    .learn-more-button:hover {
      background-color: #fff;
      color: #a51070;
    }
  }

  @media only screen and (max-width : 1305px) {
    padding: 15px;
    .info-section.right {
      margin-left: 15px;
      margin-right: 35px;
    }
  }

  @media only screen and (max-width : 1100px) {
    padding: 15px;
    min-height: 450px;
    .info-section {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

    @media only screen and (max-width : 850px) {
      padding: 15px;

      .tool {
          min-height: 450px;
      }

      .info-section {
          margin-left: 35px;
        .icon-white {
          padding-left: 6px;
        }
      }

      .info-section.right {
          margin-left: 15px;
          margin-right: 35px;
          margin-right: 15px;
      }
    }
    @media only screen and (max-width : 730px) {
      padding-bottom: 25px;

      .tool {
          flex-direction: column;

          &.connect-tool,
          &.proofreader-tool {
              flex-direction: column-reverse;
          }
      }

      .connect-tool .video-section,
      .lessons-tool .video-section,
      .diagnostic-tool .video-section,
      .proofreader-tool .video-section,
      .grammar-tool .video-section {
        background-image: none;
        min-height: initial;
        margin-bottom: 25px;
        height: 371px;
      }

      .info-section {
          margin-left: 0;
          width: 100%;
      }

      .info-section.right {
          margin-left: 0;
          margin-right: 0;
      }

      .light-bar {
          margin-bottom: 0;
      }

      .summary {
          margin-bottom: 20px;
      }

      .icon-button, .learn-more-button {
          display: block;
          margin-right: 0px !important;
      }

    }
}

.tool-container {
    text-align: center;

    .q-button {
      box-sizing: border-box;
      height: 45px;
      font-size: 18px;
      &.cta-button {
        font-size: 18px;
      }
    }

    .bg-lessons-purple {
      background-color: #bd0c7e;
    }

    .bg-connect-yellow {
        background-color: #ea9a1a;
    }

    .bg-connect-teal {
      background-color: #2a91b4;
  }

    .text-connect-yellow {
        color: #ea9a1a;
    }

    .boy-playing-quill {
      margin: 60px auto 2px;
      img {
        width: 95%;
      }
    }
    #testimonial {
      .author {
        color: #606060;
        font-weight: bold;
        font-size: 24px;
        span {
          color: #343434;
        }
      }
      .quote {
        font-size: 24px;
        &#connect-testimonial-quote {
          max-width: 848px !important;
        }
      }
      .q-button {
        span {
          line-height: 1.22;
          font-weight: bold;
        }
      }
    }
}

.tool-carousel {
    padding-top: 55px;

    @media only screen and (min-width: 800px) {
      &.lessons-tool-carousel {
        .carousel {
          .item {
            img {
              width: initial;
            }
          }
        }
      }
    }

    .carousel {
        max-width: 1322px;
        margin: auto;
        min-height: 389px;

        .item {
            .wrapper {
                height: 600px;
                background-color: white;
                margin: auto;
                max-width: 950px;
                padding: 20px;
                width: 75%;
                -webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
                @media only screen and (max-width: 800px) {
                  height: 300px;
                }
            }

            img {
                margin: auto;
                max-height: 562px;
                width: 100%;
            }

            p {
                color: #343434;
                padding-top: 25px;
                max-width: 600px;
                width: 75%;
                margin: auto;
                font-size: 16px;
                height: 80px;
            }
            padding-bottom: 130px;
        }

        .carousel-indicators {
            bottom: 5px;

            li {
                background-color: #cacaca;
                border: none !important;

                &.active {
                    background-color: $quillgreen !important;
                }
            }
        }

        .carousel-control {
            opacity: 1;
            background-position-y: 37%;
            z-index: 1;
        }
    }
}

.tool-hero {
  padding: 45px 0 30px;
  color: white;
  box-sizing: border-box;
  @media only screen and (max-width : 550px) {
    padding-top: 30px;
  }
  &.tool-section {
    min-height: min-content;
  }
  .cta-button {
    padding: 11px 19px 8px;
  }
  .tool-ctas {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    .learn-more-button {
      margin-left: 10px;
      height: 45px;
      padding-top: 8px;
      padding-bottom: 8px;
      &:hover {
        border: 1px solid white;
      }
    }
  }
  .q-h1 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description {
    margin: auto;
    max-width: 750px;
    width: 95%;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 25px;
  }
}

.tool-try-it {
    min-height: 166px;
    padding: 20px 0 45px;
    color: white;
    .q-h1 {
      font-size: 36px;
    }
    @media only screen and (max-width : 435px) {
      padding-bottom: 20px;
      .q-h1 {
        font-size: 30px;
      }
    }
}

.tool-animation-section {
    padding: 15px;
    max-height: 488px;
    .tool-animation {
        margin: 60px auto;
        border-radius: 12px;
        max-width: 405px;
        border-radius: 12px;
        -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);

        @media only screen and (max-width : 435px) {
          max-width: calc(100%);
        }
    }
    @media only screen and (max-width : 800px) {
      background-image: none !important;
    }
}

.tool-testimonial {
    padding: 54px 10px 58px;

    .quote {
        width: 95%;
        padding-top: 13px;
        margin: auto;
        max-width: 762px;
        font-size: 21px;
        line-height: 1.5em;
        color: #3f3f3f;
    }

    .q-button {
        margin-top: 10px;
        border: solid 1px #979797;
        span {
            line-height: 30px;
            font-weight: 500;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.tool {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: $white;
    max-width: 1322px;
    min-height: 650px;
    width: 100%;
    margin: 0 auto;
}

.blurb {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
}

.how-to {
  display: flex;
  margin: 60px auto 80px;
  text-align: left;
  max-width: 1000px;
  padding: 0px 50px;
  .text {
    flex: 1;
    @media only screen and (max-width: 800px) {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
    }
  }
  h2 {
    font-weight: 600;
    color: #00c2a2;
  }
  p {
    max-width: 460px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    font-weight: bold;
    height: 40px;
    border-radius: 3px;
    i, svg {
      margin-right: 5px;
      margin-top: 3px;
    }
  }
  @media only screen and (max-width: 800px) {
    img {
      display: none;
    }
  }
}

.light-bar {
    width: 29px;
    height: 6px;
    margin-bottom: 21px;
    background: rgba($white, .25);
}

.summary {
    font-size: 15px;
    line-height: 1.53;
    max-width: 420px;
    font-weight: 200;
    margin-bottom: 48px;
}

.video-section {
    // height: 100%;
    align-self: center;

    video {
        max-width: 654px;
        width: 100%;
    }
}
@media only screen and (max-width : 1305px) {
  .info-section.right {
      margin-left: 15px;
      margin-right: 35px;
  }
}
@media only screen and (max-width : 1100px) {
  .video-section img {
    display: none !important;
  }

  .info-section {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width : 850px) {
  .tool {
    min-height: 450px;
  }

  .info-section {
    margin-left: 35px;
  }

  .info-section.right {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (max-width : 730px) {
    .tool {
        flex-direction: column;

        &.connect-tool,
        &.proofreader-tool {
            flex-direction: column-reverse;
        }
    }

    .info-section {
        margin-left: 0;
        width: 100%;
    }

    .info-section.right {
        margin-left: 0;
        margin-right: 0;
    }

    .light-bar {
        margin-bottom: 0;
    }

    .summary {
        margin-bottom: 20px;
    }

    .icon-button {
        display: block;
    }
    .learn-more-button {
      margin-right: 0px;
    }
}

.tool-sign-up {
    background-color: $tool-grey;
    min-height: 266px;
    padding-top: 54px;

    .q-h1 {
        font-size: 28px;
    }

    .q-button {
        margin-top: 34px;
    }

    @media only screen and (max-width : 435px) {
      padding: 26px 15px 50px 15px;
      min-height: 0px;
      .q-h1 {
        font-size: 22px;
      }
      .q-button {
        margin-top: 15px;
      }
    }
}
// all for diagnostic page

.walk-thru-wrapper {
    background-color: white;

    .walk-thru-step {
        height: 322px;

        &:nth-child(odd) {
            background-color: $tool-grey;
        }

        .q-h2 {
            font-size: 28px;
            color: #343434;
            vertical-align: middle;
        }

        p {
            font-size: 18px;
            line-height: 1.39;
            color: #414141;
            max-width: 480px;
        }

        .blurb {
            max-width: 457px;
            text-align: left;
            h2 img{
              margin-left: 12px;
              height: 20px;
            }
            a {
              color: #0d614d;
              text-decoration: underline;
            }
            p img {
              width: 20px;
              margin-right: 3px;
              margin-bottom: -3px;
            }
        }

        .ell-press-announcement {
          color: #027360 !important;
        }

        .content-wrapper {
            max-width: 960px;
            width: 95%;
            margin: auto;
        }

        img {
          max-width: 100%;
        }
    }

    .negative-left-margin {
        margin-left: -90px;
    }

    #ell-diagnostic-img {
      margin-left: -30px;
      @media screen and (max-width: 1025px) and (min-width: 930px) {
        margin-left: -20px;
      }
    }

    &.desktop {
        @media (max-width: 930px) {
            display: none;
        }
    }

    &.mobile {
      @media (min-width: 931px) {
        display: none;
      }

        #shrink-me {
            width: 100%;
            max-width: 517px;
        }

        .walk-thru-step {
            height: auto;
            padding: 55px 10px 35px;
        }

        .blurb {
            padding-top: 45px;
            margin: auto;
            text-align: center;
        }
    }

    .icon-button {
        display: block;
    }
}

.bg-tool-orange {
    background-color: #EA9A1A;
}

.bg-tool-red {
    background-color: #ff4441;
}

.bg-tool-blue {
    background-color: #358FE0;
}

.bg-tool-purple {
    background-color: #9C2ADE;
}

.bg-tool-magenta {
  background-color: #bd0d7e;
}

.text-orange {
    color: #EA9A1A;
}

.text-red {
    color: #ff4441;
}

.text-blue {
    color: #358FE0;
}

.text-purple {
    color: #9C2ADE;
}

.icon-white {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

.tool-page-icon {
  height: 28px;
  width: 42px;
}

.diagnostic-tool-page {
  .tool-animation-section {
    background-image: url('../../../../public/images/landing_page_diagnostic_pattern.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  .walk-thru-wrapper {
    &.desktop {
        @media (max-width: 930px) {
            display: none;
        }
    }

    &.mobile {
        @media (min-width: 930px) {
            display: none;
        }
      }
    }
  }

.connect-tool-page {
  .tool-animation-section {
    background-image: url('../../../../public/images/landing_page_connect_pattern.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .walk-thru-wrapper {
    .walk-thru-step {
      &:first-of-type {
        background-color: #fff8f0;
      }
      .content-wrapper {
        position: relative;
        .img-attempt-3 {
          margin-top: -10px;
        }
        .img-attempt-4 {
          margin-top: 10px;
        }
        .arrow {
          position: absolute;
          &.arrow-1 {
            left: -130px;
            top: 165px;
          }
          &.arrow-2 {
            left: 445px;
            top: 193px;
          }
          &.arrow-3 {
            left: -121px;
            top: 150px;
          }
        }
        .prompt {
          text-align: left;
          margin-left: -58px;
          .prompt-header {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.4px;
            color: #f5ba5b;
            margin: 0px auto 10px;
          }
          .prompt-text {
            font-size: 24px;
            font-weight: 600;
            margin: 0px auto;
            padding-bottom: 8px;
          }
        }
        .blurb {
          &.introduction {
            h2 {
              margin-bottom: 10px;
            }
            p {
              margin-top: 0px;
            }
          }
          &.blurb-attempt-1 h2 {
            margin-top: 54px;
          }
          &.blurb-attempt-2 h2 {
            margin-top: 70px;
          }
          &.blurb-attempt-3 h2 {
            margin-top: 62px;
          }
          &.blurb-attempt-4 {
            h2 {
              margin-top: 42px;
            }
            p {
              margin-bottom: 0px;
              &:nth-of-type(2) {
                margin-top: 2px;
              }
            }
          }
          h2 {
            span {
              color: #b3b3b3;
            }
          }
          p {
            span {
              font-style: italic;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1278px) {
      .arrow {
        display: none;
      }
    }
    &.desktop {
      .walk-thru-step:first-of-type {
          background-image: url('https://assets.quill.org/images/tools/connect/background_pattern.png');
          background-repeat: no-repeat;
          height: 320px;
          @media screen and (min-width: 1540px) {
            background-position: 43%;
          }
          @media screen and (max-width: 1540px) and (min-width: 1350px) {
            background-position: 30%;
          }
          @media screen and (max-width: 1350px) and (min-width: 1290px) {
            display: none;
          }

        }
      // @media screen and (max-width: 1376px) {
      //   display: none;
      // }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .arrow {
          display: none;
        }
      }
    }
    &.mobile {
      .walk-thru-step {
        .blurb {
          max-width: 524px;
          margin: auto;
          text-align: left;
          h2 {
            font-size: 18.5px;
          }
          p {
            max-width: 100%;
          }
        }
        img, .prompt {
          margin-left: 25px;
          margin-top: auto;

          @media screen and (max-width: 500px) {
            margin-left: auto;
          }
        }
      }
      @media screen and (min-width: 1377px) {
        display: none;
      }
    }
  }
}

.proofreader-tool-page {
  .tool-animation-section {
    background-image: url('../../../../public/images/landing_page_proofreader_pattern.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.grammar-tool-page {
  .tool-animation-section {
    background-image: url('../../../../public/images/landing_page_grammar_pattern.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.lessons-tool-page {
  .tool-animation-section {
    background-image: url('https://assets.quill.org/images/tools/lessons/lessons_tool_pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  .walk-thru-wrapper.mobile {
    @media (min-width: 930px) {
        display: none;
    }
  }
  .walk-thru-wrapper.desktop {
    @media (max-width: 930px) {
        display: none;
    }
    .walk-thru-step {
      height: 360px;
      &:nth-child(2), &:nth-child(3) {
        img {
          margin-left: -65px;
        }
      }
      &:nth-child(4) {
        img {
          margin-left: -50px;
        }
      }
    }
  }
  .tool-carousel {
    background-color: #f1f2f2;
  }

  .tool-testimonial {
    img {
     max-height:430px;
     margin-bottom:40px;
     @media only screen and (max-width: 800px) {
       width: 100%;
     }
    }
  }
}

// TODO this classname is given to a tags on diagnostic tool page that currently go nowhere
// should be removed when these links are up
.need-links {
  display: none;
}

#q-and-a {
  background-color: #5aaef6;
  color: white;
  padding: 50px 86px;
  text-align: left;

  @media only screen and (max-width: 800px) {
    padding: 50px 10px;
  }

  .q-and-a-inner-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
  }
  .qa-section {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #5bbefe;
    .expand-collapse-button {
      background-color: #58aef6;
      border: none;
      margin-top: 2em;
      p {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .qa {
    max-width: 1030px;
    width: 100%;
  }
  .question {
    font-size: 24px;
    font-weight: 600;
    margin: 1em 0;
    background-color: #58aef6;
    border: none;
    text-align: left;
  }
  .question:focus {
    outline: none !important;
  }
  .answer {
    font-size: 20px;
    color: white;
    p {
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
  .expand-or-collapse {
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 1.3em;
  }
  .support-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 30px;
  }
}
