.admin-dashboard-top {
  margin-top: 30px;
  margin-bottom: 30px;

  .representative {
    .representative-header {
      font-weight: 600;
      margin-bottom: 7px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.4;
      color: #3d3d3d;
    }

    .rep-info {
      margin-bottom: 30px;

      img {
        height: 150px;
        width: 150px;
        margin-right: 25px;
      }
    }

    .representative-contact {
      margin-top: 15px;
    }
  }

}
