.admin-dashboard-top {
  margin-top: 60px;
  margin-bottom: 40px;

  .representative {
    .representative-header {
      font-weight: 700;
      margin-bottom: 25px;
    }

    .rep-info {
      margin-bottom: 60px;
    }

    .representative-contact {
      margin-top: 15px;
    }

    .thumb-elliot {
      background-image: image-url('thumb-elliot.png');
      background-repeat: no-repeat;
      height: 100%;
    }
  }

}
