<div class="container progress-report">
  <div class="row">
    <ol class="breadcrumb standards-breadcrumb">
      <li><a href="/teachers/progress_reports/standards/classrooms"><i class='fas fa-icon fa-chevron-left'></i> Back to Standards Report</a></li>
    </ol>
    <div class="progress-reports-standards-standards" data-url=<%= url_for(format: :json)%>></div>
  </div>
</div>
