<p>Congratulations! You were approved as an admin of <%= @school_name %>.</p>

<p>As an admin, you have access to the Admin Dashboard. This dashboard allows you to manage accounts, access reports, and view student data. Please note, however, that access to some of these features requires a school or district subscription to Quill Premium.</p>

<p><%= link_to 'View the Admin Dashboard', "#{process.env.DEFAULT_URL}/teachers/admin_dashboard" %></p>

<p>Need help? Please reply to this email.</p>
