<h3>Hello Team! Here are the stats for today:</h3>
<br></br>
<ul>
    <li>Daily Active Teachers: </li>
    <li>Daily Active Students: </li>
    <li>New Teacher Sign Ups: </li>
    <li>New Student Sign Ups: </li>
    <li>Classrooms created: </li>
    <li>Teacher Conversion: </li>
    <li>Activities Assigned: </li>
    <li>Sentences Written: </li>
    <li>Diagnostics Completed: </li>
</ul>
<br></br>
<h3>Keep up the great work!</h3>