<p>Hi <%=@user.first_name%>,</p>

<p>Thank you for your interest in renewing Quill Premium! Unfortunately, your renewal purchase could not be processed. Please attempt your purchase again at https://www.quill.org/subscriptions, or reply to this email for further assistance. We look forward to helping your students strengthen their writing skills!</p>

<p>Best,</p>
<p><%= @constants[:signatures][:quill_team]%></p>
