<p>Sorry, we couldn’t verify you as an admin of <%= @school_name %>. You can still use Quill but won’t be able to use all features of the Admin Dashboard.</p>

<p>If you believe this is a mistake, please reply to this email. Before doing so, we recommend updating your email to your official school’s email and ensuring that your LinkedIn profile is up to date.</p>
