<p>Hi <%=@name%>,</p>

<p>Thank you for assigning the ELL Starter Diagnostic! Once you assign the recommendations, 
your students will have access to comprehensive vocabulary lists for every pack. These lists
 are located in the Student Center under <a href="https://www.quill.org/student-center/topic/student-how-to">How To</a> and in the Teacher Center under <a href="https://www.quill.org/teacher-center/topic/teacher-materials">Teacher Materials</a>.</p>

<p>Please let us know if you have any questions!</p>

<p>Best,</p>
<p>The Quill Team</p>