<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag 'stats_email' %>
  </head>
    <body class="email-body">
      <div class='header'>
        <div class='main-width'>
          <img src='https://quill-cdn.s3.amazonaws.com/images/logos/quill-logo-reverse.png' height="40px"/>
        </div>
      </div>
      <div class='body-text'>
        <p class="small-text">Hi <%=@name%>,</p>
        <p class="small-text">Thank you for assigning the ELL Starter Diagnostic! Once you assign the recommendations,
          your students will have access to comprehensive vocabulary lists for every pack. These lists
          are located in the Student Center under <a href="https://www.quill.org/student-center/topic/student-how-to">How To</a> and in the Teacher Center under <a href="https://www.quill.org/teacher-center/topic/teacher-materials">Teacher Materials</a>.</p>
        <p class="small-text">For directions on how to assign recommendations, please refer to <a href="https://support.quill.org/en/articles/1589522-how-do-i-assign-diagnostic-recommendations">this</a> article.</p>
        <p class="small-text">Please let us know if you have any questions!</p>
        <p class="small-text">Best,</p>
        <p class="small-text"><%= @constants[:signatures][:quill_team]%></p>
      </div>
  </body>
</html>
