<p>Hi <%=@user.first_name%>,</p>

<p>Exciting news! You are now an admin for <%=@school.name%> on Quill. As an admin, you will have school-wide access to teacher accounts and student reports for your school.</p>

<p><strong>How do you get to the Admin Dashboard?</strong></p>
<p>The next time you sign in to Quill, you will see a new “Admin Dashboard” tab added to your account. The Admin Dashboard page will show you a list of all teachers who have signed up to Quill at your school.</p>

<a href=<%= "#{ENV['DEFAULT_URL']}/teachers/admin_dashboard" %>>View Your Admin Dashboard</a>

<p>For more information about Quill School Premium or admin accounts, you can reach out to me directly. If you have any questions or issues with your account, please check out our <a href="https://support.quill.org/quill-premium">premium support page</a> or reach out to us at <a href="mailto:support@quill.org">support@quill.org</a>.</p>

<p>Enjoy Quill Premium,</p>
<p><%= @constants[:signatures][:quill_team]%></p>
