files:
  # Selecting 20 for these script names because we want to run them
  # after any other scripts we didn't set up have run
  # (They run in alphabetical order by name)
  "/opt/elasticbeanstalk/hooks/appdeploy/post/20_restart_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
      ln -sf /var/app/current/log/sidekiq.log /var/app/containerfiles/logs/sidekiq.log
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/20_mute_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
      PIDFILE=/var/app/containerfiles/pids/sidekiq.pid
      if [ -f ${PIDFILE} ]; then
        if [ -d /proc/`cat ${PIDFILE}` ]; then
          kill -TSTP `cat ${PIDFILE}`
        fi
      fi
  "/opt/elasticbeanstalk/hooks/configdeploy/post/20_restart_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
      ln -sf /var/app/current/log/sidekiq.log /var/app/containerfiles/logs/sidekiq.log
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/20_mute_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
      PIDFILE=/var/app/containerfiles/pids/sidekiq.pid
      if [ -f ${PIDFILE} ]; then
        if [ -d /proc/`cat ${PIDFILE}` ]; then
          kill -TSTP `cat ${PIDFILE}`
        fi
      fi
  "/opt/elasticbeanstalk/hooks/restartappserver/post/20_restart_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      initctl restart sidekiq || initctl start sidekiq
      ln -sf /var/app/current/log/sidekiq.log /var/app/containerfiles/logs/sidekiq.log
  "/opt/elasticbeanstalk/hooks/restartappserver/pre/20_mute_sidekiq":
    mode: "000755"
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
      PIDFILE=/var/app/containerfiles/pids/sidekiq.pid
      if [ -f ${PIDFILE} ]; then
        if [ -d /proc/`cat ${PIDFILE}` ]; then
          kill -TSTP `cat ${PIDFILE}`
        fi
      fi
  "/opt/elasticbeanstalk/support/conf/sidekiq.conf":
    mode: "000644"
    content: |
      description "Elastic Beanstalk Sidekiq Upstart Manager"
      start on runlevel [2345]
      stop on runlevel [!2345]
      # explained above
      respawn
      respawn limit 3 30
      script
      # scripts run in /bin/sh by default
      # respawn as bash so we can source in rbenv
      exec /bin/bash <<"EOT"
        EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
        EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
        . $EB_SUPPORT_DIR/envvars
        . $EB_SCRIPT_DIR/use-app-ruby.sh
        EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
        EB_APP_PID_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)
        EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
        cd $EB_APP_DEPLOY_DIR
        exec su -s /bin/bash -c "sidekiq -e ${RACK_ENV} -L ${EB_APP_DEPLOY_DIR}/log/sidekiq.log -C ${EB_APP_DEPLOY_DIR}/config/sidekiq.yml -P ${EB_APP_PID_DIR}/sidekiq.pid" $EB_APP_USER
      EOT
      end script
