- if session[:admin_id].present? && session[:user_id] != session[:admin_id]
  #admin-dashboard-header class=(current_user.admin? ? '' : 'teacher-dashboard')
    .admin-nav-bar
      h4
        = current_user.admin? ? "Administrator Dashboard" : link_to("Administrator Dashboard", "/session")
        - if not current_user.admin?
          i.fa.fa-chevron-right
          = "#{current_user.name} Account"
    -if not current_user.admin?
      hr
