<% current_path = request.env['PATH_INFO'] %>

<% if viewing_demo_account? && !previewing_student_dashboard? %>
  <div class="preview-student-banner">
    <div class="content-container">
      <span>Viewing a demo account - feel free to poke around! Changes are not saved.</span>
      <a class="quill-button primary contained medium focus-on-light" href="/session">Exit demo account</a>
    </div>
  </div>

<% end %>
