<% current_path = request.env['PATH_INFO'] %>
<% desktop_navbar_class_name = on_sign_up_or_log_in? ? "non-standard-navbar navbar desktop-navbar" : "navbar desktop-navbar" %>
<% mobile_navbar_class_name = on_sign_up_or_log_in? ? "non-standard-navbar navbar mobile-navbar" : "navbar mobile-navbar" %>


<% if show_site_navigation? %>
	<nav class="<%=desktop_navbar_class_name%>" role="navigation">
		<%= render partial: 'sub_header' %>
	</nav>
	<nav class="<%=mobile_navbar_class_name%>" role="navigation">
		<%= render partial: 'mobile_sub_header' %>
	</nav>
<% end %>

<% if show_site_navigation? && current_path.include?('cms') %>
	<div class="navbar-divider-bar green"></div>
<% end %>

<script>
	function toggleMobileSecondaryDropdown(primaryDropdownOpen) {
    const dropdown = document.querySelector('#mobile-subnav-dropdown');

		if(!dropdown) { return }

    const parent = dropdown.parentElement

    if(primaryDropdownOpen) {
      parent.classList.remove('open');
      return;
    }
		if(parent.classList.contains('open')) {
			parent.classList.remove('open');
		} else {
			parent.classList.add('open');
		}
  }

	function toggleMobilePrimaryDropdown() {
    toggleMobileSecondaryDropdown(true)
    const dropdown = document.querySelector('#mobile-primary-dropdown-container');
    const child = dropdown.firstElementChild
		if(child.classList.contains('open')) {
			child.classList.remove('open');
		} else {
			child.classList.add('open');
		}
  }
</script>

