<% if !current_user || current_user.role == "teacher" %>
<div class="notification-bar">
  <p>
    We've launched <a href="/tools/lessons">Quill Lessons</a> to support group writing! 🎉
  </p>
</div>
<% end %>
