<% current_path = request.env['PATH_INFO'] %>

<% if previewing_student_dashboard? %>
  <div class="banner-with-button preview-student-banner">
    <div class="content-container">
      <% if current_path.include?('account_settings') %>
        <span>Viewing as a student. <strong>Only a student can edit their account information from this page.</strong></span>
        <a class="quill-button primary contained medium focus-on-light" href="/teachers/unset_preview_as_student">Exit student account</a>
      <% else %>
        <span>Viewing as a student</span>
        <a class="quill-button primary contained medium focus-on-light" href="/teachers/unset_preview_as_student">Exit student account</a>
      <% end %>
    </div>
  </div>

<% end %>
