<% if previewing_student_dashboard? %>
  <div class="preview-student-banner">
    <div class="content-container">
      <span>Viewing as a student</span>
      <a class="quill-button primary contained medium focus-on-light" href="/teachers/unset_preview_as_student">Back to my dashboard</a>
    </div>
  </div>
<% end %>
