<div class="spinner-container">
  <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64">
    <g transform="translate(0, 0)">
      <circle opacity="0.4" fill="none" stroke="#00c2a2 " stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" cx="32" cy="32" r="30" stroke-linejoin="round"></circle>
      <path class="nc-circle-03-linear" data-cap="butt" data-color="color-2" fill="none" stroke="#00c2a2 " stroke-width="4" stroke-miterlimit="10" d="M32,2c16.56854,0,30,13.43146,30,30 " stroke-linejoin="round" stroke-linecap="round" transform="rotate(157.6742857143732 32 32)"></path>
    </g>
    <script transform="translate(0, 0)">
      function stepCircleThreeLin(t){startxCircle8||(startxCircle8=t);var e=t-startxCircle8,n=Math.min(e/1.4,360);504&gt;e||(startxCircle8+=504),window.requestAnimationFrame(stepCircleThreeLin),pathxCircle8.setAttribute("transform","rotate("+n+" 32 32)")}!function(){var t=0;window.requestAnimationFrame||(window.requestAnimationFrame=function(e){var n=(new Date).getTime(),r=Math.max(0,16-(n-t)),i=window.setTimeout(function(){e(n+r)},r);return t=n+r,i})}();var pathxCircle8=document.getElementsByClassName("nc-circle-03-linear")[0],startxCircle8=null;window.requestAnimationFrame(stepCircleThreeLin);
    </script>
  </svg>
</div>