<% current_time_on_east_coast = Time.now.in_time_zone('America/New_York') %>
<% still_doing_webinars = current_time_on_east_coast < Date.parse("20201217") %>

<% if (still_doing_webinars && (!current_user || current_user.teacher?)) %>
  <% banner = WebinarBanner.new(current_time_on_east_coast) %>
  <% if banner.show? %>
    <div class="banner" id="webinar-banner">
      <div class="content-container">
        <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
        <p><a href=<%= banner.link %> rel="noopener noreferrer" target="_blank"><strong><%=banner.title%></strong> is live now! Register and join.</a></p>
        <img alt="White X" id="close-webinar-banner" src=<%= "#{ENV['CDN_URL']}/images/icons/close-white.svg" %>>
      </div>
    </div>

    <script>
      window.addEventListener('load', function(e) {
        if (document.cookie.indexOf('webinar_banner_closed=1') === -1) {
          document.getElementById('webinar-banner').style.display = 'block';
        }
      });

      document.getElementById('close-webinar-banner').addEventListener('click', function(e) {
          e.preventDefault();
          document.getElementById('webinar-banner').style.display = 'none';
          let date = new Date();
          // set the cookie to expire at the start of the next hour so we can show the next webinar
          date.setHours(date.getHours() + 1,0,0);
          document.cookie = `webinar_banner_closed=1; expires=${date.toGMTString()}`;
      }, false);

    </script>
  <% end %>
<% end %>
