<% current_time_on_east_coast = Time.now.in_time_zone('America/New_York') %>
<% current_hour = current_time_on_east_coast.hour %>
<% current_month = current_time_on_east_coast.month %>
<% current_day = current_time_on_east_coast.day %>

<% between_nine_and_ten = current_hour == 9 %>
<% between_ten_and_eleven = current_hour == 10 %>
<% between_eleven_and_twelve = current_hour == 11 %>
<% between_twelve_and_one = current_hour == 12 %>
<% between_one_and_two = current_hour == 13 %>
<% between_two_and_three = current_hour == 14 %>
<% between_four_and_five = current_hour == 16 %>

<% is_monday = current_time_on_east_coast.monday? %>
<% is_tuesday = current_time_on_east_coast.tuesday? %>
<% is_wednesday = current_time_on_east_coast.wednesday? %>
<% is_thursday = current_time_on_east_coast.thursday? %>

<% still_doing_webinars = current_time_on_east_coast < Date.parse("20201217") %>

<% banner_link = nil %>
<% banner_title = nil %>

<% if (still_doing_webinars && (!current_user || current_user.teacher?))  %>

  <% if (is_monday && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_OmB4MXOgTkWh_jeTFXUTnw" %>
    <% banner_title = "Quill 101"%>
  <% end %>

  <% if (is_monday && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_a4Z1_Zs6RSGUWwr_t0V18Q" %>
    <% banner_title = "Quill 101"%>
  <% end %>

  <% if (is_tuesday && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_UuoWsG_8Q5Cpbh9Bqqi24g" %>
    <% banner_title = "Quill in Pre-AP速 and AP速: Spotlight on Data and Instruction"%>
  <% end %>

  <% if (is_tuesday && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_UuoWsG_8Q5Cpbh9Bqqi24g" %>
    <% banner_title = "Quill in Pre-AP速 and AP速: Spotlight on Data and Instruction"%>
  <% end %>

  <% if (current_month == 10 && current_day == 7 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_uzoWu3HuQCa2ZpyQ0j4C5g" %>
    <% banner_title = "Quill's Spotlight on Exploring the Activity Library"%>
  <% end %>

  <% if (current_month == 10 && current_day == 7 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_ptLJPr_ZQTilmzklfDVrjA" %>
    <% banner_title = "Quill's Spotlight on Exploring the Activity Library"%>
  <% end %>

  <% if (current_month == 10 && current_day == 14 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_DhZRpHV7Q4K413v4SzcK1A" %>
    <% banner_title = "Quill's Spotlight on Ways to Use Quill with Google Classroom"%>
  <% end %>

  <% if (current_month == 10 && current_day == 14 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_DHVXyOXzS3mytUCqK_UbIA" %>
    <% banner_title = "Quill's Spotlight on Ways to Use Quill with Google Classroom"%>
  <% end %>

  <% if (current_month == 10 && current_day == 21 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_UiN_HtS7TwmYQObgOVCOGw" %>
    <% banner_title = "Quill's Spotlight on Keeping Your Remote Classroom on Track"%>
  <% end %>

  <% if (current_month == 10 && current_day == 21 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_DHVXyOXzS3mytUCqK_UbIA" %>
    <% banner_title = "Quill's Spotlight on Keeping Your Remote Classroom on Track"%>
  <% end %>

  <% if (current_month == 10 && current_day == 28 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_4RGmnNfiSSSqO-EB13ecbw" %>
    <% banner_title = "Quill's Spotlight on Using Quill to Support Students with IEPs"%>
  <% end %>

  <% if (current_month == 10 && current_day == 28 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_YgimZ7j2TTCGW7HiniJAwg" %>
    <% banner_title = "Quill's Spotlight on Using Quill to Support Students with IEPs"%>
  <% end %>

  <% if (current_month == 11 && current_day == 4 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_8Dq0_YxNRa23-qWZT4qDaQ" %>
    <% banner_title = "Quill's Spotlight on Data and Instruction"%>
  <% end %>

  <% if (current_month == 11 && current_day == 4 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_d_oq8DgBQjGpeHzXXzM1AA" %>
    <% banner_title = "Quill's Spotlight on Data and Instruction"%>
  <% end %>

  <% if (current_month == 11 && current_day == 18 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_fggbcB53QcGSjVgqCvCkDQ" %>
    <% banner_title = "Quill's Spotlight on Equitable Grading using Quill"%>
  <% end %>

  <% if (current_month == 11 && current_day == 18 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_BNF3nVnyRVqrKQ9udZis-w" %>
    <% banner_title = "Quill's Spotlight on Equitable Grading using Quill"%>
  <% end %>

  <% if (current_month == 12 && current_day == 2 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_xewDiLaYSEGM3jljnyYKAg" %>
    <% banner_title = "Quill's Spotlight on Using Quill to Support English Language Learners"%>
  <% end %>

  <% if (current_month == 12 && current_day == 2 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_R3h0pKEHTVqiLlNwdFHF4g" %>
    <% banner_title = "Quill's Spotlight on Using Quill to Support English Language Learners"%>
  <% end %>

  <% if (current_month == 12 && current_day == 9 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_i4r1iasTS2WqH38mVmabaA" %>
    <% banner_title = "Quill's Spotlight on Sentence Fluency at the Lesson Level"%>
  <% end %>

  <% if (current_month == 12 && current_day == 9 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_M0eiXLFaSEq-GQOAzj0kSA" %>
    <% banner_title = "Quill's Spotlight on Sentence Fluency at the Lesson Level"%>
  <% end %>

  <% if (current_month == 12 && current_day == 16 && between_eleven_and_twelve) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_1WBmjTBeSTmq_f3Kikkaaw" %>
    <% banner_title = "Quill's Spotlight on Encouraging & Empowering Your Writers"%>
  <% end %>

  <% if (current_month == 12 && current_day == 16 && between_four_and_five) %>
    <% banner_link = "https://quill-org.zoom.us/webinar/register/WN_yB6Lltm3QH2h4AnobnCdLw" %>
    <% banner_title = "Quill's Spotlight on Encouraging & Empowering Your Writers"%>
  <% end %>
<%end%>


<% if banner_link && banner_title %>
  <div class="banner" id="webinar-banner">
    <div class="content-container">
      <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
      <%= render partial: "banner_text", locals: {link: banner_link, title: banner_title} %>
      <img alt="White X" id="close-webinar-banner" src=<%= "#{ENV['CDN_URL']}/images/icons/close-white.svg" %>>
    </div>
  </div>

  <script>
    window.addEventListener('load', function(e) {
      if (document.cookie.indexOf('webinar_banner_closed=1') === -1) {
        document.getElementById('webinar-banner').style.display = 'block';
      }
    });

    document.getElementById('close-webinar-banner').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('webinar-banner').style.display = 'none';
        let date = new Date();
        // set the cookie to expire at the start of the next hour so we can show the next webinar
        date.setHours(date.getHours() + 1,0,0);
        document.cookie = `webinar_banner_closed=1; expires=${date.toGMTString()}`;
    }, false);

  </script>
<% end %>
