p Copy and paste the link below into your browser's URL bar, hit "Enter", and then select "File", "Save As" to download the requested CSV:

= link_to @download_url, "Requested CSV"

p You can view your data by opening the CSV file in Excel, Open Office, or Google Sheets.

p Have comments or feedback? Please respond to this email to help us design Quill. We're an open source nonprofit, and we're building free literacy tools so that people all over the world can become better writers.
