<p>Here is a link to to your Quill report.</p>
<p><%= link_to 'Requested CSV', @download_url%></p>
<p>Please follow these directions to view the data:</p>
<ol>
  <li>Copy and paste the link below into your browser's URL bar.</li>
  <li>Hit "Enter.”</li>
  <li>Select "File" in the browser’s menu.</li>
  <li>Select "Save As” or “Save Page As" to download.</li>
  <li>Open the CSV file in Excel or Google Sheets.</li>
  <li>Open the CSV file in Excel or Google Sheets.</li>
</ol>

<p>Email us at hello@quill.org for support and questions.</p>
