<p>Your Quill report has arrived!</p>
<p>Please follow these directions to view the data:</p>
<ol>
  <li>Vist the link at the bottom of these instructions.</li>
  <li>Select "File" -> "Save As” or “Save Page As" to download.</li>
  <li>Open the CSV file in Excel or Google Sheets.</li>
</ol>
<h3><%= link_to 'Link To CSV', @download_url%></h3>

<p>Email us at hello@quill.org for support and questions.</p>
