<% if matrix %>

  <h4>Confusion Matrix</h4>
  <table style="width: auto; table-layout: auto; border-collapse: collapse; border: 1px solid black;">
    <tr>
      <td></td>
      <td></td>
      <td colspan="2" style="text-align: center;">LLM</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: center;">Optimal</td>
      <td style="text-align: center;">Sub-optimal</td>
    </tr>
    <tr>
      <td rowspan="2" style="text-align: center; vertical-align: middle;">Quill</td>
      <td style="text-align: center;">Optimal</td>
      <td style="background-color: lightgreen; text-align: center;"><%= matrix[0][0] %></td>
      <td style="background-color: lightcoral; text-align: center;"><%= matrix[0][1] %></td>
    </tr>
    <tr>
      <td style="text-align: center;">Sub-optimal</td>
      <td style="background-color: lightcoral; text-align: center;"><%= matrix[1][0] %></td>
      <td style="background-color: lightgreen; text-align: center;"><%= matrix[1][1] %></td>
    </tr>
  </table>

  <div style="clear: both;"></div>
<% end %>
