article.assign-classroom-chapter-page {

  h3 {
    font-size: 22px;
  }

  .classroom-chapter-datepicker {
    .datepicker {
      width: 300px;
      border: 2px solid #ccc;
    }
  }

  .l-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn {
    float: right;
    margin-left: 10px;
  }

  input[type=checkbox] {
    margin: 0;
    top: -1px;
    position: relative;
    margin-right: 5px;
  }

  .checkbox-section {
    margin-bottom: 20px;
  }
}
