article.final-score-page {
  .final-score-page-header {
    font-size: 36px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 50px;
  }

  .step-title {
    font-size: 24px;
    text-align: left
  }

  thead {
    background-color: #f5f5f5;
  }

  td {
    text-align: center;
  }

  .rule-title, .story-title {
    text-align: left;
  }

  .tried { color: $tried-color }
  .missed { color: $missed-color }
  .introduced { color: $introduced-color }
  .found { color: $found-color }

  td, th {
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    line-height: 42px;
  }

  td.num {
    width: 100px;
  }

  .btn-holder {
    text-align: center;

    .btn {
      font-size: 32px;
      line-height: 1.5;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
