.new-account-page {
  label, div, input {
    font-size: 18px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    padding-top:    0px;
    padding-bottom: 0px;
    width: 340px;
    line-height: 40px;
    height: 40px;
  }

  .new-account-field-group {
    position: relative;
  }

  .field.radio .value {
    display: inline-block;
    label { width: 154px ; line-height: 26px ; margin-bottom: 0 }
    > * { float: left }
  }

  b {
    @include bold;
  }

  .form-school-select {
    .zipcode {
      width: 92px; float: left; clear: left;
      #zipcode { width: 70px; text-align: center; }
    }
    .school_ids {
      margin-left: 0; width: 400px; float: left; clear: right;
      .controls {margin-left: 0;}
      .select2-container .select2-choice {
        height: 42px;
        .select2-chosen {line-height: 42px;}
        .select2-arrow b {position: absolute; top: 7px;}
        abbr {top: 14px;}
      }
    }
  }

  .form-explanation-text {
    position: absolute;
    bottom: 0;
    left: 419px;
    width: 216px;
    border: 1px solid #e3e3e3;
    padding: 20px;
    z-index: -1;
  }


  .form-box, .form-gray-box {
    margin: 20px 0 20px 180px;
    padding: 5px;
    border-radius: 3px;
    width: 600px;

    .controls {margin-left: 0;}
    .control-group:first-child {margin-top: 0;}
    .control-group {margin-bottom: 0; margin-top: 8px;}
    .field.toggle .help-inline {left: 24px;}
  }
  .form-gray-box {
    background-color: whitesmoke;

  }


  .field.toggle {
    .controls {
      position: relative;
    }

    &.error {
      padding-bottom: 1.5em
    }

    .help-inline {
      position: absolute;
      top: 1.5em;
      left: 0;
      padding-left: 0;
    }


    label {
      display: inline-block;
      line-height: 0;
    }

    input {
      margin: 0 9px 0 0;
    }
  }
}
