<div class="page-content-wrapper subscriptions">
  <%= react_component('SubscriptionApp', props: {subscriptions: @subscriptions, premiumCredits: @premium_credits, subscriptionStatus: @subscription_status, schoolSubscriptionTypes: @school_subscription_types, trialSubscriptionTypes: @trial_types}) %>
</div>
