<% selections = data[filter_section] %>
<div class="filter-section">
  <h4 class="filter-section-title"><%= filter_section.capitalize %>:</h4>
  <% if selections.nil? %>
    <p>All <%= filter_section %> selected</p>
  <% elsif selections.empty? %>
    <p> No <%= filter_section %> selected</p>
  <% else %>
    <% selections.each do |selection| %>
      <span class="pill"><%= selection %></span>
    <% end %>
  <% end %>
</div>