attrs==19.3.0
blis==0.4.1
catalogue==0.0.8
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cymem==2.0.3
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==8.0.2
murmurhash==1.0.2
numpy==1.17.4
packaging==19.2
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
py==1.11.0
pyparsing==2.4.5
pytest==5.3.1
requests==2.22.0
six==1.13.0
spacy==2.2.3
srsly==0.2.0
thinc==7.3.1
tqdm==4.40.2
urllib3==1.25.7
wasabi==0.4.2
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
pyinflect==0.5.0
