<div class="pas-left flex-row">
  <p>© <%= Time.new.year %> Quill</p>
  <p>Quill is 501(c)(3) nonprofit organization</p>
  <a href="/tos">Terms</a>
  <a href="/privacy">Privacy</a>
  <a>hello@quill.org</a>
  <a href="tel:510-671-0222">510-671-0222</a>
</div>
