<div class="pas-right flex-row">
  <a rel="noopener noreferrer" target="_blank" href="http://twitter.com/Quill_org">
    <img class="lazyload" loading="lazy" src="https://assets.quill.org/images/logos/twitter-logo-<%=logo_class%>.svg" alt='Twitter Logo'/>
  </a>
  <a rel="noopener noreferrer" target="_blank" href="https://facebook.com/quill.org">
    <img class="lazyload" loading="lazy" src="https://assets.quill.org/images/logos/facebook-logo-<%=logo_class%>.svg" alt='Facebook Logo'/>
  </a>
  <a rel="noopener noreferrer" target="_blank" href="http://instagram.com/quill_org/">
    <img class="lazyload" loading="lazy" src="https://assets.quill.org/images/logos/instagram-logo-<%=logo_class%>.svg" alt='Instagram Logo'/>
  </a>
</div>
