<div class="container account-form">
  <h1>Are you sure you want to unsubscribe from the Admin Usage Snapshot Report?<h1>
  <%= button_to "Unsubscribe", @pdf_subscription, method: :delete, class:"quill-button focus-on-light primary large contained" %>
</div>
