<div class="container account-form">
<<<<<<< Updated upstream
  <h1>You have been unsubscribed from the Admin Usage Snapshot Report.<h1>
=======
  <h1>You have been unsubscribed from the Admin Usage Snapshot Report.</h1>
>>>>>>> Stashed changes
</div>