<div>
  <h2><%= @prompt_template_variable.model_name.human.titleize %></h2>

  <h3>Name</h3>
  <p><%= @prompt_template_variable.name %></p>

  <h3>Value</h3>
  <p><%= @prompt_template_variable.value %></p>
</div>
