<div class='container'>
  <%= react_component(
        'SubscriptionApp',
        props: {
          view: 'edit',
          district: @district,
          schools: @schools,
          subscriber: @district,
          subscriberType: 'District',
          subscription: @subscription,
          premiumTypes: @premium_types,
          subscriptionPaymentMethods: @subscription_payment_methods,
          purchaserEmail: @purchaser_email
        }
      )
  %>
</div>
