<%= render 'teachers/shared/scorebook_tabs' %>
<div class="subscriptions">
  <%= react_component('SubscriptionApp', props: {
      coordinatorEmail: @coordinatorEmail,
      premiumCredits: @premium_credits,
      schoolSubscriptionTypes: @school_subscription_types,
      stripeInvoiceId: @stripe_invoice_id,
      stripePaymentMethodUpdated: @stripe_payment_method_updated,
      stripeSchoolPlan: @stripe_school_plan,
      stripeTeacherPlan: @stripe_teacher_plan,
      subscriptions: @subscriptions,
      subscriptionStatus: @subscription_status,
      trialSubscriptionTypes: @trial_types,
      userAuthorityLevel: @user_authority_level
    })
  %>
</div>
