<%= render 'teachers/shared/scorebook_tabs' %>
<div class="subscriptions">
  <%= react_component('SubscriptionApp', props: {
      subscriptions: @subscriptions,
      coordinatorEmail: @coordinatorEmail,
      subscriptionPurchasedToday: @subscription_purchased_today,
      premiumCredits: @premium_credits,
      subscriptionStatus: @subscription_status,
      schoolSubscriptionTypes: @school_subscription_types,
      stripeTeacherPlan: @stripe_teacher_plan,
      trialSubscriptionTypes: @trial_types,
      lastFour: @last_four,
      userAuthorityLevel: @user_authority_level
    })
  %>
</div>
