.green-rows-on-hover {
  tr {
    &:not(:first-of-type), &:first-of-type {
      font-size: 14px;
      color: #666666;

      &:hover {
        background-color: $row-hover-green-white;

        .activity_name {
          color: #00c2a2;
        }
      }
    }
  }
}
