<div class='container'>
  <%= react_component('SubscriptionApp', props: {
    view: 'edit',
    school: @school || nil,
    subscription: @subscription,
    premiumTypes: @premium_types,
    subscriptionPaymentMethods: @subscription_payment_methods }
  )%>
</div>
