<div class='container'>
  <%= react_component(
        'SubscriptionApp',
        props: {
          view: 'edit',
          school: @school,
          district: @district,
          schools: @schools,
          subscription: @subscription,
          premiumTypes: @premium_types,
          subscriptionPaymentMethods: @subscription_payment_methods
        }
      )
  %>
</div>
