= render partial: 'teachers/shared/scorebook_tabs'
= render partial: 'teachers/progress_reports/subnav'

.container.progress-report
  .progress-reports-concept-categories data-url=teachers_progress_reports_concept_categories_path