<div class="subnav">
  <div class="container d-fl-r jc-sb">
    <div class="subnav-left">
      <div class="subnav-item"><%= @question_set.prompt %></div>
    </div>
    <div class="subnav-right">
      <div class="subnav-item"><%= link_to 'Edit', edit_question_set_path(@question_set) %></div>
      <div class="subnav-item"><%= link_to 'Destroy', @question_set, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
</div>
