---
http_interactions:
- request:
    method: post
    uri: https://api.newrelic.com/v2/applications//deployments.json
    body:
      encoding: UTF-8
      string: '{"deployment":{"revision":"Commit: abcdef | Heroku release: v1","changelog":"The
        log","description":"abcdef","user":"Ripley","timestamp":"2021-02-10T23:04:37.578Z"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Proxied-By:
      - Service Gateway
      Content-Type:
      - application/json
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"title":"No API key specified"}}'
  recorded_at: Wed, 10 Feb 2021 23:04:45 GMT
recorded_with: VCR 4.0.0
