<!-- this is the public facing index, for signed-in-teacher facing index, see lesson planner -->
<% @active_tab = 'Featured Activities' %>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab %>

<div class="tab-pane" id="public-activity-packs" data-authenticated=<%=@is_teacher%>>
    <%= react_component('PublicUnitTemplatesApp', props: {})%>
</div>
