.chapter-story-test {
  background-color: white;
  padding: 30px;
  @include border-radius(5px);

  .lines-container {
    position: relative;
    $line-height: 40px;
    overflow: hidden;

    .text {
      line-height: $line-height;
      position: relative;
      z-index: 2;
    }

    .lines {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;

      .line {
        width: 100%;
        line-height: $line-height - 1px;
        height:      $line-height - 1px;
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .btn {
    display: block;
    height: 55px;
    line-height: 55px;
    padding: 0 100px;
    font-weight: bold;
    font-size: 20px;
    &.show-results { margin: 0 auto }
  }
}