.choose-edition {
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 0px 30px;
  .lesson-info {
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e9e9e9;
    h2 {
      font-size: 20px;
      color: #3b3b3b;
      span {
        font-weight: bold;
      }
    }
    p {
      color: #969696;
    }
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 12px;
    margin-top: 30px;

  }
  .explanation, .header {
    color: #969696;
    margin-bottom: 5px;
  }
  .header {
    font-size: 16px;
  }
  .explanation {
    font-size: 14px;
    margin-bottom: 35px;
    text-align: left;
    span {
      font-weight: 600;
    }
    p:first-of-type {
      margin-bottom: 12px;
    }
  }
  .sample-question {
    font-size: 14px;
    text-align: left;
    color: #969696;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .span {
      font-weight: 600;
    }
  }
  .name {
    text-align: left;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .quill-editions {
    padding-bottom: 7px;
  }
  .my-editions {
    padding-bottom: 7px;
  }
  .edition-container {
    position: relative;
    @media (max-width: 1075px) {
      .in-progress {
        display: none;
      }
    }
  }
  .in-progress {
    position: absolute;
    display: flex;
    align-items: center;
    right: -110px;
    min-width: 94px;
    color: #82bf3c;
    top: 28px;
    i {
      font-size: 12px;
      margin-right: 2px;
    }
  }
  .edition {
    position: relative;
    height: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #e9e9e9;
    border: solid 1px #e9e9e9;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    &.selected {
      border: solid 1px #a8e067;
    }
    .name-section {
      display: flex;
      align-items: center;
    }
    .locked-unit {
      border-radius: 14px;
      border: solid 1px #666666;
      color: #666666;
      padding: 0px 10px;
      position: relative;
      margin-left: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      white-space: nowrap;
      i {
        margin-right: 8px;
        margin-left: 3px;
        position: relative;
        font-size: 15px;
        top: 1px;
      }
    }
    .text {
      font-size: 18px;
      font-weight: 600;
      color: #3b3b3b;
      max-width: 60%;
      @media (max-width: 830px) {
        max-width: 50%;
      }
    }
    .action {
      display: flex;
    }
    .select-button, .resume-button {
      width: 115px;
      height: 40px;
      border-radius: 3px;
      font-size: 16px;
      font-weight: bold;
      margin-left: 10px;
      cursor: pointer;
    }
    .select-button {
      border: none;
      background-color: #00c2a2;
      color: #ffffff;
    }
    .resume-button {
      background-color: #ffffff;
      border: solid 1px #00c2a2;
      color: #00c2a2;
    }
    .customize-dropdown {
      position: relative;
      .customize {
        width: 160px;
        height: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #c0c0c0;
        color: #969696;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &.open {
          box-shadow: inset 0 1px 3px 0 #c0c0c0;
        }
        .fa-magic {
          margin-right: 5px;
          font-size: 14px;
        }
        .fa-caret-down {
          margin-left: 28px;
        }
      }
      .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 160px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 0 1px 0 #c0c0c0;
        border: solid 0.5px #e9e9e9;
        top: 45;
        z-index: 99;
        cursor: pointer;
        &.hidden {
          display: none;
        }
        .option {
          align-items: center;
          display: flex;
          font-size: 14px;
          padding-left: 13px;
          font-weight: 600;
          text-align: left;
          color: #969696;
          height: 28px;
          white-space: nowrap;
          img {
            margin-right: 10px;
            height: 18px;
          }
          &:hover {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }
}
