.customize-edition-container {
  background-color: #ffffff;
  width: 100%;
}
.customize-edition {
  padding: 0px 60px;
  max-width: 1300px;
  margin: auto;
  .back-button {
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .slide-container {
    .slide-header {
      justify-content: space-between;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding-top: 50px;
      .slide-number {
        min-width: 60px;
        font-size: 16px;
        font-weight: bold;
        color: #3b3b3b;
      }
      .slide-number-and-type-container {
        margin-right: 15px;
        font-size: 16px;
        white-space: nowrap;
      }
      .slide-type {
        color: #3c93e1;
        font-weight: bold;
      }
      .line {
        display: inline-block;
        border-top: solid 1.5px #e9e9e9;
        max-width: 1070px;
        width: 100%;
      }
      .hide {
        margin-left: 20px;
        font-size: 16px;
        color: #969696;
        cursor: pointer;
      }
    }
    .script-header {
      display: flex;
      font-size: 14px;
      font-weight: 600;
      color: #969696;
      cursor: pointer;
      img {
        margin-right: 9px;
      }
    }
    .script {
      margin-top: 15px;
    }
    .slide {
      display: flex;
      justify-content: space-between;
      .form {
        max-width: 573px;
        width: 100%;
        .field {
          font-size: 14px;
          margin-bottom: 25px;
          &:last-of-type {
            margin-bottom: 10px;
          }
          .optional {
            font-style: italic;
            color: black;
          }
          .blank-instructions {
            color: #969696;
            margin-left: 20px;
          }
          .spread-label {
            display: flex;
            justify-content: space-between;
            span {
              font-size: 14px;
              color: #969696;
            }
          }
          .input {
            border-radius: 3px;
            border: solid 1px #c0c0c0;
            margin-top: 5px;
            box-shadow: none;
          }
        }
        .title-field {
          margin-bottom: 30px;
          .options {
            display: flex;
            .clear-slide, .reset-slide {
              font-size: 14px;
              display: flex;
              align-items: center;
              cursor: pointer;
              i {
                font-size: 10px;
                margin-right: 5px;
              }
            }
            .clear-slide {
              margin-right: 15px;
            }
          }
        }
        .prompt-field {
        }
      }
    }
    .slide-preview-container {
      margin-left: 25px;
      .slide-title {
        margin-bottom: 5px;
      }
      .preview {
        height: 240px;
        width: 432px;
        margin-bottom: 25px;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        overflow: hidden;
        background-color: #fafafa;
        .scaler {
          width: 960px;
          height: 900px;
          transform: scale(0.45, 0.45);
          transform-origin: top left;
          padding: 25px;
          pointer-events: none;
          > div {
            background-color: #fafafa;
          }
          blockquote {
            background-color: #E9E9E9;
          }
        }
      }
    }
  }
  .publish-container {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background-color: #fafafa;
    .publish {
      max-width: 1300px;
      margin: 50px auto 0px;
      justify-content: flex-end;
      height: 139px;
      display: flex;
      padding: 0px 60px;
      align-items: center;
      p {
        font-size: 16px;
        font-style: italic;
        color: #969696;
        &.error {
          display: flex;
          align-items: center;
          color: #ff4542;
          font-style: normal;
          i {
            margin-right: 10px;
            font-size: 12px;
          }
        }
      }
      @media (max-width: 850px ) {
        padding: 0px 10px;
      }
    }
  }
  @media (max-width: 850px ) {
    padding: 0px 10px;
  }
}
