<% render 'admin_diagnostic_reports/report_mailer/csv_download_email.html.erb' %>

<p><a clicktracking=off href=<%= @unsubscribe_url %> rel="noopener noreferrer" target="_blank">Unsubscribe from this report</a></p>
