// need ot make this have bckgrnd 'scorebook/icon-book-white.png'
// need this to point to scorebook/icon-hat-white.png'

.icon-book-white, .icon-hat-white {
  display: inline-block;
  float: left;
  clear: none;
  margin-top: auto;
  margin-bottom: auto;
}

.icon-book-white {
  background-image: url('https://assets.quill.org/images/scorebook/icon-book-white.png');
  height: 18px;
  width: 23px;
}

.icon-hat-white {
  background-image: url('https://assets.quill.org/images/scorebook/icon-hat-white.png');
  height: 16px;
  width: 29px;
}
