.custom-activity-pack-page {
  .activity-row {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0 !important;
    .first-line, .second-line {
      display: flex;
      justify-content: space-between;
    }
    .first-line {
      margin-bottom: 13px;
      .name-and-checkbox-wrapper {
        display: flex;
        .quill-checkbox {
          margin-right: 16px;
        }
      }
      .buttons-wrapper {
        display: flex;
      }
      .expand-button {
        transform: rotate(180deg);
      }
      .preview-link {
        display: flex;
        margin-right: 24px;
        align-items: center;
        img {
          margin-right: 4px;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
    .second-line {
      padding: 0px 32px;
      .classification-concept-topic-wrapper, .readability-and-standard-level-wrapper {
        display: flex;
        flex-direction: row;
      }
      .second-line-section {
        margin-right: 16px;
        display: flex;
        align-items: center;
      }
    }
    .second-line, .third-line {
      img {
        margin-right: 2px;
      }
      span {
        line-height: 1.57;
        color: #646464;
      }
    }
    .third-line {
      display: flex;
      padding-left: 32px;
      align-items: flex-start;
      margin-top: 16px;
      img {
        margin-top: 3px;
      }
      span {
        max-width: 584px;
      }
    }
    &:hover {
      background-color: #f2f2f2;
    }
    &.not-expanded:not(:hover) {
      .preview-link {
        display: none;
      }
    }
  }
}
