.custom-activity-pack-page, .sortable-selected-activity-row {
  .activity-row {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    h2 {
      font-size: 16px;
      display: flex;
      img {
        margin-right: 8px;
        height: 20px;
      }
    }
    .first-line, .second-line {
      display: flex;
      justify-content: space-between;
    }
    .first-line {
      margin-bottom: 13px;
      .name-and-checkbox-wrapper {
        display: flex;
        align-items: center;
        .quill-checkbox {
          margin-right: 16px;
        }
      }
      .buttons-wrapper {
        display: flex;
        .non-toggle-buttons {
          display: flex;
        }
      }
      .preview-link, .remove-button {
        margin-right: 24px;
      }
      .save-button, .saved-button {
        margin-right: 20px;
      }
      .preview-link, .remove-button, .save-button, .saved-button {
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    .vertical-divider {
      height: 100%;
      border-left: 1px solid #D3D3D3;
      padding-left: 8px;
      margin-left: 4px;
    }

    .diagonal-divider {
      margin: 0px 12px 0px 4px;
    }

    .extended-topic {
      display: flex;
      align-items: flex-start;
      img {
        margin-bottom: 0px;
      }
      span {
        white-space: normal;
      }
    }

    .second-line, .third-line {
      padding: 0px 0px 0px 32px;
      .classification-concept-topic-wrapper, .grade-range-and-standard-level-wrapper {
        display: flex;
        flex-direction: row;
        .grade-level {
          margin-right: 4px;
          display: inline-flex;
          padding: 0px 5px;
          background: #06806B;
          border-radius: 4px;
          color: white;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 12px;
          line-height: 22px;
          &.filtered {
            background: #00C2A2;
          }
          &:first-of-type {
            margin-left: 8px;
          }
          &.not-recommended {
            background: #E0E0E0;
            color: rgba(55, 55, 55, 0.3);
          }
        }
      }
      .attribute-section {
        white-space: nowrap;
        .quill-tooltip-wrapper {
          width: 400px;
          .quill-tooltip {
            color: white;
          }
        }
      }
      .standard-level {
        width: 130px;
      }
    }
    .second-line, .third-line, .expanded-line, .tooltip-line {
      img {
        margin-right: 2px;
        margin-bottom: 3px;
      }
      span {
        line-height: 1.57;
        color: #646464;
      }
    }
    .third-line .topic {
      margin-top: 8px;
    }
    .tooltip-line:not(:first-of-type) {
      margin-top: 16px;
    }
    .expanded-line {
      max-width: 33%;
      margin-top: 16px;
      &:not(:last-of-type) {
        padding-right: 16px;
        margin-right: 12px;
        border-right: 1px solid #D3D3D3;
      }
    }
    .expanded-section {
      display: flex;
      margin-left: 32px;
      padding-right: 16px;
      margin-right: -16px;
      border-top: 1px solid #d3d3d3;
    }
    .expanded-line, .tooltip-line {
      display: flex;
      align-items: flex-start;
      img {
        margin-top: 3px;
      }
      span {
        max-width: 584px;
      }
    }
    &.not-selected:hover {
      background-color: #f2f2f2;
    }
    &.expanded {
      .expand-button img {
        transform: rotate(180deg);
      }
      .third-line {
        margin-top: 16px;
        border-top: 1px solid #D3D3D3;
        margin-left: 32px;
        padding: 16px 0px;
        margin-right: -16px;
        margin: 16px -16px 0px 32px;
      }
    }
    &.expanded {
      .activity-row-tooltip {
        display: none;
      }
    }
    &.selected {
      background-color: #e8f7f3;
    }
    @media (min-width: 701px) {
      .mobile-only {
        display: none;
      }
    }
    @media (max-width: 1050px) {
      margin: 0px 16px;
      .second-line .classification-concept-topic-wrapper {
        display: flex;
        flex-direction: column;
        .classification {
          margin-bottom: 5px;
        }
      }
      &.is-first {
        border-top: 1px solid #e0e0e0;
      }
      .expanded-section {
        flex-direction: column;
        margin-right: -16px;
        .expanded-line {
          border-right: none;
          max-width: 100%;
          padding-right: 0px;
          margin-right: -16px;
          &:not(:last-of-type) {
            border-bottom: 1px solid #D3D3D3;
            padding-bottom: 16px;
          }
        }
      }
    }
    @media (max-width: 700px) {
      .first-line .non-toggle-buttons {
        display: none !important;
      }
      .second-line {
        flex-direction: column-reverse;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        margin-left: 32px;
        margin-right: -16px;
        padding: 16px 0px;
      }
      .grade-range-and-standard-level-wrapper {
        flex-direction: column !important;
      }
      .grade-range {
        margin: 8px 0px;
      }
      .non-toggle-buttons {
        .interactive-wrapper {
          margin-right: 24px;
          img {
            margin-right: 8px;
          }
        }
      }
      &.not-expanded {
        .third-line:not(.mobile-only) {
          display: none;
        }
      }
      &.expanded {
        .second-line {
          border-bottom: none;
        }
        .third-line {
          margin-top: 0px;
        }
      }
    }
    @media (max-width: 500px) {
      .extended-topic {
        flex-wrap: wrap;
      }
    }
    .mobile-only {
      margin-top: 16px;
    }
  }
  .activity-row-tooltip {
    max-width: 634px;
    border-radius: 6px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.14);
    position: absolute;
    z-index: 1;
    padding: 16px;
    top: 80px;
    background-color: #5C5C5C;
    .tooltip-line:not(:last-of-type) {
      padding-bottom: 16px;
      border-bottom: 1px solid white;
    }
    .tooltip-line img {
      filter: brightness(0%) invert(100%);
    }
    .tooltip-line span {
      color: white;
    }
  }
  .selected-activity-row {
    display: flex;
    align-items: center;
    cursor: default;
    max-width: 1184px;
    padding: 0px 32px;
    margin: auto;
    .reorder-icon {
      margin: 0px 16px 0px 8px;
      cursor: grab;
      height: 24px;
      width: 24px;
    }
    .activity-row {
      flex: 1;
      border-bottom: none;
      .second-line, .expanded-line {
        padding-left: 0px;
      }
      .expanded-section {
        margin-left: 0px;
        margin-top: 16px;
      }
    }
    &.is-last {
      border-bottom: none;
      .activity-row {
        border-bottom: none;
      }
    }
    @media (max-width: 1050px) {
      align-items: flex-start;
      margin: 0px 16px;
      border-bottom: 1px solid #e0e0e0;
      padding: 0px;
      .activity-row {
        margin: 0px;
        border-bottom: none;
      }
      .reorder-icon {
        margin: 16px 8px 0px 16px;
      }
    }
  }
}

.sortable-selected-activity-row {
  z-index: 1;
  .selected-activity-row {
    background-color: #e8f7f3;
    padding: 0px;
    border: 1px solid #e0e0e0;
  }
  .activity-row {
    border: none;
  }
}
