.custom-activity-pack-page {
  .filter-column-wrapper {
    border-right: #e0e0e0 1px solid;
    padding-right: 24px;
  }
  .filter-column::-webkit-scrollbar {
    display: none;
  }
  .filter-column {
    padding: 10px 400px 32px 0px;
    margin-right: -400px;
    z-index: 1;
    scrollbar-width: none;
    .filter-section {
      padding-top: 24px;
      margin-bottom: 8px;
      &.readability, &.ccss-grade-level, &.grade-level {
        .quill-tooltip-wrapper {
          left: 302px;
          transform: unset;
          top: -20px;
        }
      }
      .tooltip-trigger-filter-section-content:hover, .quill-tooltip-trigger.active {
        .hoverbox {
          background-color: rgba(6, 127, 107, 0.06);
          height: 124px;
          width: 288px;
          position: absolute;
          border-radius: 10px;
          top: -12px;
          left: 8px;
        }
      }
      h2 {
        padding-left: 24px;
        font-weight: 700;
        img {
          margin-left: 8px;
        }
      }
      .clear-filter {
        font-weight: 700;
        line-height: normal;
        color: #06806b;
        z-index: 2;
      }
      .name-and-clear-wrapper {
        display: flex;
        margin-bottom: 13px;
        justify-content: space-between;
        align-items: center;
        height: 18px;
        h2 {
          display: flex;
          align-items: center;
          i {
            margin-left: 4px;
          }
        }
      }
      p {
        padding-left: 24px;
        line-height: 1.57;
        color: #646464;
      }
      .activity-classification-new-tag {
        font-weight: 700;
        font-size: 9px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        background: #F3AC4E;
        border-radius: 5px;
        width: 32px;
        height: 19px;
        justify-content: center;
        margin-top: 4px;
      }
      .slider-wrapper {
        padding-left: 24px;
        margin-top: 18px;
        label {
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 16px;
          line-height: 1;
          color: #06806b;
        }
        .two-thumb-slider-container {
          width: 256px;
          padding-left: 8px;
          padding-bottom: 20px;
        }
      }
      #readability-grade-level-slider, #grade-level-slider {
        .last-mark {
          left: 217px !important;
        }
      }
      .create-activity-category-form {
        margin: 16px 0px 16px 24px;
        .quill-button {
          float: right;
        }
      }
      &.content-partner-filter-section, &.activity-category-filter-section, &.flag-filter-section {
        .individual-row {
          margin-left: 24px;
        }
      }
      .saved-row {
        margin-left: 24px;
      }
      &.activity-category-filter-section {
        .individual-row, .toggle-show-all-button {
          margin-left: 24px;
        }
        .toggle-show-all-button {
          margin-top: 16px;
          font-weight: 600;
          color: #06806b;
        }
      }
      &.staff-activity-category-filter-section {
        .list-item section {
          display: flex;
          align-items: center;
          margin-top: 16px;
          .reorder-icon, .fa-minus-circle {
            width: 20px;
            margin-right: 4px;
          }
          .individual-row.activity-category-row {
            margin: 0px;
            width: 100%;
            div {
              align-items: center;
            }
            .input-container {
              min-height: min-content;
              label, input {
                margin-bottom: 0px;
              }
            }
            .tooltip-trigger-text {
              max-width: 180px;
            }
            .pencil-and-count-wrapper {
              width: 50px;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .filter-row {
      display: flex;
      justify-content: space-between;
      .quill-checkbox {
        margin-right: 8px;
      }
      span {
        line-height: normal;
        color: #646464;
        white-space: nowrap;
      }
    }
    .individual-row {
      display: flex;
      flex-direction: row;
      margin-top: 16px;
      div {
        display: flex;
      }
      .quill-tooltip {
        color: white;
      }
      .tooltip-trigger-text {
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
      &.activity-category-row {
        .tooltip-trigger-text {
          max-width: 200px;
        }
      }
      &.topic-row {
        .tooltip-trigger-text {
          max-width: 182px;
        }
      }
    }
    .toggle-section {
      margin-top: 16px;
      .top-level {
        div {
          display: flex;
          align-items: center;
        }
        .filter-toggle-button {
          margin: 0px 4px;
          .is-closed {
            transform: rotate(270deg);
          }
        }
      }
      > .activity-classification-new-tag {
        margin-left: 48px;
      }
      .individual-row {
        margin-left: 48px;
        .activity-classification-data {
          flex-direction: column;
          .description {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #9C9C9C;
            font-style: italic;
            overflow: visible;
            margin-top: 4px;
            max-width: 174px;
          }
          .grade-text {
            height: 18px;
            background-color: #AEAEAE;
            border-radius: 5px;
            color: white;
            margin-top: 4px;
            font-weight: 400;
            padding: 0px 8px;
            width: min-content;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  @media (min-width: 1051px) {
    .filter-column {
      top: 70;
    }
    .filter-column-wrapper {
      border-right: #e0e0e0 1px solid;
    }
  }
  @media (max-width: 1050px) {
    .filter-column {
      display: none;
    }
  }
}

.sortable-filter-row {
  section {
    display: flex;
    background-color: white;
    .activity-category-row {
      display: flex;
      justify-content: space-between;
    }
    .reorder-icon {
      width: 20px;
      margin-right: 4px;
    }
    .quill-checkbox {
      margin-right: 8px;
    }
  }
}
