.custom-activity-pack-page {
  background-color: white;
  display: flex;
  height: calc(100vh - 70px);
  &.loading {
    justify-content: center;
  }
  h1, h2 {
    font-size: 16px;
    text-align: left;
    line-height: normal;
  }
  section {
    padding: 0px;
  }
  .main-content-container {
    flex: 1;
    height: calc(100vh - 70px);
    overflow: scroll;
    padding-bottom: 40px;
    header {
      height: min-content;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #e0e0e0;
      position: sticky;
      top: 0px;
      z-index: 1;
      background-color: white;
      flex-direction: column;
      .header-content {
        height: 88px;
        max-width: 1184px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px;
        margin: auto;
        div {
          display: flex;
          align-items: center;
          .quill-button {
            margin-left: 26px;
          }
        }
      }
      &.has-selected-activities {
        background-color: #e8f7f3;
        .number-of-activities {
          margin-left: 4px;
        }
        .sortable-list {
          border-top: 1px solid #e0e0e0;
        }
        .save-button, .saved-button {
          display: none;
        }
      }
    }
    .activity-table-container {
      max-width: 1184px;
      padding: 0px 32px;
      margin: auto;
      .banners-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 2;
        bottom: 0;
        .assigning-activity-disclaimer-banner {
          bottom: auto;
          position: initial;
          margin: 0px 0px 8px;
        }
      }
      .search-and-sort {
        min-height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e0e0e0 !important;
        .sort-wrapper {
          position: relative;
          .sort-dropdown-label {
            color: #7c7c7c;
            span {
              color: #000;
            }
            .is-open {
              transform: rotate(180deg)
            }
          }
          .sort-dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 263px;
            border-radius: 4px;
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
            z-index: 2;
            right: 0;
            background-color: #fff;
            top: 24px;
            padding: 8px 0px;
            button {
              background-color: transparent;
              padding: 16px;
              font-size: 16px;
              line-height: 1;
              text-align: left;
              &:hover, &:focus {
                background-color: #e8f7f3;
              }
            }
          }
        }
        .search-wrapper {
          position: relative;
          max-width: 536px;
          width: 100%;
          .search-icon {
            position: absolute;
            top: 12px;
            left: 12px;
          }
          .close-icon {
            position: absolute;
            top: 12px;
            right: 12px;
          }
          input {
            width: 100%;
            border-radius: 24px;
            border: solid 1px #e0e0e0;
            height: 48px;
            padding: 0px 44px;
            font-size: 16px;
            color: #000;
            &::placeholder, &:placeholder {
              color: #757575;
            }
          }
        }
      }
      .filter-and-sort {
        height: 56px;
        display: flex;
        border-bottom: 1px solid #e0e0e0;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        .divider {
          border-left: 1px solid #e0e0e0;
          height: 24px;
          margin: 0px 41px;
        }
        img {
          margin-right: 8px;
        }
        .interactive-wrapper {
          display: flex;
          align-items: center;
        }
      }
    }
    .pagination-section {
      margin-top: 48px;
      .pagination-button {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        border: solid 1px #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0px 4px;
        font-weight: 600;
        line-height: 1.57;
        color: #646464;
        &.ellipses-button {
          padding-bottom: 6px;
          line-height: 1;
        }
        &.active {
          border-radius: 4px;
          background-color: #06806b;
          border: none;
          color: #fff;
          font-weight: bold;
        }
      }
      .right-arrow {
        img {
          transform: rotate(270deg)
        }
      }
      .left-arrow {
        img {
          transform: rotate(90deg)
        }
      }
      p {
        text-align: center;
        font-size: 14px;
        line-height: 1.57;
        color: #646464;
      }
      .pagination-row {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (min-width: 1051px) {
    .main-content-container .activity-table-container .filter-and-sort {
      display: none;
    }
    .number-of-activities {
      display: none;
    }
  }

  @media (max-width: 1500px) and (min-width: 1051px) {
    .main-content-container .activity-table-container .assigning-activity-disclaimer-banner {
      max-width: calc(100vw - 312px - 64px);
    }
  }

  @media (max-width: 1050px) {
    .main-content-container {
      header {
        .header-content {
          height: 76px;
          padding: 0px 16px;
        }
        &.has-selected-activities {
          h1 {
            display: none;
          }
          .header-content div .quill-button {
            margin-left: 0px;
          }
        }
      }
      .activity-table-container {
        padding: 0px;
        .search-and-sort {
          display: none;
        }
      }
    }
  }
}
