.customize-navbar-container {
  background-color: #348fdf;
  width: 100%;
  .customize-navbar {
    padding: 0px 60px;
    max-width: 1300px;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
    .left {
      display: flex;
      align-items: center;
      span {
        align-items: center;
        display: flex;
        margin-right: 20px;
        &:first-of-type {
          font-size: 16px;
        }
      }
      .vertical-line {
        width: 3px;
        height: 27px;
        display: block;
        border-left: solid 1px #ffffff;
      }
      a {
        align-items: center;
        display: flex;
        color: white;
      }
      .help {
        height: 11px;
        margin-top: 0px;
        margin-right: 5px;
      }
    }
    .right {
      display: flex;
      align-items: center;
    }
    @media (max-width: 850px ) {
      padding: 0px 10px;
    }
  }
}
