.unit-template-mini {
  width: 456px;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  @media (max-width: 500px) { width: 95%; }
  .create-your-own {
    background-color: white;
    height: 270px;
    border: 1px dashed #929292;
    .content-wrapper {
      img {
        margin-bottom: 26px;
      }
      @include vertical-align();
    }
  }
  .first-row {
    padding-left: 12px;
    padding-top: 16px;
    background-color: grey;
    color: white;
    font-weight: bold;
    height: 200px;
    font-size: 18px;
    .standards-count {}
    .unit-template-name {
      margin-top: 18px;
      font-size: 22px;
      font-weight: 900;
    }
  }
  .author-picture {
    position: absolute;
    bottom: 50px;
    left: 27px;
  }
  .white-row {
    background-color: white;
    color: rgb(100,100,100);
    height: 70px;
    font-weight: 400;
    padding-top: 36px;
    border: 1px solid #929292;
    .info-row {
      line-height: 18px;
      height: 18px;
      width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .activities-count {
        float: right;
        .fa-th-list {
          margin-right: 5px;
        }
      }
      .time {
        .fa-clock-o {
          font-size: 18px;
          float: left;
        }
        .time-number {
          float: left;
        }
      }
    }
  }
}
