.unit-template-minis {
  margin-bottom: 100px;
  .list-filter-options-container {
    // needed to get the centering to work
    // http://stackoverflow.com/questions/283961/centering-a-div-block-without-the-width
    text-align: center;
    .list-filter-options {
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 10px;

      .list-filter-option {
        padding: 5px;
        clear:none;
        float:left;
        text-decoration: none;
        margin-right: 45px;
      }
      .list-filter-option:last-child {
        margin-right: 0px;
      }
      .list-filter-option.selected,
      .list-filter-option:hover {
        border-bottom: 2px solid black;
      }
    }
  }

}

.unit-template-container {
  width: 460px;
}

@media only screen and (max-width: 800px) {
  .small-screen-unit-templates-container {
    margin-left: auto;
    margin-right: auto;
  }
  .small-screen-unit-template-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    .unit-template-mini {
      margin-left: 0px;
    }
    .pull-right {
      float: none !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .small-screen-unit-template-container {
    .author-picture {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .related-activity-packs {
    .small-screen-unit-template-container {
        padding: 0px !important;
    }
  }
}
