<div class="tab-subnavigation-wrapper">

  <div class="container">

    <ul>
      <li><%= link_to 'Manage Classes', '#' %></li>
      <li><%= link_to 'Invite Students', teachers_classroom_invite_students_path(classroom_id: current_user.classrooms.first.id), class: action_name == 'invite_students' ? 'active' : '' %></li>
      <li><%= link_to 'Create a Class', new_teachers_classroom_path, class: action_name == 'new' ? 'active' : '' %></li>
    </ul>

  </div> <!-- //.container -->

</div> <!-- //.tab-subnavigation-wrapper -->
