<%= render partial: 'teachers/shared/scorebook_tabs' %>
<div class="tab-content">
  <div class="tab-pane active" id="class-manager">
    <div class="gray-background-accommodate-footer" id="admin-dashboard" data-id=<%=current_user.id %> >
      <%= react_component('AdminDashboardApp', props: {id: current_user.id}) %>
    </div>
  </div>
</div>



