.diagnostic-individual-pack main.student-responses-index-container {
  .data-table-container {
    overflow: scroll;
  }
  .data-table {
    overflow: hidden;
    border-radius: 8px;
    border: solid 1px $quill-grey-5;
    margin-top: 24px;
    .data-table-headers {
      height: 32px;
      background-color: $quill-grey-1;
      min-height: 68px;
      padding: 0px 8px;
      th {
        height: 100%;
        &:not(:last-child) {
          border-right: 1px solid #CFCFCF;
        }
      }
      .data-table-header {
        font-weight: 700;
        color: $quill-grey-90;
        margin-right: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.individual-responses-header {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button {
          align-items: center;
          width: 100%;
          height: 48px;
          justify-content: space-between;
          margin-right: 8px;
          .sort-tooltip-container {
            .quill-tooltip-trigger {
              margin-right: 0px;
            }
            .sort-arrow {
              margin-right: 4px;
            }
          }
          .quill-tooltip {
            text-align: left;
          }
        }
        .quill-tooltip-trigger {
          margin-right: 8px;
        }
      }
    }
    &.hide-on-mobile {
      &.pre-test {
        width: min-content;
      }
      &.post-test {
        width: min-content;
      }
      .data-table-body {
        .data-table-row {
          min-height: 68px;
          padding: 0px 8px;
          .data-table-row-section {
            font-size: 12px;
            margin-right: 8px;
            &.individual-responses-link {
              display: flex;
              justify-content: center;
            }
            &.name-section {
              font-weight: 700;
              color: $quill-grey-90;
            }
          }
        }
      }
    }
    .individual-responses-header {
      margin-right: 0px;
    }
    .individual-responses-link {
      text-overflow: unset;
      overflow: visible;
      position: relative;
      margin-right: 0px;
      height: 100%;
      a {
        margin: 8px 0px;
      }
      .name-section-subheader {
        position: absolute;
        top: 36%;
        right: 0px;
      }
    }
    .name-section-subheader {
      font-size: 12px;
      line-height: 1.33;
      color: #808080;
    }
    .skills-delta {
      color: #367300;
      img {
        margin-right: 1px;
      }
    }
  }

  .toggle-explanation {
    max-width: 770px;
    margin-top: 20px;
    h3 {
      font-weight: 400;
    }
  }

  @media (max-width: 930px) {
    padding: 40px 16px;
    .proficiency-keys {
      flex-direction: column;
      .proficiency-key {
        margin-right: 0px;
        margin-bottom: 16px;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
    .data-table {
      .data-table-headers, .data-table-row {
        padding-right: 0px;
      }
      .data-table-row {
        height: min-content;
      }
      .score-section, .score-header {
        margin-right: 0px;
      }
      .name-section, .name-header {
        width: 100% !important;
      }
      .name-section {
        display: flex;
        flex-direction: column;
        padding: 12px 0px;
        .name-section-subheader {
          margin-top: 4px;
        }
      }
      .score-section span {
        margin-left: 0px;
      }
    }
  }
}
