.diagnostic-recommendations-container {
  .recommendations-empty-state {
    img {
      margin-top: 56px;
      margin-bottom: 16px;
    }
    h2 {
      font-weight: bold;
      color: #000;
    }
    p {
      font-size: 16px;
      color: #262626;
      margin-top: 8px;
      max-width: 460px;
    }
  }
  .explanation {
    color: #808080;
    max-width: 610px;
    margin: 8px 0px 48px;
  }
  .section-header {
    display: flex;
    align-items: flex-start;
    .quill-tooltip-trigger {
      margin-left: 4px;
    }
    .recommended-key {
      margin-left: 16px;
      max-width: 920px;
      .recommended-image {
        background: #EEF8F7;
        border-radius: 4px;
        padding: 2px;
        margin-right: 8px;
      }
      p {
        color: #5C5C5C;
      }
      span {
        font-weight: 700;
      }
    }
    > div {
      display: flex;
      align-items: flex-start;
    }
  }
  .assigned {
    img {
      margin-right: 4px;
    }
  }
  .recommendations-buttons-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .independent-practice-recommendations-buttons-container {
    vertical-align: bottom;
    border-radius: 8px 0px 0px;
    position: sticky;
    left: 0px;
    z-index: 1;
    margin-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .recommendations-buttons {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    div {
      display: flex;
      align-items: center;
    }
    .number-selected {
      color: #262626;
      margin-right: 24px;
    }
    .selection-buttons {
      .quill-button {
        margin-right: 8px;
      }
    }
    .release-method-and-assign-buttons {
      .quill-button, .interactive-wrapper {
        margin-left: 16px;
      }
      .interactive-wrapper {
        font-weight: 700;
        text-decoration: underline;
      }
    }
    &.post-test-assignment-button {
      margin: 0 auto;
      padding-left: 28px;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 158px;
      margin-left: 30px;
      margin-bottom: 16px;
      margin-top: 16px;
      button {
        position: relative;
      }
    }
  }
  .recommendations-table-container {
    margin-top: 16px;
    position: relative;
    margin-bottom: -40px;
    padding-bottom: 40px;
    margin-left: -335px;
    padding-left: 364px;
    display: flex;
    width: 100vw;
    .no-data-yet {
      position: absolute;
      top: 100px;
      left: 45%;
      width: 274px;
    }
    table {
      font-size: 12px;
      color: #5c5c5c;
      margin: 0;
      border: none;
      border-collapse: separate;
      border-spacing: 0;
      table-layout: fixed;
      padding-right: 32px;
      &.empty {
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-radius: 8px;
        empty-cells: hide;
        position: relative;
        min-height: 160px;
        padding-right: 0px;
        thead th:last-of-type {
          border-right: none;
        }
        tbody tr td:last-of-type {
          border-right: none;
        }
        tbody tr:last-of-type {
          td, th {
            border-bottom: none;
          }
        }
        td:empty {
          visibility: hidden;
        }
      }
      > thead > th:last-of-type {
        border-radius: 0px 8px 0px 0px;
      }
      > tbody > tr:last-of-type {
        > th {
          border-radius: 0px 0px 0px 8px;
        }
        > td:last-of-type, > td:last-of-type button {
          border-radius: 0px 0px 8px 0px;
        }
      }
      > tbody > tr, > thead > tr {
        display: flex;
      }
      > tbody > tr > td, > tbody > tr > th, > thead > tr > th {
        padding: 8px 16px;
        min-width: 160px;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        background-color: white;
        flex: 1;
      }
      th {
        text-align: left;
        color: #5c5c5c;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
      }
      > thead {
        position: sticky;
        top: 0;
        z-index: 2;
        > th {
          border-top: 1px solid #e0e0e0;
        }
      }
      > tbody > tr > th {
        position: sticky;
        left: 0;
        background: white;
        z-index: 1;
        border-left: 1px solid #e0e0e0;
      }
    }

    .recommendations-table-wrapper {
      width: 80%;
      overflow-x: scroll;
    }

    .recommendations-table-container {
      width: 100vw;
    }

    .post-test-table-wrapper {
      .recommendation-header {
        border-radius: 8px 8px 0px 0px !important;
        border: 1px solid #e0e0e0;
        background-color: white;
      }
      .recommendation-cell {
        border-left: 1px solid #e0e0e0;
        > .interactive-wrapper.recommended {
          background-color: #FFF8EE;
        }
      }
      table {
        margin-left: 30px;
        width: 160px;
        padding: 0px;
        th {
          width: 160px;
        }
      }
      table > tbody > tr:last-of-type > td:last-of-type {
        border-radius: 0px 0px 8px 8px;
        border: 1px solid #e0e0e0;
        border-top: none;
      }
      .empty-cell {
        height: 50px;
      }
    }

    .name-cell {
      padding: 0px;
      min-height: 50px;
      &:hover {
        background-color: #f5f5f5;
        z-index: 2;
      }
      &:not(:hover) {
        .quill-tooltip {
          display: none;
        }
        img {
          opacity: 0;
        }
      }
      a {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 0px 16px;
        align-items: center;
        font-size: 14px;
        font-weight: normal;
        color: #262626;
        justify-content: space-between;
      }
      .student-name {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 182px;
        display: inline-block;
      }
      > div {
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        span:first-of-type {
          font-size: 14px;
          font-weight: normal;
          line-height: 1.43;
          color: #262626;
        }
        .name-section-subheader {
          font-weight: normal;
          color: #808080;
        }
      }
      .quill-tooltip-wrapper {
        left: 0px;
        transform: inherit;
        .quill-tooltip {
          font-size: 12px;
          color: white;
        }
      }
    }
    .name-and-tooltip {
      display: flex;
      align-items: flex-end;
      .quill-tooltip-trigger {
        margin-left: 16px;
      }
      a {
        margin-left: 4px;
      }
      .quill-tooltip {
        z-index: 10;
      }
    }
    .corner-header {
      vertical-align: bottom;
      border-radius: 8px 0px 0px;
      border-left: 1px solid #e0e0e0;
      position: sticky;
      left: 0px;
      z-index: 1;
    }
    .corner-header, .name-cell {
      flex: 0;
      min-width: 216px;
    }
    .corner-header, .recommendation-header {
      border-top: 1px solid #e0e0e0;
      flex-direction: column;
      justify-content: flex-end;
      display: flex;
    }
    .recommendation-cell {
      padding: 0px;
      vertical-align: top;
      position: relative;
      > .interactive-wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        min-height: 50px;
        width: 100%;
        justify-content: center;
        .recommended-glyph {
          position: absolute;
          left: 8px;
        }
        .progress-indicator {
          display: flex;
          flex-direction: column;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: #06806B;
          .counts {
            font-weight: 700;
            font-size: 12px;
          }
        }
        &.recommended {
          background-color: #eef8f7;
        }
        &:focus, &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    .recommendation-header {
      vertical-align: bottom;
      padding: 8px;
      .activity-count {
        font-weight: normal;
        color: #808080;
        margin-top: 4px;
        display: inline-block;
      }
      .quill-tooltip a {
        color: white;
        text-decoration: underline;
      }
      .activity-count-and-select-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .quill-tooltip-wrapper {
          width: 146px;
        }
      }
      &:last-of-type {
        border-radius: 0px 8px 0px 0px;
      }
    }
  }
  .whole-class-instruction {
    margin-top: 64px;
    .lessons-recommendation {
      border-radius: 8px;
      border: solid 1px #e0e0e0;
      width: 100%;
      margin-top: 16px;
      .top-row {
        padding: 24px;
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        justify-content: space-between;
        border-radius: 8px;
        > div {
          display: flex;
          align-items: center;
          &:first-of-type {
            .recommended-glyph, span, .quill-checkbox {
              margin-right: 16px;
            }
            .recommended-glyph-placeholder {
              width: 12px;
            }
            .checkbox-placeholder {
              width: 16px;
            }
          }
        }
        h3 {
          font-size: 16px;
          line-height: 1.38;
          color: #262626;
        }
        > span, .students-needing-instruction-wrapper > span {
          color: #5c5c5c;
        }
        .activities-count {
          margin-left: 40px;
          margin-right: 16px;
        }
        .quill-tooltip-trigger img {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
        .assigned {
          margin-right: 16px;
        }
      }
      &.is-recommended-and-not-assigned {
        .top-row {
          background-color: #eef8f7;
        }
      }
      &.is-expanded {
        .expand-icon {
          transform: rotate(180deg);
        }
        .top-row {
          border-bottom: solid 1px #e0e0e0;
          border-radius: 8px 8px 0px 0px
        }
        .activity-row {
          margin: 0px 24px;
          display: flex;
          justify-content: space-between;
          padding: 12px 0px;
          border-bottom: 1px solid #e0e0e0;
          img {
            margin-right: 4px;
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
  @media (max-width: 1500px) and (min-width: 1319px) {
    .assigning-activity-disclaimer-banner {
      max-width: calc(100vw - 260px - 64px); // 260 for the navigation bar on the left, 64 for the padding around it on both sides
    }
  }
  @media (max-width: 1318px) {
    padding: 40px 0px !important;
    header, .mobile-navigation, .explanation, .section-header, .recommendations-empty-state {
      padding: 0px 16px;
    }
    .section-header {
      flex-direction: column;
      align-items: flex-start;
      .recommended-key {
        margin-left: 0px;
        margin-top: 8px;
      }
    }
    .recommendations-buttons {
      padding: 16px;
      margin: 16px 16px 0px;
      flex-direction: column;
      max-width: calc(100vw - 32px);
      .selection-buttons {
        flex-direction: column;
        .quill-button {
          margin-top: 8px;
          margin-right: 0px;
        }
      }
      .release-method-and-assign-buttons {
        flex-direction: column;
        margin-top: 24px;
        .release-method-text-and-edit-button {
          margin-bottom: 20px;
        }
        .number-selected {
          margin-right: 0px;
          margin-bottom: 8px;
        }
      }
    }
    .recommendations-table {
      margin-left: 16px;
    }
    .post-test-assignment-button {
      height: 233px;
      padding-top: 60% !important;
    }
    .larger-assign {
      height: 250px;
    }
    .whole-class-instruction {
      .lessons-recommendation {
        margin: 16px 16px 0px;
        max-width: calc(100vw - 32px);
        .quill-tooltip-trigger {
          transform: translateX(-100%);
        }
        .top-row {
          padding: 24px 16px;
          > div:last-of-type {
            .quill-tooltip-trigger {
              display: none;
            }
            > span {
              display: none;
            }
            .assigned {
              span {
                display: none;
              }
            }
          }
          > div:first-of-type {
              .recommended-glyph, span, .quill-checkbox {
                margin-right: 8px;
              }
            }
          }
          .activity-row {
            flex-direction: column;
          }
        }
      }
  }
}
