.diagnostic-individual-pack main.individual-student-responses-container {
  header {
    margin-bottom: 24px;
  }
  .skills-table-container {
    margin: 0px 0px 24px;
    width: min-content;
    max-width: 100%;
    .skills-table, .growth-skills-table {
      width: 950px;
      max-width: 100%;
      &.skills-table {
        .skill-column-header {
          width: 664px;
        }
        .summary-header {
          width: 128px;
        }
      }
      &.growth-skills-table {
        .skill-column-header {
          width: 450px;
        }
        .summary-header {
          width: 288px;
        }
      }
    }
  }
  .concept-tag {
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 10px;
    width: min-content;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 120% */
    img {
      margin-right: 4px;
    }
    &.incorrect-tag {
      color: $quill-gold-dark;
      border: 1px solid $quill-gold-dark-20;
      background: $quill-gold-5;
      width: 71px;
    }
    &.correct-tag {
      border: 1px solid $quill-green-vibrant-20;
      background: $quill-green-vibrant-10;
      color: $quill-green-vibrant;
      width: 67px;
    }
  }
  .tabs {
    border-bottom: 1px solid $quill-grey-5;
    margin-bottom: 24px;
    max-width: 950px;
  }

  .tab {
    font-size: 14px;
    font-weight: 600;
    color: $quill-grey-50;
    width: 156px;
    max-width: 50%;
    padding: 16px 14px;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    &.active {
      color: $quill-green;
      border-bottom: 2px solid $quill-green;
    }
  }

  .skill-group-section {
    max-width: 950px;
    padding-top: 32px;
    .skill-group-section-header {
      h2 {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        color: $quill-black;
      }
      p {
        font-size: 13px;
        display: flex;
        justify-content: flex-end;
        line-height: 20px;
        margin-bottom: 8px;
        color: $quill-grey-50;
      }
    }
  }

  .data-table {
    max-width: 950px;
    border-radius: 8px;
    border: solid 1px $quill-grey-5;
    overflow: visible;
    margin-bottom: 24px;
    .data-table-headers {
      border-radius: 8px 8px 0px 0px;
      min-height: 32px;
      background-color: $quill-grey-1;
    }
    .data-table-header {
      overflow: visible;
      white-space: nowrap;
      font-weight: 700;
      font-size: 13px;
      color: $quill-grey-90;
      img {
        margin-left: 4px;
      }
      .quill-tooltip-wrapper {
        left: 0%;
        transform: none;
      }
    }
    .data-table-header, .data-table-row-section {
      margin-right: 16px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
    .data-table-row-section:first-of-type {
      color: $quill-grey-90;
      font-size: 13px;
      font-weight: 600;
    }
    .data-table-row-section:last-of-type {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
      color: $quill-grey-50;
    }
    .data-table-row {
      height: 48px;
      padding: 0px 16px;
      margin: 0px;
      .quill-tooltip-trigger {
        margin-right: 16px;
      }
      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .mobile-data-table {
    display: none;
  }

  @media (max-width: 1250px) {
    .skills-table, .growth-skills-table {
      .summary-header, tr td:last-of-type {
        display: none;
      }
    }
    .data-table {
      display: none;
    }
    .mobile-data-table {
      display: block;
      border-radius: 8px;
      border: solid 1px $quill-grey-5;
      margin-bottom: 16px;
      .header {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.33;
        color: $quill-grey-50;
        padding: 8px 16px;
        border-bottom: 1px solid $quill-grey-5;
      }
      .mobile-data-table-row {
        display: flex;
        flex-direction: column;
        margin: 0px 16px;
        padding: 16px 0px 12px;
        border-bottom: 1px solid $quill-grey-5;
        > span {
          margin-bottom: 4px;
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
  @media (max-width: 930px) {
    padding: 40px 16px;
  }
}
