.results-summary-container {
  .results-empty-state {
    img {
      margin-top: 56px;
      margin-bottom: 16px;
    }
    h2 {
      font-weight: bold;
      color: #000;
      max-width: 520px;
    }
    p {
      font-size: 16px;
      color: #262626;
      margin-top: 8px;
      max-width: 460px;
    }
  }

  .skill-group-summary-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0px;
    position: relative;
    z-index: 3;
  }
  .skill-group-summary-card {
    max-width: 306px;
    width: 100%;
    height: 252px;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
    margin-right: 16px;
    margin-bottom: 16px;
    .card-header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 1.43;
      color: #262626;
      .skill-group-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 12px;
      }
    }
    .percentage-circle-label {
      text-align: center;
      margin: 24px auto 8px;
      font-size: 12px;
      display: block;
      line-height: 1.33;
      color: #5c5c5c;
    }
    .percentage-circle {
      margin: 0px auto 28px;
    }
    .need-practice-element {
      font-size: 12px;
      line-height: 1.33;
      color: #5c5c5c;
      &:not(.no-practice-needed) {
        border-bottom: #5c5c5c dotted 1px;
      }
    }
    .quill-tooltip, .quill-tooltip-wrapper {
      z-index: 5;
    }
    .no-data-yet {
      margin-top: 80px;
    }
  }
  .no-data-yet {
    text-align: center;
    h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.38;
      color: #262626;
    }
    p {
      color: #5c5c5c;
    }
  }
  .proficiency-tag {
    padding: 8px;
    border-radius: 8px;
    text-align: left;
    width: min-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
    }
    span {
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
    }
    &.proficiency {
      background-color: #b8db99;
      span {
        color: #2a5900;
      }
    }
    &.partial-proficiency {
      background-color: #ffd999;
      span {
        color: #995f00;
      }
    }
    &.maintained-proficiency {
      background-color: #e9f4e0;
      span {
        color: #367300;
      }
    }
    &.no-proficiency {
      background-color: #fff3e0;
      span {
        color: #995f00;
      }
    }
  }
  .proficiency-keys {
    margin-top: 24px;
    display: flex;
    .proficiency-key {
      max-width: 220px;
      margin-right: 24px;
      p {
        font-size: 12px;
        line-height: 1.33;
        color: #808080;
        margin-top: 16px;
      }
    }
  }
  .student-results-table-container {
    margin-top: 24px;
    overflow-x: scroll;
    position: relative;
    margin-left: -335px;
    margin-bottom: -400px;
    padding-bottom: 400px;
    padding-left: 364px;
    .no-data-yet {
      position: absolute;
      top: 81px;
      left: 45%;
      width: 274px;
    }
    > table {
      font-size: 12px;
      color: #5c5c5c;
      width: max-content;
      margin: 0;
      border: none;
      border-collapse: separate;
      border-spacing: 0;
      table-layout: fixed;
      &.empty {
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-radius: 8px;
        empty-cells: hide;
        position: relative;
        thead th:last-of-type {
          border-right: none;
        }
        tbody tr td:last-of-type {
          border-right: none;
        }
        tbody tr:last-of-type {
          td, th {
            border-bottom: none;
          }
        }
      }
      > thead > th:last-of-type {
        border-radius: 0px 8px 0px 0px;
      }
      > tbody > tr:last-of-type {
        > th {
          border-radius: 0px 0px 0px 8px;
        }
        > td:last-of-type {
          border-radius: 0px 0px 8px 0px;
        }
      }
      > tbody > tr > td, > tbody > tr > th, > thead > tr > th {
        padding: 8px 16px;
        width: 180px;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        background-color: white;
      }
      th {
        text-align: left;
        color: #5c5c5c;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
      }
      > thead {
        position: sticky;
        top: 0;
        z-index: 2;
        height: 65px;
        &.empty {
          height: 48px;
        }
        > th {
          border-top: 1px solid #e0e0e0;
        }
      }
      > tbody > tr > th {
        position: sticky;
        left: 0;
        background: white;
        z-index: 1;
        border-left: 1px solid #e0e0e0;
      }
    }
    .skills-table-container {
      margin: 0px 20px;
      .skills-table {
        .skill-column-header {
          width: 250px;
        }
        .summary-header {
          width: 107px;
        }
      }
    }
    .name-cell {
      &:hover {
        background-color: #f5f5f5;
        z-index: 2;
      }
      &:not(:hover) {
        .quill-tooltip {
          display: none;
        }
      }
      width: 216px;
      height: 92px;
      padding: 16px;
      .student-name {
        text-overflow: ellipsis;
        max-width: 182px;
        display: inline-block;
        -ms-flex-negative: 1;
        white-space: initial;
        line-height: normal;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        span:first-of-type {
          font-size: 14px;
          font-weight: normal;
          line-height: 1.43;
          color: #262626;
          width: 100%;
        }
        .name-section-subheader, .name-section-subheader .correct-skill-text {
          font-weight: normal;
          color: #808080;
          font-size: 12px;
          width: inherit;
          display: flex;
          margin-right: 4px;
        }
      }
      .quill-tooltip-wrapper {
        left: 0px;
        transform: inherit;
        .quill-tooltip {
          font-size: 12px;
          color: white;
        }
      }
    }
    .name-and-tooltip {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .quill-tooltip-trigger {
        margin-left: 16px;
      }
      .quill-tooltip {
        z-index: 10;
      }
    }
    .corner-header {
      vertical-align: bottom;
      border-radius: 8px 0px 0px;
      border-left: 1px solid #e0e0e0;
      width: 216px;
      left: 0;
      z-index: 2;
      position: sticky;
    }
    .corner-header, .skill-group-header {
      border-top: 1px solid #e0e0e0;
    }
    .student-result-cell {
      padding: 0px;
      vertical-align: top;
      position: relative;
      > .interactive-wrapper {
        padding: 16px 8px;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 92px;
        width: 100%;
        justify-content: space-between;
        &:focus, &:hover {
          border-radius: 8px;
          box-shadow: 0 1px 8px 0 #0003, 0 3px 3px -2px #0000001e, 0 3px 4px 0 #0000000f;
        }
      }
      .number-of-correct-skills-text {
        font-size: 12px;
        line-height: 1.33;
        color: #5c5c5c;
        border-bottom: 1px dotted #5c5c5c;
      }
      .student-results-popover-container {
        position: absolute;
        top: 0px;
        left: 188px;
        padding: 0px 20px 20px 0px;
        z-index: 1;
      }
      .student-results-popover {
        width: 512px;
        padding: 16px 0px 0px;
        border-radius: 10px;
        box-shadow: 0 1px 8px 0 #0003, 0 3px 3px -2px #0000001e, 0 3px 4px 0 #00000023;
        background-color: #fff;
        max-height: 100vh;
        overflow: scroll;
        header {
          padding: 0px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            font-size: 16px;
            line-height: 1.38;
            color: #262626;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.43;
          color: #5c5c5c;
          margin: 16px 20px 24px;
        }
        a {
          padding: 16px 20px;
          margin-top: 24px;
          display: block;
          border-top: 1px solid #e0e0e0;
          span {
            font-size: 14px;
            color: #262626;
            margin-left: 8px;
          }
          &:hover, &:focus {
            text-decoration: none;
            background-color: #f5f5f5;
          }
        }
      }
    }
    .skill-group-header {
      vertical-align: bottom;
      padding: 8px;
      .label {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.33;
        color: #808080;
        padding: 0px;
        margin-top: 2px;
        display: block;
        text-align: left;
      }
      &:last-of-type {
        border-radius: 0px 8px 0px 0px;
      }
    }
  }
  @media (max-width: 930px) {
    padding: 40px 0px !important;
    header, .mobile-navigation, .proficiency-keys, .results-empty-state, .skill-group-summary-cards, .student-results h2 {
      padding: 0px 32px;
    }
    .proficiency-keys {
      flex-direction: column;
      .proficiency-key {
        margin-bottom: 24px;
        p {
          margin-top: 8px;
        }
      }
    }
    .student-results-table-container {
      margin-top: 0px;
      margin-left: 0px;
      padding-left: 0px;
      width: 100%;
    }
    .skill-group-summary-card {
      margin-right: 0px;
    }
    .skill-group-summary-cards {
      flex-direction: column;
    }
    .card-header {
      .quill-tooltip-wrapper {
        right: 0;
        left: unset;
        transform: inherit;
      }
    }
  }
}
