/* individual-activity-reports*/
.diagnostic-nav-container, .activity-analysis  {
  margin: 0 auto;
  max-width: $sitewidepagewidth;
  padding-top: 44px;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    .student-dropdown, .class-dropdown {
      .dropdown__control {
        border-radius: 6px;
        padding: 7px 14px;
        height: 40px;
        min-width: 200px;
        border: solid 1px #cecece;
        border-radius: 6px !important;
      }
    }
  }
}

.individual-activity-reports {
    margin: 0 auto;
    padding-bottom: 91px;
    .css-10nd86i {
      position: static;
    }
    .dropdown__menu {
      top: 0;
    }
}

/* should be moved into select-item-dropdown file*/
$darkgray3: #7e7e7e;
$quillgreen: #00c2a2;
$lightgray: #cecece;
/* for report-navbar.scss*/
#report-button-group {
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 6px;
    border: solid 1px $lightgray;
    button {
        background-color: white;
        border: 1px solid $lightgray;
        border-top: none;
        border-bottom: none;
        font-weight: 400;
        &:last-of-type {
            border-right: none;
        }
        &:first-of-type {
            border-left: none;
        }
        &.active-true,
        &:focus,
        &:focus,
        &:hover {
            background-color: $quillgreen;
            border-color: $quillgreen;
            color: white;
        }
    }
}
/* for activity by classroom overview*/
#individual-activity-classroom-view {
  max-width: 950px;
  margin: auto;
    th:first-of-type,
    tr td:first-of-type {
        width: 110px;
        text-align: center;
    }
    th:nth-of-type(2),
    tr td:nth-of-type(2) {
        width: 80px;
        text-align: center;
    }
    th:nth-of-type(3),
    tr td:nth-of-type(3) {
        width: 310px;
        text-align: left;
    }
    th:nth-of-type(4),
    tr td:nth-of-type(4) {
        width: 310px;
        text-align: left;
    }
}
/* for the individual student reports*/
@mixin gray-border {
    border: solid 1px #cecece;
}
.individual-student-activity-view {
  padding-bottom: 91px;
  padding-top: 25px;
  margin: auto;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  .how-we-grade {
    margin-top: 1.5em;
  }
  .activity-view-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .dropdown-container {
      width: 268px;
      min-height: 32px;
      .dropdown__control {
        background-color: transparent;
      }
    }
  }
  .left-side-container {
    .activity-view-header {
      margin-bottom: 12px;
    }
    .score-time-spent-container {
      display: flex;
      .activity-view-score {
        margin-right: 16px;
      }
      .activity-time-spent {
      }
    }
  }
}
.student-report-box {
    margin: auto;
    margin-top: 25px;
    max-width: 950px;
    .student-report-table-and-index {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: white;
    }
    .question-index {
        @include gray-border;
        border-right: none;
        width: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 24px;
    }
    table {
        background-color: white;
        @include gray-border;
        border-left: none;
        font-size: 14;
        max-width: 855px;
        width: 100%;
        tr {
            height: 30px;
            padding-left: 8px;
            border-bottom: solid 0.5px #cecece;
            &:first-of-type:not(.directions):not(.feedback) {
              height: 0px;
            }
            /* first of type has height of 0 so we don't want any borders*/
            &:last-of-type, &:first-of-type:not(.directions):not(.feedback) {
              border-bottom: none;
            }
            &.student-report-headers {
              td div {
                height: 0;
              }
              td div span {
                position: relative;
                top: -34px;
                font-weight: 700;
              }
              td:first-of-type div span {
                right: 82%;
              }
            }
        }
        td {
          &:first-of-type {
            padding-left: 10px;
              width: 13.5%;
          }
          &:nth-of-type(2) {
            width: 34px;
            text-align: right;
          }
          &:last-of-type {
            padding-left: 32px;
            padding-right: 10px;
          }
        }
    }
}

/* TODO: merge this with above CSS*/

.student-report-box {
  td {
      height: 30px;
      border-bottom: solid 0.5px #cecece;
      padding: 7px;
    }
  tr.student-report-headers td {
    height: 0px;
    border-bottom: none;
  }
}

#individual-classroom-view {
  table {
    margin: 0;
    width: 100%;

    &:last-of-type tr {
      border-top: 0;
    }
  }

  .not-completed-row, .in-progress-row {
    td:first-of-type {
      text-decoration: none;
    }
    td:last-of-type {
      text-align: left;
    }
  }
}

/* for shading by score*/
.gray-score-color {
  background-color: #f7f5f5;
}
.green-score-color {
  background-color: #e7fee8;
  &:hover {
    background-color: #D7FCD9;
  }
}
.red-score-color {
  background-color: #feedf0;
  &:hover {
    background-color: #FADDE2;
  }
}
.yellow-score-color {
  background-color: #fff6e2;
  &:hover {
    background-color: #FEF0D2;
  }
}
.not-completed-row {
  background: #f7f5f5;
}
.in-progress-row {
  background: #ffffff;
}


/* for class reports*/

.student-groupings {
  @include gray-border;
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  width: 193px;
  padding: 10px;
  h3 {
    font-size: 20px;
    margin-bottom: 3px;
  }
  span {
    white-space: pre;
  }
}
#individual-classroom-view {
  margin: auto;
  max-width: 950px;
  th, td {
    text-align: left;
    &:first-of-type {
      width: 45%;
    }
  }
  th:nth-of-type(4) {
    border-left: none;
    width: 88px;
  }
  td:first-of-type {
    text-decoration: underline;
  }
}

.recommendations-explanation {
  margin-top: 8px;
  font-size: 14px;
  color: #000000;
}

.recommendations-container {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;

  .independent-practice-container {
    margin-top: 48px;

    .independent-practice-header {
      width: 950px;
      margin: auto;
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      color: #3b3b3b;
      align-items: center;
      display: flex;

      .independent-practice-logo {
        margin-right: 14px;
      }
    }
  }
  .no-recommendations {
    font-size: 24px;
    margin-top: 40px;
  }
}

.recommendations-explanation-container {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
}

.recommendations-top-bar {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;


  .recommendations-key {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .recommendations-key-icon {
      height: 40px;
      width: 40px;
      border-radius: 4px;
      background-color: #eafcff;
      border: solid 1px #cecece;
      margin-right: 9px;
    }
    .assigned-recommendations-key-icon {
      i, svg {
        font-size: 35px;
        color: #82bf3c;
        margin-left: 44px;
      }
    }
    .uncheck-recommendations, .check-recommendations {
      font-size: 12px;
      color: #027360;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      border: none;
      background-color: #f7f5f5;
      padding: 0px;
      margin-top: 3px;

      &:focus {
        outline-offset: 2px;
      }

      img {
        margin-right: 5px;
      }
    }
    .assigned-activity-pack-text {
      margin-left: 10px;
      p:nth-of-type(2) {
        color: #737373;
      }
    }
    .recommended-activity-pack-text {
      margin-bottom: 3px;
    }
  }
}

.recommendations-table-header {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  .recommendations-table-header-name {
    width: 140px;
    padding: 12px;
    font-family: 'adelle-sans', "Arial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
  }

  .recommendations-table-header-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    padding: 12px;
    font-family: 'adelle-sans', "Arial", sans-serif;
    font-size: 12px;

    .view-pack-link {
      color: #027360;

      &:focus {
        outline-offset: 2px;
      }
    }

    p {
      line-height: 1.25;
      font-weight: 600;
      margin-bottom: 3px;
    }
  }

}

.recommendations-table-row-wrapper {
  .recommendations-table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;

    .recommendations-table-row-name {
      width: 140px;
      padding: 12px;
      font-size: 12px;
      line-height: 1.25;
      background-color: #ffffff;
      border: solid 1px #cecece;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
        border-bottom: none;
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          i, svg {
            color: #c0c0c0;
            font-size: 10px;
          }
          &:hover {
            text-decoration: none;
            i, svg {
              color: #3b3b3b;
            }
            span {
              text-decoration: underline;
            }
          }
        }
    }

    .recommendations-table-row-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      padding: 12px;
      font-family: 'adelle-sans', "Arial", sans-serif;
      font-size: 12px;
      line-height: 1.25;
      overflow: hidden;
      background-color: #ffffff;
      border: solid 1px #cecece;
      border-left: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: none;
      &:not(.previously-assigned) {
        cursor: pointer;
      }
      &.recommended {
        background-color: #eafcff;
      }

      &.selected {
        p {
          color: #000000;
        }
      }
      &.previously-assigned {
        p {
          color: #737373 !important;
        }
        i, svg {
          font-size: 18px;
          color: #82bf3c;
          margin-right: 10px;
        }
      }

      p {
        display: -webkit-box;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 30px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: normal;
        line-height: 1.25;
        color: #646464;
      }


    }

    &:last-of-type {
      .recommendations-table-row-name, .recommendations-table-row-item, .not-completed-cell {
          border-bottom: solid 1px #cecece !important;
      }
      .recommendations-table-row-name {
        /* border-top: none;*/
      }
    }

    &.not-completed-row {
      .recommendations-table-row-name {
        background-color: transparent;
        font-size: 13px;
        line-height: 1.15;
      }
      .not-completed-cell {
        max-width: 810px;
        width: 100%;
        border: solid 1px #cecece;
        border-left: none;
        border-bottom: none;
        font-size: 13px;
        line-height: 1.15;
        padding: 16px 12px;
      }
    }

  }
}

.recommendations-bottom-bar {
  margin-top: 45px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}


/* for progress report landing page*/
.progress-reports-landing-page {
  margin: auto;
  max-width: 1025px;
  a {
    text-decoration: none;
  }
  .generic-mini {
    margin: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
    text-align: left;
    .dropdown-container {
      min-height: 65px;
      min-width: 200px;
    }
    .dropdown__control {
      background-color: transparent;
    }
  }
  .premium {
    margin-top: 5px;
    color: #eda41b;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    /* want shorter images if we have the premium row of type*/
    & + div {
      height: 120px;
    }
  }
  h3 + div {
    padding-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      .dropdown-container {
        min-height: inherit;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
    .diagnostic-nav-container {
      padding-left: 10px;
    }
    #reports-navbar div.how-we-grade {
      float: none !important;
      text-align: left;
      margin-top: 0px;
    }
}

.assigned-activities .row:hover {
  background-color: $row-hover-green-white;

  div.starting-row div#activity-analysis-activity-name a, div.starting-row div#activity-analysis-activity-name span {
    color: $quillgreen;
  }
}

.assigned-activities .row:first-of-type .activity-analysis-row-right {
  *::before {
    color: $anothergray;
    cursor: auto;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: -44px;
  }

  .number-of-students::before {
    content: 'Completion';
    margin-right: -65px;
    width: 65px;
  }

  .average-score::before {
    content: 'Avg. Score';
    margin-right: -59px;
    width: 59px;
  }
}

.activity-analysis-row-right {
  .chevron-right {
    margin-right: 5px;
  }

  .activity-analysis-pie-chart {
    border-radius: 50%;
    box-shadow: 0 0 0 2px $quillblue inset;
    margin-right: 10px;
    transform: rotate(-90deg);
    vertical-align: text-bottom;
    width: 18px;
  }
}

.description, .standard {
  img {
    margin-right: 15px;
  }
}

.standard {
  margin-top: 6px;
}

.name-and-preview {
  a {
    color: #027360;
    padding-left: 20px;
  }
  h1 {
    margin-bottom: 0;
  }
  img {
    padding-right: 15px;
  }
  padding-bottom: 15px;
}

.sortable-activity-row {
  .row {
    width: 100% !important;
    border: 1px solid #cecece;
    padding: 0px 30px 0px 15px;
    background-color: white;
    min-height: 62px;
    .delete-classroom-activity, .due-date-field {
      display: none;
    }
  }
  .row::before {
    content: none;
  }
}
