.diagnostic-activity-packs-container {
  background-color: white;

  section {
    border-bottom: none;
    padding: 0px;
  }

  h1 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
  }

  .dropdown-container {
    max-width: 300px;
    min-height: 58px !important;
    &.active {
      justify-content: flex-start;
    }
  }

  .classroom-section {
    margin-top: 56px;
    &:first-of-type {
      margin-top: 40px;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
      color: #262626;
    }
    .diagnostic {
      margin-top: 20px;
      border-radius: 8px;
      border: solid 1px #e0e0e0;
      .name {
        padding: 16px 20px;
        border-bottom: #e0e0e0 1px solid;
        h3 {
          font-size: 16px;
          line-height: 1.38;
          color: #262626;
        }
      }
      .pre-and-post-wrapper {
        display: flex;
        height: 176px;
        section {
          padding: 16px 20px;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          h4 {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #262626;
          }
          p {
            max-width: 290px;
            margin-top: 12px;
            display: flex;
            align-items: flex-start;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #424242;
            img {
              margin-right: 10px;
            }
            span {
              padding-top: 1px;
            }
            .growth {
              background-color: #b8db99;
              padding: 0px 4px;
              padding: 4px;
              border-radius: 4px;
              font-size: 12px;
              font-weight: 600;
              color: #2a5900;
              img {
                margin-right: 4px;
              }
            }
          }
          a, .fake-link {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.43;
            color: #5c5c5c;
            margin-right: 24px;
            background-color: transparent;
          }
          &.pre, &.post {
            max-width: 356px;
            width: 100%;
            p span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .quill-tooltip-trigger, .quill-tooltip-wrapper, .quill-tooltip-wrapper span {
              white-space: normal;
              overflow: visible;
              text-overflow: initial;
            }
            .quill-tooltip-wrapper, .quill-tooltip-wrapper span {
              padding-top: 8px;
            }
            .activity-pack-name {
              max-width: 286px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }
          }
          &:not(:last-of-type) {
            border-right: 1px solid #e0e0e0;
          }
        }
        .post {
          .post-buttons-container {
            display: flex;
            a:first-of-type {
              margin-right: 8px;
            }
            a:focus, button:focus {
              outline-offset: 4px;
            }
          }
        }
        .diagnostic-reports-button {
          color: #000000;
          font-size: 13px;
        }
        .diagnostic-reports-button:hover, .diagnostic-reports-button:focus {
          background-color: #f5f5f5;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .classroom-section .diagnostic .pre-and-post-wrapper {
      display: flex;
      height: min-content;
      flex-direction: column;
      section {
        a, .fake-link {
          margin-top: 20px;
          display: inline-block;
        }
        p {
          max-width: 100%;
        }
        &:not(:last-of-type) {
          border-right: none;
          border-bottom: 1px solid #e0e0e0;
        }
        &.pre, &.post {
          max-width: 100%;
        }
      }
      .post {
        .post-buttons-container {
          align-items: baseline;
          a {
            text-align: left;
            margin-right: 8px;
            padding-right: 0;
            min-width: auto;
          }
          button {
            margin-top: 0px;
          }
        }
      }
      .diagnostic-reports-button {
        border: none;
        font-weight: 700 !important;
        font-size: 14px;
        padding-left: 0;
        margin-top: 20px;
        color: #5C5C5C;
      }
    }
  }

}
