.diagnostic-individual-pack {
  height: min-content;
  display: flex;
  background-color: white;
  max-width: 2500px;
  margin: auto;
  section {
    border-bottom: none;
    padding: 0px;
  }
  .diagnostic-report-navigation {
    width: 260px;
    min-width: 260px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    min-height: min-content;
    padding: 40px 0px;
    z-index: 4;
    position: relative;
    .dropdown-container {
      padding: 0px 16px;
      min-height: 58px;
      justify-content: flex-start;
      margin-bottom: -18px;
    }
    .post-diagnostic-card {
      background-color: #f5f5f5;
      padding: 16px 16px 24px;
      border-radius: 4px;
      margin: 0px 8px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      .close-button {
        position: absolute;
        right: 16px;
        top: 16px;
        img {
          height: 16px;
        }
      }
      p {
        text-align: center;
        color: #5c5c5c;
        margin: 8px 0px 24px;
      }
      a, .fake-link {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.43;
        text-align: center;
        background-color: transparent;
        margin: 0px 8px;
        color: #5c5c5c;
        text-decoration: underline;
      }
    }
    .diagnostic-section {
      padding: 0px;
      margin: 32px 0px;
      h6 {
        padding: 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #5c5c5c;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        img {
          height: 16px;
          margin-left: 16px;
        }
      }
      .disabled-link {
        cursor: not-allowed;
      }
      a:not(.preview-link), .disabled-link {
        margin: 4px 8px;
        padding: 4px 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        img {
          margin-right: 4px;
        }
        &.selected {
          background-color: #e1f3f1;
          text-decoration: none;
        }
        &:not(.selected):hover, &:not(.selected):focus {
          background-color: #f5f5f5;
          text-decoration: none;
        }
      }
      &.disabled {
        opacity: 50%;
      }
    }
  }
  main {
    padding: 40px 0px 304px;
    width: calc(100vw - 260px);
    background-color: white;
    header {
      display: flex;
      h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.25;
        color: #262626;
        margin-right: 12px;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #5c5c5c;
        img {
          margin-right: 2px;
        }
      }
    }
    h2 {
      font-size: 20px;
      line-height: 1.3;
      color: #262626;
    }
  }

  .no-data-yet {
    text-align: center;
    h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.38;
      color: #262626;
    }
    p {
      color: #5c5c5c;
    }
  }

  // @media (min-width: 1540px) {
  //   main {
  //     > header,
  //     .skill-group-summary-cards,
  //     .student-results h2,
  //     .proficiency-keys,
  //     .recommendations-empty-state,
  //     .results-empty-state,
  //     .scoring-explanation-container,
  //     &.student-responses-index-container .data-table-container,
  //     &.individual-student-responses-container .skills-table-container-wrapper,
  //     &.individual-student-responses-container .concept-results-container,
  //     &.questions-index-container .data-table-container {
  //       max-width: 982px;
  //       margin-left: calc(50% + -100px);
  //       transform: translateX(-50%);
  //       width: calc(100vw - 260px);
  //     }
  //   }
  // }

  @media (min-width: 931px) {
    main {
      > header,
      .skill-group-summary-cards,
      .student-results h2,
      .proficiency-keys,
      .recommendations-empty-state,
      .results-empty-state,
      .scoring-explanation-container,
      &.student-responses-index-container .data-table-container,
      &.individual-student-responses-container .skills-table-container-wrapper,
      &.individual-student-responses-container .concept-results-container,
      &.questions-index-container .data-table-container,
      &.diagnostic-recommendations-container .explanation,
      &.diagnostic-recommendations-container .recommendations-buttons-container,
      &.diagnostic-recommendations-container .lessons-recommendations,
      &.diagnostic-recommendations-container .section-header {
        padding-left: 32px;
        padding-right: 32px;
      }
    }

  }

  @media (max-width: 930px) {
    main {
      width: 100%;
      header {
        flex-direction: column;
        align-items: flex-start;
        h1 {
          margin-bottom: 8px;
          margin-right: 0px;
        }
      }
    }
  }
}
