.how-we-grade {
  color: #027360;
  display: block;
  float: none;
  margin-top: 10px;
  text-align: right;
  text-decoration: none;
}

.progress-reports-2018 {
  max-width: $sitewidepagewidth;
  margin: auto;
  padding-top: 30px;

  &.data-export, &.concept-student-concepts {
    .ReactTable .rt-td.show-overflow {
      white-space: pre-wrap;
    }
  }

  .dropdown__control {
    background-color: transparent;
  }

  .rt-thead {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  }

  > .student-name {
    display: none;
  }

  .header-and-info {
    max-width: 603px;
    h1 {
      font-size: 24px;
      color: #3b3b3b;
      font-weight: 800;
      padding-bottom: 13px;
      span {
        font-weight: normal;
      }
    }
    p {
      color: #666666;
    }
  }

  .dropdown-container {
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
  }
  #flexed {
    display: flex;
    .admin-activity-dropdown, .admin-concept-dropdown, .student-reports-class-dropdown {
      margin-right: 10px;
    }
  }

  .-sort-asc, .-sort-desc {
    box-shadow: none !important;
  }

  .-sort-asc {
    div::after {
      position: absolute;
      top: 12px;
      font-size: 18px;
      right: 25px;
      color: #969696;
      font-family: "Font Awesome 5 Pro";  /* updated font-family */
      font-weight: 900; /* regular style/weight */
      content: "\f0d7";
    }
  }

  .-sort-desc {
    div::after {
      position: absolute;
      top: 12px;
      font-size: 18px;
      right: 25px;
      color: #969696;
      font-family: "Font Awesome 5 Pro";  /* updated font-family */
      font-weight: 900; /* regular style/weight */
      content: "\f0d8";
    }
  }

  .row-link-disguise {
    width: 100%;
    display: inline-block;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.underlined {
      text-decoration: underline;
    }
  }
  .standard-level {
    display: inline-block;
    color: black;
    width: 100%;
  }
  .standards-all-classrooms-dropdown-container {
    .dropdown-container:first-child {
      margin-right: 8px;
    }
  }
}

.concept-student-concepts {
  .header-and-info {
      h1 {
        padding-bottom: 0;
      }
      min-height: 54px;
  }
  .meta-overview {
    margin-bottom: 31px;
  }
  .ReactTable.progress-report .rt-tr-group:hover {
    background-color: white;
  }
}

.activities-scores-by-classroom {
  .csv-and-how-we-grade a {
    display: block;
  }
  .btn {
    &:focus {
      color: white;
    }
  }
  .meta-overview {
    padding-bottom: 13px;
  }
}

.individual-standard, .individual-student {
  padding-top: 30px;
  .meta-overview {
    margin-bottom: 20px;
    align-items: center;
  }
  .header-and-info {
    max-width: 720px;
    min-width: 575px;
  }
}

.navigate-back {
  img {
    height: 12px;
    margin-right: 5px;
    transform: rotate(180deg);
  }
  font-size: 14px;
  font-weight: 600;
  color: #027360;
  &:hover {
    text-decoration: none;
  }
}

.non-premium-blur {
-webkit-filter: blur(5px) grayscale(100%);
 -moz-filter: blur(5px) grayscale(100%);
 -o-filter: blur(5px) grayscale(100%);
 -ms-filter: blur(5px) grayscale(100%);
 filter: blur(5px) grayscale(100%);
 -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

.proficient-indicator, .not-proficient-indicator {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  margin-right: 10px;
  display: inline-block;
}

.proficient-indicator {
  background-color: #82bf3c;
}

.not-proficient-indicator {
  background-color: #ff4542;
}

.standards-all-classrooms {
  .dropdown {
    margin-right: 20px;
  }
}
