.skills-table-container {
  .skills-table, .growth-skills-table {
    border-radius: 8px;
    border: solid 1px $quill-grey-5;
    border-collapse: separate;
    &.contracted {
      border-radius: 8px 8px 0px 0px;
    }
    thead, tr, th {
      position: unset;
      padding: 8px;
      height: auto;
      border-radius: 8px;
    }
    th {
      border: none;
      text-align: left;
      color: $quill-grey-50;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.33;
    }
    th, td {
      padding: 8px;
      width: min-content;
      background-color: transparent;
      &:first-of-type {
        padding-left: 16px;
      }
    }
    td {
      line-height: 1.33;
      border-top: 1px solid $quill-grey-5;
      border-bottom: none;
      border-right: none;
      border-radius: 0px !important;
      font-size: 14px;
      color: $quill-grey-90;
      &:first-of-type {
        font-weight: 600;
      }
    }
    thead {
      background-color: $quill-grey-1;
      th {
        font-weight: 700;
        color: $quill-grey-90;
        border-radius: 0px;
        &.skill-column-header {
          border-radius: 8px 0px 0px 0px;
        }
        &.summary-header {
          border-radius: 0px 8px 0px 0px;
        }
      }
    }
    .pre-and-post-text {
      color: $quill-grey-50;
    }
    .center-align {
      text-align: center;
    }

    .fully-correct-tag, .proficiency-tag {
      border-radius: 6px;
      border: 1px solid $quill-green-vibrant-20;
      background: $quill-green-vibrant-10;
      color: $quill-green-vibrant;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 12px;
      padding: 0px 8px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
    }
  }

  .growth-skills-table, .student-results-table-container .student-result-cell .student-results-popover table.growth-skills-table {
    td > div {
      display: flex;
      flex-direction: column;
      > span {
        height: 32px;
        line-height: 16px;
        display: flex;
        align-items: center;
        padding: 0px 8px;
        &:first-of-type {
          border-bottom: 1px solid $quill-grey-5;
        }
        &.contains-skill-gained-tag {
          display: flex;
          align-items: center;
          padding-right: 16px;
          .column:first-of-type {
            width: 122px;
          }
        }
      }
      &.no-left-padding {
        span {
          padding-left: 0px;
        }
      }
    }
    td {
      padding: 0px;
      &:first-of-type {
        padding: 16px;
        vertical-align: top;
      }
    }
    .skill-gained-tag {
      padding: 4px;
      border-radius: 4px;
      text-align: left;
      width: min-content;
      white-space: nowrap;
      background-color: #b8db99;
      margin-left: 4px;
      display: flex;
      align-items: center;
      img {
        margin-right: 4px;
      }
      span {
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $quill-green-vibrant;
      }
    }
  }
  .show-more-button {
    font-weight: 600;
    background-color: white;
    width: 100%;
    padding: 12px 0px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid $quill-grey-5;
    border-top: none;
    color: $quill-grey-50;
    &:hover, &:focus {
      background-color: #f5f5f5;
    }
  }
}
