<% base_image_url = "#{ENV['CDN_URL']}/images/pages/administrator" %>

<div class="white-background">
  <div class="container about-us-page administrator-page">
    <div class="header">
      <h1>Bring Quill to your school or district</h1>
      <p>Quill offers school and district-wide Premium licenses which provide Quill Premium upgrades to teachers, including professional development, one-to-one coaching, enhanced reporting, and school and district-wide administrative dashboards.</p>
    </div>

    <div class="link-section-and-image-container">
      <div class="link-section-container">
        <div class="link-section">
          <p>Interested in bringing Quill Premium to your school?</p>
          <a class="quill-button small secondary outlined focus-on-light" href="/premium">Contact sales</a>
        </div>
        <div class="link-section">
          <p>Looking for best practices for using Quill in your school?</p>
          <a class="quill-button small secondary outlined focus-on-light" href="/teacher-center">Teacher center</a>
        </div>
        <div class="link-section">
          <p>Something else?</p>
          <a class="quill-button small secondary outlined focus-on-light" href="mailto:support@quill.org">Contact support</a>
        </div>
      </div>
      <img class="square-large-img hide-mobile" loading="lazy" src=<%= "#{base_image_url}/teacher-presenting-on-screen@2x.png" %> alt="Teacher presenting a whole-class lesson to their students." />
    </div>

  </div>
</div>
