<div class="container pages-container beta">
    <h1>You Have Beta Access!</h1>
    <p>Thanks for being an active user of Quill! We're excited to share with you early access to our new tools and content.</p>
    <!-- <h3>New Quill Diagnostic Tool</h3>
    <p>You can now assign the Quill Diagnostic tool. The diagnostic covers vital sentence structure skills and generates a personalized learning plan based on the student’s performance. Easy to read reports help you choose and assign the perfect Quill activities
        to improve your students’ writing.</p>
    <h3>Assign It</h3>
    <p>Go to the activity planner and select the diagnostic from the list.</p>
    <img src="/images/pages/beta/assign_diagnostic.png" alt="Assign Diagostic">
    <h3>View Student Reports</h3>
    <p>From the Student Reports screen, click on the "Diagnostic" tab to view the results.</p>
    <img src="/images/pages/beta/diagnostic_planner.png" alt="Diagnostic Planner">
    <h3>New Sentence Combining Tool</h3>
    <p>Using the evidence-based strategy of sentence combining, students combine multiple ideas into a single sentence. They then receive instant feedback designed to help them improve the clarity and precision of their sentences.</p>
    <h3>Assign It</h3>
    <p>Go to the activity planner, select custom activity pack, and then select “Quill Connect” from the dropdown menu.</p>
    <img src="/images/pages/beta/quill_connect.png" alt="Quill Connect" />
    <h3>View Student Reports</h3>
    <p>From the Student Reports screen, click on the "Activity Analysis" option to view student results.</p>
    <img src="/images/pages/beta/activity_analysis.png" alt="Activity Analysis"> -->


</div>
