<% @active_tab = 'Contact Us' %>
<% @title = 'Contact' %>
<% base_image_url = "#{ENV['CDN_URL']}/images/press" %>
<% teacher_center_link = '/teacher-center' %>

<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title %>
<div class="white-background">
  <div class="container contact-page">
    <div class="contact-container">
      <img src="https://quill-cdn.s3.amazonaws.com/images/icons/email.svg" />
      <h1>Sales</h1>
      <div class="content-section">
        <p>Learn more about <a href="https://www.quill.org/premium"><span>Quill Premium</span></a>.
        <p>
          If you need assistance selecting the right subscription, receiving a quote, or processing purchase orders,
          our sales team is here to help! Reach out to <span>sales@quill.org.</span>
        </p>
        <p>
          <a href="https://www.quill.org/premium/request-school-quote"><button>Request a quote</button></a>
        </p>
      </div>
    </div>
    <div class="vertical-divider"></div>
    <div class="horizontal-divider"></div>
    <div class="contact-container">
      <img src="https://quill-cdn.s3.amazonaws.com/images/icons/packs-independent.svg" />
      <h1>Support</h1>
      <div class="content-section">
        <p>Help articles and resources can be found on our <a href="https://support.quill.org/en/"><span>Support Center</span></a>.</p>
        <p>For general inquiries, account guidance, instructional support, or to report bugs, our support team is here to help. Connect with them at <span>support@quill.org</span>.</p>
        <p>You can also contact us at: <a href="tel:5106710222"><span>510-671-0222</span></a>.</p>
      </div>
    </div>
  </div>
</div>
