<% @active_tab = 'Contact Us' %>
<% @title = 'Contact' %>
<% base_image_url = "#{ENV['CDN_URL']}/images/press" %>
<% teacher_center_link = '/teacher-center' %>

<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title %>
<div class="white-background">
  <div class="container contact-page">
    <div class="sales-container contact-container">
      <img src="https://quill-cdn.s3.amazonaws.com/images/icons/email.svg" />
      <h1>Sales</h1>
      <div class="content-section">
        <p>Learn more about <a href="https://www.quill.org/premium"><span>Quill Premium</span></a>. To reach our sales team, email <span>sales@quill.org.</span></p>
        <a href="https://www.quill.org/premium/request-school-quote"><button>Request a quote</button></a>
      </div>
    </div>
    <div class="support-container contact-container">
      <img src="https://quill-cdn.s3.amazonaws.com/images/icons/packs-independent.svg" />
      <h1>Support</h1>
      <div class="content-section">
        <p>Our support team is ready to answer your questions related to our tools and help with technical issues.</p>
        <p>Access our <a href="https://support.quill.org/en/"><span>Support Center</span></a> to view help articles or email <span>support@quill.org</span>.</p>
        <p class="second-paragraph">You can also contact us at: <a href="tel:5106710222"><span>510-671-0222</span></a>.</p>
      </div>
    </div>
  </div>
</div>
