<% @active_tab = 'Impact' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>

<div class="container impact-page">
  <h1>Quill has reached 1000 cities in the United States and has been used by 735,000 students.</h1>

  <iframe id="map-iframe" src="https://www.google.com/maps/d/u/0/embed?mid=1ddUc_gtX3ZVxW2SS5Z5VtpKfKfo&z=5&ll=39.05582,-95.68901" width=“100%” height=“700” scrolling="no"></iframe>

  <iframe src="https://quill.geckoboard.com/dashboards/6545ABBE1D67B8A3" frameborder=0 height=1450 width="100%" scrolling=no>
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
