<% @active_tab = 'Pathways Initiative' %>
<% @title = 'Pathways Writing Initiative' %>
<% @image_link = 'https://s3.amazonaws.com/quill-image-uploads/uploads/files/featured-image.png' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title, image_link:  @image_link %>

<div class="white-background">
  <div class="container about-us-page pathways-page">
    <div class="header">
      <h1>How can we teach kids to write well? <br/> Phil Weinberg launches a research project with Quill.org to find out. </h1>
      <p>Quill.org launches the <i>Writing Pathways Initiative</i>, partnering with teachers to create a research-based, open-source roadmap for implementing the highest-quality writing instruction. Phil Weinberg, former academic chief for the New York City Department of Education, leads the initiative.</p>
    </div>
    <div class="cta-container">
      <div class="cta-text">
        <p class="cta-header">The Writing Pathways Initiative</p>
        <p class="cta-subheader">Read more about the project, goals, team, and impact of the initiative.</p>
      </div>
      <a href="https://pathways.quill.org/" rel="noopener noreferrer" target="_blank">
        <button class="quill-button contained primary medium focus-on-light">Learn More</button>
      </a>
    </div>
    <div class="text-section">
      <h1>Why is writing so hard to teach?</h1>
      <p>Expressing your thoughts clearly and with precision through the written word has never been more important for success in school and in life. But what is the best method for teaching writing? Unlike in mathematics, where there are cohesive, evidence-based sequences for effective teaching, there is currently no coherent, widely-used roadmap of writing skills that teachers can use to support their students. Furthermore, teachers don’t have access to resources and professional development on how to teach writing well. Historically, gaps in data about how educators teach writing in their classrooms have inhibited the development of responsive guidance for the field. </p>
    </div>
    <div class="text-section">
      <h1>How can we amplify research-based writing best practices, build community amongst practitioners, and enable more students to become stronger writers? </h1>
      <p>Quill.org is proud to announce the launch of the Writing Pathways Initiative, a multi-year research project aimed at providing teachers with a clear, open-source roadmap for implementing the highest-quality writing instruction. In partnership with educators and researchers, the project will identify a logical progression of writing skills to inform teaching in the classroom and advance the teaching of writing nationally. The Writing Pathways Initiative is being funded by The Bill & Melinda Gates Foundation’s Bright Spots portfolio, which aims to identify promising trends in education, and will be led by Phil Weinberg, the former Deputy Chancellor for Teaching and Learning of the New York City Department of Education. Phil joins Quill.org as a Senior Partner, building on a 35-year commitment to public education as an educator, principal, and New York City academic leader. He explains what drew him to this project:</p>
      <p>"To confront the inequities and ingrained barriers to success that stand in the way of our young people, one of the things we must do is reimagine how we equip all of our students with the skills essential to achieving their goals. One of those skills is the ability to write well. Writing strengthens student voice and agency, and ensures that young people leave our schools able to advocate for themselves and their communities, which is the ultimate goal of education. However, despite its clear importance, the teaching of writing is rarely a focus of concerted improvement efforts. That’s why I find this project so compelling."</p>
    </div>
    <div class="text-section">
      <h1>Why is Quill.org leading this initiative?</h1>
      <p>Quill.org is a nonprofit organization dedicated to helping students become strong writers and critical thinkers. “We know teachers want to help their students become better writers,” says <a href="https://www.quill.org" rel="noopener noreferrer" target="_blank">Quill.org</a> founder and executive director, Peter Gault, “but they lack data-driven tools to help them achieve this goal. By better defining the scope and sequence of writing instruction, the Writing Pathways Initiative will enable schools to plan a coherent approach to student writing instruction, which will significantly benefit educators who have often been left to tackle this problem individually. Students will be the chief beneficiaries— as schools improve their ability to teach these essential communication skills, students will be equipped with the skills needed to face the challenges ahead.” </p>
      <p>This research project extends Quill.org’s efforts to provide free and open-source writing tools for students. Quill’s tools automatically assess student writing and provide immediate feedback that enables students to revise their work and quickly build their skills. To date, the nonprofit organization has impacted more than four million students across the United States, with students writing and receiving feedback on more than 600 million sentences.</p>
      <p>The Pathways team is comprised of Taha Adib, the Data Product Manager, and Jessica Azani, the Director of Research and Instruction. Steve Graham, Regent Professor at Arizona State University, is the project’s lead researcher. Dr. Graham, the author of Writing Next shares, "There have been multiple calls over the years to improve student writing and writing instruction. However, despite these calls for improving this critical skill, writing has played a minor role in multiple attempts aimed at reforming and improving education in the US. This project will work to change that."</p>
    </div>
    <div class="text-section">
      <h1>Phase I: How will the project use data to develop an open-source pathway?</h1>
      <p>The project will begin during the 2021-2022 school year, researching practices in dozens of classrooms to collect daily qualitative and quantitative data on writing instruction. The research will focus on a broad cross-section of schools serving students from various socio-economic communities. By collecting this data, the team will create a composite description of what writing instruction looks like over the course of a year. This data set will enable researchers and teachers to identify effective practices and gain a working knowledge of the type and sequencing of instruction needed to advance skills for students.</p>
      <p>At the end of the 2021-2022 school year, researchers and teachers will use the findings and insights from the data collection to co-construct a writing pathway—a sequence of skills—that teachers can test in their classrooms. </p>
    </div>
    <div class="text-section">
      <h1>Phase II: How will we use improvement science to facilitate cycles of data-driven professional development?</h1>
      <p>During the 2022-2023 school year, teachers will test and refine the initial pathway in their classrooms, identifying where the pathway does and does not meet students’ needs. They will bring these insights back to the study team via monthly learning community meetings. These learning communities will serve as both a vehicle for refining the pathway, and as a professional development opportunity for teachers, allowing them to share and reflect on instructional challenges and best practices related to teaching writing.</p>
    </div>
    <div class="text-section">
      <h1>Phase III: How will we disseminate this work broadly?</h1>
      <p>After it has been tested and refined, the pathway will be shared widely on an easy to use website and supported with a playbook for implementation. The pathway, playbook, and a benchmark dataset will be free, transparently presented, and open source in perpetuity. While primarily being offered as a tool for teachers, schools, and districts, the resources will also be available to teacher preparation programs, curriculum developers, and education technology companies.</p>
    </div>
    <div class="text-section" id="last-text-section">
      <h1>Interested in learning more? </h1>
      <p>The Writing Pathways Initiative invites schools interested in participating in this project, as well as philanthropic partners interested in learning about this research, to email the team at <a href="mailto:pathways@quill.org" rel="noopener noreferrer" target="_blank">pathways@quill.org</a>.</p>
    </div>
    <div class="cta-container">
      <div class="cta-text">
        <p class="cta-header">The Writing Pathways Initiative</p>
        <p class="cta-subheader">Read more about the project, goals, team, and impact of the initiative.</p>
      </div>
      <a href="https://pathways.quill.org/" rel="noopener noreferrer" target="_blank">
        <button class="quill-button contained primary medium focus-on-light">Learn More</button
      </a>
    </div>
  </div>
</div>
