<% @active_tab = 'Pathways Initiative' %>
<% @title = 'Pathways Writing Initiative' %>
<% @image_link = 'https://s3.amazonaws.com/quill-image-uploads/uploads/files/featured-image.png' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title, image_link:  @image_link %>

<div class="white-background">
  <div class="container about-us-page pathways-page">
    <div class="header">
      <h1>How can educators most effectively approach teaching writing?</h1>
      <p><b>Quill.org partners with Teaching Lab for a research project to investigate writing.</b></p>
      <p>The Writing Pathways Initiative, a project first incubated at Quill and now part of the Innovation Studio at Teaching Lab, aims to bring coherence to writing instruction by providing a logical progression of writing skills—a writing pathway—that educators across the country can use in their classrooms, for free. This pathway can be used as an overlay to any content or curriculum from grades 3 to 10. Importantly, the pathway and its supporting resources are and will always be free and open-source so that educators everywhere can use them to support their students. Phil Weinberg, former academic chief for the New York City Department of Education, leads the initiative.</p>
    </div>
    <div class="cta-container">
      <div class="cta-text">
        <p class="cta-header">The Writing Pathways Initiative</p>
        <p class="cta-subheader">View the Writing Pathways sequence on Teaching Lab’s site. </p>
      </div>
      <a class="quill-button contained primary medium focus-on-light" href="https://wptool.teachinglab.org/about" rel="noopener noreferrer" target="_blank">Learn More</a>
    </div>
    <div class="text-section">
      <h1>What is the writing pathway?</h1>
      <p>The Writing Pathway is a scaffolded and research-based sequence for writing instruction that can be used in any content area and grade level from 3rd-10th grade. In other words, it is a set of recommended writing skills that can be integrated into the curriculum teachers are already using. The pathway is organized into 10 topics, such as sentence construction and argumentative paragraphs. Each topic contains somewhere between 7 and 45 “skills” or lessons that carefully build students’ capacity with the writing skills that research has found to be the highest leverage for improving students’ writing (and thinking and reading).</p>
    </div>
    <div class="text-section">
      <h1>Is this a curriculum? Why is each pathway 100 days long?</h1>
      <p>The 100 Day Sequences are not curricula. Rather, they are a set of recommended writing skills that can be integrated into the curriculum teachers are already using. Since the skills in the pathway can be applied to any content, teachers are able to create writing activities based on the content they are already teaching. These writing activities will help students become stronger writers while simultaneously deepening their knowledge of the content.</p>
      <p>Given that teachers in our 2021-2022 study taught writing about 2 of every 3 instructional days, we decided to design sequences that included 100 days of writing instruction rather than 180 days, which is the number of days in a typical school year. We have purposefully not provided 180 days of writing instruction because we recognize that teachers have other content to cover, such as reading and discussing a text or conducting an experiment.</p>
    </div>
    <div class="text-section">
      <h1>Why did Quill incubate the Writing Pathways Initiative?</h1>
      <p>Expressing your thoughts clearly and with precision through the written word has never been more important for success in school and in life. But what is the best method for teaching writing? Unlike in mathematics, where there are cohesive, evidence-based sequences for effective teaching, there is currently no coherent, widely-used roadmap of writing skills that teachers can use to support their students. Furthermore, teachers don’t have access to resources and professional development on how to teach writing well. Historically, gaps in data about how educators teach writing in their classrooms have inhibited the development of responsive guidance for the field.</p>
      <p>Quill.org is a nonprofit organization dedicated to helping students become strong writers and critical thinkers. “We know teachers want to help their students become better writers,” says Quill.org founder and executive director, Peter Gault, “but they lack data-driven tools to help them achieve this goal. By better defining the scope and sequence of writing instruction, the Writing Pathways Initiative will enable schools to plan a coherent approach to student writing instruction, which will significantly benefit educators who have often been left to tackle this problem individually. Students will be the chief beneficiaries— as schools improve their ability to teach these essential communication skills, students will be equipped with the skills needed to face the challenges ahead.”</p>
      <p>The initiative, incubated at Quill, is managed by a team at the Innovation Studio at Teaching Lab, with Dr. Steve Graham, Regent Professor at Arizona State University, serving as the project’s lead researcher. Dr. Graham, the author of Writing Next shares, "There have been multiple calls over the years to improve student writing and writing instruction. However, despite these calls for improving this critical skill, writing has played a minor role in multiple attempts aimed at reforming and improving education in the US. This project will work to change that.</p>
    </div>
    <div class="text-section">
      <h1>What sequences are available?</h1>
      <p>The Writing Pathways Initiative provides four sequences:</p>
      <ul>
        <li><a href="https://wptool.teachinglab.org/sequences/7th-10th%20ELA" rel="noopener noreferrer" target="_blank">7th-10th Grade ELA Sequence</a></li>
        <li><a href="https://wptool.teachinglab.org/sequences/7th-10th%20Social%20Studies" rel="noopener noreferrer" target="_blank">7th-10th Grade Social Studies Sequence</a></li>
        <li><a href="https://wptool.teachinglab.org/sequences/7th-10th%20Science" rel="noopener noreferrer" target="_blank">7th-10th Grade Science Sequence</a></li>
        <li><a href="https://wptool.teachinglab.org/sequences/3rd-6th%20ELA" rel="noopener noreferrer" target="_blank">3rd-6th Grade ELA Sequence</a></li>
      </ul>
      <p><a href="https://wptool.teachinglab.org/about" rel="noopener noreferrer" target="_blank">Click here to go the new Writing Pathways Initiative website to view the full sequence.</a> Here is a sample of the sentence construction skills used across these sequences:</p>
      <img alt="Educational chart from the Writing Pathways Initiative showcasing 40 skills related to sentence construction. Each skill is encapsulated in a labeled box, shaded in blue, organized into a grid, and numbered for a sequential approach. Lines connect related skills, implying a structured progression. The chart is part of a scaffolded approach to writing instruction for grades 3 through 10. Please see their website for further information." src="https://assets.quill.org/images/pages/pathways/pathways_sequences.png" />
    </div>
  </div>
</div>
