<main>
  <h1>Usage Snapshot Report</h1>
  <div class="applied-filters">
    <h3>Important Note</h3>
    <p>These metrics were calculated using the filters you had applied at the time this report was sent.</p>
    <div class="filter-sections">
      <div class="filter-section">
        <h4 class="filter-section-title">Timeframe:</h4>
        <p>This school year</p>
      </div>
      <div class="filter-section">
        <h4 class="filter-section-title">Schools:</h4>
        <span class="pill">First Assembly School</span>
        <span class="pill">Second Assembly School</span>
        <span class="pill">Math And Science College Preparatory</span>
      </div>
      <div class="filter-section">
        <h4 class="filter-section-title">Grades:</h4>
        <span class="pill">Kindergarten</span>
        <span class="pill">1st</span>
        <span class="pill">2nd</span>
        <span class="pill">4th</span>
      </div>
      <div class="filter-section">
        <h4 class="filter-section-title">Teachers:</h4>
        <span class="pill">Taylor Alarcon</span>
        <span class="pill">Briana Alcazar</span>
        <span class="pill">Cristina Ardon</span>
        <span class="pill">Linda Barberi</span>
      </div>
      <div class="filter-section">
        <h4 class="filter-section-title">Classrooms:</h4>
        <span class="pill">1st Period</span>
        <span class="pill">2nd Period</span>
        <span class="pill">3rd Period</span>
        <span class="pill">ESL</span>
      </div>
    </div>
  </div>

  <section class="snapshot-section-wrapper">
    <h2>
      <img alt="" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/students.svg">
      <span>Users</span>
    </h2>
    <div class="snapshot-section users">
      <div class="snapshot-section-content">
        <div class="counts">
          <section class="snapshot-item snapshot-count small no-change">
            <div class="count-and-label">
              <span class="count">1</span>
              <span class="snapshot-label">Active teacher</span>
            </div>
            <div class="change">
              <span></span>
            </div>
          </section>
          <section class="snapshot-item snapshot-count small positive">
            <div class="count-and-label">
              <span class="count">9</span>
              <span class="snapshot-label">Active students</span>
            </div>
            <div class="change">
              <img alt="Arrow pointing up" class="small" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_up_icon.svg">
              <span>50%</span>
            </div>
          </section>
          <section class="snapshot-item snapshot-count small no-change">
            <div class="count-and-label">
              <span class="count">0</span>
              <span class="snapshot-label">Teacher accounts created</span>
            </div>
            <div class="change">
              <span></span>
            </div>
          </section>
          <section class="snapshot-item snapshot-count small negative">
            <div class="count-and-label">
              <span class="count">0</span>
              <span class="snapshot-label">Student accounts created</span>
            </div>
            <div class="change"><img alt="Arrow pointing down" class="small" src="https://assets.quill.org/images/pages/administrator/usage_snapshot_report/arrow_down_icon.svg">
              <span>100%</span>
            </div>
          </section>
        </div>
        <div class="rankings"><section class="snapshot-item snapshot-ranking has-data">
          <div>
            <div class="header">
              <h3>Most active teachers</h3>
            </div>
            <table class="table">
              <tr class="header-row">
                <th>Teacher</th>
                <th>Activities completed</th>
              </tr>
              <tr class="data-row">
                <td>Kim Stearny</td>
                <td>54</td>
              </tr>
              <tr class="data-row">
                <td>Mackenzie Philips</td>
                <td>49</td>
              </tr>
              <tr class="data-row">
                <td>Emilia Friedberg</td>
                <td>33</td>
              </tr>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
