<% content_for :custom_wicked_pdf_stylesheet do%>
  <%= wicked_pdf_stylesheet_link_tag 'admin_usage_snapshot_report_pdf' %>
<% end %>

<script>
  window.onload = function() {
    var elements = document.getElementsByClassName('Frame309');
    var maxHeight = 0;

    for (var i = 0; i < elements.length; i++) {
      if (elements[i].offsetHeight > maxHeight) {
        maxHeight = elements[i].offsetHeight;
      }
    }

    for (var i = 0; i < elements.length; i++) {
      elements[i].style.height = maxHeight + 'px';
    }
  };
</script>

<div class="Body" style="">

<main style='width: 1234px; padding-top: 32px; padding-bottom: 64px; padding-left: 64px; padding-right: 64px; background: white; gap: 32px;'>
  <div class='header' style='margin-bottom: 32px;'>
    <div style="font-size: 24px; font-family: Adelle Sans; font-weight: 700;">
      Usage Snapshot Report
    </div>
  </div>
  <div class="AdminUsageSnapshotReportPdfFilterBanner" style="width: 1106px; padding: 20px; background: #FFF6F1; border-radius: 8px; border: 1px #E8AB88 solid; gap: 10px;">
    <div class="Main" style="justify-content: center;  gap: 32px; ">
      <div class="Content" style="gap: 24px; ">
        <div class="Header" style="gap: 24px;">
          <div class="Frame309">
            <div class="FilteredResults">Schools:</div>
            <div class="Frame316">
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 1 Column 1 Column  Column  Column 111</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 1 Column 1 Column  Column  Column 111</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 1 Column 1 Column  Column  Column 111</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 1 Column 1 Column  Column  Column 111</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 1 Column 1 Column  Column  Column 111</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame309">
            <div class="FilteredResults">Schools:</div>
            <div class="Frame316">
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 2</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame309">
            <div class="FilteredResults">Schools:</div>
            <div class="Frame316">
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 3</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 2</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame309">
            <div class="FilteredResults">Schools:</div>
            <div class="Frame316">
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame309" style="margin-right: 0px">
            <div class="FilteredResults">Schools:</div>
            <div class="Frame316">
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 5</div>
                </div>
              </div>
              <div class="Frame74">
                <div class="Frame73">
                  <div class="InputText">Column 2</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%# <div class="AdminReportUsageSnapshotPdf" style="width: 1234px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div class="Frame159" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="Body" style="flex: 1 1 0; padding-top: 32px; padding-bottom: 64px; padding-left: 64px; padding-right: 64px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
      <div class="Frame154" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div class="ActiveClasses" style="flex: 1 1 0; color: black; font-size: 24px; font-family: Adelle Sans; font-weight: 700; word-wrap: break-word">Usage Snapshot Report</div>
      </div>
    </div>
  </div> %>

  <%# <div class="Frame152">
    <div class="Frame151">
      <div class="Frame150">
        <div class="Icon">
          <div class="IconsSStar">
            <div class="Stroke"></div>
          </div>
        </div>
        <div class="ActiveClasses">Highlights</div>
      </div>
      <div class="Frame88">
        <div class="Frame80" style="margin-right: 8px">
          <div class="Frame79">
            <div class="ActiveClasses" style="font-size: 32px; font-weight: 700; width: 372.18px">1,151,381</div>
            <div class="Frame169">
              <div class="IconAdminreportsModuleArrowupMedium">
                <div class="ActiveClasses"></div>
              </div>
              <div class="ActiveClasses" style="font-size 24px; font-weight: 700">21%</div>
            </div>
          </div>
          <div style="width: 100%">
            <div class="Frame276">
              <div class="ActiveClasses" style="font-size: 16px; font-weight: 500">Sentences written</div>
            </div>
          </div>
        </div>
        <div class="Frame80">
          <div class="Frame79">
            <div class="ActiveClasses" style="font-size: 32px; font-weight: 700; width: 372.18px">5,311</div>
            <div class="Frame169">
              <div class="IconAdminreportsModuleArrowupMedium">
                <div class="ActiveClasses"></div>
              </div>
              <div class="ActiveClasses" style="font-size 24px; font-weight: 700">21%</div>
            </div>
          </div>
          <div style="width: 100%">
            <div class="Frame276">
              <div class="ActiveClasses" style="font-size: 16px; font-weight: 500">Student learning hours</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> %>

<%# </div> %>



          <%# <div class="Frame315" style="height: 46px;  gap: 8px;">
            <div class="Badge" style="align-items: center; gap: 8px; ">
              <div class="BannerBadge" style="justify-content: center; align-items: center; gap: 7px;">
                <div class="NewBadge" style="width: 88px; padding-top: 1px; padding-left: 5px; padding-right: 5px; background: #C04500; border-radius: 5px; justify-content: center; align-items: center;">
                  <div class="Saved" style="text-align: center; color: white; font-size: 9px; font-family: 'Adelle Sans'; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Important NOTE</div>
                </div>
              </div>
            </div>
          </div> %>