
<div class="AdminReportUsageSnapshotPdf" style="width: 1234px; height: 4661px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div class="Frame159" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div class="Body" style="flex: 1 1 0; padding-top: 32px; padding-bottom: 64px; padding-left: 64px; padding-right: 64px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
      <div class="Frame154" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div class="ActiveClasses" style="flex: 1 1 0; color: black; font-size: 24px; font-family: Adelle Sans; font-weight: 700; word-wrap: break-word">Usage Snapshot Report</div>
      </div>
    </div>
  </div>

  <div class="AdminUsageSnapshotReportPdfFilterBanner" style="width: 1106px; height: 304px; padding: 20px; background: #FFF6F1; border-radius: 8px; border: 1px #E8AB88 solid; gap: 10px;">
    <div class="Main" style="justify-content: center;  gap: 32px; ">
      <div class="Content" style="gap: 24px; ">
        <div class="Header" style="height: 264px;  gap: 24px;">
          <div class="Frame315" style="height: 46px;  gap: 8px;">
            <div class="Badge" style="align-items: center; gap: 8px; ">
              <div class="BannerBadge" style="justify-content: center; align-items: center; gap: 7px;">
                <div class="NewBadge" style="width: 88px; padding-top: 1px; padding-left: 5px; padding-right: 5px; background: #C04500; border-radius: 5px; justify-content: center; align-items: center;">
                  <div class="Saved" style="text-align: center; color: white; font-size: 9px; font-family: 'Adelle Sans'; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Important NOTE</div>
                </div>
              </div>
            </div>
          </div>
          <div class="Frame314" style="width: 1066px; font-size: 0">
            <div class="Frame309" style="display: inline-block; width: 200.4px; margin-right: 16px; box-sizing: border-box; padding-top: 8px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: #F6E5DC; border-radius: 8px; border: 1px #E8AB88 solid;  gap: 8px; ">
              <div class="FilteredResults" style="color: black; font-size: 14px; font-family: 'Adelle Sans'; font-weight: 700; line-height: 22px; word-wrap: break-word">Schools:</div>
              <div class="Frame316" style="height: 119px;  gap: 8px;">
                <div class="Frame73" style="padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px; background: #06806B; border-radius: 16px; gap: 10px; ">
                  <div class="Frame73" style="padding-bottom: 1px; ">
                    <div class="InputText" style="font-size: initial; color: white; font-size: 12px; font-family: 'Adelle Sans'; font-weight: 500; line-height: 16px; word-wrap: break-word">Column 2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame309" style="display: inline-block; width: 200.4px; margin-right: 16px; box-sizing: border-box; padding-top: 8px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: #F6E5DC; border-radius: 8px; border: 1px #E8AB88 solid;  gap: 8px; ">
              <div class="FilteredResults" style="color: black; font-size: 14px; font-family: 'Adelle Sans'; font-weight: 700; line-height: 22px; word-wrap: break-word">Schools:</div>
              <div class="Frame316" style="height: 119px;  gap: 8px;">
                <div class="Frame73" style="padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px; background: #06806B; border-radius: 16px; gap: 10px; ">
                  <div class="Frame73" style="padding-bottom: 1px; ">
                    <div class="InputText" style="font-size: initial; color: white; font-size: 12px; font-family: 'Adelle Sans'; font-weight: 500; line-height: 16px; word-wrap: break-word">Column 2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame309" style="display: inline-block; width: 200.4px; margin-right: 16px; box-sizing: border-box; padding-top: 8px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: #F6E5DC; border-radius: 8px; border: 1px #E8AB88 solid;  gap: 8px; ">
              <div class="FilteredResults" style="color: black; font-size: 14px; font-family: 'Adelle Sans'; font-weight: 700; line-height: 22px; word-wrap: break-word">Schools:</div>
              <div class="Frame316" style="height: 119px;  gap: 8px;">
                <div class="Frame73" style="padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px; background: #06806B; border-radius: 16px; gap: 10px; ">
                  <div class="Frame73" style="padding-bottom: 1px; ">
                    <div class="InputText" style="font-size: initial; color: white; font-size: 12px; font-family: 'Adelle Sans'; font-weight: 500; line-height: 16px; word-wrap: break-word">Column 2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame309" style="display: inline-block; width: 200.4px; margin-right: 16px; box-sizing: border-box; padding-top: 8px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: #F6E5DC; border-radius: 8px; border: 1px #E8AB88 solid;  gap: 8px; ">
              <div class="FilteredResults" style="color: black; font-size: 14px; font-family: 'Adelle Sans'; font-weight: 700; line-height: 22px; word-wrap: break-word">Schools:</div>
              <div class="Frame316" style="height: 119px;  gap: 8px;">
                <div class="Frame73" style="padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px; background: #06806B; border-radius: 16px; gap: 10px; ">
                  <div class="Frame73" style="padding-bottom: 1px; ">
                    <div class="InputText" style="font-size: initial; color: white; font-size: 12px; font-family: 'Adelle Sans'; font-weight: 500; line-height: 16px; word-wrap: break-word">Column 2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Frame309" style="display: inline-block; width: 200.4px; box-sizing: border-box; padding-top: 8px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: #F6E5DC; border-radius: 8px; border: 1px #E8AB88 solid;  gap: 8px; ">
              <div class="FilteredResults" style="color: black; font-size: 14px; font-family: 'Adelle Sans'; font-weight: 700; line-height: 22px; word-wrap: break-word">Schools:</div>
              <div class="Frame316" style="height: 119px;  gap: 8px;">
                <div class="Frame73" style="padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px; background: #06806B; border-radius: 16px; gap: 10px; ">
                  <div class="Frame73" style="padding-bottom: 1px; ">
                    <div class="InputText" style="font-size: initial; color: white; font-size: 12px; font-family: 'Adelle Sans'; font-weight: 500; line-height: 16px; word-wrap: break-word">Column 2</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
