.container-fluid
  article.extra-padding.activity-form.activity-show
    iframe#activity-iframe.demo_activity src="https://grammar.quill.org/play/pf?anonymous=true&uid=-K0rnIIF_iejGqS3XPJ8" name='activity-iframe'
