<% @active_tab = 'Pre-AP® Activities' %>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab  %>

<div class="container pages-activities">
  <div class="pre-ap-header-container">
    <div class="header-left">
      <div class="logo-container">
        <img src="https://assets.quill.org/images/college_board/college-board-logo.svg"/>
        <div class="divider"></div>
        <img src="https://assets.quill.org/images/logos/quill-logo-green.svg"/>
      </div>
      <div class="header-text-container">
        <h1>Official Pre-AP® English Practice</h1>
        <p class>Free Pre-AP English writing practice aligned to the Pre-AP English High School Course Framework for the English 1 and English 2 courses with immediate feedback for students and progress reports for you.</p>
        <button class="quill-button large primary contained">Get started</button>
      </div>
    </div>
    <img src="https://assets.quill.org/images/college_board/teaching-english-practice.png"/>
  </div>
</div>
