<% @active_tab = 'Pre-AP® Activities' %>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab  %>

<div class="container pages-activities">
  <div class="pre-ap-header-container">
    <div class="header-left">
      <div class="logo-container">
        <img src="https://assets.quill.org/images/college_board/college-board-logo.svg"/>
        <div class="divider"></div>
        <img src="https://assets.quill.org/images/logos/quill-logo-green.svg"/>
      </div>
      <div class="header-text-container">
        <h1>Official Pre-AP® English Practice</h1>
        <p class>Free Pre-AP English writing practice aligned to the Pre-AP English High School Course Framework for the English 1 and English 2 courses with immediate feedback for students and progress reports for you.</p>
        <button class="quill-button large primary contained" href="https://www.quill.org/sign-up/teacher" target="_blank">Get started</button>
      </div>
    </div>
    <img src="https://assets.quill.org/images/college_board/teaching-english-practice.png"/>
  </div>
  <div class="pre-ap-activities-section">
    <div class="header">
      <img src="https://assets.quill.org/images/college_board/passage-book.svg"/>
      <div class="text-container">  
        <h2>Passage-Aligned Activities</h2>
        <p>Twenty custom sentence-combining activities, each one aligned to a unique
        Pre-AP English 1 text to give your students the opportunity to practice their sentence construction skills in context.</p>
      </div>
    </div>
    <div class="activities-subheader">
      <h2>Passage-Aligned Activities</h2>
      <div class="ap-english-tag">For Pre-AP English 1</div>
    </div>
  </h2>
</div>
