<% @active_tab = 'Pre-AP Activities'
  @title = 'Pre-AP® English Practice'
  @units = [
    {
      title: 'Unit 1: Telling Details',
      learning_cycles: [
        { 
          activities: [
            {
              title: 'Sentence Combining: “The First Day” by Edward P. Jones',
              description: 'Explore first-person narration and characterization',
              activity_link: 'https://www.quill.org/activities/packs/216',
              cb_anchor_tag: 'the-first-day'
            }
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: “What Happened During the Ice Storm” by Jim Heynen',
              description: 'Explore flash fiction and the establishment of tension and setting',
              activity_link: 'https://www.quill.org/activities/packs/218',
              cb_anchor_tag: 'what-happened-during-the-ice-storm'
            },
            {
              title: 'Sentence Combining: “The Red Fox Fur Coat” by Teolinda Gersão',
              description: 'Explore fantastical storytelling and character evolution',
              activity_link: 'https://www.quill.org/activities/packs/219',
              cb_anchor_tag: 'the-red-fox-fur-coat'
            },
            {
              title: 'Sentence Combining: “Lamb to the Slaughter” by Roald Dahl',
              description: 'Explore narrative revelations with sudden character shifts',
              activity_link: 'https://www.quill.org/activities/packs/220',
              cb_anchor_tag: 'lamb-to-the-slaughter'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: “An Occurrence at Owl Creek Bridge” by Ambrose Bierce',
              description: 'Explore complex characterization and narrative truth',
              activity_link: 'https://www.quill.org/activities/packs/221',
              cb_anchor_tag: 'an-occurrence-at-owl-creek-bridge'
            }
          ]
        }
      ]
    },
    {
      title: 'Unit 2: Pivotal Words and Phrases',
      learning_cycles: [
        {
          activities: [
            {
              title: 'Sentence Combining: “Lottery” by Rasma Haidri',
              description: 'Explore personal essay and poetic revision',
              activity_link: 'https://www.quill.org/activities/packs/222',
              cb_anchor_tag: 'lottery'
            },
            {
              title: 'Sentence Combining: “The Fight” by John Montague',
              description: 'Explore poetic contrast and human truths',
              activity_link: 'https://www.quill.org/activities/packs/223',
              cb_anchor_tag: 'the-fight'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: “Tamara’s Opus” by Joshua Bennett',
              description: 'Explore spoken word and performative expression',
              activity_link: 'https://www.quill.org/activities/packs/224',
              cb_anchor_tag: 'tamaras-opus'
            },
            {
              title: 'Sentence Combining: “The Hamilton Mixtape” by Lin-Manuel Miranda',
              description: 'Explore the application of hip-hop storytelling to a historical figure',
              activity_link: 'https://www.quill.org/activities/packs/225',
              cb_anchor_tag: 'the-hamilton-mixtape'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: Excerpt from Romeo and Juliet by William Shakespeare',
              description: 'Explore dramatic characterization and Shakepearean turns of phrase',
              activity_link: 'https://www.quill.org/activities/packs/226',
              cb_anchor_tag: 'the-hamilton-mixtape'
            },
          ]
        }
      ]
    },
    {
      title: 'Unit 3: Compelling Evidence',
      learning_cycles: [
        {
          activities: [
            {
              title: 'Sentence Combining: “The Work You Do, the Person You Are” by Toni Morrison',
              description: 'Explore personal essay and economic disparities in differing views of work',
              activity_link: 'https://www.quill.org/activities/packs/227',
              cb_anchor_tag: 'the-work-you-do-the-person-you-are'
            },
            {
              title: 'Sentence Combining: “Drowning in Dishes, but Finding a Home” by Danial Adkison',
              description: 'Explore how seemingly menial work may lead to meaningful life lessons',
              activity_link: 'https://www.quill.org/activities/packs/228',
              cb_anchor_tag: 'the-work-you-do-the-person-you-are'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: “What to Do with the Kids This Summer? Put ’Em to Work” by Ben Sasse',
              description: 'Explore opinion writing and how personal perspective shapes argument',
              activity_link: 'https://www.quill.org/activities/packs/229',
              cb_anchor_tag: 'what-to-do-with-kids-in-the-summer-put-em-to-work'
            },
            {
              title: 'Sentence Combining: “The Decline of the American Teenager’s Summer Job” by Lexington',
              description: 'Explore evolving perspectives of the summer job and its value to teens’ lives',
              activity_link: 'https://www.quill.org/activities/packs/230',
              cb_anchor_tag: 'the-decline-of-the-american-teenagers-summer-job'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: “Teenagers Have Stopped Getting Summer Jobs—Why?” by Derek Thompson',
              description: 'Explore multiple views of a controversial issue using data to inform perspectives',
              activity_link: 'https://www.quill.org/activities/packs/231',
              cb_anchor_tag: 'teenagers-have-stopped-getting-summer-jobs-why'
            },
          ]
        }
      ]
    },
    {
      title: 'Unit 4: Powerful Openings',
      learning_cycles: [
        {
          activities: [
            {
              title: 'Sentence Combining: Excerpt from 1984 by George Orwell',
              description: 'Explore how key imagery sets place and tone at the start of a novel',
              activity_link: 'https://www.quill.org/activities/packs/232',
              cb_anchor_tag: '1984'
            },
            {
              title: 'Sentence Combining: Except from The Night Circus by Erin Morgenstern',
              description: 'Explore how second-person point of view sets up a fantastical world',
              activity_link: 'https://www.quill.org/activities/packs/233',
              cb_anchor_tag: 'the-night-circus'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: Except from Out of My Mind by Sharon M. Draper',
              description: 'Explore how first-person point of view efficiently establishes a narrator’s experience',
              activity_link: 'https://www.quill.org/activities/packs/234',
              cb_anchor_tag: 'out-of-my-mind'
            },
            {
              title: 'Sentence Combining: Excerpt from All the Light We Cannot See by Anthony Doerr',
              description: 'Explore how omniscient point of view shines a light on multiple characters’ experiences of a threatening world',
              activity_link: 'https://www.quill.org/activities/packs/235',
              cb_anchor_tag: 'all-the-light-we-cannot-see'
            },
          ]
        },
        {
          activities: [
            {
              title: 'Sentence Combining: Excerpt from The Girl Who Fell from the Sky by Heidi W. Durrow',
              description: 'Explore how a present-tense narrative moment establishes a child’s perspective',
              activity_link: 'https://www.quill.org/activities/packs/236',
              cb_anchor_tag: 'the-girl-who-fell-from-the-sky'
            },
          ]
        }
      ]
    }
  ]
%>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab  %>

<div class="pre-ap-container">
  <div class="section-wrapper">
    <div class="container pre-ap-header-container">
      <div class="header-left">
        <div class="logo-container">
          <img alt="College Board logo" src="https://assets.quill.org/images/college_board/college-board-logo.svg"/>
          <div class="divider"></div>
          <img alt="Quill logo" src="https://assets.quill.org/images/logos/quill-logo-green.svg"/>
        </div>
        <div class="header-text-container">
          <h1>Official Pre-AP English Practice</h1>
          <p class>Free Pre-AP® English writing practice aligned to the Pre-AP English High School Course Framework for the English 1 and English 2 courses with immediate feedback for students and progress reports for you.</p>
          <a class="quill-button large primary contained focus-on-light" href="https://www.quill.org/sign-up/teacher" rel="noopener noreferrer" target="_blank">Get started</a>
        </div>
      </div>
      <img alt="Photograph of a teacher talking to a classroom of high school students" src="https://assets.quill.org/images/college_board/teaching-english-practice.png"/>
    </div>
  </div>
  <div class="white-section-wrapper">
    <div class="container pre-ap-activities-section">
      <div class="header">
        <img alt="Illustration of a pencil drawing a line" src="https://assets.quill.org/images/college_board/sentence-writing-pencil.svg"/>
        <div class="text-container">  
          <h2>Sentence-Level Writing Practice</h2>
          <p>Identify which sentence-level skills from the course framework your students need to practice with two different Pre-AP Writing Skills Surveys. Then, assign up to 40 targeted writing activities so students can practice and improve their proficiency with those skills.</p>
        </div>
      </div>
      <div class="activities-subheader">
        <h2>Pre-AP Writing Skills Surveys</h2>
        <div class="ap-english-tag">For Pre-AP English 1</div>
        <div class="ap-english-tag">For Pre-AP English 2</div>
      </div>
      <div class="activity-container">
        <div class="activity-text-container">
          <a class="activity-header" id="writing-skills-survey-1">Pre-AP Writing Skills Survey 1: Basic of Sentence Patterns</a>
          <p class="activity-sub-text">Students complete a twelve-item survey to gauge their understanding of key writing skills, fundamental grammatical elements, and compound/complex sentence constructions. After students complete the survey, Quill will automatically recommend up to five activity packs for each student based on their needs. Each pack contains four to six activities that each take about 15 minutes to complete and provide scaffolded, sequenced practice on one of the five skills addressed in the survey.</p>
          <p class="activity-sub-header">Skills</p>
          <p class="activity-sub-text">Subject-verb agreement; pronoun-antecedent agreement; compound subjects, objects and predicates; coordinating conjunctions in compound sentences; subordinating conjunctions</p>
        </div>
        <a class="quill-button medium primary outlined view-button focus-on-light" href="https://www.quill.org/activities/packs/194" rel="noopener noreferrer" target="_blank">View</a>
      </div>
      <div class="activity-container">
        <div class="activity-text-container">
          <a class="activity-header" id="writing-skills-survey-2">Pre-AP Writing Skills Survey 2: Tools for Sentence Expansion</a>
          <p class="activity-sub-text">Students complete a twelve-item survey to gauge their understanding of key writing skills, focusing on constructions for expanding sentences with description and detail. After students complete the survey, Quill will automatically recommend up to five activity packs for each student based on their needs. Each pack contains four to six activities that each take about 15 minutes to complete and provide scaffolded, sequenced practice on one of the five skills addressed in the survey.</p>
          <p class="activity-sub-header">Skills</p>
          <p class="activity-sub-text">Conjunctive adverbs; appositive phrases; relative clauses; participial phrases; parallel structure</p>
        </div>
        <a class="quill-button medium primary outlined view-button focus-on-light" href="https://www.quill.org/activities/packs/195" rel="noopener noreferrer" target="_blank">View</a>
      </div>
    </div>
  </div>
  <div class="white-section-wrapper" id="info-blurbs-1-wrapper">
    <div class="container info-blurbs-section">
      <div class="info-blurb-container">
        <img alt="A list of writing concepts: Subject-Verb Agreement, Pronoun-Antecedent Agreement, Compound Subjects, Objects, Predicates, and more." src="https://assets.quill.org/images/college_board/pre-ap-concepts.svg"/>
        <div class="text-container">
          <p class="info-blurb-header">Writing Practice Aligned to Course Frameworks</p>
          <p class="info-blurb-text">Each twelve-item Pre-AP Writing Skills Survey covers five of the ten key grammar skills from the English 1 and English 2 course frameworks. Each survey helps identify which of the five skills your students need to practice most.</p>
        </div>
      </div>
      <div class="info-blurb-container">
        <div class="text-container">
          <p class="info-blurb-header">Personalized Recommendations</p>
          <p class="info-blurb-text">After your students complete a Pre-AP Writing Skills Survey, Quill will use the results to recommend a set of independent practice activities. You can choose to assign all the practice at once, or you can pick and choose the activities that best fit your instructional and students’ needs. As students complete the practice, they’ll receive instant feedback on their writing that guides them through the revising and editing process. </p>
        </div>
        <img alt="A recommended activity pack report showing four students being recommended a mixture of activities for relative clauses and parallel structure." src="https://assets.quill.org/images/college_board/pre-ap-recommendations.svg"/>
      </div>
      <div class="info-blurb-container">
        <img alt="An illustration showing a student combining two sentences, getting feedback from Quill, and then getting a correct response." src="https://assets.quill.org/images/college_board/pre-ap-additional-practice.svg"/>
        <div class="text-container">
          <p class="info-blurb-header">Additional Practice</p>
          <p class="info-blurb-text">Some of your students may benefit from more opportunities to practice a skill after they have completed the activities recommended based on their writing skills survey results. In that case, you can assign a second set of independent practice activities: same skills, new content.
            <a class="focus-on-light" href="https://assets.quill.org/documents/additional_practice_packs.pdf" rel="noopener noreferrer" target="_blank">Learn more about the additional activity packs.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="white-section-wrapper">
    <div class="container pre-ap-activities-section">
      <div class="header">
        <img alt="Illustration of a book opened" src="https://assets.quill.org/images/college_board/passage-book.svg"/>
        <div class="text-container">  
          <h2>Passage-Aligned Activities</h2>
          <p>Twenty custom sentence-combining activities, each one aligned to a unique Pre-AP English 1 text to give your students the opportunity to practice their sentence construction skills in context.</p>
        </div>
      </div>
      <div class="activities-subheader">
        <h2>Passage-Aligned Activities</h2>
        <div class="ap-english-tag">For Pre-AP English 1</div>
      </div>
      <div class="white-section-wrapper">
        <div class="units-container">
          <% @units.each_with_index do |unit, i| %>
            <%= react_component('ExpandableUnitSection', props: {title: unit[:title], is_first: i===0, learning_cycles: unit[:learning_cycles]}) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="white-section-wrapper">
    <div class="container info-blurbs-section">
      <div class="info-blurb-container">
        <img alt="An illustration of a bookshelf with the names of Lottery, Lamb to the Slaughter, 1984, The First Day, and Romeo and Juliet on the book spines." src="https://assets.quill.org/images/college_board/pre-ap-bookshelf.svg"/>
        <div class="text-container">
          <p class="info-blurb-header">Alignment to Pre-AP English 1 Content</p>
          <p class="info-blurb-text">Each sentence-combining activity is aligned to a different text from the four English 1 instructional units. As students combine sentences and build their writing skills, they also explore key text elements: historical and authorial context, plot, structure, and more. These activities model the kind of analytical thinking they would optimally reflect in their own writing.</p>
        </div>
      </div>
      <div class="info-blurb-container">
        <div class="text-container">
          <p class="info-blurb-header">Alignment to Pre-AP English High School Course Framework</p>
          <p class="info-blurb-text">In these sentence-combining items, students are free to use any grammatically correct method of combining the sentences they choose. However, each item is written to provide opportunities for students to practice the skills from the course framework. No matter which method students choose to use, they will receive instant, targeted feedback on up to five revisions to help them strengthen their sentence and build their writing skills. </p>
        </div>
        <img alt="An illustration showing a student combining two sentences, getting feedback from Quill, and then getting a correct response." src="https://assets.quill.org/images/college_board/pre-ap-couse-practice.svg"/>
      </div>
      <div class="info-blurb-container">
        <img alt="An illustration showing a teacher guide for Lamb to the Slaughter with an arrow pointing to a Quill activity with text from Lamb to the Slaughter being in the questions." src="https://assets.quill.org/images/college_board/pre-ap-teacher-guide.svg"/>
        <div class="text-container">
          <p class="info-blurb-header">Opportunities Throughout the Course</p>
          <p class="info-blurb-text">At least one activity appears in each Learning Cycle of all four instructional units so that this sentence-combining practice can easily be incorporated into your instructional plans. Since these activities include details about the texts and analysis of key elements,  they are best used to reinforce learning after students have read and discussed these texts in class.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="container cb-message-container">
      <p class="cb-message-header">Quill and College Board have partnered to provide students with meaningful practice of their sentence-level writing skills.</p>
      <div class="sub-header-container">
        <p class="cb-message-sub-header">Message from College Board</p>
      </div>
      <div class="quote-container">
        <img src="https://assets.quill.org/images/college_board/exaggerated-quote-left.svg" id="first-quote"/>
        <div class="inner-text-container">
          <p>Teaching writing is hard. Even harder can be attempting to pinpoint exactly when we learned how and why to write clearly. That’s why the College Board has worked with Quill.org to ensure that this new, free, comprehensive offering helps students practice targeted sentence construction skills in their writing. Sustained practice and exposure to targeted skills is important to improvement and comfort.</p>
          <p>Teaching writing may always be hard, but student practice in meaningful skills can make the learning that much clearer. Through this practice, students can begin to own the how and why of their writing.</p>
        </div>
        <img src="https://assets.quill.org/images/college_board/exaggerated-quote-right.svg" id="second-quote"/>
      </div>
    </div>
  </div>
  <%= react_component('QuestionsAndAnswersSection', props: {questionsAndAnswersFile: 'preap', supportLink: ""})%>
</div>
