<% @active_tab = device == 'mobile' ? 'Pre-AP' : 'Pre-AP Activities'
  @title = 'Pre-AP® English Practice'
  @units = preap_and_springboard_content
%>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab  %>

<% if current_user %>
  <%= react_component('PreApApp', props: { units: @units }) %>
<% else %>
  <div></div>
<% end %>
