<section class="tool-header">
  <%= render partial: 'pages/shared/navbar' %>
  <% @active_tab = 'Quill Proofreader' %>
  <% @tool = 'proofreader' %>
  <%= render partial: "pages/shared/tools_anchor_navbar", active_tab: @active_tab, tool: @tool%>
</section>
<div class="tool-container proofreader-tool-page">

    <section class='bg-quillblue tool-hero text-center tool-section'>
      <h1 class="q-h1">
          <img class="tool-page-icon lazyload" loading="lazy" src='/images/quill_proofreader_white.svg'>Quill Proofreader
      </h1>
      <p class='description'>
        Proofreader teaches your students editing skills by having them proofread passages. Students edit passages and receive personalized exercises based on their results. With over 100 expository passages, Proofreader gives students the practice they need to spot common grammatical errors.
      </p>
      <section class="tool-ctas proofreader-tool">
        <a href='/activity_sessions/anonymous?activity_id=244' target="_blank" class="q-button cta-button text-quillblue bg-white">Try a sample activity</a>
        <% if current_user&.teacher? %>
          <a href='/assign/activity-library?activityClassificationFilters[]=passage' class="q-button text-white learn-more-button">Assign</a>
        <% end %>
      </section>
    </section>

    <section class="tool-animation-section " id="overview">
          <video class='tool-animation lazyload' data-src="/videos/proofreader.mp4" autoplay loop/>
    </section>

  <section class="tool-carousel" id="walkthrough">
      <div id="diagnosticCarousel" class="carousel slide" data-ride="carousel">

          <a class="left carousel-control" href="#diagnosticCarousel" role="button" data-slide="prev">
              <i class="fas fa-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
          </a>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="wrapper">
                  <img class="lazyload" loading="lazy" src="/images/tools/Proofreader1.png" alt="Chania">
                </div>
                <p>In Quill Proofreader, students are tasked with finding and correcting grammatical errors embedded within a passage. In this exercise on Ernest Shackleton, students have to find and correct 11 errors.</p>
              </div>

              <div class="item">
                <div class="wrapper">
                  <img class="lazyload" loading="lazy" src="/images/tools/Proofreader2.png" alt="Chania">
                </div>
                <p>Students are provided instant feedback on their work once they’ve completed the proofreading. The errors the student missed are highlighted in red, while the errors the student caught are highlighted in green.</p>
              </div>

              <div class="item">
                <div class="wrapper">
                  <img class="lazyload" loading="lazy" src="/images/tools/Proofreader3.png" alt="Flower">
                </div>
                <p>Teachers can use their scorebook report to quickly see which concepts the student mastered and which ones the student needs to practice.</p>
              </div>

              <div class="item">
                <div class="wrapper">
                  <img class="lazyload" loading="lazy" src="/images/tools/Proofreader4.png" alt="Flower">
                </div>
                <p>Teachers may access, for free, over 100 expository passages.</p>
              </div>

          </div>

          <!-- Left and right controls -->

          <a class="right carousel-control" href="#diagnosticCarousel" role="button" data-slide="next">
              <i class="fas fa-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
          </a>

          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#diagnosticCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#diagnosticCarousel" data-slide-to="1"></li>
              <li data-target="#diagnosticCarousel" data-slide-to="2"></li>
              <li data-target="#diagnosticCarousel" data-slide-to="3"></li>
          </ol>

      </div>
  </section>

  <section class="tool-try-it bg-quillblue bg-image-proofreader-pattern-flag">
    <h2 class='q-h1'>Try Proofreader Yourself!</h2>
    <a href='/activity_sessions/anonymous?activity_id=244' target="_blank" class="q-button cta-button text-quillblue bg-white">Preview Proofreader</a>
  </section>

  <section class="tool-testimonial" id="testimonial">
    <!-- <img class='q-headshot' class="lazyload" loading="lazy" src="/images/stephanie_90.png" alt="Daniel Scibienski"> -->
    <p class='quote'>
      “Students are eager to use the program and are quick to celebrate getting a 'green square,' denoting that they have passed an assigned skill.”
    </p>
    <h4 class="q-h4 author">
      <span>Stephanie L.</span>, Kipp D.C.
    </h4>
    <a href="/activities/packs/4" class='q-button text-black'>
      <span>View My Story</span>
    </a>
  </section>

  <!-- Only show if user is not logged in  -->
    <% if !current_user %>
      <section class="tool-sign-up">
          <h1 class='q-h1'>
              Sign up to start Quill Proofreader in your class today!
          </h1>
          <a href='/account/new' class="q-button cta-button bg-quillgreen text-white">Sign Up</a>
      </section>

    <% else %>
    <section class="tool-sign-up">
        <h1 class='q-h1'>
            Get started now! Assign Quill Proofreader.
        </h1>
        <a href='/assign/activity-library?activityClassificationFilters[]=passage' class="q-button cta-button bg-quillgreen text-white">Assign</a>
    </section>
    <% end %>

</div>

<%= render partial: 'pages/shared/footer' %>
