<%= render partial: 'teachers/shared/scorebook_tabs' %>
<div class="container quill-academy-container white-background">
  <section class="top-section">
    <div class="availability-disclaimer">
      <img src="https://assets.quill.org/images/icons/information.svg"></img>
      <p>Quill Academy and Quill&apos;s Professional Development are included in School Premium and District Premium subscriptions.<p>
    </div>
    <img src="https://assets.quill.org/images/quill_academy/quill-academy-icon.svg"></img>
    <h2>Quill Academy</h2>
    <p class="subheader">Access a growing library of self-paced training courses and resources to help you become a <u>Quill.org</u> expert and writing pedagogue.</p>
    <a class="quill-button primary contained medium focus-on-light">Learn more about Premium</a>
  </section>
</div>
