<div class="container">
  <br/>
  
  <h4>Terms and Conditions:</h4>
  <br/>
  <ol>
    <li>The <a href="http://quill.org">Quill</a> Referral Program is available to all teachers with an active Quill account. </li>
    <li>By clicking on the "Refer a Teacher" button you can refer other teachers to Quill by sharing your unique link. </li>
    <li>The referral system allows you to share the referral with your connections via an email/text message, or post the referral on social media and personal blogs. You agree to use the referral system only with people you know. Any distribution of your referral link that could constitute unsolicited commercial email or "spam" under any applicable law or regulation is expressly prohibited and will be grounds for immediate  exclusion from Quill's Referral Program. </li>
    <li>To be eligible for the Quill Referral Program, the Teacher you refer (the "Referral") must be a new Quill user (i.e. they cannot already have a Quill account). </li>
    <li>For a referral to be credited to you, it must be made via your unique referral link. If your Referral was also referred by another user, you will earn a reward only if the Referral registers based on your referral link. If your Referral uses another user's referral link from which they signed up, you will not receive a reward.</li>
    <li>A referral will be deemed successful when a Referred Teacher creates an account, assigns an activity, and at least one student completes that activity. </li>
    <li>For each successful referral, Quill will reward you with 4 weeks (28 days) of access to Quill premium, which you can redeem via your account's "Subscriptions" page. </li>
    <li>Offer not valid and rewards are not payable for self-referrals. </li>
    <li>Quill reserves the right to cancel or change the conditions of this offer at any time. Participation in the Referral Program is subject to review and can be revoked at any time for any reason.</li>
    <li>All questions or disputes regarding eligibility for the Quill Referral Program will be resolved by Quill at its sole discretion.</li>
  </ol>
</div>