<% @active_tab = 'Impact' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>

<div class="pages-stats">
  <div class="container pages-container">
    <iframe src="https://quill.geckoboard.com/dashboards/6545ABBE1D67B8A3" frameborder=0 height=3500 width=900 scrolling=no>
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
