<h1>Translations</h1>
<table class="table">
  <tr class="header-row">
    <th>Module</th>
    <th>English</th>
    <th>Spanish</th>
  </tr>
    <%@translations.each do |translation|%>
      <tr class="data-row">
        <td><%= translation.source.class.name %></td>
        <td><%= raw(translation.text)%></td>
        <td><%= raw(translation.translation) %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<p> <%= paginate @translations %> </p>
