<div style='background-color: #06806B'>
  <a aria-label='Quill' class='focus-on-dark' href='https://www.quill.org/'>
    <img src='https://assets.quill.org/images/logos/quill-logo-white-2022.svg' alt='Quill.org logo'>
  </a>
  <br/>
  <br/>
</div>

<div class='account-container text-center'>
  <br />
  <%= link_to @link_text, @link_url, target: '_blank' %>
</div>
