.new-account-page {
  .new-account-field-group {
    position: relative;
  }

  .form-explanation-text {
    position: absolute;
    bottom: 0;
    left: 419px;
    width: 216px;
    border: 1px solid #e3e3e3;
    padding: 20px;
    z-index: -1;
  }
}
