/*
 *= require annotator.min

 *= require_self
 */

$skyblue: #cbebed;
$skyblue-darker: #b5e2ff;

$baseFontFamily: "proxima_nova_rgregular";

@import "bootstrap_imports";
@import "compass/typography/text/replacement";

@mixin fix-height($height) {
  height: $height;
  line-height: $height;
}

@mixin nav-height {
  @include fix-height(45px);
}

.simple-rounded-box {
  @include border-radius(15px);
  padding: 20px;
  background-color: #fff;
}

.navbar .nav > li > a {
  padding: 0px 0px 0px;
  text-shadow: 0 0px 0 white;
}

.hide {
  display: none;
}

textarea {
  height: 100px;
}

form .help-inline {
  background-color: white;
}

.control-group.radio {
  padding-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 20px;
  border-color: transparent;
}

.table-stripe {
  tr:nth-child(2n) {
    background-color: #f5f5f5;
  }
}

@import "header";
@import "pages";
@import "home";
@import "grammar_test";
@import "chapters";
@import "rules";
@import "style";
@import "assessments";
@import "accounts";
@import "partials/*";
@import "pages/*";
