/*
 *= require annotator.min
 *= require_self
 */

@import 'bootstrap_imports';
@import 'compass/typography/text/replacement';

@mixin fix-height($height) {
  height: $height;
  line-height: $height;
}

@mixin nav-height {
  @include fix-height(45px);
}

body {
  padding-top: 100px
}

.simple-rounded-box {
  @include border-radius(15px);
  padding: 20px;
  background-color: #fff;
}

@import 'header';
@import 'pages';
@import 'home';
@import 'grammar_test';
@import 'chapters';
@import 'rules';
@import 'users';

textarea {
  height: 100px;
}