// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel.response {
  .accordion {
    &.question {
      .accordion-toggle {
        font-size: 20px;
        font-weight: bold;
      }
    }
    &.response .accordion-toggle { font-size: 16px; }
    &.reply .accordion-toggle { font-size: 14px; }
    &.comment .accordion-toggle { font-size: 12px; }
    &.response, &.comment {
      margin: 20px -20px 20px -20px;
    }
    &.reply {
      margin: 20px -20px 0 0;

      .accordion-group {
        border-left: 2px solid black;
        margin-bottom: 10px;
      }
    }
    .accordion-body:not(.in) {
      overflow: hidden;
      height: 0;
    }
  }
  textarea {
    width: 600px;
    height: 70px;
  }
  input[type=submit] {
    float: right;
  }
  .accordion-group.new-comment {
    margin-bottom: 20px;
  }
}
