$redLight:       #ffd3d3;
$greenLight:     #c8ffa7;
$purpleLight:    #d6d4ff;

.grammar-test {
  .text {
    margin-bottom: 20px;
  }

  .results, .lessons {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
  }

  .title {
    font-family: 'Courier New', Monaco, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    line-height: 45px;
  }

  .text .chunks {
    font-family: 'Courier New', Monaco, monospace;
    font-size: 18px;
  }

  .results, .lessons {
    display: none;
  }

  .show-results {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .edit-word, .graded-word, .lesson-word {
    display: inline;
    outline: none;
    &:focus { background-color: #eee }
  }

  .graded-word.error, .lesson.error .error {
    background-color: $redLight;
    border-left: 5px solid $redLight;
    border-right: 5px solid $redLight;
    line-height: 130%;
    display: inline-block;
  }

  .edited.graded-word.error {
    background-color: $purpleLight;
    border-left: 5px solid $purpleLight;
    border-right: 5px solid $purpleLight;
    line-height: 130%;
    display: inline-block;
  }

  .edit-word.edited {
    font-weight: bold;
  }

  .graded-word.correct {
    background-color: $greenLight;
    border-left: 5px solid $greenLight;
    border-right: 5px solid $greenLight;
    line-height: 130%;
    display: inline-block;
  }

  .progress {
    display: table;
    width: 100%;
    border-left: 1px solid #555;
    margin-bottom: 20px;

    .unit {
      display: table-cell;
      height: 30px;
      border: 1px solid #555;
      border-left-width: 0;
      background-color:#FFF;
    }

    .correct {
      background-color: $green;
    }
  }
}

.grammar-test .lessons,
.chapter-practice-lessons-page,
.rule-practice-page {
  h4 {
    margin-top: 2em;
  }

  .chunks {
    border: 1px dashed #aaa;
    padding: 10px;
    margin-bottom: 1em;
  }

  p.label {
    margin-bottom: 5px;
  }

  textarea {
    @include box-sizing(border-box);
    width: 100%;
  }

}

.rule-lesson-set {
  // display: none;
}

.rule-lesson-form {
  padding-bottom: 2em;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2em;
  .error, .success { display: none }

  &.error {
    .error { display: block }

    .input {
      border: 2px solid $red;
    }
  }

  &.success {
    .success {
      display: block;
      color: $green;
    }

    .form { display: none }
  }

  .incorrect {
    display: block;
    color: $red;
  }
}

.grammar-test-header, .about-page {
  border: 1px solid #555;
  margin-bottom: 20px;
  position:relative;
}

.grammar-test-header img, .about-page img {
  width: 100%;
}

.grammar-test-header .embed {
  position: absolute;
  width: 100%;
  text-align:center;
  top: 366px;

  .inner {
    width: 420px;
    height: 31px;
    display:inline-block;
  }
}