.grammar-test {
  .text, .results, .lessons {
    border: 1px solid #555;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
  }

  .results, .lessons {
    display: none;
  }

  .show-results {
    display: inline-block;
    margin-bottom: 20px;
  }

  .edit-word, .graded-word, .lesson-word {
    display: inline-block;
    outline: none;
    &:focus { background-color: #eee }
  }

  .error {
    color: $red;
    font-weight: bold;
  }

  .correct {
    color: $green;
    font-weight: bold;
  }

  .progress {
    display: table;
    width: 100%;
    border-left: 1px solid #555;
    margin-bottom: 20px;

    .unit {
      display: table-cell;
      height: 30px;
      border: 1px solid #555;
      border-left-width: 0;
      background-color:#FFF;
    }

    .correct {
      background-color: $green;
    }
  }

  .lessons {
//     .lesson-word
    h4 {
      margin-top: 2em;
    }

    .chunks {
      border: 1px dashed #aaa;
      padding: 10px;
      margin-bottom: 1em;
    }

    p.label {
      margin-bottom: 5px;
    }

    textarea {
      @include box-sizing(border-box);
      width: 100%;
    }

    .lesson {
      padding-bottom: 2em;
      border-bottom: 1px solid #aaa;
      margin-bottom: 2em;
    }
  }
}
