header {
  $top-height: 57px;
  margin-top: -60px;

  .top {
    height: $top-height;
    width: 100%;
  }
}



.controls-wrap {
  float: left;
  display: inline-block;
  height: inherit;
  width: inherit;
  background: image-url('controls-bg.png') repeat-x;
}
ul.controls {
  float: left;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  height: 57px;
  width: inherit;

  li {
    float: left;
    margin-left: 30px;
    height: 47px;
    width: 70px;
    position: relative;

    a {
      float: left;
      position: relative;
      @include replace-text('icons/annotate.png');
      height: inherit;
      width: 100px;
    }
    @each $icon in annotate chart discussion globe images lecture next notes review citations contents slideshow read quiz {
      &[data-target="#{$icon}"] a { background: image-url('icons/#{$icon}.png') 0 0 no-repeat; }
      &[data-target="#{$icon}"] a:hover {
        background: image-url('icons/hover/#{$icon}-hover.png') 0 0 no-repeat;
      }
      &[data-target="#{$icon}"] a.active {
        border-bottom: 10px solid black;
      }
    }
  }
}
