.main-wrap {
  min-width: 1200px;
  float: left;
  margin: 0 20px;
}

article, aside {
  float: left;
}

aside.video {
  position: relative;
  width: 425px;
  min-height: 452px;
  border-right: 4px solid #b9b9b9;
  padding-right: 30px;
  margin-bottom: 20px;

  hgroup {
    padding-bottom: 10px;

    h1 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16pt;
      margin: 0;
    }
    h2 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14pt;
      font-style: italic;
      font-weight: normal;
      line-height: 10px;
      margin: 0;
    }
  }
  .separator {
    width: 425px;
  }
  p {
    font-size: 14pt;
    padding-top: 10px;
  }
}

article.text-area {
  width: 1110px;
  padding-top: 10px;
  p {
    font-family: Century, serif;
    font-size: 14pt;
  }
}

.whiteboard {
  width: 650px;
  height: 460px;
  float: left;
  margin-left: 10px;
}

.separator {
  width: 1120px;
  clear: both;
  border: 2px solid #b9b9b9;
  border-radius: 10px;
}

ul.controls {
  min-height: 200px;
  overflow: hidden;
  float: right;
  list-style-type: none;
  border-left: 4px solid #b9b9b9;

  &.primary-controls { padding-top: 30px; }
  &.text-area-controls { margin-top: 20px; }
  li {
    padding-bottom: 60px;

    &.active {
      background: image-url('arrow.png') no-repeat;
      background-position-y: 10px;
    }
    a {
      float: left;
      @include replace-text('citation.png');
      width: 42px;
      height: 42px;
      margin-left: 10px;

      @each $icon in search notes folder conversation textbook annotation nextpage graph {
        &.#{$icon} { background-image: image-url('#{$icon}.png'); }
      }
    }
  }
}
