@media print {
  a[href]:after {
    content: none !important;
  }
  .bg-quillgreen, .tab-subnavigation-wrapper, .premium-banner-container, #premium-banner, .navigate-back, footer, .csv-and-how-we-grade, .caret, .green-arrow, .csv-link, .dropdown-content {
    display: none;
  }
  .activity-image:first-child {
    border: none !important;
    background-image: none !important;
    .icon-unstarted {
      border: none;
    }
  }
  table, .ReactTable{
      page-break-inside: avoid;
  }

}
