/* Author: Egrammar */

body { font-family: 'proxima_nova_rgregular'; }

/* Basic Backgrounds */
.con-skyblue { background: #cbebed; }
.con-skyblue-darker { background: #b5e2ff; }
.con-yellow { background: #fcd000; }
.con-pink { background: #d90053; }
.con-white { background: #fff; }
.con-darkblue { background: #0f4c7a; }
.con-darkgrey { background: #252626; }

.container { margin: auto; }

/* Special Fonts */

@font-face { font-family: 'Museo500'; src: image-url('museo500-regular-webfont.eot'); src: image-url('museo500-regular-webfont.eot?#iefix') format('embedded-opentype'), image-url('museo500-regular-webfont.woff') format('woff'), image-url('museo500-regular-webfont.ttf') format('truetype'), image-url('museo500-regular-webfont.svg#Museo500') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_nova_rgbold'; src: image-url('proximanova-bold-webfont.eot'); src: image-url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), image-url('proximanova-bold-webfont.woff') format('woff'), image-url('proximanova-bold-webfont.ttf') format('truetype'), image-url('proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_nova_rgregular'; src: image-url('proximanova-regular-webfont.eot'); src: image-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), image-url('proximanova-regular-webfont.woff') format('woff'), image-url('proximanova-regular-webfont.ttf') format('truetype'), image-url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_novasemibold'; src: image-url('proximanova-semibold-webfont.eot'); src: image-url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), image-url('proximanova-semibold-webfont.woff') format('woff'), image-url('proximanova-semibold-webfont.ttf') format('truetype'), image-url('proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'proxima_novaregular_italic'; src: image-url('proximanova-regularitalic-webfont.eot'); src: image-url('proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), image-url('proximanova-regularitalic-webfont.woff') format('woff'), image-url('proximanova-regularitalic-webfont.ttf') format('truetype'), image-url('proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'futuracondensed_medium'; src: image-url('futura_condensed_medium-webfont.eot'); src: image-url('futura_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'), image-url('futura_condensed_medium-webfont.woff') format('woff'), image-url('futura_condensed_medium-webfont.ttf') format('truetype'), image-url('futura_condensed_medium-webfont.svg#futuracondensed_medium') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'droid_sansregular'; src: image-url('droidsans-webfont.eot'); src: image-url('droidsans-webfont.eot?#iefix') format('embedded-opentype'), image-url('droidsans-webfont.woff') format('woff'), image-url('droidsans-webfont.ttf') format('truetype'), image-url('droidsans-webfont.svg#droid_sansregular') format('svg'); font-weight: normal; font-style: normal; }

/* NAV OVERRIDE */
.navbar-inner { min-height: 70px; font-family: 'proxima_nova_rgbold'; }
.navbar .brand { margin-top: 23px; margin-left: 0px; }
.nav-collapse { float: right; margin-top: 22px; }
.navbar .nav > li  { margin-left: 15px; }

/**********************/
/* HOMEPAGE EXCLUSIVE */
/**********************/

#home {}
#home header {}
#home footer { height: 280px; }
#home .brand { background:url('h-logo.png') no-repeat; }
#home .nav-collapse  a { color: #4b6c84; }


#home #m-sign-in  a{ background: #004b7f; }
#home #m-create-account a { background: #d90053;}
#home #m-sign-in  a,
#home #m-create-account a { color: #fff; }

#home #footer-item,
#home #copyright { padding-top: 35px; }
.foot-ico { font-family: 'proxima_nova_rgbold'; font-size: 14px; float: right; }
.foot-ico li { float: left; margin: 10px; }
.foot-ico a { display: block; width: 156px; height: 37px; line-height: 37px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background-color: #3f3f3f; text-align: left; text-indent: 40px; margin: 0 !important;}
.open-source,
.open-content { background-image: image-url('h-ico-01.png'); background-repeat: no-repeat; background-position: 5px center; }
.open-community { background-image: image-url('h-ico-02.png'); background-repeat: no-repeat; background-position: 5px center; text-indent: 35px !important; }

.h-middle { background: #cbebed image-url('h-middle-bg.png') no-repeat center 28px; }
.h-middle-extra { background: transparent image-url('h-transparent-water.png') repeat-x left bottom; padding-top: 178px; overflow: hidden; }

.h-page-top-repeat { width: 100%; background: image-url('h-top.png') repeat-x left top; }
.h-page-left-repeat { width: 100%; background: transparent image-url('h-left.jpg') repeat-y left; }
.h-page-right-repeat  { width: 100%; background: transparent image-url('h-right.jpg') repeat-y right; }
.h-left-top { width: 100%; background: transparent image-url('h-left-top.jpg') no-repeat left top; }
.h-right-top { width: 100%; background: transparent image-url('h-right-top.jpg') no-repeat right top; }
.h-page-extra { background: #fff; }
.h-page-content-extra { width: 90%; padding-bottom: 20px; margin: 0 5%; padding-top: 5px; }
.h-page-content-extra h1 { font-family: 'futuracondensed_medium'; font-size: 50px; line-height: 1; text-align: center; color: #000; }
.h-page-content-extra ul { font-family: 'droid_sansregular'; color: #3d3d3d; font-size: 16px; list-style: none; margin:0 0 30px; padding: 0;}
.h-page-content-extra ul li  { padding: 15px 0; border-bottom: 1px solid #e4e4e4; line-height: 20px; }
.h-page-content-extra button { display: block; border: none; height: 55px; line-height: 55px; background:url('h-yellow-btn-middle.png') repeat-x; padding: 0; font-family: 'proxima_nova_rgbold'; font-size: 20px; color: #fff; margin: 0 auto; }
.btn-y-inner { width: 430px; display: block; }
.btn-y-left { background:url('h-yellow-btn-left.png') no-repeat left; display: block; padding-left: 10px; }
.btn-y-right { background:url('h-yellow-btn-right.png') no-repeat right; display: block; padding-right: 10px; }

.h-sub-middle { padding: 20px 0; }
.h-sub-left-content { font-family: 'proxima_nova_rgregular';  }
.h-sub-left-content h2 { color: #f1f1f1; line-height: 50px; font-size: 40px; font-weight: normal; }
.h-sub-left-content p { color: #fff; font-size: 18px; line-height: 26px; }
.h-sub-right-content { font-family: 'proxima_nova_rgbold'; }
.h-sub-right-content > div { float: right; padding-top: 90px; }
.h-sub-right-content a { width: 194px; height: 57px; line-height: 57px; display: block; background: #fcd000; color: #af1751; text-align: center; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float: left; margin-left: 10px; font-size: 18px; }

.h-features { padding-top: 70px; padding-bottom: 30px; }
.h-features article { text-align: center; }
.h-features article figure { margin-bottom: 40px; }
.h-features .h-features-content { padding: 0 30px; }
.h-features h2 { font-family: 'proxima_nova_rgbold'; color: #0b4d7b; font-size: 30px; line-height: 36px; }
.h-features p { color: #787878; font-size: 18px; line-height: 24px; }
.col-3 { width: 300px; float: left; display: inline; margin: 0 10px; } /* Optional for 16 column grid */

.h-testi { min-height: 238px; position: relative; }
.h-testi-inner { position: relative; z-index: 10; }
.what-saying { background: #0f4c7a image-url('testi-arrow.jpg') no-repeat right top; height: 238px; }
.im-saying { background: #b4e3ff; height: 238px; }
.what-saying,
.im-saying { margin-left: 0 !important; padding-left: 20px; }
.what-saying > div { padding: 80px 40px 10px 0; }
.what-saying h2 { font-size: 30px; color: #fff; line-height: 26px; font-weight: normal; }
.im-saying > div { padding: 50px 0 10px 30px; }
.im-saying q,
.im-saying p { color: #252626; line-height: 26px; font-size: 16px; }
.im-saying q { font-family: 'proxima_novaregular_italic'; }


.h-testi .post-ab-left,
.h-testi .post-ab-right { position: absolute; top: 0; width: 50%; height: 100%; z-index: 1; }
.h-testi .post-ab-left { background: #0f4c7a; left: 0; }
.h-testi .post-ab-right { background: #b4e3ff; right: 0; }

.non-profit { display: block; padding-bottom: 30px; }

/**********************/
/*** PAGE TEMPLATE ****/
/**********************/

header { margin: 0; }

.navbar { margin-bottom: 0; }
.navbar-inner { background: none; border: none; border-radius: 0; box-shadow: none; }
.brand { width: 228px; height: 22px; background:url('logo.png') no-repeat; display: block; text-indent: -999em; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: #dfdfdf; }

#m-sign-in a,
#m-create-account a { font-family: 'proxima_novasemibold'; height: 20px; line-height: 20px; padding: 0 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; font-size: 12px; color: #fff; }
#m-sign-in  a{ background: #393939; color: #909090; }
#m-create-account a { background: #d90053;}

.page-title-wrap {}
.page-title  { height: 75px; }
.page-title  h1 { line-height: 75px; font-size: 30px; color: #fff; margin: 0; }

.page-content-wrap h2 { font-family: 'proxima_novasemibold'; font-size: 30px; line-height: 40px; }
.page-content-wrap p { font-size: 16px; line-height: 24px; margin-bottom: 25px; }
.sec-1 .container,
.sec-2 .container,
.sec-3 .container{ padding-top: 20px; padding-bottom: 20px;  }

.sec-1-inner { padding-right: 20px; }
.sec-1  h2 { color: #010101; }
.sec-1 p { color: #7a7a7a; }
.sec-1 q { font-family: 'proxima_nova_rgbold'; font-size: 28px; line-height: 34px; color: #000; }

.sec-2-inner  { padding-left: 20px; }
.sec-2  h2 { color: #0f4c7a; }
.sec-2 p { color: #3b4d5c; }

.sec-3 p { font-family: 'proxima_novasemibold'; color: #0f4c7a; font-size: 21px; line-height: 30px; }
.sec-3  small { display: block; font-size: 12px; color: #0f4c7a; line-height: 20px; padding-bottom: 20px; }

 h3.page-subtitle2 { color: #0f4c7a; font-family: 'Museo500'; font-size: 36px; line-height: 30px; margin-bottom: 40px; font-size: 34px; }
 .team-box { width: 300px; float: left; height: 300px; background: #f5f3ec; margin-right: 10px; margin-left: 10px; margin-bottom: 20px; overflow: hidden; }
 .team-box-head { -webkit-border-radius: 3px 3px 0 0;  -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; background: #252626; }
 .team-box-desc { padding: 20px; color: #896f6c; line-height: 24px; font-size: 14px;  }
 .team-box-desc p { margin:0; font-size: 16px; line-height: 20px; color: #565656; }
 .team-box-head figure,
 .team-box-head .team-box-title  { float: left; display: block; margin:0; padding :0; }
 .team-box-title h4 { padding: 40px 0 0 15px; margin: 0; font-size: 24px; color: #fff; font-family: 'proxima_nova_rgbold'; }
 .team-box-title small { color: #fcd000; font-size: 14px; text-transform: uppercase; margin: 5px 0 0 15px; display: block; }

/* specific */
#page-story .sec-1 .container { background: #fff image-url('our-story-sec1.png') no-repeat 96% bottom; }
#page-story .sec-2 .container { background: #b5e2ff image-url('our-story-sec2.png') no-repeat 20px top; }
#page-learning .sec-1 .container { background: #fff image-url('on-learning-sec1.png') no-repeat 96% top; }
#page-learning .sec-2 .container { background: #0f4c7a image-url('on-learning-sec2.png') no-repeat 20px bottom; }
#page-about .sec-1  .container { padding-top: 0; background: #0f4c7a image-url('on-about-sec1.png') no-repeat 84% 40%; }

#page-learning .sec-2 p { color: #fff; }
#page-about .sec-1 p { color: #b4e3ff; }


/* Footer */

footer { height: 280px; background: #252626; }
#footer-inner { font-size: 14px; color: #7c7c7c; }
#footer-item ,
#copyright { padding-top: 65px; }
#footer-item {}
#footer-item ul { text-align: right; margin: 0; padding: 0; }
#footer-item li { display: inline; }
#footer-item a { color: #c8c8c8; text-decoration: none; margin-left: 18px; }





@media (max-width: 979px) {

 .navbar .brand { margin-bottom: 20px; margin-left: 0; }
 .navbar .btn { margin-top: 20px; margin-left: 0; cursor: pointer; }

 .navbar-inner { padding-bottom: 10px; }
 .nav { width: 100%; float: none; padding: 0; margin: 0; }
 .nav li { width: 100%; margin: 0 !important; }
 .nav li a { border-bottom: 1px solid #393939; border-top: 1px solid #7f7f7f; }
 .nav li:last-child a { border-bottom: none; }

 .nav-collapse .nav { margin: 0 !important; }
 .nav-collapse { float: none; display: block; }
 .nav-collapse .nav > li > a,
 #m-sign-in a,
 #m-create-account a { background: none !important; color: #fff; font-family: 'proxima_nova_rgbold' !important; font-size: 14px !important; padding: 9px 15px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-bottom: 0; }


 #home .nav li a { border-bottom: 1px solid #def3f4; border-top: 1px solid #9fd4d7; }
 #home .nav li:last-child a { border-bottom: none; }
 #home .nav-collapse .nav > li > a,
 #home #m-sign-in a,
 #home #m-create-account a { color: #4b6c84; }



}

@media (min-width: 768px) and (max-width: 979px) {

 .h-sub-right-content a { width: 150px; margin-bottom: 20px; }
 .col-3 { width: 236px; }

 #page-story .sec-1 .container { -webkit-background-size: 350px; -moz-background-size: 350px; background-size: 350px; }
 #page-story .sec-2 .container { -webkit-background-size: 350px; -moz-background-size: 350px; background-size: 340px; }

 #page-learning .sec-1 .container { background: #fff image-url('puzzle-yellow.png') no-repeat 96% top; }
 #page-learning .sec-1 .container { -webkit-background-size: 350px; -moz-background-size: 350px; background-size: 400px;  }
 #page-learning .sec-2 .container { -webkit-background-size: 350px; -moz-background-size: 350px; background-size: 350px;  }

 .team-box { width: 364px; }
}


@media (max-width: 767px) {
 .navbar .brand  { margin-left: 0 !important; }
 .h-page-content-extra ul  { padding: 0 5%; }
 .btn-y-inner { width: 300px; }

 .h-sub-left-content,
 .h-sub-right-content { text-align: center; padding-left: 5%; padding-right: 5%; }
 .h-sub-right-content > div { float: none; padding-top: 30px; }
 .h-sub-right-content a { width: 90%; float: none; margin: 10px auto; }

 .col-3 { width: 90%; margin: 0; padding-left: 5%; padding-right: 5%; }
 .h-features h2 { margin-bottom: 10px; }
 .h-testi .post-ab-left,
 .h-testi .post-ab-right { display: none; }
 .what-saying { background: #0f4c7a image-url('testi-arrow-m.jpg') no-repeat center bottom; padding: 0; height: auto; }
 .what-saying > div { padding: 20px 0; }
 .what-saying h2 { text-align: center; line-height: 60px; margin: 0;  }

 .im-saying { padding: 20px 0 20px; height: auto; }
 .im-saying > div { padding: 0 5%; text-align: center; }

 #home footer { height: auto; }
 .foot-ico { font-family: 'proxima_nova_rgbold'; font-size: 14px; float: none; }
 .foot-ico li { float: none; display: block !important; }
  .foot-ico a { margin: 0 auto !important; }

 .page-title  { height: 60px; }
 .page-title  h1 { line-height: 60px; }
 .page-title-wrap .container,
 .page-content-wrap .container { padding-top: 0; padding-right: 15px; padding-bottom: 0; padding-left: 15px; }
 .sec-2-inner,
 .sec-2-inner { padding: 0; }

 .about-members .container { padding: 0 10px; }
 .team-box { display: block; width: 100%; margin: 0 0 20px; min-height: 100px; height: auto;  }

 footer { height: auto; }
 #footer-inner { margin: 0 5%; }
 #footer-item,
 #footer-item ul,
 #copyright { text-align: center; padding-top: 30px; }
 #footer-item ul { padding-top: 10px; }
 #footer-item { padding: 10px 0 30px; }

 /* Specific */

 #page-story .sec-1 .container { -webkit-background-size: 300px; -moz-background-size: 300px; background-size: 300px; background-position: 49% 30px; }
 #page-story .sec-2 .container { -webkit-background-size: 300px; -moz-background-size: 300px; background-size: 300px; background-position: 60% top; }
 #page-story .sec-1-inner { padding-top: 250px; }
 #page-story .sec-2-inner { padding-top: 250px; }
 #page-story .sec-1  h2,
 #page-story .sec-2 h2 { text-align: center; }

 #page-about .sec-1-inner { padding-top: 200px; }
 #page-about .sec-1 .container { background-position: 49% 10px; }

 #page-learning .sec-1 .container { background-image:url('puzzle-blue.png'); background-position: 96% bottom; -webkit-background-size: 250px; -moz-background-size: 250px; background-size: 250px; }
 #page-learning .sec-2 .container { background-position: 96% bottom; -webkit-background-size: 250px; -moz-background-size: 250px; background-size: 250px; }
 #page-learning .sec-1-inner { padding-bottom: 190px; }
 #page-learning .sec-2-inner  { padding-bottom: 250px; }

}