// Generic colors
$white: #fff;
$black: #000;
$white_20: rgba(255, 255, 255, 0.2);
$black_40: rgba(0, 0, 0, 0.4);
$black_70: rgba(0, 0, 0, 0.7);

// Quill brand colors
$quillgreen: #00c2a2;
$quillforestgreen: #027360;
$quillblue: #348fdf;
$quillred: #ff4542;
$lessonspurple: #a51070;
$orange: #f8a724;
$red: #e8522c;
$darkred: #ff3d3d;
$purple: #9c2bde;
$darkorange: #ea9a1a;
$darkblue: #0f4c7a;
$green: #58b146;
$darkgreen: #0a980a;
$gray: #b7b7b7;
$verylightgray: #e6e6e6;
$lightgray: #cecece;
$mediumdarkgray: #969696;
$lightgray2: #f4f2f2;
$darkgray: #3b3b3b;
$color_tapa_approx: #737373;
$color_coral_red_approx: #fc3e3b;
$color_concrete_approx: #f1f2f2;
$color_tradewind_approx: #5cc2aa;
$color_mine_shaft_approx: #333333;
$color_rusty_nail_approx: #875a12;
$color_thunderbird_approx: #c51916;
$missed-color: #d54141;
$found-color: #78ca47;
$introduced-color: #9060c7;
$tried-color: #ffba00;

// Fonts
$family-sans-serif: "adelle-sans", "Helvetica", "Arial", sans-serif;
$family-monospace: "Roboto-mono", "Monaco", "Inconsolata", monospace;
