<div>
  <h2>Passage</h2>

  <h3>Name</h3>
  <p><%= @passage.name %></p>

  <h3>Contents</h3>
  <p><%= simple_format(@passage.contents) %></p>
</div>

<br>
<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
<br>
<br>
<%= link_to 'Trials', research_gen_ai_trials_path %>
