<div>
  <h2><%= @llm_prompt.model_name.human.titleize %></h2>

  <h3>Description</h3>
  <p><%= @llm_prompt.description %></p>

  <h3>Contents</h3>
  <p><%= simple_format(@llm_prompt.prompt) %></p>
</div>

<br>
<%= link_to 'Trials', research_gen_ai_dataset_trials_path(dataset_id: @dataset.id) %>
