<div>
  <h2><%= @llm_prompt.model_name.human.titleize %></h2>

  <h3>LLM Prompt Template</h3>
  <p><%= link_to @llm_prompt.name, @llm_prompt.llm_prompt_template %></p>

  <h3>Contents</h3>
  <p><%= simple_format(@llm_prompt.prompt) %></p>
</div>

<br>
<%= link_to 'Trials', research_gen_ai_dataset_trials_path(dataset_id: @dataset.id) %>
