{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">

<h3><a href="{% url 'get_session_feedback_history' %}">Back to all sessions</a></h3>
<table>
  <tr>
    <th>Session</th>
    <th>Prompt</th>
    <th>Student Entry</th>
    <th>Feedback</th>
    <th>Feedback Type</th>
  </tr>
  {% for f in feedback %}
  <tr>
    <td>{{ f.session_id }}</td>
    <td>{{ f.prompt_text }}</td>
    <td>{{ f.entry }}</td>
    <td>{{ f.feedback_text }}</td>
    <td>{{ f.feedback_type }}</td>
  </tr>
  {% endfor %} 
</table>
