.fill-in-the-blank {
  .prompt {
    font-size: 30px;
    line-height: 1.53;
    color: #000;
    margin: 40px 0px 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .warning {
      z-index: 99;
      position: relative;
      top: 0;
      left: 0;
    }
    input {
      border-radius: 4px;
      border: solid 2px #8e8e8e;
      height: 45px;
      box-shadow: none;
      width: 109px;
      margin: 0px 5px;
      font-size: 30px;
      line-height: 1.53;
      text-align: center;
      color: #000;
      &:focus {
        outline: none;
      }
      &.disabled {
        background-color: #e5e5e5;
        border: none;
      }
      &.editing:not(.error) {
        border: solid 2px #06806b;
      }
      &.error {
        border-bottom: solid 4px #b17410;
      }
    }
    .disabled-button {
      background-color: #f4f4f4;
      border: none;

    }
  }
  .answer-header {
    padding-top: 35px;
  }
  .warning-dialogue {
    border: 1px #ff3730 solid;
    color: #ff3730;
    font-size: 14px;
    top: -37px;
    position: absolute;
    text-align: center;
    background-color: white;
    height: 26px;
    z-index: 100;
    padding: 0px 7px;
    display: flex;
    align-items: center;
    left: 8px;
    span {
      white-space: nowrap;
    }
    i {
      font-size: 15px;
      color: white;
      position: absolute;
      top: 18px;
      text-shadow: 0px 1px 0px #ff3730;
    }
  }
  @media (max-width: 400px) {
    .prompt {
      margin: 24px 0px;
    }
  }
}
