.multistep {
  .step-label, .student.text-editor.card {
    flex: 1;
  }
  .step-label {
    margin-right: 24px;
    font-size: 24px;
    line-height: 1.25;
  }
  .list-component {
    padding: 24px 0px;
    border-bottom: 2px solid #8e8e8e;
    margin-bottom: 0px;
    align-items: flex-start;
    &:first-of-type {
      border-top: 2px solid #8e8e8e;
    }
  }

  @media (max-width: 1000px) {
    .list-component {
      flex-direction: column;
      .step-label, .student.text-editor.card {
        max-width: 100%;
      }
      .step-label {
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
  }
}
