.play-lesson-container {
  background-color: #ffffff;
  height: calc(100vh - 66px);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: #000;
  .main-content {
    width: 100%;
    .easy-join-name-form-wrapper {
      text-align: center;
      .easy-join-name-form {
        margin: 35px auto;
        width: 300px;

        p, input, button {
          float: left;
          margin-bottom: 20px;
          font-size: 14px;
        }
        p {
          font-weight: bold;
        }
        input, button {
          width: 300px;
          display: block;
          padding: 9px 12px;
          border-radius: 5px;
          border: 1px solid rgb(206, 206, 206);
          outline: none;
        }
        input:focus {
          border: 1px solid #5bc1a9;
        }
        button {
          background-color: #00c2a2;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.list-number {
  font-size: 24px;
  line-height: 1.33;
  color: #808080;
  width: 32px;
  padding-top: 22px;
}

.sentence-fragments {
  font-size: 36px;
}
.student.text-editor.card {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #e9e9e9, 0 0 2px 0 rgba(0, 0, 0, 0.12);
  // width: 98%;
  // margin-left: 1px;
  &.disabled-editor {
    background-color: #e9e9e9;
    opacity: 0.5;
  }
}
.question-button-group {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0px 100px;
}
.list-component {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.feedback-row {
  .info {
    align-self: flex-start;
  }
  .fa-check-circle {
    padding-top: 8px;
    margin-right: 13px;
    color: #82bf3c;
    font-size: 15px;
  }
}

.list-blanks {
  margin-top: 24px;
  .student.text-editor.card {
    min-width: 250px;
    margin-bottom: 0px;
    .card-content {
      padding: 20px;
    }
  }
  .warning {
    font-size: 20px;
    color: #ff4542;
  }
}


.display-mode {
  .answer-header {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 24px;
  }
  .your-answer-container {
    margin-bottom: 40px;
  }
  .your-answer, .teacher-model {
    border-radius: 4px;
    background-color: #e5e5e5;
    font-size: 24px;
    line-height: 1.33;
    color: #000;
    padding: 20px;
    margin: 8px 0px 24px;
  }
  ol {
    font-size: 24px;
    line-height: 1.25;
    color: #000;
    margin-top: 16px;
    li {
      margin-bottom: 16px;
      margin-left: 36px;
    }
  }
}

.projector-header-section {
  margin-top: 26px;
  align-items: center;
  display: flex;
  .tag {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
    border-radius: 0px 0px 4px 4px;
    border-top: 0px;
    padding: 16px;
    margin-top: -1px;
    height: min-content;
    img {
      margin-right: 8px;
    }
    span {
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }
  }
  .students-watch-tag {
    border: solid 2px #b17410;
    background-color: #ffe3b1;
  }
  .students-type-tag {
    border: solid 2px #06806b;
    background-color: #e1f3f1;
  }
  .answered-count {
    font-size: 20px;
    line-height: 1.45;
    color: #000;
  }
}

.projector-navigation-button {
  position: absolute;
  border: none;
  width: 140px;
  height: 140px;
  opacity: 0.3;
  background-color: #000000;
  border-radius: 78px;
  top: 50%;
  cursor: pointer;
  transition: 0.3s;
  &.right {
    right: -112px;
    &:hover, &:focus {
      right: -70px;
    }
    img {
      margin-left: 33px;
    }
  }
  &.left {
    left: -112px;
    &:hover, &:focus {
      left: -70px;
      justify-content: flex-end;
    }
    img {
      margin-right: 33px;
      transform: rotate(180deg)
    }
  }
  &:hover, &:focus {
    display: flex;
    opacity: 0.74;
    align-items: center;
    outline: none;
  }
}

.student-slide-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .all-but-submitted-bar {
    flex: 1 0 auto;
    padding-bottom: 44px;
  }
}
