.single-answer {
  .sentence-fragments {
    padding-top: 40px;
  }
  .question-button-group {
    margin-bottom: 100px;
  }

  @media (max-width: 400px) {
    .sentence-fragments {
      padding-top: 24px;
    }
  }
}
