.single-answer {
  .projector-header-section {
    margin-top: 0px;
  }
  .sentence-fragments {
    padding-top: 40px;
  }
  .student-feedback-container {
    margin-top: 24px;
    border-radius: 4px;
    border: solid 2px #8e8e8e;
    background-color: #f2f2f2;
    padding: 20px 16px;
    .feedback-row {
      p {
        font-size: 24px;
        line-height: 1.25;
        color: #000;
      }
      img {
        height: 32px;
        margin-top: 0px;
      }
    }
  }
  .card-content {
    border-radius: 4px;
    border: solid 2px #8e8e8e;
    textarea {
      font-size: 24px;
    }
  }
  .question-button-group {
    margin-bottom: 100px;
  }

  @media (max-width: 400px) {
    .sentence-fragments {
      padding-top: 24px;
    }

    .card-content textarea {
      font-size: 20px;
    }

    .student-feedback-container .feedback-row {
      p {
        font-size: 20px;
      }
      img {
        height: 24px;
      }
    }
  }

  &.projector {
    .disabled-editor {
      opacity: 1 !important;
      .card-content {
        background-color: #e5e5e5;
        border: none;
        textarea {
          color: #000;
          line-height: 1.33;
        }
      }
    }
  }
}
