.submitted-bar {
  background-color: #e1f3f1;
  padding: 18px 20px;
  width: 100vw;
  position: fixed;
  margin-left: calc(50% - 50vw);
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.45;
  color: #000;
}
