.tooltip {
  position: absolute;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 #e9e9e9;
  text-align: center;
  width: 150px;
  font-size: 13px;
  padding: 7px;
  top: 45px;
  &.help {
    right: 8px;
    top: 40px;
  }
  &.exit {
    right: 46px;
  }
  &.watch_teacher {
    right: 87px;
  }
  &.projector {
    right: 124px;
  }
  &.pdf {
    right: 203px;
    width: 170px;
  }
  .text {
    color: black;
  }
  i {
    position: relative;
    bottom: 37px;
    left: 63px;
    color: white;
  }
}
