.student-static-page-container {
  display: flex;
  font-size: 36px;
  background-color: white;
  height: calc(100vh - 50px);
  text-align: center;
  color: #000000;
  margin-top: 30px;
  .student-static-page {
    width: 100%;
    max-width: 770px;
    margin:0 auto;
    blockquote {
      margin-top: 40px;
      border-radius: 3px;
      padding: 20 55;
      background-color: #fafafa;
    }
    ul {
      margin-top: 55px;
      list-style-type: disc;
    }
    code {
      background-color: inherit;
      color: inherit;
      font-size: inherit;
      display: block;
      text-align: left;
      font-weight: normal;
      font-family: inherit;
      padding: 0px;
      line-height: inherit;
    }
  }
}
