.newline-error {
  color:red;
  clear:both;
  margin-bottom: 20px;
}

.google-sign-in {
  background-image: image-url('accounts/google_sign_in.svg');
}

.clever-sign-in {
  background-image: image-url('accounts/clever_sign_in.svg');
}

.reset-password, .forgot-password, #add-class {
  h1 {
    margin-bottom: 4px !important;
    line-height: 1.33;
  }
  .form-container {
    max-width: 444px;
    width: 100%;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    margin: 40px auto 32px;
    form {
      width: 100%;
    }
    .quill-button {
      width: 100%;
    }
    .input-container {
      margin-bottom: 40px;
      &.error.unacknowledged {
        margin-bottom: 0px;
        .error-text {
          margin-bottom: 5px;
        }
      }
    }
  }
  .student-info-box {
    @media (max-width: 410px) {
      min-height: 250px;
    }
    max-width: 444px;
    width: 100%;
    height: 306px;
    border-radius: 6px;
    background-color: #eeeeee;
    padding: 44px 32px;
    margin: auto;
    h3 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.62;
      color: #000000;
      display: flex;
      align-items: flex-start;
      margin-bottom: 24px;
      justify-content: space-between;
      span {
        margin-top: -4px;
      }
      img {
        margin-left: 5px;
      }
    }
    ol {
      font-size: 14px;
      line-height: 2.14;
      letter-spacing: 0;
      color: #646464;
      max-width: 346px;
      margin-left: -18px;
      li {
        padding-left: 12px;
        margin-bottom: 2px;
      }
    }
    p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #646464;
      margin-bottom: 23px;
    }
  }
}

#add-class {
  .form-container {
    height: 189px;
    .input-container {
      margin-bottom: 40px;
      &.error.unacknowledged {
        margin-bottom: 20px;
      }
    }
  }
  .student-info-box {
    height: 196px;
    h3 {
      margin-bottom: 18px;
    }
  }
}

.reset-password {
  .input-container {
    &.password {
      margin-bottom: 12px;
    }
    &.password-confirmation {
      margin-bottom: 39px;
    }
  }
}

.forgot-password, .reset-password {
  .form-container {
    padding: 10px 32px;
    .quill-button {
      margin-top: 20px;
    }
  }
}

.forgot-password {
  .form-container {
    height: 189px;
  }
  @media (max-width: 400px) {
    .student-info-box {
      min-height: 415px;
    }
  }
}

// this is being preserved only for the my account page and should get removed

.educator-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  .option-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 222px;
    margin: auto;
    margin-bottom: 20px;
  }
  .explanation {
    color: #646464;
    text-align: center;
  }
  .school-search-container {
    border: none;
    .list {
      height: 251px !important;
    }
  }
  .non-us {
    flex-direction: column;
    align-items: center;
    .quill-button {
      width: 300px;
      margin-bottom: 20px;
    }
  }
}
