.activity-categories-container {
  section {
    border-bottom: none;
  }
  h1 {
    margin: 20px 0px;
  }
  label {
    margin-right: 5px;
  }
  input {
    margin-right: 10px;
    &:first-of-type {
      width: 300px;
    }
  }
  .list {
    margin: 20px 0x;;
    .list-item {
      font-size: 20px;
      background-color: white;
      border: 1px #adabab solid;
      border-radius: 6px;
      padding: 5px 20px;
      margin-bottom: 5px;
    }
  }
  .activity-categories {
    margin: 20px 0px;
    .activity-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .delete, .show {
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
