.administrator-page.about-us-page {
  padding-bottom: 105px;
  min-height: 100vh;
  .header p {
    margin-bottom: 120px;
  }
  .link-section-and-image-container {
    display: flex;
    align-items: center;
    width: 950px;
    .link-section-container {
      width: 100%;
    }
    .link-section {
      padding: 16px 16px 24px;
      border-radius: 8px;
      border: 1px solid #e0e0e0;
      margin: 16px 0px;
      width: 100%;
      p {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }
    img {
      margin-left: 56px;
    }
  }
  @media only screen and (max-width: 900px) {
    .header {
      align-items: center;
      padding-left: 28px;
      padding-right: 28px;
    }
    .header h1, .header p {
      text-align: center;
    }
    .link-section-and-image-container, .link-section-container, .link-section {
      width: 100%;
    }
  }
}
