.assignment-card {
  background-color: white;
  padding: 32px;
  text-align: left;
  max-width: 582px;
  width: 100%;
  flex-direction: column;
  align-items: inherit;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  &:hover {
    text-decoration: none;
  }
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      img {
        margin-right: 24px;
      }
      &.include-recommended-to-start-tag {
        align-items: flex-start;
      }
    }
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
    }
    .recommended-to-start-tag {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      margin: 4px 0px;
      display: inline-block;
      color: #06806b;
    }
  }
  .body {
    margin-top: 24px;
    .body-element {
      display: flex;
      font-size: 14px;
      line-height: 1.5;
      color: #646464;
      margin-bottom: 16px;
      .key {
        max-width: 88px;
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #373737;
      }
    }
  }
}

.assign-a-new-activity-container {
  background-color: #F7F5F5;
  min-height: 100%;
}

.assign-a-new-activity {
  padding: 47px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 90%;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 23px;
    text-align: center;
  }

  .diagnostic-banner {
    padding: 0px 0px 16px;
    border-radius: 6px;
    border: solid 1px #06806b;
    display: flex;
    background-color: #e1f3f1;
    margin-bottom: 24px;
    max-width: 950px;
    width: 100%;
    img {
      height: min-content;
    }
    .text {
      margin: 24px 16px 16px;
      flex: 1;
      h2 {
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 16px;
      }
      p {
        max-width: 600px;
        color: #222222;
      }
    }
    .interactive-wrapper {
      height: min-content;
      margin: 24px;
    }
  }

  .minis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $sitewidepagewidth;
    .assignment-card {
      width: 100%;
      max-width: 588px;
      margin: 0px 0px 24px;
    }
  }

  .previously-assigned-activities {
    text-align: center;
    font-size: 14px;
    color: #646464;
    margin-bottom: 71px;
    a {
      color: #373737;
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
      width: 140px;
      height: 13px;
    }
    .view-assigned-activities {
      width: 172px;
      height: 33px;
      background: #FFFFFF;
      border: 1px solid #BDBDBD;
      border-radius: 4px;
      margin-left: 5px;
    }
  }

  @media (max-width: 1100px) {
    .minis {
      justify-content: center;
      .assignment-card {
        max-width: 100%;
      }
    }
  }
}

.button-container {
  display: flex;

  a:first-child {
    margin-right: 16px;
  }
}

.evidence-header {
  margin-top: 40px;
  margin-bottom: 32px;
}

.suggested-activities-table {
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  tr {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 2px;
    width: $sitewidepagewidth;
    .activity-header {
      width: 450px;
    }
    .topics-header {
      width: 375px;
    }
    th {
      padding-bottom: 15px;
      padding-top: 10px;
    }
  }
  tbody {
    .data-table-row {
      &:hover {
        background-color: white;
      }
    }
    .tool-col {
      margin-right: 24px;
    }
    .name-col {
      width: 450px;
    }
    .topics-col {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      width: 375px;
    }
    .date-col {
      width: 96px;
    }
    .preview-col {
      a {
        color: #027360;
      }
      width: 60px;
    }
    .select-suggested {
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
      color: #373737;
      min-width: 69px;
      height: 33px;
      margin-left: 16px;
    }
  }
}
