.assignment-card {
  border-radius: 6px;
  background-color: white;
  padding: 32px;
  text-align: left;
  max-width: 582px;
  width: 100%;
  flex-direction: column;
  align-items: inherit;
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      align-items: center;
      img {
        margin-right: 24px;
      }
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
    }
  }
  .body {
    margin-top: 24px;
    .body-element {
      display: flex;
      font-size: 14px;
      line-height: 1.5;
      color: #646464;
      margin-bottom: 16px;
      .key {
        max-width: 88px;
        width: 100%;
      }
    }
  }
}

#assign-a-diagnostic-page {
  .assignment-card {
    margin-bottom: 24px;
  }
}

.assign-a-new-activity {
  padding: 43px 0px;
  .assign-a-new-activity-hero {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    text-align: center;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      margin: 24px;
    }
  }
  .previously-assigned-activities {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 14px;
    color: #646464;
    a {
      color: #027360;
    }
  }
  .assignment-steps {
    display: flex;
    justify-content: space-between;
    .assignment-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 272px;
      width: 100%;
      .assignment-step-number {
        width: 40px;
        height: 40px;
        border: solid 1px #666666;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #666666;
        margin-bottom: 24px;
        align-items: center;
      }
      .assignment-step-header {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .assignment-step-text {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        color: #7f7f7f;
      }
    }
  }
}
