#knowledge-center, .announcements-page, .press-page {
  .header-section {
    margin: 40px 0px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 48px;
    p {
      margin-top: 14px;
      line-height: 1.62;
      color: #3b3b3b;
      font-size: 16px;
      margin-right: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      form {
        margin-top: 9px;
      }
    }
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: #373737;
  }
  form {
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    .cancel-button {
      position: absolute;
      right: 10;
      top: 13px;
      height: 15px;
      cursor: pointer;
    }
  }
  .search-tokens {
    margin-top: 24px;
    .search-token {
      padding: 8px;
      background: #E0E0E0;
      border-radius: 6px;
      margin-right: 8px;
    }
  }
  .fa-search {
    color: #666666;
    position: absolute;
    left: 16px;
    font-size: 16px;
    top: 50%;
    transform: translate(0, -50%);
  }
  input {
    height: 60px;
    padding-left: 45px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 18px;
    	color: #c0c0c0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size: 18px;
    	color: #c0c0c0;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size: 18px;
    	color: #c0c0c0;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size: 18px;
    	color: #c0c0c0;
    }
  }
}
