$blogpostgreen: #06806B;
$blogpostpurple: #9035D6;
$blogpostblue: #4D8DD9;
$blogpostgold: #DF9E3D;
$blogpostred: #EB4F47;
$blogpostviolet: #AD277B;
$blogpostteal: #2C7F9B;

$blogpostlightgreen: rgba(6, 128, 107, 0.08);
$blogpostlightpurple: rgba(144, 53, 214, 0.08);
$blogpostlightblue: rgba(77, 141, 217, 0.08);
$blogpostlightgold: rgba(223, 158, 61, 0.08);
$blogpostlightred: rgba(235, 79, 71, 0.08);
$blogpostlightviolet: rgba(173, 39, 123, 0.08);
$blogpostlightteal: rgba(44, 127, 155, 0.08);


#blog_posts_iframe {
  height: 163px;
  margin-top: 28px;
  width: 100%;
  border: none;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 #a8e067;
  }
  100% {
    box-shadow: 0 0 10px 0 #a8e067;
  }
}

.topic-section, .preview-card-link {
  &.green {
    h1, h3 {
      color: $blogpostgreen;
    }
    h3 {
      background-color: $blogpostlightgreen;
    }
    .quill-button {
      background-color: $blogpostgreen;
    }
  }
  &.purple {
    h1, h3 {
      color: $blogpostpurple;
    }
    h3 {
      background-color: $blogpostlightpurple;
    }
    .quill-button {
      background-color: $blogpostpurple;
    }
  }
  &.blue {
    h1, h3 {
      color: $blogpostblue;
    }
    h3 {
      background-color: $blogpostlightblue;
    }
    .quill-button {
      background-color: $blogpostblue;
    }
  }
  &.gold {
    h1, h3 {
      color: $blogpostgold;
    }
    h3 {
      background-color: $blogpostlightgold;
    }
    .quill-button {
      background-color: $blogpostgold;
    }
  }
  &.red {
    h1, h3 {
      color: $blogpostred;
    }
    h3 {
      background-color: $blogpostlightred;
    }
    .quill-button {
      background-color: $blogpostred;
    }
  }
  &.violet {
    h1, h3 {
      color: $blogpostviolet;
    }
    h3 {
      background-color: $blogpostlightviolet;
    }
    .quill-button {
      background-color: $blogpostviolet;
    }
  }
  &.teal {
    h1, h3 {
      color: $blogpostteal;
    }
    h3 {
      background-color: $blogpostlightteal;
    }
    .quill-button {
      background-color: $blogpostteal;
    }
  }
}

.announcement {
  align-items: center;
  background: #e2ffc1;
  border-radius: 3px;
  border: 1px solid #82bf3c;
  color: #3b3b3b;
  display: flex;
  font-size: 16px;
  margin: 0 0 16px;
  padding: 13px 17px 12px 15px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  p {
    flex-grow: 1;
  }

  .circle {
    animation: pulsate 2s ease-in-out infinite alternate;
    background-color: #82bf3c;
    margin-right: 13px;
    height: 14px;
    width: 14px;
  }

  .fas {
    color: #82bf3c;
    margin-top: 3px;
  }
}

#preview-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 48px;

  a:hover {
    text-decoration: none;
  }

  .preview-card-link {
    position: relative;
    height: 326px;
    .quill-button {
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }
}

#knowledge-center {
  padding-bottom: 280px;
  min-height: 800px;
  nav {
    margin: 35px auto;
    font-weight: 600;
    text-align: center;

    ul {
      padding-left: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;
      color: #c0c0c0;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0 24px;
      cursor: pointer;

      &.active {
        color: $quillforestgreen;
      }
    }
  }

  main {
    h1.no-results {
      color: #c0c0c0;
      font-weight: 700;
      padding: 0 0 50px;
      text-align: center;
    }
  }

  section {
    border-bottom: none;
    margin-bottom: 0;
    &:first-of-type {
      padding-top: 0px;
    }

    .meta {
      align-items: center;
      display: flex;
      margin-bottom: 20px;

      h1 {
        font-weight: 600;
        font-size: 28px;
        line-height: 25px;
      }

      h2 {
        font-size: 16px;
        color: #c0c0c0;
        flex-grow: 1;
        margin-right: 14px;
        display: flex;
        justify-content: flex-end;
      }

      a {
        font-size: 14px;
        margin-bottom: -2px;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  .topic-header {
    margin: 35px auto;

    a {
      color: #027360;
      font-size: 14px;

      i, svg {
        font-size: 10px;
        margin-right: 10px;
      }
    }

    h2 {
	     font-size: 30px;
	     color: #666666;
       margin-top: 50px;
    }
  }

}

.preview-card {
  height: 326px;
  margin: 0 0 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 16px;
  border-radius: 10px;

  .video-holder {
    border-radius: 6px 6px 0 0;
    height: 280px;
    overflow: hidden;
    z-index: 2;
  }

  .preview-card-image, img {
    display: none;
  }

  .preview-card-body {
    padding-bottom: 16px;
    border-bottom: 1px solid #CFCFCF;
    overflow: hidden;

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: min-content !important;
      overflow: visible !important;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-top: 16px;
      height: 80px;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      overflow: hidden;
      line-clamp: 4;
    }

    h3 {
      margin-top: 0px;
      transition: all 0.3s ease-out;
      letter-spacing: 0.2px;
      height: 132px;
      padding: 16px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.2px;
    }

  }

  .preview-card-footer {
    padding: 23.5px 0px;
    color: #666;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

a.preview-card-link {
  text-decoration: none;
  flex: 0 0 32%;
}

a.all-blog-posts-back-button {
  color: #666;
  display: block;
  margin-bottom: 24px;

  &:hover {
    color: $quillforestgreen;
    text-decoration: none;
  }

  .fas {
    display: inline-block;
    font-size: 12px;
    margin-right: 4px;
    vertical-align: middle;
  }
}

#article-container {
  background: #ffffff;


  div p img {
    max-width: 100%;
  }

  article {
    margin: 0 auto;
    max-width: 700px;
    padding: 44px 0px;

    a {
      text-decoration: underline;
    }

    a.back-to-topic {
      color: #027360;
      font-weight: 600;
      font-size: 14px;

      i, svg {
        font-size: 10px;
        margin-right: 6px;
        vertical-align: middle;
      }
    }

    .center-images {
      main {
        img {
          display: block;
          margin: auto;
        }
      }
    }

    header {
      font-size: 14px;
      padding-top: 20px;
      max-width: 750px;

      h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
      }

      .date, .author {
        color: #666666;
        font-weight: 400;
        font-size: 16px;
        margin-top: 14px;
      }
    }

    main {
      margin-top: 48px;
      padding-top: 48px;
      border-top: 1px solid #CFCFCF;
      font-weight: 400;
      font-size: 20px;
      line-height: 33px;

      h1, h2, h3, p, ul, ol, img, blockquote {
        margin: 0px 0 32px;
      }
    }

    footer {
      align-items: center;
      border-top: 1px solid #e9e9e9;
      display: flex;
      margin: 50px 0 0;
      padding: 50px 0 25px;

      .back-to-topic {
        flex-grow: 1;
      }

      ul {
        font-size: 1.75em;
        list-style-type: none;
        margin: 0;
        padding-left: 20px;

        li {
          display: inline-block;
          margin-right: 10px;
          opacity: 0.7;
          transition: 0.15s ease-in-out;

          &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.15);
          }
        }
      }
    }
  }

  #similar-posts {
    background: #f8f6f6;
    padding: 35px 0;

    #similar-post-container {
      margin: 0 auto;
      max-width: 950px;

      h2 {
        color: #3b3b3b;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      #preview-card-container {
        margin-top: 15px;
        justify-content: space-between;
      }
    }
  }
}

#quill-article-paywall {
  background: #fff;
  border-radius: 10px;
  border: 3px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: auto;
  max-width: 500px;
  padding: 30px;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 1.7;
    margin: 16px 0 24px;
  }

  a {
    background: #f8a724;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    padding: 8px 12px;
    width: fit-content;

    &:hover {
      text-decoration: none;
    }
  }
}

.article-cta-primary, .article-cta-secondary {
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0px 15px;
  font-weight: bold;
  padding: 20px;
  &:hover {
    text-decoration: none;
  }
}

.article-cta-primary, .article-cta-primary:hover, .article-cta-primary:focus {
  background: $quillgreen;
  color: #fff;
}

.article-cta-secondary, .article-cta-secondary:hover {
  background: #eee;
  color: #777;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  .preview-card-container {
    width: 100%;
    margin-right: 10px;
    height: 380px;
    #preview-markdown-content {
      height: 300px;
    }
  }
  .body-preview {
    width: 310px;
  }
  .body-markdown {
    width: 100%;
    margin-right: 10px;
  }
}
