.classrooms-page {
  padding-top: 40px;
  h1, h2 {
    font-weight: bold;
    font-size: 24px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }
  .buttons {
    display: flex;
    .import-from-google-button {
      width: 242px;
      white-space: nowrap;
    }
    .create-a-class-button {
      width: 129px;
      white-space: nowrap;
      margin-left: 24px;
    }
  }
  .no-active-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #646464;
      margin-top: 24px;
      width: 461px;
    }
  }

  .modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.5;
    background-color: #000;
  }

  .modal {
    width: 760px;
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 72px;
    left: 50%;
    bottom: 72px;
    transform: translate(-50%, 0);
    display: block;
  }

  .modal-body {
    padding: 32px;
    h3 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      margin-bottom: 40px;
    }
  }


  .create-a-class-modal-body {
    form {
      width: 512px;
      .input-container {
        margin-bottom: 12px;
        &.grade {
          margin-bottom: 24px;
        }
      }
      .name.inactive:not(.has-text) {
        label {
          margin-top: 20px;
        }
      }
      .class-code-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .input-container {
          width: 300px;
          margin-bottom: 0px;
        }
        .reset {
          color: #027360;
          font-size: 16px;
          cursor: pointer;
          font-weight: normal;
        }
      }
    }
  }

  .create-a-class-modal-footer {
    position: fixed;
    bottom: 0;
    height: 88px;
    background-color: white;
    opacity: 1;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 0px 32px;
  }

  .create-a-class-modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 32px;
    height: 70px;
    align-items: center;
    img {
      cursor: pointer;
    }
    .navigation {
      display: flex;
      color: #646464;
      p {
        margin-right: 24px;
      }
      .active {
        color: #000;
      }
    }
  }
}
