/* ==========================================================================
   Class Page
   ========================================================================== */

.class-page {
  h3 {
    display: inline-block;
    padding-top: 7px;
  }
  table {
    margin-top: 20px;
    border-collapse: separate;
    margin-bottom: 0;
    a {
      color: #027360;
    }
    thead {
      background: #f7f5f5;
      border: 1px solid #cecece;
      tr th {
        border-bottom: none;
        border-top: 1px solid #cecece !important;
        cursor: pointer;
        background-color: #e6e6e6;
        padding: 8px 12px;
        transition: 0.1s ease-out;
        -moz-transition: 0.1s ease-out;
        -webkit-transition: 0.1s ease-out;
        .fa {
          float: right;
          color: #737373;
          font-size: 1.3em;
        }
        &.active {
          background: #e6e6e6;
        }
        &:nth-child(1) {
          width: 26%;
          border-top-left-radius: 5px;
          text-align: left;
          border-left: 1px solid #cecece;
        }
        &:nth-child(2) {
          width: 26%;
          text-align: left;
        }
        &:nth-child(3) {
          width: 26%;
        }
        &:nth-child(4) {
          width: 20%;
          text-align: center;
          border-top-right-radius: 5px;
          border-right: 1px solid #cecece;
        }
      }
    }
    tbody tr {
      background: #f7f5f5;
      td {
        font-size: 14px;
        padding: 20px 12px;
        &:nth-child(1) {
          text-align: left;
          border-left: 1px solid #cecece;
        }
        &:nth-child(2), &:nth-child(3) {
          text-align: left;
        }
        &:nth-child(4) {
          text-align: right;
          border-right: 1px solid #cecece;
        }
      }
      &:last-child td {
        border-bottom: 1px solid #cecece;
        &:first-child {
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
  .table > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      vertical-align: middle;
    }
  }
  input {
    width: 300px;
    margin: 0 20px;
  }
  > label {
    font-weight: normal;
  }
}

form.class-page {
  margin-bottom: 0em;
}

.delete-class {
  margin-left: 5%;
  color: #027360;
}

.edit_classroom {
  display: inline-block;
  #class-name, #class-grade {
    display: inline-block;
    margin-right: 30px;
  }
  label {
    display: block;
  }
  select, input {
    margin-bottom: 10px;
  }
}

#student-table {
  padding: 0;
  div {
    margin-bottom: 30px;
  }
  button {
    height: 40px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #000000;
  }
}
