.classrooms-page {
  padding-top: 40px;

  .name, .last-name, .first-name {
    &.inactive:not(.has-text) {
      label {
        margin-top: 20px;
      }
    }
  }

  h1, h2 {
    font-weight: bold;
    font-size: 24px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }
  .buttons {
    display: flex;
    .import-from-google-button {
      width: 242px;
      white-space: nowrap;
    }
    .create-a-class-button {
      width: 129px;
      white-space: nowrap;
      margin-left: 24px;
    }
  }
  .no-active-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 14px;
      line-height: 1.57;
      text-align: center;
      color: #646464;
      margin-top: 24px;
      width: 461px;
    }
  }

  .modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.5;
    background-color: #000;
  }

  .modal {
    width: 760px;
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 72px;
    left: 50%;
    bottom: 72px;
    transform: translate(-50%, 0);
    display: block;
  }

  .modal-body {
    padding: 32px 24px 32px 32px;
    margin-bottom: 32px;
    .title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      margin-bottom: 40px;
    }
  }

  .create-a-class-modal-content {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 120px;
  }

  .create-a-class-modal-body {
    &.setup-instructions {
      .title {
        margin-bottom: 8px;
      }
      p {
        width: 416px;
        font-size: 14px;
        line-height: 1.57;
        color: #646464;
        margin-bottom: 32px;
      }
      img {
        margin-bottom: 32px;
      }
    }

    &.create-students {
      form {
        display: flex;
        justify-content: space-between;
        .input-container {
          width: 302px;
        }
      }
    }

    .create-a-class-form {
      width: 512px;
      .input-container {
        margin-bottom: 12px;
        &.grade {
          margin-bottom: 24px;
        }
      }
      .class-code-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .input-container {
          width: 300px;
          margin-bottom: 0px;
        }
        .reset {
          color: #027360;
          font-size: 16px;
          cursor: pointer;
          font-weight: normal;
        }
      }
    }

    .quill-cards {
      width: 584px;
      .quill-card:first-of-type {
        margin-bottom: 24px;
        p {
          width: 400px;
        }
      }
    }
    .copy-class-code-container {
      display: flex;
      align-items: center;
      .input-container {
        width: 256px;
        margin-right: 16px;
      }
    }
  }

  .create-a-class-modal-footer {
    position: fixed;
    bottom: 0;
    height: 88px;
    background-color: white;
    opacity: 1;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 0px 32px;
  }

  .create-a-class-modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 32px;
    height: 70px;
    align-items: center;
    img {
      cursor: pointer;
    }
    .navigation {
      display: flex;
      color: #646464;
      p {
        margin-right: 24px;
      }
      .active {
        color: #000;
      }
    }
  }
}

.data-table::-webkit-scrollbar {
  background-color: white;
  width: 7px;
}

.data-table::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #7f7f7f;
  -webkit-box-shadow: inset 0 0 6px #7f7f7f;
}

.data-table {
  overflow: scroll;

  .data-table-headers, .data-table-row {
    height: 48px;
    padding: 0px 16px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
  }

  .data-table-header {
    font-size: 12px;
    font-weight: 600;
    color: #5c5c5c;
    display: flex;
  }

  .data-table-row-section {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.removable {
      margin-right: 0px;
      img {
        cursor: pointer;
      }
    }
  }

  .data-table-header, .data-table-row-section {
    margin-right: 24px;
  }

  .data-table-headers {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  .data-table-row {
    &:hover {
      background-color: #f2f2f2;
    }
    &.checked {
      background-color: #e8f7f3;
    }
  }

  .sort-arrow {
    margin-right: 8px;
    cursor: pointer;
    &.desc {
      transform: rotate(180deg);
    }
  }

}
