.cms-unit-templates, .cms-activity-classifications {
  &.index-container {
    background-color: white;
    padding: 24px;
  }
  .unit-template-inputs {
    .upper-section {
      display: flex;
      align-items: baseline;
      .new-unit-template-button {
        margin-left: 52px;
      }
    }
  }
  .activity-packs-table {
    table {
      width: 95vw;
      .unit-template-activity-row-table {
        width: 95vw;
        .data-table-body {
          .data-table-row {
            height: auto;
            padding: 16px;
            .data-table-row-section {
              white-space: break-spaces !important;
            }
          }
        }
      }
    }
  }
  .save-button {
    margin-left: 10px;
  }
  .sortable-table {
    width: 100%;
    border: #cecece 1px solid;
    .header {
      padding: 6px;
      border-bottom: 1px solid #cecece;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      span:first-of-type {
        flex: 2;
      }
      span:last-of-type {
        flex: 1;
      }
    }
    .list {
      background-color: white;
      .list-item {
        display: inherit;
        width: auto;
        margin-left: 0px;
        padding: 6px;
        border-bottom: 1px solid #cecece;
        justify-content: space-between;
        font-size: 16px;
        tr {
          display: flex;
          justify-content: space-between;
          td:first-of-type {
            flex: 2;
          }
          td:last-of-type {
            flex: 1;
          }
        }
      }
    }
  }
}
