.college-board-mini {
  .mini_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 11px 16px;
  }
  p {
    margin-top: 11px;
  }
  a {
    height: 40px;
    border-radius: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
