#dashboard {
  padding: 40px 20px;
  $link-color: #027360;
  max-width: 1020px;
  margin: auto;
  text-overflow: ellipsis;
  white-space: normal;
  .dashboard-header {
    margin-top: 36px;
    text-align: left;
    padding-top: 36px;
    padding-bottom: 16px;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    a {
      color: $link-color;
      font-size: 14px;
      font-weight: normal;
    }
  }
  @media (max-width: 1000px) {
    .dashboard-header {
      padding-left: 20px;
    }
  }
  @media (max-width: 760px) {
    .dashboard-header {
      padding-left: 0;
      text-align: center;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  button {
    width: 160px;
    height: 40px;
    font-weight: 700;
  }
  .spinner-container {
    height: 36%;
    margin: 35px auto auto;
    padding: 0;
  }
  .mini_container {
    position: relative;
  }
  #google-classroom-mini,
  .premium-container,
  .resources-container,
  .best-practices-container,
  .video-container {
    display: inline-block;
    vertical-align: middle;
    a {
      color: $link-color;
    }
    .img {
      margin-top: 27px;
      margin-bottom: 25px;
    }
    iframe {
      border: none;
    }
    h4 {
      padding: 5px 5px 10px;
      line-height: 25px;
      margin: 6px auto 0;
      width: 280px;
    }
    p {
      line-height: 22px;
      color: #646464;
      margin: 15px 0 20px;
    }
  }
  #google-classroom-mini,
  .premium-container,
  .resources-container {
    h4 {
      border-bottom: 1px solid #cecece;
    }
  }
  .resources-container {
    img {
      margin-top: 25px;
      margin-bottom: 18px;
    }
    p {
      width: 280px;
      border-top: 1px solid #cecece;
      line-height: 19px;
      padding-top: 5px;
    }
    &.google-classroom-announcement {
      p {
        border-top: none;
        margin: 0;
        padding-top: 0;
      }
      img {
        margin-top: 21px;
        margin-bottom: 15px;
      }
      span {
        display: inline-block;
        color: $link-color;
        margin-top: 16px;
      }
    }
  }
  #google-classroom-mini,
  .premium-container {
    .btn-orange {
      margin-top: 26px;
      width: 252px;
    }
    .credit-card {
      line-height: 0;
      color: #646464;
      margin-top: 16px;
    }
    p {
      width: 271px;
      color: #333333;
      line-height: 22px;
      margin-top: 37px;
    }
  }

  .class-mini-edit-link {
    position: absolute;
    right: 50px;
    top: 16px;
  }

  .class-mini {
    padding-top: 19px;
    overflow-y: visible;
  }

  .mini_content {
    margin: auto;
    width: 300px;
    height: 282px;
    overflow-y: scroll;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 40px;

    &.notifications_content {
      display: flex;
      flex-direction: column;
      overflow-y: unset;

      ul {
        overflow-y: scroll;
        flex-grow: 1;
      }
    }

    &.premium-promo {
      color: #333;
      h3 {
        font-size: 16px;
        padding-top: 7px;
      }
      span {
        line-height: 25px;
        &.special-price {
          font-size: 9px;
          line-height: 15px;
          color: #c0c0c0;
        }
      }
      .flex-row {
        width: 73%;
        margin: auto;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }
      .pricing {
        width: 50%;
      }
      .fake-border {
        border: solid 1px #ebebeb;
        height: 42px;
        width: 0px;
      }
      h2 {
        font-weight: 700;
        font-size: 20px;
      }
      .gray-underline {
        padding-top: 10px;
      }
      .gray-underline+p {
        margin-top: 13px;
        margin-bottom: 19px;
        min-height: 100px;
        padding-top: 40px;
      }
      .q-button {
        padding: 9px 20px 4px;
        font-size: 14px;
        height: 40px;
        margin-top: 21px;
        background-color: #eda41b;
        border: none;
      }
    }
    table {
      line-height: 25px;
      font-size: 14px;
      width: 100%;
      table-layout: fixed;
      overflow: hidden;
      white-space: nowrap;
      .left-column {
        display: block;
        text-align: left;
        padding-left: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 232px;
      }
      .right-column {
        text-align: right;
        padding-right: 20px;
        max-width: 20%;
      }
    }
    .button-white.class-mini-btn {
      background-color: white;
      border: 1px solid #737373;
    }
    .classroom_name {
      font-weight: bold;
      margin: auto;
      width: 280px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
      margin-bottom: 12px;
      margin-top: 7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .classMetaData {
      margin: auto;
      height: 66px;
      margin-bottom: 15px;
    }

    .class_icon {
      width: 35px;
      height: 30px;
    }
    .plus_icon {
      padding-top: 96px;
      padding-bottom: 15px;
    }
  }
  .results-overview-mini-container {
    .header {
      margin: 11px auto 12px;
      width: 280px;
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
      p {
        margin-top: 5px;
        color: #646464;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
    .gray-underline {
      margin: auto;
      padding: 16px 0px;
      width: 280px;
      border-bottom: solid 1px #cecece;
      &+p {
        font-size: 14px;
        margin: auto;
        line-height: 1.6;
        width: 258px;
        margin-top: 45px;
        margin-bottom: 15px;
      }
    }
    .button-white {
      width: 233px;
      margin-top: 9px;
      background-color: white;
      border: 1px solid #737373;
      color: #333333;
      &.beta {
        margin-top: 28px;
        width: 160px;
      }
    }
  }
  .footer-row {
    display: block;
    text-align: center;
    margin-top: 10px;
    white-space: nowrap;
    a {
      color: $link-color;
      text-decoration: none;
    }
    .review-request {
      margin-top: 18px;
      margin-bottom: 20px;
      span {
        padding-right: 5px;
      }
      i, svg {
        color: red;
      }
    }
  }
  .add-or-import {
    .dashed {
      background-color: white;
      margin: 0 auto;
      cursor: pointer;
      border: dashed 1px #cecece;
      max-width: 298px;
      height: 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    a {
      text-decoration: none;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    .plus-icon {
      width: 36px;
      padding: 2px 0px 8px 0px;
      margin: 0 auto;
    }
    .img {
      width: 38px;
    }
    span {
      line-height: 29px;
    }
  }
  a.preview-card-link:not(:nth-child(3n)) {
    margin-right: 40px;
  }
}

.lessons-list, #recently-assigned-diagnostics-card {
  height: 282px;
  margin-bottom: 40px;
  padding-top: 0px;
  .inner-container {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 282px;
    margin: auto;
    background-color: #ffffff;
  }
  .header-container {
    font-weight: 600;
    height: 46px;
    border-bottom: solid 1px #e9e9e9;
    h3 {
      font-size: 16px;
    }
    a {
      font-size: 14px;
      color: #027360;
    }
  }
}

.lessons-list {
  @media (max-width: 700px) {
    display: none;
  }
  .inner-container {
    padding: 0 20 8 20px;
    max-width: 638px;
  }
  .image-container {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #027360;
    img {
      height: 22px;
    }
  }
  .q-button {
    font-weight: bold;
    font-size: 14px;
  }
  span {
    padding-left: 12px;
    font-size: 14px;
    color: #027360;
  }
  .no-assigned-lessons {
    color: #969696;
    line-height: 1.57;
    padding-top: 25px;
    a {
      color: #969696;
      text-decoration: underline;
    }
    img {
      margin-bottom: 15px;
    }
    &.completed-diagnostic {
      color: #3b3b3b;
      .recommendation {
        color: #3b3b3b;
        background-color: #e3fdff;
        padding-left: 1px;
        padding-right: 1px;
        font-weight: 600;
      }
    }
  }
  .lesson-item {
    height: 52px;
    .lesson-name {
      cursor: pointer;
      width: 410px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }
  }
}

#google-classroom-mini {
  img {
    width: 42px;
    margin-bottom: 8px;
  }
}

.best-practices-container {
  p {
    width: 270px;
    margin: 6px auto !important;
  }
}

.best-practices-container,
.resources-container {
  cursor: pointer;
}

.mini-star-icon {
  @media only screen and (max-width: 500px) {
    display: none;
  }
}
