.edit-assigned-students-container {
  padding-top: 30px;
  padding-bottom: 30px;
  .edit-students-h2, .edit-activities-h2, h3 {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 10px;
  }
  .q-button.cta-button {
    padding: 10px 25px;
    font-size: 14px;
  }
}

.edit-assigned-students-container {
  .errors p {
    margin-top: 20px;
  }
}

.space-for-no-students {
  height: 20px;
}

.classroom-with-students-container {
  padding-top: 40px;
  .quill-snackbar {
    z-index: 5;
  }
  .classroom-with-students-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 1.33;
    }
    .buttons {
      display: flex;
      .create-a-class-button {
        margin-left: 24px;
      }
    }
  }
}
