//colors


//@extend-elements
//original selectors
//.button-red.big, .button-marine.big
%extend_1 {
  height: 52px;
  width: 194px;
  font-size: 19px;
  font-weight: 700;
}

#partners {
  margin-bottom: 100px;
    #partner-text {
      margin-top: 89px;
      text-align: center;
      font-size: 21px;
      margin-bottom: 31px;
      a {
        color: #03735F;
        text-decoration: none;
      }
    }
    .partner-logo {
        height: 131px;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .gates {
      background-image: url('https://assets.quill.org/images/home/partners/gates_grey.png');
    }

    .gates:hover {
      background-image: url('https://assets.quill.org/images/home/partners/gates_color.png');
    }

    .google {
      background-image: url('https://assets.quill.org/images/home/partners/google_grey.png');
    }

    .google:hover {
      background-image: url('https://assets.quill.org/images/home/partners/google_color.png');
    }

    .aspire {
      background-image: url('https://assets.quill.org/images/home/partners/aspire_grey.png');
    }

    .aspire:hover {
      background-image: url('https://assets.quill.org/images/home/partners/aspire_color.png');
    }
    .fastforward {
      background-image: url('https://assets.quill.org/images/home/partners/fastforward_grey.png');
    }

    .fastforward:hover {
      background-image: url('https://assets.quill.org/images/home/partners/fastforward_color.png');
    }
    .gould {
      background-image: url('https://assets.quill.org/images/home/partners/gould_grey.png');
    }

    .gould:hover {
      background-image: url('https://assets.quill.org/images/home/partners/gould_color.png');
    }

    .blackrock {
      background-image: url('https://assets.quill.org/images/home/partners/blackrock_grey.png');
    }

    .blackrock:hover {
      background-image: url('https://assets.quill.org/images/home/partners/blackrock_color.png');
    }
}





.ul-reset-mixin {
  padding: 0;
  margin: 0;
  list-style: none;
}
.border-mixin {
  border: 1px solid $lightgray;
}
.section-mixin {
  padding: 30px 0;
  border-bottom: 1px solid $lightgray;
}
.input-mixin {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  border: 1px solid $lightgray;
  color: $black;
  font-size: 14px;
  padding: 9px 12px;
}
.select-mixin {
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  border: 1px solid $lightgray;
  color: $black;
  font-size: 14px;
  padding: 9px 14px;
}
.icon-wrapper-mixin {
  width: 40px;
  height: 40px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px;
}
.checkbox-mixin {
  height: 21px;
  width: 21px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
  background: $quillnavbar;
  border: 1px solid $lightgray;
}
.button-mixin {
  padding: 13px 25px 10px;
  font-size: 14px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 5px;
}
.fa-caret-mixin {
  color: $color_tapa_approx;
  font-size: 1.3em;
}
.transition-mixin {
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -webkit-transition: 0.1s ease-out;
}
@media screen and (min-width: 992px) {
  #new-home-page .container {
    width: 1040px;
  }
}
@media screen and (min-width: 1200px) {
  #new-home-page .container {
    width: 1090px;
  }
}
@media screen and (max-width: 1050px) {
  #new-home-page {
    .container {
      width: auto;
    }
    .home-hero .cta .buttons a {
      display: block;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .home-page {
    section {
      padding: 35px 120px;
    }
    .stats .stat {
      margin-top: 20px;
    }
    .apps .app {
      margin-top: 70px;
    }
  }
}
.home-page {
  background-color: $color_concrete_approx;
  section {
    padding: 35px 200px;
    text-align: center;
    h1 {
      margin-bottom: 17px;
    }
    p {
      margin-bottom: 17px;
    }
  }
  .hero {
    background-image: url('https://assets.quill.org/images/shared/home-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    .hero-content {
      padding: 94px 0;
      text-align: center;
    }
    h1 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      margin-bottom: 35px;
    }
  }
  .stats {
    background-color: $color_tradewind_approx;
    padding: 25px 0;
    margin-left: 0;
    margin-right: 0;
    //Instead of the line below you could use @includeborder-bottom-left-radius($radius)
    border-bottom-left-radius: 5px;
    //Instead of the line below you could use @includeborder-bottom-right-radius($radius)
    border-bottom-right-radius: 5px;
    color: $white;
    .stat {
      text-align: center;
    }
    .stats-number {
      font-size: 24px;
    }
    .stats-description {
      font-size: 14px;
    }
  }
  .apps {
    margin: 70px auto 30px auto;
    margin: 46px auto 0 auto;
    .app {
      position: relative;
      a {
        padding: 13px 25px 10px;
        font-size: 14px;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 5px;
        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: 0.1s ease-out;
        -moz-transition: 0.1s ease-out;
        -webkit-transition: 0.1s ease-out;
        border: 0;
        font-weight: bold;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 35px;
        width: 130px;
        &:focus {
          outline: none;
        }
        &:active {
          //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 0 6px 0 $black_70;
        }
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
      .icon-top {
        width: 80px;
        height: 77px;
        background-color: $white;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center;
        &.icon-big-grammar {
          background-image: url('https://assets.quill.org/images/icons/grammar.png');
        }
        &.icon-big-writer {
          background-image: url('https://assets.quill.org/images/icons/writer.png');
        }
        &.icon-big-proofreader {
          background-image: url('https://assets.quill.org/images/icons/proofreader.png');
        }
        &.icon-big-shuffle {
          background-image: url('https://assets.quill.org/images/icons/shuffle.png');
        }
      }
      .app-inner {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 45px;
        position: relative;
        min-height: 342px;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 5px;
        background-color: $white;
        .coming-soon {
          position: absolute;
          bottom: 35px;
          line-height: 40px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 152px;
        }
      }
      h1 {
        font-size: 22px;
        margin-bottom: 17px;
        margin-top: 6px;
        text-align: center;
        color: $color_mine_shaft_approx;
        font-weight: 600;
        margin-bottom: 14px;
      }
      p {
        font-size: 14px;
        text-align: center;
        color: $darkgray;
        font-weight: 400;
      }
    }
  }
}
.home-hero {
  background-color: $quillgreen;
  padding: 0 0 33px 0;
  .cta {
    margin-top: 84px;
    h1 {
      line-height: 4px;
      font-size: 32px;
      white-space: nowrap;
      color: $white;
      margin-bottom: 35px;
      font-weight: 700;
    }
    .buttons {
      a {
        padding: 9px 20px 10px;
        font-size: 16px;
        color: $white;
        border: 2px solid $white;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 4px;
        font-weight: bold;
        width: 140px;
        display: inline-block;
        text-align: center;
        height: 41px;
        &:hover {
          text-decoration: none;
          background: $white_20;
        }
        &:first-child {
          margin-right: 20px;
        }
      }
      .filled {
        color: $quillgreen;
        background-color: $white;
        &:hover {
          background: $white;
        }
      }
    }
  }
  .writer {
    .graphics {
      background-image: url('https://assets.quill.org/images/shared/dashboard-bg.png');
      background-repeat: no-repeat;
      height: 472px;
      img {
        position: relative;
        top: 69px;
      }
    }
    .cta .buttons .filled {
      color: $color_coral_red_approx;
    }
  }
  .dashboard {
    .graphics {
      background-image:  url('https://assets.quill.org/images/shared/dashboard-bg.png');
      background-repeat: no-repeat;
      height: 407px;
      img {
        position: relative;
        left: 90px;
        top: 40px;
      }
    }
    .cta .buttons .filled {
      color: $darkorange;
    }
  }
  .slick-dots {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .one-slide {
    padding-bottom: 0;
  }
  .proofreader .graphics {
    background-image: url('https://assets.quill.org/images/shared/dashboard-bg.png');
    height: 346px;
    background-repeat: no-repeat;
    img {
      position: relative;
      left: 92px;
      top: 45px;
    }
  }
}
.writer-outer {
  background-color: $color_coral_red_approx;
}
.dashboard-outer {
  background-color: $darkorange;
}
.home-page-new {
  section {
    padding: 100px 0 137px;
    border-bottom: 0;
    text-align: center;
    .subheader {
      font-size: 16px;
      margin-bottom: 44px;
      text-transform: uppercase;
      font-weight: 700;
      &.black {
        color: $darkgray;
      }
      &.dark-yellow {
        color: $color_rusty_nail_approx;
      }
      &.dark-red {
        color: $color_thunderbird_approx;
      }
      &#teacher-subheader {
        color: #014f92;
      }
    }
    .header {
      font-size: 36px;
      margin-bottom: 45px;
      font-weight: 600;
      &.black {
        color: $color_mine_shaft_approx;
      }
    }
    .description {
      font-size: 21px;
      margin-bottom: 49px;
      font-weight: 400;
      &.black {
        color: $darkgray;
      }
    }
  }
  .purpose {
    background-color: $color_concrete_approx;
  }
  .common-core {
    background-color: $darkorange;
    color: $white;
  }

  .teacher-stories {
    background-color: #348fdf;
    color: $white;
    .tabs-teacher-stories {
      #teacher-subheader {
        color: #014f92 !important;
      }
      .teacher-list {
        display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       flex-wrap: wrap;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        -webkit-padding-start: 0;
        width: 85%;
        margin: 0 auto;
        padding-top: 13px;
        @media only screen and (max-device-width: 667px)
        and (-webkit-device-pixel-ratio: 2) {
          width: 200px;
          li {
            margin-left: 25px;
            margin-right: 25px;
            margin-bottom: 2em;
          }
        }

        li {
          margin-left: 17px;
          margin-right: 17px;
          width: 90px;
          padding-bottom: 7px;
          margin-bottom: 3em;
          img {
            margin: auto;
            border-radius: 50%;
            height: 68px;
            width: auto;
          }
          &.active, &:hover {
            border-bottom: 4px solid;
            margin-top: -11px;
            @media (max-width: 700px) {
              margin-bottom: 1em;
            }
            p {
              margin-top: -10px;

            }
            span {
              // border-bottom: 13px solid;
              // border-color: $white;
            }
            img {
              margin: auto;
              opacity: 1;
              height: 90px;
              width: auto;
            }
          }
          // &:nth-child(2) {
          //   margin-left: 8%;
          //   margin-right: 8%;
          // }
        }
        a {
          margin: auto;
          width: 90px;
          text-decoration: none;
        }
        p {
          color: white;
          margin: auto;
          padding-top: 30px;
        }
        img {
          opacity: 0.5;
          &.kipp {
            margin-top: 10px;
          }
        }
      }
      .tab-content {
        font-size: 21px;
        color: $white;
        margin-bottom: 75px;
        min-height: 196px;
      }
      .quote-author {
        color: #014f92;
        font-size: 16px;
        margin-top: 17px;
        margin-bottom: 45px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .get-started {
    padding: 0;
    background-image: url('https://assets.quill.org/images/homepage/get-started.jpg');
    background-size: cover;
    min-height: 488px;
    a {
      display: inline-block;
      margin: 0 auto;
      margin-top: 218px;
      padding: 15px 0 10px;
    }
  }
}
#new-home-page {
  .button-yellow {
    font-weight: 700;
  }
  .button-blue {
    font-weight: 700;
  }
  .button-red {
    font-weight: 700;
  }
  .button-white {
    font-weight: 700;
    background-color: white;
    color: #0096eb;
  }
}
.other-pages-navbar {
  padding: 3px 0 0 0;
  height: 67px;
}
.tab-outer-wrap {
  padding-top: 8px;
  background-color: $quillgreen;
}
.npr .container {
  padding-right: 0;
}
.button-red.big {
  @extend %extend_1;
}
.button-marine.big {
  @extend %extend_1;
}
.button-white.big {
  @extend %extend_1;
}
.nav-tabs > li {
  &.active:not(.premium-tab) > a {
    //.nav-tabs > li > a: focus;
  }
  &:not(.premium-tab) > a:hover {
    //.nav-tabs > li > a: focus;
  }
}
