.recommendations-overview {
  margin: auto;
  text-align: center;
  max-width: 950px;
  width: 100%;
  border-radius: 3px;
  border: solid 1px #dddddd;
  padding: 25px;
  margin-top: 27px;
  margin-bottom: 27px;
  h3 {
    font-size: 20px;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  .button-group {
    margin: auto;
    width: 62%;
    margin-top: 20px;
  }
  img {
    margin-right: 13px;
  }
  .q-button {
    border-radius: 22px;
  	font-size: 16px;
    min-width: 235px;
    font-weight: 600;
    border-color: #348fdf;
    color: #348fdf;
  }
}

.lesson-recommendations-wrapper {
  margin-top: 30px;
  border-top: solid 1px #e9e9e9;
  padding-top: 30px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3b3b3b;
    margin-bottom: 25px;
    img {
      position: relative;
      top: -3px;
      margin-right: 15px;
    }
  }
  p {
    margin-bottom: 45px;
  }
}

.lesson-recommendation-row {
  background-color: #eafcff;
  border-radius: 3px;
	border: solid 1px #cecece;
  margin-bottom: 10px;
  .assigned-lesson-pack {
    font-size: 16px;
    color: #82bf3c;
    position: relative;
    font-weight: bold;
    .fas{
      position: absolute;
      left: -24px;
      top: 1px;
    }
    .fa-check-circle:before {
      font-size: 20px;
    }
  }
  .assign {
    font-size: 16px;
    font-weight: 600;
  }
  .top-row {
    padding: 0 18px;
    height: 65px;
  }
  h3 {
    display: inline;
  }
  &:not(.recommended) {
    height: auto;
    background-color: white;
    .left-side h3 {
      color: #646464;
      font-weight: 400;
    }
  }
  .left-side {
    span {
      cursor: pointer;
      font-size: 10px;
      font-weight: 700;
      color: #969696;
    }
    h3 {
        font-size: 18px;
      	color: #3b3b3b;
        font-weight: 600;
        margin-right: 20px;;
    }
  }
  .right-side {
    max-width: 40%;
    width: 100%;
    .quill-button {
      margin-left: 20px;
      margin-top: 0;
    }
  }
  .expanded-section {  padding: 0 18px;
    background-color: #fafafa;
  }
  .activity-row {
    &:not(:last-of-type){
      border-bottom: solid 1px #cecece
    }
    max-width: 757px;
    width: 100%;
    height: 48px;
    &:last-of-type {
      border-bottom: none;
    }
    span {
      color: #666666;
      font-size: 16px;
      margin-right: 5px;
    }
    & span:first-of-type {
      font-weight: 600;
    }
    a {
      width: 196px;
      margin-left: 15px;
      font-size: 14px;
      font-weight: 600;
      color: #027360;
    }
  }
}
