.assign-dates {
  margin-bottom: 200px;
  padding-top: 30px;
  border-top: solid 1px #c0c0c0;
}
.fake-border {
  width: 99.4%;
  margin: 0 auto;
  position: relative;
  bottom: 1px;
}
#continue.hidden {
  display: none;
}

#activity-planner {
  .activity_category {
    width: 236px;
  }
  .data-table {
    .tool-icon span {
       align-items: center;
       height: 26px;
       width: 26px;
       justify-content: flex-start;
       display: flex;
    }
    .activity-name {
      color: #027360;
    }
  }
  .standard_level {
    width: 183px;
  }
  .activity-page-dropdown-wrapper {
    padding: 16px 32px;
    border-radius: 6px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
  }
}

#activity-planner,
#unit-template-editor {
  .header-and-link {
    padding-bottom: 30px;
    .welcome-header {
      font-weight: 700;
      font-size: 24px;
    }
    a {
      color: #027360;
      text-decoration: none;
    }

  }
  .name-and-assign-activity-pack {
    margin-top: 35px;
    .assign-header {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
    }
    .assignment-section {
      border-radius: 6px;
      border: solid 1px #e0e0e0;
      background-color: white;
      padding: 32px;
      margin-bottom: 24px;
      .assignment-section-header {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        &.assign-students {
          justify-content: space-between;
          div {
            display: flex;
            align-items: center;
            .create-a-class-button {
              margin-left: 24px;
            }
          }
        }
        .assignment-section-number {
          font-size: 16px;
          font-weight: 600;
          border: solid 1px #989595;
          height: 35px;
          width: 35px;
          align-items: center;
          border-radius: 17px;
          display: flex;
          justify-content: center;
          margin-right: 24px;
        }
        .assignment-section-name {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .assignment-section-body {
        .no-active-classes {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            line-height: 1;
            text-align: center;
            color: #646464;
            margin-top: 16px;
          }
        }
        .all-classes-checkbox {
          display: flex;
          margin-left: 32px;
          margin-top: 24px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          .quill-checkbox {
            margin-right: 16px;
          }
        }
        .classroom {
          display: flex;
          padding: 24px 32px;
          border-radius: 6px;
          border: solid 1px #e0e0e0;
          align-items: flex-end;
          margin-top: 24px;
          .empty-class-students {
            font-size: 14px;
            line-height: 1;
            color: #7f7f7f;
          }
          .checkbox-and-name-container {
            display: flex;
            flex: 1.5;
            align-items: flex-end;
            padding-bottom: 6px;
            .name-container {
              display: flex;
              flex-direction: column;
              margin-left: 16px;
            }
            .name-label {
              font-size: 12px;
              font-weight: 600;
              line-height: 1;
              color: #7f7f7f;
            }
            .name {
              line-height: 1;
              font-size: 16px;
              margin-top: 10px;
              cursor: pointer;
            }
          }
          .students-container {
            flex: 1;
            .input-container {
              min-height: inherit;
              .dropdown {
                margin-bottom: 0px;
                .dropdown__menu {
                  width: 300px;
                }
              }
            }
          }
        }
        .create-a-class-inline-content {
          border-top: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          padding: 32px;
          margin-left: -32px;
          margin-right: -32px;
          .create-a-class-form {
            display: flex;
            justify-content: space-between;
            .name {
              width: 398px;
            }
            .grade {
              width: 254px;
              &.active {
                .dropdown {
                  margin-bottom: 69px;
                }
              }
            }
            .code {
              width: 124px;
              input {
                border-bottom: none;
              }
            }
            .class-code-section, .name {
              padding-bottom: 16px;
            }
            .class-code-section {
              display: flex;
              align-items: center;
              .reset {
                margin-top: 13px;
                color: #027360;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
        }
        .create-a-class-inline-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 40px;
          .info {
            img {
              margin-right: 8px;
            }
            span {
              font-size: 14px;
              line-height: 1.57;
              color: #646464;
            }
          }
          .buttons {
            display: flex;
            .quill-button {
              margin-left: 24px;
            }
          }
        }
        .data-table {
          overflow: visible;
          .quill-tooltip {
            display: none !important;
          }
        }
        .review-activities-section {
          .quill-tooltip {
            display: initial !important;
          }
        }
      }
    }

    @media (max-width: 991px) {
      .review-activities-section {
        display: none;
      }
      .import-or-create-classroom-buttons {
        display: none !important;
      }
      .assignment-section-number {
        display: none !important;
      }
      .classroom {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start;
        .checkbox-and-name-container {
          width: 100%;
          align-items: flex-start !important;
        }
        .dropdown-container {
          margin-left: 32px;
        }
      }
    }
  }

  .select-students-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .import-or-create-classroom-buttons {
      display: flex;
      .import-from-google-button {
        margin-right: 24px;
      }
    }
  }
  .automatic-assign-note, .unselecting-students-note {
    margin-top: 15px;
    padding: 15;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    i, svg {
      padding-top: 2px;
      font-size: 20;
      margin-right: 10px;
    }
  }

  .automatic-assign-note {
    background-color: #fcf1e1;
    border: solid 1px rgba(245, 186, 91, 0.41);
    i, svg {
      color: #ea9a1a;
    }
  }

  .unselecting-students-note {
    background-color: #ffefef;
    border: solid 1px rgba(255, 115, 112, 0.72);
    i, svg {
      color: #ff4542;
    }
  }

  section:not(.activity-row):not(.selected-activity-row):not(.filter-and-sort) {
    border-bottom: none;
    &.name-the-unit {
      border-bottom: solid 1px #c0c0c0;
      padding-bottom: 30px;
    }
  }
  .error-message-and-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    background: none;
    .visible-error-message {
      color: red;
      i, svg {
        margin-right: 5px;
      }
      button {
        background-color: #C0C0C0;
      }
    }
    .hidden-error-message {
      display: none;
    }
  }
  input {
    &#unit_name {
      width: 326px;
      &.name-error {
        background-color: #ffeded;
        border: solid 1px #ff4542;
        &::placeholder {
          color: #ff4542;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ff4542;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #ff4542;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #ff4542;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #ff4542;
        }

      }
    }
  }
  button:not(.button-select) {
    &#continue,
    &#assign {
      margin-left: 20px;
      border: none;
      color: #fff;
      font-weight: bold;
      //margin-top: 20px;
    }
  }
  .select-box-trigger {
    width: auto;
  }
  .activity-planner-select {
    display: inline-block;
    width: auto;
    margin-right: 18px;
  }
  .selects-wrapper {
    margin-top: 20px;
  }
}
.activity-page-dropdown-wrapper {
  margin-top: 15px;
  cursor: pointer;
  padding: auto 0;
  .DateRangePickerInput__calendar-icon {
    padding: 0;
    margin-left: 14px;
  }
  &.scorebook-filters {
    display: flex;
    padding-left: 15px;
    .button-select-wrapper {
      display: flex;
      align-items: center;
      padding: 0px 14px;
    }
    .input-container {
      min-height: 50px;
      &.active {
        min-height: 0px;
      }
    }
    .dropdown__control {
      background-color: transparent;
    }
  }
  .scorebook-dropdown-icon {
    float: left;
    margin-right: 10px;
    color: #000000;
    font-size: 14px;
    margin-top: 2px;
  }
  .dropdown-menu {
    border-radius: 5px;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      padding: 5px 14px;
      display: block;
      color: #000;
      &:hover {
        background: #f0f0f0;
        -webkit-appearance: none;
      }
      &:focus,
      &:active {
        -webkit-appearance: none;
      }
    }
    span, button {
      padding: 5px 14px;
      display: block;
      color: #000;
      width: 100%;
      text-align: left;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
  .button-text {
    width: 184px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
}
.scorebook-icon-check {
  background-image: url("https://assets.quill.org/images/scorebook/icon-check.png");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-x-gray {
  background-image: url("https://assets.quill.org/images/scorebook/icon-x-gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 21px;
}
.hidden-button {
  display: none;
}

.assign-success-container {
  font-size: 18px;
  .row {
    display: flex;
    align-items: center;
  }
  .successBox {
    background-color: #C1FFC6;
    width: 100%;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    .successMessage {
      text-align: left;
    }
    .fa-check-circle {
      color: #457818;
      font-size: 31px;
      text-align: left;
      margin-right: .3em;
    }
    .messageBox {
      color: white;
      background-color: #00C2A2;
      padding: 1em;
      margin-bottom: 2em;
    }
  }
  .sharing-container {
    text-align: center;
    h2 {
      font-size: 24px;
          font-weight: bold;
          margin-top: 2em;
          margin-bottom: .75em;
    }
    .nonprofit-copy {
      width: 53%;
      margin: auto;
      margin-bottom: 1.4em;

    }
    .social-copy {
      padding: 21px;
      border: 1px solid #979797;
      width: 45%;
      margin: auto;
      border-radius: 8px;
    }
  }
  .light-gray-bordered-box {
    border: none;
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      width: 100%;
    }
    .btn-social {
      margin-top: 1em;
      width: 145px;
      margin-right: 2em;
      height: 39px;
      font-size: 18px;
    }
    a {
      border-radius: 4px;
      margin: 1em;
    }
    strong {
      display: none;
    }
    i, svg {
      font-size: 18px;
    }
  }
}
#unit_name {
  margin-top: 20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .select-by-student-button {
    background-color: #e6e6e6;
  }
}

.unit-assignment-followup {
  padding: 54px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  .quill-card {
    max-width: 546px;
    width: 100%;
    margin-bottom: 24px;
  }
  .button-container {
    margin: 40px;
    display: flex;
    max-width: 790px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    margin-bottom: 40px;
    text-align: center;
  }
  .referral-card {
    border: solid 1px #e0e0e0;
    background-color: white;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin: 16px;
    }
    p {
      margin-bottom: 16px;
      max-width: 637px;
    }
    .share-box {
      width: 100%;
      .referral-link-container {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        .input-container {
          border-radius: 6px;
          border: solid 1px #cecece;
          min-height: 40px;
          height: 40px !important;
          display: flex;
          margin-right: 16px;
          align-items: center;
          justify-content: center;
          width: 450px;
          label {
            display: none;
          }
          #referral-link {
           font-size: 14px;
           margin-bottom: 0px;
           padding-bottom: 0px;
           border-bottom: none! important;
           text-align: center;
          }
        }
      }
    }
    .share-text {
      font-size: 16px;
      color: #7f7f7f;
      max-width: 100%;
    }
    .share-links {
      a {
        margin: 0px 8px;
      }
    }
  }
}
