.unit-tabs {
  li {
    cursor: pointer;
  }
}

.container.manage-units {
  padding-top: 0 !important;

  .classroom-selector {
    display: flex;
    align-items: center;
    padding-top: 25px;

    p {
      margin-right: 20px;
    }
  }

  .no-activity-packs {
    margin-top: 30px;
    font-size: 16px;
  }

  .create-unit-button-container {
    height: 130px;
    width: 100%;
    padding-top: 25px;
    /*outline: 1px solid black;*/
    button.create-unit {
      margin: none !important;
      float: right;
    }
  }

  .manage-units-header {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #c0c0c0;

    h1 {
      font-size: 30px;
      font-weight: bold;
    }

    .header-content {
      margin-top: 21px;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 500px) {
        flex-direction: column;

        button {
          width: 100%;
          margin-top: 20px;
        }
      }

      p {
        max-width: 559px;
        width: 100%;
        font-size: 16px;
        @media only screen and (max-width: 1000px) {
          max-width: 528px;
        }
      }
    }
  }
  padding-top: 80px;

  section {
    border-bottom: none;
    padding: 16px 0;
  }

  .unit-header-row,
  .unit-label-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-left: 15px;
    margin-right: 15px;
  }

  div.row::after,
  div.row::before {
    content: none;
  }

  .delete-unit,
  .edit-unit {
    padding-top: 4px;
    cursor: pointer;
    color: #137779;
  }

  .delete-classroom-activity {
    margin-right: 30px;
  }

  .delete-unit {
    margin-left: auto;
  }

  .locked-unit {
    border-radius: 14px;
    border: solid 1px #3b3b3b;
    padding: 5px 10px;
    position: relative;
    top: 2px;
    margin-left: 17px;

    img {
      margin-right: 8px;
      margin-left: 3px;
      position: relative;
      top: -2px;
    }
  }

  .edit-unit {
    width: 200px;
  }

  .edit-students {
    vertical-align: top;
  }

  .fa-file-pdf {
    padding-right: 10px;
  }

  .fa-check-circle {
    padding-right: 5px;
  }

  .unit-name {
    padding-right: 10px;
    font-weight: 500;
    font-size: 24px;

    input {
      min-width: 300px;
    }
  }

  .unit-label {
    margin-top: 12px;
    text-align: left !important;
    border-bottom: none;
    border-top: 1px solid #cecece !important;
    background-color: #e6e6e6;
    padding: 8px 12px;
    width: 100% !important;
    border-top-left-radius: 5px;
    border-left: 1px solid #cecece;
    border-top-right-radius: 5px;
    border-right: 1px solid #cecece;
    padding-left: 17px;
    margin-left: 0;

    a {
      margin-left: 10px;
    }

    div.assigned-to {
      display: inline-block;
      max-width: 515px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media (max-width: 990px) {
        max-width: 300px;
      }
      @media (max-width: 680px) {
        max-width: 200px;
      }
    }
  }

  .due-date-header {
    width: 95px;
    margin-right: 60px;
    text-align: center;
    float: right;
  }
  .due-date-field {
    position: relative;
    .SingleDatePicker_1 {
      margin-right: 5px;

      .DateInput_1 {
        width: 160px;
      }
    }
    .apply-to-all {
      font-size: 12px;
      font-weight: 600;
      color: #027360;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 35px;
    }
  }

  .assigned-activities {
    margin-top: 0 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;

    a {
      color: #027360;
    }

    .q-button {
      font-size: 14px;
      height: 36px;
      color: black;
      border: 1px solid;
      font-weight: 600;

      span {
        font-size: 9px;
        position: relative;
        top: -1px;
        margin-right: 5px;
      }
    }

    .row:last-child {
      border-bottom: 1px solid #cecece;
    }

    .row {
      border: 1px solid #cecece;
      border-bottom: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      margin: 0 !important;

      .supporting-info {
        font-weight: 600;
        margin-right: 8px;
        position: relative;

        i, svg {
          margin-right: -6px;
        }

        img {
          height: 18px;
        }
      }

      .mark-completed {
        font-weight: 600;
        margin-right: 45px;
        color: #969696;

        i, svg {
          margin-right: -6px;
        }
      }

      .customize-lesson {
        position: relative;
        height: 20px;
        display: flex;
        align-items: center;
        text-decoration: none !important;
      }

      .customize-tooltip,
      .lesson-plan-tooltip {
        position: absolute;
        left: 0;
        top: 25px;
        height: 23px;
        color: white;
        border-radius: 2px;
        background-color: #348fdf;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-caret-up {
          color: #348fdf;
          position: absolute;
          top: -10px;
          left: 5px;
        }
      }

      .customize-tooltip {
        width: 78px;
      }

      .lesson-plan-tooltip {
        width: 139px;
      }

      .lessons-end-row {
        display: flex;
        align-items: center;

        a {
          margin-right: 15px;
        }

        i, svg {
          color: #027360;
          font-size: 16px;
        }
      }

      .supporting-info {
        color: #585858;
      }

      .report-link {
        width: 145px;
        margin-right: 30px;
        text-decoration: none;
        font-weight: 600;
        color: #3b3b3b;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #3b3b3b;
      }

      .cell:first-child {
        margin-left: 15px;
        margin-right: 10px;
      }

      .cell:nth-child(2) {
        padding-left: 0;
      }

      .cell:nth-child(4) {
        /*padding-left: 5px;*/
        /*padding-right: 5px;*/
        padding-left: 12px;
        padding-right: 8px;

        .icon-x-gray {
          height: 40px;
          width: 40px;
        }
      }

      .cell {
        text-align: left !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        .vcenter {
          height: 100%;
        }
      }
    }
  }
}

div.starting-row {
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   max-width: 550px;

  div#activity-analysis-activity-name {
    .recommendations-button {
      display: flex;
      display: inline-block;
      margin-left: 10px;
      padding: 7px 17px 8px;
      border-radius: 100px;
      background-color: $white;
      border: solid 1px $quillforestgreen;
      font-size: 13px;
      font-weight: 600;
      line-height: 0.62;
      letter-spacing: 0.8px;
      color: $quillforestgreen;
      cursor: pointer;
    }

    a,
    span {
      color: #027360;
      cursor: pointer;
    }
  }
}
@media (min-width: 992px) {
  div#activity-analysis-activity-name {
    width: 100%;
  }
}
