.my-activities {
  section {
    padding: 0px;
  }
  .my-activities-header {
    background-color: white;
    padding: 32px 0px;
    border-bottom: 1px solid #e0e0e0 !important;
    .top-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
    }
    .dropdown-container {
      max-width: 300px;
      min-height: 58px;
      .dropdown__menu {
        margin-top: -20px;
      }
    }
  }
  .my-activities-empty-state {
    img {
      margin: 32px 0px 16px;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
    }
    p {
      margin: 8px 0px 32px;
      font-size: 16px;
      line-height: normal;
      max-width: 460px;
    }
  }
  .activity-pack {
    border-radius: 6px;
    border: solid 1px #e0e0e0 !important;
    background-color: white;
    margin-top: 32px;
    .is-owner {
      .list-item:first-of-type .data-table-row.show-copy-to-all {
        height: 86px;
        align-items: flex-start;
        padding-top: 20px;
      }
    }
    .activity-pack-top-section {
      padding: 32px;
      border-bottom: 1px solid #e0e0e0;
      .quill-button {
        margin-top: 16px;
      }
    }
    .copy-dates-modal {
      max-width: 560px;
      width: 100%;
      height: min-content;
      justify-content: space-between;
      h1 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.57;
        color: #646464;
        margin: 24px 0px 48px;
      }
      .button-section {
        display: flex;
        justify-content: flex-end;
        .quill-button {
          margin-left: 24px;
        }
      }
    }
    .top-section-header {
      display: flex;
      flex-direction: row-reverse;
    }
    .share-activity-button {
      background-color: inherit;
    }
    .icon-and-datetime-picker {
      display: flex;
      .rdt {
        width: 100%;
      }
      .published-icon, .scheduled-icon {
        margin-right: 8px;
      }
    }
    .copy-to-all-button {
      margin-top: 12px;
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
    }
    .left-side {
      flex: 1;
    }
    .right-side {
      display: flex;
      flex-direction: column;
      button {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        img {
          margin-right: 4px;
          width: 24px;
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.33;
      margin-bottom: 9px;
    }
    .coteacher-explanation {
      display: flex;
      margin-bottom: 16px;
      img {
        margin-right: 8px;
      }
      span {
        color: #5c5c5c;
        margin-top: 4px;
        font-size: 12px;
      }
    }
    .total-classroom-info, .individual-classroom {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
      }
      img {
        margin-right: 9px;
      }
      &.is-open {
        button img {
          transform: rotate(180deg)
        }
      }
    }
    .individual-classroom {
      margin-left: 16px;
      margin-top: 16px;
      .name-and-count {
        display: flex;
        flex-direction: column;
        max-width: calc(100% - 32px);
        .count {
          font-size: 12px;
          line-height: 1;
          color: #5c5c5c;
          margin-top: 4px;
        }
        .quill-tooltip-trigger {
          max-width: 100%;
        }
        .tooltip-trigger-text {
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
        }
      }
    }
    .add-activities-button {
      margin-left: 32px;
      margin-bottom: 32px;
    }
    .data-table {
      overflow: visible;
      margin: 32px 32px 16px;
      .data-table-headers {
        max-width: min-content;
      }
      .list-item {
        display: flex;
        align-items: baseline;
        width: 992px;
        margin-left: 0px;
      }
      .due-date-header {
        span {
          font-weight: 400;
        }
      }
      .no-right-margin {
        margin-right: 0px;
      }
    }
  }

  @media (min-width: 992px) {
    .small-screen {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .activity-pack {
      .top-section-header {
        flex-direction: column-reverse;
        .right-side {
          margin-top: 16px;
        }
      }
      .big-screen {
        display: none;
      }
      .data-table {
        overflow: hidden;
        .due-date-picker, .publish-date-picker, .publish-date-header-container, .due-date-header-container, .reorder-header, .reorder-section {
          display: none;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .my-activities-header .top-line {
      flex-direction: column;
      align-items: flex-start;
      .quill-button {
        margin-top: 16px;
      }
    }
  }
}

// the following css can't be contained in other rules because of how the dragged sortable rows work
.tool-icon-wrapper, .tool-and-name-header span {
  width: 48px;
  display: inline-block;
}

.tool-and-name-section {
  a {
    height: 22px;
    width: 650px;
    display: inline-block;
    color: #027360;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .interactive-wrapper {
    display: flex;
    align-items: center;
  }
}
