#my-account, #staff-teacher-account-editor, .user-profile-editor {
  margin-bottom: 50px;
  h3 {
    margin: 30px 0px;
  }
  .form-row {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    &.email-row {
      position: relative;
    }
    .form-button {
      margin-left: 25px;
    }
  }
  .form-label {
    width: 150px;
  }
  .form-input {
    input {
      width: 300px;
      height: 40px;
      border-radius: 3px;
      background-color: #ffffff;
      border: solid 1px #e9e9e9;
      &.inactive {
        background-color: #F7F5F5;
        border: dashed 1px #969696;
      }
    }
  }
  .dropdown-menu {
    max-height: 300px;
    overflow: scroll;
  }
  .dropdown-toggle.btn.btn-default {
    width: 300px;
  }
  .error {

  }
  .gray-text {
    color: #969696;
    .row {
      margin-left: 152px;
    }
  }
  .get-premium {
    color: white;
    background-color: #f8a724;
    width: 137px;
  }
  .add-school {
    width: 137px;
  }
  .save-button {
    border-radius: 3px;
  }

  .form {
    margin-bottom: 40px;
  }

  a.q-button {
    width: 147px;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    margin-top: 0;
    border: 0;
    height: 42px;
    margin-bottom: 2px;
    margin-left: 20px;
  }

  .google-classroom-warning {
    padding: 14px 17px;
    position: absolute;
    top: 0px;
    left: 476px;
    width: 400px;
    height: 100px;
    background-color: #fcf2e1;
    border: solid 1px rgba(245, 186, 91, 0.41);
    display: flex;
    i {
      margin-top: 3px;
      margin-right: 5px;
      color: #ea9a1a;
      font-size: 21px;
    }
    a {
      color: #027360;
      text-decoration: underline;
      font-size: 16px;
    }
  }

  .error {
    margin-left: 10px;
    color: $quillred;
  }

  .delete-account {
    font-size: 16px;
  }

  .delete-account, .switch-account-type {
    cursor: pointer;
    font-weight: 600;
    color: #027360;
    text-decoration: underline;
  }
  .remove-from-class {
  //   width: 186px;
    font-weight: bold;
  }
  .edit-password-link {
    color: $quillforestgreen;
    margin-left: 3px;
  }
  // .modal-dialog {
  //   .modal-header {
  //     min-height: 59px;
  //   }
  //   .account-form {
  //     margin-bottom: 50px;
  //   }
  //   .close {
  //     background-color: black;
  //   }
  //   .form-label, #zip{
  //     float: none;
  //     height: inherit;
  //   line-height: inherit;
  //   }
  //   .row {
  //     padding: 0px;
  //   }
  //   #select_school {
  //     width: 50%;
  //   }
  // }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #my-account, #staff-teacher-account-editor, .user-profile-editor {
    .row {
      input {
        line-height: normal;
      }
    }
  }
}

// @media (max-width: 767px) {
//   #my-account {
//     .form-row {
//       display: flex;
//       align-items: center;
//       &.email-row {
//         position: relative;
//       }
//       .form-button {
//         margin-left: 4%;
//       }
//     }
//     .form-label {
//       width: 110% !important;
//     }
//     .form-input {
//       input {
//         margin-left: -125%;
//         width: 225%;
//         height: 40px;
//         border-radius: 3px;
//         background-color: #ffffff;
//         border: solid 1px #e9e9e9;
//         &.inactive {
//           width: 100%;
//           background-color: #F7F5F5;
//           border: dashed 1px #969696;
//         }
//       }
//     }
//   }
// }

@media (max-width: 767px) {
  #my-account {
    span {
      div {
        div {
          a {
            margin-left: 29% !important;
          }
        }
      }
    }
    div {
      div {
        div {
          button {
            margin-left: 29% !important;
          }
        }
      }
    }
    .form-row {
      display: grid;
      grid-template-areas: 20% 80%;
      &.email-row {
      }
      .form-button {
        margin-left: 25px;
      }
    }
    .form-label {
      width: 150px;
    }
    .form-input {
      input {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%;
        height: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #e9e9e9;
        &.inactive {
          background-color: #F7F5F5;
          border: dashed 1px #969696;
        }
      }
    }
  }
}
