.clever-no-classroom {
  margin: auto;
  max-width: 950px;
  width: 100%;
  .logo {
    margin: 70px auto;
    display: block;
  }
  .text {
    max-width: 627px;
    width: 100%;
  }
  h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .try-again {
    font-weight: bold;
  }
  .dont-worry {
    font-weight: bold;
    color: #348fdf;
  }
  .contact-us {
    font-size: 22px;
  }
  .return-time {
    font-weight: bold;
    font-size: 24px;
  }
  button, .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 9px;
    width: 220px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #00c2a2;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  button:hover {
    outline: none;
  }

  .upgrading p {
    font-size: 20px;
  }

  .upgrading .contact-info {
    color: #027360;
    text-decoration: none;
  }

  .timeout p {
    font-size: 24px;
  }

  .timeout  .contact-info {
    color: #18b891;
  }

  @media (max-width: 900px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .text {
      margin: auto;
    }
    .illustration {
      display: none;
    }
  }
  .text {
    max-width: 486px;
  }

  img {
    height: 300px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .cta-links {
    display: flex;
    align-items: center;
  }
  a {
    font-size: 12px;
    font-weight: 600;
    color: #027360;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }

  .explore-homepage {
    width: 188px;
    height: 40px;
    border-radius: 3px;
    background-color: #00c2a2;
    font-size: 16px;
    display: flex;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }

  .login-or-signup {
    font-size: 14px;
    margin-left: 20px;
  }

  .login-or-signup a {
    margin-bottom: 0px;
    display: inline;
    font-size: 14px;
  }

  .helpful-links {
    font-size: 14px;
  }

  a {
    display: inline;
    color: #027360;
    text-decoration: underline;
    font-size: 18px;
    font-weight: normal;
  }

  .dividing-line {
    border-bottom: solid 1px #e9e9e9;
    width: 140px;
    margin: 0px 0px 15px;
  }

  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 100px;
  }
}
