.pre-ap-container {
  #info-blurbs-1-wrapper {
    border-bottom: 1px solid #e0e0e0;;
  }
  .section-wrapper {
    padding-top: 20px;
    .pre-ap-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 0px 40px 0px;
      .header-left {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        .logo-container {
          display: flex;
          flex-direction: row;
          margin: 20px 0px 40px 0px;
          .divider {
            width: 2px;
            height: 46px;
            background-color: #221f20;
            margin: 0px 20px 0px 20px;
          }
        }
        .header-text-container {
          max-width: 475px;
          h1 {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.33;
            color: black;
          }
          p {
            opacity: 0.9;
            font-size: 16px;
            line-height: 1.5;
            color: black;
            margin: 10px 0px 30px 0px;
          }
        }
      }
    }
  }
  .white-section-wrapper {
    background-color: white;
    .pre-ap-activities-section {
      padding: 80px 0px 40px 0px;
      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
        .text-container {
          max-width: 640px;
          h2 {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            color: black;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: 1.5;
            color: black;
          }
        }
      }
      .activities-subheader {
        display: flex;
        align-items: center;
        padding: 20px;
        h2 {
          font-size: 20px;
          font-weight: 600;
          color: black;
          margin-right: 10px;
        }
        .ap-english-tag {
          border-radius: 6px;
          border: solid 1px #e2c447;
          background-color: #fdf1be;
          font-size: 16px;
          font-weight: 600;
          color: black;
          text-align: center;
          padding: 3px;
          margin: 0px 3px 0px 3px;
        }
      }
      .activity-container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        border: solid 1px #e0e0e0;
        .activity-text-container {
          display: flex;
          flex-direction: column;
          max-width: 735px;
          .activity-header {
            font-size: 16px;
            font-weight: bold;
            color: #06806b;
            padding-bottom: 10px;
            text-decoration: none;
          }
          .activity-sub-header {
            color: #646464;
            font-size: 14px;
            line-height: 1.5;
            padding: 10px 0px 10px 0px;
          }
          .activity-sub-text {
            color: black;
            font-size: 14px;
            line-height: 1.5;
          }
        }
        .view-button {
          margin-right: 20px;
        }
        .top-section {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .unit-header-container {
            .unit-title {
              font-size: 20px;
              font-weight: bold;
              color: black;
            }
            .unit-sub-header-container {
              display: flex;
              p {
                font-size: 16px;
                line-height: 1.5;
                color: #646464;
                &:nth-of-type(2) {
                  margin: 0px 10px 0px 10px;
                }
              }
            }
          }
          .expand-arrow:hover {
            cursor: pointer;
          }
          &.open {
            .expand-arrow {
              transform: rotate(180deg);
            }
          }
        }
        .bottom-section {
          border-top: solid 1px #e0e0e0;;
          .learning-cycle-container {
            .divider {

            }
            .learning-cycle-header {
              font-size: 20px;
              border-bottom: solid 1px #e0e0e0;
              padding: 30px 0px 5px 0px;
            }
            .cycle-activities-container {
              .cycle-activity-container {
                display: flex;
                justify-content: space-between;
                padding: 30px 0px 30px 0px;
                border-bottom: solid 1px #e0e0e0;
                .cycle-activity-content {
                  a {
                    font-size: 16px;
                    font-weight: bold;
                    color: #06806b;
                  }
                  p {

                  }
                }
                &.last-activity {
                  border-bottom: none;
                }
              }
            }
          }
        }
        &.expandable {
          display: flex;
          flex-direction: column;
        }
        .bottom-section, .top-section {
          padding: 20px 0px 20px 0px;
        }
      }
    }
    .info-blurbs-section {
      padding: 0px 0px 40px 0px;
      .info-blurb-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          max-width: 447px;
          .info-blurb-header {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            color: black;
          }
          .info-blurb-text {
            font-size: 16px;
            line-height: 1.5;
            color: black;
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 750px){
  .pre-ap-container {
    .section-wrapper {
      padding: 20px;
      .pre-ap-header-container {
        flex-direction: column;
        .header-left {
          .logo-container {
            flex-direction: column;
            align-items: center;
            .divider {
              width: 210px;
              height: 2px;
              background-color: #221f20;
              margin: 20px;
            }
          }
          .header-text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            a {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
    .white-section-wrapper {
      padding: 20px;
      .info-blurbs-section {
        .info-blurb-container {
          .text-container {
            .info-blurb-text {
              padding: 20px 0px 20px 0px;
            }
          }
        }
        .info-blurb-container:nth-of-type(1), .info-blurb-container:nth-of-type(3) {
          flex-direction: column-reverse;
        }
        .info-blurb-container:nth-of-type(2) {
          flex-direction: column;
        }
      }
    }
  }
}
