.covid-premium-banner {
  padding: 16px;
  background-color: #e1f3f1;
  text-align: center;
  p {
    font-size: 16px;
    max-width: 656px;
    margin: 0px auto;
    a {
      text-decoration: underline;
    }
    &:first-of-type {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}

.district-premium-button {
  width: 171px;
  height: 40px;
  border-radius: 4px;
  background-color: #06806b;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 24px;
  text-align: center;
  color: white;
}


.premium-tab {
  a {
    background-color: #EA9A1A !important;
    color: #FFFFFF !important;
    padding-left: 40px;
    padding-right: 40px;
    border-right: none !important;
    cursor: pointer !important;
  }

}

.modal-content {
  max-width: 700px;
  .modal-title {
    margin-left: 40px;
  }
}

.quote-request-modal {
  text-align: center;
  max-width: 386px;
  max-height: 230px;
  height: 100%;
  width: 100%;
  .modal-content {
    border-radius: 6px;
    padding: 0% 7%;
  }
  .modal-body {
    padding: 28px 0px;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  p {
    text-align: center;
  }
  a.q-button {
    padding: 8px 33px 8px;
    font-size: 14px;
  }
  .modal-footer {
    padding: 18px 0px;
    span {
      color: #18b891;
      text-decoration: underline;
      cursor: pointer;
    }
    p {
      color:  #262626;
      padding: 3px 0px;
    }
  }

}
li.active.premium-tab > a,
li.premium-tab > a:hover {
  background-color: #D3982A !important;
  // border-top: 3px solid #875A12 !important;
  // padding-top: 0 !important;
}
.premium-tab a.active,
.premium-tab a:hover {
  background-color: #D3982A !important;
  // border-top: 3px solid #875A12 !important;
  // padding-top: 0 !important;
}
.preview-section {
  text-align: center;
  color: #3C3B3B;
  .super-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 43px;
  }
  .title {
    font-size: 35px;
    font-weight: 600;
  }
  .copy {
    font-size: 21px;
    line-height: 30px;
  }
  .btn {
    font-size: 18px;
    line-height: 27px;
    padding: 12.5px 46px;
    font-weight: 700;
  }
}

#premium-pricing-guide {
  color: #333333;
  padding: 40 0 0 0px;
  width: 100%;
  text-align: center;
  & > .row > div {
    margin-bottom: 2%;
  }
  .logo-tag  {
    padding: 25 0 90 0px;
    text-align: center;
  }
  .overview {
    padding-bottom: 80px;
    width: 100%;
    display: inline-block;
    .header {
      margin: auto auto 40px;
      width: 656px;
      h1 {
        font-weight: 700;
        margin-bottom: 16px;
      }
      p {
        font-size: 18px;
        letter-spacing: 0.05px;
        color: #333333;
      }
      @media only screen and (max-width: 656px) {
        width: 100%;
        padding: 0px 16px;
        text-align: left;
        margin-bottom: 0px;
        h1 {
          font-size: 30px;
        }
      }
    }
    @media (min-width: 768px) {
      width: 740px;
    }
    @media (min-width: 980px) {
      width: 980px;
    }
  }
  .premium-pricing-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 990px) {
      flex-direction: column;
    }
  }
  .pricing-mini {
    font-size: 15px;
    width: 300px;
    height: 621px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: white;
    @media (max-width: 990px) {
      max-width: 383px;
      margin: auto;
      margin-top: 24px;
      &.first {
        margin-top: 32px;
      }
    }
    .premium-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 136px;
      .quill-button {
        width: 138px;
        margin-bottom: 16px;
      }
    }
    .promo-tab {
      width: 239px;
      height: 28px;
      padding-top: 7px;
      font-weight: 600;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background-color: #f8a724;
      color: white;
      font-size: 12px;
      position: absolute;
      left: 50%;
      margin: auto;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: -27px;
    }

    section {
      border: none;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    ul {
      text-align: left;
      margin-right: 20px;
    }
    li {
      margin-bottom: 6px;
    }
    .pricing-mini-header {
      width: 299px;
      height: 104px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      .img-holder {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img.open-book {
          height: 55px;
          width: 60px;
        }
        img.presentation-board {
          height: 64px;
          width: 64px;
        }
        img.blue-school {
          height: 64px;
          width: 58px;
        }
      }
    }
    .pricing-info {
      color: #333333;
      height: 462px;
      @media (max-width: 990px) {
        min-height: 0;
        ul {
          margin: auto;
          display: inline-block;
        }
      }
      .semibold {
        font-weight: 600;
      }
      .premium-rates {
        position: relative;
        min-height: 78px;
        .school-premium-rate {
          font-size: 20px;
          line-height: 1.5;
        }
        .red-line {
          position: absolute;
          top: 4px;
        }
        .four-fifty {
          margin-right: 10px;
        }
        h3 {
          font-size: 30px;
          line-height: 1.43;
          &.strikethrough {
            text-decoration: line-through;
            color: #707070;
          }
        }
        h4 {
          font-size: 15px;
          text-align: center;
          color: #555555;
        }
        &.all-h4 {
          h4 {
            font-weight: 800;
            padding-top: 8px;
          }
        }
      }
    }
    .mini-btn {
      height: 40px;
      padding-top: 6.5px;
      padding-bottom: 4.5px;
      font-size: 14px;
      color: white;
      margin-bottom: 26px;
      width: 140px;
      &.empty-blue,
      &.squash, &.blue, &.empty-purple {
        width: 122px;
        margin-left: 6px;
        margin-right: 6px;
      }
      &.empty-purple {
        padding-left: 9px;
      }
    }
    .squash {
      background-color: #ea9a1a
    }
    .empty-blue {
      border: 2px solid $quillblue;
      color: $quillblue;
    }
    .empty-purple {
      border: 2px solid #9c2bde;
      color: #9c2bde;
    }
    .gray {
      background-color: #b2b2b2;
    }
    .blue {
      background-color: #2a88da;
    }
    .button-container {
      padding-left: 22px;
      padding-right: 22px;
    }
    .learn-more {
      color: #06806b;
      border-radius: 4px;
      border-top: solid 1px #e0e0e0;
      width: 252px;
      display: inline-block;
      padding: 15px;
      a {
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        color: #06806b;
        line-height: 1.57;
      }
    }
  }
  @media (max-width: 500px) {
    .col-md-4 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
.logo-group {
  padding-top: 80px;
  h2 {
    font-weight: bold;
    margin-bottom: 32px;
  }
  .logo-group-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    max-width: 980px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    .logo-wrapper {
      margin: 5px;
      &:nth-of-type(1), &:nth-of-type(4n + 1) {
        margin-left: 0px;
      }
      &:nth-of-type(4n) {
        margin-right: 0px;
      }
    }
    @media only screen and (max-width: 1000px) {
      .logo-wrapper {
        margin: 5px !important;
      }
    }
    @media only screen and (max-width: 600px) {
      text-align: center;

      #kipp-sf, #kipp-dc, #kipp-la, #houston, #desmoines, #richmond,
      #elizabeth, #thurston, #lead, #kuemper, #jordan, #princeton {
        display: none;
      }
      .logo-wrapper {
        margin: initial;
        display: inline-block;
      }
      img {
        width: 300px;
      }
    }
    /* p {font-size: inherit}*/
  }
  @media (max-width: 600px) {
    h2 {
      text-align: left;
    }
  }
}

.features {
  background-color: white;
  .premium-feature-wrapper {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    }
  .premium-features {
    padding-bottom: 80px;
  }
  section {
    border-style: none;
    padding: 0px;
    .row {
      display: flex;
      padding: 20px;
    }
    .col {
      flex: 50%;
      flex-direction: column;
      text-align: left;
      &.left {
        grid-column: 1;
      }
      &.right {
        grid-column: 2;
        padding-left: 30px;
      }
      p {
        font-size: 16px;
      }
      img {
        width: 447px;
        height: 224px;
      }
      .premium-features-text {
        display: table-cell;
        vertical-align: middle;
        height: 224px;
        h3 {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.5;
          margin: 0px auto 8px;
        }
      }
      .switch-to-right {
        order: 1;
      }
      .switch-to-left {
        order: 2;
      }
    }
    @media only screen and (max-width: 600px) {
      .row {
        flex-direction: column;
        padding: 0px;
      }
      .col {
        &.right {
          padding-left: 0px;
        }
        img {
          width: 100%;
          height: auto;
        }
        p {
          padding-bottom: 15px;
        }
      }
      .switch-to-right {
        order: 2;
      }
      .switch-to-left {
        order: 1;
      }
      h3 {
        margin-top: 56px;
      }
    }
  }
  .premium-features-header {
    height: 387px;
    padding: 20px;
    .img-holder {
      padding-top: 60px;
      img {
        height: 104px;
        width: 104px;
      }
    }
    h1 {
      font-weight: bold;
      padding: 16px;
    }
    p {
      width: 656px;
      display: inline-block;
      font-size: 16px;
    }
    @media only screen and (max-width: 600px) {
      height: auto;
      text-align: left;
      padding: 0px;
      h1 {
        padding: 20px 0px;
      }
      p {
        width: 100%;
      }
    }
  }
  .printable-summary-box {
    width: 950px;
    height: 88px;
    padding-left: 18px;
    padding-right: 20px;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    .bold-segment {
      font-weight: 700;
      padding-right: 5px;
    }
    span {
      font-size: 16px;
    }
    @media (max-width: 990px) {
      padding: 24px;
      max-width: 100%;
      margin: 56px auto 0px;
    }
    @media (max-width: 500px) {
      width: 100%;
      text-align: left;
      display: block;
      height: min-content;
      .quill-button {
        margin-top: 16px;
      }
    }
  }
}

.premium-testimonial {
  margin: 56px auto 80px;
  max-width: 691px;
  .quote-text {
    margin-top: 8px;
    font-size: 20px;
  }
  .quote-author {
    margin-top: 14px;
    font-size: 16px !important;
    font-weight: bold;
    color: #606060;
    span {
      color: #343434;
    }
  }
  .author-title {
    color: #646464;
  }
  @media only screen and (max-width: 600px) {
    text-align: left;
  }
}

#q-and-a {
  padding: 80px 190px;
  background-color: white;
  text-align: center;
  .q-and-a-inner-wrapper {
    padding: 0px 10px;
    h1 {
      color: black;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .qa-section {
      color: black;
      border-top: 1px solid #e0e0e0;
      border-bottom: none;
      text-align: left;
      .question {
        font-size: 20px;
        font-weight: 600;
      }
      .question:focus {
        outline: none !important;
      }
      .answer {
        color: black;
        font-size: 16px;
        padding-bottom: 20px;
      }
      a {
        text-decoration: underline;
      }
      img {
        height: 24px;
        width: 24px;
      }
      button {
        border: none;
        background-color: white;
        margin-top: 14px;
      }
      .expand-or-collapse {
        align-items: center;
        margin: 0px;
      }
    }
    .q-and-a-inner-wrapper:last-child div {
      border-bottom: 1px solid #e0e0e0
    }
    .support-link {
      width: 249px;
      height: 40px;
      border-radius: 4px;
      border: solid 1px #bdbdbd;
      text-align: center;
      display: inline-block;
      color: black;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      padding: 10px 0px;
      &.hidden {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    padding: 80px 0px;
    h1 {
      text-align: left;
    }
  }

}

.district-pricing-box {
	max-width: 980px;
  width: 100%;
  min-height: 88px;
	height: min-content;
  padding-left: 18px;
  padding-right: 20px;
	background-color: #ffffff;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  .bold-segment {
    font-weight: 700;
    padding-right: 5px;
  }
  span {
    font-size: 16px;
  }
  @media (max-width: 990px) {
    padding: 30px;
    margin: 24px auto 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    .quill-button {
      margin-top: 16px;
    }
  }
  @media (max-width: 600px) {
    width: 300px;
    padding: 24px;
    height: auto;
  }
}
