.premium-features-table {
  border-radius: 8px 0px 8px 8px;
  border: solid 1px $quill-grey-5;
  padding: 0px;
  width: 950px;
  .header-row {
    padding: 32px 16px 8px;
    line-height: 1.38;
    color: #262626;
    text-align: left;
    h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.38;
      color: #262626;
    }
    &:not(:first-of-type) {
      border-top: 1px solid $quill-grey-5;
    }
  }
  .premium-features-table-row {
    border-top: 1px solid $quill-grey-5;
    display: flex;
    position: relative;
  }
  .label-and-tooltip {
    display: flex;
    width: 378px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid $quill-grey-5;
    .quill-tooltip-trigger {
      position: inherit;
    }
    .quill-tooltip {
      text-align: left;
    }
  }
  .check-or-empty-wrapper {
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    color: $quill-grey-50;
    width: 190px;
    padding: 16px;
    &:nth-of-type(3) {
      border-left: 1px solid $quill-grey-5;
      border-right: 1px solid $quill-grey-5;
    }
  }
  @media (max-width: 991px) {
    display: none;
  }
}
