.roster-input-container {
  display: flex;
}

.roster-school-id {
  float: left;
  padding: 10px;
}

.upload-paragraph {
  padding-top: 20px;
}

.upload-rosters-button {
  margin-top: 20px;
  border: 1px solid gray;
}
