// SIGN IN

.password-hint {
  width: 444px;
  height: 380px;
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 40px 32px;
  margin: auto;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
}

%login_form {
  .control-group {
    margin-bottom: 10px;
  }

  input[type=submit] {
    padding: 5px;
    height: 40px;
    background-color: $quillgreen;
    color: white;
    border-color: $quillgreen;
  }
}

.form-signin {
  input {
    //background-color: white !important;
    height: 30px;
    width: 200px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  @extend %login_form;
}

.form-signup {
  @extend %login_form;

  label {
    font-weight: normal;
  }
}


.article.new-session-page  .container .row form .form-actions {
  background-color: none !important;
}

.sign-in-header {
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 48px 0px 46px;
  }
}

.login-container {
  width: 444px;
  border-radius: 6px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin: auto;
  min-height: 480px;
  padding: 40px 32px;

  form {
    display: flex;
    flex-direction: column;
  }

  .auth-section {
    padding-bottom: 29px;
    a {
      width: 380px;
      display: flex;
      height: 40px;
      align-items: center;
      margin: auto;
      justify-content: center;
      border-radius: 4px;
      border: solid 1px #bdbdbd;
      background-color: #ffffff;
      font-family: AdelleSans;
      font-size: 15px;
      font-weight: 600;
      color: #000;
      &:hover, &:focus {
        text-decoration: none;
      }
      img {
        margin-right: 8px;
      }
      &:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  .break {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      border-bottom: #e0e0e0 1px solid;
      width: 100%;
      max-width: 167px;
      height: 1px;
      display: inline-block;
      &:first-of-type {
        margin-right: 16px;
      }
      &:last-of-type {
        margin-left: 16px;
      }
    }
  }

  .input-container {
    label {
      margin-top: 34px;
    }
    &.email {
      label {
        margin-top: 13px;
      }
    }
  }

  .forget-and-show-password {
    display: flex;
    // margin-top: 16px;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: #009a80;
    margin-bottom: 48px;
    span {
      cursor: pointer;
    }
    a {
      color: #009a80;
    }
  }

  .button {
    width: 100% !important;
  }
}

.sign-up-link {
  margin: 32px 0px;
  font-size: 14px;
  color: #646464;
  a {
    color: #009a80;
  }
}
