#user-type {
  align-items: center;
  flex-direction: column;
  display: flex;
  h1 {
    line-height: 1.33;
  }
  .card {
    margin-bottom: 24px;
    padding: 40px 32px;
    max-width: 546px;
    width: 100%;
    height: 158px;
  }
}

.agreements-and-link-to-login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.student-sign-up {
  h1 {
    margin-bottom: 4px !important;
  }
  .sub-header {
    a {
      color: #009a80;
    }
  }
  .account-container {
    margin: 40px auto 32px !important;
    .button {
      margin-top: 48px;
    }
  }
  .name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .input-container {
      width: 182px;
    }
  }
}
