// SIGN IN
//
//
#password-hint {
  max-width: 444px;
  width: 100%;
  height: 380px;
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 40px 32px;
  margin: auto;
  h3 {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: flex-start;
  }
  div {
    margin-top: 32px;
    &:first-of-type {
      margin-top: 24px;
    }
    p {
      font-size: 14px;
      line-height: 1.57;
      color: #646464;
      margin-bottom: 8px
    }
    .example {
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
      line-height: 1.0;
      color: #000000;
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: 8px;
      display: inline-block;
    }
  }
}

%login_form {
  .control-group {
    margin-bottom: 10px;
  }

  input[type=submit] {
    padding: 5px;
    height: 40px;
    background-color: $quillgreen;
    color: white;
    border-color: $quillgreen;
  }
}

.form-signin {
  input {
    //background-color: white !important;
    height: 30px;
    width: 200px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  @extend %login_form;
}

.form-signup {
  @extend %login_form;

  label {
    font-weight: normal;
  }
}


.article.new-session-page  .container .row form .form-actions {
  background-color: none !important;
}

.forget-and-show-password {
  display: flex;
  // margin-top: 16px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #009a80;
  margin-bottom: 48px;
  span {
    cursor: pointer;
  }
  a {
    color: #009a80;
  }
}

.sign-up-link {
  margin: 32px 0px;
  font-size: 14px;
  color: #646464;
  display: flex;
  justify-content: center;
  span {
    color: #009a80;
    font-weight: 600;
  }
}
