#results-page {
    text-align: center;
    .top-section {
        background-color: white;
        padding-top: 22px;
    }
    .bottom-section {
        text-align: left;
        .results-wrapper {
            max-width: 950px;
            margin: 0 auto 50px;
        }
    }
    .icon {
      width: 105px;
      height: 105px;
      border-radius: 7%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      margin-bottom: 15px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      img {
        margin: 17% auto;
        height: 49%;
        position: relative;
        text-align: center;
      }
      h3 {
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        padding-top: 8%;
      }
    }
    tr td:last-of-type {
        text-align: left;
    }
    h1 {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 6px;
    }
    h3 {
      font-size: 24px;
      color: #424242;
    }
    a .btn {
      width:320px;
      font-size: 20px;
      height: 55px;
      margin: 30 0 30 0;
      padding-bottom: 36px;
      .fa {
        font-size: 20px;
        margin-left: 5%;
      }
    }
    button:not(.select-mixin) {
      padding: 13px 25px;}
    .circle {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 28px;
        height: 28px;
        border: solid 3px #70a748;
        margin: 3 8 3 0;
        /* Safari, Chrome */
        /* Firefox */
        border-radius: 100%;
        /* CSS3 */
        position: relative;
    }
    .inner-circle {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 16px;
        height: 16px;
        background-color: #70a748;
        /* Safari, Chrome */
        /* Firefox */
        border-radius: 100%;
        /* CSS3 */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
    }
    .circle-red {
        border-color: #d9633e;
    }
    .table-meta-data {
      max-width: 950px;
      margin-bottom: 10px;
    }
    .key {
        display: inline-block;
        max-width: 950px;
        margin: 30 0 32 0px;
        width: 100%;
        .pull-left {
            font-size: 24px;
        }
        .pull-right {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .correct {
              margin-right: 30px;
            }
            & > div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                padding-top: 2px;
            }
        }
        .circle,
        div {
            display: inline-block;
        }
        .table.quill-table {
            margin-bottom: 32px;
            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
              padding-left: 15px;
            }
        }
    }
}
