#results-page {
  .top-section {
    background-color: white;
    padding: 24px 0px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    h1 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.27;
      margin: 16px;
    }
    .results-icon-container {
      width: 96px;
      padding: 8px;
      border-radius: 8px;
      border: solid 1px #c1c1c1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        margin-top: 8px;
        color: #000;
      }
    }
  }

  .bottom-section {
    padding: 32px 16px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      text-align: center;
      margin-bottom: 16px;
    }
    .results-container {
      max-width: 600px;
      width: 100%;
      border-radius: 6px;
      background-color: white;
      border: solid 1px #e0e0e0;
      .result-section {
        padding: 24px 26px 32px 24px;
        .result-section-header {
          display: flex;
          align-items: center;
          .colored-square {
            width: 24px;
            height: 24px;
            border-radius: 2px;
            margin-right: 8px;
            &.proficient {
              background-color: #4ea500;
            }
            &.nearly-proficient {
              background-color: #eb9911;
            }
            &.not-yet-proficient {
              background-color: #e73030;
            }
          }
        }
        h2 {
          text-align: left;
          margin: 8px 0px 16px;
        }
        ul {
          margin-bottom: 0px;
          padding-left: 30px;
          li {
            padding-left: 3px;
            font-size: 16px;
            line-height: normal;
            &:not(:last-of-type) {
              padding-bottom: 8px;
            }
          }
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #e0e0e0;
        }
        @media (max-width: 650px) {
          padding: 24px 16px 32px;
        }
      }
    }
    .replay-button-container {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        margin-bottom: 16px;
      }
    }
  }
}
