.subscriptions {
  max-width: $sitewidepagewidth;
  padding-top: 22px;
  margin: auto;
  border-bottom: none;

  .school-dropdown-container {
    min-height: 60px !important;
    margin-bottom: 16px;
    margin-top: 2px;
    justify-content: flex-start;
    .dropdown {
      margin-right: 0px !important;
    }
    .dropdown__control {
      background-color: transparent;
    }
  }

  .automatic-renewal-modal {
    height: min-content;
    h3 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 24px;
    }
  }

  .q-button.cta-button {
    font-size: 14px;
    height: 40px;
    padding: 10px 16px;
    margin-top: none;
    margin-top: 0;
    margin-right: 30px;
  }
  .fa-credit-card {
    padding-right: 5px;
    font-size: 13px;
  }

  .refund-policy p {
    color: #1e1e1e;
    font-size: 16px;
  }


  h2 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
    margin-bottom: 14px;
  }

  .current-subscription-information-and-cta, table,
  .subscription-status {
    box-shadow: 0 1px 2px 0 #e9e9e9;
    border-radius: 3px;
  }

  .empty-state,
  .subscription-status {
    border-radius: 3px;
  }

  .total-premium-credits {
    font-size: 16px;
    .total-header {
      font-weight: 600;
    }
  }

  .premium-credits-table {
    margin-bottom: 12px;
  }

  .has-credit {
    border: 1px solid white;
  }

  .next-plan-alert {
    min-height: 50px;
	  background-color: #fcf1e1;
	  border: solid 1px rgba(245, 186, 91, 0.41);
    font-size: 14px;
    padding: 10px;
    i, svg {
      color: #ea9a1a;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .subscription-status {
    background-color: #fff;
    padding-top: 16px;
    color: #3b3b3b;
    padding-bottom: 0px;
    .upper-section {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .left-side-container {
        display: flex;
      }
    }
    .quill-button {
      margin-right: 16px;
    }
    strong {
      padding-right: 4px;
      a {
        color: inherit;
        &:hover {
          color: inherit;
        }
      }
    }
    i, svg {
      color: #ff4542;
      padding-right: 15px;
    }
    img {
      height: 27px;
      padding-left: 15px;
    }
    .box {
      margin-right: 20px;
      width: 5px;
      height: 40px;
    }

    p {
      padding: 0 30px 30px;
      font-size: 16px;
    }

    h2 {
      align-self: center;
      margin-bottom: 0;
      margin-right: 30px;
    }

    .expiration-date {
      padding: 10px 8px;
      font-size: 18px;

      span {
        font-weight: 600;
      }
    }

    p {
      margin-top: 20px;
    }
  }

  .subscription-history {
    min-height: 174px;
    .empty-state {
      border: solid 1px #e9e9e9;
      font-size: 14px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 174px;
      padding: 41px;
      color: #666;
      p {
        margin-top: 5px;
      }
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: #666666;
      }
      a {
        color: #666;
        text-decoration: underline;
      }
    }
  }

  section {
    padding-bottom: 0;
    padding-top: 40px;
    border-bottom: none;
  }



  .current-subscription-information-and-cta {
    border: 1px solid #fff;
    .current-subscription-information {
      font-size: 16px;
      color: #3b3b3b;
      padding: 20px 30px;
      background-color: white;
      .meta-section {
        padding-top: 0px;
        &:not(:last-of-type) {
          border-bottom: 1px solid #d8d8d8;
        }
        &:not(:first-of-type) {
          padding-top: 25px;
        }
        &.payment {
          padding-bottom: 20px;
        }
        .green-link {
          font-size: 14px;
          padding-left: 10px;
        }
        .content-wrapper {
          display: inline-flex;
          align-items: center;
        }
        button {
          margin-bottom: 20px;
        }
      }
      h3 {
        font-size: 14px;
        color: #c0c0c0;
        margin-bottom: 25px;
        font-weight: 700;
        character-spacing: 0.5px;
      }


      .title {
        display: inline-block;
        margin-right: 8px;
        width: 144px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #666;
      }
    }

    .sub-button-row {
      padding-left: 30px;
      background-color: white;
      .q-button {
        margin-bottom: 30px;
      }
      i, svg {
        padding-right: 7px;
      }
    }

  }

  .green-link {
    font-size: 16px;
    color: #027360;
    cursor: pointer;
  }

  .available-credit {
    border-radius: 3px;
    background-color: $quillgolddark;
    border: solid 1px #f5ba5b;
    min-height: 77px;
    color: white;
    margin-bottom: 20px;
    padding: 23px 16px;

    &.no-credits {
      background-color: white;
      color: $quillgolddark;
      margin-top: 36px;
    }

    .button {
      background-color: $quillgolddark;
      border: solid 1px #fff;
      font-size: 16px;
      color: white;
      margin: 0;
    }

    .credit-quantity {
      color: $quillgoldextradark;
      font-size: 18px;

      span {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;

    td {
      &.date-received {
        width: 21%;
      }

      &.action {
        width: 60%;
      }

      &.amount-received {
        width: 28%;
      }
    }

    tr {
      height: 41px;
      background-color: #ffffff;

      &:first-of-type {
        border: none;

        th {
          color: #3b3b3b;
          background-color: #fafafa;
          border: 1px solid #e9e9e9;
          border-right: none;

          &:first-of-type {
            border-top-left-radius: 5px;
          }

          &:last-of-type {
            border-right: 1px solid #e9e9e9;
            border-top-right-radius: 5px;
          }
          padding-left: 14px;
          // min-width: 15%;
        }
        font-size: 14px;
        font-weight: 600;
        text-align: left;
      }

      &:not(:first-of-type) {
        size: 14px;

        td {
          padding-left: 14px;
          border-bottom: 1px solid #e9e9e9;
          &.action {
            max-width: 236px;
          }

          &:first-of-type {
            border-left: 1px solid #e9e9e9;
          }

          &:last-of-type {
            border-right: 1px solid #e9e9e9;
          }
        }

        &:last-of-type {
          td:first-of-type {
            border-bottom-left-radius: 5px;
          }

          td:last-of-type {
            border-bottom-right-radius: 5px;
          }
        }
      }
    }

    .subscription-row {
      font-size: 14px;
      font-style: italic;
      color: #666666;
    }
  }

  p {
    color: #666666;
  }
}

.subscription-tooltip {
  padding-left: 5px;
}

@media (max-width: 1050px) {
  .subscriptions {
    padding-left: 86px;
    padding-right: 86px;
    .subscription-status {
      .upper-section {
        flex-direction: column;
        align-items: flex-start;
        .expiration-date {
          padding: 10px 22px 0px 29px;
        }
        .quill-button {
          margin: 28px 28px 8px 28px;
        }
      }
    }
    .subscription-history {
      .table-container {
        .empty-state {
          padding: 28px;
          justify-content: center;
        }
      }
    }
    .green-link {
      margin-bottom: 16px;
    }
    .credit-quantity {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 850px) {
  .subscriptions {
    .subscription-status {
      .upper-section {
        img {
          display: none;
        }
      }
    }
    .subscription-history {
      min-height: 174px;
      .table-container {
        overflow-x: scroll;
        table {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .subscriptions {
    padding-left: 16px;
    padding-right: 16px;
    .subscription-status {
      .upper-section {
        align-items: flex-start;
        .expiration-date {
          padding: 10px 22px 0px 29px;
        }
      }
    }
    .premium-subscription-copy {
      padding: 0px 24px 24px 24px;
    }
  }
}
