<div>
  <h2>LLM Prompt Template</h2>

  <h3>Description</h3>
  <p><%= @llm_prompt_template.description %></p>

  <h3>Contents</h3>
  <p><%= simple_format(@llm_prompt_template.contents) %></p>
</div>

<br>