.customize-lessons-editor {
  width: 573px;
  min-height: 136px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #c0c0c0;
  margin-top: 5px;
  box-shadow: none;
  &.incomplete-prompt {
    border: solid 1px #ff7370;
  }
  &.editor-focused {
    border: #5aaef6 1px solid;
  }
  .buttons-toolbar {
    position: absolute;
    right: 0;
    top: -25;
    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    .underline {
      text-decoration: underline;
    }
    span {
      margin-left: 7px;
      margin-right: 7px;
      font-size: 14px;
      color: #969696;
    }
  }
}
