.locker-content {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 980px;
}

.subheader {
  margin-bottom: 24px;
  font-weight: bold;
}

.locker-index-container {
  .team-lockers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .locker-container {
      display: flex;
      align-items: center;
      border: 1px solid #cbc8c8;
      border-radius: 6px;
      padding: 8px 0px 8px 16px;
      width: 224px;
      margin-bottom: 16px;
      span {
        font-size: 40px;
      }
      .locker-label {
        margin: 0px 0px 0px 8px;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .locker-container:hover {
      background-color: #efefef;
    }
  }
}

.team-locker-container {
  margin-top: 16px;
  .back-nav-link:hover {
    text-decoration: none;
  }
  .button-container {
    display: flex;
    align-items: center;
    border: 1px solid #cbc8c8;
    width: 128px;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    p {
      margin: 0px 0px 0px 8px;
    }
  }
  .button-container:hover {
    background-color: #efefef;
  }
}
