.organize-locker-form-container {
  margin-top: 16px;
  .button-container {
    width: 152px;
    margin-bottom: 16px;
  }
  .organize-locker-form-contents {
    margin-top: 16px;
    .locker-label-input {
      width: 50%;
      margin-bottom: 24px;
    }
    .locker-sections-container {
      padding: 8px;
      .section-input {
        width: 50%;
        margin-bottom: 8px;
      }
      .lockers-container {
        display: flex;
      }
    }
  }
}
