.team-locker-container {
  margin-top: 16px;
  .back-nav-link:hover {
    text-decoration: none;
  }
  .button-container:hover {
    background-color: #efefef;
  }
  .locker-section-container {
    h4 {
      margin-bottom: 16px;
    }
  }
}
