.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  .left-side-container {
    .upper-section {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .tag {
        color: $quill-white;
        width: max-content;
        padding: 5px;
        border-radius: 5px;
        font-size: 9px;
        font-weight: 700;
        margin: 0px 8px 0px 0px;
        text-transform: uppercase;
      }
      .secondary-header {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
      }
    }
    .primary-header {
      color: $quill-grey-90;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 8px;
    }
    .body {
      color: $quill-grey-50;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .buttons-container {
      display: flex;
      margin-top: 24px;
      .quill-button {
        margin-right: 8px;
        &:focus {
          outline-offset: 4px;
        }
      }
    }
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &.minimal {
    align-items: center;
    .buttons-container .quill-button {
      margin-left: 8px;
      &:focus {
        outline-offset: 4px;
      }
    }
  }
  &.dark-mode {
    background-color: $quill-white-transparent-10 !important;
    border: 1px solid $quill-white-transparent-30 !important;
    .primary-header, .secondary-header {
      color: $quill-white !important;
    }
    .tag {
      border: 1px solid $quill-white-transparent-30 !important;
    }
    .body {
      color: $quill-white-transparent-60;
    }
    .buttons-container {
      .quill-button {
        &.transparent {
          color: $quill-white !important;
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  &.green {
    background-color: $quill-green-1;
    border: 1px solid $quill-green-20;
    .tag {
      background-color: $quill-green;
    }
    .secondary-header {
      color: $quill-green;
    }
  }
  &.gold {
    background-color: $quill-gold-1;
    border: 1px solid $quill-gold-dark-10;
    .tag {
      background-color: $quill-gold-dark-50;
    }
    .secondary-header {
      color: $quill-gold-dark;
    }
  }
  &.gold-secondary {
    background-color: $quill-gold-1;
    border: 1px solid $quill-gold-dark-10;
    .tag {
      background-color: $quill-white !important;
      color: $quill-gold-dark !important;
      border: 1px solid $quill-gold-dark-10;
    }
    .secondary-header {
      color: $quill-gold-dark;
    }
  }
  &.viridian {
    background-color: $quill-viridian-1;
    border: 1px solid $quill-viridian-20;

    .tag {
      background-color: $quill-viridian !important;
    }
    .secondary-header {
      color: $quill-viridian;
    }
  }
  &.teal {
    background-color: $quill-teal-1;
    border: 1px solid $quill-teal-20;

    .tag {
      background-color: $quill-teal !important;
    }
    .secondary-header {
      color: $quill-teal;
    }
  }
  &.blue {
    background-color: $quill-blue-1;
    border: 1px solid $quill-blue-20;

    .tag {
      background-color: $quill-blue !important;
    }
    .secondary-header {
      color: $quill-blue;
    }
  }
  &.purple {
    background-color: $quill-purple-1;
    border: 1px solid $quill-purple-20;

    .tag {
      background-color: $quill-purple !important;
    }
    .secondary-header {
      color: $quill-purple;
    }
  }
  &.violet {
    background-color: $quill-violet-1;
    border: 1px solid $quill-violet-20;

    .tag {
      background-color: $quill-violet !important;
    }
    .secondary-header {
      color: $quill-violet;
    }
  }
  &.red {
    background-color: $quill-red-1;
    border: 1px solid $quill-red-20;

    .tag {
      background-color: $quill-red !important;
    }
    .secondary-header {
      color: $quill-red;
    }
  }
  &.maroon {
    background-color: $quill-maroon-1;
    border: 1px solid $quill-maroon-20;

    .tag {
      background-color: $quill-maroon !important;
    }
    .secondary-header {
      color: $quill-maroon;
    }
  }
  &.grey {
    background-color: $quill-grey-1;
    border: 1px solid $quill-grey-15;

    .tag {
      background-color: $quill-grey-50 !important;
    }
    .secondary-header {
      color: $quill-grey-50;
    }
  }
  &.premium {
    background-color: $quill-gold-1;
    border: 1px solid $quill-gold-dark-10;

    .tag {
      background-color: $quill-gold-dark-50 !important;
    }

    .quill-button {
      &.contained {
        background-color: $quill-gold-dark-50;
        color: $quill-white;
        &:hover {
          background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-gold-dark-50;
        }
      }
      &.outlined {
        border: 1px solid $quill-gold-dark-10;
        background-color: $quill-white;
        color: $quill-gold-dark;
        &:hover {
          background-color: $quill-gold-dark-1 !important;
        }
      }
    }
    .secondary-header {
      color: $quill-gold-dark-50;
    }
  }
  &.district-premium {
    background-color: $quill-maroon-1;
    border: 1px solid $quill-maroon-20;

    .tag {
      background-color: $quill-maroon !important;
    }
    .quill-button {
      &.contained {
        background-color: $quill-maroon-50;
        color: $quill-white;
        &:hover {
          background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-maroon-50;
        }
      }

      &.outlined {
        border: 1px solid $quill-maroon-10;
        background-color: $quill-white;
        color: $quill-maroon;

        &:hover {
          background-color: $quill-maroon-1 !important;
        }
      }
    }

    .secondary-header {
      color: $quill-maroon;
    }
  }
  &.school-year-updates-card {
    align-items: flex-start;
    .banner-icon {
      margin-top: 24px;
    }
    .body {
      li {
        margin-bottom: 14px;
      }
      ul {
        padding-left: 20px;
        ul {
          list-style-type: disc;
          padding-left: 24px;
        }
      }
    }
  }
}

.shade-container {
  padding: 24px;
  &.green {
    background-color: $quill-green;
  }
  &.gold {
    background-color: $quill-gold;
  }
  &.viridian {
    background-color: $quill-viridian;
  }
  &.teal {
    background-color: $quill-teal;
  }
  &.blue {
    background-color: $quill-blue;
  }
  &.purple {
    background-color: $quill-purple;
  }
  &.violet {
    background-color: $quill-violet;
  }
  &.red {
    background-color: $quill-red;
  }
  &.maroon {
    background-color: $quill-maroon;
  }
  &.grey {
    background-color: $quill-grey-50;
  }
}
