.quill-button {
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  min-width: 70px;
  font-size: 12px;
  &:hover {
    background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-green;
  }
  &.contained {
    background-color: $quill-green;
    color: $quill-white;
    font-weight: 700;
    &.disabled {
      background-color: $quill-grey-5 !important;;
      color: $quill-grey-30 !important;;
      border: 1px solid $quill-grey-15 !important;;
    }
    &.gold {
      background-color: $quill-gold-dark-50;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-gold-dark-50;
      }
    }
    &.maroon {
      background-color: $quill-maroon;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-maroon;
      }
    }
    &.blue {
      background-color: $quill-blue;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-blue;
      }
    }
    &.teal {
      background-color: $quill-teal;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-teal;
      }
    }
    &.viridian {
      background-color: $quill-viridian;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-viridian;
      }
    }
    &.purple {
      background-color: $quill-purple;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-purple;
      }
    }
    &.violet {
      background-color: $quill-violet;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-violet;
      }
    }
    &.red {
      background-color: $quill-red;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-red;
      }
    }
    &.grey {
      background-color: $quill-grey-80;
      &:hover {
        background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-grey-80;
      }
    }
  }
  &.outlined {
    background-color: $quill-white;
    border: 1px solid $quill-green-20;
    color: $quill-green;
    font-weight: 500;
    &.disabled {
      color: $quill-grey-30 !important;
      border: 1px solid $quill-grey-15 !important;
    }
    &:hover {
      background-color: $quill-green-1;
    }
    &.gold {
      color: $quill-gold-dark;
      border: 1px solid $quill-gold-dark-10;
      &:hover {
        background-color: $quill-gold-dark-1;
      }
    }
    &.maroon {
      color: $quill-maroon;
      border: 1px solid $quill-maroon-10;
      &:hover {
        background-color: $quill-maroon-1;
      }
    }
    &.blue {
      color: $quill-blue;
      border: 1px solid $quill-blue-10;
      &:hover {
        background-color: $quill-blue-1;
      }
    }
    &.teal {
      color: $quill-teal;
      border: 1px solid $quill-teal-10;
      &:hover {
        background-color: $quill-teal-1;
      }
    }
    &.viridian {
      color: $quill-viridian;
      border: 1px solid $quill-viridian-10;
      &:hover {
        background-color: $quill-viridian-1;
      }
    }
    &.purple {
      color: $quill-purple;
      border: 1px solid $quill-purple-10;
      &:hover {
        background-color: $quill-purple-1;
      }
    }
    &.violet {
      color: $quill-violet;
      border: 1px solid $quill-violet-10;
      &:hover {
        background-color: $quill-violet-1;
      }
    }
    &.violet {
      color: $quill-red;
      border: 1px solid $quill-red-10;
      &:hover {
        background-color: $quill-red-1;
      }
    }
    &.grey {
      color: $quill-grey-90;
      border: 1px solid $quill-grey-15;
      &:hover {
        background-color: $quill-grey-1;
      }
    }
  }
  &.extra-small {
    height: 26px;
  }
  &.small {
    height: 32px;
  }
  &.medium {
    height: 38px;
    min-width: 73px;
  }
  &.large {
    height: 44px;
    min-width: 89px;
  }
}
