.quill-button {
  display: inline-flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  min-width: 70px;
  font-size: 12px;
  &:hover {
    background: linear-gradient(0deg, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 0%, $quill-white-transparent-10, rgba(255, 255, 255, 0.10) 100%), $quill-green;
  }
  &.contained {
    background-color: $quill-green;
    color: $quill-white;
    font-weight: 700;
    &.disabled {
      background-color: $quill-grey-5;
      color: $quill-grey-30;
      border: 1px solid $quill-grey-15;
    }
  }
  &.outlined {
    background-color: $quill-white;
    border: 1px solid $quill-green-20;
    color: $quill-green;
    font-weight: 500;
    &.disabled {
      color: $quill-grey-30 !important;
      border: 1px solid $quill-grey-15 !important;
    }
    &:hover {
      background-color: $quill-green-1;
    }
    &.grey {
      color: $quill-grey-90;
      border: 1px solid $quill-grey-15;
      &:hover {
        background-color: $quill-grey-1;
      }
    }
  }
  &.extra-small {
    height: 26px;
  }
  &.small {
    height: 32px;
  }
  &.medium {
    height: 38px;
    min-width: 73px;
  }
  &.large {
    height: 44px;
    min-width: 89px;
  }
  &.grey {

  }
}
