.quill-card, .expandable-quill-card {
  border-radius: 6px;
  box-shadow: 0 0 0 1px #e0e0e0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    color: #646464;
    line-height: 1.57;
    margin-bottom: 0px;
  }
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #06806b;
    outline: none;
  }
}

.quill-card {
  padding: 40px 32px;
  img {
    margin-right: 32px;
  }
}

.expandable-quill-card {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  .upper-content-section {
    display: flex;
    padding: 0px 32px 0px 32px;
    .expandable-card-icon {
      margin-right: 32px;
    }
    .expand-button {
      background-color: white;
      margin-left: 32px;
    }
  }
  .expanded-section {
    .row-section {
      .row-button {
        background-color: white;
      }
    }
  }
  &.open {
    .upper-content-section {
      padding-bottom: 40px;
      .expand-button {
        .expand-arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  .expanded-section {
    padding: 16px 16px 0px 16px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    .row-section {
      border-bottom: 1px solid #e0e0e0 !important;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      .row-name {
        max-width: 424px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 24px;
      }
    }
    .row-section:last-of-type {
      border-bottom: none !important;
    }
  }
}
