.cues {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -6px;
  .cue {
    background-color: #fffed5;
    line-height: 28px;
    font-size: 20px;
    margin-right: 13px;
    padding: 0 5px;
    color: #3f3f3f;
  }

  img {
    margin-right: 7px;
  }

  .cue-explanation {
    font-size: 14px;
    line-height: 28px;
    color: #636363;
  }

  img, .cue-explanation, .cue {
    margin-bottom: 6px;
  }
}
