.data-table::-webkit-scrollbar {
  background-color: white;
  width: 7px;
  height: 7px;
}

.data-table::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #7f7f7f;
  -webkit-box-shadow: inset 0 0 6px #7f7f7f;
}

.data-table-headers, .data-table-row {
  height: 48px;
  padding: 0px 16px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  min-width: min-content;

}

.data-table-row-section {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &.removable {
    margin-right: 0px;
    padding: 0px !important;
    background-color: transparent;
    img {
      cursor: pointer;
    }
  }
  &.reorder-section {
    overflow: visible;
  }
  &.tooltip-section {
    overflow: visible;
  }
}

.data-table-header, .data-table-row-section {
  margin-right: 24px;
  &.sortable {
    color: #000;
    cursor: pointer;
  }
  &.reorder-header {
    margin-right: 16px;
  }
}

table.data-table {
  overflow: scroll;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .data-table-body:not(.reorderable) {
    .data-table-row:last-of-type {
      border-bottom: none;
    }
  }

  .list-item:last-of-type {
    .data-table-row {
      border-bottom: none;
    }
  }

  .data-table-header {
    font-size: 12px;
    font-weight: 600;
    color: #5c5c5c;
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0px;
    .interactive-wrapper {
      display: flex;
    }
  }

  .data-table-headers {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    width: min-content;
  }

  .data-table-row {
    .quill-tooltip-trigger {
      margin-right: 24px;
      display: inline-block;
      .data-table-row-section {
        display: inline-block;
      }
    }
    &:hover {
      background-color: #f2f2f2;
    }
    &.checked {
      background-color: #e8f7f3;
    }
  }

  .sort-arrow {
    margin-right: 8px;
    cursor: pointer;
    margin-left: 4px;
    &.desc {
      transform: rotate(180deg);
    }
  }

  .actions-button {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 48px;
    height: 24px;
    border: solid 1px #bdbdbd;
  }

  .actions-header, .actions-section {
    margin-right: 0px !important;
  }

  .actions-menu-container {
    position: absolute;
  }

  .actions-menu {
    padding: 8px 0px;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    background-color: white;
    width: 207px;
    z-index: 40;
    display: flex;
    flex-direction: column;
    right: -73px;
    .action {
      width: 207px;
      height: 48px;
      display: flex;
      color: #000;
      font-size: 16px;
      align-items: center;
      padding: 0px 16px;
      font-weight: normal;
      cursor: pointer;
      background-color: transparent;
      border: none;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

}
