.focus-on-dark {
  &:focus {
    outline: dashed 2px $quill-white !important;
    outline-offset: 6px;
    text-decoration: inherit;
  }
}

.focus-on-light {
  &:focus {
    outline: dashed 2px $quill-green;
    outline-offset: 6px;
    text-decoration: inherit;
  }
}

.hide-focus-outline {
  .focus-on-light, .focus-on-dark {
    &:focus {
      outline: none !important;
    }
  }
}
