.input-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;

  &.dropdown-container {
    .dropdown {
      .dropdown__control {
        display: flex;
        align-items: center;
        height: 100%;
        .dropdown__single-value {
          line-height: 0;
          margin-top: 2px;
        }
        .html-dropdown-option {
          .dropdown__single-value {
            margin-top: 0px;
          }
        }
      }
      .dropdown__indicators {
        height: auto;
      }
      .dropdown__menu {
        margin-top: 4px;
        .dropdown__option:hover {
          background-color: $quill-grey-2 !important;
        }
      }
    }
    &.small {
      &.icon.bordered .dropdown__control .dropdown__indicators {
        margin-bottom: 0px;
      }
      &.bordered .dropdown__control {
        min-height: auto;
        height: 32px;
        .html-dropdown-option {
          .dropdown__single-value {
            margin-bottom: 0px;
          }
        }
        .dropdown__single-value, .dropdown__indicators {
          margin-bottom: 8px;
        }
        .dropdown__single-value {
          margin-top: 1px;
        }
      }
      .dropdown__single-value, .dropdown__option {
        @include text-2xs;
      }
    }
    &.medium {
      &.bordered .dropdown__control {
        height: 38px;
      }
      .dropdown__single-value, .dropdown__option {
        @include text-xs;
      }
      .dropdown__single-value {
        margin-top: 1px;
      }
    }
    &.large {
      &.bordered .dropdown__control {
        height: 44px;
      }
      &.underlined {
        height: 33px;
      }
      .dropdown__single-value, .dropdown__option {
        @include text-xs;
      }
      .dropdown__single-value {
        margin-top: 2px;
      }
    }
  }

  &.dropdown-container.bordered {
    input {
      font-size: 14px !important;
    }

    .dropdown {
      margin-bottom: 0px;
    }

    .helper-text {
      margin-top: 8px;
    }

    &.active {
      .dropdown__control {
        border: 1px solid $quill-green !important;
      }
    }

    &.medium {
      .dropdown__control .dropdown__value-container .dropdown__single-value {
        margin-bottom: 2px;
      }
    }

    .dropdown__control {
      border: 1px $quill-grey-15 !important;
      border-style: solid !important;
      padding: 4px 16px;
      border-radius: 4px !important;
      margin-bottom: 0px;
      min-height: 38px;
      .html-dropdown-option {
        margin-bottom: 0px;
        span {
          line-height: 0;
        }
      }
      .dropdown__indicators {
        height: 100%;
      }
    }

    .dropdown__menu {
      .html-dropdown-option {
        .dropdown__option {
          padding-left: 16px;
        }
      }
    }

    .dropdown__single-value {
      display: flex;
    }

    &.disabled {
      .dropdown__control {
        background-color: $quill-grey-5;
        border: 1px solid $quill-grey-5 !important;
        .dropdown__single-value {
          color: $quill-grey-30;
        }
      }
    }

  }

  &.icon {
    .dropdown__value-container, .dropdown__menu {
      input {
        display: none;
      }
      .html-dropdown-option {
        .dropdown__single-value, .dropdown__option {
          div {
            p {
              display: flex;
              align-items: center;
            }
            img {
              margin-right: 8px;
            }
          }
        }
      }
    }
    &.underlined {
      .dropdown__control:has(.html-dropdown-option) {
          height: 33px;
        }
      .dropdown__menu {
        .html-dropdown-option {
          .dropdown__option {
            padding-left: 16px;
          }
        }
      }
    }
  }

  &.dropdown-container.borderless {
    .dropdown__control {
      border: none !important;
    }
  }

 &.disabled {
    input, .dropdown .dropdown__single-value {
      color: $quill-grey-30;
    }
  }

  &.textfield-container {
    margin-bottom: 25px;
    label {
      margin-bottom: 4px;
    }
  }
  &.dropdown-container {
    justify-content: flex-start;
  }

  &.not-editable input {
    cursor: default;
  }

  &.dropdown-container:focus {
    outline: none;
    label {
      color: $quill-green !important;
    }
    .dropdown__control {
      border: 2px $quill-green !important;
      border-style: none none solid !important;
    }
  }

  &.bordered-dropdown {
    .dropdown .dropdown__control {
      &:not(:active) {
        padding: 9px 14px;
        border-style: solid !important;
        border-radius: 4px !important;
        border-color: $quill-grey-15;
      }
    }
  }

  .dropdown__indicators {
    justify-content: flex-end;
  }

  input, input:focus, textarea, textarea:focus {
    @include text-s;
    outline: none;
    margin-bottom: 8px;
    border: 1px $quill-green;
    border-style: none none solid none;
    border-radius: 0px;
    width: 100%;
    color: $quill-black;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  input, input:focus {
    height: 24px;
    padding-left: 0px;
  }

  input::placeholder {
    color: $quill-grey-20;
  }

  textarea, textarea:focus {
    resize: none;
    height: 75px;
  }

  .character-limit {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    line-height: 1;
    margin-top: -2px;
    color: #7f7f7f;
  }

  label {
    @include display-xs;
    color: $quill-green;
    display: flex;
    margin-bottom: 4px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .helper-text {
    @include text-2xs;
    color: $quill-grey-50;
    margin-top: -2px;
    line-height: 1;
  }

  .dropdown {
    &:focus {
      outline: none;
    }
    .dropdown__dropdown-indicator {
      background: url('https://assets.quill.org/images/icons/dropdown.svg');
      width: 0;
      height: 0;
    }
    .dropdown {
      border-bottom: none !important;
    }
    .dropdown__menu {
      z-index: 100;
      border-radius: 8px;
      border: 1px solid $quill-grey-5;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
    .dropdown__menu-list {
      padding: 8px 0px;
    }
    .dropdown__input-container {
      margin-left: 0px;
    }
    .dropdown__control {
      min-height: 0px;
      // margin-bottom: 4px;
      margin-top: 0px;
      border: none;
      outline: none !important;
      box-shadow: none !important;
      border-radius: 0px !important;
    }
    .dropdown__control--menu-is-open {
      height: 25px;
    }
    .dropdown__placeholder {
      top: 27%;
      margin-left: 0px;
      height: 20px;
    }
    .dropdown__value {
      border: solid 2px $quill-green;
      border-style: none none solid none;
      border-radius: 0px;
      padding-left: 0px;
      &:focus {
        outline: none;
      }
    }
    .dropdown__single-value {
      color: $quill-black;
      font-size: 16px;
      margin-left: 0px;
      overflow: visible;
      .css-1g6gooi {
        margin: 0px;
        padding-top: 0px;
      }
    }
    .dropdown__value-container {
      padding: 0px;
      font-size: 16px;
      color: $quill-black;
    }
    .dropdown__indicator-separator {
      display: none;
    }
    .dropdown__value-label {
      color: $quill-black;
    }
    .dropdown__multi-value-wrapper {
      &:focus {
        outline: none;
      }
    }
    .dropdown__clear-zone {
      display: none;
    }
    .dropdown__control {
      &:hover {
        box-shadow: none;
      }
    }
    .dropdown__input {
      padding: 0px;
      height: 20px;
      input, textarea {
        border: none;
        margin-bottom: 0px;
        box-sizing: border-box !important;
        padding: 0px 0px 15px !important;
        width: 100% !important;
      }
    }
    .dropdown__option {
      background-color: $quill-white;
      color: $quill-black;
      padding: 12px;
      font-size: 16px;
      &:active, &:hover, &:focus {
        background-color: $quill-white !important;
        outline: none;
      }
    }
    .checkable-dropdown-option {
      .dropdown__option {
        display: flex;
        align-items: center;
        span {
          margin-right: 16px;
        }
      }
    }
  }

  &.checkbox-dropdown {
    .dropdown__control {
      min-width: 152px;
      width: min-content;
    }
    .dropdown__dropdown-indicator {
      margin-bottom: 7px;
    }
    .dropdown__menu {
      border-radius: 0px 4px 4px 4px;
      overflow: hidden;
    }
    .dropdown__value-container {
      display: flex;
      padding-bottom: 4px;
    }

    .searchable-checkable-dropdown-menu-list {
      .input-wrapper {
        position: relative;
        margin: 12px 12px 0px;
        img {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 8px;
          left: 11px;
        }
        input {
          border: 1px solid $quill-grey-15;
          border-radius: 6px;
          height: 40px;
          padding-left: 44px;
          margin-bottom: 0px;
        }
      }
      .dropdown__menu-list {
        padding-top: 0px;
      }
    }
  }

  &.inactive {
    &:focus {
      outline: none;
    }
    &.textfield-container.has-text {
      label {
        margin-bottom: 4px;
      }
    }
    &.has-text {
      input, textarea {
        padding: 0px 0px 4px;
      }
      label {
        @include display-xs;
        color: $quill-grey-90;
        display: flex;
      }
    }
    &:not(.has-text) {
      &.dropdown-container {
        label {
          z-index: 1;
        }
        .dropdown__indicators {
          padding-top: 4px;
        }
      }
      &.has-character-limit {
        label {
          margin-top: 33px;
        }
      }
    }
    .dropdown__placeholder {
      display: none;
    }
    input, textarea {
      border: 1px $quill-grey-5;
      padding: 0px;
      border-style: none none solid none;
    }
    label {
      @include display-xs;
      color: $quill-grey-90;
      margin-bottom: 4px;
    }
    .dropdown {
      border-bottom: none;
      .dropdown__value {
        border-width: 0px;
        border-color: $quill-grey-5;
      }
      .dropdown__control {
        border: 1px $quill-grey-5;
        border-style: none none solid;
      }
      .dropdown__menu {
        display: none;
      }
    }
  }
  &.active {
    .dropdown__control {
      border: 1px $quill-green;
      border-style: none none solid;
    }
    .dropdown__dropdown-indicator {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      filter: brightness(1) sepia(1) saturate(1.5) invert(1.5) hue-rotate(300deg);
    }
    &.not-editable {
      .dropdown__menu {
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
      }
      label, .dropdown__control {
        display: none;
      }
    }
    &:focus {
      outline: none;
    }
  }
  &.error {
    input, textarea {
      border: 1px $quill-red;
      border-style: none none solid none;
      padding: 0px 0px 3px !important;
    }
    .error-text {
      @include display-2xs;
      line-height: 1.33;
      letter-spacing: normal;
      color: $quill-red;
      display: flex;
      margin-bottom: 10px;
      text-align: left;
    }
    &.active {
      label {
        color: $quill-red;
      }
    }
    &.inactive, .unacknowledged {
      label {
        color: $quill-red;
      }
    }
  }
  &.with-helper {
    .cancel {
      bottom: 24px;
    }
  }
  .cancel {
    position: absolute;
    bottom: 16px;
    right: 0px;
    cursor: pointer;
  }
}
