.input-container {
  min-height: 58px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;

  &.disabled {
    input {
      color: #7f7f7f;
    }
  }

  &.textfield-container {
    margin-bottom: 25px;
    label {
      margin-bottom: 4px;
    }
  }

  &.not-editable input {
    cursor: default;
  }

  &.dropdown-container:focus {
    outline: none;
    label {
      color: #009a80 !important;
    }
    .dropdown__control {
      border: 2px #009a80 !important;
      border-style: none none solid !important;
    }
  }

  .dropdown__indicators {
    justify-content: flex-end;
  }

  input, input:focus, textarea, textarea:focus {
    outline: none;
    margin-bottom: 8px;
    border: 2px #009a80;
    border-style: none none solid none;
    border-radius: 0px;
    width: 100%;
    font-size: 16px;
    padding: 0px 0px 3px;
    color: #000;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  input, input:focus {
    height: 25px;
  }

  textarea, textarea:focus {
    resize: none;
    height: 75px;
  }

  .character-limit {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    line-height: 1;
    margin-top: -2px;
    color: #7f7f7f;
  }

  label {
    font-size: 12px;
    font-weight: 600;
    color: #009a80;
    display: flex;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .helper-text {
    font-size: 12px;
    font-weight: 600;
    color: #7f7f7f;
    margin-top: -2px;
    line-height: 1;
  }

  .dropdown {
    margin-bottom: 8px;
    &:focus {
      outline: none;
    }
    .dropdown__dropdown-indicator {
      background: url('https://assets.quill.org/images/icons/dropdown.svg');
      width: 0;
      height: 0;
    }
    .dropdown {
      border-bottom: none !important;
    }
    .dropdown__menu {
      z-index: 100;
      border-radius: 0px 0px 4px 4px;
      margin-top: -4px;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    }
    .dropdown__menu-list {
      padding: 8px 0px;
    }
    .checkable-dropdown-value-container {
      height: 25px;
    }
    .dropdown__control {
      min-height: 0px;
      padding: 0px 0px 4px;
      margin-bottom: 4px;
      margin-top: 0px;
      border: none;
      outline: none !important;
      box-shadow: none !important;
      border-radius: 0px !important;
    }
    .dropdown__control--menu-is-open {
      height: 25px;
    }
    .dropdown__placeholder {
      top: 27%;
      margin-left: 0px;
    }
    .dropdown__value {
      border: solid 2px #009a80;
      border-style: none none solid none;
      border-radius: 0px;
      padding-left: 0px;
      &:focus {
        outline: none;
      }
    }
    .dropdown__single-value {
      color: #000;
      font-size: 16px;
      margin-left: 0px;
      overflow: visible;
      .css-1g6gooi {
        margin: 0px;
        padding-top: 0px;
      }
    }
    .dropdown__value-container {
      padding: 0px 0px 3px;
      font-size: 16px;
      line-height: 1;
      color: #000;
      height: 20px;
    }
    .dropdown__indicator-separator {
      display: none;
    }
    .dropdown__value-label {
      color: #000;
    }
    .dropdown__multi-value-wrapper {
      &:focus {
        outline: none;
      }
    }
    .dropdown__clear-zone {
      display: none;
    }
    .dropdown__control {
      &:hover {
        box-shadow: none;
      }
    }
    .dropdown__input {
      padding: 0px;
      input, textarea {
        border: none;
        margin-bottom: 0px;
        box-sizing: border-box !important;
        padding: 0px 0px 15px !important;
        width: 100% !important;
      }
    }
    .dropdown__option {
      background-color: white;
      color: black;
      padding: 12px;
      font-size: 16px;
      &:active, &:hover, &:focus {
        background-color: #f2f2f2 !important;
        outline: none;
      }
    }
    .checkable-dropdown-option {
      .dropdown__option {
        display: flex;
        align-items: center;
        span {
          margin-right: 16px;
        }
      }
    }
  }

  &.checkbox-dropdown {
    .dropdown__control {
      min-width: 126px;
      width: min-content;
    }
    .dropdown__dropdown-indicator {
      margin-bottom: 7px;
    }
    .dropdown__menu {
      border-radius: 0px 4px 4px 4px;
    }
  }

  &.inactive {
    &:focus {
      outline: none;
    }
    &.textfield-container.has-text {
      label {
        margin-bottom: 4px;
      }
    }
    &.has-text {
      input, textarea {
        padding: 0px 0px 4px;
      }
      label {
        font-size: 12px;
        font-weight: 600;
        color: #7f7f7f;
        display: flex;
        margin-bottom: 5px;
      }
    }
    &:not(.has-text) {
      input {
        height: 1px;
      }
      &.dropdown-container {
        label {
          margin-bottom: -21px;
          z-index: 1;
          margin-top: 20px;
        }
        .dropdown__value-container {
          height: 25px;
        }
        .dropdown__indicators {
          padding-top: 4px;
        }
      }
      &.has-character-limit {
        label {
          margin-top: 20px;
        }
      }
    }
    .dropdown__placeholder {
      display: none;
    }
    input, textarea {
      border: 1px #e0e0e0;
      padding: 0px;
      border-style: none none solid none;
    }
    label {
      color: #7f7f7f;
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: normal;
    }
    .dropdown {
      border-bottom: none;
      .dropdown__value {
        border-width: 0px;
        border-color: #e0e0e0;
      }
      .dropdown__control {
        padding: 0px 0px 3px;
        border: 1px #e0e0e0;
        border-style: none none solid;
        height: 25px;
      }
      .dropdown__menu {
        display: none;
      }
    }
  }
  &.active {
    .dropdown__control {
      border: 2px #009a80;
      border-style: none none solid;
    }
    .dropdown__dropdown-indicator {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      filter: brightness(1) sepia(1) saturate(1.5) invert(1.5) hue-rotate(300deg);
    }
    &.not-editable {
      min-height: 0px;
      .dropdown__menu {
        border-radius: 4px;
        margin-top: 8px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
      }
      label, .dropdown__control {
        display: none;
      }
      .input-container {
        min-height: 0px;
      }
    }
    &:focus {
      outline: none;
    }
  }
  &.error {
    input, textarea {
      border: 2px #ff0000;
      border-style: none none solid none;
      padding: 0px 0px 3px !important;
    }
    .error-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: normal;
      color: #ff0000;
      display: flex;
      margin-bottom: 10px;
      text-align: left;
    }
    &.active {
      label {
        color: #ff0000;
      }
    }
    &.inactive {
      label {
        color: #7f7f7f;
      }
    }
    &.unacknowledged {
      label {
        color: #7f7f7f;
      }
    }
  }
  .cancel {
    position: absolute;
    bottom: 16px;
    right: 0px;
    cursor: pointer;
  }
}
