  .segmented-control-container {
    display: flex;
    .segmented-control-button {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 13px 32px;
      background-color: $quill-grey-1;
      border-top: 1px solid $quill-grey-10;
      border-bottom: 1px solid $quill-grey-10;
      color: $quill-grey-90;
      font-size: 13px;

      span {
        font-weight: 500;
        white-space: nowrap;
      }

      img {
        margin-right: 4px;
        height: 16px;
        width: 16px;
      }

      &.small {
        height: 32px;
        span {
          font-size: 12px;
        }
      }

      &.medium {
        height: 38px;
      }

      &.large {
        height: 44px;
      }

      &.left {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: 1px solid $quill-grey-10;

        &.active {
          border-left: 1px solid $quill-green;
        }
        &.disabled {
          background-color: $quill-grey-15;
          border-left: 1px solid $quill-grey-10;
        }
      }

      &.right {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid $quill-grey-10;

        &.active {
          border-right: 1px solid $quill-green;
        }
        &.disabled {
          border-right: 1px solid $quill-grey-10;
        }
      }

      &.active {
        background-color: $quill-green;
        color: $quill-white;
        border-top: 1px solid $quill-green;
        border-bottom: 1px solid $quill-green;
        span {
          font-weight: 700;
        }
      }
      &.disabled {
        background-color: $quill-grey-15;
        border-top: 1px solid $quill-grey-10;
        border-bottom: 1px solid $quill-grey-10;
        span {
          color: $quill-grey-30;
        }
      }
    }
  }
