.quill-snackbar {
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  text-align: center;
  padding: 13px 16px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 24px;
  transition: bottom 0.5s, opacity 0.5s;
  &.visible {
    left: 24px;
    bottom: 24px;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.5s;
  }
}
