@import './button.scss';
@import './spinner.scss';
@import './input.scss';
@import './cards.scss';
@import './snackbar.scss';
@import './list.scss';
@import './tooltip.scss';
@import './data_table.scss';
@import './focus.scss';
@import './progress.scss';
@import './skip_to_main.scss';
@import './cues.scss';
@import './feedback.scss';
@import './conceptFeedback.scss';
@import './sliders.scss';
@import './activity_container.scss';
@import './checkboxes.scss';
@import './toggle_component_section';
@import './text_editor';
@import './react_table';
@import './screenreader_instructions';
@import './video_players.scss';
@import "~react-select-search/style.css";

#main-content {
  outline: none;
}

.interactive-wrapper {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.no-focus-outline {
  &:focus {
    outline: none;
  }
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
