@import './button.scss';
@import './input.scss';
@import './cards.scss';
@import './snackbar.scss';
@import './list.scss';
@import './tooltip.scss';
@import './data_table.scss';
@import './focus.scss';
@import './progress.scss';
@import './skip_to_main.scss';
@import './cues.scss';
@import './feedback.scss';
@import './conceptFeedback.scss';
@import './sliders.scss';

#main-content {
  outline: none;
}

.interactive-wrapper {
  background-color: transparent;
  border: none;
  padding: 0px;
}
