.quill-tooltip-trigger {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: min-content;
  .clipped-content {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.quill-tooltip:not(.visible) {
  opacity: 0;
  transition: opacity 0s;
  height: 0px;
}

.quill-tooltip-wrapper {
  width: 300px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &:has(.visible) {
    z-index: 2;
  }
  &:not(.right-justify) {
    left: 50%;
    transform: translateX(-50%);
  }
  &.right-justify {
    right: 0%;
  }
}

.quill-tooltip {
  height: min-content;
  display: inline-block;
  color: white;
  padding: 16px;
  opacity: 1;
  white-space: normal;
  transition: opacity .5s;
  max-width: 100%;
  position: absolute;
  top: 8px;
  bottom: 0px;
  background: #5C5C5C;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
