<footer class='footer-white'>
	<div class="wrapper">
		<ul class="footer-contacts">
			<li>hello@quill.org</li>
			<li>1 (646) 442-1095</li>
			<li><a href="http://support.quill.org">Support</a></li>
			<li><%= link_to "Terms","#{root_path}tos" %></li>
			<li><%= link_to "Privacy", "#{root_path}privacy" %></li>
		</ul>

		<%= image_tag "footer-line.png", class: "footer-line" %>

		<ul class="footer-social">
			<li><a href="https://twitter.com/Quill_org"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://facebook.com/quill.org"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://www.youtube.com/channel/UCG9mgvktG6vxp7XoYEJTiaw"><i class="fa fa-youtube-play"></i></a></li>
			<li><a href="http://instagram.com/quill_org/"><i class="fa fa-instagram"></i></a></li>
			<li><a href="https://github.com/empirical-org/Empirical-Core/issues"><i class="fa fa-github-alt"></i></a></li>
		</ul>

		<p class="footer-copy"><a href="http://community.quill.org/">Quill is a free literacy tool powered by an open source,<br>non-profit community of educators and developers.</a></p>

		<div class="footer-new-logo-wrapper">
			<%= link_to "", root_path %>
		</div>
	</div>

</footer>
