<div class="grammar-test" data-id="<%= grammar_test.id %>">
  <script type="text/javascript">
    grammarTests.add(<%= grammar_test.to_json.html_safe %>);
    var grammarTest = grammarTests.get(<%= grammar_test.id %>);

    <% grammar_test.chunks.each_with_index do |chunk, i| %>
      grammarTest.chunks.add(<%= chunk.as_json.merge(id: i).to_json.html_safe %>);
    <% end %>
  </script>

  <div class="text">

  </div>

  <div class="show-results">Show results</div>

  <div class="results">

  </div>
</div>
