head
  title Quill
  = stylesheet_link_tag    'application', media: 'all'                             , 'data-turbolinks-track' => true
  = javascript_include_tag 'application'                                           , 'data-turbolinks-track' => true
  = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js' , 'data-turbolinks-track' => true
  = stylesheet_link_tag 'codemirror'                                               , 'data-turbolinks-track' => true
  = javascript_include_tag 'cms'                                                   , 'data-turbolinks-track' => true

  = csrf_meta_tags
  link href="/images/favicon.gif" rel="icon" type="image/ico"
  link href="http://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet" type="text/css"

  = render 'head_embed_codes'

  erb:
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap { display: table ; height: 100% }
      </style>
    <![endif]-->

  javascript:
    window.Quill = {};
    Quill.iframe = {};

    Quill.iframe.resize = function (dimensions) {
      console.log('the new height will be ' + dimensions.height)
      this.$iframe.width(dimensions.width);
      this.$iframe.height(dimensions.height);
    }

    jQuery(function ($) {
      Quill.iframe.$iframe = $('iframe#activity-iframe');

      $(window).on('message', function (e) {
        var data = JSON.parse(e.originalEvent.data);
        Quill.iframe[data.messageType](data.payload);
      });
    });
