<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Editing Question</h1>
    </div>
    <div class="card-body">
      <%= render 'form', question: @question %>
    </div>
  </div>

  <%= link_to 'Show', @question %> |
  <%= link_to 'Back', question_set_questions_path(@question.question_set_id) %>

</div>
