<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>New Question</h1>
    </div>
    <div class="card-body">
      <%= render 'form', question: @question %>
    </div>
  </div>
  <%= link_to 'Back', question_set_questions_path %>
</div>