<style>
  .Oval-2-Copy-8 {
    width: 16px;
    height: 16px;
    box-shadow: 0 0 8px 0 var(--nasty-green);
    border-radius: 50%;
    background-color: #a8e067;
    display: inline-block;
  }
</style>

<div id="active-students" class="navbar-tooltip-trigger" tabindex="1">
  <span class="Oval-2-Copy-8"></span><span>10 Students</span>
</div>
