<%= render partial: 'teachers/shared/scorebook_tabs' %>
<%= render partial: 'teachers/classrooms/subnav' %>

<div id='champion-container'>
  <header>
    <h1>Become a Quill Champion</h1>
    <h2>Earn rewards for helping other teachers discover Quill!</h2>
    <input disabled type='text' value='<%= @referral_link %>' />
  </header>
  <div id='steps'>
    <div id='one'>
      <span class='circle-icon'>
        <span class='offset'>1</span>
      </span>
      Another teacher joins through your link.
    </div>
    <div id='two'>
      <span class='circle-icon'>
        <span class='offset'>2</span>
      </span>
      Their students complete an activity.
    </div>
    <div id='three'>
      <span class='circle-icon'>
        <span class='offset'>3</span>
      </span>
      You earn rewards for spreading literacy!
    </div>
  </div>
  <main>

  </main>
</div>
