.cms-blog-posts {
  header {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #373737;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
    color: #373737;
    margin-bottom: 16px;
  }

  section {
    margin-top: 48px;
    border-top: #CFCFCF 1px solid;
    padding: 48px 0px 0px;
    border-bottom: none;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .interactive-wrapper {
    background-color: transparent;
  }

  .data-table {
    background-color: white;
    overflow: visible;
    border: 1px solid #E0E0E0;
    margin-top: 16px;
  }

  .featured-blog-posts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }

  .featured-section {
    text-align: center !important;
  }

  .fa-star.disabled {
    color: gray;
  }

  .left-align {
    text-align: left !important;
  }

  .actions-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .data-table-headers, .data-table-row {
    padding: 0px 0px 0px 16px;
  }
}
