.cms-blog-posts {
  h1 {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .interactive-wrapper {
    background-color: transparent;
  }

  .featured-blog-posts {
    margin-bottom: 40px;
    .explanation {
      color: gray;
    }
    .list {
      display: flex;
    }
    .list-item {
      flex: 1;
      max-width: 311px;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }
    .featured-blog-post {
      border: 1px solid gray;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 128px;
      .featured-blog-post-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .title {
        -webkit-line-clamp: 4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.save-order {
  font-size: 14px;
  color: $quillgreen;
  cursor: pointer;
}
