.cms-container-meta {
  display: flex;
}
.float-right {
  float:right;
}

.cms-container-meta-left {
  max-width: 210px;

  h1 {
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

.cms-meta-middle {
  padding: 0 20px 0 0px;
  width: 50%;
}

.cms-meta-right {
  width: 50%;
}

.cms-form {
  display: flex;
  width: 100%;

  label {
    margin: 0;
    width: 150px;
  }

  input, select {
    margin: 3px auto 12px auto;
    width: 90%;
  }

  select[multiple='multiple'] {
    height: 265px;
  }

  input[readonly='readonly'] {
    background: #ccc;
  }

  .cms-checkbox-row {
    margin: -5px 0 5px;

    label {
      width: auto;
    }

    input[type='checkbox'] {
      margin: auto;
      width: auto;
    }
  }
}

.cms-results-table {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;

  td {
    padding: 5px;

    a {
      border-bottom: 2px solid #eee;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
        border-color: #ddd;
      }
    }
  }

  thead {
    border-top: 1px  solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    color: #666666;
    font-weight: 700;
  }
}

.cms-pagination-container {
  margin-top: 20px;

  .cms-pagination {
    border-radius: 3px;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 3px;
    padding: 4px;
    text-align: center;
    width: 28px;

    &.cms-pagination-current {
      background: #eee;
      border-color: #ccc;
    }
  }
}

.cms-districts-table {
  background-color: white;
  .rt-thead {
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    color: #3b3b3b;
    text-align: left;
    padding-left: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.cms-author-avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.SingleDatePicker, .SingleDatePickerInput, .DateInput {
  border-radius: 6px;
}

.DateInput_input:hover {
  cursor: pointer;
}

.cms-container#blog-post {
  form {
    max-width: 725px;

    label {
      color: #666;
      display: block;
    }

    input:not(#date-picker), textarea {
      border-radius: 5px;
      border: 1px solid #cecece;
      display: block;
      font-size: 14px;
      line-height: 1.45;
      padding: 9px 12px;
      transition: 0.1s ease-out;
      width: 100%;

      &:focus {
        border-color: #5bc1a9;
        outline: none;
      }
    }

    input:not(#date-picker) {
      margin-bottom: 20px;
    }

    .article-content-container {
      border: 1px solid #cecece;
      border-radius: 6px;
      div:last-of-type {
        padding: 0px 10px;
      }
    }

    #article-preview-bar {
      background: #cecece;
      border-radius: 5px 5px 0 0;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      .toolbar-left {
        display: flex;
      }
      .article-tab {
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
        padding: 10px;
        padding-top: 0px;
        border-radius: 6px 6px 0px 0px;
        &.active {
          background-color: white;
        }
      }
      i {
        font-size: 24px;
        padding: 6px 4px 4px;
      }
      button {
        font-size: 14px;
        padding: 2px;
      }
      i, button {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #666;
        cursor: pointer;
        display: inline-block;
        margin: 0 3px;
        text-align: center;
        transition: all 0.3s ease-out;
        width: min-content;

        &:hover {
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
          margin-top: -1px;
          color: #333;
        }
      }
    }

    textarea {
      border-radius: 0 0 5px 5px;
      border-top-width: 0;
      resize: vertical;

      &#preview-markdown-content {
        margin-bottom: 20px;
        border-radius: 5px;
        border-top-width: 1px;
      }
    }

    #preview-card-content-fields {
      background: #eeeeee;
      border-radius: 5px;
      font-size: 0.8em;
      margin-bottom: 20px;
      max-width: 500px;
      padding: 15px 20px 1px;

      input {
        font-size: 1em;
        padding: 7px 8px;
      }
    }

    input[type='submit'] {
      background: $quillgreen;
      border: none;
      color: $white;
      margin-top: 20px;
      max-width: fit-content;
    }

    .markdown-preview {
      margin-bottom: 20px;
      width: 100%;
      background: white;
      border: 1px solid #ccc;
      padding: 20px;

      p {
        font-size: 14px;
        margin-bottom: 0;
      }

      h1, h2, h3, p, ul, ol, img, blockquote {
        margin: 16px 0;
      }
    }

    .short-fields {
      display: flex;
      margin-bottom: 20px;
      input:not(#date-picker) {
        width: 214px;
      }
      .blog-dropdown {
        margin-right: 100px;
        width: 188px;
        .dropdown__control {
          border-radius: 6px;
          padding: 7px 14px;
          height: 40px;
          width: 180px;
          border: solid 1px #cecece;
          border-radius: 6px !important;
          .dropdown__dropdown-indicator {
            margin-bottom: 25px;
          }
        }
      }
    }

    .markdown-cheatsheet {
      color: $quillforestgreen;
      display: block;
      margin: 5px 0 20px;
      text-align: right;
    }
  }

  .blog-dropdown-container {
    display: flex;
    .blog-dropdown {
      margin-right: 100px;
      width: 188px;
      .dropdown__control {
        border-radius: 6px;
        padding: 7px 14px;
        height: 40px;
        width: 180px;
        border: solid 1px #cecece;
        border-radius: 6px !important;
        .dropdown__dropdown-indicator {
          margin-bottom: 25px;
        }
      }
    }
    .link {
      margin-bottom: 20px;
    }
  }
}

.premium-label, .center-images-label {
  display: inline-block !important;
}

.premium-checkbox, .center-images-checkbox {
  width: 20px !important;
  display: inline-block !important;
}
.link {
  margin-top: 5px;
  margin-left: 5px;
  color: $quillgreen;
  display: block;
}

.cms-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: 46%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 10px;
    display: flex;
    a {
      font-size: 12px;
    }
    span {
      margin-right: 10px;
    }
  }
}

.trash-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

.warning {
  color: #c51916;
  margin: 18px;
}

.fake-button-link {
  padding: 0;
  border: 0px;
  background: none;
  border-bottom: 2px solid #eee;
  color: black;
}

.districts-form {
  display: inline;
}

.districts-meta-middle {
  padding: 0px;
  width: 370px;
}

.districts-meta-right {
  width: 180px;
}
