.cms-container-meta {
  display: flex;
}
.float-right {
  float:right;
}

.cms-container-meta-left {
  max-width: 210px;

  h1 {
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

.cms-meta-middle {
  padding: 0 20px 0 0px;
  width: 50%;
}

.cms-meta-right {
  width: 50%;
}

.cms-form {
  display: flex;
  width: 100%;

  label {
    margin: 0;
    width: 150px;
  }

  input, select {
    margin: 3px auto 12px auto;
    width: 90%;
  }

  select[multiple='multiple'] {
    height: 265px;
  }

  input[readonly='readonly'] {
    background: #ccc;
  }

  .cms-checkbox-row {
    margin: -5px 0 5px;

    label {
      width: auto;
    }

    input[type='checkbox'] {
      margin: auto;
      width: auto;
    }
  }
}

.cms-results-table {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;

  td {
    padding: 5px;

    a {
      border-bottom: 2px solid #eee;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: none;
        border-color: #ddd;
      }
    }
  }

  thead {
    border-top: 1px  solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    color: #666666;
    font-weight: 700;
  }
}

.cms-pagination-container {
  margin-top: 20px;

  .cms-pagination {
    border-radius: 3px;
    border: 1px solid #eee;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 3px;
    padding: 4px;
    text-align: center;
    width: 28px;

    &.cms-pagination-current {
      background: #eee;
      border-color: #ccc;
    }
  }
}

.cms-districts-table {
  background-color: white;
  .rt-thead {
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    color: #3b3b3b;
    text-align: left;
    padding-left: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.cms-author-avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.SingleDatePicker, .SingleDatePickerInput, .DateInput {
  border-radius: 6px;
}

.DateInput_input:hover {
  cursor: pointer;
}

.link {
  margin-top: 5px;
  margin-left: 5px;
  color: $quillgreen;
  display: block;
}

.cms-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: 46%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 10px;
    display: flex;
    a {
      font-size: 12px;
    }
    span {
      margin-right: 10px;
    }
  }
}

.trash-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

.warning {
  color: #c51916;
  margin: 18px;
}

.fake-button-link {
  padding: 0;
  border: 0px;
  background: none;
  border-bottom: 2px solid #eee;
  color: black;
}

.districts-form {
  display: inline;
}

.districts-meta-middle {
  padding: 0px;
  width: 370px;
}

.districts-meta-right {
  width: 180px;
}
