.cms-subscription {
  label {
    padding-top: 20px;
    display: block;
  }
  h2 {
    margin-top: 25px;
  }
  button {
    margin-top: 25px;
  }
  .data-table {
    button {
      margin-top: 0px;
    }
  }
  p {
    margin-bottom: 15px;
  }
  .subscription-dropdown {
    .dropdown__control {
      border-radius: 6px !important;
      padding: 7px 14px !important;
      height: 40px !important;
      width: 180px !important;
      border: solid 1px #cecece !important;
      border-radius: 6px !important;
    }
  }
}
