#unit-template-editor {
  .text-input-row {
    min-width: 500px;
    margin-top: 30px;
    textarea, input {
      width: 100%;
    }

    textarea {
      height: 250px;
    }
  }
}

.activity-pack-description {
  .card {
    max-width: unset !important;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: white;
  }
}

.unit-template-activities {

  .unit-template-activities-table {
    padding-top: 30px;
  }
}
