<div class="topic-section">
  <p class="topic">Culture & Society Topics</p>
  <img class="lazyload" alt="photograph of a football" data-src="https://assets.quill.org/images/evidence/home_page/EvidenceLandingPage_Image_Football.png"/>
  <p class="activity-title">"Should Schools Have Grade Requirements for Student Athletes?"</p>
  <a href='https://www.quill.org/evidence/#/play?uid=180&skipToPrompts=true' target="_blank" class="q-button text-quillteal bg-white">View a sample activity</a>
</div>
