<section class="bg-quillteal tool-hero evidence-explanation-section">
  <section class="inner-section">
    <div class="left-side-container">
      <div class="header-and-icon-container">
        <img alt="Reading for Evidence icon" class="tool-page-icon lazyload" loading="lazy" src="https://assets.quill.org/images/icons/tool-evidence-white.svg" />
        <h1 class="q-h1">Quill Reading for Evidence</h1>
        <p class="evidence-new-tag">NEW</p>
      </div>
      <p class="description">Provide your students with nonfiction texts paired with AI-powered writing prompts, instead of multiple-choice questions, to enable deeper thinking.</p>
      <div class="divider-tab"></div>
      <p class="description">Students read a nonfiction text and build their comprehension through writing prompts, supporting a series of claims with evidence sourced from the text. Quill challenges students to write responses that are precise, logical, and based on textual evidence, with Quill coaching the student through custom, targeted feedback on each revision so that students strengthen their reading comprehension and hone their writing skills.</p>
      <a class="q-button bg-white text-quillteal" href=<%="#{ENV['DEFAULT_URL']}/tools/evidence"%>rel="noopener noreferrer" target="_blank">Learn more about Quill Reading for Evidence</a>
    </div>
    <div class="video-container">
      <video class='tool-animation lazy' data-src=<%= "#{ENV['CDN_URL']}/videos/tools/evidence_animation.mp4" %> autoplay loop/>
    </div>
  </section>
</section>
