<div class="topic-section">
  <p class="topic">Science Topics</p>
  <img class="lazyload" alt="photograph of a cow" loading="lazy" src="https://assets.quill.org/images/evidence/home_page/EvidenceLandingPage_Image_Cow.webp"/>
  <p class="activity-title">"How Does Eating Meat Impact Global Warming?"</p>
  <a href='https://www.quill.org/evidence/#/play?uid=176&skipToPrompts=true' target="_blank" class="q-button text-quillteal bg-white">View a sample activity</a>
</div>
