<div class="topic-section">
  <p class="topic">Social Studies Topics</p>
  <img class="lazyload" alt="photograph of the Statue of Liberty" data-src="https://assets.quill.org/images/evidence/home_page/EvidenceLandingPage_Image_StatueOfLiberty.webp"/>
  <p class="activity-title" id="first-title-topic">U.S. History</p>
  <p class="activity-title" id="second-title-topic">World History</p>
  <p id="under-development">Under Development, Coming 2023</p>
</div>
