<div class="topic-section">
  <p class="topic">Social Studies Topics</p>
  <img alt="photograph of the Statue of Liberty" class="lazy" loading="lazy" data-src="https://assets.quill.org/images/evidence/home_page/world_history.png" src="https://assets.quill.org/images/evidence/home_page/world_history_map.png" />
  <p class="activity-title">World History</p>
  <a class="q-button text-quill-teal bg-white" href='/social-studies' rel="noopener noreferrer" target="_blank">See all social studies activities</a>
</div>
