<%= render partial: 'teachers/shared/scorebook_tabs' %>

<div id="page-content-wrapper">

  <div class="tab-pane" id="dashboard">

    <%= render partial: 'application/spinner' %>

  </div>
</div> <!-- //#page-content-wrapper -->
