

<%= render partial: 'teachers/shared/scorebook_tabs' %>



<div id="page-content-wrapper">

	<div class="tab-pane" id="activity-planner">


		<div class="tab-subnavigation-wrapper">

			<div class="container">

				<ul>
					<li><a href="" class="active">Create a Unit</a></li>
					<li><a href="">Explore Units</a></li>
					<li><a href="">Create a New Activity</a></li>
				</ul>

			</div> <!-- //.container -->
						
		</div>
	  	
		
	<!-- ==========================================================================
		 Progress tracker
		========================================================================== -->	
		<div id="lesson_planner">
		</div>
	</div>
</div> <!-- //#page-content-wrapper -->












