

<%= render partial: 'teachers/shared/scorebook_tabs' %>



<div id="page-content-wrapper">

	<div class="tab-pane" id="activity-planner">


		
	<!-- ==========================================================================
		 Progress tracker
		========================================================================== -->	

	</div>
</div> <!-- //#page-content-wrapper -->












