

<%= render partial: 'teachers/shared/scorebook_tabs' %>
<%= render partial: 'teachers/progress_reports/subnav' %>

<div class="page-content-wrapper">
<%= react_component('ScorebookApp', props: { selectedClassroom: @classrooms.first, allClassrooms: @classrooms, premium_state: current_user.premium_state}) %>
</div>
