

<%= render partial: 'teachers/shared/scorebook_tabs' %>
<%= render partial: 'teachers/progress_reports/subnav' %>



<div id="page-content-wrapper">

  <div class="tab-pane" id="scorebook">

    <%= render partial: 'application/spinner' %>

  <!-- ==========================================================================
     Scorebook React code operates here
    ========================================================================== -->

  </div>
</div> <!-- //#page-content-wrapper -->
