

<%= render partial: 'teachers/shared/scorebook_tabs' %>



<div id="page-content-wrapper">

  <div class="tab-pane" id="scorebook">


    
  <!-- ==========================================================================
     Scorebook React code operates here
    ========================================================================== -->  

  </div>
</div> <!-- //#page-content-wrapper -->




