<div class='container'>
  <%= react_component(
        'SubscriptionApp',
        props: {
          view: 'edit',
          school: @school,
          subscriber: @school,
          subscriberType: 'School',
          subscription: @subscription,
          premiumTypes: @premium_types,
          subscriptionPaymentMethods: @subscription_payment_methods,
          purchaserEmail: @purchaser_email,
          schoolsUsers: @schools_users
        }
      )
  %>
</div>
