%header
  .top
    .controls-wrap
      %ul.controls
        %li.control.contents= link_to 'contents', '/', class: 'active'
        - %w(lecture slideshow annotate notes images citations questions discussion review next).each do |icon|
          %li.control{ class: icon }= link_to icon, '/'

    .container
