.student-profile-modal-container {
  .student-profile-modal {
    border-radius: 8px;
    height: min-content;
    transform: translate(-50%, -50%);
    bottom: inherit;
    top: 50%;
    max-width: 560px;
    width: 100%;
    .title {
      margin-bottom: 8px;
    }
    .student-profile-modal-text {
      font-size: 14px;
      line-height: 1.57;
      color: $quill-grey-40;
      margin-bottom: 32px;
    }
  }
  @media (max-width: 650px) {
    .student-profile-modal {
      padding: 32px 16px;
    }
  }
}
