.student-profile-unit {
  border-radius: 6px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin-bottom: 24px;
  &.selected-unit {
    .unit-name {
      animation: highlight 5s 1;

      @keyframes highlight {
        0%  {
          background-color: #fff3e0;
        }
        100% {
          background-color: #ffffff;
        }
      }

    }
  }
  .unit-name {
    padding: 24px;
    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
    }
  }
  .activities-container {
    padding: 32px 24px;
    border-top: 1px solid #e0e0e0;
    h3 {
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 23px;
    }
    .data-table {
      overflow: visible;
      .data-table-headers {
        position: inherit;
      }
      .data-table-header {
        cursor: text;
      }
      .data-table-row {
        height: 72px;
        &:hover {
          background-color: transparent;
        }
      }
      .data-table-headers, .data-table-row {
        padding: 0px;
      }
    }
    .action-button-section {
      margin-right: 0px;
      overflow: visible;
      display: flex !important;
      justify-content: flex-end;
    }
    .score {
      display: flex;
      align-items: center;
      div {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 2px;
        margin-right: 8px;
        &.completed {
          background-color: #358fdf;
        }
        &.proficient {
          background-color: #4ea500;
        }
        &.nearly-proficient {
          background-color: #eb9911;
        }
        &.not-yet-proficient {
          background-color: #e73030;
        }
      }
    }
    .complete-baseline {
      white-space: pre-wrap;
      text-align: right;
    }

    @media (max-width: 1200px) {
      .tool-icon-section, .completed-due-date-section {
        display: none;
      }
      .name-section {
        flex: 3;
      }
      .due-date-section {
        flex: 1;
      }
      .action-button-section {
        flex: 1;
      }
      .score-section {
        flex: 1.5;
      }
      .data-table-headers, .data-table-header, .data-table-row, .data-table-row-section {
        min-width: auto !important;
      }
      .data-table-row {
        flex-wrap: wrap;
      }
    }
    @media (max-width: 682px) {
      .name-section {
        white-space: normal;
      }
      .data-table-row {
        padding: 16px 0px !important;
        min-height: 108px;
        height: min-content !important;
      }
      .data-table-row-section.action-button-section {
        flex: 1 0 100%;
        justify-content: flex-start;
        margin-top: 12px;
      }
      .data-table-header.action-button-section {
        display: none !important;
      }
      .due-date-section {
        margin-right: 0px;
        flex: 1.5;
      }
      .score-section {
        flex: 1;
        overflow: visible;
        .score {
          position: relative;
          span {
            position: absolute;
            top: 32px;
            max-width: 80px;
            white-space: normal
          }
        }
      }
    }
  }
}
