.student-navbar-items {
  display: flex;
  height: 100%;
  .student-navbar-dropdown {
    position: relative;
    #name-container {
      font-weight: 600;
      display: flex;
      align-items: center;
      border: none;
      background-color: $quill-green-5;
      color: $quill-green;
      padding: 4px 16px;
      font-size: 14px;
      border-radius: 6px;
      .dropdown-indicator {
        border: solid $quill-green;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0px 0px 4px 8px;
        &.rotated {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          margin: 0px 0px 0px 8px;
        }
      }
      img {
        margin-right: 8px;
      }
    }
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      width: 112px;
      min-width: min-content;
      right: 0px;
      left: initial;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
      border: none;
      a {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
        padding: 10px 16px;
        &:focus, &:hover, &:active {
          background-color: #f2f2f2;
          text-decoration: none;
          outline: none;
        }
      }
    }
  }

  .student-navbar-item {
    margin-left: 24px;
    color: $quill-green;
  }


  .mobile-nav-right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    #mobile-dropdown-container {
      font-size: 16px;
      display: flex;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      color: white;
      img {
        margin-right: 4px;
      }
    }
    .mobile-student-nav-menu {
      position: absolute;
      min-height: 1000vh;
      top: 65px;
      background-color: $quill-white;
      z-index: 100;
      overflow-y: hidden;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      a {
        font-size: 16px;
        margin-bottom: 32px;
      }
    }

    @media (min-width: 650px) {
      display: none;
    }

    @media (min-width: 600px) {
      .mobile-student-nav-menu {
        padding: 32px 48px;
      }
    }
  }

  @media (min-width: 650px) {
    .home-nav-right.wide {
      display: flex !important;
    }
  }
}
