<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Editing Vocabulary Word</h1>
    </div>
    <div class="card-body">
      <%= render 'form', vocabulary_word: @vocabulary_word %>
    </div>
  </div>

  <%= link_to 'Show', @vocabulary_word %> |
  <%= link_to 'Back', activity_vocabulary_words_path(@vocabulary_word.activity_id) %>

</div>
