<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>New Vocabulary Word</h1>
    </div>
    <div class="card-body">
      <%= render 'form', vocabulary_word: @vocabulary_word %>
    </div>
  </div>
  <%= link_to 'Back', activity_vocabulary_words_path(@activity) %>
</div>
